Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

archive cluster types iroh opt-in seam
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/.openspec.yaml
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/design.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/evidence/baseline-feature-leak.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/evidence/cluster-types-validation.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/evidence/direct-consumer-audit.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/evidence/implementation-diff.txt
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/evidence/runtime-consumers.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/evidence/workspace-dependency-proof.txt
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/proposal.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/specs/architecture-modularity/spec.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/tasks.md
  openspec/changes/archive/2026-04-25-cluster-types-iroh-opt-in/verification.md
  openspec/changes/cluster-types-iroh-opt-in/evidence/openspec-preflight.txt
  openspec/changes/cluster-types-iroh-opt-in/tasks.md
  openspec/changes/cluster-types-iroh-opt-in/verification.md
  openspec/specs/architecture-modularity/spec.md
Due: markdownlint

tighten blob cache compatibility evidence scope
  openspec/changes/extract-blob-castore-cache/tasks.md
Due: markdownlint

capture blob cache extraction baseline
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-blob-handler.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-blob.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-cache.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-castore.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-ci-executor-nix.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-nix-cache-gateway.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-rpc-core-blob.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-snix-bridge.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-check-aspen-snix.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_blob-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_blob-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_blob_handler-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_blob_handler-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_cache-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_cache-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_castore-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_castore-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_ci_executor_nix-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_ci_executor_nix-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_nix_cache_gateway-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_nix_cache_gateway-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_rpc_core-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_rpc_core-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_snix-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_snix-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_snix_bridge-features.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline-logs/cargo-tree-aspen_snix_bridge-normal.txt
  openspec/changes/extract-blob-castore-cache/evidence/r1-baseline.md
  openspec/changes/extract-blob-castore-cache/evidence/r1-capture-baseline.sh
  openspec/changes/extract-blob-castore-cache/evidence/r1-openspec-preflight.txt
  openspec/changes/extract-blob-castore-cache/tasks.md
  openspec/changes/extract-blob-castore-cache/verification.md
Due: markdownlint

gate blob replication RPC coupling
  Cargo.toml
  crates/aspen-blob/Cargo.toml
  crates/aspen-blob/src/lib.rs
  crates/aspen-cluster/Cargo.toml
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  openspec/changes/extract-blob-castore-cache/evidence/i3-cargo-check-aspen-blob-default.txt
  openspec/changes/extract-blob-castore-cache/evidence/i3-cargo-check-aspen-blob-replication.txt
  openspec/changes/extract-blob-castore-cache/evidence/i3-cargo-check-aspen-rpc-core-blob.txt
  openspec/changes/extract-blob-castore-cache/evidence/i3-cargo-tree-aspen-blob-default.txt
  openspec/changes/extract-blob-castore-cache/evidence/i3-forbidden-tree-grep.txt
  openspec/changes/extract-blob-castore-cache/evidence/i3-implementation-diff.txt
  openspec/changes/extract-blob-castore-cache/evidence/i3-openspec-preflight.txt
  openspec/changes/extract-blob-castore-cache/tasks.md
  openspec/changes/extract-blob-castore-cache/verification.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

separate reusable cache and castore boundaries
  Cargo.lock
  Cargo.toml
  crates/aspen-cache/Cargo.toml
  crates/aspen-cache/src/index.rs
  crates/aspen-cache/src/lib.rs
  crates/aspen-cache/src/signing.rs
  crates/aspen-castore/Cargo.toml
  crates/aspen-castore/src/circuit_breaker.rs
  crates/aspen-castore/src/client.rs
  crates/aspen-castore/src/lib.rs
  crates/aspen-nix-handler/Cargo.toml
  crates/aspen-snix/Cargo.toml
  openspec/changes/extract-blob-castore-cache/evidence/i4-cargo-check-aspen-castore-default-afterfmt.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-cargo-check-aspen-castore-default.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-cargo-test-aspen-castore-circuit-breaker.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-cargo-tree-aspen-castore-default.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-forbidden-tree-grep.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-i5-implementation-diff.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-i5-openspec-preflight.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-i5-rustfmt-check.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-implementation-diff.txt
  openspec/changes/extract-blob-castore-cache/evidence/i4-rustfmt-note.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-cache-default-afterfmt.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-cache-default.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-cache-kv-index-afterfmt.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-cache-kv-index.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-ci-executor-nix.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-nix-cache-gateway.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-nix-handler-cache.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-check-aspen-snix.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-test-aspen-cache-reusable.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-cargo-tree-aspen-cache-default.txt
  openspec/changes/extract-blob-castore-cache/evidence/i5-forbidden-tree-grep.txt
  openspec/changes/extract-blob-castore-cache/tasks.md
  openspec/changes/extract-blob-castore-cache/verification.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

document blob cache extraction policy
  docs/crate-extraction.md
  docs/crate-extraction/blob-castore-cache.md
  docs/crate-extraction/policy.ncl
  openspec/changes/extract-blob-castore-cache/evidence/i1-i2-implementation-diff.txt
  openspec/changes/extract-blob-castore-cache/evidence/i1-i2-openspec-preflight.txt
  openspec/changes/extract-blob-castore-cache/evidence/i1-i2-policy-summary.txt
  openspec/changes/extract-blob-castore-cache/tasks.md
  openspec/changes/extract-blob-castore-cache/verification.md
  scripts/check-crate-extraction-readiness.rs
Due: rustfmt, cargo-clippy, markdownlint

prove blob cache downstream usage
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-blob-forbidden-grep.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-blob-metadata.json
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-blob-packages.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-blob-test.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-cache-castore-forbidden-grep.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-cache-castore-metadata.json
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-cache-castore-packages.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-downstream-cache-castore-test.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-implementation-diff.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-openspec-preflight.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-rustfmt-check.txt
  openspec/changes/extract-blob-castore-cache/evidence/i6-summary.txt
  openspec/changes/extract-blob-castore-cache/fixtures/downstream-blob/Cargo.lock
  openspec/changes/extract-blob-castore-cache/fixtures/downstream-blob/Cargo.toml
  openspec/changes/extract-blob-castore-cache/fixtures/downstream-blob/src/lib.rs
  openspec/changes/extract-blob-castore-cache/fixtures/downstream-cache-castore/Cargo.lock
  openspec/changes/extract-blob-castore-cache/fixtures/downstream-cache-castore/Cargo.toml
  openspec/changes/extract-blob-castore-cache/fixtures/downstream-cache-castore/src/lib.rs
  openspec/changes/extract-blob-castore-cache/tasks.md
  openspec/changes/extract-blob-castore-cache/verification.md
Due: rustfmt, cargo-clippy, markdownlint

remove stale no-std active evidence
  openspec/changes/no-std-aspen-core/evidence/ui-app-registry-no-std.stderr
  openspec/changes/no-std-aspen-core/evidence/ui-content-discovery-std-without-global-discovery.stderr
  openspec/changes/no-std-aspen-core/evidence/ui-directory-layer-std-without-layer.stderr
  openspec/changes/no-std-aspen-core/evidence/ui-fixtures.txt
  openspec/changes/no-std-aspen-core/evidence/ui-network-transport-no-std.stderr
  openspec/changes/no-std-aspen-core/evidence/ui-simulation-artifact-no-std.stderr
Due: none

record extraction workflow pitfalls
  .agent/napkin.md
Due: markdownlint

capture transport rpc split baseline
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/client-cargo-check.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/cluster-cargo-check.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/git-status.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/raft-cargo-check.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/raft-network-cargo-check.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/rpc-core-cargo-check.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/rpc-core-cargo-tree.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/rpc-core-manifest.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/rpc-core-source-imports.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/rpc-handlers-cargo-check.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/transport-cargo-check.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/transport-cargo-tree.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/transport-manifest.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline-logs/transport-source-imports.txt
  openspec/changes/split-transport-rpc-core/evidence/r1-baseline.md
  openspec/changes/split-transport-rpc-core/evidence/r1-capture-baseline.sh
  openspec/changes/split-transport-rpc-core/evidence/r1-openspec-preflight.txt
  openspec/changes/split-transport-rpc-core/tasks.md
  openspec/changes/split-transport-rpc-core/verification.md
Due: markdownlint

add jj native forge protocol foundations
  crates/aspen-forge-protocol/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-plugin-api/src/resolve.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-protocol-plugin-api-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

reject plugin protocol identifier collisions
  crates/aspen-plugin-api/src/lib.rs
  crates/aspen-plugin-api/src/resolve.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-1-6-protocol-plugin-api-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-1-6-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-6-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

advertise forge repository backends
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-protocol/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-3-forge-handler-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-3-forge-protocol-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-3-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-3-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

correct jj plugin task scope
  openspec/changes/jj-native-forge-wasm-plugin/evidence/review-remediation-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/review-remediation-task-scope.md
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: markdownlint

advertise active forge plugin routes
  Cargo.lock
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-forge-handler/Cargo.toml
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-protocol/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-6-cli-plugin-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-6-forge-plugin-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-6-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-1-1-6-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

define native jj object envelopes
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-1-aspen-forge-jj-object-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-1-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-1-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

persist native jj object reachability
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-2-aspen-forge-jj-store-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-2-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-2-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

add jj bookmark and change indexes
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-4-aspen-forge-jj-index-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-4-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-4-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

check jj publish head conflicts
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-7-aspen-forge-jj-conflict-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-7-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-7-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

validate jj publish object graphs
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-6-aspen-forge-jj-graph-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-6-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-6-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

stage jj publishes before head updates
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-5-aspen-forge-jj-staged-publish-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-5-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-5-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

keep jj plugin routing activation visible
  crates/aspen-forge-handler/src/executor.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-7-1-8-forge-handler-route-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-7-1-8-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-7-1-8-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

clean staged jj publish sessions
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-8-aspen-forge-jj-staged-cleanup-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-8-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-8-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

block jj publishes after repo transitions
  crates/aspen-forge/src/jj.rs
  crates/aspen-forge/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-9-aspen-forge-jj-repo-state-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-9-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-9-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

admit jj native requests by transport version
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/request_metadata.rs
  crates/aspen-client-api/src/messages/request_metadata_apps/forge.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-protocol/src/lib.rs
  openspec/changes/archive/2026-04-25-extend-no-std-foundation-and-wire/evidence/client-rpc-postcard-baseline.json
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-jj-native-admission-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

reject jj access without git fallback
  crates/aspen-forge-handler/src/executor.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-3-6-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-4-jj-native-admission-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-6-jj-native-no-fallback-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-6-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

document jj native forge workflow
  docs/jj-native-forge.md
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-3-docs-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-3-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: markdownlint

verify plugin session route claims
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-5-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-5-plugin-session-route-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: markdownlint

prove jj backend namespace isolation
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge/src/jj.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-1-dual-backend-namespace-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-1-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-1-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

add jj storage regression coverage
  crates/aspen-forge/src/jj.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-3-jj-regression-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-3-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-3-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint
