Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

Archive secrets KV traits boundary
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/.openspec.yaml
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/design.md
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/aspen-node-secrets-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/aspen-secrets-aspen-core-source-grep.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/aspen-secrets-handler-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/aspen-secrets-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/aspen-secrets-no-default-test.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/aspen-secrets-no-default-tree.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/aspen-secrets-trust-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/forbidden-runtime-dependency-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/proposal.md
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/tasks.md
  openspec/changes/archive/2026-05-02-complete-secrets-kv-traits-boundary/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Gate secrets handler runtime adapter
  Cargo.lock
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-secrets-handler/Cargo.toml
  crates/aspen-secrets-handler/src/executor.rs
  crates/aspen-secrets-handler/src/handler/mod.rs
  crates/aspen-secrets-handler/src/handler/nix_cache.rs
  crates/aspen-secrets-handler/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-deny

Document secrets handler runtime adapter boundary
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/.openspec.yaml
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/design.md
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-node-secrets-check.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-rpc-handlers-secrets-check.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-aspen-core-grep.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-no-default-check.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-no-default-test.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-no-default-tree.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-runtime-adapter-check.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-no-default-check.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-no-default-test.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/forbidden-runtime-dependency-check.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/markdownlint.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/openspec-helper-verify.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/evidence/openspec-validate.txt
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/proposal.md
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/tasks.md
  openspec/changes/complete-secrets-handler-runtime-adapter-boundary/verification.md
Due: markdownlint

Archive secrets handler runtime adapter boundary
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/.openspec.yaml
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/design.md
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-node-secrets-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-rpc-handlers-secrets-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-aspen-core-grep.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-no-default-test.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-no-default-tree.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-runtime-adapter-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-no-default-test.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/forbidden-runtime-dependency-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/proposal.md
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/tasks.md
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Extract secrets core type contracts
  Cargo.lock
  Cargo.toml
  crates/aspen-secrets-core/Cargo.toml
  crates/aspen-secrets-core/src/constants.rs
  crates/aspen-secrets-core/src/kv.rs
  crates/aspen-secrets-core/src/lib.rs
  crates/aspen-secrets-core/src/pki.rs
  crates/aspen-secrets-core/src/transit.rs
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/constants.rs
  crates/aspen-secrets/src/kv/types.rs
  crates/aspen-secrets/src/lib.rs
  crates/aspen-secrets/src/pki/types.rs
  crates/aspen-secrets/src/transit/types.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Document secrets core type boundary
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/complete-secrets-core-type-boundary/.openspec.yaml
  openspec/changes/complete-secrets-core-type-boundary/design.md
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-node-secrets-check.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-secrets-core-check.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-secrets-core-no-default-tree.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-secrets-core-test.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-secrets-handler-no-default-check.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-secrets-handler-runtime-adapter-check.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-secrets-no-default-check.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/aspen-secrets-no-default-test.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/forbidden-runtime-dependency-check.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/git-diff-check.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/markdownlint.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/openspec-helper-verify.txt
  openspec/changes/complete-secrets-core-type-boundary/evidence/openspec-validate.txt
  openspec/changes/complete-secrets-core-type-boundary/proposal.md
  openspec/changes/complete-secrets-core-type-boundary/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/complete-secrets-core-type-boundary/tasks.md
  openspec/changes/complete-secrets-core-type-boundary/verification.md
Due: markdownlint

Archive secrets core type boundary
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/archive/2026-05-01-extract-jobs-ci-core/evidence/jobs-ci-core-readiness.json
  openspec/changes/archive/2026-05-01-extract-jobs-ci-core/verification.md
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/.openspec.yaml
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/design.md
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-node-secrets-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-secrets-core-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-secrets-core-no-default-tree.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-secrets-core-test.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-secrets-handler-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-secrets-handler-runtime-adapter-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-secrets-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/aspen-secrets-no-default-test.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/forbidden-runtime-dependency-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/proposal.md
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/tasks.md
  openspec/changes/archive/2026-05-02-complete-secrets-core-type-boundary/verification.md
  openspec/changes/archive/2026-05-02-complete-secrets-handler-runtime-adapter-boundary/evidence/aspen-secrets-handler-no-default-test.txt
  openspec/changes/archive/2026-05-02-complete-trust-crypto-first-blocker/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-02-review-jobs-ci-public-api/evidence/jobs-ci-core-readiness.json
  openspec/specs/jobs-ci-core-extraction/spec.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Decouple secrets handler mount provider
  crates/aspen-secrets-handler/src/handler/mod.rs
  crates/aspen-secrets/src/lib.rs
  crates/aspen-secrets/src/mount_registry.rs
Due: rustfmt, cargo-clippy

Document secrets mount provider boundary
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/complete-secrets-mount-provider-boundary/.openspec.yaml
  openspec/changes/complete-secrets-mount-provider-boundary/design.md
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-node-secrets-check.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-no-default-check.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-no-default-test.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-redb-tree.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-runtime-adapter-check.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-secrets-mount-registry-test.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-secrets-no-default-check.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/aspen-secrets-trust-check.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/git-diff-check.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/handler-source-guard.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/implementation-diff.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/markdownlint.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/openspec-helper-verify.txt
  openspec/changes/complete-secrets-mount-provider-boundary/evidence/openspec-validate.txt
  openspec/changes/complete-secrets-mount-provider-boundary/proposal.md
  openspec/changes/complete-secrets-mount-provider-boundary/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/complete-secrets-mount-provider-boundary/tasks.md
  openspec/changes/complete-secrets-mount-provider-boundary/verification.md
Due: markdownlint

Archive secrets mount provider boundary
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/.openspec.yaml
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/design.md
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-node-secrets-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-no-default-test.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-redb-tree.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-secrets-handler-runtime-adapter-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-secrets-mount-registry-test.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-secrets-no-default-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/aspen-secrets-trust-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/handler-source-guard.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/implementation-diff.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/proposal.md
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/tasks.md
  openspec/changes/archive/2026-05-02-complete-secrets-mount-provider-boundary/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Review trust crypto secrets API readiness
  docs/crate-extraction.md
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/review-trust-crypto-secrets-public-api/.openspec.yaml
  openspec/changes/review-trust-crypto-secrets-public-api/design.md
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/git-diff-check.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/markdownlint.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/openspec-helper-verify.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/openspec-validate.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-crate-checks.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-dependency-graphs.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-public-api-review-scope.md
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-source-guards.txt
  openspec/changes/review-trust-crypto-secrets-public-api/proposal.md
  openspec/changes/review-trust-crypto-secrets-public-api/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/review-trust-crypto-secrets-public-api/tasks.md
  openspec/changes/review-trust-crypto-secrets-public-api/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Archive trust crypto secrets API review
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/.openspec.yaml
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/design.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-crate-checks.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-dependency-graphs.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-public-api-review-scope.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/evidence/trust-crypto-secrets-source-guards.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/proposal.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/tasks.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-public-api/verification.md
  openspec/changes/review-trust-crypto-secrets-public-api/tasks.md
  openspec/changes/review-trust-crypto-secrets-public-api/verification.md
Due: markdownlint

Map trust crypto secrets checker candidates
  docs/crate-extraction.md
  docs/crate-extraction/policy.ncl
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/.openspec.yaml
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/design.md
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/git-diff-check.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/markdownlint.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/openspec-helper-verify.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/openspec-validate.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-checker-mapping.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-crate-checks.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-dependency-graphs.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/proposal.md
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/tasks.md
  openspec/changes/complete-trust-crypto-secrets-checker-coverage/verification.md
  scripts/check-crate-extraction-readiness.rs
Due: rustfmt, cargo-clippy, markdownlint

Archive trust crypto secrets checker coverage
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/.openspec.yaml
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/design.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-checker-mapping.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-crate-checks.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-dependency-graphs.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/proposal.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/tasks.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Gate Aspen trust async service APIs
  crates/aspen-raft/Cargo.toml
  crates/aspen-trust/Cargo.toml
  crates/aspen-trust/src/lib.rs
  docs/crate-extraction/policy.ncl
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/complete-aspen-trust-async-default-policy/.openspec.yaml
  openspec/changes/complete-aspen-trust-async-default-policy/design.md
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-raft-trust-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-raft-types-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-secrets-trust-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-transport-trust-handler-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-async-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-async-positive-guard.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-async-test.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-default-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-default-forbidden-guard.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-dependency-graphs.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-no-default-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/aspen-trust-no-default-test.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/git-diff-check.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/markdownlint.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/openspec-helper-verify.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/openspec-validate.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/complete-aspen-trust-async-default-policy/proposal.md
  openspec/changes/complete-aspen-trust-async-default-policy/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/complete-aspen-trust-async-default-policy/tasks.md
  openspec/changes/complete-aspen-trust-async-default-policy/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
  scripts/check-crate-extraction-readiness.rs
Due: rustfmt, cargo-clippy, markdownlint

Archive Aspen trust async default policy
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/.openspec.yaml
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/design.md
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-raft-trust-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-raft-types-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-secrets-trust-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-transport-trust-handler-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-async-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-async-positive-guard.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-async-test.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-default-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-default-forbidden-guard.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-dependency-graphs.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-no-default-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-no-default-test.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/proposal.md
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/tasks.md
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/verification.md
  openspec/changes/complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Add trust secrets serialization contract evidence
  crates/aspen-secrets-core/tests/serialization_contract.rs
  crates/aspen-trust/tests/serialization_contract.rs
  docs/crate-extraction.md
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/.openspec.yaml
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/design.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/aspen-secrets-core-serialization-tests.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/aspen-trust-serialization-tests.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/git-diff-check.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/markdownlint.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/openspec-helper-verify.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/openspec-validate.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-serialization-contracts.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/proposal.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/tasks.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Archive trust secrets serialization contracts
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/.openspec.yaml
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/design.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/aspen-secrets-core-serialization-tests.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/aspen-trust-serialization-tests.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-serialization-contracts.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/proposal.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/tasks.md
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/verification.md
  openspec/changes/complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness-command.txt
Due: markdownlint

Promote trust crypto secrets reusable candidates
  docs/crate-extraction.md
  docs/crate-extraction/policy.ncl
  docs/crate-extraction/trust-crypto-secrets.md
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/.openspec.yaml
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/design.md
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/git-diff-check.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/markdownlint.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/openspec-helper-verify.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/openspec-validate.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-crate-checks.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-dependency-graphs.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness-decision.md
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-serialization-tests.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-source-guards.txt
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/proposal.md
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/tasks.md
  openspec/changes/review-trust-crypto-secrets-readiness-promotion/verification.md
  openspec/specs/trust-crypto-secrets-extraction/spec.md
Due: markdownlint

Archive trust crypto secrets readiness promotion
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-async-test.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/aspen-trust-no-default-test.txt
  openspec/changes/archive/2026-05-03-complete-aspen-trust-async-default-policy/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-checker-coverage/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/aspen-secrets-core-serialization-tests.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/aspen-trust-serialization-tests.txt
  openspec/changes/archive/2026-05-03-complete-trust-crypto-secrets-serialization-contracts/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/.openspec.yaml
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/design.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/markdownlint.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-crate-checks.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-dependency-graphs.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-downstream-metadata.stderr
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness-command.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness-decision.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness.json
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-readiness.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-serialization-tests.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/evidence/trust-crypto-secrets-source-guards.txt
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/proposal.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/specs/trust-crypto-secrets-extraction/spec.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/tasks.md
  openspec/changes/archive/2026-05-03-review-trust-crypto-secrets-readiness-promotion/verification.md
Due: markdownlint

Normalize Aspen crate licenses to AGPL
  crates/aspen-core/tests/fixtures/shell-alias-smoke/Cargo.toml
  crates/aspen-core/tests/ui/app-registry-no-std/Cargo.toml
  crates/aspen-core/tests/ui/constants-no-std/Cargo.toml
  crates/aspen-core/tests/ui/content-discovery-std-without-global-discovery/Cargo.toml
  crates/aspen-core/tests/ui/directory-layer-std-without-layer/Cargo.toml
  crates/aspen-core/tests/ui/kv-types-no-std/Cargo.toml
  crates/aspen-core/tests/ui/network-transport-no-std/Cargo.toml
  crates/aspen-core/tests/ui/simulation-artifact-no-std/Cargo.toml
  crates/aspen-core/tests/ui/storage-table-no-std/Cargo.toml
  crates/aspen-crypto/Cargo.toml
  crates/aspen-durable-workflow-test/Cargo.toml
  crates/aspen-hooks-ticket/Cargo.toml
  crates/aspen-hooks-types/Cargo.toml
  crates/aspen-hooks/Cargo.toml
  crates/aspen-job-primitives-test/Cargo.toml
  crates/aspen-jobs-guest/Cargo.toml
  crates/aspen-jobs/Cargo.toml
  crates/aspen-snix/fuzz/Cargo.toml
  crates/aspen-trust/Cargo.toml
Due: none

Normalize Aspen repository metadata
  crates/aspen-hooks-ticket/Cargo.toml
  crates/aspen-hooks-types/Cargo.toml
  crates/aspen-hooks/Cargo.toml
  crates/aspen-jobs/Cargo.toml
  crates/aspen-raft-network/Cargo.toml
  crates/aspen-raft-types/Cargo.toml
  crates/aspen-tui/Cargo.toml
Due: none

Prepare promoted reusable crates for publication
  crates/aspen-crypto/Cargo.toml
  crates/aspen-crypto/README.md
  crates/aspen-secrets-core/Cargo.toml
  crates/aspen-secrets-core/README.md
  crates/aspen-trust/Cargo.toml
  crates/aspen-trust/README.md
Due: markdownlint

Harden promoted crypto trust crates
  crates/aspen-crypto/Cargo.toml
  crates/aspen-crypto/src/identity.rs
  crates/aspen-trust/src/chain.rs
  crates/aspen-trust/src/encryption.rs
  crates/aspen-trust/src/envelope.rs
  crates/aspen-trust/src/gf256.rs
  crates/aspen-trust/src/lib.rs
  crates/aspen-trust/src/nonce.rs
  crates/aspen-trust/src/reconfig.rs
  crates/aspen-trust/src/reencrypt.rs
  crates/aspen-trust/src/verified/mod.rs
Due: rustfmt, cargo-clippy

Redact secrets-core debug output
  crates/aspen-secrets-core/src/kv.rs
  crates/aspen-secrets-core/src/transit.rs
Due: rustfmt, cargo-clippy

Length-prefix trust HKDF info
  crates/aspen-trust/src/kdf.rs
Due: rustfmt, cargo-clippy

Reject malformed trust envelopes
  crates/aspen-trust/src/encryption.rs
Due: rustfmt, cargo-clippy

Clarify trust randomness boundaries
  crates/aspen-trust/README.md
  docs/crate-extraction/trust-crypto-secrets.md
Due: markdownlint

Add dogfood evidence receipts
  crates/aspen-cluster/Cargo.toml
  crates/aspen-dogfood/src/error.rs
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/receipt.rs
  openspec/changes/dogfood-evidence-receipts/.openspec.yaml
  openspec/changes/dogfood-evidence-receipts/design.md
  openspec/changes/dogfood-evidence-receipts/evidence/aspen-dogfood-nextest.txt
  openspec/changes/dogfood-evidence-receipts/evidence/git-diff-check.txt
  openspec/changes/dogfood-evidence-receipts/evidence/openspec-helper-verify.txt
  openspec/changes/dogfood-evidence-receipts/evidence/openspec-validate.txt
  openspec/changes/dogfood-evidence-receipts/proposal.md
  openspec/changes/dogfood-evidence-receipts/specs/dogfood-evidence/spec.md
  openspec/changes/dogfood-evidence-receipts/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Make local dogfood CI reproducible
  crates/aspen-cli/src/bin/aspen-cli/commands/secrets/formatting.rs
  crates/aspen-dogfood/src/ci.rs
  crates/aspen-dogfood/src/cluster.rs
  crates/aspen-dogfood/src/deploy.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/node.rs
  crates/aspen-durable-workflow-test/src/main.rs
  crates/aspen-forge-protocol/src/lib.rs
  crates/aspen-hooks-ticket/src/lib.rs
  crates/aspen-layer/src/index/registry.rs
  crates/aspen-layer/src/index/scan.rs
  crates/aspen-layer/src/index/updates.rs
  crates/aspen-layer/src/tuple/tuple_type.rs
  crates/aspen-sharding/src/metrics.rs
  crates/aspen-sharding/src/topology/shard.rs
  crates/aspen-sharding/src/topology/topology_map.rs
  crates/aspen-testing-fixtures/src/coordination_helper.rs
  crates/aspen-time/src/lib.rs
  flake.nix
  src/bin/git-remote-aspen/main.rs
  tla/.gitignore
Due: rustfmt, cargo-clippy

openspec: complete dogfood evidence receipts
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/.openspec.yaml
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/design.md
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/aspen-dogfood-nextest.txt
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/dogfood-full-success-receipt.json
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/dogfood-full-success-summary.txt
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/git-diff-check.txt
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/openspec-helper-verify-final.txt
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/openspec-helper-verify.txt
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/openspec-validate-final.txt
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/evidence/openspec-validate.txt
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/proposal.md
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-03-dogfood-evidence-receipts/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: markdownlint

Add dogfood receipt inspection
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/receipt.rs
  openspec/changes/archive/2026-05-03-dogfood-receipt-inspection/.openspec.yaml
  openspec/changes/archive/2026-05-03-dogfood-receipt-inspection/design.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-inspection/proposal.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-inspection/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-inspection/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

docs: document dogfood receipt acceptance
  README.md
  docs/deploy.md
Due: markdownlint

docs: add dogfood failure receipt runbook
  docs/deploy.md
Due: markdownlint

Add dogfood receipt diagnosis
  crates/aspen-dogfood/src/main.rs
  docs/deploy.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-diagnose/.openspec.yaml
  openspec/changes/archive/2026-05-03-dogfood-receipt-diagnose/design.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-diagnose/proposal.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-diagnose/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-diagnose/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Fix dogfood receipt list status
  crates/aspen-dogfood/src/main.rs
  docs/deploy.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-status/.openspec.yaml
  openspec/changes/archive/2026-05-03-dogfood-receipt-status/design.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-status/proposal.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-status/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-status/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

openspec: preserve dogfood receipt list scenario
  openspec/specs/dogfood-evidence/spec.md
Due: markdownlint

Publish dogfood receipts into Aspen KV
  crates/aspen-dogfood/src/main.rs
  docs/deploy.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-cluster-publish/.openspec.yaml
  openspec/changes/archive/2026-05-03-dogfood-receipt-cluster-publish/design.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-cluster-publish/proposal.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-cluster-publish/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-03-dogfood-receipt-cluster-publish/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Align dogfood cluster receipt run ids
  crates/aspen-dogfood/src/main.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
