Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

update napkin: 3-node dogfood queue disposition and snapshot size lessons
  .agent/napkin.md
Due: markdownlint

fix: deploy permission denied and execve restart for dogfood-local
  crates/aspen-cluster/src/upgrade/executor.rs
  crates/aspen-cluster/src/upgrade/restart.rs
  crates/aspen-cluster/src/upgrade/rollback.rs
  crates/aspen-raft/src/iroh_write_forwarder.rs
  scripts/dogfood-local.sh
Due: rustfmt, cargo-clippy

fix: raise MAX_SNAPSHOT_SIZE to 1GB for 3-node dogfood
  crates/aspen-constants/src/lib.rs
  crates/aspen-constants/src/network.rs
  crates/aspen-raft-types/src/constants.rs
Due: rustfmt, cargo-clippy

fix: follower workers unable to execute jobs from leader
  crates/aspen-jobs/src/dependency_tracker.rs
  crates/aspen-jobs/src/manager/storage.rs
  crates/aspen-jobs/src/worker.rs
Due: rustfmt, cargo-clippy

update napkin: 3-node dogfood CI pipeline success + deploy
  .agent/napkin.md
Due: markdownlint

fix: chunked KV storage for large git objects + federation sync improvements
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge/src/git/bridge/constants.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/resolver.rs
  scripts/dogfood-federation.sh
Due: rustfmt, cargo-clippy

update napkin: federation dogfood results and blockers
  .agent/napkin.md
Due: markdownlint

fix: two-pass federation import + incremental batch sync + graceful fallback
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  scripts/dogfood-federation.sh
Due: rustfmt, cargo-clippy

fix: split federation list-refs from object sync
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
Due: rustfmt, cargo-clippy

fix: persist content→envelope hash index for cross-request DAG dedup
  crates/aspen-forge/src/resolver.rs
Due: rustfmt, cargo-clippy

fix: write c2e index during git push import for federation DAG dedup
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/resolver.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy

fix: batch c2e index writes during wave import instead of per-object
  crates/aspen-forge/src/git/bridge/importer.rs
Due: rustfmt, cargo-clippy

update napkin: federation c2e hash mismatch finding
  .agent/napkin.md
Due: markdownlint

fix c2e index hash mismatch that broke federation incremental sync
  .agent/napkin.md
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge/src/git/bridge/converter/export.rs
  crates/aspen-forge/src/git/bridge/converter/import.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/git/bridge/tests.rs
  crates/aspen-forge/src/git/object.rs
  crates/aspen-forge/src/resolver.rs
  openspec/changes/archive/2026-03-29-fix-c2e-index-hash-mismatch/.openspec.yaml
  openspec/changes/archive/2026-03-29-fix-c2e-index-hash-mismatch/design.md
  openspec/changes/archive/2026-03-29-fix-c2e-index-hash-mismatch/proposal.md
  openspec/changes/archive/2026-03-29-fix-c2e-index-hash-mismatch/specs/c2e-sha1-index/spec.md
  openspec/changes/archive/2026-03-29-fix-c2e-index-hash-mismatch/specs/git-object-roundtrip/spec.md
  openspec/changes/archive/2026-03-29-fix-c2e-index-hash-mismatch/tasks.md
  openspec/specs/c2e-sha1-index/spec.md
  openspec/specs/git-object-roundtrip/spec.md
Due: rustfmt, cargo-clippy, markdownlint

fix: federated git clone for large repos — three root causes
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/tests.rs
  crates/aspen-forge/src/resolver.rs
  openspec/changes/fix-federated-git-clone/.openspec.yaml
  openspec/changes/fix-federated-git-clone/design.md
  openspec/changes/fix-federated-git-clone/proposal.md
  openspec/changes/fix-federated-git-clone/specs/federation-dag-closure/spec.md
  openspec/changes/fix-federated-git-clone/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

improve federation sync debugging and testing
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-forge/src/resolver.rs
Due: rustfmt, cargo-clippy

fix: federation sync dedup via envelope BLAKE3 in SyncObject
  crates/aspen-federation/src/resolver.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/types.rs
  crates/aspen-federation/tests/federation_auth_cluster_test.rs
  crates/aspen-federation/tests/federation_wire_test.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge/src/resolver.rs
Due: rustfmt, cargo-clippy

fix: reconnect to origin on QUIC connection drop during federation sync
  .agent/napkin.md
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: federation sync message too large — increase limit to 64MB, reduce batch to 2000
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge/src/resolver.rs
Due: rustfmt, cargo-clippy

update napkin: federation sync progress — dedup fixed, message size fixed, mirror lookup remaining
  .agent/napkin.md
Due: markdownlint

fix: store original SHA-1 during federation import for git client lookups
  crates/aspen-federation/src/resolver.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/types.rs
  crates/aspen-federation/tests/federation_auth_cluster_test.rs
  crates/aspen-federation/tests/federation_wire_test.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/resolver.rs
Due: rustfmt, cargo-clippy

debug: add logging for origin SHA-1 lookup during federation export
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
Due: rustfmt, cargo-clippy

debug: promote origin SHA-1 logs to info level
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
Due: rustfmt, cargo-clippy

debug: add Phase 4 counters for origin SHA-1 matching diagnostics
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
Due: rustfmt, cargo-clippy

fix: look up skipped objects' BLAKE3 from mirror mapping store in Phase 4
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
Due: rustfmt, cargo-clippy

update napkin: federation clone blocked by incomplete import, not SHA-1 mismatch
  .agent/napkin.md
Due: markdownlint

convergent retry for federation import to handle cross-batch dependencies
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/git/bridge/tests.rs
  openspec/changes/archive/2026-03-30-federation-import-convergent-retry/.openspec.yaml
  openspec/changes/archive/2026-03-30-federation-import-convergent-retry/design.md
  openspec/changes/archive/2026-03-30-federation-import-convergent-retry/proposal.md
  openspec/changes/archive/2026-03-30-federation-import-convergent-retry/specs/convergent-import/spec.md
  openspec/changes/archive/2026-03-30-federation-import-convergent-retry/specs/federation-git-import/spec.md
  openspec/changes/archive/2026-03-30-federation-import-convergent-retry/tasks.md
  openspec/specs/convergent-import/spec.md
  openspec/specs/federation-git-import/spec.md
Due: rustfmt, cargo-clippy, markdownlint

fix: increase git fetch response limit to 256MB for large repo clones
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy

update napkin: stream-too-long fixed, DAG walk truncation remaining
  .agent/napkin.md
Due: markdownlint

openspec: fix-federated-clone-dag-walk — BLAKE3 remap index for mirror DAG export
  openspec/changes/fix-federated-clone-dag-walk/.openspec.yaml
  openspec/changes/fix-federated-clone-dag-walk/design.md
  openspec/changes/fix-federated-clone-dag-walk/proposal.md
  openspec/changes/fix-federated-clone-dag-walk/specs/convergent-import/spec.md
  openspec/changes/fix-federated-clone-dag-walk/specs/federation-blake3-remap/spec.md
  openspec/changes/fix-federated-clone-dag-walk/specs/federation-git-import/spec.md
  openspec/changes/fix-federated-clone-dag-walk/tasks.md
Due: markdownlint

fix: federation git sync timeout causes incomplete clone
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-forge/src/resolver.rs
Due: rustfmt, cargo-clippy

BLAKE3 remap index for federated mirror DAG export
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/git/bridge/constants.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/mapping.rs
  crates/aspen-forge/src/git/bridge/tests.rs
  openspec/changes/fix-federated-clone-dag-walk/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

feat: chunked git bridge fetch protocol for large repos
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/forge.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-client-api/tests/golden/request_discriminants.txt
  crates/aspen-client-api/tests/golden/response_discriminants.txt
  crates/aspen-client-api/tests/wire_format_golden.rs
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge-handler/src/handler/handlers/git_bridge.rs
  crates/aspen-forge-handler/src/handler/mod.rs
  crates/aspen-forge-protocol/src/lib.rs
  crates/aspen-forge/src/constants.rs
  crates/aspen-forge/src/git/bridge/converter/import.rs
  crates/aspen-rpc-handlers/src/client.rs
  openspec/changes/chunked-git-bridge-fetch/.openspec.yaml
  openspec/changes/chunked-git-bridge-fetch/design.md
  openspec/changes/chunked-git-bridge-fetch/proposal.md
  openspec/changes/chunked-git-bridge-fetch/specs/chunked-git-fetch/spec.md
  openspec/changes/chunked-git-bridge-fetch/specs/federated-git-clone/spec.md
  openspec/changes/chunked-git-bridge-fetch/tasks.md
  openspec/changes/fix-federation-git-clone-dag-truncation/.openspec.yaml
  openspec/changes/fix-federation-git-clone-dag-truncation/design.md
  openspec/changes/fix-federation-git-clone-dag-truncation/proposal.md
  openspec/changes/fix-federation-git-clone-dag-truncation/specs/federated-git-clone/spec.md
  openspec/changes/fix-federation-git-clone-dag-truncation/specs/federation-dag-integrity/spec.md
  openspec/changes/fix-federation-git-clone-dag-truncation/specs/federation-git-import/spec.md
  openspec/changes/fix-federation-git-clone-dag-truncation/tasks.md
  src/bin/git-remote-aspen/main.rs
  tests/forge_git_wire_test.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: pass chunked redirect through federation fetch
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
Due: rustfmt, cargo-clippy

chore: mark dogfood-federation test complete
  openspec/changes/chunked-git-bridge-fetch/tasks.md
Due: markdownlint

spec: fix-federation-import-stuck-objects
  openspec/changes/fix-federation-import-stuck-objects/.openspec.yaml
  openspec/changes/fix-federation-import-stuck-objects/design.md
  openspec/changes/fix-federation-import-stuck-objects/proposal.md
  openspec/changes/fix-federation-import-stuck-objects/specs/federated-git-clone/spec.md
  openspec/changes/fix-federation-import-stuck-objects/specs/federation-import-convergence/spec.md
  openspec/changes/fix-federation-import-stuck-objects/tasks.md
Due: markdownlint

fix federation import stuck objects
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/git/bridge/tests.rs
  openspec/changes/archive/2026-03-30-fix-federation-import-stuck-objects/.openspec.yaml
  openspec/changes/archive/2026-03-30-fix-federation-import-stuck-objects/design.md
  openspec/changes/archive/2026-03-30-fix-federation-import-stuck-objects/proposal.md
  openspec/changes/archive/2026-03-30-fix-federation-import-stuck-objects/specs/federated-git-clone/spec.md
  openspec/changes/archive/2026-03-30-fix-federation-import-stuck-objects/specs/federation-import-convergence/spec.md
  openspec/changes/archive/2026-03-30-fix-federation-import-stuck-objects/tasks.md
  openspec/changes/fix-federation-import-stuck-objects/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

integration tests + cleanup for federation clone DAG fix
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/orchestrator.rs
  crates/aspen-federation/tests/federation_auth_cluster_test.rs
  crates/aspen-federation/tests/federation_wire_test.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  openspec/changes/fix-federation-git-clone-dag-truncation/tasks.md
  tests/forge_git_bridge_integration_test.rs
Due: rustfmt, cargo-clippy, markdownlint

archive 5 completed federation changes
  openspec/changes/archive/2026-03-30-chunked-git-bridge-fetch/.openspec.yaml
  openspec/changes/archive/2026-03-30-chunked-git-bridge-fetch/design.md
  openspec/changes/archive/2026-03-30-chunked-git-bridge-fetch/proposal.md
  openspec/changes/archive/2026-03-30-chunked-git-bridge-fetch/specs/chunked-git-fetch/spec.md
  openspec/changes/archive/2026-03-30-chunked-git-bridge-fetch/specs/federated-git-clone/spec.md
  openspec/changes/archive/2026-03-30-chunked-git-bridge-fetch/tasks.md
  openspec/changes/archive/2026-03-30-federation-triggered-ci/.openspec.yaml
  openspec/changes/archive/2026-03-30-federation-triggered-ci/design.md
  openspec/changes/archive/2026-03-30-federation-triggered-ci/proposal.md
  openspec/changes/archive/2026-03-30-federation-triggered-ci/specs/federation-ci-trigger/spec.md
  openspec/changes/archive/2026-03-30-federation-triggered-ci/specs/forge-ci-trigger/spec.md
  openspec/changes/archive/2026-03-30-federation-triggered-ci/tasks.md
  openspec/changes/archive/2026-03-30-fix-federated-clone-dag-walk/.openspec.yaml
  openspec/changes/archive/2026-03-30-fix-federated-clone-dag-walk/design.md
  openspec/changes/archive/2026-03-30-fix-federated-clone-dag-walk/proposal.md
  openspec/changes/archive/2026-03-30-fix-federated-clone-dag-walk/specs/convergent-import/spec.md
  openspec/changes/archive/2026-03-30-fix-federated-clone-dag-walk/specs/federation-blake3-remap/spec.md
  openspec/changes/archive/2026-03-30-fix-federated-clone-dag-walk/specs/federation-git-import/spec.md
  openspec/changes/archive/2026-03-30-fix-federated-clone-dag-walk/tasks.md
  openspec/changes/archive/2026-03-30-fix-federated-git-clone/.openspec.yaml
  openspec/changes/archive/2026-03-30-fix-federated-git-clone/design.md
  openspec/changes/archive/2026-03-30-fix-federated-git-clone/proposal.md
  openspec/changes/archive/2026-03-30-fix-federated-git-clone/specs/federation-dag-closure/spec.md
  openspec/changes/archive/2026-03-30-fix-federated-git-clone/tasks.md
  openspec/changes/archive/2026-03-30-fix-federation-git-clone-dag-truncation/.openspec.yaml
  openspec/changes/archive/2026-03-30-fix-federation-git-clone-dag-truncation/design.md
  openspec/changes/archive/2026-03-30-fix-federation-git-clone-dag-truncation/proposal.md
  openspec/changes/archive/2026-03-30-fix-federation-git-clone-dag-truncation/specs/federated-git-clone/spec.md
  openspec/changes/archive/2026-03-30-fix-federation-git-clone-dag-truncation/specs/federation-dag-integrity/spec.md
  openspec/changes/archive/2026-03-30-fix-federation-git-clone-dag-truncation/specs/federation-git-import/spec.md
  openspec/changes/archive/2026-03-30-fix-federation-git-clone-dag-truncation/tasks.md
Due: markdownlint

migrate handle_federation_sync to SyncSession
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
Due: rustfmt, cargo-clippy
