Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

fix: increase WASM plugin guest output buffer from 16KB to 256KB
  .agent/napkin.md
  crates/aspen-constants/src/wasm.rs
Due: rustfmt, cargo-clippy, markdownlint

ci-dogfood-self-build: initial passing test
  .agent/napkin.md
  flake.nix
  nix/tests/ci-dogfood-self-build.nix
Due: markdownlint

ci-dogfood-self-build: use real aspen-constants source
  flake.nix
  nix/tests/ci-dogfood-self-build.nix
Due: none

ci-dogfood-self-build: verify blob upload and nix cache registration
  nix/tests/ci-dogfood-self-build.nix
Due: none

ci-dogfood-self-build: add snix feature and verify SNIX upload path
  flake.nix
  nix/modules/aspen-node.nix
  nix/tests/ci-dogfood-self-build.nix
Due: none

snix: fix store path parsing that was misattributed as upstream bug
  crates/aspen-ci-executor-nix/src/snix.rs
  crates/aspen-ci-executor-shell/src/local_executor/snix.rs
  nix/tests/ci-dogfood-self-build.nix
Due: rustfmt, cargo-clippy

ci-dogfood-workspace: multi-crate build with real deps
  flake.nix
  nix/tests/ci-dogfood-workspace.nix
  nix/tests/fixtures/workspace-build-cargo.lock
Due: none

ci-dogfood-workspace: scale to 6 crates, 104 packages, 326 tests
  .agent/napkin.md
  nix/tests/ci-dogfood-workspace.nix
  nix/tests/fixtures/workspace-build-cargo.lock
Due: markdownlint

ci-dogfood-workspace: scale to 13 crates, 442 packages, 644 tests
  nix/tests/ci-dogfood-workspace.nix
  nix/tests/fixtures/workspace-build-cargo.lock
  nix/tests/fixtures/workspace-build-main.rs
Due: rustfmt, cargo-clippy

napkin: struct field verification lesson from 13-crate workspace
  .agent/napkin.md
Due: markdownlint

ci-dogfood-workspace: scale to 18 crates with aspen-core, 509 packages, 1044 tests
  nix/tests/ci-dogfood-workspace.nix
  nix/tests/fixtures/workspace-build-cargo.lock
  nix/tests/fixtures/workspace-build-main.rs
Due: rustfmt, cargo-clippy

update unit2nix to dd9288a (fixes tokio dep linking)
  flake.lock
Due: none

regenerate build plan (force fresh derivation hashes)
  build-plan.json
Due: none

regenerate git-remote build plan (tokio dep was missing)
  build-plan-git-remote.json
  nix/build-plan-git-remote.json
Due: none

fix trailing newlines in build plans
  build-plan-git-remote.json
  build-plan.json
  nix/build-plan-git-remote.json
Due: none

skip pre-push hooks when pushing to forge remote
  scripts/dogfood-local-vmci.sh
Due: none

Add standalone serial dogfood VM for interactive testing
  .agent/napkin.md
  AGENTS.md
  flake.nix
  nix/vms/serial-dogfood.nix
Due: markdownlint

Stream CI job logs live in NixOS VM dogfood tests
  nix/tests/ci-dogfood-self-build.nix
  nix/tests/ci-dogfood-workspace.nix
  nix/tests/ci-dogfood.nix
Due: none

ci-dogfood: find correct binary among multi-output nix paths
  .agent/napkin.md
  nix/tests/ci-dogfood.nix
Due: markdownlint

ci: switch full-workspace dogfood test from shell to vm job type
  crates/aspen-ci-executor-vm/src/payload.rs
  crates/aspen-ci-executor-vm/src/worker.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/tests/cloud_hypervisor_test.rs
  flake.nix
  nix/tests/ci-dogfood-full-workspace.nix
  nix/tests/fixtures/full-workspace-ci.ncl
Due: rustfmt, cargo-clippy

Fix ci-dogfood-full-workspace VM test failing on long nix builds
  .agent/napkin.md
  crates/aspen-ci-executor-shell/src/agent/executor.rs
  crates/aspen-ci/src/agent/executor/validation.rs
  crates/aspen-cluster/src/config/worker.rs
  crates/aspen-cluster/src/worker_service/mod.rs
  crates/aspen-jobs/src/manager/config.rs
  nix/modules/aspen-node.nix
  nix/tests/ci-dogfood-full-workspace.nix
  nix/tests/fixtures/full-workspace-ci.ncl
Due: rustfmt, cargo-clippy, markdownlint

Verify CI-built binary exists and runs instead of checking log size
  nix/tests/ci-dogfood-full-workspace.nix
Due: none

Upload nix build output to blob store and verify full pipeline
  crates/aspen-ci-executor-shell/src/local_executor/execution.rs
  crates/aspen-ci-executor-shell/src/local_executor/mod.rs
  nix/tests/ci-dogfood-full-workspace.nix
  nix/tests/fixtures/full-workspace-ci.ncl
  nix/tests/fixtures/full-workspace-flake.nix
  openspec/changes/full-workspace-dogfood-vm/.openspec.yaml
  openspec/changes/full-workspace-dogfood-vm/design.md
  openspec/changes/full-workspace-dogfood-vm/proposal.md
  openspec/changes/full-workspace-dogfood-vm/specs/full-workspace-ci-build/spec.md
  openspec/changes/full-workspace-dogfood-vm/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Stream large blobs over QUIC instead of serializing into one RPC response
  crates/aspen-blob-handler/src/handler/crud.rs
  crates/aspen-blob-handler/src/handler/mod.rs
  crates/aspen-blob-handler/src/lib.rs
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/blob.rs
  crates/aspen-client-api/src/messages/blob.rs
  crates/aspen-rpc-handlers/src/client.rs
  nix/tests/ci-dogfood-full-workspace.nix
Due: rustfmt, cargo-clippy

fix: ack/nack with expired receipt handle no longer leaves jobs stuck Running
  crates/aspen-jobs/src/manager/lifecycle.rs
  crates/aspen-jobs/src/worker.rs
  crates/aspen-jobs/tests/job_lifecycle.rs
Due: rustfmt, cargo-clippy

Lay groundwork for quorum-safe rolling deployments
  Cargo.lock
  Cargo.toml
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/deploy.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/deploy_ops.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  crates/aspen-constants/src/api.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-deploy/Cargo.toml
  crates/aspen-deploy/src/lib.rs
  crates/aspen-deploy/src/types.rs
  crates/aspen-deploy/src/verified/mod.rs
  crates/aspen-deploy/src/verified/quorum.rs
  openspec/changes/ci-deploy-loop/.openspec.yaml
  openspec/changes/ci-deploy-loop/design.md
  openspec/changes/ci-deploy-loop/proposal.md
  openspec/changes/ci-deploy-loop/specs/ci/spec.md
  openspec/changes/ci-deploy-loop/specs/deploy-stage/spec.md
  openspec/changes/ci-deploy-loop/tasks.md
  openspec/changes/manual-rolling-deploy/.openspec.yaml
  openspec/changes/manual-rolling-deploy/design.md
  openspec/changes/manual-rolling-deploy/proposal.md
  openspec/changes/manual-rolling-deploy/specs/cluster-deploy/spec.md
  openspec/changes/manual-rolling-deploy/specs/jobs/spec.md
  openspec/changes/manual-rolling-deploy/specs/node-upgrade/spec.md
  openspec/changes/manual-rolling-deploy/tasks.md
  openspec/changes/self-hosted-deploy-loop/.openspec.yaml
  openspec/changes/self-hosted-deploy-loop/design.md
  openspec/changes/self-hosted-deploy-loop/proposal.md
  openspec/changes/self-hosted-deploy-loop/specs/ci/spec.md
  openspec/changes/self-hosted-deploy-loop/specs/cluster-deploy/spec.md
  openspec/changes/self-hosted-deploy-loop/specs/deploy-stage/spec.md
  openspec/changes/self-hosted-deploy-loop/specs/jobs/spec.md
  openspec/changes/self-hosted-deploy-loop/specs/node-upgrade/spec.md
  openspec/changes/self-hosted-deploy-loop/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Add node-level upgrade executor and Verus quorum proofs
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/upgrade/drain.rs
  crates/aspen-cluster/src/upgrade/executor.rs
  crates/aspen-cluster/src/upgrade/mod.rs
  crates/aspen-cluster/src/upgrade/restart.rs
  crates/aspen-cluster/src/upgrade/rollback.rs
  crates/aspen-cluster/src/upgrade/status.rs
  crates/aspen-cluster/src/upgrade/types.rs
  crates/aspen-deploy/verus/lib.rs
  crates/aspen-deploy/verus/overflow_constants_spec.rs
  crates/aspen-deploy/verus/quorum_spec.rs
  openspec/changes/manual-rolling-deploy/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Orchestrate rolling deployments across the cluster
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster-handler/Cargo.toml
  crates/aspen-cluster-handler/src/handler/deploy.rs
  crates/aspen-cluster-handler/src/handler/mod.rs
  crates/aspen-deploy/Cargo.toml
  crates/aspen-deploy/src/coordinator/health.rs
  crates/aspen-deploy/src/coordinator/history.rs
  crates/aspen-deploy/src/coordinator/mod.rs
  crates/aspen-deploy/src/coordinator/rpc.rs
  crates/aspen-deploy/src/error.rs
  crates/aspen-deploy/src/lib.rs
  crates/aspen-deploy/tests/coordinator_tests.rs
  crates/aspen-rpc-handlers/Cargo.toml
  openspec/changes/manual-rolling-deploy/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

cli: Expose rolling deployments to operators
  .config/nextest.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-cli/src/bin/aspen-cli/output.rs
  openspec/changes/manual-rolling-deploy/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Close the self-hosted loop: CI pipeline drives deployment
  .agent/napkin.md
  .aspen/ci.ncl
  AGENTS.md
  crates/aspen-ci-core/src/config/types.rs
  crates/aspen-ci/src/config/schema/ci_schema.ncl
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/orchestrator/deploy_executor.rs
  crates/aspen-ci/src/orchestrator/mod.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-testing/src/ci_pipeline_tester.rs
  docs/deploy.md
  flake.nix
  nix/tests/ci-dogfood-deploy.nix
  nix/tests/fixtures/workspace-build-main.rs
  openspec/changes/ci-deploy-loop/design.md
  openspec/changes/ci-deploy-loop/proposal.md
  openspec/changes/ci-deploy-loop/specs/ci/spec.md
  openspec/changes/ci-deploy-loop/specs/deploy-stage/spec.md
  openspec/changes/ci-deploy-loop/tasks.md
  scripts/dogfood-local.sh
  tests/madsim_ci_pipeline_test.rs
Due: rustfmt, cargo-clippy, markdownlint

Wire deploy stages to the cluster so CI pipelines can actually deploy
  Cargo.lock
  crates/aspen-ci-handler/Cargo.toml
  crates/aspen-ci-handler/src/executor.rs
  crates/aspen-ci-handler/src/handler/deploy.rs
  crates/aspen-ci-handler/src/handler/mod.rs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-ci/src/orchestrator/deploy_executor.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/src/orchestrator/pipeline/mod.rs
  crates/aspen-ci/src/orchestrator/pipeline/status.rs
Due: rustfmt, cargo-clippy, cargo-deny

ci: Move deploy monitoring into the orchestrator so both trigger paths get it
  crates/aspen-ci-handler/src/executor.rs
  crates/aspen-ci-handler/src/handler/deploy.rs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/orchestrator/deploy_monitor.rs
  crates/aspen-ci/src/orchestrator/mod.rs
  crates/aspen-ci/src/orchestrator/pipeline/mod.rs
Due: rustfmt, cargo-clippy

Wire real iroh QUIC RPCs into the deploy path
  Cargo.lock
  crates/aspen-ci-handler/src/handler/deploy.rs
  crates/aspen-cluster-handler/Cargo.toml
  crates/aspen-cluster-handler/src/handler/deploy.rs
  crates/aspen-cluster-handler/src/handler/mod.rs
  crates/aspen-cluster-handler/src/lib.rs
  crates/aspen-cluster-handler/tests/deploy_rpc_integration.rs
  crates/aspen-cluster/src/upgrade/mod.rs
  crates/aspen-deploy/src/coordinator/mod.rs
  crates/aspen-deploy/src/coordinator/rpc.rs
  crates/aspen-deploy/tests/coordinator_tests.rs
Due: rustfmt, cargo-clippy, cargo-deny

Harden deploy pipeline against real-world failure modes
  Cargo.lock
  crates/aspen-ci-handler/Cargo.toml
  crates/aspen-ci-handler/src/handler/deploy.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-cluster-handler/Cargo.toml
  crates/aspen-cluster-handler/src/handler/deploy.rs
  crates/aspen-cluster-handler/tests/deploy_rpc_integration.rs
  crates/aspen-cluster/src/upgrade/leader_resume.rs
  crates/aspen-cluster/src/upgrade/mod.rs
  crates/aspen-constants/src/api.rs
  crates/aspen-deploy/Cargo.toml
  crates/aspen-deploy/src/coordinator/iroh_rpc.rs
  crates/aspen-deploy/src/coordinator/mod.rs
  crates/aspen-deploy/src/lib.rs
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/client.rs
  openspec/changes/deploy-pipeline-hardening/.openspec.yaml
  openspec/changes/deploy-pipeline-hardening/design.md
  openspec/changes/deploy-pipeline-hardening/proposal.md
  openspec/changes/deploy-pipeline-hardening/specs/ci/spec.md
  openspec/changes/deploy-pipeline-hardening/specs/deploy-blob-fetch/spec.md
  openspec/changes/deploy-pipeline-hardening/specs/deploy-drain/spec.md
  openspec/changes/deploy-pipeline-hardening/specs/deploy-health-depth/spec.md
  openspec/changes/deploy-pipeline-hardening/specs/deploy-leader-resume/spec.md
  openspec/changes/deploy-pipeline-hardening/tasks.md
  src/bin/aspen_node/setup/client.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

Mark self-hosted-deploy-loop tasks complete, fix stub comment and README
  README.md
  crates/aspen-cluster/src/upgrade/executor.rs
  openspec/changes/self-hosted-deploy-loop/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Archive four completed deploy changes
  openspec/changes/archive/2026-03-11-ci-deploy-loop/.openspec.yaml
  openspec/changes/archive/2026-03-11-ci-deploy-loop/design.md
  openspec/changes/archive/2026-03-11-ci-deploy-loop/proposal.md
  openspec/changes/archive/2026-03-11-ci-deploy-loop/specs/ci/spec.md
  openspec/changes/archive/2026-03-11-ci-deploy-loop/specs/deploy-stage/spec.md
  openspec/changes/archive/2026-03-11-ci-deploy-loop/tasks.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/.openspec.yaml
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/design.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/proposal.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/specs/ci/spec.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/specs/deploy-blob-fetch/spec.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/specs/deploy-drain/spec.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/specs/deploy-health-depth/spec.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/specs/deploy-leader-resume/spec.md
  openspec/changes/archive/2026-03-11-deploy-pipeline-hardening/tasks.md
  openspec/changes/archive/2026-03-11-manual-rolling-deploy/.openspec.yaml
  openspec/changes/archive/2026-03-11-manual-rolling-deploy/design.md
  openspec/changes/archive/2026-03-11-manual-rolling-deploy/proposal.md
  openspec/changes/archive/2026-03-11-manual-rolling-deploy/specs/cluster-deploy/spec.md
  openspec/changes/archive/2026-03-11-manual-rolling-deploy/specs/jobs/spec.md
  openspec/changes/archive/2026-03-11-manual-rolling-deploy/specs/node-upgrade/spec.md
  openspec/changes/archive/2026-03-11-manual-rolling-deploy/tasks.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/.openspec.yaml
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/design.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/proposal.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/specs/ci/spec.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/specs/cluster-deploy/spec.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/specs/deploy-stage/spec.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/specs/jobs/spec.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/specs/node-upgrade/spec.md
  openspec/changes/archive/2026-03-11-self-hosted-deploy-loop/tasks.md
Due: markdownlint

chore: regenerate build plans for aspen-ci-handler deploy deps
  build-plan-cli.json
  build-plan-git-remote.json
  build-plan.json
  openspec/changes/full-workspace-dogfood-vm/tasks.md
Due: markdownlint

fix: patch CLI build plan features for unit2nix root crate
  build-plan-cli.json
  crates/aspen-cli/Cargo.toml
  flake.nix
Due: none

fix: clear EXIT trap before returning from stream_pipeline
  scripts/dogfood-local.sh
Due: none

archive: ci-dogfood-hardening and full-workspace-dogfood-vm
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/.openspec.yaml
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/design.md
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/proposal.md
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/specs/ci-ignore-paths-filter/spec.md
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/specs/ci-shell-log-streaming/spec.md
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/specs/ci/spec.md
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/specs/forge-ci-trigger/spec.md
  openspec/changes/archive/2026-03-11-ci-dogfood-hardening/tasks.md
  openspec/changes/archive/2026-03-11-full-workspace-dogfood-vm/.openspec.yaml
  openspec/changes/archive/2026-03-11-full-workspace-dogfood-vm/design.md
  openspec/changes/archive/2026-03-11-full-workspace-dogfood-vm/proposal.md
  openspec/changes/archive/2026-03-11-full-workspace-dogfood-vm/specs/full-workspace-ci-build/spec.md
  openspec/changes/archive/2026-03-11-full-workspace-dogfood-vm/tasks.md
Due: markdownlint
