Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

Extract aspen-blob to ~/git/aspen-blob
  .pi/prompt-history.jsonl
  Cargo.lock
  Cargo.toml
  crates/aspen-blob/Cargo.toml
  crates/aspen-blob/src/background_downloader.rs
  crates/aspen-blob/src/constants.rs
  crates/aspen-blob/src/events.rs
  crates/aspen-blob/src/kv_integration.rs
  crates/aspen-blob/src/lib.rs
  crates/aspen-blob/src/replication/adapters.rs
  crates/aspen-blob/src/replication/manager.rs
  crates/aspen-blob/src/replication/mod.rs
  crates/aspen-blob/src/replication/topology_watcher.rs
  crates/aspen-blob/src/store/async_read_seek.rs
  crates/aspen-blob/src/store/errors.rs
  crates/aspen-blob/src/store/iroh_store.rs
  crates/aspen-blob/src/store/memory_store.rs
  crates/aspen-blob/src/store/mod.rs
  crates/aspen-blob/src/traits/mod.rs
  crates/aspen-blob/src/traits/query.rs
  crates/aspen-blob/src/traits/read.rs
  crates/aspen-blob/src/traits/transfer.rs
  crates/aspen-blob/src/traits/write.rs
  crates/aspen-blob/src/types.rs
  crates/aspen-blob/verus/blob_spec.rs
  crates/aspen-blob/verus/concurrency_spec.rs
  crates/aspen-blob/verus/gc_spec.rs
  crates/aspen-blob/verus/lib.rs
  crates/aspen-client/Cargo.toml
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Update README + napkin for aspen-blob extraction
  .agent/napkin.md
  README.md
Due: markdownlint

Extract aspen-auth to ~/git/aspen-auth
  .agent/napkin.md
  .pi/prompt-history.jsonl
  Cargo.lock
  Cargo.toml
  README.md
  crates/aspen-auth/Cargo.toml
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/capability.rs
  crates/aspen-auth/src/constants.rs
  crates/aspen-auth/src/error.rs
  crates/aspen-auth/src/hmac_auth.rs
  crates/aspen-auth/src/lib.rs
  crates/aspen-auth/src/revocation.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-auth/src/token.rs
  crates/aspen-auth/src/utils.rs
  crates/aspen-auth/src/verified_auth.rs
  crates/aspen-auth/src/verifier.rs
  crates/aspen-auth/verus/delegation_spec.rs
  crates/aspen-auth/verus/lib.rs
  crates/aspen-auth/verus/revocation_spec.rs
  crates/aspen-auth/verus/signature_spec.rs
  crates/aspen-auth/verus/timestamp_spec.rs
  crates/aspen-auth/verus/token_state_spec.rs
  crates/aspen-client/Cargo.toml
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Update napkin with final core extractions (client, cluster, core)
  .agent/napkin.md
Due: markdownlint

Extract tutorial-verify + fix flake for empty crates/
  .pi/prompt-history.jsonl
  Cargo.lock
  Cargo.toml
  flake.nix
  scripts/tutorial-verify/Cargo.toml
  scripts/tutorial-verify/src/main.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Update README for final extraction state
  README.md
Due: markdownlint

Housekeeping: trim napkin, archive docs, regen lockfile
  .agent/napkin.md
  .pi/prompt-history.jsonl
  Cargo.lock
  docs/archive/lunatic-comparison.md
  docs/archive/plugin-system.md
  docs/archive/redb-sql.md
  docs/archive/wasm-plugin-hardening.md
  docs/simulations/README.md
Due: cargo-deny, markdownlint

Fix verus-check: all specs extracted to sibling repos
  flake.nix
Due: none

Fix fuzz crate, regen lockfiles, clean stale scripts
  .pi/prompt-history.jsonl
  Cargo.toml
  flake.nix
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  nix/full-build-Cargo.lock
  scripts/verify-storage.sh
Due: cargo-toml-sorted, cargo-deny

git-remote-aspen: probe server for known objects before push
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy

fuzz: repair stale targets after crate extraction wave
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_differential.rs
  fuzz/fuzz_targets/fuzz_protocol_handler.rs
  fuzz/fuzz_targets/fuzz_roundtrip.rs
Due: rustfmt, cargo-clippy

napkin: record git bridge incremental push patterns
  .agent/napkin.md
Due: markdownlint

worker-only: resolve all 4 TODOs for CI worker cache integration
  .pi/prompt-history.jsonl
  Cargo.lock
  Cargo.toml
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

napkin: document CI worker cache integration patterns
  .agent/napkin.md
Due: markdownlint

flake: mirror real filesystem layout in fullSrc to eliminate path rewriting
  .agent/napkin.md
  flake.nix
Due: markdownlint

docs: add workspace crate dependency DAG
  docs/dag.dot
  docs/dag.png
Due: none

add aspen-fuse integration tests from archived repo
  crates/aspen-fuse/tests/cloud_hypervisor_virtiofs_test.rs
  crates/aspen-fuse/tests/fuse_fs_test.rs
  crates/aspen-fuse/tests/fuse_mount_test.rs
Due: rustfmt, cargo-clippy

fix: blob test required-features and openraft macrotest ignore
  .pi/prompt-history.jsonl
  Cargo.toml
  openraft/macros/tests/test_expand.rs
  openraft/macros/tests/test_since.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

chore: clean up tracked files that should be gitignored
  .agent/napkin.md
  .agent/plan.md
  .aspen/ci.ncl
  .claude/CLAUDE.md
  .claude/decisions/2026-01-20_nickel_schema_generator.toml
  .claude/decisions/2026-01-20_ultra_what_next_14th_synthesis.toml
  .gitignore
  .pi/prompt-history.jsonl
  .pre-commit-cache/.lock
  .pre-commit-cache/db.db
  .pre-commit-cache/patch1765818405-818876
  .pre-commit-cache/patch1765827197-901352
Due: markdownlint

Deduplicate and trim .gitignore to what this project actually uses
  .gitignore
Due: none

cli: stop verify blob/docs from failing on expected cluster conditions
  crates/aspen-cli/src/bin/aspen-cli/commands/verify.rs
Due: rustfmt, cargo-clippy

rpc: fail-open when rate limiter storage is unavailable
  crates/aspen-rpc-handlers/src/client.rs
Due: rustfmt, cargo-clippy

Drop sibling repo requirement for VM tests, fix pre-commit
  crates/aspen-rpc-core/src/context.rs
  flake.nix
  openraft/openraft/src/docs/data/effective-membership.md
  openraft/openraft/src/docs/data/extended-membership.md
  openraft/openraft/src/docs/data/io_id.md
  openraft/openraft/src/docs/data/leader-lease.md
  openraft/openraft/src/docs/data/leader_id.md
  openraft/openraft/src/docs/data/log_io_id.md
  openraft/openraft/src/docs/data/log_io_progress.md
  openraft/openraft/src/docs/data/log_pointers.md
  openraft/openraft/src/docs/data/mod.rs
  openraft/openraft/src/docs/data/replication-session.md
  openraft/openraft/src/docs/data/vote.md
  scripts/cluster-form.sh
  scripts/cluster-start.sh
  scripts/cluster-stop.sh
  scripts/cluster-test.sh
Due: rustfmt, cargo-clippy, markdownlint

aspen-raft: fix 7 failing doctests that broke cargo test --workspace
  crates/aspen-raft/src/verified/conversion.rs
  crates/aspen-raft/src/verified/membership.rs
  crates/aspen-raft/src/verified/mod.rs
Due: rustfmt, cargo-clippy

cli: handle CapabilityUnavailable and fix silent failure modes
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/docs.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/kv.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ratelimit.rs
  scripts/cluster-start.sh
Due: rustfmt, cargo-clippy

cli: add regression tests for CapabilityUnavailable, docs exit codes, and rate validation
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/docs.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ratelimit.rs
Due: rustfmt, cargo-clippy

Require regression tests before fixing bugs
  AGENTS.md
Due: markdownlint

Consolidate agent guidelines into a single AGENTS.md
  AGENTS.md
Due: markdownlint

fix: postcard discriminant stability, snapshot race, and regression tests
  crates/aspen-ci-handler/Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-api/src/lib.rs
  crates/aspen-cluster/src/bootstrap/node/sharding_init.rs
  crates/aspen-cluster/src/bootstrap/node/storage_init.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-raft-types/src/constants.rs
  crates/aspen-raft-types/src/lib.rs
  scripts/cluster-test.sh
Due: rustfmt, cargo-clippy

fix: snapshot race root cause, variant ordering, golden discriminants, native coordination
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-core-essentials-handler/src/coordination.rs
  crates/aspen-core-essentials-handler/src/lib.rs
  crates/aspen-raft/src/storage_shared/initialization.rs
  crates/aspen-raft/src/storage_shared/mod.rs
  crates/aspen-raft/src/storage_shared/sm_trait.rs
  crates/aspen-raft/src/storage_shared/snapshot.rs
Due: rustfmt, cargo-clippy

cli: add Error arm to automerge/docs handlers, improve cluster-test.sh
  crates/aspen-cli/src/bin/aspen-cli/commands/automerge.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/docs.rs
  scripts/cluster-test.sh
Due: rustfmt, cargo-clippy

fix: preserve message_group_id through DLQ, restore import batch limits, remove stale TODOs
  crates/aspen-coordination/src/queue/ack_nack.rs
  crates/aspen-coordination/src/queue/dlq.rs
  crates/aspen-coordination/src/queue/types.rs
  crates/aspen-coordination/verus/queue_ack_spec.rs
  crates/aspen-coordination/verus/queue_dequeue_spec.rs
  crates/aspen-coordination/verus/queue_state_spec.rs
  crates/aspen-forge/src/git/bridge/constants.rs
  crates/aspen-redb-storage/src/lib.rs
  crates/aspen-testing-network/src/fault_injection.rs
  crates/aspen-testing-network/src/vm_manager.rs
Due: rustfmt, cargo-clippy

chore: clarify NAR streaming comment in cache proxy
  crates/aspen-ci-executor-shell/src/cache_proxy.rs
Due: rustfmt, cargo-clippy

docs: update AGENTS.md to match post-consolidation reality
  AGENTS.md
Due: markdownlint

test: add tests for aspen-constants, aspen-coordination-protocol, aspen-jobs-protocol
  Cargo.lock
  crates/aspen-constants/src/lib.rs
  crates/aspen-coordination-protocol/Cargo.toml
  crates/aspen-coordination-protocol/src/lib.rs
  crates/aspen-jobs-protocol/Cargo.toml
  crates/aspen-jobs-protocol/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-deny

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
