Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

feat: add blob client API, build scripts, and examples
  build.rs
  crates/aspen-cli/build.rs
  crates/aspen-client/src/blob_client.rs
  examples/submit_job_rpc.rs
  examples/test_blob_client.rs
  tests/integration_p2p_blob_share.rs
Due: rustfmt, cargo-clippy

feat: add cluster testing and benchmark scripts
  scripts/benchmark-blob-vs-base64.sh
  scripts/start-test-cluster.sh
  scripts/test-cluster.sh
Due: none

fix: update examples and remove outdated test files
  examples/submit_job.rs
  examples/submit_job_rpc.rs
  examples/submit_vm_job_rpc.rs
  examples/test_job_serialization.rs
  examples/vm_job_cluster_demo.rs
  examples/vm_job_demo.rs
  tests/integration_p2p_blob_share.rs
Due: rustfmt, cargo-clippy

fix: implement working job worker status and execution
  crates/aspen-cluster/src/worker_service.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/workers/echo.rs
  crates/aspen-jobs/src/workers/mod.rs
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/job.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

feat: implement worker registration RPC handlers
  build.rs
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/job.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

fix: add missing newline to build.rs
  build.rs
Due: rustfmt, cargo-clippy

feat: implement job workers with real functionality
  Cargo.lock
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/workers/blob_processor.rs
  crates/aspen-jobs/src/workers/maintenance.rs
  crates/aspen-jobs/src/workers/replication.rs
  crates/aspen-jobs/src/workers/sql_query.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: implement job schedule parsing
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/parse.rs
  crates/aspen-rpc-handlers/src/handlers/job.rs
Due: rustfmt, cargo-clippy

feat: add job worker integration tests
  .config/nextest.toml
  crates/aspen-testing/Cargo.toml
  crates/aspen-testing/src/job_worker_tester.rs
  crates/aspen-testing/src/lib.rs
  tests/madsim_job_worker_test.rs
Due: rustfmt, cargo-clippy

feat: enhance job workers with database access
  Cargo.lock
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-jobs/src/workers/maintenance.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/storage_shared.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: implement FollowData job affinity strategy
  crates/aspen-jobs/examples/p2p_affinity.rs
  crates/aspen-jobs/src/affinity.rs
Due: rustfmt, cargo-clippy

fix: resolve critical unimplemented and unsafe patterns
  crates/aspen-coordination/src/registry.rs
  crates/aspen-coordination/src/worker_coordinator.rs
  crates/aspen-coordination/src/worker_strategies.rs
  crates/aspen-jobs/src/distributed_pool.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-transport/src/rpc.rs
Due: rustfmt, cargo-clippy

fix: resolve critical CAS push, snapshot integrity, and ALPN issues
  Cargo.toml
  crates/aspen-client-rpc/src/lib.rs
  crates/aspen-raft/src/log_subscriber.rs
  crates/aspen-raft/src/storage_shared.rs
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-transport/src/constants.rs
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve critical concurrency and CRDT issues
  Cargo.lock
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/worker_coordinator.rs
  crates/aspen-coordination/src/worker_strategies.rs
  crates/aspen-coordination/tests/worker_coordinator_test.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/progress.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: add missing newline to aspen-testing Cargo.toml
  crates/aspen-testing/Cargo.toml
Due: none

feat: export RPC response types from aspen-client
  crates/aspen-client/src/lib.rs
Due: rustfmt, cargo-clippy

fix: resolve type mismatch and zstd duplicate symbols
  .cargo/config.toml
  .gitignore
  crates/aspen-client/src/lib.rs
  tests/support/proptest_generators.rs
Due: rustfmt, cargo-clippy

feat: add WatchRegistry and expand test coverage
  Cargo.toml
  README.md
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-core/src/context.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-raft/src/connection_pool.rs
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/watch.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

feat: address remaining TODOs and expand cluster test coverage
  crates/aspen-fuse/src/main.rs
  tests/madsim_failure_injection_test.rs
  tests/madsim_multi_node_test.rs
Due: rustfmt, cargo-clippy

feat: wire WatchRegistry and clean up aspen-jobs clippy warnings
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/affinity.rs
  crates/aspen-jobs/src/analytics.rs
  crates/aspen-jobs/src/blob_storage.rs
  crates/aspen-jobs/src/dependency_tracker.rs
  crates/aspen-jobs/src/distributed_pool.rs
  crates/aspen-jobs/src/dlq_inspector.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/src/monitoring.rs
  crates/aspen-jobs/src/progress.rs
  crates/aspen-jobs/src/replay.rs
  crates/aspen-jobs/src/traced_worker.rs
  crates/aspen-jobs/src/types.rs
  crates/aspen-jobs/src/worker.rs
  crates/aspen-jobs/src/workers/replication.rs
  crates/aspen-transport/src/log_subscriber.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

fix: enable rate limiting on follower nodes
  crates/aspen-coordination/src/rate_limiter.rs
Due: rustfmt, cargo-clippy

fix: resolve kitty-cluster script and ticket format issues
  crates/aspen-client/src/client.rs
  flake.nix
Due: rustfmt, cargo-clippy

Add timeout and streaming output to Nix builds
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
Due: rustfmt, cargo-clippy

refactor: TUI command pattern and log subscriber deduplication
  .claude/audit-2026-01-05.toml
  crates/aspen-raft/src/log_subscriber.rs
  crates/aspen-raft/src/storage.rs
  crates/aspen-transport/src/log_subscriber.rs
  crates/aspen-tui/src/app.rs
  crates/aspen-tui/src/commands.rs
  crates/aspen-tui/src/main.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

refactor: eliminate panic calls and add NodeHandle resource patterns
  .claude/audit-2026-01-05.toml
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-core/src/context.rs
  crates/aspen-raft-types/src/lib.rs
  crates/aspen-raft/src/types.rs
  crates/aspen-rpc-handlers/src/handlers/docs.rs
  crates/aspen-transport/src/rpc.rs
  src/bin/aspen-token.rs
  src/bin/git-remote-aspen/main.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy

refactor: decompose NodeHandle into resource structs
  crates/aspen-cluster/src/bootstrap.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
  tests/gossip_e2e_integration.rs
  tests/raft_node_direct_api_test.rs
Due: rustfmt, cargo-clippy

refactor: replace NetworkFactoryAdapter with real implementation
  crates/aspen-raft/src/network.rs
  crates/aspen-rpc-handlers/src/handlers/cluster.rs
  src/bin/aspen-node.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy

refactor: complete NodeHandle decomposition with resource groups
  crates/aspen-cluster/src/bootstrap.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

fix: wire docs sync to RPC handlers
  crates/aspen-cluster/src/bootstrap.rs
  src/bin/aspen-node.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy

refactor: fix test dependencies and add CLI testing
  benches/common/mod.rs
  benches/production.rs
  crates/aspen-cli/build.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul.rs
  crates/aspen-cli/src/bin/aspen-cli/main.rs
  crates/aspen-dns/src/server.rs
  crates/aspen-dns/src/store.rs
  crates/aspen-docs/src/peer_manager.rs
  crates/aspen-pijul/src/output.rs
  crates/aspen-pijul/src/record.rs
  crates/aspen-pijul/src/store.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-raft/src/storage_shared.rs
  crates/aspen-testing/src/pijul_tester.rs
  crates/aspen-transport/src/raft_sharded.rs
  crates/aspen-tui/src/main.rs
  flake.nix
  scripts/tutorial-verify/src/main.rs
  src/bin/git-remote-aspen/main.rs
  src/lib.rs
  tests/pijul_integration_test.rs
  tests/pijul_multi_node_test.rs
Due: rustfmt, cargo-clippy

feat: implement Temporal-style durable execution patterns
  crates/aspen-jobs/src/durable_timer.rs
  crates/aspen-jobs/src/error.rs
  crates/aspen-jobs/src/event_store.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/saga.rs
  crates/aspen-jobs/src/scheduler.rs
  crates/aspen-jobs/src/workflow.rs
  crates/aspen-jobs/tests/job_lifecycle.rs
Due: rustfmt, cargo-clippy

docs: add comprehensive audit and analysis documentation
  .claude/decisions/2026-01-05_aspen_jobs_temporal_improvements.md
  .claude/decisions/2026-01-05_kitty_cluster_testing_results.md
  .claude/decisions/2026-01-05_potential_layers_analysis.md
  .claude/decisions/2026-01-05_what_next_ultra_analysis.md
  .claude/decisions/2026-01-06_full_audit_findings.md
  crates/aspen-jobs/src/durable_timer.rs
  crates/aspen-jobs/src/event_store.rs
  crates/aspen-jobs/src/saga.rs
  fuzz/Cargo.lock
  scripts/cli-test.sh
Due: rustfmt, cargo-clippy, markdownlint

Add comprehensive git bridge integration tests
  Cargo.lock
  Cargo.toml
  tests/forge_hosting_e2e_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
