Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

fetch jj objects through blob store
  crates/aspen-forge/src/jj.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-3-jj-blob-fetch-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-3-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/2-3-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

record jj openspec verification pitfalls
  .agent/napkin.md
Due: markdownlint

track jj repo namespace lifecycle
  crates/aspen-client-api/src/messages/forge.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/request_metadata.rs
  crates/aspen-client-api/src/messages/request_metadata_apps/forge.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-client-api/tests/golden/request_discriminants.txt
  crates/aspen-client-api/tests/golden/response_discriminants.txt
  crates/aspen-client-api/tests/wire_format_golden.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-rpc-handlers/src/client.rs
  openspec/changes/archive/2026-04-25-extend-no-std-foundation-and-wire/evidence/client-rpc-postcard-baseline.json
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-2-client-api-wire-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-2-forge-repo-lifecycle-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-2-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-2-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

surface inactive jj plugin routes
  crates/aspen-forge-handler/src/executor.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-7-jj-plugin-inactive-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-7-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-7-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

gate jj forge backend opt in
  Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  docs/jj-native-forge.md
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-2-cli-backend-config-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-2-feature-docs-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-2-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/4-2-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

authorize jj native forge operations
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-8-jj-authz-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-8-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-8-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

reject git paths for jj-only repos
  crates/aspen-forge-handler/src/executor.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-4-git-jj-negative-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-4-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-4-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

prove repo backend lifecycle boundaries
  crates/aspen-forge-handler/src/executor.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-1-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-1-repo-lifecycle-integration-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-1-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

define jj native forge plugin core
  aspen-wasm-plugin/crates/aspen-wasm-plugin/Cargo.lock
  aspen-wasm-plugin/crates/aspen-wasm-plugin/Cargo.toml
  aspen-wasm-plugin/crates/aspen-wasm-plugin/src/lib.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-1-jj-plugin-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-1-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-1-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

add jj native remote request planner
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/jj-remote-aspen/main.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-2-3-5-jj-remote-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-2-3-5-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/3-2-3-5-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

enforce plugin host access boundaries
  crates/aspen-plugin-api/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-9-plugin-host-access-tests.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/1-9-rustfmt-check.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/5-2-5-7-runtime-coverage-index.txt
  openspec/changes/jj-native-forge-wasm-plugin/evidence/final-openspec-preflight.txt
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
  openspec/changes/jj-native-forge-wasm-plugin/verification.md
Due: rustfmt, cargo-clippy, markdownlint

record jj forge archive validation
  openspec/changes/archive/2026-04-25-jj-native-forge-wasm-plugin/evidence/post-archive-main-validation.txt
Due: none

document low-level trait seam hardening
  openspec/changes/harden-low-level-trait-seams/.openspec.yaml
  openspec/changes/harden-low-level-trait-seams/design.md
  openspec/changes/harden-low-level-trait-seams/proposal.md
  openspec/changes/harden-low-level-trait-seams/specs/architecture-modularity/spec.md
  openspec/changes/harden-low-level-trait-seams/specs/low-level-trait-seams/spec.md
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: markdownlint

capture baseline evidence for low-level trait seams
  openspec/changes/harden-low-level-trait-seams/evidence/r1-baseline.md
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: markdownlint

update extraction manifests with trait seam plans
  docs/crate-extraction/blob-castore-cache.md
  docs/crate-extraction/foundational-types.md
  docs/crate-extraction/kv-branch-commit-dag.md
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: markdownlint

split KeyValueStore into narrow KV capability traits
  crates/aspen-core-shell/src/lib.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/prelude.rs
  crates/aspen-core/src/test_support.rs
  crates/aspen-core/src/traits.rs
  crates/aspen-testing-core/src/failing_store.rs
  crates/aspen-testing-core/src/lib.rs
  crates/aspen-traits/src/lib.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

narrow aspen-commit-dag to KvRead/KvWrite trait bounds
  crates/aspen-commit-dag/src/fork.rs
  crates/aspen-commit-dag/src/store.rs
Due: rustfmt, cargo-clippy

add negative fixture proving linearizable-only stores skip KvLocalScan
  crates/aspen-traits/src/lib.rs
Due: rustfmt, cargo-clippy

split CacheIndex into narrow port traits, add SigningKeyStore
  crates/aspen-cache/src/index.rs
  crates/aspen-cache/src/lib.rs
  crates/aspen-cache/src/signing.rs
  crates/aspen-ci/tests/nix_build_integration_test.rs
  crates/aspen-client/src/cache_index.rs
  crates/aspen-snix/src/migration.rs
  src/bin/aspen_node/config.rs
Due: rustfmt, cargo-clippy

narrow aspen-cache kv-index to aspen-traits + aspen-kv-types
  crates/aspen-cache/Cargo.toml
  crates/aspen-cache/src/index.rs
  crates/aspen-cache/src/signing.rs
Due: rustfmt, cargo-clippy

add cache port trait fixture tests
  crates/aspen-cache/src/index.rs
  crates/aspen-cache/src/signing.rs
Due: rustfmt, cargo-clippy

make BlobAwareKeyValueStore generic over blob capabilities, narrow to aspen-traits
  crates/aspen-blob/Cargo.toml
  crates/aspen-blob/src/kv_integration.rs
  crates/aspen-blob/src/store/iroh_store.rs
  crates/aspen-blob/src/traits/write.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

document BlobTransfer as iroh-specific transfer adapter, add non-transfer negative fixture
  crates/aspen-blob/src/kv_integration.rs
  crates/aspen-blob/src/traits/mod.rs
  crates/aspen-blob/src/traits/transfer.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

add blob negative fixtures: malformed refs, failing protect, replication absence
  crates/aspen-blob/src/kv_integration.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

define Aspen-owned storage port traits for KV state, leases, chain integrity
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/storage_ports.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

implement storage port traits on SharedRedbStorage, make cleanup generic
  crates/aspen-raft/src/lease_cleanup.rs
  crates/aspen-raft/src/storage_shared/mod.rs
  crates/aspen-raft/src/storage_shared/port_impls.rs
  crates/aspen-raft/src/ttl_cleanup.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

add storage-port tests: TTL expiration, lease fixtures, chain integrity, error ports
  crates/aspen-raft/src/storage_ports.rs
  crates/aspen-raft/src/storage_shared/port_impls.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

I13: introduce commit/branch-tip persistence traits with in-memory fixtures
  crates/aspen-commit-dag/src/lib.rs
  crates/aspen-commit-dag/src/persistence.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

I14: KV-backed adapter implementing domain store traits with format compatibility tests
  crates/aspen-commit-dag/src/kv_adapter.rs
  crates/aspen-commit-dag/src/lib.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

I15: add positive and negative branch/DAG tests with failing store fixture
  crates/aspen-commit-dag/src/persistence.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

I16: replace ambient wall-clock reads with aspen_time boundary functions
  Cargo.lock
  crates/aspen-cache/Cargo.toml
  crates/aspen-cache/src/index.rs
  crates/aspen-commit-dag/Cargo.toml
  crates/aspen-commit-dag/src/gc.rs
  crates/aspen-kv-branch/Cargo.toml
  crates/aspen-kv-branch/src/overlay.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

I17: add LogicalClock trait with HLC impl and SequentialClock test fixture
  crates/aspen-hlc/src/lib.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

I18: add simulated-time deadline tests and logical-clock edge case tests
  crates/aspen-hlc/src/lib.rs
  crates/aspen-time/src/lib.rs
  openspec/changes/harden-low-level-trait-seams/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

add verification artifacts for harden-low-level-trait-seams
  openspec/changes/harden-low-level-trait-seams/evidence/v1-cargo-tree.txt
  openspec/changes/harden-low-level-trait-seams/evidence/v2-fixture-evidence.txt
  openspec/changes/harden-low-level-trait-seams/evidence/v3-negative-boundary.txt
  openspec/changes/harden-low-level-trait-seams/evidence/v4-compatibility.txt
  openspec/changes/harden-low-level-trait-seams/evidence/v5-preflight.txt
  openspec/changes/harden-low-level-trait-seams/verification.md
Due: markdownlint

archive harden-low-level-trait-seams
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/.openspec.yaml
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/design.md
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/evidence/r1-baseline.md
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/evidence/v1-cargo-tree.txt
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/evidence/v2-fixture-evidence.txt
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/evidence/v3-negative-boundary.txt
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/evidence/v4-compatibility.txt
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/evidence/v5-preflight.txt
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/proposal.md
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/specs/architecture-modularity/spec.md
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/specs/low-level-trait-seams/spec.md
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/tasks.md
  openspec/changes/archive/2026-04-25-harden-low-level-trait-seams/verification.md
Due: markdownlint

commit-dag: accept references instead of owned stores, add no-std UI evidence
  crates/aspen-commit-dag/src/kv_adapter.rs
  crates/aspen-commit-dag/src/persistence.rs
  openspec/changes/extend-no-std-foundation-and-wire/evidence/ui-app-registry-no-std.stderr
  openspec/changes/extend-no-std-foundation-and-wire/evidence/ui-content-discovery-std-without-global-discovery.stderr
  openspec/changes/extend-no-std-foundation-and-wire/evidence/ui-directory-layer-std-without-layer.stderr
  openspec/changes/extend-no-std-foundation-and-wire/evidence/ui-fixtures.txt
  openspec/changes/extend-no-std-foundation-and-wire/evidence/ui-network-transport-no-std.stderr
  openspec/changes/extend-no-std-foundation-and-wire/evidence/ui-simulation-artifact-no-std.stderr
  openspec/changes/extend-no-std-foundation-and-wire/evidence/ui-storage-table-no-std.stderr
Due: rustfmt, cargo-clippy

deepen no-std seams: aspen-constants, aspen-kv-types no_std; feature-gate async traits
  Cargo.toml
  crates/aspen-constants/src/lib.rs
  crates/aspen-core-shell/Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/prelude.rs
  crates/aspen-core/src/traits.rs
  crates/aspen-core/tests/ui/constants-no-std/Cargo.toml
  crates/aspen-core/tests/ui/constants-no-std/src/main.rs
  crates/aspen-core/tests/ui/kv-types-no-std/Cargo.toml
  crates/aspen-core/tests/ui/kv-types-no-std/src/main.rs
  crates/aspen-kv-types/Cargo.toml
  crates/aspen-kv-types/src/batch.rs
  crates/aspen-kv-types/src/lib.rs
  crates/aspen-kv-types/src/read.rs
  crates/aspen-kv-types/src/scan.rs
  crates/aspen-kv-types/src/transaction.rs
  crates/aspen-kv-types/src/validation.rs
  crates/aspen-kv-types/src/write.rs
  crates/aspen-traits/Cargo.toml
  crates/aspen-traits/src/async_traits.rs
  crates/aspen-traits/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

openraft storage/helper.rs: replace unchecked division with checked_div, add chunk_count tests
  autoresearch.jsonl
  openraft/openraft/src/storage/helper.rs
Due: rustfmt, cargo-clippy
