Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

shorten runtime spine names
  src/runtime/mod.rs
  src/runtime/spine/mod.rs
Due: rustfmt, cargo-clippy

shorten catalog helper names
  src/catalog/mod.rs
Due: rustfmt, cargo-clippy

shorten prod soak names
  src/cli/ops/prodsoak/ops.rs
  src/prod/soak.rs
Due: rustfmt, cargo-clippy

close module-file-count source-gate caveat
  README.md
  cairn/archive/2026-07-02-octet-module-file-count-scope-closure/design.md
  cairn/archive/2026-07-02-octet-module-file-count-scope-closure/proposal.md
  cairn/archive/2026-07-02-octet-module-file-count-scope-closure/specs/evidence-gates/spec.md
  cairn/archive/2026-07-02-octet-module-file-count-scope-closure/tasks.md
  cairn/specs/evidence-gates/spec.md
  dylint.toml
  src/octet/parts/gate/p000/body.rs
  src/octet/parts/gate/p001/body.rs
  src/octet/parts/gate/p006/body.rs
  src/octet/parts/gate/tests/m000/p000/body.rs
  src/octet/parts/gate/tests/m000/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

harden Octet source-gate evidence binding
  cairn/archive/2026-07-02-source-gate-scope-ref-hardening/design.md
  cairn/archive/2026-07-02-source-gate-scope-ref-hardening/proposal.md
  cairn/archive/2026-07-02-source-gate-scope-ref-hardening/specs/evidence-gates/spec.md
  cairn/archive/2026-07-02-source-gate-scope-ref-hardening/tasks.md
  cairn/specs/evidence-gates/spec.md
  src/octet/gate.rs
  src/octet/parts/gate/p000/body.rs
  src/octet/parts/gate/p001/body.rs
  src/octet/parts/gate/p002/body.rs
  src/octet/parts/gate/p004/body.rs
  src/octet/parts/gate/p005/body.rs
  src/octet/parts/gate/p006/body.rs
  src/octet/parts/gate/p009/body.rs
  src/octet/parts/gate/p010/body.rs
  src/octet/parts/gate/tests/m000/p000/body.rs
  src/octet/parts/gate/tests/m000/p001/body.rs
  src/octet/parts/gate/tests/m000/p002/body.rs
  tests/parts/cliharness/p011/body.rs
Due: rustfmt, cargo-clippy, markdownlint

close high-risk invariant bypasses
  src/chunk/parts/store/p002/body.rs
  src/chunk/parts/store/p012/body.rs
  src/chunk/parts/store/tests/m000/p001/body.rs
  src/cli/workflow/retention/ops.rs
  src/evidence/parts/chain/p005/body.rs
  src/evidence/parts/chain/tests/m000/p002/body.rs
  src/job/parts/dag/p005/body.rs
  src/job/parts/dag/p016/body.rs
  src/job/parts/dag/tests/m000/p004/body.rs
  src/main/tests/core/retention/lifecycle.rs
  src/retention/parts/mod/p004/body.rs
  src/retention/parts/mod/p015/body.rs
  src/retention/parts/mod/p016/body.rs
  src/retention/parts/mod/p025/body.rs
  src/retention/parts/mod/tests/m000/p001/body.rs
  src/runtime/dataspace/state.rs
  src/runtime/dataspace/tests.rs
  src/secrets/parts/mod/p000/body.rs
  src/secrets/parts/mod/p003/body.rs
  src/secrets/parts/mod/p005/body.rs
  src/secrets/parts/mod/p007/body.rs
Due: rustfmt, cargo-clippy

add evidence gates for release review
  README.md
  cairn/archive/2026-07-02-testing-deterministic-drift-gate/design.md
  cairn/archive/2026-07-02-testing-deterministic-drift-gate/proposal.md
  cairn/archive/2026-07-02-testing-deterministic-drift-gate/specs/testing-harness/spec.md
  cairn/archive/2026-07-02-testing-deterministic-drift-gate/tasks.md
  cairn/archive/2026-07-02-testing-requirement-traceability/design.md
  cairn/archive/2026-07-02-testing-requirement-traceability/proposal.md
  cairn/archive/2026-07-02-testing-requirement-traceability/specs/testing-harness/spec.md
  cairn/archive/2026-07-02-testing-requirement-traceability/tasks.md
  cairn/archive/2026-07-02-testing-vm-evidence-validation/design.md
  cairn/archive/2026-07-02-testing-vm-evidence-validation/proposal.md
  cairn/archive/2026-07-02-testing-vm-evidence-validation/specs/testing-harness/spec.md
  cairn/archive/2026-07-02-testing-vm-evidence-validation/tasks.md
  cairn/specs/testing-harness/spec.md
  flake.nix
  src/cli/ops/drift.rs
  src/cli/ops/nixosvm/command.rs
  src/cli/ops/nixosvm/io.rs
  src/cli/ops/nixosvm/ops.rs
  src/cli/ops/traceability.rs
  src/lib.rs
  src/main.rs
  src/main/root.rs
  src/main/root/command.rs
  src/nixos/vm.rs
  src/nixos/vm_validation.rs
  src/testing/drift.rs
  src/testing/traceability.rs
Due: rustfmt, cargo-clippy, markdownlint

plan proof evidence hardening as Cairn changes
  cairn/changes/change-proof-checklists/design.md
  cairn/changes/change-proof-checklists/proposal.md
  cairn/changes/change-proof-checklists/specs/project/spec.md
  cairn/changes/change-proof-checklists/tasks.md
  cairn/changes/hegel-core-proof-properties/design.md
  cairn/changes/hegel-core-proof-properties/proposal.md
  cairn/changes/hegel-core-proof-properties/specs/runtime-patterns/spec.md
  cairn/changes/hegel-core-proof-properties/tasks.md
  cairn/changes/layered-proof-evidence-contract/design.md
  cairn/changes/layered-proof-evidence-contract/proposal.md
  cairn/changes/layered-proof-evidence-contract/specs/evidence-gates/spec.md
  cairn/changes/layered-proof-evidence-contract/tasks.md
  cairn/changes/proof-deny-path-evidence/design.md
  cairn/changes/proof-deny-path-evidence/proposal.md
  cairn/changes/proof-deny-path-evidence/specs/evidence-gates/spec.md
  cairn/changes/proof-deny-path-evidence/tasks.md
  cairn/changes/proof-obligation-decomposition/design.md
  cairn/changes/proof-obligation-decomposition/proposal.md
  cairn/changes/proof-obligation-decomposition/specs/testing-harness/spec.md
  cairn/changes/proof-obligation-decomposition/tasks.md
  cairn/changes/proof-review-readbacks/design.md
  cairn/changes/proof-review-readbacks/proposal.md
  cairn/changes/proof-review-readbacks/specs/operator-workflow/spec.md
  cairn/changes/proof-review-readbacks/tasks.md
  cairn/changes/proof-verification-run-receipts/design.md
  cairn/changes/proof-verification-run-receipts/proposal.md
  cairn/changes/proof-verification-run-receipts/specs/testing-harness/spec.md
  cairn/changes/proof-verification-run-receipts/tasks.md
  cairn/changes/traceability-receipt-driven-coverage/design.md
  cairn/changes/traceability-receipt-driven-coverage/proposal.md
  cairn/changes/traceability-receipt-driven-coverage/specs/testing-harness/spec.md
  cairn/changes/traceability-receipt-driven-coverage/tasks.md
Due: markdownlint

add state-machine proof change packages
  cairn/changes/coordination-generated-trace-proof/design.md
  cairn/changes/coordination-generated-trace-proof/proposal.md
  cairn/changes/coordination-generated-trace-proof/specs/coordination/spec.md
  cairn/changes/coordination-generated-trace-proof/tasks.md
  cairn/changes/lifecycle-denial-diagnostics-proof/design.md
  cairn/changes/lifecycle-denial-diagnostics-proof/proposal.md
  cairn/changes/lifecycle-denial-diagnostics-proof/specs/runtime-spine/spec.md
  cairn/changes/lifecycle-denial-diagnostics-proof/tasks.md
  cairn/changes/lifecycle-reachability-terminal-proof/design.md
  cairn/changes/lifecycle-reachability-terminal-proof/proposal.md
  cairn/changes/lifecycle-reachability-terminal-proof/specs/runtime-spine/spec.md
  cairn/changes/lifecycle-reachability-terminal-proof/tasks.md
  cairn/changes/lifecycle-receipt-determinism-proof/design.md
  cairn/changes/lifecycle-receipt-determinism-proof/proposal.md
  cairn/changes/lifecycle-receipt-determinism-proof/specs/runtime-spine/spec.md
  cairn/changes/lifecycle-receipt-determinism-proof/tasks.md
  cairn/changes/lifecycle-transition-matrix-proof/design.md
  cairn/changes/lifecycle-transition-matrix-proof/proposal.md
  cairn/changes/lifecycle-transition-matrix-proof/specs/runtime-spine/spec.md
  cairn/changes/lifecycle-transition-matrix-proof/tasks.md
  cairn/changes/state-machine-proof-replay-validator/design.md
  cairn/changes/state-machine-proof-replay-validator/proposal.md
  cairn/changes/state-machine-proof-replay-validator/specs/testing-harness/spec.md
  cairn/changes/state-machine-proof-replay-validator/tasks.md
Due: markdownlint

add prioritized state-machine proof packages
  cairn/changes/delivery-idempotency-state-proof/design.md
  cairn/changes/delivery-idempotency-state-proof/proposal.md
  cairn/changes/delivery-idempotency-state-proof/specs/delivery/spec.md
  cairn/changes/delivery-idempotency-state-proof/tasks.md
  cairn/changes/evidence-chain-head-transition-proof/design.md
  cairn/changes/evidence-chain-head-transition-proof/proposal.md
  cairn/changes/evidence-chain-head-transition-proof/specs/artifact-registry/spec.md
  cairn/changes/evidence-chain-head-transition-proof/tasks.md
  cairn/changes/job-dag-scheduler-proof/design.md
  cairn/changes/job-dag-scheduler-proof/proposal.md
  cairn/changes/job-dag-scheduler-proof/specs/job-dag/spec.md
  cairn/changes/job-dag-scheduler-proof/tasks.md
  cairn/changes/protocol-session-transition-proof/design.md
  cairn/changes/protocol-session-transition-proof/proposal.md
  cairn/changes/protocol-session-transition-proof/specs/choreography/spec.md
  cairn/changes/protocol-session-transition-proof/tasks.md
  cairn/changes/raft-control-registry-determinism-proof/design.md
  cairn/changes/raft-control-registry-determinism-proof/proposal.md
  cairn/changes/raft-control-registry-determinism-proof/specs/consensus/spec.md
  cairn/changes/raft-control-registry-determinism-proof/tasks.md
  cairn/changes/runtime-turn-commit-rollback-proof/design.md
  cairn/changes/runtime-turn-commit-rollback-proof/proposal.md
  cairn/changes/runtime-turn-commit-rollback-proof/specs/runtime-spine/spec.md
  cairn/changes/runtime-turn-commit-rollback-proof/tasks.md
  cairn/changes/service-supervision-restart-cleanup-proof/design.md
  cairn/changes/service-supervision-restart-cleanup-proof/proposal.md
  cairn/changes/service-supervision-restart-cleanup-proof/specs/runtime-spine/spec.md
  cairn/changes/service-supervision-restart-cleanup-proof/tasks.md
Due: markdownlint

prove lifecycle transitions with finite matrix
  cairn/archive/2026-07-03-lifecycle-transition-matrix-proof/design.md
  cairn/archive/2026-07-03-lifecycle-transition-matrix-proof/implementation.md
  cairn/archive/2026-07-03-lifecycle-transition-matrix-proof/proposal.md
  cairn/archive/2026-07-03-lifecycle-transition-matrix-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-lifecycle-transition-matrix-proof/tasks.md
  cairn/changes/lifecycle-transition-matrix-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/lifecycle/parts/mod/p000/body.rs
  src/lifecycle/parts/mod/p002/body.rs
  src/lifecycle/parts/mod/tests/m000/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

prove lifecycle graph boundaries
  cairn/archive/2026-07-03-lifecycle-reachability-terminal-proof/design.md
  cairn/archive/2026-07-03-lifecycle-reachability-terminal-proof/implementation.md
  cairn/archive/2026-07-03-lifecycle-reachability-terminal-proof/proposal.md
  cairn/archive/2026-07-03-lifecycle-reachability-terminal-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-lifecycle-reachability-terminal-proof/tasks.md
  cairn/changes/lifecycle-reachability-terminal-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/lifecycle/parts/mod/p002/body.rs
  src/lifecycle/parts/mod/tests/m000/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bind lifecycle denials to stable diagnostics
  cairn/archive/2026-07-03-lifecycle-denial-diagnostics-proof/design.md
  cairn/archive/2026-07-03-lifecycle-denial-diagnostics-proof/implementation.md
  cairn/archive/2026-07-03-lifecycle-denial-diagnostics-proof/proposal.md
  cairn/archive/2026-07-03-lifecycle-denial-diagnostics-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-lifecycle-denial-diagnostics-proof/tasks.md
  cairn/changes/lifecycle-denial-diagnostics-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/lifecycle/parts/mod/p002/body.rs
  src/lifecycle/parts/mod/tests/m000/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

validate lifecycle receipt evidence bindings
  cairn/archive/2026-07-03-lifecycle-receipt-determinism-proof/design.md
  cairn/archive/2026-07-03-lifecycle-receipt-determinism-proof/implementation.md
  cairn/archive/2026-07-03-lifecycle-receipt-determinism-proof/proposal.md
  cairn/archive/2026-07-03-lifecycle-receipt-determinism-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-lifecycle-receipt-determinism-proof/tasks.md
  cairn/changes/lifecycle-receipt-determinism-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/lifecycle/parts/mod/p000/body.rs
  src/lifecycle/parts/mod/p002/body.rs
  src/lifecycle/parts/mod/tests/m000/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

validate proof traces as replay evidence
  cairn/archive/2026-07-03-state-machine-proof-replay-validator/design.md
  cairn/archive/2026-07-03-state-machine-proof-replay-validator/implementation.md
  cairn/archive/2026-07-03-state-machine-proof-replay-validator/proposal.md
  cairn/archive/2026-07-03-state-machine-proof-replay-validator/specs/testing-harness/spec.md
  cairn/archive/2026-07-03-state-machine-proof-replay-validator/tasks.md
  cairn/changes/state-machine-proof-replay-validator/tasks.md
  cairn/specs/testing-harness/spec.md
  src/lib.rs
  src/testing/proof_trace.rs
Due: rustfmt, cargo-clippy, markdownlint

prove delivery idempotency state transitions
  cairn/archive/2026-07-03-delivery-idempotency-state-proof/design.md
  cairn/archive/2026-07-03-delivery-idempotency-state-proof/proposal.md
  cairn/archive/2026-07-03-delivery-idempotency-state-proof/specs/delivery/spec.md
  cairn/archive/2026-07-03-delivery-idempotency-state-proof/tasks.md
  cairn/changes/delivery-idempotency-state-proof/tasks.md
  cairn/specs/delivery/spec.md
  src/delivery/parts/idempotency/p000/body.rs
  src/delivery/parts/idempotency/p001/body.rs
  src/delivery/parts/idempotency/p002/body.rs
  src/delivery/parts/idempotency/p004/body.rs
  src/remote/parts/dataspace/p002/body.rs
  src/remote/parts/dataspace/p004/body.rs
  src/remote/parts/dataspace/tests/m000/p000/body.rs
  src/remote/parts/dataspace/tests/m000/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

prove runtime turn rollback boundaries
  cairn/archive/2026-07-03-runtime-turn-commit-rollback-proof/design.md
  cairn/archive/2026-07-03-runtime-turn-commit-rollback-proof/proposal.md
  cairn/archive/2026-07-03-runtime-turn-commit-rollback-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-runtime-turn-commit-rollback-proof/tasks.md
  cairn/changes/runtime-turn-commit-rollback-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/runtime/dataspace/mod.rs
  src/runtime/dataspace/state.rs
  src/runtime/dataspace/tests.rs
  src/runtime/mod.rs
  src/runtime/predicates/parts/mod/p002/body.rs
  src/runtime/predicates/parts/mod/p006/body.rs
  src/runtime/predicates/parts/mod/tests/m000/p000/body.rs
  src/runtime/predicates/parts/mod/tests/m000/p002/body.rs
  tools/tracey/runtime_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove coordination generated trace invariants
  cairn/archive/2026-07-03-coordination-generated-trace-proof/design.md
  cairn/archive/2026-07-03-coordination-generated-trace-proof/proposal.md
  cairn/archive/2026-07-03-coordination-generated-trace-proof/specs/coordination/spec.md
  cairn/archive/2026-07-03-coordination-generated-trace-proof/tasks.md
  cairn/changes/coordination-generated-trace-proof/tasks.md
  cairn/specs/coordination/spec.md
  src/coordination/parts/mod/tests/m000/p001/body.rs
  tools/tracey/coordination_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

deny conflicting raft duplicate commands
  cairn/archive/2026-07-03-raft-control-registry-determinism-proof/design.md
  cairn/archive/2026-07-03-raft-control-registry-determinism-proof/proposal.md
  cairn/archive/2026-07-03-raft-control-registry-determinism-proof/specs/consensus/spec.md
  cairn/archive/2026-07-03-raft-control-registry-determinism-proof/tasks.md
  cairn/changes/raft-control-registry-determinism-proof/tasks.md
  cairn/specs/consensus/spec.md
  src/raft/control/parts/plane/p001/body.rs
  src/raft/control/parts/plane/p002/body.rs
  src/raft/control/parts/plane/p003/body.rs
  src/raft/control/parts/plane/p004/body.rs
  src/raft/control/parts/plane/p007/body.rs
  tools/tracey/consensus_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove job DAG scheduler replay gates
  cairn/archive/2026-07-03-job-dag-scheduler-proof/design.md
  cairn/archive/2026-07-03-job-dag-scheduler-proof/proposal.md
  cairn/archive/2026-07-03-job-dag-scheduler-proof/specs/job-dag/spec.md
  cairn/archive/2026-07-03-job-dag-scheduler-proof/tasks.md
  cairn/changes/job-dag-scheduler-proof/tasks.md
  cairn/specs/job-dag/spec.md
  src/job/parts/dag/p001/body.rs
  src/job/parts/dag/p016/body.rs
  src/job/parts/dag/p022/body.rs
  src/job/parts/dag/tests/m000/p007/body.rs
  tools/tracey/job_dag_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove evidence chain head transitions
  cairn/archive/2026-07-03-evidence-chain-head-transition-proof/design.md
  cairn/archive/2026-07-03-evidence-chain-head-transition-proof/proposal.md
  cairn/archive/2026-07-03-evidence-chain-head-transition-proof/specs/artifact-registry/spec.md
  cairn/archive/2026-07-03-evidence-chain-head-transition-proof/tasks.md
  cairn/changes/evidence-chain-head-transition-proof/tasks.md
  cairn/specs/artifact-registry/spec.md
  src/evidence/parts/chain/p002/body.rs
  src/evidence/parts/chain/p008/body.rs
  src/evidence/parts/chain/tests/m000/p004/body.rs
  tools/tracey/evidence_chain_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove authority peer admission boundaries
  cairn/archive/2026-07-03-authority-peer-admission-state-proof/design.md
  cairn/archive/2026-07-03-authority-peer-admission-state-proof/proposal.md
  cairn/archive/2026-07-03-authority-peer-admission-state-proof/specs/authority-identity-revocation/spec.md
  cairn/archive/2026-07-03-authority-peer-admission-state-proof/specs/peer-bootstrap-negotiation/spec.md
  cairn/archive/2026-07-03-authority-peer-admission-state-proof/tasks.md
  cairn/changes/authority-peer-admission-state-proof/tasks.md
  cairn/specs/authority-identity-revocation/spec.md
  cairn/specs/peer-bootstrap-negotiation/spec.md
  src/authority/parts/mod/p000/body.rs
  src/authority/parts/mod/p001/body.rs
  src/authority/parts/mod/p003/body.rs
  src/node/parts/daemon/p004/body.rs
  src/node/parts/daemon/p014/body.rs
  src/node/parts/daemon/p025/body.rs
  src/node/parts/daemon/p026/body.rs
  src/node/parts/daemon/p027/body.rs
  src/node/parts/daemon/tests/m000/p005/body.rs
  src/node/parts/daemon/tests/m000/p009/body.rs
  tools/tracey/authority_peer_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove chunk cache GC boundaries
  cairn/archive/2026-07-03-chunk-cache-gc-state-proof/design.md
  cairn/archive/2026-07-03-chunk-cache-gc-state-proof/proposal.md
  cairn/archive/2026-07-03-chunk-cache-gc-state-proof/specs/content-addressed-chunk-store/spec.md
  cairn/archive/2026-07-03-chunk-cache-gc-state-proof/specs/evaluation-cache/spec.md
  cairn/archive/2026-07-03-chunk-cache-gc-state-proof/tasks.md
  cairn/changes/chunk-cache-gc-state-proof/tasks.md
  cairn/specs/content-addressed-chunk-store/spec.md
  cairn/specs/evaluation-cache/spec.md
  src/chunk/parts/store/p000/body.rs
  src/chunk/parts/store/p007/body.rs
  src/chunk/parts/store/tests/m000/p000/body.rs
  src/eval/parts/cache/p000/body.rs
  src/eval/parts/cache/p001/body.rs
  src/eval/parts/cache/p004/body.rs
  src/eval/parts/cache/tests/m000/p000/body.rs
  tools/tracey/chunk_cache_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove retention GC lifecycle gates
  cairn/archive/2026-07-03-retention-gc-lifecycle-proof/design.md
  cairn/archive/2026-07-03-retention-gc-lifecycle-proof/proposal.md
  cairn/archive/2026-07-03-retention-gc-lifecycle-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-retention-gc-lifecycle-proof/tasks.md
  cairn/changes/retention-gc-lifecycle-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/retention/parts/mod/p000/body.rs
  src/retention/parts/mod/p001/body.rs
  src/retention/parts/mod/p017/body.rs
  src/retention/parts/mod/tests/m000/p001/body.rs
  tools/tracey/retention_gc_lifecycle_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove node live workflow ordering
  cairn/archive/2026-07-03-node-live-workflow-state-proof/design.md
  cairn/archive/2026-07-03-node-live-workflow-state-proof/proposal.md
  cairn/archive/2026-07-03-node-live-workflow-state-proof/specs/node-runtime/spec.md
  cairn/archive/2026-07-03-node-live-workflow-state-proof/tasks.md
  cairn/changes/node-live-workflow-state-proof/tasks.md
  cairn/specs/node-runtime/spec.md
  src/node/parts/daemon/p000/body.rs
  src/node/parts/daemon/p004/body.rs
  src/node/parts/daemon/p014/body.rs
  src/node/parts/daemon/tests/m000/p004/body.rs
  tools/tracey/node_live_workflow_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove plugin lifecycle gates
  cairn/archive/2026-07-03-plugin-host-lifecycle-state-proof/design.md
  cairn/archive/2026-07-03-plugin-host-lifecycle-state-proof/proposal.md
  cairn/archive/2026-07-03-plugin-host-lifecycle-state-proof/specs/plugin-host/spec.md
  cairn/archive/2026-07-03-plugin-host-lifecycle-state-proof/tasks.md
  cairn/changes/plugin-host-lifecycle-state-proof/tasks.md
  cairn/specs/plugin-host/spec.md
  src/plugin/parts/host/p000/body.rs
  src/plugin/parts/host/p003/body.rs
  src/plugin/parts/host/p004/body.rs
  src/plugin/parts/host/p006/body.rs
  tools/tracey/plugin_host_lifecycle_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove protocol session transitions
  cairn/archive/2026-07-03-protocol-session-transition-proof/design.md
  cairn/archive/2026-07-03-protocol-session-transition-proof/proposal.md
  cairn/archive/2026-07-03-protocol-session-transition-proof/specs/choreography/spec.md
  cairn/archive/2026-07-03-protocol-session-transition-proof/tasks.md
  cairn/changes/protocol-session-transition-proof/tasks.md
  cairn/specs/choreography/spec.md
  src/protocol/parts/session/p000/body.rs
  src/protocol/parts/session/p001/body.rs
  src/protocol/parts/session/p002/body.rs
  src/protocol/parts/session/p007/body.rs
  src/protocol/parts/session/tests/m000/p000/body.rs
  tools/tracey/protocol_session_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove secrets redaction gates
  cairn/archive/2026-07-03-secrets-redaction-state-proof/design.md
  cairn/archive/2026-07-03-secrets-redaction-state-proof/proposal.md
  cairn/archive/2026-07-03-secrets-redaction-state-proof/specs/confidentiality/spec.md
  cairn/archive/2026-07-03-secrets-redaction-state-proof/tasks.md
  cairn/changes/secrets-redaction-state-proof/tasks.md
  cairn/specs/confidentiality/spec.md
  src/secrets/parts/mod/p000/body.rs
  src/secrets/parts/mod/p001/body.rs
  src/secrets/parts/mod/p003/body.rs
  src/secrets/parts/mod/p007/body.rs
  tools/tracey/secrets_redaction_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove service supervision cleanup gates
  cairn/archive/2026-07-03-service-supervision-restart-cleanup-proof/design.md
  cairn/archive/2026-07-03-service-supervision-restart-cleanup-proof/proposal.md
  cairn/archive/2026-07-03-service-supervision-restart-cleanup-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-service-supervision-restart-cleanup-proof/tasks.md
  cairn/changes/service-supervision-restart-cleanup-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/lifecycle/parts/mod/p000/body.rs
  src/lifecycle/parts/mod/p001/body.rs
  src/lifecycle/parts/mod/tests/m000/p000/body.rs
  tools/tracey/service_supervision_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove vat promise reference cleanup gates
  cairn/archive/2026-07-03-vat-promise-ref-state-proof/design.md
  cairn/archive/2026-07-03-vat-promise-ref-state-proof/proposal.md
  cairn/archive/2026-07-03-vat-promise-ref-state-proof/specs/runtime-spine/spec.md
  cairn/archive/2026-07-03-vat-promise-ref-state-proof/tasks.md
  cairn/changes/vat-promise-ref-state-proof/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/runtime/mod.rs
  src/runtime/predicates/parts/mod/p000/body.rs
  src/runtime/predicates/parts/mod/p002/body.rs
  src/runtime/predicates/parts/mod/p003/body.rs
  src/runtime/predicates/parts/mod/p005/body.rs
  src/runtime/predicates/parts/mod/tests/m000/p000/body.rs
  src/runtime/predicates/parts/mod/tests/m000/p001/body.rs
  src/runtime/vat/parts/mod/p001/body.rs
  src/runtime/vat/parts/mod/tests/m000/p000/body.rs
  tools/tracey/vat_ref_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove provenance trust boundaries
  cairn/archive/2026-07-03-provenance-trust-state-proof/design.md
  cairn/archive/2026-07-03-provenance-trust-state-proof/proposal.md
  cairn/archive/2026-07-03-provenance-trust-state-proof/specs/evidence-gates/spec.md
  cairn/archive/2026-07-03-provenance-trust-state-proof/tasks.md
  cairn/changes/provenance-trust-state-proof/tasks.md
  cairn/specs/evidence-gates/spec.md
  src/provenance/parts/mod/p000/body.rs
  src/provenance/parts/mod/p001/body.rs
  src/provenance/parts/mod/p002/body.rs
  src/provenance/parts/mod/tests/m000/p000/body.rs
  src/provenance/parts/mod/tests/m000/p001/body.rs
  tools/tracey/provenance_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove release evidence review boundaries
  cairn/archive/2026-07-03-release-evidence-workflow-state-proof/design.md
  cairn/archive/2026-07-03-release-evidence-workflow-state-proof/proposal.md
  cairn/archive/2026-07-03-release-evidence-workflow-state-proof/specs/operator-workflow/spec.md
  cairn/archive/2026-07-03-release-evidence-workflow-state-proof/tasks.md
  cairn/changes/release-evidence-workflow-state-proof/tasks.md
  cairn/specs/operator-workflow/spec.md
  src/operator/parts/dogfood/p000/body.rs
  src/operator/parts/dogfood/p004/body.rs
  src/operator/parts/dogfood/p006/body.rs
  src/operator/parts/dogfood/p008/body.rs
  src/operator/parts/dogfood/tests/m000/p000/body.rs
  src/operator/parts/dogfood/tests/m000/p001/body.rs
  src/operator/parts/dogfood/tests/m000/p002/body.rs
  tools/tracey/release_evidence_workflow_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

prove upgrade drain denial boundaries
  cairn/archive/2026-07-03-upgrade-drain-state-proof/design.md
  cairn/archive/2026-07-03-upgrade-drain-state-proof/proposal.md
  cairn/archive/2026-07-03-upgrade-drain-state-proof/specs/upgrade-sessions/spec.md
  cairn/archive/2026-07-03-upgrade-drain-state-proof/tasks.md
  cairn/changes/upgrade-drain-state-proof/tasks.md
  cairn/specs/upgrade-sessions/spec.md
  src/upgrades/parts/mod/p000/body.rs
  src/upgrades/parts/mod/p001/body.rs
  src/upgrades/parts/mod/p002/body.rs
  src/upgrades/parts/mod/p003/body.rs
  src/upgrades/parts/mod/p004/body.rs
  src/upgrades/parts/mod/tests/m000/p000/body.rs
  src/upgrades/parts/mod/tests/m000/p001/body.rs
  tools/tracey/upgrade_drain_state_machine_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

preserve Raft duplicate-session history
  src/raft/control/parts/plane/p000/body.rs
  src/raft/control/parts/plane/p001/body.rs
  src/raft/control/parts/plane/p003/body.rs
  src/raft/control/parts/plane/p004/body.rs
  src/raft/control/parts/plane/p005/body.rs
  src/raft/control/parts/plane/p007/body.rs
Due: rustfmt, cargo-clippy

keep replay release evidence current
  README.md
  cairn/archive/2026-07-03-clippy-gate-cleanup/design.md
  cairn/archive/2026-07-03-clippy-gate-cleanup/proposal.md
  cairn/archive/2026-07-03-clippy-gate-cleanup/specs/project/spec.md
  cairn/archive/2026-07-03-clippy-gate-cleanup/tasks.md
  cairn/archive/2026-07-03-deterministic-replay-first-divergence-debug/design.md
  cairn/archive/2026-07-03-deterministic-replay-first-divergence-debug/proposal.md
  cairn/archive/2026-07-03-deterministic-replay-first-divergence-debug/specs/catalog/spec.md
  cairn/archive/2026-07-03-deterministic-replay-first-divergence-debug/tasks.md
  cairn/archive/2026-07-03-release-evidence-refresh-readback/design.md
  cairn/archive/2026-07-03-release-evidence-refresh-readback/proposal.md
  cairn/archive/2026-07-03-release-evidence-refresh-readback/specs/operator-workflow/spec.md
  cairn/archive/2026-07-03-release-evidence-refresh-readback/tasks.md
  cairn/specs/catalog/spec.md
  cairn/specs/operator-workflow/spec.md
  cairn/specs/project/spec.md
  src/cli/test/replayfixture/ops.rs
  src/deterministic/parts/replay/p000/body.rs
  src/deterministic/parts/replay/p001/body.rs
  src/deterministic/parts/replay/p003/body.rs
  src/deterministic/parts/replay/tests/m000/p000/body.rs
  src/octet/parts/gate/p009/body.rs
  src/octet/parts/gate/p010/body.rs
  src/protocol/parts/session/p007/body.rs
  src/remote/parts/dataspace/tests/m000/p001/body.rs
  src/runtime/predicates/parts/mod/tests/m000/p001/body.rs
  src/testing/proof_trace.rs
  src/testing/traceability.rs
  tests/parts/cliharness/p000/body.rs
Due: rustfmt, cargo-clippy, markdownlint
