Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

openspec: archive dogfood local push timeout
  openspec/changes/archive/2026-05-13-fix-dogfood-local-push-timeout/.openspec.yaml
  openspec/changes/archive/2026-05-13-fix-dogfood-local-push-timeout/design.md
  openspec/changes/archive/2026-05-13-fix-dogfood-local-push-timeout/evidence/push-boundary.md
  openspec/changes/archive/2026-05-13-fix-dogfood-local-push-timeout/proposal.md
  openspec/changes/archive/2026-05-13-fix-dogfood-local-push-timeout/specs/dogfood-local-connectivity/spec.md
  openspec/changes/archive/2026-05-13-fix-dogfood-local-push-timeout/tasks.md
  openspec/specs/dogfood-local-connectivity/spec.md
Due: markdownlint

dogfood: bound local source push history
  crates/aspen-dogfood/src/forge.rs
  openspec/changes/archive/2026-05-13-fix-dogfood-push-completion-timeout/.openspec.yaml
  openspec/changes/archive/2026-05-13-fix-dogfood-push-completion-timeout/design.md
  openspec/changes/archive/2026-05-13-fix-dogfood-push-completion-timeout/evidence/push-check-snapshot.md
  openspec/changes/archive/2026-05-13-fix-dogfood-push-completion-timeout/proposal.md
  openspec/changes/archive/2026-05-13-fix-dogfood-push-completion-timeout/specs/dogfood-local-connectivity/spec.md
  openspec/changes/archive/2026-05-13-fix-dogfood-push-completion-timeout/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

nix: format dogfood CI inputs
  flake.nix
  nix/tests/multi-node-dogfood.nix
Due: none

Guard Verus trusted boundary inventory
  docs/quick-confidence-rail.md
  scripts/check-verus-trusted-boundaries.py
  scripts/quick-confidence.py
  scripts/test-harness.sh
  tests/quick_confidence_rail_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Update Forge testing status
  docs/forge.md
Due: markdownlint

dogfood: force local direct client connectivity
  crates/aspen-client/src/client.rs
  crates/aspen-dogfood/src/cluster.rs
  crates/aspen-dogfood/src/main.rs
  src/bin/aspen_node/main.rs
Due: rustfmt, cargo-clippy

dogfood: keep local full rail direct
  crates/aspen-dogfood/src/ci.rs
  crates/aspen-dogfood/src/deploy.rs
  crates/aspen-dogfood/src/federation.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
  src/bin/aspen_node/main.rs
Due: rustfmt, cargo-clippy

Capture Aspen ROI followups
  docs/operator-receipts.md
  flake.nix
  nix/vms/ci-worker-node.nix
  openspec/changes/generalize-runtime-application-receipts/.openspec.yaml
  openspec/changes/generalize-runtime-application-receipts/design.md
  openspec/changes/generalize-runtime-application-receipts/proposal.md
  openspec/changes/generalize-runtime-application-receipts/specs/dogfood-evidence/spec.md
  openspec/changes/generalize-runtime-application-receipts/tasks.md
  openspec/changes/harden-dogfood-vmci-worker-readiness/.openspec.yaml
  openspec/changes/harden-dogfood-vmci-worker-readiness/design.md
  openspec/changes/harden-dogfood-vmci-worker-readiness/proposal.md
  openspec/changes/harden-dogfood-vmci-worker-readiness/specs/dogfood-evidence/spec.md
  openspec/changes/harden-dogfood-vmci-worker-readiness/tasks.md
  openspec/changes/promote-remaining-runtime-host-matrix/.openspec.yaml
  openspec/changes/promote-remaining-runtime-host-matrix/design.md
  openspec/changes/promote-remaining-runtime-host-matrix/proposal.md
  openspec/changes/promote-remaining-runtime-host-matrix/specs/runtime-host-loading/spec.md
  openspec/changes/promote-remaining-runtime-host-matrix/tasks.md
  tests/operator_receipts_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Harden VM-CI dogfood readiness
  crates/aspen-dogfood/src/error.rs
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/vmci_readiness.rs
  openspec/changes/archive/2026-05-14-harden-dogfood-vmci-worker-readiness/.openspec.yaml
  openspec/changes/archive/2026-05-14-harden-dogfood-vmci-worker-readiness/design.md
  openspec/changes/archive/2026-05-14-harden-dogfood-vmci-worker-readiness/proposal.md
  openspec/changes/archive/2026-05-14-harden-dogfood-vmci-worker-readiness/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-14-harden-dogfood-vmci-worker-readiness/tasks.md
  openspec/changes/harden-dogfood-vmci-worker-readiness/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Add VM-CI TAP helper boundary
  crates/aspen-ci-executor-vm/src/bin/aspen-tap-helper.rs
  crates/aspen-ci-executor-vm/src/config.rs
  crates/aspen-ci-executor-vm/src/vm/cleanup.rs
  crates/aspen-ci-executor-vm/src/vm/provisioning.rs
  crates/aspen-dogfood/src/vmci_readiness.rs
  flake.nix
  openspec/changes/complete-vmci-tap-helper-boundary/.openspec.yaml
  openspec/changes/complete-vmci-tap-helper-boundary/design.md
  openspec/changes/complete-vmci-tap-helper-boundary/proposal.md
  openspec/changes/complete-vmci-tap-helper-boundary/specs/dogfood-evidence/spec.md
  openspec/changes/complete-vmci-tap-helper-boundary/tasks.md
  scripts/dogfood-local-vmci.sh
  scripts/setup-ci-network.sh
Due: rustfmt, cargo-clippy, markdownlint

dogfood: use libexec TAP helper default
  flake.nix
  openspec/changes/archive/2026-05-15-complete-vmci-tap-helper-boundary/.openspec.yaml
  openspec/changes/archive/2026-05-15-complete-vmci-tap-helper-boundary/design.md
  openspec/changes/archive/2026-05-15-complete-vmci-tap-helper-boundary/proposal.md
  openspec/changes/archive/2026-05-15-complete-vmci-tap-helper-boundary/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-15-complete-vmci-tap-helper-boundary/tasks.md
  openspec/changes/archive/2026-05-15-complete-vmci-tap-helper-boundary/verification.md
  openspec/specs/dogfood-evidence/spec.md
  scripts/dogfood-local-vmci.sh
  scripts/setup-ci-network.sh
Due: markdownlint

flake: format app metadata block
  flake.nix
Due: none

ci: preserve TAP helper net admin for ip
  Cargo.lock
  crates/aspen-ci-executor-vm/Cargo.toml
  crates/aspen-ci-executor-vm/src/bin/aspen-tap-helper.rs
Due: rustfmt, cargo-clippy, cargo-deny

openspec: capture Unison-inspired Aspen followups
  openspec/changes/add-content-addressed-execution-closures/.openspec.yaml
  openspec/changes/add-content-addressed-execution-closures/design.md
  openspec/changes/add-content-addressed-execution-closures/proposal.md
  openspec/changes/add-content-addressed-execution-closures/specs/execution-closures/spec.md
  openspec/changes/add-content-addressed-execution-closures/tasks.md
  openspec/changes/add-job-effect-manifest/.openspec.yaml
  openspec/changes/add-job-effect-manifest/design.md
  openspec/changes/add-job-effect-manifest/proposal.md
  openspec/changes/add-job-effect-manifest/specs/job-effect-manifest/spec.md
  openspec/changes/add-job-effect-manifest/tasks.md
  openspec/changes/add-remote-fork-await-abstraction/.openspec.yaml
  openspec/changes/add-remote-fork-await-abstraction/design.md
  openspec/changes/add-remote-fork-await-abstraction/proposal.md
  openspec/changes/add-remote-fork-await-abstraction/specs/remote-execution/spec.md
  openspec/changes/add-remote-fork-await-abstraction/tasks.md
  openspec/changes/add-service-name-hash-registry/.openspec.yaml
  openspec/changes/add-service-name-hash-registry/design.md
  openspec/changes/add-service-name-hash-registry/proposal.md
  openspec/changes/add-service-name-hash-registry/specs/runtime-service-core/spec.md
  openspec/changes/add-service-name-hash-registry/tasks.md
  openspec/changes/add-typed-storage-facade/.openspec.yaml
  openspec/changes/add-typed-storage-facade/design.md
  openspec/changes/add-typed-storage-facade/proposal.md
  openspec/changes/add-typed-storage-facade/specs/typed-storage-facade/spec.md
  openspec/changes/add-typed-storage-facade/tasks.md
Due: markdownlint

Fix VM-CI bridge bootstrap health
  crates/aspen-ci-executor-vm/src/config.rs
  crates/aspen-ci-executor-vm/src/vm/lifecycle.rs
  crates/aspen-ci-executor-vm/src/worker.rs
  crates/aspen-client/src/client.rs
  crates/aspen-dogfood/src/vmci_readiness.rs
  flake.nix
  nix/vms/ci-worker-node.nix
  openspec/changes/defer-vmci-pool-bootstrap-health/.openspec.yaml
  openspec/changes/defer-vmci-pool-bootstrap-health/design.md
  openspec/changes/defer-vmci-pool-bootstrap-health/proposal.md
  openspec/changes/defer-vmci-pool-bootstrap-health/specs/dogfood-evidence/spec.md
  openspec/changes/defer-vmci-pool-bootstrap-health/tasks.md
  scripts/dogfood-local-vmci.sh
  scripts/setup-ci-network.sh
  src/bin/aspen_node/setup/client.rs
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy, markdownlint

openspec: debug VM-CI workspace blob stall
  openspec/changes/debug-vmci-ci-workspace-blob-stall/.openspec.yaml
  openspec/changes/debug-vmci-ci-workspace-blob-stall/design.md
  openspec/changes/debug-vmci-ci-workspace-blob-stall/proposal.md
  openspec/changes/debug-vmci-ci-workspace-blob-stall/specs/dogfood-evidence/spec.md
  openspec/changes/debug-vmci-ci-workspace-blob-stall/tasks.md
Due: markdownlint

Add VM-CI post-registration diagnostics
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/vmci_diagnostics.rs
  openspec/changes/debug-vmci-ci-workspace-blob-stall/tasks.md
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy, markdownlint

Quiet expected VM-CI network warnings
  src/bin/aspen_node/config.rs
Due: rustfmt, cargo-clippy

vmci: archive layered harness
  docs/operator-receipts.md
  openspec/changes/archive/2026-05-23-add-vmci-layered-harness/.openspec.yaml
  openspec/changes/archive/2026-05-23-add-vmci-layered-harness/design.md
  openspec/changes/archive/2026-05-23-add-vmci-layered-harness/proposal.md
  openspec/changes/archive/2026-05-23-add-vmci-layered-harness/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-23-add-vmci-layered-harness/tasks.md
  openspec/specs/dogfood-evidence/spec.md
  tests/operator_receipts_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

vmci: archive pool bootstrap readiness
  openspec/changes/archive/2026-05-22-defer-vmci-pool-bootstrap-health/.openspec.yaml
  openspec/changes/archive/2026-05-22-defer-vmci-pool-bootstrap-health/design.md
  openspec/changes/archive/2026-05-22-defer-vmci-pool-bootstrap-health/proposal.md
  openspec/changes/archive/2026-05-22-defer-vmci-pool-bootstrap-health/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-22-defer-vmci-pool-bootstrap-health/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: markdownlint

openspec: normalize source archive proposal eof
  openspec/changes/propagate-rpc-ci-source-archive/proposal.md
Due: markdownlint

openspec: archive fail-fast direct route loss
  openspec/changes/archive/2026-05-23-fail-fast-direct-only-route-loss/.openspec.yaml
  openspec/changes/archive/2026-05-23-fail-fast-direct-only-route-loss/design.md
  openspec/changes/archive/2026-05-23-fail-fast-direct-only-route-loss/proposal.md
  openspec/changes/archive/2026-05-23-fail-fast-direct-only-route-loss/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-23-fail-fast-direct-only-route-loss/specs/dogfood-local-connectivity/spec.md
  openspec/changes/archive/2026-05-23-fail-fast-direct-only-route-loss/tasks.md
  openspec/specs/dogfood-evidence/spec.md
  openspec/specs/dogfood-local-connectivity/spec.md
Due: markdownlint

Add node control iroh ingress
  .agent/napkin.md
  README.md
  cairn/changes/node-control-iroh-ingress/design.md
  cairn/changes/node-control-iroh-ingress/proposal.md
  cairn/changes/node-control-iroh-ingress/specs/node-runtime/spec.md
  cairn/changes/node-control-iroh-ingress/tasks.md
  docs/architecture.md
  src/coordination.rs
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  src/protocol_session.rs
  src/raft_control_plane.rs
  src/secrets.rs
  src/service_supervision.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control supervised runner
  README.md
  cairn/changes/node-control-supervised-runner/design.md
  cairn/changes/node-control-supervised-runner/proposal.md
  cairn/changes/node-control-supervised-runner/specs/node-runtime/spec.md
  cairn/changes/node-control-supervised-runner/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control live iroh transport
  Cargo.lock
  Cargo.toml
  README.md
  cairn/changes/node-control-live-iroh-transport/design.md
  cairn/changes/node-control-live-iroh-transport/proposal.md
  cairn/changes/node-control-live-iroh-transport/specs/node-runtime/spec.md
  cairn/changes/node-control-live-iroh-transport/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Add node control live serve listener
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-serve-listener/design.md
  cairn/changes/node-control-live-serve-listener/proposal.md
  cairn/changes/node-control-live-serve-listener/specs/node-runtime/spec.md
  cairn/changes/node-control-live-serve-listener/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control authority delegation
  .agent/napkin.md
  README.md
  cairn/changes/node-control-authority-delegation/design.md
  cairn/changes/node-control-authority-delegation/proposal.md
  cairn/changes/node-control-authority-delegation/specs/node-runtime/spec.md
  cairn/changes/node-control-authority-delegation/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Fix node authority grant string parsing
  src/node_daemon.rs
Due: rustfmt, cargo-clippy

Add node control live peer tickets
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-peer-tickets/design.md
  cairn/changes/node-control-live-peer-tickets/proposal.md
  cairn/changes/node-control-live-peer-tickets/specs/node-runtime/spec.md
  cairn/changes/node-control-live-peer-tickets/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control supervisor policy
  .agent/napkin.md
  README.md
  cairn/changes/node-control-supervisor-policy/design.md
  cairn/changes/node-control-supervisor-policy/proposal.md
  cairn/changes/node-control-supervisor-policy/specs/node-runtime/spec.md
  cairn/changes/node-control-supervisor-policy/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control live send UX
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-send-ux/design.md
  cairn/changes/node-control-live-send-ux/proposal.md
  cairn/changes/node-control-live-send-ux/specs/node-runtime/spec.md
  cairn/changes/node-control-live-send-ux/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add live workflow runbook receipts
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-send-ux/design.md
  cairn/changes/node-control-live-send-ux/proposal.md
  cairn/changes/node-control-live-send-ux/specs/node-runtime/spec.md
  cairn/changes/node-control-live-send-ux/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add live send retry idempotency UX
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-send-retry-idempotency/design.md
  cairn/changes/node-control-live-send-retry-idempotency/proposal.md
  cairn/changes/node-control-live-send-retry-idempotency/specs/node-runtime/spec.md
  cairn/changes/node-control-live-send-retry-idempotency/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control live import UX
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-import-ux/design.md
  cairn/changes/node-control-live-import-ux/proposal.md
  cairn/changes/node-control-live-import-ux/specs/node-runtime/spec.md
  cairn/changes/node-control-live-import-ux/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Polish node control live send diagnostics
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-send-diagnostics/design.md
  cairn/changes/node-control-live-send-diagnostics/proposal.md
  cairn/changes/node-control-live-send-diagnostics/specs/node-runtime/spec.md
  cairn/changes/node-control-live-send-diagnostics/tasks.md
  docs/architecture.md
  src/main.rs
  src/node_daemon.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control live workflow bundle import/export
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-workflow-bundle-import-export/design.md
  cairn/changes/node-control-live-workflow-bundle-import-export/proposal.md
  cairn/changes/node-control-live-workflow-bundle-import-export/specs/node-runtime/spec.md
  cairn/changes/node-control-live-workflow-bundle-import-export/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add node control live workflow bundle verify UX
  .agent/napkin.md
  README.md
  cairn/changes/node-control-live-workflow-bundle-verify/design.md
  cairn/changes/node-control-live-workflow-bundle-verify/proposal.md
  cairn/changes/node-control-live-workflow-bundle-verify/specs/node-runtime/spec.md
  cairn/changes/node-control-live-workflow-bundle-verify/tasks.md
  docs/architecture.md
  src/ledger.rs
  src/main.rs
  src/node_daemon.rs
  src/preserves_rail.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
