Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

fix: add missing expected_binary/stateful fields to JobConfig test structs
  crates/aspen-ci-core/src/config/types.rs
  crates/aspen-ci-handler/src/handler/deploy.rs
  tests/madsim_ci_pipeline_test.rs
Due: rustfmt, cargo-clippy

napkin: document patchbay stub fix and JobConfig field omission
  .agent/napkin.md
Due: markdownlint

test: add 4 NixOS VM tests for hydra/nixops4 changes
  flake.nix
  nix/tests/ci-failure-cache.nix
  nix/tests/deploy-statefulness.nix
  nix/tests/nix-build-supervisor.nix
  nix/tests/worker-psi-health.nix
Due: none

update unit2nix: crate-hashes.json support + subDir serialization fix
  flake.lock
Due: none

fix: use ciSrc path for VM tests to bypass fullSrc IFD caching
  .agent/napkin.md
  flake.nix
  nix/tests/worker-psi-health.nix
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

napkin: document fullSrc IFD caching issue and ciPlugins fix
  .agent/napkin.md
Due: markdownlint

Write per-worker PSI and disk stats to KV from monitoring loop
  .agent/napkin.md
  crates/aspen-cluster/src/worker_service/initialization.rs
  crates/aspen-cluster/src/worker_service/monitoring.rs
  crates/aspen-cluster/src/worker_service/types.rs
  nix/tests/worker-psi-health.nix
Due: rustfmt, cargo-clippy, markdownlint

Add logo to README
  README.md
  docs/assets/aspen.png
  flake.nix
Due: markdownlint

Add cargoLock to fullBasicArgs so buildDepsOnly includes the lockfile
  flake.nix
Due: none

openspec: plan cached execution and VM fork-snapshot
  openspec/changes/cached-execution/.openspec.yaml
  openspec/changes/cached-execution/design.md
  openspec/changes/cached-execution/proposal.md
  openspec/changes/cached-execution/specs/cached-process-execution/spec.md
  openspec/changes/cached-execution/specs/execution-cache-index/spec.md
  openspec/changes/cached-execution/specs/fuse-read-tracking/spec.md
  openspec/changes/cached-execution/specs/kv-branch-fuse/spec.md
  openspec/changes/cached-execution/tasks.md
  openspec/changes/chain-hashed-commit-dag/.openspec.yaml
  openspec/changes/chain-hashed-commit-dag/design.md
  openspec/changes/chain-hashed-commit-dag/proposal.md
  openspec/changes/chain-hashed-commit-dag/specs/commit-dag-federation/spec.md
  openspec/changes/chain-hashed-commit-dag/specs/commit-dag/spec.md
  openspec/changes/chain-hashed-commit-dag/specs/federation/spec.md
  openspec/changes/chain-hashed-commit-dag/specs/kv-branch-overlay/spec.md
  openspec/changes/chain-hashed-commit-dag/tasks.md
  openspec/changes/vm-fork-snapshot/.openspec.yaml
  openspec/changes/vm-fork-snapshot/design.md
  openspec/changes/vm-fork-snapshot/proposal.md
  openspec/changes/vm-fork-snapshot/specs/ci/spec.md
  openspec/changes/vm-fork-snapshot/specs/vm-cow-memory/spec.md
  openspec/changes/vm-fork-snapshot/specs/vm-golden-snapshot/spec.md
  openspec/changes/vm-fork-snapshot/specs/vm-snapshot-restore-pool/spec.md
  openspec/changes/vm-fork-snapshot/specs/vm-speculative-execution/spec.md
  openspec/changes/vm-fork-snapshot/tasks.md
Due: markdownlint

openspec: evaluate lazy filesystem for AspenFs
  openspec/changes/lazy-filesystem/.openspec.yaml
  openspec/changes/lazy-filesystem/design.md
  openspec/changes/lazy-filesystem/proposal.md
  openspec/changes/lazy-filesystem/specs/content-hash-cache-validation/spec.md
  openspec/changes/lazy-filesystem/specs/fuse-offline-mode/spec.md
  openspec/changes/lazy-filesystem/specs/kv-branch-fuse/spec.md
  openspec/changes/lazy-filesystem/specs/lazy-file-fetch/spec.md
  openspec/changes/lazy-filesystem/tasks.md
Due: markdownlint

fix: pureSrc uses real snix deps for nix-compat
  flake.nix
Due: none

Revise README with project status and description
  README.md
Due: markdownlint

Fix 9 failing NixOS VM integration tests
  .agent/napkin.md
  crates/aspen-ci-core/src/config/types.rs
  crates/aspen-ci-handler/src/handler/deploy.rs
  crates/aspen-ci/src/orchestrator/deploy_executor.rs
  crates/aspen-ci/src/orchestrator/deploy_monitor.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-testing/src/ci_pipeline_tester.rs
  nix/tests/alert-failover.nix
  nix/tests/automerge-sql.nix
  nix/tests/ci-dogfood-deploy-multinode.nix
  nix/tests/ci-dogfood-deploy.nix
  nix/tests/fixtures/workspace-build-main.rs
  nix/tests/forge-cluster.nix
  nix/tests/lib/wasm-plugins.nix
  nix/tests/multi-node-cluster.nix
  nix/tests/snix-bridge-virtiofs.nix
  nix/tests/sops-transit.nix
  schemas/deploy-protocol.ncl
  tests/madsim_ci_pipeline_test.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: pureSrc uses real snix deps for nix-compat
  README.md
  nix/tests/net-service-mesh.nix
  nix/tests/nix-cache-gateway.nix
  nix/tests/snix-bridge.nix
  openspec/changes/doc-site/.openspec.yaml
  openspec/changes/doc-site/design.md
  openspec/changes/doc-site/proposal.md
  openspec/changes/doc-site/specs/doc-site-build/spec.md
  openspec/changes/doc-site/specs/doc-site-content/spec.md
  openspec/changes/doc-site/tasks.md
  openspec/changes/snix-integration/.openspec.yaml
  openspec/changes/snix-integration/design.md
  openspec/changes/snix-integration/proposal.md
  openspec/changes/snix-integration/specs/ci/spec.md
  openspec/changes/snix-integration/specs/nix-cache-gateway/spec.md
  openspec/changes/snix-integration/specs/snix-castore-http-browse/spec.md
  openspec/changes/snix-integration/specs/snix-daemon-protocol/spec.md
  openspec/changes/snix-integration/specs/snix-derivation-analysis/spec.md
  openspec/changes/snix-integration/specs/snix-eval-integration/spec.md
  openspec/changes/snix-integration/specs/snix-flakeref-parsing/spec.md
  openspec/changes/snix-integration/specs/snix-nar-bridge-adoption/spec.md
  openspec/changes/snix-integration/specs/snix-native-builds/spec.md
  openspec/changes/snix-integration/specs/snix-serde-config/spec.md
  openspec/changes/snix-integration/specs/snix-tracing-adoption/spec.md
  openspec/changes/snix-integration/tasks.md
Due: markdownlint

fix: pureSrc snix deps, failure cache advisory, test fixes
  .agent/napkin.md
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
Due: rustfmt, cargo-clippy, markdownlint

Fix sys.exit(0) in NixOS test drivers, make plugin install non-fatal
  README.md
  nix/tests/ci-dogfood-deploy-multinode.nix
  nix/tests/forge-cluster.nix
  nix/tests/lib/wasm-plugins.nix
  nix/tests/multi-node-cluster.nix
  nix/tests/sops-transit.nix
Due: markdownlint

fix remaining VM test failures (7/9 → 9/9)
  crates/aspen-secrets/src/sops/client.rs
  crates/aspen-snix/src/blob_service.rs
  crates/aspen-snix/src/directory_service.rs
  crates/aspen-snix/src/pathinfo_service.rs
  nix/tests/ci-dogfood-deploy-multinode.nix
  nix/tests/snix-bridge-virtiofs.nix
  openspec/changes/fix-remaining-vm-test-failures/.openspec.yaml
  openspec/changes/fix-remaining-vm-test-failures/design.md
  openspec/changes/fix-remaining-vm-test-failures/proposal.md
  openspec/changes/fix-remaining-vm-test-failures/specs/multinode-deploy-timeout-fix/spec.md
  openspec/changes/fix-remaining-vm-test-failures/specs/snix-bridge-import-fix/spec.md
  openspec/changes/fix-remaining-vm-test-failures/specs/transit-datakey-fix/spec.md
  openspec/changes/fix-remaining-vm-test-failures/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

napkin: transit datakey key_type semantics, deploy timeout pattern
  .agent/napkin.md
Due: markdownlint

fix snix bridge: use grpc+unix:/path (no authority) for unix socket URLs
  crates/aspen-snix-bridge/src/main.rs
  crates/aspen-snix/tests/migration_test.rs
  nix/tests/snix-bridge-virtiofs.nix
  nix/tests/snix-bridge.nix
  openspec/changes/fix-remaining-vm-test-failures/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Integrate remaining snix crates to reduce custom code and remove nix CLI dependency
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-executor-nix/Cargo.toml
  crates/aspen-ci-executor-nix/src/flakeref.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci-executor-nix/src/payload.rs
  crates/aspen-nix-cache-gateway/Cargo.toml
  crates/aspen-nix-cache-gateway/src/main.rs
  crates/aspen-nix-cache-gateway/src/server.rs
  crates/aspen-nix-cache-gateway/src/server_nar_bridge.rs
  crates/aspen-snix-bridge/Cargo.toml
  crates/aspen-snix-bridge/src/main.rs
  openspec/changes/snix-integration/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

snix tier 2: nix-daemon protocol + derivation analysis
  Cargo.lock
  crates/aspen-ci-executor-nix/src/derivation.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-snix-bridge/Cargo.toml
  crates/aspen-snix-bridge/src/daemon.rs
  crates/aspen-snix-bridge/src/lib.rs
  crates/aspen-snix-bridge/src/main.rs
  crates/aspen-snix-bridge/tests/daemon_test.rs
  openspec/changes/snix-integration/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

feat(snix): tier 3 — snix-eval integration + snix-serde config
  Cargo.lock
  crates/aspen-ci-executor-nix/Cargo.toml
  crates/aspen-ci-executor-nix/src/eval.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/nix_config.rs
  openspec/changes/snix-integration/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

snix tier 4: native build execution via snix-build BuildService
  .agent/napkin.md
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-executor-nix/Cargo.toml
  crates/aspen-ci-executor-nix/src/build_service.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci/Cargo.toml
  openspec/changes/snix-integration/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

snix tier 5: remove legacy cache gateway, document snix integration
  AGENTS.md
  Cargo.lock
  crates/aspen-nix-cache-gateway/Cargo.toml
  crates/aspen-nix-cache-gateway/src/main.rs
  crates/aspen-nix-cache-gateway/src/server.rs
  docs/nix-integration.md
  flake.nix
  nix/tests/snix-daemon.nix
  openspec/changes/snix-integration/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

Archive snix-integration change, sync delta specs to main
  openspec/changes/archive/2026-03-15-snix-integration/.openspec.yaml
  openspec/changes/archive/2026-03-15-snix-integration/design.md
  openspec/changes/archive/2026-03-15-snix-integration/proposal.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/ci/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/nix-cache-gateway/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-castore-http-browse/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-daemon-protocol/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-derivation-analysis/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-eval-integration/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-flakeref-parsing/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-nar-bridge-adoption/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-native-builds/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-serde-config/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/specs/snix-tracing-adoption/spec.md
  openspec/changes/archive/2026-03-15-snix-integration/tasks.md
  openspec/specs/ci/spec.md
  openspec/specs/nix-cache-gateway/spec.md
  openspec/specs/snix-castore-http-browse/spec.md
  openspec/specs/snix-daemon-protocol/spec.md
  openspec/specs/snix-derivation-analysis/spec.md
  openspec/specs/snix-eval-integration/spec.md
  openspec/specs/snix-flakeref-parsing/spec.md
  openspec/specs/snix-nar-bridge-adoption/spec.md
  openspec/specs/snix-native-builds/spec.md
  openspec/specs/snix-serde-config/spec.md
  openspec/specs/snix-tracing-adoption/spec.md
Due: markdownlint

fix: snix integration compile errors behind feature gates
  Cargo.lock
  crates/aspen-ci-executor-nix/src/eval.rs
  crates/aspen-ci-executor-nix/src/flakeref.rs
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/orchestrator/nix_build_supervisor.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/tests/nix_build_integration_test.rs
Due: rustfmt, cargo-clippy, cargo-deny

napkin: snix feature gate testing lesson
  .agent/napkin.md
Due: markdownlint

fix: crate-hashes.json keys need ?rev= for unit2nix matching
  crate-hashes.json
  flake.lock
  nix/tests/sops-transit.nix
Due: none

napkin: crate-hashes rev format, heredoc in VM tests, crane empty bin
  .agent/napkin.md
Due: markdownlint

wip: move aspen-sops to unit2nix, fix crate-hashes for leaveDotGit
  crate-hashes.json
  flake.lock
  flake.nix
Due: none

Replace Go sops-install-secrets with native Rust implementation
  Cargo.lock
  Cargo.toml
  crates/aspen-sops-install-secrets/Cargo.toml
  crates/aspen-sops-install-secrets/src/age_keys.rs
  crates/aspen-sops-install-secrets/src/decrypt.rs
  crates/aspen-sops-install-secrets/src/filesystem.rs
  crates/aspen-sops-install-secrets/src/main.rs
  crates/aspen-sops-install-secrets/src/manifest.rs
  crates/aspen-sops-install-secrets/src/templates.rs
  crates/aspen-sops/Cargo.toml
  crates/aspen-sops/build.rs
  crates/aspen-sops/proto/keyservice.proto
  crates/aspen-sops/src/cli.rs
  crates/aspen-sops/src/keyservice/mod.rs
  crates/aspen-sops/src/keyservice/service.rs
  crates/aspen-sops/src/lib.rs
  crates/aspen-sops/src/main.rs
  flake.nix
  nix/modules/aspen-sops.nix
  nix/tests/sops-install-secrets.nix
  nix/tests/sops-transit.nix
  openspec/changes/aspen-sops-install-secrets/.openspec.yaml
  openspec/changes/aspen-sops-install-secrets/design.md
  openspec/changes/aspen-sops-install-secrets/proposal.md
  openspec/changes/aspen-sops-install-secrets/specs/sops-install-secrets/spec.md
  openspec/changes/aspen-sops-install-secrets/specs/sops-nixos-module/spec.md
  openspec/changes/aspen-sops-install-secrets/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Move aspen-sops to unit2nix, add Go SOPS interop metadata
  crates/aspen-secrets/src/sops/encrypt.rs
  crates/aspen-secrets/src/sops/metadata.rs
  crates/aspen-secrets/src/sops/mod.rs
  crates/aspen-secrets/src/sops/rotate.rs
  crates/aspen-secrets/src/sops/updatekeys.rs
  nix/tests/sops-transit.nix
Due: rustfmt, cargo-clippy

napkin: sops unit2nix migration lessons
  .agent/napkin.md
Due: markdownlint

Decrypt Go sops files by matching its non-standard AES-GCM parameters
  Cargo.lock
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/sops/decrypt.rs
  crates/aspen-secrets/src/sops/decryptor.rs
  crates/aspen-secrets/src/sops/format/common.rs
  crates/aspen-secrets/src/sops/format/json.rs
  crates/aspen-secrets/src/sops/format/toml.rs
  crates/aspen-secrets/src/sops/format/yaml.rs
  crates/aspen-secrets/src/sops/mac.rs
  crates/aspen-secrets/tests/sops_roundtrip_test.rs
  crates/aspen-sops-install-secrets/src/filesystem.rs
  crates/aspen-sops-install-secrets/src/main.rs
Due: rustfmt, cargo-clippy, cargo-deny

Archive fix-remaining-vm-test-failures, sync delta specs to main
  openspec/changes/archive/2026-03-15-fix-remaining-vm-test-failures/.openspec.yaml
  openspec/changes/archive/2026-03-15-fix-remaining-vm-test-failures/design.md
  openspec/changes/archive/2026-03-15-fix-remaining-vm-test-failures/proposal.md
  openspec/changes/archive/2026-03-15-fix-remaining-vm-test-failures/specs/multinode-deploy-timeout-fix/spec.md
  openspec/changes/archive/2026-03-15-fix-remaining-vm-test-failures/specs/snix-bridge-import-fix/spec.md
  openspec/changes/archive/2026-03-15-fix-remaining-vm-test-failures/specs/transit-datakey-fix/spec.md
  openspec/changes/archive/2026-03-15-fix-remaining-vm-test-failures/tasks.md
  openspec/specs/multinode-deploy-timeout-fix/spec.md
  openspec/specs/snix-bridge-import-fix/spec.md
  openspec/specs/transit-datakey-fix/spec.md
Due: markdownlint

Archive aspen-sops-install-secrets, sync delta specs to main
  openspec/changes/archive/2026-03-15-aspen-sops-install-secrets/.openspec.yaml
  openspec/changes/archive/2026-03-15-aspen-sops-install-secrets/design.md
  openspec/changes/archive/2026-03-15-aspen-sops-install-secrets/proposal.md
  openspec/changes/archive/2026-03-15-aspen-sops-install-secrets/specs/sops-install-secrets/spec.md
  openspec/changes/archive/2026-03-15-aspen-sops-install-secrets/specs/sops-nixos-module/spec.md
  openspec/changes/archive/2026-03-15-aspen-sops-install-secrets/tasks.md
  openspec/specs/sops-install-secrets/spec.md
  openspec/specs/sops-nixos-module/spec.md
Due: markdownlint

vm-executor: golden snapshot restore with VirtioFS health probing
  crates/aspen-ci-core/src/config/types.rs
  crates/aspen-ci-executor-vm/src/config.rs
  crates/aspen-ci-executor-vm/src/lib.rs
  crates/aspen-ci-executor-vm/src/pool.rs
  crates/aspen-ci-executor-vm/src/snapshot.rs
  crates/aspen-ci-executor-vm/src/speculative.rs
  crates/aspen-ci-executor-vm/src/verified/mod.rs
  crates/aspen-ci-executor-vm/src/verified/snapshot.rs
  crates/aspen-ci-executor-vm/src/vm/cleanup.rs
  crates/aspen-ci-executor-vm/src/vm/mod.rs
  crates/aspen-ci-executor-vm/src/vm/restore.rs
  crates/aspen-testing/src/ci_pipeline_tester.rs
  openspec/changes/vm-fork-snapshot/design.md
  openspec/changes/vm-fork-snapshot/proposal.md
  openspec/changes/vm-fork-snapshot/specs/vm-cow-memory/spec.md
  openspec/changes/vm-fork-snapshot/specs/vm-golden-snapshot/spec.md
  openspec/changes/vm-fork-snapshot/specs/vm-snapshot-restore-pool/spec.md
  openspec/changes/vm-fork-snapshot/specs/vm-speculative-execution/spec.md
  openspec/changes/vm-fork-snapshot/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

vm-fork-snapshot: sparse verification, memory tracking, pressure wiring, wait_first_success
  crates/aspen-ci-executor-vm/src/lib.rs
  crates/aspen-ci-executor-vm/src/pool.rs
  crates/aspen-ci-executor-vm/src/snapshot.rs
  crates/aspen-ci-executor-vm/src/speculative.rs
  crates/aspen-ci-executor-vm/src/vm/memory.rs
  crates/aspen-ci-executor-vm/src/vm/mod.rs
  crates/aspen-ci-executor-vm/src/vm/restore.rs
  openspec/changes/vm-fork-snapshot/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

vm-fork-snapshot: complete remaining 12 integration tests (55/55)
  crates/aspen-ci-executor-vm/tests/snapshot_restore.rs
  flake.nix
  nix/tests/vm-snapshot-e2e.nix
  nix/tests/vm-snapshot-virtiofs.nix
  openspec/changes/vm-fork-snapshot/tasks.md
Due: rustfmt, cargo-clippy, markdownlint
