Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

feat: complete secrets tests and cross-cluster hooks
  .claude/decisions/2026-01-10_ultra_what_next_synthesis.md
  Cargo.lock
  crates/aspen-hooks/Cargo.toml
  crates/aspen-hooks/src/handlers.rs
  src/node/mod.rs
  tests/secrets_integration_test.rs
  tests/support/real_cluster.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

feat(pubsub): add consumer group core infrastructure
  crates/aspen-pubsub/src/consumer_group/constants.rs
  crates/aspen-pubsub/src/consumer_group/error.rs
  crates/aspen-pubsub/src/consumer_group/keys.rs
  crates/aspen-pubsub/src/consumer_group/mod.rs
  crates/aspen-pubsub/src/consumer_group/types.rs
  crates/aspen-pubsub/src/lib.rs
Due: rustfmt, cargo-clippy

feat(pubsub): implement consumer group infrastructure
  Cargo.lock
  crates/aspen-pubsub/Cargo.toml
  crates/aspen-pubsub/src/consumer_group/background.rs
  crates/aspen-pubsub/src/consumer_group/consumer.rs
  crates/aspen-pubsub/src/consumer_group/fencing.rs
  crates/aspen-pubsub/src/consumer_group/manager.rs
  crates/aspen-pubsub/src/consumer_group/mod.rs
  crates/aspen-pubsub/src/consumer_group/pending.rs
  crates/aspen-pubsub/src/consumer_group/receipt.rs
  crates/aspen-pubsub/src/consumer_group/storage.rs
  crates/aspen-pubsub/src/consumer_group/types.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: replace SystemTime unwrap with safe fallback
  crates/aspen-jobs/src/durable_timer.rs
Due: rustfmt, cargo-clippy

fix: address critical Tiger Style violations
  crates/aspen-constants/src/lib.rs
  src/bin/generate_fuzz_corpus.rs
  src/bin/git-remote-aspen/main.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy

fix: implement Tiger Style safety improvements
  crates/aspen-core/src/context.rs
  crates/aspen-sql/src/executor.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy

fix: implement Tiger Style safety improvements
  .claude/next-steps-2026-01-11.md
  audit/tiger-style-audit-2026-01-11.toml
  crates/aspen-cluster/src/blob_bridge.rs
  crates/aspen-cluster/src/docs_bridge.rs
  crates/aspen-cluster/src/federation/gossip.rs
  crates/aspen-cluster/src/hooks_bridge.rs
  crates/aspen-cluster/src/snapshot_events_bridge.rs
  crates/aspen-cluster/src/system_events_bridge.rs
  crates/aspen-cluster/src/ttl_events_bridge.rs
  crates/aspen-secrets/src/kv/store.rs
Due: rustfmt, cargo-clippy, markdownlint

feat: add comprehensive secrets CLI integration test
  flake.nix
  scripts/kitty-secrets-test.sh
Due: none

Add comprehensive CLI integration test suite
  flake.nix
  scripts/kitty-cli-test.sh
Due: none

fix: use redb backend in kitty test scripts
  scripts/kitty-cli-test.sh
  scripts/kitty-hooks-test.sh
  scripts/kitty-secrets-test.sh
Due: none

fix: enable features and fix kitty test failures
  scripts/kitty-cli-test.sh
  scripts/kitty-hooks-test.sh
  scripts/kitty-secrets-test.sh
Due: none

fix: resolve CI blockers and Git CAS race condition
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  deny.toml
Due: rustfmt, cargo-clippy

add comprehensive test coverage for RPC handlers
  .claude/CLAUDE.md
  README.md
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  crates/aspen-rpc-handlers/src/handlers/secrets.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: resolve critical Tiger Style safety violations
  .claude/critical-fixes-2026-01-11.toml
  .claude/next-priorities-2026-01-11.toml
  crates/aspen-raft/src/storage.rs
  crates/aspen-rpc-handlers/src/handlers/pijul.rs
  crates/aspen-rpc-handlers/src/handlers/service_registry.rs
Due: rustfmt, cargo-clippy

feat: complete consumer groups implementation
  crates/aspen-pubsub/src/consumer_group/constants.rs
  crates/aspen-pubsub/src/consumer_group/consumer.rs
  crates/aspen-pubsub/src/consumer_group/error.rs
  crates/aspen-pubsub/src/consumer_group/manager.rs
  crates/aspen-pubsub/src/consumer_group/storage.rs
  crates/aspen-pubsub/src/consumer_group/types.rs
  tests/consumer_group_integration_test.rs
Due: rustfmt, cargo-clippy

Enable secrets feature by default
  Cargo.toml
Due: cargo-toml-sorted, cargo-deny

fix: resolve aspen-cluster test compilation errors
  .claude/decisions/2026-01-11_ultra_what_next_analysis.md
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/federation/discovery.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: eliminate .expect() calls in aspen-fuse
  .claude/decisions/2026-01-12_ultra_what_next_synthesis.md
  crates/aspen-fuse/src/fs.rs
  crates/aspen-fuse/src/inode.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: eliminate .expect() and .unwrap() in production code
  crates/aspen-core/src/hlc.rs
  crates/aspen-docs/src/ticket.rs
  crates/aspen-fuse/src/inode.rs
  crates/aspen-layer/src/index.rs
Due: rustfmt, cargo-clippy

test: add comprehensive unit tests for 0% coverage modules
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-raft/src/pure.rs
  crates/aspen-raft/src/storage.rs
  crates/aspen-raft/src/write_batcher.rs
Due: rustfmt, cargo-clippy

ci: enhance GitHub Actions workflows
  .github/workflows/bolero.yml
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/vm-tests.yml
Due: none

chore: remove unused GitHub Actions workflows
  .github/workflows/bolero.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/madsim-multi-seed.yml
  .github/workflows/mutants.yml
  .github/workflows/vm-tests.yml
Due: none

test: complete raft storage persistence test suite
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-raft/src/storage.rs
Due: rustfmt, cargo-clippy

test: add comprehensive CLI tests and wire federation
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/dns.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  flake.nix
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  src/bin/aspen-node.rs
  src/node/mod.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy

test: add comprehensive secrets CLI test coverage
  scripts/kitty-cli-test.sh
  scripts/kitty-secrets-test.sh
Due: none

test: add comprehensive Forge CLI integration tests
  .claude/decisions/2026-01-12_forge_cli_test_expansion.toml
  flake.nix
  scripts/kitty-cli-test.sh
  scripts/kitty-forge-test.sh
Due: none

fix: resolve kitty cluster test suite failures
  crates/aspen-cli/src/bin/aspen-cli/commands/secrets.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/kitty-hooks-test.sh
  scripts/lib/cluster-common.sh
Due: rustfmt, cargo-clippy

fix: add blob wait functionality to prevent Forge timing race
  crates/aspen-blob/src/constants.rs
  crates/aspen-blob/src/lib.rs
  crates/aspen-blob/src/store.rs
  crates/aspen-forge/src/error.rs
  crates/aspen-forge/src/git/store.rs
Due: rustfmt, cargo-clippy

fix: resolve kitty integration test failures
  .claude/decisions/2026-01-12_kitty_cluster_test_fixes.toml
  flake.nix
  scripts/kitty-cli-test.sh
  scripts/kitty-secrets-test.sh
Due: none

fix: resolve kitty test script argument mismatches
  scripts/kitty-cli-test.sh
  scripts/kitty-forge-test.sh
Due: none

fix: resolve all kitty cluster test failures
  crates/aspen-forge/src/git/store.rs
  crates/aspen-rpc-handlers/src/handlers/hooks.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-secrets-test.sh
  scripts/test-fixtures/test-age.key
  scripts/test-fixtures/test-secrets.toml
Due: rustfmt, cargo-clippy

fix: resolve all kitty cluster test failures
  crates/aspen-client-api/src/messages.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-cluster.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/kitty-hooks-test.sh
  scripts/kitty-secrets-test.sh
  scripts/lib/extraction-helpers.sh
Due: rustfmt, cargo-clippy

fix: resolve 56 kitty cluster test failures
  crates/aspen-cluster/src/config.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/lib/extraction-helpers.sh
Due: rustfmt, cargo-clippy

docs: add comprehensive kitty cluster test results
  .claude/decisions/2026-01-13_kitty_cluster_full_test_results.toml
Due: none

fix: resolve kitty cluster test failures
  crates/aspen-secrets/src/transit/store.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/kitty-secrets-test.sh
Due: rustfmt, cargo-clippy

fix: resolve test cluster script issues
  scripts/test-cluster.sh
Due: none

fix: resolve kitty cluster test failures
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/rwlock.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/service.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-hooks-test.sh
  scripts/kitty-secrets-test.sh
Due: rustfmt, cargo-clippy

fix: add cluster stabilization waits to test scripts
  scripts/kitty-cli-test.sh
  scripts/kitty-forge-test.sh
  scripts/lib/cluster-common.sh
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
