Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

trim node health import debt
  src/node/runtime.rs
Due: rustfmt, cargo-clippy

trim node shutdown import debt
  src/node/runtime.rs
Due: rustfmt, cargo-clippy

reduce job CLI import debt
  docs/octet-tigerstyle-remediation.md
  src/cli/workflow/job/io.rs
  src/cli/workflow/job/worker.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce prod soak import debt
  .agent/napkin.md
  docs/octet-tigerstyle-remediation.md
  src/prod/soak.rs
Due: rustfmt, cargo-clippy, markdownlint

Tighten prod soak test imports
  docs/octet-tigerstyle-remediation.md
  src/prod/soak.rs
Due: rustfmt, cargo-clippy, markdownlint

Remove prod soak error imports
  docs/octet-tigerstyle-remediation.md
  src/prod/soak.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce NixOS VM import debt
  docs/octet-tigerstyle-remediation.md
  src/nixos/vm.rs
Due: rustfmt, cargo-clippy, markdownlint

Tighten NixOS VM imports
  docs/octet-tigerstyle-remediation.md
  src/nixos/vm.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce remote dataspace import debt
  docs/octet-tigerstyle-remediation.md
  src/remote/dataspace.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce coordination import debt
  docs/octet-tigerstyle-remediation.md
  src/coordination/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce Iroh exchange import debt
  docs/octet-tigerstyle-remediation.md
  src/iroh/exchange.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce service runtime import debt
  docs/octet-tigerstyle-remediation.md
  src/service/runtime.rs
Due: rustfmt, cargo-clippy, markdownlint

reduce protocol session import burndown debt
  docs/octet-tigerstyle-remediation.md
  src/protocol/session.rs
Due: rustfmt, cargo-clippy, markdownlint

reduce service record import burndown debt
  docs/octet-tigerstyle-remediation.md
  src/service/records.rs
Due: rustfmt, cargo-clippy, markdownlint

reduce evidence chain import burndown debt
  docs/octet-tigerstyle-remediation.md
  src/evidence/chain.rs
Due: rustfmt, cargo-clippy, markdownlint

reduce signed evidence import burndown debt
  docs/octet-tigerstyle-remediation.md
  src/evidence/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

reduce preserves rail import burndown debt
  docs/octet-tigerstyle-remediation.md
  src/preserves/rail.rs
Due: rustfmt, cargo-clippy, markdownlint

reduce delivery idempotency import burndown debt
  docs/octet-tigerstyle-remediation.md
  src/delivery/idempotency.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce predicate test import debt
  docs/octet-tigerstyle-remediation.md
  src/runtime/predicates/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

reduce Octet import debt with local wrappers
  docs/octet-tigerstyle-remediation.md
  src/harness/gate.rs
  src/harness/mod.rs
  src/octet/gate.rs
  src/operator/dogfood.rs
  src/raft/control/plane.rs
  src/rewrites/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce runtime predicate import debt
  docs/octet-tigerstyle-remediation.md
  src/runtime/predicates/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce job DAG import debt
  docs/octet-tigerstyle-remediation.md
  src/job/dag.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce prod readiness import debt
  docs/octet-tigerstyle-remediation.md
  src/prod/readiness.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce Octet remediation import debt
  .agent/napkin.md
  docs/octet-tigerstyle-remediation.md
  src/octet/remediation.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce transcript import debt
  docs/octet-tigerstyle-remediation.md
  src/transcripts/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce gateway import debt
  docs/octet-tigerstyle-remediation.md
  src/operator/gateway.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce node daemon import debt
  docs/octet-tigerstyle-remediation.md
  src/node/daemon.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce catalog import debt
  docs/octet-tigerstyle-remediation.md
  src/catalog/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce runtime dataspace import debt
  src/runtime/dataspace/mod.rs
Due: rustfmt, cargo-clippy

Keep Octet pre-commit off /tmp
  .pre-commit-config.yaml
Due: none

Reduce federation import debt
  src/federation/mod.rs
Due: rustfmt, cargo-clippy

Reduce federation alias acronym debt
  .agent/napkin.md
  src/federation/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce harness executor import debt
  src/harness/executor.rs
Due: rustfmt, cargo-clippy

Reduce retention command import debt
  src/cli/workflow/retention/command/base.rs
  src/cli/workflow/retention/command/live.rs
  src/cli/workflow/retention/command/ops.rs
Due: rustfmt, cargo-clippy

Reduce delivery idempotency import debt
  src/delivery/idempotency.rs
Due: rustfmt, cargo-clippy

Reduce signed receipt import debt
  src/evidence/mod.rs
Due: rustfmt, cargo-clippy

Reduce upgrade type import debt
  src/upgrades/mod.rs
Due: rustfmt, cargo-clippy

Reduce secrets type import debt
  src/secrets/mod.rs
Due: rustfmt, cargo-clippy

Reduce eval cache type import debt
  src/eval/cache.rs
Due: rustfmt, cargo-clippy

Reduce harness gate import debt
  src/harness/gate.rs
Due: rustfmt, cargo-clippy
