Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

feat: add comprehensive Forge testing and fix git push
  Cargo.lock
  Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  scripts/forge-comprehensive-test.sh
  scripts/forge-git-hosting-test.sh
  src/bin/aspen-node.rs
  src/bin/git-remote-aspen/main.rs
  tests/forge_git_bridge_integration_test.rs
  tests/forge_hosting_e2e_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: add automatic Iroh secret key persistence
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/lib.rs
  docs/identity-persistence.md
Due: rustfmt, cargo-clippy, markdownlint

docs: add comprehensive git-remote-aspen documentation
  docs/forge.md
Due: markdownlint

docs: update README with comprehensive Getting Started
  README.md
  flake.nix
Due: markdownlint

feat: add ShellCommandWorker with capability-based auth
  Cargo.lock
  crates/aspen-auth/src/capability.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/workers/mod.rs
  crates/aspen-jobs/src/workers/shell_command.rs
Due: rustfmt, cargo-clippy, cargo-deny

test: add ShellCommandWorker integration tests
  crates/aspen-jobs/src/workers/shell_command.rs
  crates/aspen-jobs/tests/shell_command_integration.rs
Due: rustfmt, cargo-clippy

feat: add aspen-pubsub crate for distributed pub/sub
  Cargo.lock
  Cargo.toml
  crates/aspen-jobs/tests/shell_command_integration.rs
  crates/aspen-pubsub/Cargo.toml
  crates/aspen-pubsub/src/constants.rs
  crates/aspen-pubsub/src/cursor.rs
  crates/aspen-pubsub/src/encoding.rs
  crates/aspen-pubsub/src/error.rs
  crates/aspen-pubsub/src/event.rs
  crates/aspen-pubsub/src/keys.rs
  crates/aspen-pubsub/src/lib.rs
  crates/aspen-pubsub/src/publisher.rs
  crates/aspen-pubsub/src/subscriber.rs
  crates/aspen-pubsub/src/topic.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

test: add comprehensive pub/sub integration tests
  Cargo.lock
  Cargo.toml
  src/bin/aspen-token.rs
  tests/pubsub_integration_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: add aspen-hooks event-driven hook system
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/hooks_bridge.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-hooks/Cargo.toml
  crates/aspen-hooks/src/config.rs
  crates/aspen-hooks/src/constants.rs
  crates/aspen-hooks/src/error.rs
  crates/aspen-hooks/src/event.rs
  crates/aspen-hooks/src/handlers.rs
  crates/aspen-hooks/src/lib.rs
  crates/aspen-hooks/src/metrics.rs
  crates/aspen-hooks/src/publisher.rs
  crates/aspen-hooks/src/service.rs
  crates/aspen-hooks/src/worker.rs
  crates/aspen-testing/src/madsim_tester.rs
  events.md
  tests/madsim_tester_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

docs: fix markdown formatting in events.md
  events.md
Due: markdownlint

feat: add hooks integration and shell worker support
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/hooks.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/hooks.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
  src/bin/aspen-node.rs
  tests/hooks_integration_test.rs
  tests/shell_command_worker_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

chore: remove sccache from dev shell
  README.md
  flake.nix
Due: markdownlint

feat: enhance hooks system with CLI and testing fixes
  .claude/decisions/2026-01-06_cluster_persistence_analysis.md
  .claude/decisions/2026-01-06_command_scheduling_gap_analysis.md
  .claude/decisions/2026-01-06_pubsub_layer_architecture.md
  .claude/decisions/2026-01-06_readme_shellhook_updates.md
  .claude/decisions/2026-01-08_hook_system_competitive_analysis.md
  .claude/decisions/2026-01-08_hooks_cli_integration_test.md
  .claude/decisions/2026-01-08_hooks_integration_roadmap.md
  .claude/decisions/2026-01-08_what_next_ultra_analysis.md
  .claude/decisions/forge-documentation-update-2026-01-06.md
  crates/aspen-cli/src/bin/aspen-cli/commands/hooks.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-client/src/client.rs
  crates/aspen-rpc-handlers/src/handlers/hooks.rs
  crates/aspen-rpc-handlers/src/registry.rs
  flake.nix
  scripts/cli-test.sh
  scripts/kitty-hooks-test.sh
  src/node/mod.rs
  tests/hooks_integration_test.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: exempt hook operations from rate limiting
  crates/aspen-rpc-handlers/src/client.rs
Due: rustfmt, cargo-clippy

fix: CLI peer rotation for multi-node cluster reliability
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  scripts/kitty-hooks-test.sh
Due: rustfmt, cargo-clippy

chore: update nixpkgs input
  flake.lock
Due: none

feat: add hook trigger URL system for external programs
  .claude/decisions/2026-01-08_aspen_hook_url_design.md
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/hooks.rs
  crates/aspen-hook-client/Cargo.toml
  crates/aspen-hook-client/src/lib.rs
  crates/aspen-hooks/Cargo.toml
  crates/aspen-hooks/src/lib.rs
  crates/aspen-hooks/src/ticket.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

feat: add blob/docs hook integration infrastructure
  crates/aspen-blob/src/events.rs
  crates/aspen-blob/src/lib.rs
  crates/aspen-cluster/src/blob_bridge.rs
  crates/aspen-cluster/src/docs_bridge.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-docs/src/events.rs
  crates/aspen-docs/src/lib.rs
  crates/aspen-hooks/src/event.rs
  crates/aspen-hooks/src/lib.rs
Due: rustfmt, cargo-clippy

feat: complete blob/docs hook integration wiring
  crates/aspen-blob/src/kv_integration.rs
  crates/aspen-blob/src/store.rs
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-docs/src/exporter.rs
  crates/aspen-docs/src/importer.rs
  crates/aspen-docs/src/store.rs
Due: rustfmt, cargo-clippy

feat: add shell-worker to default features
  .claude/decisions/2026-01-09_what_next_ultra_analysis.md
  Cargo.toml
Due: cargo-toml-sorted, cargo-deny, markdownlint

fix: resolve auth layer delegation and trusted root security gaps
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/error.rs
  crates/aspen-auth/src/revocation.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-auth/src/token.rs
  crates/aspen-auth/src/verifier.rs
Due: rustfmt, cargo-clippy

clean: remove legacy HTTP references
  .claude/CLAUDE.md
  crates/aspen-raft/src/learner_promotion.rs
  fuzz/fuzz_targets/fuzz_http_api.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

feat: add SOPS-backed secrets management (Phase 1)
  Cargo.lock
  Cargo.toml
  crates/aspen-auth/src/capability.rs
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/config.rs
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/constants.rs
  crates/aspen-secrets/src/error.rs
  crates/aspen-secrets/src/kv/mod.rs
  crates/aspen-secrets/src/lib.rs
  crates/aspen-secrets/src/pki/mod.rs
  crates/aspen-secrets/src/sops/config.rs
  crates/aspen-secrets/src/sops/decryptor.rs
  crates/aspen-secrets/src/sops/mod.rs
  crates/aspen-secrets/src/sops/provider.rs
  crates/aspen-secrets/src/transit/mod.rs
  src/bin/aspen-node.rs
  src/bin/aspen-token.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: implement KV v2, Transit, and PKI engines
  Cargo.lock
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/backend.rs
  crates/aspen-secrets/src/kv/mod.rs
  crates/aspen-secrets/src/kv/store.rs
  crates/aspen-secrets/src/kv/types.rs
  crates/aspen-secrets/src/lib.rs
  crates/aspen-secrets/src/pki/mod.rs
  crates/aspen-secrets/src/pki/store.rs
  crates/aspen-secrets/src/pki/types.rs
  crates/aspen-secrets/src/sops/provider.rs
  crates/aspen-secrets/src/transit/mod.rs
  crates/aspen-secrets/src/transit/store.rs
  crates/aspen-secrets/src/transit/types.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: implement SOPS Phase 3 - secrets API client interface
  .claude/decisions/2026-01-09_sops_phase3_secrets_api_design.md
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/secrets.rs
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-api/src/messages.rs
  crates/aspen-client-rpc/Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/handlers/secrets.rs
  crates/aspen-rpc-handlers/src/registry.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

feat: wire SOPS secrets service into node bootstrap
  .claude/decisions/2026-01-09_ultra_what_next_roadmap.md
  crates/aspen-secrets/src/backend.rs
  scripts/kitty-cluster.sh
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, markdownlint

test: add comprehensive secrets integration tests
  tests/secrets_integration_test.rs
Due: rustfmt, cargo-clippy

feat: implement PKI intermediate CA operations
  Cargo.lock
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/error.rs
  crates/aspen-secrets/src/pki/store.rs
  crates/aspen-secrets/src/pki/types.rs
Due: rustfmt, cargo-clippy, cargo-deny

docs: add ultra mode priority analysis
  .claude/decisions/2026-01-09_ultra_comprehensive_roadmap.md
  .claude/decisions/2026-01-09_ultra_priority_execution_plan.md
Due: markdownlint

feat: complete hooks system event sources
  .claude/decisions/2026-01-09_hooks_integration_fixes.md
  .claude/decisions/2026-01-09_what_next_ultra_analysis_v2.md
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/system_events_bridge.rs
  crates/aspen-cluster/src/ttl_events_bridge.rs
  crates/aspen-core/src/hlc.rs
  crates/aspen-raft/src/storage_shared.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: register parent token in delegation chain test
  crates/aspen-cluster/src/system_events_bridge.rs
  crates/aspen-cluster/src/ttl_events_bridge.rs
  crates/aspen-raft/src/storage_shared.rs
  tests/auth_integration.rs
Due: rustfmt, cargo-clippy

chore: update dependencies for security patches
  Cargo.lock
Due: cargo-deny

feat: implement SnapshotCreated/Installed hooks
  .claude/decisions/2026-01-09_hooks_integration_fixes.md
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/snapshot_events_bridge.rs
  crates/aspen-raft/src/storage_shared.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: prevent compression bomb attacks in decompression
  crates/aspen-jobs/src/blob_storage.rs
  crates/aspen-jobs/src/error.rs
  crates/aspen-secrets/src/constants.rs
  crates/aspen-secrets/src/sops/decryptor.rs
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy

security: fix critical audit findings
  Cargo.lock
  audit/001-dependency-vulnerabilities.md
  audit/002-unsafe-type-transmute.md
  audit/003-locks-across-await.md
  audit/004-untracked-spawned-tasks.md
  audit/005-unbounded-file-reads.md
  audit/007-unbounded-pijul-maps.md
  audit/008-path-traversal-fuse.md
  audit/009-missing-fuse-permissions.md
  audit/010-get-prefix-api-violations.md
  audit/011-functions-over-70-lines.md
  audit/012-code-duplication-router.md
  audit/013-test-coverage-gaps.md
  audit/014-missing-abort-on-timeout.md
  audit/015-parking-lot-in-async.md
  audit/016-unwrap-in-production-code.md
  audit/017-guest-vm-safety-gaps.md
  audit/018-cargo-deny-license-issues.md
  audit/README.md
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/hooks_bridge.rs
  crates/aspen-cluster/src/snapshot_events_bridge.rs
  crates/aspen-cluster/src/system_events_bridge.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/replay.rs
  crates/aspen-pijul/src/constants.rs
  crates/aspen-pijul/src/error.rs
  crates/aspen-pijul/src/handler.rs
  crates/aspen-pijul/src/sync.rs
  crates/aspen-pijul/src/working_dir.rs
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

security: complete audit issue resolution
  Cargo.lock
  Cargo.toml
  audit/003-locks-across-await.md
  audit/004-untracked-spawned-tasks.md
  audit/005-unbounded-file-reads.md
  audit/007-unbounded-pijul-maps.md
  audit/008-path-traversal-fuse.md
  audit/014-missing-abort-on-timeout.md
  audit/README.md
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-fuse/src/fs.rs
  crates/aspen-fuse/src/main.rs
  crates/aspen-jobs-guest/src/lib.rs
  crates/aspen-pijul/src/handler.rs
  crates/aspen-pijul/src/sync.rs
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/types.rs
  deny.toml
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

feat: add comprehensive unit tests for network module
  audit/002-unsafe-type-transmute.md
  audit/009-missing-fuse-permissions.md
  audit/015-parking-lot-in-async.md
  audit/016-unwrap-in-production-code.md
  audit/017-guest-vm-safety-gaps.md
  audit/018-cargo-deny-license-issues.md
  audit/README.md
  crates/aspen-raft/src/network.rs
Due: rustfmt, cargo-clippy, markdownlint

security: resolve gix dependencies vulnerabilities
  Cargo.lock
  audit/001-dependency-vulnerabilities.md
  audit/README.md
  crates/aspen-forge/Cargo.toml
Due: cargo-deny, markdownlint

fix: resolve job dependency failure cascade timeout
  .config/nextest.toml
  audit/010-get-prefix-api-violations.md
  audit/011-functions-over-70-lines.md
  audit/012-code-duplication-router.md
  audit/README.md
  crates/aspen-jobs/src/dependency_tracker.rs
  crates/aspen-testing/src/job_worker_tester.rs
  tests/madsim_job_worker_test.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: resolve feature gating and pijul test dependencies
  .claude/decisions/2026-01-10_ultra_what_next_analysis.md
  Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
  tests/pijul_multi_node_test.rs
  tests/support/mod.rs
  tests/support/pijul_tester.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint
