Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

feat: add in-memory KV backend for AspenFs testing
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/fs/tests.rs
  crates/aspen-fuse/src/virtiofs.rs
Due: rustfmt, cargo-clippy

feat: add real /dev/fuse mount integration test for AspenFs
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/fs/operations.rs
  crates/aspen-fuse/tests/fuse_mount_test.rs
Due: rustfmt, cargo-clippy

feat: extend FUSE tests, VirtioFS queue setup, and Raft cluster wiring
  Cargo.lock
  Cargo.toml
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/virtiofs.rs
  crates/aspen-fuse/tests/fuse_mount_test.rs
  src/bin/aspen_node/main.rs
  tests/fuse_raft_cluster_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: return ENODATA for missing xattrs in FUSE getxattr handler
  crates/aspen-fuse/src/fs/operations.rs
  crates/aspen-fuse/src/fs/tests.rs
  crates/aspen-fuse/src/inode.rs
  crates/aspen-fuse/tests/fuse_fs_test.rs
  crates/aspen-fuse/tests/fuse_mount_test.rs
Due: rustfmt, cargo-clippy

fix: use multi_thread runtime and explicit drop for Raft FUSE test
  tests/fuse_raft_cluster_test.rs
Due: rustfmt, cargo-clippy

feat: add Cloud Hypervisor VirtioFS end-to-end integration test
  crates/aspen-fuse/tests/cloud_hypervisor_virtiofs_test.rs
  flake.nix
Due: rustfmt, cargo-clippy

feat: verify guest writes land in KV store after VirtioFS test
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/lib.rs
  crates/aspen-fuse/tests/cloud_hypervisor_virtiofs_test.rs
Due: rustfmt, cargo-clippy

refactor: remove aspen-workspace-fs feature flag, make AspenFs the default workspace backend
  Cargo.toml
  crates/aspen-ci-executor-vm/Cargo.toml
  crates/aspen-ci-executor-vm/src/vm/cleanup.rs
  crates/aspen-ci-executor-vm/src/vm/lifecycle.rs
  crates/aspen-ci-executor-vm/src/vm/mod.rs
  crates/aspen-ci-executor-vm/src/vm/provisioning.rs
  crates/aspen-ci/Cargo.toml
  crates/aspen-jobs/src/vm_executor/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve VirtioFS daemon shutdown deadlock when no VMM connects
  crates/aspen-fuse/src/virtiofs.rs
Due: rustfmt, cargo-clippy

refactor: extract HMAC auth from aspen-raft into aspen-auth crate
  Cargo.lock
  crates/aspen-auth/Cargo.toml
  crates/aspen-auth/src/hmac_auth.rs
  crates/aspen-auth/src/lib.rs
  crates/aspen-auth/src/verified_auth.rs
  crates/aspen-client/src/watch.rs
  crates/aspen-raft/src/auth.rs
  crates/aspen-raft/src/verified/auth.rs
  crates/aspen-transport/Cargo.toml
  crates/aspen-transport/src/log_subscriber/connection.rs
  crates/aspen-transport/src/log_subscriber/handler.rs
  crates/aspen-transport/src/rpc.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: resolve log subscriber protocol bugs + remove unused dep
  Cargo.lock
  crates/aspen-client/Cargo.toml
  crates/aspen-client/src/watch.rs
  crates/aspen-transport/src/log_subscriber/connection.rs
  crates/aspen-transport/src/log_subscriber/mod.rs
  crates/aspen-transport/src/log_subscriber/wire.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: implement KV-backed workspace for NanvixWorker
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/src/vm_executor/nanvix.rs
  crates/aspen-jobs/tests/nanvix_test.rs
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy

test: add e2e workspace test for NanvixWorker (ignored, needs QuickJS)
  crates/aspen-jobs/tests/nanvix_test.rs
Due: rustfmt, cargo-clippy

Remove NanvixWorker and hyperlight-nanvix integration
  Cargo.lock
  Cargo.toml
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/src/vm_executor/nanvix.rs
  crates/aspen-jobs/src/vm_executor/types.rs
  crates/aspen-jobs/tests/nanvix_test.rs
  rust-toolchain.toml
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

plugins: migrate hooks handler to WASM plugin system
  Cargo.lock
  Cargo.toml
  crates/aspen-hooks-plugin/Cargo.toml
  crates/aspen-hooks-plugin/plugin.json
  crates/aspen-hooks-plugin/src/handlers.rs
  crates/aspen-hooks-plugin/src/kv.rs
  crates/aspen-hooks-plugin/src/lib.rs
  crates/aspen-hooks-plugin/src/types.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Track architectural context across agent sessions
  .agent/napkin.md
Due: markdownlint

plugins: enforce KV namespace isolation for WASM plugins
  .agent/napkin.md
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-constants/src/plugin.rs
  crates/aspen-forge-plugin/plugin.json
  crates/aspen-forge-plugin/src/lib.rs
  crates/aspen-hooks-plugin/plugin.json
  crates/aspen-hooks-plugin/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-service-registry-plugin/plugin.json
  crates/aspen-service-registry-plugin/src/lib.rs
  crates/aspen-wasm-guest-sdk/src/lib.rs
  crates/aspen-wasm-plugin/src/host.rs
  crates/aspen-wasm-plugin/src/registry.rs
  examples/plugins/echo-plugin/src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

Harden WASM plugin host: eliminate dispatch allocs, enforce timeouts, standardize error encoding
  .agent/napkin.md
  .markdownlint.yaml
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-constants/src/wasm.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-wasm-guest-sdk/src/host.rs
  crates/aspen-wasm-plugin/src/handler.rs
  crates/aspen-wasm-plugin/src/host.rs
  crates/aspen-wasm-plugin/src/lib.rs
  crates/aspen-wasm-plugin/src/marshal.rs
  crates/aspen-wasm-plugin/src/registry.rs
  docs/HOST_ABI.md
  docs/planning/wasm-plugin-hardening.md
Due: rustfmt, cargo-clippy, markdownlint

Enable cross-cluster request proxying for federated plugin dispatch
  .agent/napkin.md
  Cargo.lock
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-constants/src/proxy.rs
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-core/src/lib.rs
  crates/aspen-rpc-core/src/proxy.rs
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/lib.rs
  crates/aspen-rpc-handlers/src/proxy.rs
  crates/aspen-rpc-handlers/src/registry.rs
  crates/aspen-tui/src/ui/jobs.rs
  src/bin/aspen_node/setup/client.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

update readme
  README.md
Due: markdownlint

fix: gate aspen-forge imports behind feature flag, fix constants doctest
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/tag.rs
  crates/aspen-constants/src/lib.rs
Due: rustfmt, cargo-clippy

plugins: standardize error encoding across all WASM host functions
  .agent/napkin.md
  crates/aspen-wasm-guest-sdk/src/host.rs
  crates/aspen-wasm-plugin/src/host.rs
  docs/HOST_ABI.md
Due: rustfmt, cargo-clippy, markdownlint

napkin: update session notes
  .agent/napkin.md
Due: markdownlint

plugins: close the three biggest capability gaps in the WASM plugin system
  .agent/napkin.md
  crates/aspen-forge-plugin/src/kv.rs
  crates/aspen-forge-plugin/src/objects.rs
  crates/aspen-forge-plugin/src/refs.rs
  crates/aspen-forge-plugin/src/repo.rs
  crates/aspen-hooks-plugin/src/handlers.rs
  crates/aspen-hooks-plugin/src/kv.rs
  crates/aspen-plugin-api/src/lib.rs
  crates/aspen-service-registry-plugin/src/handlers.rs
  crates/aspen-service-registry-plugin/src/kv.rs
  crates/aspen-wasm-guest-sdk/src/host.rs
  crates/aspen-wasm-guest-sdk/src/lib.rs
  crates/aspen-wasm-plugin/src/handler.rs
  crates/aspen-wasm-plugin/src/host.rs
  crates/aspen-wasm-plugin/src/lib.rs
  crates/aspen-wasm-plugin/src/registry.rs
  crates/aspen-wasm-plugin/src/scheduler.rs
  examples/plugins/echo-plugin/src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

Reduce FUSE latency and enforce plugin least-privilege
  .agent/napkin.md
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-fuse/src/cache.rs
  crates/aspen-fuse/src/client.rs
  crates/aspen-fuse/src/constants.rs
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/fs/operations.rs
  crates/aspen-fuse/src/lib.rs
  crates/aspen-fuse/src/metadata.rs
  crates/aspen-plugin-api/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-wasm-plugin/src/host.rs
  crates/aspen-wasm-plugin/src/registry.rs
Due: rustfmt, cargo-clippy, markdownlint

Declare least-privilege permissions in plugin manifests
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-forge-plugin/plugin.json
  crates/aspen-forge-plugin/src/lib.rs
  crates/aspen-hooks-plugin/plugin.json
  crates/aspen-hooks-plugin/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-service-registry-plugin/plugin.json
  crates/aspen-service-registry-plugin/src/lib.rs
  crates/aspen-wasm-guest-sdk/src/lib.rs
  examples/plugins/echo-plugin/plugin.json
  examples/plugins/echo-plugin/src/lib.rs
Due: rustfmt, cargo-clippy

Default to no permissions when manifest omits them
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
Due: rustfmt, cargo-clippy

plugins: bridge hook events into the WASM guest SDK
  .agent/napkin.md
  crates/aspen-plugin-api/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-wasm-guest-sdk/src/host.rs
  crates/aspen-wasm-guest-sdk/src/lib.rs
  crates/aspen-wasm-plugin/src/events.rs
  crates/aspen-wasm-plugin/src/handler.rs
  crates/aspen-wasm-plugin/src/host.rs
  crates/aspen-wasm-plugin/src/lib.rs
  crates/aspen-wasm-plugin/src/registry.rs
  docs/HOST_ABI.md
Due: rustfmt, cargo-clippy, markdownlint

plugins: extract secrets and automerge into WASM plugins
  .agent/napkin.md
  Cargo.lock
  Cargo.toml
  crates/aspen-automerge-plugin/Cargo.toml
  crates/aspen-automerge-plugin/plugin.json
  crates/aspen-automerge-plugin/src/changes.rs
  crates/aspen-automerge-plugin/src/crud.rs
  crates/aspen-automerge-plugin/src/kv.rs
  crates/aspen-automerge-plugin/src/lib.rs
  crates/aspen-automerge-plugin/src/query.rs
  crates/aspen-automerge-plugin/src/sync.rs
  crates/aspen-automerge-plugin/src/types.rs
  crates/aspen-secrets-plugin/Cargo.toml
  crates/aspen-secrets-plugin/plugin.json
  crates/aspen-secrets-plugin/src/kv.rs
  crates/aspen-secrets-plugin/src/lib.rs
  crates/aspen-secrets-plugin/src/secrets_kv.rs
  crates/aspen-secrets-plugin/src/transit.rs
  crates/aspen-secrets-plugin/src/types.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Accept automerge sync connections from external peers
  Cargo.toml
  crates/aspen-automerge/src/sync_protocol.rs
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Add capability-based auth to automerge sync protocol
  Cargo.lock
  crates/aspen-automerge/Cargo.toml
  crates/aspen-automerge/src/capability.rs
  crates/aspen-automerge/src/lib.rs
  crates/aspen-automerge/src/sync_protocol.rs
Due: rustfmt, cargo-clippy, cargo-deny

Enable capability auth on the node's automerge sync handler
  crates/aspen-automerge/src/lib.rs
  src/bin/aspen_node/main.rs
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy

Use aspen-auth for automerge sync authorization
  Cargo.lock
  crates/aspen-automerge/Cargo.toml
  crates/aspen-automerge/src/capability.rs
  crates/aspen-automerge/src/lib.rs
  crates/aspen-automerge/src/sync_protocol.rs
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy, cargo-deny

Add e2e tests proving capability auth on automerge sync
  Cargo.lock
  crates/aspen-automerge/Cargo.toml
  crates/aspen-automerge/tests/capability_auth_e2e.rs
Due: rustfmt, cargo-clippy, cargo-deny

Add AutomergeSyncTicket to bundle address and capability
  crates/aspen-automerge/src/lib.rs
  crates/aspen-automerge/src/ticket.rs
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy

Close forge CLI gaps and add NixOS VM integration test
  .agent/napkin.md
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/patch.rs
  flake.nix
  nix/tests/forge-cluster.nix
Due: rustfmt, cargo-clippy, markdownlint

Fix NixOS VM test to actually pass in sandbox
  .agent/napkin.md
  crates/aspen-cli/src/bin/aspen-cli/main.rs
  flake.nix
  nix/tests/forge-cluster.nix
Due: rustfmt, cargo-clippy, markdownlint

Add multi-node NixOS VM test for Raft consensus and failover
  .agent/napkin.md
  flake.nix
  nix/tests/multi-node-cluster.nix
Due: markdownlint

Fix three multi-node cluster failures exposed by VM tests
  .agent/napkin.md
  crates/aspen-blob/src/constants.rs
  crates/aspen-blob/src/lib.rs
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-cluster-handler/src/handler/membership.rs
  crates/aspen-forge/src/cob/store/persistence.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/store.rs
  crates/aspen-kv-handler/src/handler/cas.rs
  crates/aspen-kv-handler/src/handler/delete.rs
  crates/aspen-kv-handler/src/handler/write.rs
Due: rustfmt, cargo-clippy, markdownlint
