Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

Add log bridge stderr capture test, complete fix-dogfood-ci-clippy
  crates/aspen-ci-executor-shell/Cargo.toml
  crates/aspen-ci-executor-shell/tests/log_bridge_test.rs
  openspec/changes/fix-dogfood-ci-clippy/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Implement encrypted secrets at rest
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/backend.rs
  crates/aspen-trust/Cargo.toml
  crates/aspen-trust/src/encryption.rs
  crates/aspen-trust/src/envelope.rs
  crates/aspen-trust/src/lib.rs
  crates/aspen-trust/src/nonce.rs
  openspec/changes/encrypted-secrets-at-rest/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Implement node expungement core types and storage
  crates/aspen-cluster-types/src/lib.rs
  crates/aspen-raft/src/storage_shared/error.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-raft/src/storage_shared/types.rs
  openspec/changes/node-expungement-protocol/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Add TLA+ trust init spec with model checking
  openspec/changes/tla-plus-model-checking/tasks.md
  tla/.gitignore
  tla/README.md
  tla/trust_init.cfg
  tla/trust_init.tla
Due: markdownlint

Implement secret rotation state machine and encrypted chain
  crates/aspen-trust/Cargo.toml
  crates/aspen-trust/src/chain.rs
  crates/aspen-trust/src/lib.rs
  crates/aspen-trust/src/reconfig.rs
  openspec/changes/secret-rotation-on-membership-change/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Update Cargo.lock for new trust dependencies
  Cargo.lock
Due: cargo-deny

Fix review findings: overclaimed tasks, unsafe plaintext detection, missing traits
  crates/aspen-secrets/src/backend.rs
  crates/aspen-trust/src/encryption.rs
  crates/aspen-trust/src/envelope.rs
  crates/aspen-trust/src/reconfig.rs
  openspec/changes/encrypted-secrets-at-rest/tasks.md
  openspec/changes/secret-rotation-on-membership-change/tasks.md
  openspec/changes/tla-plus-model-checking/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Implement multi-epoch decryption and unambiguous envelope detection
  crates/aspen-secrets/src/backend.rs
  crates/aspen-trust/src/encryption.rs
  crates/aspen-trust/src/envelope.rs
  openspec/changes/encrypted-secrets-at-rest/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Eliminate plaintext detection heuristic, guard remove_epoch_key, sync tasks
  crates/aspen-secrets/src/backend.rs
  crates/aspen-trust/src/encryption.rs
  openspec/changes/encrypted-secrets-at-rest/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Fix false-positive detection, sync spec/design, narrow task 4.4
  crates/aspen-secrets/src/backend.rs
  crates/aspen-trust/src/encryption.rs
  openspec/changes/encrypted-secrets-at-rest/design.md
  openspec/changes/encrypted-secrets-at-rest/specs/secrets-encryption-at-rest/spec.md
  openspec/changes/encrypted-secrets-at-rest/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Split envelope detection from tamper detection, reconcile spec
  crates/aspen-secrets/src/backend.rs
  crates/aspen-trust/src/encryption.rs
  openspec/changes/encrypted-secrets-at-rest/design.md
  openspec/changes/encrypted-secrets-at-rest/specs/secrets-encryption-at-rest/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Fix stale spec wording, add backend tamper-detection test
  Cargo.lock
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/backend.rs
  openspec/changes/encrypted-secrets-at-rest/specs/secrets-encryption-at-rest/spec.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

dogfood: restore script parity
  AGENTS.md
  crates/aspen-dogfood/src/cluster.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/node.rs
  crates/aspen-dogfood/src/state.rs
  docs/deploy.md
  flake.nix
  nix/tests/dogfood-binary-smoke.nix
  openspec/changes/active/2026-04-08-port-dogfood-federation-orchestration/.openspec.yaml
  openspec/changes/active/2026-04-08-port-dogfood-federation-orchestration/proposal.md
  openspec/changes/active/2026-04-08-port-dogfood-federation-orchestration/tasks.md
  openspec/changes/archive/2026-04-08-fix-aspen-dogfood-parity/.openspec.yaml
  openspec/changes/archive/2026-04-08-fix-aspen-dogfood-parity/proposal.md
  openspec/changes/archive/2026-04-08-fix-aspen-dogfood-parity/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

dogfood: Keep runtime proof honest
  AGENTS.md
  crates/aspen-dogfood/src/ci.rs
  crates/aspen-dogfood/src/cluster.rs
  crates/aspen-dogfood/src/deploy.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-trust/src/reconfig.rs
  openspec/changes/active/2026-04-08-port-dogfood-federation-orchestration/proposal.md
  openspec/changes/archive/2026-04-08-fix-aspen-dogfood-parity/proposal.md
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive ci-clippy and analytics fixes
  .agent/napkin.md
  AGENTS.md
  openspec/changes/archive/2026-04-08-fix-dogfood-ci-clippy/.openspec.yaml
  openspec/changes/archive/2026-04-08-fix-dogfood-ci-clippy/design.md
  openspec/changes/archive/2026-04-08-fix-dogfood-ci-clippy/proposal.md
  openspec/changes/archive/2026-04-08-fix-dogfood-ci-clippy/specs/ci-failure-diagnostics/spec.md
  openspec/changes/archive/2026-04-08-fix-dogfood-ci-clippy/specs/ci-forge-nix-compat/spec.md
  openspec/changes/archive/2026-04-08-fix-dogfood-ci-clippy/tasks.md
  openspec/changes/archive/2026-04-08-fix-job-analytics-sql-generation/.openspec.yaml
  openspec/changes/archive/2026-04-08-fix-job-analytics-sql-generation/design.md
  openspec/changes/archive/2026-04-08-fix-job-analytics-sql-generation/proposal.md
  openspec/changes/archive/2026-04-08-fix-job-analytics-sql-generation/specs/job-analytics/spec.md
  openspec/changes/archive/2026-04-08-fix-job-analytics-sql-generation/tasks.md
  openspec/specs/ci-failure-diagnostics/spec.md
  openspec/specs/ci-forge-nix-compat/spec.md
  openspec/specs/job-analytics/spec.md
Due: markdownlint

Verify and archive federation dogfood orchestration
  .agent/napkin.md
  AGENTS.md
  Cargo.lock
  crates/aspen-dogfood/Cargo.toml
  crates/aspen-dogfood/src/ci.rs
  crates/aspen-dogfood/src/error.rs
  crates/aspen-dogfood/src/federation.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
  openspec/changes/active/2026-04-08-port-dogfood-federation-orchestration/tasks.md
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/.openspec.yaml
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/audit.md
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/evidence/bash-n-openspec-preflight.txt
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/evidence/cargo-test-aspen-dogfood.txt
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/evidence/federation-build.txt
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/evidence/federation-push.txt
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/evidence/federation-start.txt
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/evidence/implementation-diff.txt
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/proposal.md
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/tasks.md
  openspec/changes/archive/2026-04-08-port-dogfood-federation-orchestration/verification.md
  openspec/templates/verification.md
  scripts/openspec-preflight.sh
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

dogfood: Keep repeated federation setup from aborting builds
  .agent/napkin.md
  crates/aspen-dogfood/src/federation.rs
Due: rustfmt, cargo-clippy, markdownlint

testing: Make harness metadata authoritative
  .agent/napkin.md
  AGENTS.md
  Cargo.lock
  crates/aspen-testing/Cargo.toml
  crates/aspen-testing/src/bin/aspen-test-harness.rs
  crates/aspen-testing/src/lib.rs
  crates/aspen-testing/src/suite_inventory.rs
  flake.nix
  nix/tests/lib/generated-harness-checks.nix
  openspec/changes/testing-harness-control-plane/.openspec.yaml
  openspec/changes/testing-harness-control-plane/design.md
  openspec/changes/testing-harness-control-plane/evidence/cargo-test-suite-inventory.txt
  openspec/changes/testing-harness-control-plane/evidence/metadata-inventory.diff
  openspec/changes/testing-harness-control-plane/evidence/nix-eval-generated-vm-checks.txt
  openspec/changes/testing-harness-control-plane/evidence/openspec-preflight.txt
  openspec/changes/testing-harness-control-plane/evidence/test-harness-check.txt
  openspec/changes/testing-harness-control-plane/evidence/test-harness-export.txt
  openspec/changes/testing-harness-control-plane/evidence/test-harness-list-patchbay.txt
  openspec/changes/testing-harness-control-plane/evidence/test-harness-list-vm-commands.txt
  openspec/changes/testing-harness-control-plane/proposal.md
  openspec/changes/testing-harness-control-plane/specs/patchbay-harness/spec.md
  openspec/changes/testing-harness-control-plane/specs/test-harness-reporting/spec.md
  openspec/changes/testing-harness-control-plane/specs/test-harness-runtime/spec.md
  openspec/changes/testing-harness-control-plane/specs/test-suite-metadata/spec.md
  openspec/changes/testing-harness-control-plane/tasks.md
  openspec/changes/testing-harness-control-plane/verification.md
  scripts/test-harness.sh
  test-harness/generated/inventory.json
  test-harness/schema.ncl
  test-harness/suites/patchbay/patchbay-fault.ncl
  test-harness/suites/patchbay/patchbay-nat.ncl
  test-harness/suites/rust/blob-replication.ncl
  test-harness/suites/rust/job-integration.ncl
  test-harness/suites/vm/multi-node-blob.ncl
  test-harness/suites/vm/multi-node-kv.ncl
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

testing: Stop stale harness metadata from reaching consumers
  .agent/napkin.md
  AGENTS.md
  Cargo.lock
  crates/aspen-testing/Cargo.toml
  crates/aspen-testing/src/suite_inventory.rs
  flake.nix
  nix/tests/lib/test-harness-metadata.nix
  openspec/changes/testing-harness-control-plane/design.md
  openspec/changes/testing-harness-control-plane/evidence/cargo-test-suite-inventory.txt
  openspec/changes/testing-harness-control-plane/evidence/markdownlint-harness-docs.txt
  openspec/changes/testing-harness-control-plane/evidence/metadata-inventory.diff
  openspec/changes/testing-harness-control-plane/evidence/nix-eval-flake-stale-inventory-fail.txt
  openspec/changes/testing-harness-control-plane/evidence/nix-eval-generated-vm-checks.txt
  openspec/changes/testing-harness-control-plane/evidence/nix-eval-harness-metadata-fail.txt
  openspec/changes/testing-harness-control-plane/evidence/nix-eval-harness-metadata-pass.txt
  openspec/changes/testing-harness-control-plane/evidence/openspec-preflight.txt
  openspec/changes/testing-harness-control-plane/evidence/shellcheck-test-harness.txt
  openspec/changes/testing-harness-control-plane/evidence/test-harness-list-stale-inventory.txt
  openspec/changes/testing-harness-control-plane/proposal.md
  openspec/changes/testing-harness-control-plane/verification.md
  scripts/test-harness.sh
  test-harness/generated/inventory.json
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

testing: Make harness evidence match the reviewed delta
  .agent/napkin.md
  AGENTS.md
  openspec/changes/testing-harness-control-plane/evidence/markdownlint-harness-docs.txt
  openspec/changes/testing-harness-control-plane/evidence/metadata-inventory.diff
  openspec/changes/testing-harness-control-plane/evidence/openspec-preflight.txt
  openspec/changes/testing-harness-control-plane/evidence/shellcheck-test-harness.txt
  openspec/changes/testing-harness-control-plane/verification.md
Due: markdownlint

openspec: archive testing-harness-control-plane
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/.openspec.yaml
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/design.md
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/cargo-test-suite-inventory.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/harness-facade-validation.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/markdownlint-harness-docs.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/metadata-inventory.diff
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/nix-eval-flake-stale-inventory-fail.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/nix-eval-generated-vm-checks.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/nix-eval-harness-metadata-fail.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/nix-eval-harness-metadata-pass.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/shellcheck-test-harness.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/test-harness-check.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/test-harness-export.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/test-harness-list-patchbay.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/test-harness-list-stale-inventory.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/evidence/test-harness-list-vm-commands.txt
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/proposal.md
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/specs/patchbay-harness/spec.md
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/specs/test-harness-reporting/spec.md
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/specs/test-harness-runtime/spec.md
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/specs/test-suite-metadata/spec.md
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/tasks.md
  openspec/changes/archive/2026-04-08-testing-harness-control-plane/verification.md
  openspec/changes/testing-harness-control-plane/evidence/nix-eval-harness-metadata-pass.txt
  openspec/changes/testing-harness-control-plane/tasks.md
  openspec/changes/testing-harness-control-plane/verification.md
  openspec/specs/patchbay-harness/spec.md
  openspec/specs/test-harness-reporting/spec.md
  openspec/specs/test-harness-runtime/spec.md
  openspec/specs/test-suite-metadata/spec.md
Due: markdownlint

testing: Extract shared TestCluster trait and replace fixed sleeps with polling
  .gitignore
  Cargo.lock
  crates/aspen-ci-executor-shell/tests/log_bridge_test.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-secrets/src/backend.rs
  crates/aspen-testing-core/Cargo.toml
  crates/aspen-testing-core/src/harness.rs
  crates/aspen-testing-core/src/lib.rs
  crates/aspen-testing-core/src/wait_helpers.rs
  crates/aspen-testing-patchbay/Cargo.toml
  crates/aspen-testing-patchbay/src/harness.rs
  crates/aspen-testing/src/bin/aspen-test-harness.rs
  crates/aspen-testing/src/lib.rs
  crates/aspen-testing/src/run_report.rs
  crates/aspen-trust/src/chain.rs
  crates/aspen-trust/src/encryption.rs
  crates/aspen-trust/src/envelope.rs
  crates/aspen-trust/tests/cluster_trust_integration.rs
  nix/tests/lib/wait-helpers.nix
  scripts/test-harness.sh
  tests/support/real_cluster.rs
Due: rustfmt, cargo-clippy, cargo-deny

openspec: complete finish-shamir-cluster-secret-raft-distribution — sync specs + archive
  crates/aspen-raft-types/src/lib.rs
  crates/aspen-raft-types/src/request.rs
  crates/aspen-raft/src/node/cluster_controller.rs
  crates/aspen-raft/src/node/tests.rs
  crates/aspen-raft/src/node/trust.rs
  crates/aspen-raft/src/storage/in_memory/state_machine.rs
  crates/aspen-raft/src/storage_shared/initialization.rs
  crates/aspen-raft/src/storage_shared/log_storage.rs
  crates/aspen-raft/src/storage_shared/mod.rs
  crates/aspen-raft/src/storage_shared/state_machine/dispatch.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-raft/src/types.rs
  crates/aspen-transport/src/log_subscriber/kv_operation.rs
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/.openspec.yaml
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/design.md
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/aspen-raft-no-feature-build.txt
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/aspen-raft-trust-multinode-test.txt
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/aspen-raft-trust-tests.txt
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/aspen-raft-types-tests.txt
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/implementation.diff
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/proposal.md
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/specs/cluster-secret-lifecycle/spec.md
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/tasks.md
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/verification.md
  openspec/specs/cluster-secret-lifecycle/spec.md
  tests/consumer_group_integration_test.rs
  tests/forge_real_cluster_integration_test.rs
  tests/fuse_raft_cluster_test.rs
  tests/inmemory_api_test.rs
  tests/multi_node_cluster_test.rs
  tests/pubsub_integration_test.rs
  tests/raft_node_direct_api_test.rs
  tests/relay_status_test.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
  tests/verify_integration_test.rs
  tests/write_batching_integration.rs
Due: rustfmt, cargo-clippy, markdownlint

openspec: repair shamir trust archive evidence
  .agent/napkin.md
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/archive-layout.txt
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/aspen-trust-tests.txt
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/evidence/implementation.diff
  openspec/changes/archive/2026-04-09-finish-shamir-cluster-secret-raft-distribution/verification.md
Due: markdownlint

openspec: archive durable-tigerstyle-audit
  crates/aspen-ci-core/src/verified/pipeline.rs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/.openspec.yaml
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/audit-report.md
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/design.md
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/auth-tests.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/ci-core-verified-tests.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/ci-handler-tests.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/cluster-discovery-tests.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/core-essentials-coordination-tests.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/forge-handler-executor-tests.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/forge-ref-validation-tests.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/initial-scan.json
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/initial-scan.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/phase1-audit-diff.patch
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/phase4-dispatcher-diff.patch
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/post-phase4-scan.json
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/post-phase4-scan.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/post-slice-scan.json
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/post-slice-scan.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/remediation-slice-diff.patch
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/review-fixes-diff.patch
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/evidence/scanner-regression.txt
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/proposal.md
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/specs/tigerstyle-audit/spec.md
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/tasks.md
  openspec/changes/archive/2026-04-09-durable-tigerstyle-audit/verification.md
  openspec/specs/tigerstyle-audit/spec.md
  scripts/tigerstyle-audit.py
  tools/tigerstyle/fixtures/trait_declaration_false_positive.rs
  tools/tigerstyle/test_tigerstyle_audit.py
Due: rustfmt, cargo-clippy, markdownlint

Split oversized dispatchers into request-family helpers with characterization tests
  .agent/napkin.md
  Cargo.lock
  crates/aspen-auth/src/capability.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-cluster/src/gossip/discovery/helpers.rs
  crates/aspen-cluster/src/gossip/discovery/lifecycle.rs
  crates/aspen-cluster/src/gossip/discovery/mod.rs
  crates/aspen-core-essentials-handler/src/coordination.rs
  crates/aspen-forge-handler/Cargo.toml
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge/src/verified/ref_validation.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

trust: Preserve rotation context across membership changes
  .agent/napkin.md
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap/node/mod.rs
  crates/aspen-cluster/src/router_builder.rs
  crates/aspen-raft-types/Cargo.toml
  crates/aspen-raft-types/src/lib.rs
  crates/aspen-raft-types/src/request.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/node/cluster_controller.rs
  crates/aspen-raft/src/node/mod.rs
  crates/aspen-raft/src/node/trust.rs
  crates/aspen-raft/src/storage/in_memory/state_machine.rs
  crates/aspen-raft/src/storage_shared/initialization.rs
  crates/aspen-raft/src/storage_shared/log_storage.rs
  crates/aspen-raft/src/storage_shared/state_machine/dispatch.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-raft/src/storage_shared/types.rs
  crates/aspen-raft/src/trust_reconfig_watcher.rs
  crates/aspen-raft/src/trust_share_client.rs
  crates/aspen-raft/src/types.rs
  crates/aspen-transport/Cargo.toml
  crates/aspen-transport/src/constants.rs
  crates/aspen-transport/src/lib.rs
  crates/aspen-transport/src/log_subscriber/kv_operation.rs
  crates/aspen-transport/src/trust.rs
  crates/aspen-trust/Cargo.toml
  crates/aspen-trust/src/lib.rs
  crates/aspen-trust/src/protocol.rs
  crates/aspen-trust/src/reconfig.rs
  crates/aspen-trust/src/shamir.rs
  openspec/changes/secret-rotation-on-membership-change/tasks.md
  src/bin/aspen_node/setup/router.rs
  src/lib.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

fix: Use TestContextBuilder in forge-web test to survive feature unification
  crates/aspen-forge-web/Cargo.toml
  crates/aspen-forge-web/tests/patchbay_forge_web_test.rs
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-trust/src/key_manager.rs
  crates/aspen-trust/src/reencrypt.rs
Due: rustfmt, cargo-clippy

trust: Encrypt secrets engine data at rest using cluster-derived keys
  Cargo.lock
  crates/aspen-raft/src/storage_shared/initialization.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-raft/src/storage_shared/types.rs
  crates/aspen-secrets/src/backend.rs
  crates/aspen-secrets/src/mount_registry.rs
  crates/aspen-trust/Cargo.toml
  crates/aspen-trust/src/lib.rs
  docs/trust-quorum.md
  openspec/changes/encrypted-secrets-at-rest/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

trust: Keep secret rotation safe for fresh voters
  .agent/napkin.md
  AGENTS.md
  crates/aspen-raft/src/node/tests.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-trust/src/chain.rs
  crates/aspen-trust/src/reconfig.rs
  crates/aspen-trust/verus/chain_spec.rs
  crates/aspen-trust/verus/lib.rs
  openspec/changes/secret-rotation-on-membership-change/evidence/aspen-raft-crash-test.txt
  openspec/changes/secret-rotation-on-membership-change/evidence/aspen-raft-rotation-test.txt
  openspec/changes/secret-rotation-on-membership-change/evidence/aspen-trust-tests.txt
  openspec/changes/secret-rotation-on-membership-change/evidence/implementation.diff
  openspec/changes/secret-rotation-on-membership-change/evidence/openspec-preflight.txt
  openspec/changes/secret-rotation-on-membership-change/evidence/source-locations.txt
  openspec/changes/secret-rotation-on-membership-change/evidence/trust-reconfig-source-survey.txt
  openspec/changes/secret-rotation-on-membership-change/evidence/verus-trust-spec.txt
  openspec/changes/secret-rotation-on-membership-change/tasks.md
  openspec/changes/secret-rotation-on-membership-change/verification.md
Due: rustfmt, cargo-clippy, markdownlint

Make secrets reads fail when quorum is gone
  Cargo.lock
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/node/tests.rs
  crates/aspen-secrets/src/backend.rs
  crates/aspen-secrets/src/error.rs
  crates/aspen-secrets/src/lib.rs
  openspec/changes/encrypted-secrets-at-rest/evidence/aspen-raft-secrets-quorum-test.txt
  openspec/changes/encrypted-secrets-at-rest/evidence/aspen-raft-trust-helper-regressions.txt
  openspec/changes/encrypted-secrets-at-rest/evidence/implementation.diff
  openspec/changes/encrypted-secrets-at-rest/evidence/openspec-preflight.txt
  openspec/changes/encrypted-secrets-at-rest/evidence/source-survey.txt
  openspec/changes/encrypted-secrets-at-rest/tasks.md
  openspec/changes/encrypted-secrets-at-rest/verification.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

feat(coordination): add distributed lock sets
  Cargo.lock
  crates/aspen-client-api/src/messages/coordination.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/coordination_ops.rs
  crates/aspen-client/src/coordination/lockset.rs
  crates/aspen-client/src/coordination/mod.rs
  crates/aspen-constants/src/assertions.rs
  crates/aspen-constants/src/coordination.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-coordination-protocol/src/lib.rs
  crates/aspen-coordination/Cargo.toml
  crates/aspen-coordination/src/error.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/lockset.rs
  crates/aspen-coordination/src/spec/lockset_invariants.rs
  crates/aspen-coordination/src/spec/mod.rs
  crates/aspen-coordination/src/types.rs
  crates/aspen-coordination/src/verified/lockset.rs
  crates/aspen-coordination/src/verified/mod.rs
  crates/aspen-core-essentials-handler/src/coordination.rs
  crates/aspen-core/src/constants/mod.rs
  crates/aspen-trust/src/reconfig.rs
  crates/aspen-trust/verus/lib.rs
  openspec/changes/archive/2026-04-11-distributed-lockset/.openspec.yaml
  openspec/changes/archive/2026-04-11-distributed-lockset/design.md
  openspec/changes/archive/2026-04-11-distributed-lockset/evidence/cargo-check-coordination.txt
  openspec/changes/archive/2026-04-11-distributed-lockset/evidence/cargo-check-rpc-client.txt
  openspec/changes/archive/2026-04-11-distributed-lockset/evidence/implementation-diff.txt
  openspec/changes/archive/2026-04-11-distributed-lockset/evidence/lockset-targeted-tests.txt
  openspec/changes/archive/2026-04-11-distributed-lockset/evidence/preflight.txt
  openspec/changes/archive/2026-04-11-distributed-lockset/proposal.md
  openspec/changes/archive/2026-04-11-distributed-lockset/specs/distributed-lockset/spec.md
  openspec/changes/archive/2026-04-11-distributed-lockset/tasks.md
  openspec/changes/archive/2026-04-11-distributed-lockset/verification.md
  openspec/specs/distributed-lockset/spec.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

fix(auth): canonicalize lock-set operation keys
  crates/aspen-client-api/src/messages/coordination.rs
  crates/aspen-client-api/src/messages/to_operation/coordination_ops.rs
Due: rustfmt, cargo-clippy

test(auth): cover canonical lock-set token routing
  crates/aspen-client-api/src/messages/coordination.rs
  crates/aspen-client-api/src/messages/to_operation/coordination_ops.rs
Due: rustfmt, cargo-clippy

tests: Keep protocol and rate-limit regressions honest
  .agent/napkin.md
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/tests/golden/request_discriminants.txt
  crates/aspen-client-api/tests/golden/response_discriminants.txt
  crates/aspen-client-api/tests/wire_format_golden.rs
  crates/aspen-coordination/src/rate_limiter.rs
  crates/aspen-coordination/tests/proptest_model_based.rs
Due: rustfmt, cargo-clippy, markdownlint

coordination: enforce rate limiter invariants at the boundary
  .agent/napkin.md
  crates/aspen-coordination/src/rate_limiter.rs
  crates/aspen-coordination/tests/proptest_model_based.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(trust): implement node expungement protocol
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-client-api/src/messages/cluster.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/cluster_ops.rs
  crates/aspen-cluster-handler/src/handler/membership.rs
  crates/aspen-cluster-handler/src/handler/mod.rs
  crates/aspen-cluster/src/bootstrap/node/storage_init.rs
  crates/aspen-raft/src/node/mod.rs
  crates/aspen-raft/src/node/trust.rs
  crates/aspen-raft/src/server.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-raft/src/trust_reconfig_watcher.rs
  crates/aspen-raft/src/trust_share_client.rs
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-transport/src/raft_authenticated.rs
  crates/aspen-transport/src/trust.rs
  crates/aspen-trust/src/protocol.rs
  openspec/changes/node-expungement-protocol/tasks.md
  src/node/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Add NixOS VM integration test for node expungement
  flake.nix
  nix/tests/trust-expungement.nix
  openspec/changes/node-expungement-protocol/tasks.md
Due: markdownlint

nix: Keep source filters from pulling local build trees into eval
  .agent/napkin.md
  AGENTS.md
  flake.nix
Due: markdownlint
