Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

Archive Hermit unikernel profile spec
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/.openspec.yaml
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/design.md
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/evidence/final-validation.md
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/evidence/hermit-portable-model-admission.md
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/evidence/hermit-runtime-docs.md
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/proposal.md
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-07-implement-hermit-unikernel-profile/tasks.md
  openspec/specs/runtime-host-loading/spec.md
Due: markdownlint

Model Hyperlight runtime runner profile
  crates/aspen-runtime-core/src/lib.rs
  openspec/changes/implement-hyperlight-runtime-runner/evidence/hyperlight-portable-model-admission.md
  openspec/changes/implement-hyperlight-runtime-runner/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Document Hyperlight runtime runner boundary
  docs/runtime-applications.md
  openspec/changes/implement-hyperlight-runtime-runner/evidence/hyperlight-runtime-docs.md
  openspec/changes/implement-hyperlight-runtime-runner/tasks.md
Due: markdownlint

Record Hyperlight runner validation
  openspec/changes/implement-hyperlight-runtime-runner/evidence/final-validation.md
  openspec/changes/implement-hyperlight-runtime-runner/tasks.md
Due: markdownlint

Archive Hyperlight runtime runner spec
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/.openspec.yaml
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/design.md
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/evidence/final-validation.md
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/evidence/hyperlight-portable-model-admission.md
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/evidence/hyperlight-runtime-docs.md
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/proposal.md
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-07-implement-hyperlight-runtime-runner/tasks.md
  openspec/specs/runtime-host-loading/spec.md
Due: markdownlint

Model microVM runtime runner profile
  crates/aspen-runtime-core/src/lib.rs
  openspec/changes/implement-microvm-runtime-runner/evidence/microvm-portable-model-admission.md
  openspec/changes/implement-microvm-runtime-runner/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Document microVM runtime runner boundary
  docs/runtime-applications.md
  openspec/changes/implement-microvm-runtime-runner/evidence/microvm-runtime-docs.md
  openspec/changes/implement-microvm-runtime-runner/tasks.md
Due: markdownlint

Record microVM runner validation
  openspec/changes/implement-microvm-runtime-runner/evidence/final-validation.md
  openspec/changes/implement-microvm-runtime-runner/tasks.md
Due: markdownlint

Archive microVM runtime runner spec
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/.openspec.yaml
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/design.md
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/evidence/final-validation.md
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/evidence/microvm-portable-model-admission.md
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/evidence/microvm-runtime-docs.md
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/proposal.md
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-07-implement-microvm-runtime-runner/tasks.md
  openspec/specs/runtime-host-loading/spec.md
Due: markdownlint

Model WASM runtime host boundary
  crates/aspen-runtime-core/src/lib.rs
  openspec/changes/implement-wasm-runtime-service-host/evidence/wasm-portable-model-admission.md
  openspec/changes/implement-wasm-runtime-service-host/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Document WASM runtime host boundary
  docs/runtime-applications.md
  openspec/changes/implement-wasm-runtime-service-host/evidence/wasm-runtime-docs.md
  openspec/changes/implement-wasm-runtime-service-host/tasks.md
Due: markdownlint

Record WASM runtime host validation
  openspec/changes/implement-wasm-runtime-service-host/evidence/final-validation.md
  openspec/changes/implement-wasm-runtime-service-host/tasks.md
Due: markdownlint

Archive WASM runtime host spec
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/.openspec.yaml
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/design.md
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/evidence/final-validation.md
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/evidence/wasm-portable-model-admission.md
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/evidence/wasm-runtime-docs.md
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/proposal.md
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-07-implement-wasm-runtime-service-host/tasks.md
  openspec/specs/runtime-host-loading/spec.md
Due: markdownlint

Lower OCI artifacts into isolated runtime hosts
  crates/aspen-runtime-core/src/lib.rs
  docs/runtime-applications.md
  openspec/changes/lower-oci-artifacts-to-isolated-hosts/evidence/final-validation.md
  openspec/changes/lower-oci-artifacts-to-isolated-hosts/evidence/oci-lowering-model-admission-docs.md
  openspec/changes/lower-oci-artifacts-to-isolated-hosts/specs/runtime-host-loading/spec.md
  openspec/changes/lower-oci-artifacts-to-isolated-hosts/tasks.md
  openspec/specs/runtime-host-loading/spec.md
  tests/runtime_host_loading_docs_test.rs
Due: rustfmt, cargo-clippy, markdownlint

Archive OCI lowering host-loading spec
  openspec/changes/archive/2026-05-07-lower-oci-artifacts-to-isolated-hosts/.openspec.yaml
  openspec/changes/archive/2026-05-07-lower-oci-artifacts-to-isolated-hosts/design.md
  openspec/changes/archive/2026-05-07-lower-oci-artifacts-to-isolated-hosts/evidence/final-validation.md
  openspec/changes/archive/2026-05-07-lower-oci-artifacts-to-isolated-hosts/evidence/oci-lowering-model-admission-docs.md
  openspec/changes/archive/2026-05-07-lower-oci-artifacts-to-isolated-hosts/proposal.md
  openspec/changes/archive/2026-05-07-lower-oci-artifacts-to-isolated-hosts/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-07-lower-oci-artifacts-to-isolated-hosts/tasks.md
  openspec/specs/runtime-host-loading/spec.md
Due: markdownlint

Make CI UCAN dependency resolution offline
  flake.nix
Due: none

Make dogfood stop on CI checkout failures
  crates/aspen-dogfood/src/ci.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
  docs/runtime-applications.md
Due: rustfmt, cargo-clippy, markdownlint

Add runtime host E2E matrix spec
  crates/aspen-testing/src/suite_inventory.rs
  openspec/changes/add-runtime-host-e2e-matrix/.openspec.yaml
  openspec/changes/add-runtime-host-e2e-matrix/design.md
  openspec/changes/add-runtime-host-e2e-matrix/proposal.md
  openspec/changes/add-runtime-host-e2e-matrix/specs/runtime-host-loading/spec.md
  openspec/changes/add-runtime-host-e2e-matrix/tasks.md
  test-harness/generated/inventory.json
  test-harness/schema.ncl
  test-harness/suites/vm/runtime-host-microvm-ci.ncl
Due: rustfmt, cargo-clippy, markdownlint

Archive runtime host E2E matrix spec
  crates/aspen-testing/src/run_report.rs
  crates/aspen-testing/src/suite_inventory.rs
  openspec/changes/archive/2026-05-07-add-runtime-host-e2e-matrix/.openspec.yaml
  openspec/changes/archive/2026-05-07-add-runtime-host-e2e-matrix/design.md
  openspec/changes/archive/2026-05-07-add-runtime-host-e2e-matrix/proposal.md
  openspec/changes/archive/2026-05-07-add-runtime-host-e2e-matrix/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-07-add-runtime-host-e2e-matrix/tasks.md
  openspec/specs/runtime-host-loading/spec.md
  scripts/test-harness.sh
  test-harness/generated/inventory.json
  test-harness/schema.ncl
  test-harness/suites/vm/runtime-host-hermit-gap.ncl
  test-harness/suites/vm/runtime-host-hyperlight-gap.ncl
  test-harness/suites/vm/runtime-host-microvm-ci.ncl
  test-harness/suites/vm/runtime-host-oci-lowering-gap.ncl
  test-harness/suites/vm/runtime-host-wasm-gap.ncl
Due: rustfmt, cargo-clippy, markdownlint

Prove snapshot VM CI execution
  Cargo.toml
  crates/aspen-ci-executor-vm/src/pool.rs
  crates/aspen-ci-executor-vm/src/snapshot.rs
  crates/aspen-ci-executor-vm/src/vm/cleanup.rs
  crates/aspen-ci-executor-vm/src/vm/lifecycle.rs
  crates/aspen-ci-executor-vm/src/vm/monitoring.rs
  crates/aspen-ci-executor-vm/src/vm/provisioning.rs
  crates/aspen-ci-executor-vm/src/vm/restore.rs
  flake.nix
  nix/tests/vm-snapshot-e2e.nix
  nix/vms/ci-worker-node.nix
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Trim snapshot VM E2E diagnostics
  nix/tests/vm-snapshot-e2e.nix
Due: none

Document runtime host readiness evidence
  README.md
  docs/runtime-host-readiness.md
  tests/runtime_host_readiness_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Spec WASM runtime host E2E promotion
  openspec/changes/promote-wasm-runtime-host-e2e/.openspec.yaml
  openspec/changes/promote-wasm-runtime-host-e2e/design.md
  openspec/changes/promote-wasm-runtime-host-e2e/proposal.md
  openspec/changes/promote-wasm-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/promote-wasm-runtime-host-e2e/tasks.md
Due: markdownlint

Promote WASM runtime host E2E
  crates/aspen-jobs/src/vm_executor/wasm_component.rs
  crates/aspen-jobs/tests/wasm_product_path_test.rs
  docs/runtime-host-readiness.md
  openspec/changes/archive/2026-05-08-promote-wasm-runtime-host-e2e/.openspec.yaml
  openspec/changes/archive/2026-05-08-promote-wasm-runtime-host-e2e/design.md
  openspec/changes/archive/2026-05-08-promote-wasm-runtime-host-e2e/proposal.md
  openspec/changes/archive/2026-05-08-promote-wasm-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-08-promote-wasm-runtime-host-e2e/tasks.md
  openspec/changes/promote-wasm-runtime-host-e2e/tasks.md
  openspec/specs/runtime-host-loading/spec.md
  test-harness/generated/inventory.json
  test-harness/suites/vm/runtime-host-wasm-gap.ncl
  tests/runtime_host_readiness_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Spec Hyperlight runtime host promotion
  openspec/changes/promote-hyperlight-runtime-host-e2e/.openspec.yaml
  openspec/changes/promote-hyperlight-runtime-host-e2e/design.md
  openspec/changes/promote-hyperlight-runtime-host-e2e/proposal.md
  openspec/changes/promote-hyperlight-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/promote-hyperlight-runtime-host-e2e/tasks.md
Due: markdownlint

Promote Hyperlight runtime host E2E
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/tests/hyperlight_product_path_test.rs
  docs/runtime-host-readiness.md
  openspec/changes/archive/2026-05-08-promote-hyperlight-runtime-host-e2e/.openspec.yaml
  openspec/changes/archive/2026-05-08-promote-hyperlight-runtime-host-e2e/design.md
  openspec/changes/archive/2026-05-08-promote-hyperlight-runtime-host-e2e/proposal.md
  openspec/changes/archive/2026-05-08-promote-hyperlight-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-08-promote-hyperlight-runtime-host-e2e/tasks.md
  openspec/changes/promote-hyperlight-runtime-host-e2e/tasks.md
  openspec/specs/runtime-host-loading/spec.md
  test-harness/generated/inventory.json
  test-harness/suites/vm/runtime-host-hyperlight-gap.ncl
  tests/runtime_host_readiness_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Spec OCI lowering runtime host promotion
  openspec/changes/promote-oci-lowering-runtime-host-e2e/.openspec.yaml
  openspec/changes/promote-oci-lowering-runtime-host-e2e/design.md
  openspec/changes/promote-oci-lowering-runtime-host-e2e/proposal.md
  openspec/changes/promote-oci-lowering-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/promote-oci-lowering-runtime-host-e2e/tasks.md
Due: markdownlint

Promote OCI lowering runtime host E2E
  Cargo.lock
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/tests/oci_lowering_product_path_test.rs
  docs/runtime-host-readiness.md
  openspec/changes/archive/2026-05-08-promote-oci-lowering-runtime-host-e2e/.openspec.yaml
  openspec/changes/archive/2026-05-08-promote-oci-lowering-runtime-host-e2e/design.md
  openspec/changes/archive/2026-05-08-promote-oci-lowering-runtime-host-e2e/proposal.md
  openspec/changes/archive/2026-05-08-promote-oci-lowering-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-08-promote-oci-lowering-runtime-host-e2e/tasks.md
  openspec/changes/promote-oci-lowering-runtime-host-e2e/tasks.md
  openspec/specs/runtime-host-loading/spec.md
  test-harness/generated/inventory.json
  test-harness/suites/vm/runtime-host-oci-lowering-gap.ncl
  tests/runtime_host_readiness_docs.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

Spec Hermit Uhyve runtime host promotion
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/.openspec.yaml
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/design.md
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/proposal.md
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/tasks.md
Due: markdownlint

Add Hermit Uhyve runtime host worker
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/vm_executor/hermit_uhyve.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/tests/hermit_uhyve_product_path_test.rs
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Document Hermit Uhyve proof blocker
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/evidence/hermit-uhyve-local-proof-blocker.md
Due: markdownlint

Package Uhyve for Hermit runtime proof
  flake.nix
  nix/packages/uhyve.nix
  openspec/changes/promote-hermit-uhyve-runtime-host-e2e/evidence/hermit-uhyve-local-proof-blocker.md
Due: markdownlint

Promote Hermit Uhyve runtime host E2E
  crates/aspen-jobs/src/vm_executor/hermit_uhyve.rs
  crates/aspen-jobs/tests/hermit_uhyve_product_path_test.rs
  docs/runtime-host-readiness.md
  openspec/changes/archive/2026-05-08-promote-hermit-uhyve-runtime-host-e2e/.openspec.yaml
  openspec/changes/archive/2026-05-08-promote-hermit-uhyve-runtime-host-e2e/design.md
  openspec/changes/archive/2026-05-08-promote-hermit-uhyve-runtime-host-e2e/evidence/hermit-uhyve-local-proof-blocker.md
  openspec/changes/archive/2026-05-08-promote-hermit-uhyve-runtime-host-e2e/evidence/hermit-uhyve-product-path-proof.md
  openspec/changes/archive/2026-05-08-promote-hermit-uhyve-runtime-host-e2e/proposal.md
  openspec/changes/archive/2026-05-08-promote-hermit-uhyve-runtime-host-e2e/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-08-promote-hermit-uhyve-runtime-host-e2e/tasks.md
  openspec/specs/runtime-host-loading/spec.md
  test-harness/generated/inventory.json
  test-harness/suites/vm/runtime-host-hermit-gap.ncl
  tests/runtime_host_readiness_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Spec Hermit Uhyve marker fixture
  openspec/changes/package-hermit-uhyve-marker-fixture/.openspec.yaml
  openspec/changes/package-hermit-uhyve-marker-fixture/design.md
  openspec/changes/package-hermit-uhyve-marker-fixture/proposal.md
  openspec/changes/package-hermit-uhyve-marker-fixture/specs/runtime-host-loading/spec.md
  openspec/changes/package-hermit-uhyve-marker-fixture/tasks.md
  openspec/changes/package-hermit-uhyve-marker-fixture/verification.md
Due: markdownlint

Package Hermit Uhyve marker fixture
  docs/runtime-host-readiness.md
  flake.nix
  nix/packages/hermit-uhyve-marker.nix
  openspec/changes/archive/2026-05-08-package-hermit-uhyve-marker-fixture/.openspec.yaml
  openspec/changes/archive/2026-05-08-package-hermit-uhyve-marker-fixture/design.md
  openspec/changes/archive/2026-05-08-package-hermit-uhyve-marker-fixture/evidence/packaged-marker-product-proof.log
  openspec/changes/archive/2026-05-08-package-hermit-uhyve-marker-fixture/proposal.md
  openspec/changes/archive/2026-05-08-package-hermit-uhyve-marker-fixture/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-08-package-hermit-uhyve-marker-fixture/tasks.md
  openspec/changes/archive/2026-05-08-package-hermit-uhyve-marker-fixture/verification.md
  openspec/changes/package-hermit-uhyve-marker-fixture/tasks.md
  openspec/specs/runtime-host-loading/spec.md
  test-harness/generated/inventory.json
  test-harness/suites/vm/runtime-host-hermit-gap.ncl
  tests/runtime_host_readiness_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Rename promoted runtime host suites
  crates/aspen-testing/src/suite_inventory.rs
  test-harness/generated/inventory.json
  test-harness/suites/vm/runtime-host-hermit-uhyve-product-path.ncl
  test-harness/suites/vm/runtime-host-hyperlight-product-path.ncl
  test-harness/suites/vm/runtime-host-oci-lowering-product-path.ncl
  test-harness/suites/vm/runtime-host-wasm-product-path.ncl
  tests/runtime_host_readiness_docs.rs
Due: rustfmt, cargo-clippy

Add ROI follow-up OpenSpecs
  openspec/changes/add-broader-quick-confidence-rail/.openspec.yaml
  openspec/changes/add-broader-quick-confidence-rail/design.md
  openspec/changes/add-broader-quick-confidence-rail/proposal.md
  openspec/changes/add-broader-quick-confidence-rail/specs/test-harness-runtime/spec.md
  openspec/changes/add-broader-quick-confidence-rail/tasks.md
  openspec/changes/add-runtime-host-acceptance-bundle-check/.openspec.yaml
  openspec/changes/add-runtime-host-acceptance-bundle-check/design.md
  openspec/changes/add-runtime-host-acceptance-bundle-check/proposal.md
  openspec/changes/add-runtime-host-acceptance-bundle-check/specs/runtime-host-loading/spec.md
  openspec/changes/add-runtime-host-acceptance-bundle-check/tasks.md
  openspec/changes/capture-fresh-dogfood-acceptance-receipt/.openspec.yaml
  openspec/changes/capture-fresh-dogfood-acceptance-receipt/design.md
  openspec/changes/capture-fresh-dogfood-acceptance-receipt/proposal.md
  openspec/changes/capture-fresh-dogfood-acceptance-receipt/specs/dogfood-evidence/spec.md
  openspec/changes/capture-fresh-dogfood-acceptance-receipt/tasks.md
  openspec/changes/define-canonical-runtime-service-contract/.openspec.yaml
  openspec/changes/define-canonical-runtime-service-contract/design.md
  openspec/changes/define-canonical-runtime-service-contract/proposal.md
  openspec/changes/define-canonical-runtime-service-contract/specs/runtime-service-core/spec.md
  openspec/changes/define-canonical-runtime-service-contract/tasks.md
  openspec/changes/harden-operator-receipt-redaction/.openspec.yaml
  openspec/changes/harden-operator-receipt-redaction/design.md
  openspec/changes/harden-operator-receipt-redaction/proposal.md
  openspec/changes/harden-operator-receipt-redaction/specs/dogfood-evidence/spec.md
  openspec/changes/harden-operator-receipt-redaction/tasks.md
  openspec/changes/review-testing-harness-public-api-followup/.openspec.yaml
  openspec/changes/review-testing-harness-public-api-followup/design.md
  openspec/changes/review-testing-harness-public-api-followup/proposal.md
  openspec/changes/review-testing-harness-public-api-followup/specs/testing-harness-extraction/spec.md
  openspec/changes/review-testing-harness-public-api-followup/tasks.md
Due: markdownlint

Add VectorCDC chunking evaluation OpenSpec
  openspec/changes/evaluate-vectorcdc-chunking/.openspec.yaml
  openspec/changes/evaluate-vectorcdc-chunking/design.md
  openspec/changes/evaluate-vectorcdc-chunking/proposal.md
  openspec/changes/evaluate-vectorcdc-chunking/specs/snix-store/spec.md
  openspec/changes/evaluate-vectorcdc-chunking/tasks.md
Due: markdownlint

Capture Snix chunking seam inventory
  openspec/changes/evaluate-vectorcdc-chunking/evidence/current-chunking-inventory.md
  openspec/changes/evaluate-vectorcdc-chunking/tasks.md
Due: markdownlint

Add FastCDC chunking baseline harness
  crates/aspen-snix/Cargo.toml
  crates/aspen-snix/benches/chunking_baseline.rs
  openspec/changes/evaluate-vectorcdc-chunking/evidence/fastcdc-baseline-report.json
  openspec/changes/evaluate-vectorcdc-chunking/evidence/fastcdc-baseline.md
  openspec/changes/evaluate-vectorcdc-chunking/tasks.md
Due: rustfmt, cargo-clippy, markdownlint
