Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

keep state-machine proof coverage visible to Tracey
  tools/tracey/delivery_idempotency_state_machine_proof.rs
  tools/tracey/lifecycle_state_machine_proof.rs
  tools/tracey/state_machine_proof_trace_contract.rs
Due: rustfmt, cargo-clippy

harden plugin extension contract evidence
  cairn/archive/2026-07-03-plugin-contract-receipt-hardening/design.md
  cairn/archive/2026-07-03-plugin-contract-receipt-hardening/proposal.md
  cairn/archive/2026-07-03-plugin-contract-receipt-hardening/specs/plugin-host/spec.md
  cairn/archive/2026-07-03-plugin-contract-receipt-hardening/tasks.md
  cairn/archive/2026-07-03-plugin-extension-contract-artifacts/design.md
  cairn/archive/2026-07-03-plugin-extension-contract-artifacts/proposal.md
  cairn/archive/2026-07-03-plugin-extension-contract-artifacts/specs/plugin-host/spec.md
  cairn/archive/2026-07-03-plugin-extension-contract-artifacts/tasks.md
  cairn/archive/2026-07-03-plugin-extension-negotiation-conformance/design.md
  cairn/archive/2026-07-03-plugin-extension-negotiation-conformance/proposal.md
  cairn/archive/2026-07-03-plugin-extension-negotiation-conformance/specs/plugin-host/spec.md
  cairn/archive/2026-07-03-plugin-extension-negotiation-conformance/tasks.md
  cairn/specs/plugin-host/spec.md
  docs/plugin-extension-contracts/README.md
  docs/plugin-extension-contracts/contract.ncl
  docs/plugin-extension-contracts/storage-missing-schema.contract.preserves
  docs/plugin-extension-contracts/storage-missing-schema.ncl
  docs/plugin-extension-contracts/storage.contract.preserves
  docs/plugin-extension-contracts/storage.ncl
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/plugin/parts/host/p000/body.rs
  src/plugin/parts/host/p001/body.rs
  src/plugin/parts/host/p002/body.rs
  src/plugin/parts/host/p003/body.rs
  src/plugin/parts/host/p004/body.rs
  src/plugin/parts/host/p005/body.rs
  src/plugin/parts/host/p006/body.rs
  src/preserves/parts/rail/p000/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bind plugin host authority to typed grants
  cairn/archive/2026-07-03-plugin-capability-grant-artifacts/design.md
  cairn/archive/2026-07-03-plugin-capability-grant-artifacts/proposal.md
  cairn/archive/2026-07-03-plugin-capability-grant-artifacts/specs/plugin-host/spec.md
  cairn/archive/2026-07-03-plugin-capability-grant-artifacts/tasks.md
  cairn/specs/plugin-host/spec.md
  docs/plugin-extension-contracts/README.md
  docs/plugin-extension-contracts/grant.ncl
  docs/plugin-extension-contracts/storage-missing-proof.grant.ncl
  docs/plugin-extension-contracts/storage-missing-proof.grant.preserves
  docs/plugin-extension-contracts/storage.grant.ncl
  docs/plugin-extension-contracts/storage.grant.preserves
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/plugin/parts/host/p000/body.rs
  src/plugin/parts/host/p001/body.rs
  src/plugin/parts/host/p002/body.rs
  src/plugin/parts/host/p003/body.rs
  src/plugin/parts/host/p005/body.rs
  src/plugin/parts/host/p006/body.rs
  src/preserves/parts/rail/p000/body.rs
Due: rustfmt, cargo-clippy, markdownlint

capture distributed testing hardening work
  cairn/changes/distributed-simulation-fault-plans/design.md
  cairn/changes/distributed-simulation-fault-plans/proposal.md
  cairn/changes/distributed-simulation-fault-plans/specs/testing-harness/spec.md
  cairn/changes/distributed-simulation-fault-plans/tasks.md
  cairn/changes/distributed-test-ci-risk-matrix/design.md
  cairn/changes/distributed-test-ci-risk-matrix/proposal.md
  cairn/changes/distributed-test-ci-risk-matrix/specs/testing-harness/spec.md
  cairn/changes/distributed-test-ci-risk-matrix/tasks.md
  cairn/changes/nixos-vm-executable-fault-injection/design.md
  cairn/changes/nixos-vm-executable-fault-injection/proposal.md
  cairn/changes/nixos-vm-executable-fault-injection/specs/testing-harness/spec.md
  cairn/changes/nixos-vm-executable-fault-injection/tasks.md
Due: markdownlint

add deterministic distributed simulation evidence
  README.md
  cairn/archive/2026-07-04-distributed-simulation-fault-plans/design.md
  cairn/archive/2026-07-04-distributed-simulation-fault-plans/proposal.md
  cairn/archive/2026-07-04-distributed-simulation-fault-plans/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-distributed-simulation-fault-plans/tasks.md
  cairn/changes/distributed-simulation-fault-plans/tasks.md
  cairn/specs/testing-harness/spec.md
  docs/distributed-testing.md
  src/lib.rs
  src/testing/distributed.rs
Due: rustfmt, cargo-clippy, markdownlint

gate distributed release evidence by risk
  cairn/archive/2026-07-04-distributed-test-ci-risk-matrix/design.md
  cairn/archive/2026-07-04-distributed-test-ci-risk-matrix/proposal.md
  cairn/archive/2026-07-04-distributed-test-ci-risk-matrix/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-distributed-test-ci-risk-matrix/tasks.md
  cairn/changes/distributed-test-ci-risk-matrix/tasks.md
  cairn/specs/testing-harness/spec.md
  docs/distributed-testing.md
  src/testing/distributed.rs
Due: rustfmt, cargo-clippy, markdownlint

make VM fault evidence executable
  README.md
  cairn/archive/2026-07-04-nixos-vm-executable-fault-injection/design.md
  cairn/archive/2026-07-04-nixos-vm-executable-fault-injection/proposal.md
  cairn/archive/2026-07-04-nixos-vm-executable-fault-injection/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-nixos-vm-executable-fault-injection/tasks.md
  cairn/changes/nixos-vm-executable-fault-injection/tasks.md
  cairn/specs/testing-harness/spec.md
  docs/nixos-vm-executable-faults.md
  flake.nix
  src/cli/ops/nixosvm/command.rs
  src/cli/ops/nixosvm/io.rs
  src/cli/ops/nixosvm/ops.rs
  src/nixos/vm.rs
  src/nixos/vm_validation.rs
Due: rustfmt, cargo-clippy, markdownlint

harden distributed simulation evidence coverage
  cairn/archive/2026-07-04-distributed-simulation-fixture-hardening/design.md
  cairn/archive/2026-07-04-distributed-simulation-fixture-hardening/proposal.md
  cairn/archive/2026-07-04-distributed-simulation-fixture-hardening/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-distributed-simulation-fixture-hardening/tasks.md
  cairn/specs/testing-harness/spec.md
  docs/distributed-testing.md
  src/testing/distributed.rs
Due: rustfmt, cargo-clippy, markdownlint

capture multinode testing improvement plans
  cairn/changes/cross-node-state-reconciliation-gate/design.md
  cairn/changes/cross-node-state-reconciliation-gate/proposal.md
  cairn/changes/cross-node-state-reconciliation-gate/specs/testing-harness/spec.md
  cairn/changes/cross-node-state-reconciliation-gate/tasks.md
  cairn/changes/executable-vm-fault-support-matrix/design.md
  cairn/changes/executable-vm-fault-support-matrix/proposal.md
  cairn/changes/executable-vm-fault-support-matrix/specs/testing-harness/spec.md
  cairn/changes/executable-vm-fault-support-matrix/tasks.md
  cairn/changes/expanded-multinode-topology-profiles/design.md
  cairn/changes/expanded-multinode-topology-profiles/proposal.md
  cairn/changes/expanded-multinode-topology-profiles/specs/testing-harness/spec.md
  cairn/changes/expanded-multinode-topology-profiles/tasks.md
  cairn/changes/generated-distributed-fault-interleavings/design.md
  cairn/changes/generated-distributed-fault-interleavings/proposal.md
  cairn/changes/generated-distributed-fault-interleavings/specs/testing-harness/spec.md
  cairn/changes/generated-distributed-fault-interleavings/tasks.md
  cairn/changes/live-cross-node-transport-vm/design.md
  cairn/changes/live-cross-node-transport-vm/proposal.md
  cairn/changes/live-cross-node-transport-vm/specs/testing-harness/spec.md
  cairn/changes/live-cross-node-transport-vm/tasks.md
  cairn/changes/local-multiprocess-multinode-harness/design.md
  cairn/changes/local-multiprocess-multinode-harness/proposal.md
  cairn/changes/local-multiprocess-multinode-harness/specs/testing-harness/spec.md
  cairn/changes/local-multiprocess-multinode-harness/tasks.md
  cairn/changes/multinode-declarative-scenario-fixtures/design.md
  cairn/changes/multinode-declarative-scenario-fixtures/proposal.md
  cairn/changes/multinode-declarative-scenario-fixtures/specs/testing-harness/spec.md
  cairn/changes/multinode-declarative-scenario-fixtures/tasks.md
  cairn/changes/multinode-failure-repro-bundles/design.md
  cairn/changes/multinode-failure-repro-bundles/proposal.md
  cairn/changes/multinode-failure-repro-bundles/specs/testing-harness/spec.md
  cairn/changes/multinode-failure-repro-bundles/tasks.md
Due: markdownlint

preserve VM harness evidence boundaries
  cairn/archive/2026-07-04-composite-fault-regression-suite/design.md
  cairn/archive/2026-07-04-composite-fault-regression-suite/proposal.md
  cairn/archive/2026-07-04-composite-fault-regression-suite/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-composite-fault-regression-suite/tasks.md
  cairn/archive/2026-07-04-executable-network-fault-paths/design.md
  cairn/archive/2026-07-04-executable-network-fault-paths/proposal.md
  cairn/archive/2026-07-04-executable-network-fault-paths/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-executable-network-fault-paths/tasks.md
  cairn/archive/2026-07-04-local-multiprocess-executable-runner/design.md
  cairn/archive/2026-07-04-local-multiprocess-executable-runner/proposal.md
  cairn/archive/2026-07-04-local-multiprocess-executable-runner/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-local-multiprocess-executable-runner/tasks.md
  cairn/archive/2026-07-04-nixos-vm-multinode-shards/design.md
  cairn/archive/2026-07-04-nixos-vm-multinode-shards/proposal.md
  cairn/archive/2026-07-04-nixos-vm-multinode-shards/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-nixos-vm-multinode-shards/tasks.md
  cairn/archive/2026-07-04-three-node-vm-quorum-topology/design.md
  cairn/archive/2026-07-04-three-node-vm-quorum-topology/proposal.md
  cairn/archive/2026-07-04-three-node-vm-quorum-topology/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-three-node-vm-quorum-topology/tasks.md
  cairn/archive/2026-07-04-vm-failure-repro-bundles/design.md
  cairn/archive/2026-07-04-vm-failure-repro-bundles/proposal.md
  cairn/archive/2026-07-04-vm-failure-repro-bundles/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-vm-failure-repro-bundles/tasks.md
  cairn/archive/2026-07-04-vm-scenario-gate-integration/design.md
  cairn/archive/2026-07-04-vm-scenario-gate-integration/proposal.md
  cairn/archive/2026-07-04-vm-scenario-gate-integration/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-vm-scenario-gate-integration/tasks.md
  cairn/specs/testing-harness/spec.md
  docs/distributed-testing.md
  src/nixos/tests.rs
  src/nixos/vm.rs
  src/testing/distributed.rs
  src/testing/multinode.rs
  tools/tracey/multinode_testing_harness_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

capture contract hardening change packages
  cairn/changes/cairn-policy-cross-reference-contracts/design.md
  cairn/changes/cairn-policy-cross-reference-contracts/proposal.md
  cairn/changes/cairn-policy-cross-reference-contracts/specs/project/spec.md
  cairn/changes/cairn-policy-cross-reference-contracts/tasks.md
  cairn/changes/contract-diagnostic-locality/design.md
  cairn/changes/contract-diagnostic-locality/proposal.md
  cairn/changes/contract-diagnostic-locality/specs/project/spec.md
  cairn/changes/contract-diagnostic-locality/tasks.md
  cairn/changes/contract-export-drift-gates/design.md
  cairn/changes/contract-export-drift-gates/proposal.md
  cairn/changes/contract-export-drift-gates/specs/evidence-gates/spec.md
  cairn/changes/contract-export-drift-gates/tasks.md
  cairn/changes/contract-export-envelope-standardization/design.md
  cairn/changes/contract-export-envelope-standardization/proposal.md
  cairn/changes/contract-export-envelope-standardization/specs/evidence-gates/spec.md
  cairn/changes/contract-export-envelope-standardization/tasks.md
  cairn/changes/contract-invariant-negative-fixtures/design.md
  cairn/changes/contract-invariant-negative-fixtures/proposal.md
  cairn/changes/contract-invariant-negative-fixtures/specs/testing-harness/spec.md
  cairn/changes/contract-invariant-negative-fixtures/tasks.md
  cairn/changes/nickel-contract-prelude-library/design.md
  cairn/changes/nickel-contract-prelude-library/proposal.md
  cairn/changes/nickel-contract-prelude-library/specs/project/spec.md
  cairn/changes/nickel-contract-prelude-library/tasks.md
  cairn/changes/plugin-extension-domain-contract-hardening/design.md
  cairn/changes/plugin-extension-domain-contract-hardening/proposal.md
  cairn/changes/plugin-extension-domain-contract-hardening/specs/plugin-host/spec.md
  cairn/changes/plugin-extension-domain-contract-hardening/tasks.md
Due: markdownlint

stabilize dataspace boundary evidence
  README.md
  cairn/archive/2026-07-04-preserves-boundary-codecs-pattern-routing/design.md
  cairn/archive/2026-07-04-preserves-boundary-codecs-pattern-routing/proposal.md
  cairn/archive/2026-07-04-preserves-boundary-codecs-pattern-routing/specs/runtime-spine/spec.md
  cairn/archive/2026-07-04-preserves-boundary-codecs-pattern-routing/tasks.md
  cairn/archive/2026-07-04-syndicate-dataspace-reference-harness/design.md
  cairn/archive/2026-07-04-syndicate-dataspace-reference-harness/proposal.md
  cairn/archive/2026-07-04-syndicate-dataspace-reference-harness/specs/resource-governance-backpressure/spec.md
  cairn/archive/2026-07-04-syndicate-dataspace-reference-harness/specs/runtime-patterns/spec.md
  cairn/archive/2026-07-04-syndicate-dataspace-reference-harness/specs/runtime-spine/spec.md
  cairn/archive/2026-07-04-syndicate-dataspace-reference-harness/tasks.md
  cairn/specs/resource-governance-backpressure/spec.md
  cairn/specs/runtime-patterns/spec.md
  cairn/specs/runtime-spine/spec.md
  docs/syndicate-reference-harness.md
  src/preserves/parts/rail/p001/body.rs
  src/runtime/admission/mod.rs
  src/runtime/dataspace/mod.rs
  src/runtime/dataspace/state.rs
  src/runtime/dataspace/syndicate.rs
  src/runtime/dataspace/tests.rs
  src/runtime/mod.rs
  src/runtime/predicates/parts/mod/p000/body.rs
  src/runtime/predicates/parts/mod/p002/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bind UCAN authority before Basalt admission
  cairn/archive/2026-07-04-basalt-ucan-authority-hardening/design.md
  cairn/archive/2026-07-04-basalt-ucan-authority-hardening/proposal.md
  cairn/archive/2026-07-04-basalt-ucan-authority-hardening/specs/authority-identity-revocation/spec.md
  cairn/archive/2026-07-04-basalt-ucan-authority-hardening/specs/evidence-gates/spec.md
  cairn/archive/2026-07-04-basalt-ucan-authority-hardening/specs/runtime-spine/spec.md
  cairn/archive/2026-07-04-basalt-ucan-authority-hardening/specs/testing-harness/spec.md
  cairn/archive/2026-07-04-basalt-ucan-authority-hardening/tasks.md
  cairn/specs/authority-identity-revocation/spec.md
  cairn/specs/evidence-gates/spec.md
  cairn/specs/runtime-spine/spec.md
  cairn/specs/testing-harness/spec.md
  src/capability/tokens.rs
  src/harness/parts/gate/p000/body.rs
  src/harness/parts/gate/p001/body.rs
  src/harness/parts/gate/p002/body.rs
  src/harness/parts/mod/tests/m000/p003/body.rs
  src/harness/parts/schema/p001/body.rs
  src/harness/parts/schema/p002/body.rs
  src/harness/parts/schema/p007/body.rs
  src/harness/parts/schema/p018/body.rs
  src/harness/parts/schema/p020/body.rs
  src/harness/parts/schema/p021/body.rs
  src/harness/parts/schema/p026/body.rs
  src/runtime/mod.rs
  src/runtime/spine/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Implement declarative resource records and archive completed change
  cairn/archive/2026-07-05-declarative-resource-records/design.md
  cairn/archive/2026-07-05-declarative-resource-records/proposal.md
  cairn/archive/2026-07-05-declarative-resource-records/specs/runtime-spine/spec.md
  cairn/archive/2026-07-05-declarative-resource-records/tasks.md
  cairn/changes/admission-chain-resource-gates/design.md
  cairn/changes/admission-chain-resource-gates/proposal.md
  cairn/changes/admission-chain-resource-gates/specs/evidence-gates/spec.md
  cairn/changes/admission-chain-resource-gates/tasks.md
  cairn/changes/dataspace-watch-informers/design.md
  cairn/changes/dataspace-watch-informers/proposal.md
  cairn/changes/dataspace-watch-informers/specs/runtime-spine/spec.md
  cairn/changes/dataspace-watch-informers/tasks.md
  cairn/changes/placement-lifecycle-governance/design.md
  cairn/changes/placement-lifecycle-governance/proposal.md
  cairn/changes/placement-lifecycle-governance/specs/node-runtime/spec.md
  cairn/changes/placement-lifecycle-governance/specs/resource-governance-backpressure/spec.md
  cairn/changes/placement-lifecycle-governance/tasks.md
  cairn/changes/resource-reconciliation-controllers/design.md
  cairn/changes/resource-reconciliation-controllers/proposal.md
  cairn/changes/resource-reconciliation-controllers/specs/coordination/spec.md
  cairn/changes/resource-reconciliation-controllers/tasks.md
  src/resources/mod.rs
  src/resources/parts/mod/p004/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Implement admission chain resource gates and archive completed change
  cairn/archive/2026-07-05-admission-chain-resource-gates/design.md
  cairn/archive/2026-07-05-admission-chain-resource-gates/proposal.md
  cairn/archive/2026-07-05-admission-chain-resource-gates/specs/evidence-gates/spec.md
  cairn/archive/2026-07-05-admission-chain-resource-gates/tasks.md
  cairn/changes/admission-chain-resource-gates/tasks.md
  src/resources/mod.rs
  src/resources/parts/mod/p003/body.rs
  src/resources/parts/mod/p005/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Drain remaining 3 cairn changes: watchers, placement, reconciliation
  cairn/archive/2026-07-05-dataspace-watch-informers/design.md
  cairn/archive/2026-07-05-dataspace-watch-informers/proposal.md
  cairn/archive/2026-07-05-dataspace-watch-informers/specs/runtime-spine/spec.md
  cairn/archive/2026-07-05-dataspace-watch-informers/tasks.md
  cairn/archive/2026-07-05-placement-lifecycle-governance/design.md
  cairn/archive/2026-07-05-placement-lifecycle-governance/proposal.md
  cairn/archive/2026-07-05-placement-lifecycle-governance/specs/node-runtime/spec.md
  cairn/archive/2026-07-05-placement-lifecycle-governance/specs/resource-governance-backpressure/spec.md
  cairn/archive/2026-07-05-placement-lifecycle-governance/tasks.md
  cairn/archive/2026-07-05-resource-reconciliation-controllers/design.md
  cairn/archive/2026-07-05-resource-reconciliation-controllers/proposal.md
  cairn/archive/2026-07-05-resource-reconciliation-controllers/specs/coordination/spec.md
  cairn/archive/2026-07-05-resource-reconciliation-controllers/tasks.md
  cairn/changes/dataspace-watch-informers/tasks.md
  cairn/changes/placement-lifecycle-governance/tasks.md
  cairn/changes/resource-reconciliation-controllers/tasks.md
  src/lifecycle/mod.rs
  src/lifecycle/parts/mod/p000/body.rs
  src/lifecycle/parts/mod/p002/body.rs
  src/lifecycle/parts/mod/p003/body.rs
  src/lifecycle/parts/mod/tests/m000/p000/body.rs
  src/resources/mod.rs
  src/resources/parts/mod/p003/body.rs
  src/resources/parts/mod/p006/body.rs
  src/resources/parts/mod/p007/body.rs
  src/resources/parts/mod/p008/body.rs
Due: rustfmt, cargo-clippy, markdownlint

record Meerkat-inspired control-plane guardrails
  cairn/changes/meerkat-control-plane-adoption/design.md
  cairn/changes/meerkat-control-plane-adoption/proposal.md
  cairn/changes/meerkat-control-plane-adoption/specs/consensus/spec.md
  cairn/changes/meerkat-control-plane-adoption/specs/coordination/spec.md
  cairn/changes/meerkat-control-plane-adoption/specs/testing-harness/spec.md
  cairn/changes/meerkat-control-plane-adoption/tasks.md
Due: markdownlint

make consensus control-plane assumptions explicit
  cairn/archive/2026-07-08-meerkat-control-plane-adoption/design.md
  cairn/archive/2026-07-08-meerkat-control-plane-adoption/proposal.md
  cairn/archive/2026-07-08-meerkat-control-plane-adoption/specs/consensus/spec.md
  cairn/archive/2026-07-08-meerkat-control-plane-adoption/specs/coordination/spec.md
  cairn/archive/2026-07-08-meerkat-control-plane-adoption/specs/testing-harness/spec.md
  cairn/archive/2026-07-08-meerkat-control-plane-adoption/tasks.md
  cairn/changes/meerkat-control-plane-adoption/tasks.md
  cairn/specs/consensus/spec.md
  cairn/specs/coordination/spec.md
  cairn/specs/testing-harness/spec.md
  src/cli/runtime/raft/io.rs
  src/cli/runtime/raft/ops.rs
  src/cli/workflow/coordination/command.rs
  src/cli/workflow/coordination/ops.rs
  src/cli/workflow/job/schedule.rs
  src/coordination/mod.rs
  src/coordination/parts/mod/p000/body.rs
  src/coordination/parts/mod/p001/body.rs
  src/coordination/parts/mod/p002/body.rs
  src/coordination/parts/mod/p003/body.rs
  src/coordination/parts/mod/p004/body.rs
  src/coordination/parts/mod/p006/body.rs
  src/coordination/parts/mod/p007/body.rs
  src/coordination/parts/mod/p008/body.rs
  src/coordination/parts/mod/tests/m000/p000/body.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/main/tests/ops/misc/coordination.rs
  src/raft/control/parts/plane/p000/body.rs
  src/raft/control/parts/plane/p001/body.rs
  src/raft/control/parts/plane/p002/body.rs
  src/raft/control/parts/plane/p003/body.rs
  src/raft/control/parts/plane/p004/body.rs
  src/raft/control/parts/plane/p005/body.rs
  src/raft/control/parts/plane/p007/body.rs
  src/raft/control/parts/plane/p008/body.rs
  src/raft/control/plane.rs
Due: rustfmt, cargo-clippy, markdownlint

make consensus engines swappable through policy
  cairn/changes/pluggable-consensus-engines/design.md
  cairn/changes/pluggable-consensus-engines/proposal.md
  cairn/changes/pluggable-consensus-engines/specs/consensus/spec.md
  cairn/changes/pluggable-consensus-engines/specs/coordination/spec.md
  cairn/changes/pluggable-consensus-engines/specs/testing-harness/spec.md
  cairn/changes/pluggable-consensus-engines/tasks.md
Due: markdownlint

make consensus engine admission explicit
  cairn/archive/2026-07-08-pluggable-consensus-engines/design.md
  cairn/archive/2026-07-08-pluggable-consensus-engines/proposal.md
  cairn/archive/2026-07-08-pluggable-consensus-engines/specs/consensus/spec.md
  cairn/archive/2026-07-08-pluggable-consensus-engines/specs/coordination/spec.md
  cairn/archive/2026-07-08-pluggable-consensus-engines/specs/testing-harness/spec.md
  cairn/archive/2026-07-08-pluggable-consensus-engines/tasks.md
  cairn/changes/pluggable-consensus-engines/tasks.md
  cairn/specs/consensus/spec.md
  cairn/specs/coordination/spec.md
  cairn/specs/testing-harness/spec.md
  src/coordination/parts/mod/p003/body.rs
  src/coordination/parts/mod/p004/body.rs
  src/coordination/parts/mod/p006/body.rs
  src/coordination/parts/mod/tests/m000/p000/body.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/raft/control/parts/plane/p002/body.rs
  src/raft/control/parts/plane/p003/body.rs
  src/raft/control/parts/plane/p007/body.rs
  src/raft/control/parts/plane/p009/body.rs
  src/raft/control/plane.rs
Due: rustfmt, cargo-clippy, markdownlint

use canonical Cairn checkout for push validation
  .pre-commit-config.yaml
Due: none

preserve Preserves authority around rkyv caches
  README.md
  cairn/changes/rkyv-derived-cache-boundary/design.md
  cairn/changes/rkyv-derived-cache-boundary/proposal.md
  cairn/changes/rkyv-derived-cache-boundary/specs/local-evaluation-cache/spec.md
  cairn/changes/rkyv-derived-cache-boundary/specs/unison-typed-storage/spec.md
  cairn/changes/rkyv-derived-cache-boundary/tasks.md
Due: markdownlint

add claim-scoped authority planning
  cairn/changes/claim-scoped-capability-authority/design.md
  cairn/changes/claim-scoped-capability-authority/proposal.md
  cairn/changes/claim-scoped-capability-authority/specs/artifact-registry/spec.md
  cairn/changes/claim-scoped-capability-authority/specs/authority-identity-revocation/spec.md
  cairn/changes/claim-scoped-capability-authority/specs/peer-bootstrap-negotiation/spec.md
  cairn/changes/claim-scoped-capability-authority/tasks.md
Due: markdownlint

record Aspen evidence adapter plan
  cairn/changes/valence-stack-evidence-adapter/design.md
  cairn/changes/valence-stack-evidence-adapter/proposal.md
  cairn/changes/valence-stack-evidence-adapter/specs/evidence-gates/spec.md
  cairn/changes/valence-stack-evidence-adapter/tasks.md
Due: markdownlint

make consensus selection cluster-configurable
  cairn/changes/cluster-consensus-profile-config/design.md
  cairn/changes/cluster-consensus-profile-config/proposal.md
  cairn/changes/cluster-consensus-profile-config/specs/consensus/spec.md
  cairn/changes/cluster-consensus-profile-config/tasks.md
  src/raft/control/parts/plane/p000/body.rs
  src/raft/control/parts/plane/p001/body.rs
  src/raft/control/parts/plane/p007/body.rs
  src/runtime/config/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

align stack evidence with Valence identity boundaries
  README.md
  cairn/archive/2026-07-09-valence-stack-evidence-adapter/design.md
  cairn/archive/2026-07-09-valence-stack-evidence-adapter/proposal.md
  cairn/archive/2026-07-09-valence-stack-evidence-adapter/specs/evidence-gates/spec.md
  cairn/archive/2026-07-09-valence-stack-evidence-adapter/tasks.md
  cairn/changes/valence-stack-evidence-adapter/tasks.md
  cairn/specs/evidence-gates/spec.md
  crates/molten-core/src/codec.rs
  crates/molten-core/src/lib.rs
  crates/molten-core/src/preserves_profile.rs
  crates/molten-core/src/stack.rs
  docs/valence-stack-evidence-adapter.md
Due: rustfmt, cargo-clippy, markdownlint

harden artifact identity evidence boundaries
  cairn/archive/2026-07-09-unison-canonical-artifact-ids/design.md
  cairn/archive/2026-07-09-unison-canonical-artifact-ids/proposal.md
  cairn/archive/2026-07-09-unison-canonical-artifact-ids/specs/artifact-registry/spec.md
  cairn/archive/2026-07-09-unison-canonical-artifact-ids/tasks.md
  cairn/changes/unison-canonical-artifact-ids/tasks.md
  cairn/specs/artifact-registry/spec.md
  src/artifacts/parts/mod/p000/body.rs
  src/artifacts/parts/mod/p001/body.rs
  src/artifacts/parts/mod/p003/body.rs
  src/artifacts/parts/mod/p004/body.rs
  src/artifacts/parts/mod/p005/body.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/preserves/parts/rail/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

make artifact impact evidence rebuildable
  cairn/archive/2026-07-09-unison-dependency-impact-index/design.md
  cairn/archive/2026-07-09-unison-dependency-impact-index/proposal.md
  cairn/archive/2026-07-09-unison-dependency-impact-index/specs/artifact-registry/spec.md
  cairn/archive/2026-07-09-unison-dependency-impact-index/tasks.md
  cairn/changes/unison-dependency-impact-index/tasks.md
  cairn/specs/artifact-registry/spec.md
  src/artifacts/parts/mod/p000/body.rs
  src/artifacts/parts/mod/p002/body.rs
  src/artifacts/parts/mod/p003/body.rs
  src/artifacts/parts/mod/p004/body.rs
  src/artifacts/parts/mod/p005/body.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/preserves/parts/rail/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

keep catalog discovery read-only
  cairn/archive/2026-07-09-unison-catalog-readonly-discovery/design.md
  cairn/archive/2026-07-09-unison-catalog-readonly-discovery/proposal.md
  cairn/archive/2026-07-09-unison-catalog-readonly-discovery/specs/catalog/spec.md
  cairn/archive/2026-07-09-unison-catalog-readonly-discovery/tasks.md
  cairn/changes/unison-catalog-readonly-discovery/tasks.md
  cairn/specs/catalog/spec.md
  src/artifacts/parts/mod/p002/body.rs
  src/catalog/parts/mcp/p000/body.rs
  src/catalog/parts/mcp/p001/body.rs
  src/catalog/parts/mcp/tests/m000/p000/body.rs
  src/catalog/parts/mod/p000/body.rs
Due: rustfmt, cargo-clippy, markdownlint

make transcript evidence replayable
  cairn/archive/2026-07-09-unison-receipt-transcripts/design.md
  cairn/archive/2026-07-09-unison-receipt-transcripts/proposal.md
  cairn/archive/2026-07-09-unison-receipt-transcripts/specs/local-executable-transcripts/spec.md
  cairn/archive/2026-07-09-unison-receipt-transcripts/tasks.md
  cairn/changes/unison-receipt-transcripts/tasks.md
  cairn/specs/local-executable-transcripts/spec.md
  src/cli/core/transcript/command.rs
  src/cli/core/transcript/io.rs
  src/cli/core/transcript/ops.rs
  src/main/tests/core/cache.rs
  src/transcripts/parts/mod/p000/body.rs
  src/transcripts/parts/mod/p001/body.rs
  src/transcripts/parts/mod/p002/body.rs
  src/transcripts/parts/mod/p003/body.rs
  src/transcripts/parts/mod/p004/body.rs
  src/transcripts/parts/mod/p005/body.rs
Due: rustfmt, cargo-clippy, markdownlint

make release snapshots exact evidence bundles
  cairn/archive/2026-07-09-artifact-release-snapshots/design.md
  cairn/archive/2026-07-09-artifact-release-snapshots/proposal.md
  cairn/archive/2026-07-09-artifact-release-snapshots/specs/artifact-release-snapshots/spec.md
  cairn/archive/2026-07-09-artifact-release-snapshots/tasks.md
  cairn/changes/artifact-release-snapshots/tasks.md
  cairn/specs/artifact-release-snapshots/spec.md
  src/artifacts/parts/mod/p000/body.rs
  src/artifacts/parts/mod/p002/body.rs
  src/artifacts/parts/mod/p003/body.rs
  src/artifacts/parts/mod/p004/body.rs
  src/artifacts/parts/mod/p005/body.rs
  src/catalog/parts/mcp/p000/body.rs
  src/catalog/parts/mcp/p001/body.rs
  src/catalog/parts/mod/p003/body.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/preserves/parts/rail/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bound local stores to capability roots
  Cargo.lock
  Cargo.toml
  README.md
  cairn/archive/2026-07-09-adopt-cap-std-artifact-store-boundaries/design.md
  cairn/archive/2026-07-09-adopt-cap-std-artifact-store-boundaries/proposal.md
  cairn/archive/2026-07-09-adopt-cap-std-artifact-store-boundaries/specs/content-addressed-chunk-store/spec.md
  cairn/archive/2026-07-09-adopt-cap-std-artifact-store-boundaries/tasks.md
  cairn/specs/content-addressed-chunk-store/spec.md
  docs/local-filesystem-authority.md
  src/artifacts/parts/mod/p000/body.rs
  src/chunk/parts/store/p000/body.rs
  src/iroh/parts/exchange/p000/body.rs
  src/lib.rs
  src/local_store.rs
  src/remote/parts/dataspace/p000/body.rs
  src/retention/parts/mod/p000/body.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
