Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

Add Trellis actormap transaction predicate
  cairn/changes/trellis-runtime-predicates/tasks.md
  src/harness/schema.rs
  src/runtime/mod.rs
  src/runtime/predicates.rs
Due: rustfmt, cargo-clippy, markdownlint

Add Trellis near far reference predicate
  cairn/changes/trellis-runtime-predicates/tasks.md
  src/harness/schema.rs
  src/runtime/mod.rs
  src/runtime/predicates.rs
Due: rustfmt, cargo-clippy, markdownlint

Add Trellis snapshot authority predicate
  cairn/changes/trellis-runtime-predicates/tasks.md
  src/harness/schema.rs
  src/runtime/mod.rs
  src/runtime/predicates.rs
Due: rustfmt, cargo-clippy, markdownlint

Add Trellis service dependency predicate
  cairn/changes/trellis-runtime-predicates/tasks.md
  src/harness/schema.rs
  src/runtime/mod.rs
  src/runtime/predicates.rs
Due: rustfmt, cargo-clippy, markdownlint

Add Trellis runtime predicate property tests
  cairn/changes/trellis-runtime-predicates/tasks.md
  src/runtime/predicates.rs
Due: rustfmt, cargo-clippy, markdownlint

Archive Trellis runtime predicates change
  cairn/archive/2026-06-11-trellis-runtime-predicates/design.md
  cairn/archive/2026-06-11-trellis-runtime-predicates/proposal.md
  cairn/archive/2026-06-11-trellis-runtime-predicates/specs/runtime-spine/spec.md
  cairn/archive/2026-06-11-trellis-runtime-predicates/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Add local vat runtime fixtures
  .agent/napkin.md
  README.md
  cairn/changes/goblins-vat-runtime/tasks.md
  docs/architecture.md
  src/main.rs
  src/preserves_rail.rs
  src/runtime/mod.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Add vat promise fixture
  .agent/napkin.md
  README.md
  cairn/changes/goblins-vat-runtime/tasks.md
  docs/architecture.md
  src/main.rs
  src/preserves_rail.rs
  src/runtime/mod.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Add vat ambient authority fixture
  .agent/napkin.md
  README.md
  cairn/changes/goblins-vat-runtime/tasks.md
  docs/architecture.md
  src/main.rs
  src/preserves_rail.rs
  src/runtime/mod.rs
  src/runtime/predicates.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Add vat rights amplification fixture
  .agent/napkin.md
  README.md
  cairn/changes/goblins-vat-runtime/tasks.md
  docs/architecture.md
  src/main.rs
  src/preserves_rail.rs
  src/runtime/mod.rs
  src/runtime/predicates.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Add vat distributed ref lifetime fixture
  .agent/napkin.md
  README.md
  cairn/changes/goblins-vat-runtime/tasks.md
  docs/architecture.md
  src/main.rs
  src/preserves_rail.rs
  src/runtime/mod.rs
  src/runtime/predicates.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Complete Goblins vat runtime fixtures
  .agent/napkin.md
  cairn/changes/goblins-vat-runtime/tasks.md
  src/main.rs
  src/preserves_rail.rs
  src/runtime/mod.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Archive Goblins vat runtime change
  cairn/archive/2026-06-11-goblins-vat-runtime/design.md
  cairn/archive/2026-06-11-goblins-vat-runtime/proposal.md
  cairn/archive/2026-06-11-goblins-vat-runtime/specs/runtime-spine/spec.md
  cairn/archive/2026-06-11-goblins-vat-runtime/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Archive Trellis protocol session runtime change
  .agent/napkin.md
  cairn/archive/2026-06-11-trellis-protocol-session-runtime/design.md
  cairn/archive/2026-06-11-trellis-protocol-session-runtime/proposal.md
  cairn/archive/2026-06-11-trellis-protocol-session-runtime/specs/choreography/spec.md
  cairn/archive/2026-06-11-trellis-protocol-session-runtime/tasks.md
  cairn/specs/choreography/spec.md
Due: markdownlint

Archive Iroh SAM dataspace change
  .agent/napkin.md
  cairn/archive/2026-06-11-iroh-sam-dataspace/design.md
  cairn/archive/2026-06-11-iroh-sam-dataspace/proposal.md
  cairn/archive/2026-06-11-iroh-sam-dataspace/specs/runtime-spine/spec.md
  cairn/archive/2026-06-11-iroh-sam-dataspace/tasks.md
  cairn/changes/iroh-sam-dataspace/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Archive SAM service demand runtime change
  .agent/napkin.md
  cairn/archive/2026-06-11-sam-service-demand-runtime/design.md
  cairn/archive/2026-06-11-sam-service-demand-runtime/proposal.md
  cairn/archive/2026-06-11-sam-service-demand-runtime/specs/runtime-spine/spec.md
  cairn/archive/2026-06-11-sam-service-demand-runtime/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Archive SAM service records ledger change
  cairn/archive/2026-06-11-sam-service-records-ledger/design.md
  cairn/archive/2026-06-11-sam-service-records-ledger/proposal.md
  cairn/archive/2026-06-11-sam-service-records-ledger/specs/runtime-spine/spec.md
  cairn/archive/2026-06-11-sam-service-records-ledger/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Archive SAM service supervision cleanup change
  cairn/archive/2026-06-11-sam-service-supervision-cleanup/design.md
  cairn/archive/2026-06-11-sam-service-supervision-cleanup/proposal.md
  cairn/archive/2026-06-11-sam-service-supervision-cleanup/specs/runtime-spine/spec.md
  cairn/archive/2026-06-11-sam-service-supervision-cleanup/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Archive executor hostcall boundary change
  .agent/napkin.md
  cairn/archive/2026-06-11-executor-hostcall-boundary/design.md
  cairn/archive/2026-06-11-executor-hostcall-boundary/proposal.md
  cairn/archive/2026-06-11-executor-hostcall-boundary/specs/runtime-spine/spec.md
  cairn/archive/2026-06-11-executor-hostcall-boundary/tasks.md
  cairn/changes/executor-hostcall-boundary/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Archive executor resource gate receipts change
  cairn/archive/2026-06-11-executor-resource-gate-receipts/design.md
  cairn/archive/2026-06-11-executor-resource-gate-receipts/proposal.md
  cairn/archive/2026-06-11-executor-resource-gate-receipts/specs/evidence-gates/spec.md
  cairn/archive/2026-06-11-executor-resource-gate-receipts/tasks.md
  cairn/specs/evidence-gates/spec.md
Due: markdownlint

Add deterministic vat replay fixture
  .agent/napkin.md
  README.md
  cairn/changes/deterministic-test-playback/specs/runtime-spine/spec.md
  cairn/changes/deterministic-test-playback/tasks.md
  src/main.rs
  src/preserves_rail.rs
  src/runtime/mod.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Complete vat replay divergence coverage
  cairn/changes/deterministic-test-playback/tasks.md
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Add clock random replay coverage
  cairn/changes/deterministic-test-playback/tasks.md
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Add harness replay profile coverage
  cairn/changes/deterministic-test-playback/tasks.md
  src/harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Add harness record profile coverage
  .agent/napkin.md
  cairn/changes/deterministic-test-playback/tasks.md
  src/harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Bind deterministic handler profile identity
  cairn/changes/deterministic-test-playback/tasks.md
  src/harness.rs
  src/harness/schema.rs
Due: rustfmt, cargo-clippy, markdownlint

Add deterministic turn journal evidence
  cairn/changes/deterministic-test-playback/tasks.md
  src/harness.rs
  src/harness/runner.rs
Due: rustfmt, cargo-clippy, markdownlint

Allow turn journals in harness validation
  src/harness/schema.rs
Due: rustfmt, cargo-clippy

Add deterministic state hash coverage
  cairn/changes/deterministic-test-playback/tasks.md
  src/harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Burn down Octet replay warnings
  .agent/napkin.md
  src/harness/runner.rs
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Stabilize Nix nextest profile
  .agent/napkin.md
  .config/nextest.toml
Due: markdownlint

Add deterministic replay fixture
  .agent/napkin.md
  cairn/changes/deterministic-replay-fixture/design.md
  cairn/changes/deterministic-replay-fixture/proposal.md
  cairn/changes/deterministic-replay-fixture/specs/runtime-spine/spec.md
  cairn/changes/deterministic-replay-fixture/tasks.md
  src/deterministic_replay.rs
  src/lib.rs
  src/main.rs
  src/preserves_rail.rs
Due: rustfmt, cargo-clippy, markdownlint

Archive deterministic replay fixture
  cairn/archive/2026-06-12-deterministic-replay-fixture/design.md
  cairn/archive/2026-06-12-deterministic-replay-fixture/proposal.md
  cairn/archive/2026-06-12-deterministic-replay-fixture/specs/runtime-spine/spec.md
  cairn/archive/2026-06-12-deterministic-replay-fixture/tasks.md
  cairn/specs/runtime-spine/spec.md
Due: markdownlint

Bind vat replay to generic receipts
  cairn/archive/2026-06-12-vat-generic-replay-receipts/design.md
  cairn/archive/2026-06-12-vat-generic-replay-receipts/proposal.md
  cairn/archive/2026-06-12-vat-generic-replay-receipts/specs/runtime-spine/spec.md
  cairn/archive/2026-06-12-vat-generic-replay-receipts/tasks.md
  cairn/specs/runtime-spine/spec.md
  src/runtime/vat.rs
Due: rustfmt, cargo-clippy, markdownlint

Bind harness gates to generic replay receipts
  cairn/archive/2026-06-12-harness-generic-replay-gate/design.md
  cairn/archive/2026-06-12-harness-generic-replay-gate/proposal.md
  cairn/archive/2026-06-12-harness-generic-replay-gate/specs/testing-harness/spec.md
  cairn/archive/2026-06-12-harness-generic-replay-gate/tasks.md
  cairn/specs/testing-harness/spec.md
  src/harness.rs
  src/harness/gate.rs
Due: rustfmt, cargo-clippy, markdownlint

Classify deterministic replay receipts
  .agent/napkin.md
  cairn/archive/2026-06-12-replay-receipt-catalog/design.md
  cairn/archive/2026-06-12-replay-receipt-catalog/proposal.md
  cairn/archive/2026-06-12-replay-receipt-catalog/specs/catalog/spec.md
  cairn/archive/2026-06-12-replay-receipt-catalog/tasks.md
  src/catalog.rs
  src/ledger.rs
Due: rustfmt, cargo-clippy, markdownlint

Add replay evidence MCP search
  .agent/napkin.md
  cairn/archive/2026-06-12-replay-evidence-mcp-ux/design.md
  cairn/archive/2026-06-12-replay-evidence-mcp-ux/proposal.md
  cairn/archive/2026-06-12-replay-evidence-mcp-ux/specs/catalog/spec.md
  cairn/archive/2026-06-12-replay-evidence-mcp-ux/tasks.md
  cairn/specs/catalog/spec.md
  src/catalog_mcp.rs
Due: rustfmt, cargo-clippy, markdownlint

Add replay evidence rollups
  cairn/archive/2026-06-12-replay-evidence-rollup/design.md
  cairn/archive/2026-06-12-replay-evidence-rollup/proposal.md
  cairn/archive/2026-06-12-replay-evidence-rollup/specs/catalog/spec.md
  cairn/archive/2026-06-12-replay-evidence-rollup/tasks.md
  cairn/specs/catalog/spec.md
  src/catalog.rs
  src/catalog_mcp.rs
  src/deterministic_replay.rs
  src/ledger.rs
  src/main.rs
  src/preserves_rail.rs
Due: rustfmt, cargo-clippy, markdownlint

Add replay evidence indexes
  .agent/napkin.md
  cairn/archive/2026-06-12-replay-evidence-index/design.md
  cairn/archive/2026-06-12-replay-evidence-index/proposal.md
  cairn/archive/2026-06-12-replay-evidence-index/specs/catalog/spec.md
  cairn/archive/2026-06-12-replay-evidence-index/tasks.md
  cairn/specs/catalog/spec.md
  src/catalog.rs
  src/catalog_mcp.rs
  src/deterministic_replay.rs
  src/ledger.rs
  src/main.rs
  src/preserves_rail.rs
Due: rustfmt, cargo-clippy, markdownlint

Bind release replay evidence
  README.md
  cairn/archive/2026-06-12-release-replay-evidence-binding/design.md
  cairn/archive/2026-06-12-release-replay-evidence-binding/proposal.md
  cairn/archive/2026-06-12-release-replay-evidence-binding/specs/catalog/spec.md
  cairn/archive/2026-06-12-release-replay-evidence-binding/tasks.md
  cairn/specs/catalog/spec.md
  flake.nix
  src/catalog.rs
  src/catalog_mcp.rs
  src/main.rs
  src/operator_dogfood.rs
  tests/cli_harness.rs
Due: rustfmt, cargo-clippy, markdownlint

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
