Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

refactor(auth): extract capability-based authorization into aspen-auth crate
  Cargo.lock
  Cargo.toml
  crates/aspen-auth/Cargo.toml
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/capability.rs
  crates/aspen-auth/src/constants.rs
  crates/aspen-auth/src/error.rs
  crates/aspen-auth/src/lib.rs
  crates/aspen-auth/src/revocation.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-auth/src/token.rs
  crates/aspen-auth/src/utils.rs
  crates/aspen-auth/src/verifier.rs
  src/auth/mod.rs
  src/auth/tests.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(sharding): extract horizontal sharding into aspen-sharding crate
  Cargo.lock
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/inmemory.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-sharding/Cargo.toml
  crates/aspen-sharding/src/automation.rs
  crates/aspen-sharding/src/consistent_hash.rs
  crates/aspen-sharding/src/lib.rs
  crates/aspen-sharding/src/metrics.rs
  crates/aspen-sharding/src/router.rs
  crates/aspen-sharding/src/sharded.rs
  crates/aspen-sharding/src/topology.rs
  src/sharding/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(client): extract pure client library into aspen-client crate
  Cargo.lock
  Cargo.toml
  crates/aspen-client/Cargo.toml
  crates/aspen-client/src/client.rs
  crates/aspen-client/src/constants.rs
  crates/aspen-client/src/lib.rs
  crates/aspen-client/src/rpc.rs
  crates/aspen-client/src/rpc_types.rs
  crates/aspen-client/src/ticket.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(raft): extract core types into aspen-raft-types crate
  Cargo.lock
  Cargo.toml
  crates/aspen-raft-types/Cargo.toml
  crates/aspen-raft-types/src/constants.rs
  crates/aspen-raft-types/src/lib.rs
  crates/aspen-raft-types/src/member.rs
  crates/aspen-raft-types/src/request.rs
  src/raft/mod.rs
  src/raft/rpc.rs
  src/raft/sharded.rs
  src/raft/types.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(cluster): eliminate coordination code duplication
  src/cluster/bootstrap.rs
  src/cluster/mod.rs
Due: rustfmt, cargo-clippy

refactor(fuse): extract FUSE filesystem into aspen-fuse crate
  Cargo.lock
  Cargo.toml
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/client.rs
  crates/aspen-fuse/src/constants.rs
  crates/aspen-fuse/src/fs.rs
  crates/aspen-fuse/src/inode.rs
  crates/aspen-fuse/src/lib.rs
  crates/aspen-fuse/src/main.rs
  crates/aspen-fuse/tests/fuse_fs_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(tui): extract terminal UI into aspen-tui crate
  Cargo.lock
  Cargo.toml
  crates/aspen-tui/Cargo.toml
  crates/aspen-tui/src/app.rs
  crates/aspen-tui/src/client_trait.rs
  crates/aspen-tui/src/event.rs
  crates/aspen-tui/src/iroh_client.rs
  crates/aspen-tui/src/main.rs
  crates/aspen-tui/src/types.rs
  crates/aspen-tui/src/ui.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve compilation issues in extracted crates
  Cargo.lock
  crates/aspen-core/src/context.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/core.rs
  src/lib.rs
  src/protocol_adapters.rs
  src/raft/node.rs
Due: rustfmt, cargo-clippy, cargo-deny

refactor(raft): extract Raft consensus into aspen-raft crate
  Cargo.lock
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/utils.rs
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/auth.rs
  crates/aspen-raft/src/clock_drift_detection.rs
  crates/aspen-raft/src/connection_pool.rs
  crates/aspen-raft/src/constants.rs
  crates/aspen-raft/src/integrity.rs
  crates/aspen-raft/src/learner_promotion.rs
  crates/aspen-raft/src/lease_cleanup.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/log_subscriber.rs
  crates/aspen-raft/src/madsim_network.rs
  crates/aspen-raft/src/membership_watcher.rs
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-raft/src/node_failure_detection.rs
  crates/aspen-raft/src/pure.rs
  crates/aspen-raft/src/rpc.rs
  crates/aspen-raft/src/server.rs
  crates/aspen-raft/src/sharded.rs
  crates/aspen-raft/src/storage.rs
  crates/aspen-raft/src/storage_shared.rs
  crates/aspen-raft/src/storage_validation.rs
  crates/aspen-raft/src/supervisor.rs
  crates/aspen-raft/src/ttl_cleanup.rs
  crates/aspen-raft/src/types.rs
  crates/aspen-raft/src/write_batcher.rs
  crates/aspen-transport/src/lib.rs
  src/lib.rs
  update_raft_imports.sh
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(cluster): extract cluster coordination into aspen-cluster crate
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/content_discovery.rs
  crates/aspen-cluster/src/federation/discovery.rs
  crates/aspen-cluster/src/federation/gossip.rs
  crates/aspen-cluster/src/federation/identity.rs
  crates/aspen-cluster/src/federation/mod.rs
  crates/aspen-cluster/src/federation/sync.rs
  crates/aspen-cluster/src/federation/trust.rs
  crates/aspen-cluster/src/federation/types.rs
  crates/aspen-cluster/src/gossip_discovery.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/metadata.rs
  crates/aspen-cluster/src/ticket.rs
  crates/aspen-cluster/src/transport.rs
  crates/aspen-cluster/src/validation.rs
  src/lib.rs
  update_cluster_imports.sh
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(client-rpc): extract client RPC protocol into aspen-client-rpc crate
  Cargo.lock
  Cargo.toml
  crates/aspen-client-rpc/Cargo.toml
  crates/aspen-client-rpc/src/lib.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(docs): extract CRDT document sync into aspen-docs crate
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-docs/Cargo.toml
  crates/aspen-docs/src/constants.rs
  crates/aspen-docs/src/exporter.rs
  crates/aspen-docs/src/importer.rs
  crates/aspen-docs/src/lib.rs
  crates/aspen-docs/src/origin.rs
  crates/aspen-docs/src/peer_manager.rs
  crates/aspen-docs/src/store.rs
  crates/aspen-docs/src/ticket.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: remove duplicate protocol_handlers and complete modularization cleanup
  Cargo.lock
  Cargo.toml
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/lib.rs
  src/lib.rs
  src/protocol_handlers/constants.rs
  src/protocol_handlers/error_sanitization.rs
  src/protocol_handlers/handlers/blob.rs
  src/protocol_handlers/handlers/cluster.rs
  src/protocol_handlers/handlers/coordination.rs
  src/protocol_handlers/handlers/core.rs
  src/protocol_handlers/handlers/dns.rs
  src/protocol_handlers/handlers/docs.rs
  src/protocol_handlers/handlers/forge.rs
  src/protocol_handlers/handlers/kv.rs
  src/protocol_handlers/handlers/lease.rs
  src/protocol_handlers/handlers/mod.rs
  src/protocol_handlers/handlers/pijul.rs
  src/protocol_handlers/handlers/service_registry.rs
  src/protocol_handlers/handlers/sql.rs
  src/protocol_handlers/handlers/watch.rs
  src/protocol_handlers/log_subscriber.rs
  src/protocol_handlers/mod.rs
  src/protocol_handlers/raft.rs
  src/protocol_handlers/raft_authenticated.rs
  src/protocol_handlers/raft_sharded.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(testing): extract testing utilities into aspen-testing crate
  Cargo.lock
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/simulation.rs
  crates/aspen-testing/Cargo.toml
  crates/aspen-testing/src/fault_injection.rs
  crates/aspen-testing/src/lib.rs
  crates/aspen-testing/src/madsim_tester.rs
  crates/aspen-testing/src/network_utils.rs
  crates/aspen-testing/src/pijul_tester.rs
  crates/aspen-testing/src/router.rs
  crates/aspen-testing/src/vm_manager.rs
  src/lib.rs
  tests/chaos_leader_crash.rs
  tests/chaos_membership_change.rs
  tests/chaos_message_drops.rs
  tests/chaos_network_partition.rs
  tests/chaos_slow_network.rs
  tests/madsim_advanced_scenarios_test.rs
  tests/madsim_append_entries_test.rs
  tests/madsim_failure_injection_test.rs
  tests/madsim_heartbeat_test.rs
  tests/madsim_multi_node_test.rs
  tests/madsim_redb_crash_recovery_test.rs
  tests/madsim_replication_test.rs
  tests/madsim_single_node_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(client): expand aspen-client with overlay and coordination modules
  Cargo.lock
  crates/aspen-client/Cargo.toml
  crates/aspen-client/src/cache.rs
  crates/aspen-client/src/constants.rs
  crates/aspen-client/src/coordination.rs
  crates/aspen-client/src/lib.rs
  crates/aspen-client/src/overlay.rs
  crates/aspen-client/src/overlay_constants.rs
  crates/aspen-client/src/subscription.rs
  crates/aspen-client/src/ticket.rs
  crates/aspen-client/src/transaction.rs
  crates/aspen-client/src/watch.rs
  src/client/mod.rs
  src/client/ticket.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, cargo-deny

refactor(coordination): remove duplicate coordination modules from main crate
  src/coordination/barrier.rs
  src/coordination/counter.rs
  src/coordination/election.rs
  src/coordination/error.rs
  src/coordination/lock.rs
  src/coordination/mod.rs
  src/coordination/queue.rs
  src/coordination/rate_limiter.rs
  src/coordination/registry.rs
  src/coordination/rwlock.rs
  src/coordination/semaphore.rs
  src/coordination/sequence.rs
  src/coordination/types.rs
Due: rustfmt, cargo-clippy

refactor(cli): extract command-line interface into aspen-cli crate
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/barrier.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/blob.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/branch.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/counter.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/dns.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/docs.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/issue.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/kv.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/lease.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/lock.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/patch.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/peer.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/queue.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ratelimit.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/rwlock.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/semaphore.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/sequence.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/service.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/sql.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/tag.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/verify.rs
  crates/aspen-cli/src/bin/aspen-cli/main.rs
  crates/aspen-cli/src/bin/aspen-cli/output.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(dns): remove duplicate DNS modules from main crate
  src/dns/authority.rs
  src/dns/client.rs
  src/dns/constants.rs
  src/dns/error.rs
  src/dns/mod.rs
  src/dns/server.rs
  src/dns/store.rs
  src/dns/ticket.rs
  src/dns/types.rs
  src/dns/validation.rs
  src/lib.rs
Due: rustfmt, cargo-clippy

refactor: remove duplicate sharding and blob modules
  src/blob/constants.rs
  src/blob/kv_integration.rs
  src/blob/mod.rs
  src/blob/store.rs
  src/blob/types.rs
  src/lib.rs
  src/sharding/mod.rs
Due: rustfmt, cargo-clippy

refactor(api): extract API bridge into aspen-api crate
  Cargo.lock
  Cargo.toml
  crates/aspen-api/Cargo.toml
  crates/aspen-api/src/lib.rs
  src/api/inmemory.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve compilation issues after modularization
  Cargo.lock
  crates/aspen-client-api/src/messages.rs
  crates/aspen-client/Cargo.toml
Due: rustfmt, cargo-clippy, cargo-deny

fix: enable testing feature for benchmarks and complete final fixes
  Cargo.toml
Due: cargo-toml-sorted, cargo-deny

docs: add comprehensive fixes summary documenting successful resolution
  FIXES_SUMMARY.md
Due: markdownlint

chore: remove obsolete code and consolidate scripts
  Cargo.lock
  Cargo.toml
  benches/common/mod.rs
  scripts/aspen-cluster-raft-smoke.sh
  scripts/aspen-cluster-smoke.sh
  scripts/cluster.sh
  scripts/kitty-cluster.sh
  scripts/lib/cluster-common.sh
  src/bin/aspen-node.rs
  tests/madsim_actor_test.rs
  tests/router_t10_append_entries_partial_success.rs.incomplete
  tests/router_t50_append_entries_backoff.rs.incomplete
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve compilation warnings and benchmark errors
  Cargo.toml
  src/bin/aspen-node.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: consolidate router tests by removing duplicates
  tests/router_t10_client_writes.rs
  tests/router_t10_conflict_with_empty_entries.rs
  tests/router_t10_initialization.rs
  tests/router_t11_append_conflicts.rs
  tests/router_t11_append_inconsistent_log.rs
  tests/router_t20_change_membership.rs
  tests/router_t51_network_partition.rs
  tests/router_t62_follower_clear_restart_recover.rs
Due: rustfmt, cargo-clippy

refactor: extract common test utilities module
  tests/common/mod.rs
  tests/common/test_utils.rs
Due: rustfmt, cargo-clippy

feat: implement TODO items and improve functionality
  Cargo.lock
  crates/aspen-blob/Cargo.toml
  crates/aspen-blob/src/store.rs
  crates/aspen-cluster/src/bootstrap.rs
  src/bin/aspen-node.rs
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy, cargo-deny

test: add comprehensive unit tests for NodeBuilder
  src/node/mod.rs
  src/node/tests.rs
Due: rustfmt, cargo-clippy

refactor: remove dead code and unused dependencies
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/src/config.rs
  crates/aspen-forge/src/gossip/handler.rs
  fuzz/Cargo.lock
  src/bin/aspen-node.rs
  tests/gossip_integration_test.rs
  tests/node_failure_detection_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: implement lease and transaction support in storage layer
  crates/aspen-raft/src/storage_shared.rs
Due: rustfmt, cargo-clippy

refactor: remove legacy HTTP API infrastructure
  crates/aspen-cluster/src/config.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
  src/node/tests.rs
Due: rustfmt, cargo-clippy

fix: resolve EndpointId type alias confusion
  crates/aspen-client/src/client.rs
Due: rustfmt, cargo-clippy

feat: add content discovery support to ShardedNodeHandle
  crates/aspen-cluster/src/bootstrap.rs
  src/bin/aspen-node.rs
  tests/gossip_integration_test.rs
Due: rustfmt, cargo-clippy

fix: implement proper peer list extraction in bootstrap.rs
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-docs/src/peer_manager.rs
Due: rustfmt, cargo-clippy

feat: add initial VirtioFS vhost-user backend structure
  Cargo.lock
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/main.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: enable madsim storage isolation tests with restart workaround
  crates/aspen-testing/src/madsim_tester.rs
  tests/madsim_tester_test.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
