Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

fix(ci): add blob feature to aspen-node for SNIX RPC
  flake.nix
Due: none

feat(snix): add comprehensive logging for debugging
  .aspen/ci.ncl
  crates/aspen-ci/src/workers/local_executor.rs
  crates/aspen-rpc-handlers/src/handlers/snix.rs
  crates/aspen-snix/src/rpc_blob_service.rs
  crates/aspen-snix/src/rpc_directory_service.rs
  crates/aspen-snix/src/rpc_pathinfo_service.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

fix(snix): remove length-prefixed framing from RPC services
  crates/aspen-snix/src/rpc_blob_service.rs
  crates/aspen-snix/src/rpc_directory_service.rs
  crates/aspen-snix/src/rpc_pathinfo_service.rs
Due: rustfmt, cargo-clippy

fix(scripts): prevent command substitution deadlock in dogfood
  scripts/dogfood-local-vmci.sh
Due: none

fix(jobs): prevent EchoWorker from handling ci_vm and ci_nix_build jobs
  crates/aspen-jobs/src/worker.rs
  crates/aspen-jobs/src/workers/echo.rs
  crates/aspen-jobs/tests/job_lifecycle.rs
  scripts/test-ci-vm-fix.sh
Due: rustfmt, cargo-clippy

fix(ci): improve VM network setup UX and error handling
  flake.nix
  scripts/dogfood-local-vmci.sh
  scripts/setup-ci-network.sh
Due: none

fix(ci): skip sudo check when network is fully configured
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-client-rpc/Cargo.toml
  crates/aspen-client-rpc/src/lib.rs
  crates/aspen-client/Cargo.toml
  crates/aspen-hook-client/Cargo.toml
  crates/aspen-hooks/Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  scripts/dogfood-local-vmci.sh
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix(ci): use marker file for NAT detection (nft requires root)
  scripts/dogfood-local-vmci.sh
  scripts/setup-ci-network.sh
Due: none

feat(ci): add shell worker support and enhance job system
  crates/aspen-ci/src/adapters.rs
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/hooks.rs
  crates/aspen-client/src/blob_client.rs
  crates/aspen-coordination/src/queue.rs
  crates/aspen-hook-client/src/lib.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/src/worker.rs
  crates/aspen-jobs/src/workers/echo.rs
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/handlers/worker.rs
  crates/aspen-testing/src/ci_pipeline_tester.rs
  flake.nix
  nix/vms/ci-worker-node.nix
  tests/madsim_ci_pipeline_test.rs
Due: rustfmt, cargo-clippy

refactor: merge aspen-ci-agent crate into aspen-ci
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-agent/Cargo.toml
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/agent/error.rs
  crates/aspen-ci/src/agent/executor.rs
  crates/aspen-ci/src/agent/mod.rs
  crates/aspen-ci/src/agent/protocol.rs
  crates/aspen-ci/src/agent/vsock_server.rs
  crates/aspen-ci/src/bin/aspen-ci-agent.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/workers/local_executor.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

improve job queue handling for type mismatches
  crates/aspen-coordination/src/queue.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-rpc-handlers/src/handlers/worker.rs
Due: rustfmt, cargo-clippy

replace aspen-nickel-gen with schemars-based schema generation
  Cargo.lock
  Cargo.toml
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/config/types.rs
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/content_discovery.rs
  crates/aspen-dns/Cargo.toml
  crates/aspen-dns/src/config.rs
  crates/aspen-hooks/Cargo.toml
  crates/aspen-hooks/src/config.rs
  crates/aspen-nickel-gen/Cargo.toml
  crates/aspen-nickel-gen/src/error.rs
  crates/aspen-nickel-gen/src/generator.rs
  crates/aspen-nickel-gen/src/lib.rs
  crates/aspen-nickel-gen/src/main.rs
  crates/aspen-nickel-gen/src/parser.rs
  crates/aspen-nickel-gen/src/types.rs
  crates/aspen-nix-cache-gateway/Cargo.toml
  crates/aspen-nix-cache-gateway/src/config.rs
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/storage.rs
  crates/aspen-raft/src/write_batcher.rs
  crates/aspen-secrets/Cargo.toml
  crates/aspen-secrets/src/sops/config.rs
  src/bin/generate_schema.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix(nix-cache): stub out incomplete signing functionality
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

feat(ci): add network mode configuration for Cloud Hypervisor VMs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/config.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/mod.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/vm.rs
  crates/aspen-ci/src/workers/mod.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

refactor: merge aspen-hook-client into aspen-hooks
  Cargo.lock
  Cargo.toml
  crates/aspen-hook-client/Cargo.toml
  crates/aspen-hooks/Cargo.toml
  crates/aspen-hooks/src/client.rs
  crates/aspen-hooks/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: improve aspen-core API ergonomics and validation
  crates/aspen-core/src/cluster.rs
  crates/aspen-core/src/error.rs
  crates/aspen-core/src/kv.rs
  crates/aspen-raft/src/node.rs
  tests/api_validation_proptest.rs
Due: rustfmt, cargo-clippy

test(aspen-raft): add 77 unit tests for storage and cleanup modules
  crates/aspen-raft/src/lease_cleanup.rs
  crates/aspen-raft/src/storage_shared.rs
  crates/aspen-raft/src/ttl_cleanup.rs
Due: rustfmt, cargo-clippy

feat(aspen-raft): implement transaction support for InMemoryStateMachine
  crates/aspen-raft/src/storage.rs
Due: rustfmt, cargo-clippy

feat(aspen-cluster): implement audit improvements
  Cargo.lock
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/federation/sync.rs
  crates/aspen-cluster/src/worker_service.rs
  crates/aspen-cluster/tests/bootstrap_integration_test.rs
  crates/aspen-cluster/tests/common/fixtures.rs
  crates/aspen-cluster/tests/common/mod.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix(aspen-gossip): add max message size validation
  crates/aspen-gossip/src/constants.rs
  crates/aspen-gossip/src/discovery.rs
  crates/aspen-gossip/src/types.rs
Due: rustfmt, cargo-clippy

refactor(aspen-docs): improve Tiger Style compliance and testing
  Cargo.lock
  crates/aspen-docs/Cargo.toml
  crates/aspen-docs/src/exporter.rs
  crates/aspen-docs/src/importer.rs
  crates/aspen-docs/src/origin.rs
  crates/aspen-docs/src/store.rs
Due: rustfmt, cargo-clippy, cargo-deny

docs: add federation architecture plan
  docs/planning/federation-plan.md
Due: markdownlint

feat(aspen-core): add FoundationDB-style Directory Layer
  Cargo.lock
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/constants/directory.rs
  crates/aspen-core/src/constants/mod.rs
  crates/aspen-core/src/layer/allocator.rs
  crates/aspen-core/src/layer/directory.rs
  crates/aspen-core/src/layer/mod.rs
  crates/aspen-core/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix(coordination): enforce Tiger Style resource bounds
  crates/aspen-coordination/src/error.rs
  crates/aspen-coordination/src/rwlock.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/worker_strategies.rs
  crates/aspen-core/src/constants/coordination.rs
Due: rustfmt, cargo-clippy

security: deprecate unsafe RPC authentication paths
  crates/aspen-cluster/src/lib.rs
  crates/aspen-raft/src/connection_pool.rs
  crates/aspen-raft/src/network.rs
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-transport/src/constants.rs
  crates/aspen-transport/src/log_subscriber.rs
  crates/aspen-transport/src/rpc.rs
  src/lib.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy

feat: implement chunked git push to reduce DoS risk
  crates/aspen-client-api/src/messages.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  src/bin/aspen-node.rs
  src/bin/git-remote-aspen/main.rs
  tests/protocol_handlers_test.rs
  tests/server_rpc_test.rs
  tests/support/mock_iroh.rs
Due: rustfmt, cargo-clippy

refactor(blob): audit remediation and security improvements
  crates/aspen-blob/src/kv_integration.rs
  crates/aspen-blob/src/store.rs
  crates/aspen-blob/src/types.rs
  tests/blob_gc_integration_test.rs
Due: rustfmt, cargo-clippy

feat: implement multi-cluster sync testing and federation app registry
  Cargo.lock
  crates/aspen-cluster/src/federation/app_registry.rs
  crates/aspen-cluster/src/federation/discovery.rs
  crates/aspen-cluster/src/federation/gossip.rs
  crates/aspen-cluster/src/federation/mod.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-testing/Cargo.toml
  crates/aspen-testing/src/federation_tester.rs
  crates/aspen-testing/src/lib.rs
  docs/planning/federation-plan.md
  docs/planning/plugin-system.md
  tests/federation_integration_test.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

docs: add comprehensive inline documentation to federation modules
  crates/aspen-cluster/src/federation/app_registry.rs
  crates/aspen-cluster/src/federation/discovery.rs
  crates/aspen-cluster/src/federation/gossip.rs
  crates/aspen-cluster/src/federation/mod.rs
  crates/aspen-testing/src/federation_tester.rs
  docs/planning/federation-plan.md
Due: rustfmt, cargo-clippy, markdownlint

feat: implement chunked git push session management
  crates/aspen-forge/src/constants.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
Due: rustfmt, cargo-clippy

test: add comprehensive test coverage for aspen-core
  crates/aspen-core/src/cluster.rs
  crates/aspen-core/src/error.rs
  crates/aspen-core/src/inmemory.rs
  crates/aspen-core/src/traits.rs
  crates/aspen-core/src/types.rs
Due: rustfmt, cargo-clippy

test: expand kv.rs test coverage with WriteCommand validation
  crates/aspen-core/src/kv.rs
Due: rustfmt, cargo-clippy

test: add comprehensive tests for utils, transport, and context modules
  crates/aspen-core/src/context/docs.rs
  crates/aspen-core/src/context/peer.rs
  crates/aspen-core/src/context/protocol.rs
  crates/aspen-core/src/context/watch.rs
  crates/aspen-core/src/transport.rs
  crates/aspen-core/src/utils.rs
Due: rustfmt, cargo-clippy

test: expand layer module test coverage
  crates/aspen-core/src/layer/allocator.rs
  crates/aspen-core/src/layer/directory.rs
  crates/aspen-core/src/layer/index.rs
Due: rustfmt, cargo-clippy

test: expand directory layer test coverage
  crates/aspen-core/src/layer/directory.rs
Due: rustfmt, cargo-clippy

test: add comprehensive tests for hlc.rs and pure.rs modules
  crates/aspen-core/src/hlc.rs
  crates/aspen-core/src/pure.rs
Due: rustfmt, cargo-clippy

test: add comprehensive tests for simulation.rs module
  crates/aspen-core/src/simulation.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
