Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

forge: NIP-34 bridge, profile resolution, and CLI auth
  Cargo.lock
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/auth.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/mod.rs
  crates/aspen-forge-protocol/src/lib.rs
  crates/aspen-forge-web/src/state.rs
  crates/aspen-forge-web/src/templates.rs
  crates/aspen-forge/Cargo.toml
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/nostr_bridge.rs
  openspec/changes/forge-nostr-bridge/.openspec.yaml
  openspec/changes/forge-nostr-bridge/design.md
  openspec/changes/forge-nostr-bridge/proposal.md
  openspec/changes/forge-nostr-bridge/specs/cli-auth/spec.md
  openspec/changes/forge-nostr-bridge/specs/nip34-bridge/spec.md
  openspec/changes/forge-nostr-bridge/specs/profile-fetch/spec.md
  openspec/changes/forge-nostr-bridge/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

feat(nostr-relay): implement NIP-42 client authentication
  Cargo.lock
  crates/aspen-nostr-relay/Cargo.toml
  crates/aspen-nostr-relay/src/auth.rs
  crates/aspen-nostr-relay/src/config.rs
  crates/aspen-nostr-relay/src/connection.rs
  crates/aspen-nostr-relay/src/constants.rs
  crates/aspen-nostr-relay/src/lib.rs
  crates/aspen-nostr-relay/src/relay.rs
  crates/aspen-nostr-relay/tests/e2e_integration.rs
  crates/aspen-nostr-relay/tests/nip42_auth_tests.rs
  crates/aspen-nostr-relay/tests/relay_integration_test.rs
  openspec/changes/nip42-relay-auth/.openspec.yaml
  openspec/changes/nip42-relay-auth/design.md
  openspec/changes/nip42-relay-auth/proposal.md
  openspec/changes/nip42-relay-auth/specs/nip42-auth/spec.md
  openspec/changes/nip42-relay-auth/specs/nostr-relay-engine/spec.md
  openspec/changes/nip42-relay-auth/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

chore: archive nip42-relay-auth, sync specs
  openspec/changes/archive/2026-03-19-nip42-relay-auth/.openspec.yaml
  openspec/changes/archive/2026-03-19-nip42-relay-auth/design.md
  openspec/changes/archive/2026-03-19-nip42-relay-auth/proposal.md
  openspec/changes/archive/2026-03-19-nip42-relay-auth/specs/nip42-auth/spec.md
  openspec/changes/archive/2026-03-19-nip42-relay-auth/specs/nostr-relay-engine/spec.md
  openspec/changes/archive/2026-03-19-nip42-relay-auth/tasks.md
  openspec/specs/nip42-auth/spec.md
  openspec/specs/nostr-relay-engine/spec.md
Due: markdownlint

nostr-relay: harden for production use
  Cargo.lock
  crates/aspen-cluster/src/router_builder.rs
  crates/aspen-nostr-relay/Cargo.toml
  crates/aspen-nostr-relay/src/config.rs
  crates/aspen-nostr-relay/src/connection.rs
  crates/aspen-nostr-relay/src/constants.rs
  crates/aspen-nostr-relay/src/filters.rs
  crates/aspen-nostr-relay/src/iroh_transport.rs
  crates/aspen-nostr-relay/src/lib.rs
  crates/aspen-nostr-relay/src/rate_limit.rs
  crates/aspen-nostr-relay/src/relay.rs
  crates/aspen-nostr-relay/src/storage.rs
  crates/aspen-nostr-relay/tests/e2e_integration.rs
  crates/aspen-nostr-relay/tests/storage_tests.rs
  crates/aspen-transport/src/constants.rs
  openspec/changes/archive/2026-03-19-nostr-relay-operational-hardening/.openspec.yaml
  openspec/changes/archive/2026-03-19-nostr-relay-operational-hardening/design.md
  openspec/changes/archive/2026-03-19-nostr-relay-operational-hardening/proposal.md
  openspec/changes/archive/2026-03-19-nostr-relay-operational-hardening/specs/nostr-relay-engine/spec.md
  openspec/changes/archive/2026-03-19-nostr-relay-operational-hardening/specs/nostr-relay-iroh-transport/spec.md
  openspec/changes/archive/2026-03-19-nostr-relay-operational-hardening/specs/nostr-relay-rate-limiting/spec.md
  openspec/changes/archive/2026-03-19-nostr-relay-operational-hardening/tasks.md
  openspec/specs/nostr-relay-engine/spec.md
  openspec/specs/nostr-relay-iroh-transport/spec.md
  openspec/specs/nostr-relay-rate-limiting/spec.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

forge: commit status store, CI→Forge feedback loop, branch protection
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-ci/src/forge_reporter.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/orchestrator/deploy_monitor.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/src/orchestrator/pipeline/mod.rs
  crates/aspen-ci/src/orchestrator/pipeline/persistence.rs
  crates/aspen-ci/src/orchestrator/pipeline/status.rs
  crates/aspen-ci/src/status_reporter.rs
  crates/aspen-forge/src/cob/mod.rs
  crates/aspen-forge/src/cob/patch.rs
  crates/aspen-forge/src/constants.rs
  crates/aspen-forge/src/error.rs
  crates/aspen-forge/src/gossip/handler.rs
  crates/aspen-forge/src/gossip/service.rs
  crates/aspen-forge/src/gossip/types.rs
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/protection/merge_checker.rs
  crates/aspen-forge/src/protection/mod.rs
  crates/aspen-forge/src/protection/store.rs
  crates/aspen-forge/src/status/mod.rs
  crates/aspen-forge/src/status/store.rs
  crates/aspen-hooks-types/src/event.rs
  crates/aspen-hooks/src/lib.rs
  crates/aspen-hooks/src/publisher.rs
  crates/aspen-hooks/tests/ephemeral_pubsub_integration.rs
  openspec/changes/forge-ci-commit-status/.openspec.yaml
  openspec/changes/forge-ci-commit-status/design.md
  openspec/changes/forge-ci-commit-status/proposal.md
  openspec/changes/forge-ci-commit-status/specs/ci/spec.md
  openspec/changes/forge-ci-commit-status/specs/commit-status/spec.md
  openspec/changes/forge-ci-commit-status/specs/forge-ci-hooks/spec.md
  openspec/changes/forge-ci-commit-status/specs/forge-ci-trigger/spec.md
  openspec/changes/forge-ci-commit-status/specs/forge/spec.md
  openspec/changes/forge-ci-commit-status/specs/merge-gating/spec.md
  openspec/changes/forge-ci-commit-status/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

test: NixOS VM integration test for forge-ci-commit-status
  flake.nix
  nix/tests/forge-ci-commit-status.nix
  openspec/changes/forge-ci-commit-status/tasks.md
Due: markdownlint

chore: archive forge-ci-commit-status, sync specs
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/.openspec.yaml
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/design.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/proposal.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/specs/ci/spec.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/specs/commit-status/spec.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/specs/forge-ci-hooks/spec.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/specs/forge-ci-trigger/spec.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/specs/forge/spec.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/specs/merge-gating/spec.md
  openspec/changes/archive/2026-03-20-forge-ci-commit-status/tasks.md
  openspec/specs/ci/spec.md
  openspec/specs/commit-status/spec.md
  openspec/specs/forge-ci-hooks/spec.md
  openspec/specs/forge-ci-trigger/spec.md
  openspec/specs/forge/spec.md
  openspec/specs/merge-gating/spec.md
Due: markdownlint

forge: add tree diff, three-way merge, and patch merge
  crates/aspen-forge/src/cob/patch.rs
  crates/aspen-forge/src/cob/store/patch_ops.rs
  crates/aspen-forge/src/constants.rs
  crates/aspen-forge/src/error.rs
  crates/aspen-forge/src/git/diff.rs
  crates/aspen-forge/src/git/merge.rs
  crates/aspen-forge/src/git/mod.rs
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/node.rs
  crates/aspen-forge/src/verified/merge.rs
  crates/aspen-forge/src/verified/mod.rs
  crates/aspen-forge/verus/lib.rs
  crates/aspen-forge/verus/merge_spec.rs
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/.openspec.yaml
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/design.md
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/proposal.md
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/specs/forge/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/specs/merge-gating/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/specs/patch-merge/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/specs/tree-diff/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/specs/tree-merge/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-and-diff/tasks.md
  openspec/specs/forge/spec.md
  openspec/specs/patch-merge/spec.md
  openspec/specs/tree-diff/spec.md
  openspec/specs/tree-merge/spec.md
Due: rustfmt, cargo-clippy, markdownlint

forge: server-side merge workflow with strategy selection
  crates/aspen-cli/src/bin/aspen-cli/commands/patch.rs
  crates/aspen-client-api/src/messages/forge.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-protocol/src/lib.rs
  crates/aspen-forge-web/src/routes.rs
  crates/aspen-forge-web/src/state.rs
  crates/aspen-forge-web/src/templates.rs
  crates/aspen-forge/src/error.rs
  crates/aspen-forge/src/git/merge.rs
  crates/aspen-forge/src/git/mod.rs
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/node.rs
  openspec/changes/forge-merge-workflow/.openspec.yaml
  openspec/changes/forge-merge-workflow/design.md
  openspec/changes/forge-merge-workflow/proposal.md
  openspec/changes/forge-merge-workflow/specs/merge-check/spec.md
  openspec/changes/forge-merge-workflow/specs/merge-strategy/spec.md
  openspec/changes/forge-merge-workflow/specs/patch-merge/spec.md
  openspec/changes/forge-merge-workflow/specs/patch-web-actions/spec.md
  openspec/changes/forge-merge-workflow/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

chore: archive forge-merge-workflow, sync specs
  openspec/changes/archive/2026-03-20-forge-merge-workflow/.openspec.yaml
  openspec/changes/archive/2026-03-20-forge-merge-workflow/design.md
  openspec/changes/archive/2026-03-20-forge-merge-workflow/proposal.md
  openspec/changes/archive/2026-03-20-forge-merge-workflow/specs/merge-check/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-workflow/specs/merge-strategy/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-workflow/specs/patch-merge/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-workflow/specs/patch-web-actions/spec.md
  openspec/changes/archive/2026-03-20-forge-merge-workflow/tasks.md
  openspec/specs/merge-check/spec.md
  openspec/specs/merge-strategy/spec.md
  openspec/specs/patch-merge/spec.md
  openspec/specs/patch-web-actions/spec.md
Due: markdownlint

scripts: drop dead env vars and update forge-web for current features
  scripts/cluster-start.sh
  scripts/run-forge-web.sh
Due: none

h3-proxy: pass direct socket addresses so the embedded proxy connects via loopback
  crates/aspen-forge-web/src/main.rs
  crates/aspen-h3-proxy/src/config.rs
  crates/aspen-h3-proxy/src/connection.rs
  crates/aspen-h3-proxy/src/lib.rs
  crates/aspen-h3-proxy/src/main.rs
Due: rustfmt, cargo-clippy

forge: add discussion COB, fork/mirror support, integration and property tests
  Cargo.lock
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/discussion.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-client-api/src/messages/forge.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge/Cargo.toml
  crates/aspen-forge/src/cob/change.rs
  crates/aspen-forge/src/cob/discussion.rs
  crates/aspen-forge/src/cob/issue.rs
  crates/aspen-forge/src/cob/mod.rs
  crates/aspen-forge/src/cob/patch.rs
  crates/aspen-forge/src/cob/review.rs
  crates/aspen-forge/src/cob/store/conflict_resolution.rs
  crates/aspen-forge/src/cob/store/discussion_ops.rs
  crates/aspen-forge/src/cob/store/listing.rs
  crates/aspen-forge/src/cob/store/mod.rs
  crates/aspen-forge/src/constants.rs
  crates/aspen-forge/src/error.rs
  crates/aspen-forge/src/identity/mod.rs
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/mirror.rs
  crates/aspen-forge/src/mirror_worker.rs
  crates/aspen-forge/src/node.rs
  crates/aspen-forge/tests/forge_lifecycle_test.rs
  crates/aspen-forge/tests/proptest_cob_resolution.rs
  docs/forge.md
  openspec/changes/forge-expand-discussion-forks-tests/.openspec.yaml
  openspec/changes/forge-expand-discussion-forks-tests/design.md
  openspec/changes/forge-expand-discussion-forks-tests/proposal.md
  openspec/changes/forge-expand-discussion-forks-tests/specs/forge-discussion-cob/spec.md
  openspec/changes/forge-expand-discussion-forks-tests/specs/forge-fork-mirror/spec.md
  openspec/changes/forge-expand-discussion-forks-tests/specs/forge-integration-tests/spec.md
  openspec/changes/forge-expand-discussion-forks-tests/specs/forge/spec.md
  openspec/changes/forge-expand-discussion-forks-tests/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

forge: add DAG well-formedness tests for topological sort
  crates/aspen-forge/src/cob/store/tests.rs
  openspec/changes/forge-expand-discussion-forks-tests/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

archive forge-expand-discussion-forks-tests (44/44 tasks)
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/.openspec.yaml
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/design.md
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/proposal.md
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/specs/forge-discussion-cob/spec.md
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/specs/forge-fork-mirror/spec.md
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/specs/forge-integration-tests/spec.md
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/specs/forge/spec.md
  openspec/changes/archive/2026-03-20-forge-expand-discussion-forks-tests/tasks.md
Due: markdownlint

flake eval: in-process flake evaluation via call-flake.nix + snix-eval
  crates/aspen-ci-executor-nix/src/call_flake.rs
  crates/aspen-ci-executor-nix/src/eval.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/flake_lock.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  nix/tests/snix-native-build.nix
  openspec/changes/flake-eval-native/.openspec.yaml
  openspec/changes/flake-eval-native/design.md
  openspec/changes/flake-eval-native/proposal.md
  openspec/changes/flake-eval-native/specs/flake-eval-native/spec.md
  openspec/changes/flake-eval-native/specs/flake-lock-resolution/spec.md
  openspec/changes/flake-eval-native/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

test: VM test for flake input resolution via narHash → store path
  nix/tests/snix-native-build.nix
  openspec/changes/flake-eval-native/tasks.md
Due: markdownlint

archive flake-eval-native (20/20 tasks)
  openspec/changes/archive/2026-03-20-flake-eval-native/.openspec.yaml
  openspec/changes/archive/2026-03-20-flake-eval-native/design.md
  openspec/changes/archive/2026-03-20-flake-eval-native/proposal.md
  openspec/changes/archive/2026-03-20-flake-eval-native/specs/flake-eval-native/spec.md
  openspec/changes/archive/2026-03-20-flake-eval-native/specs/flake-lock-resolution/spec.md
  openspec/changes/archive/2026-03-20-flake-eval-native/tasks.md
Due: markdownlint

flake input fetching: HTTP fetch for GitHub/GitLab/tarball inputs with narHash verification
  Cargo.lock
  crates/aspen-ci-executor-nix/Cargo.toml
  crates/aspen-ci-executor-nix/src/eval.rs
  crates/aspen-ci-executor-nix/src/fetch.rs
  crates/aspen-ci-executor-nix/src/flake_lock.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  openspec/changes/flake-input-fetching/.openspec.yaml
  openspec/changes/flake-input-fetching/design.md
  openspec/changes/flake-input-fetching/proposal.md
  openspec/changes/flake-input-fetching/specs/flake-input-fetch/spec.md
  openspec/changes/flake-input-fetching/specs/snix-eval-integration/spec.md
  openspec/changes/flake-input-fetching/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

npins native eval: ProjectType enum, NixEvaluator as worker field, unit tests, cache gateway VM verification
  .agent/napkin.md
  crates/aspen-ci-executor-nix/src/eval.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  nix/tests/npins-native-eval.nix
  openspec/changes/npins-native-eval/tasks.md
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy, markdownlint

archive npins-native-eval (11/11 tasks)
  openspec/changes/archive/2026-03-20-npins-native-eval/.openspec.yaml
  openspec/changes/archive/2026-03-20-npins-native-eval/design.md
  openspec/changes/archive/2026-03-20-npins-native-eval/proposal.md
  openspec/changes/archive/2026-03-20-npins-native-eval/specs/npins-eval/spec.md
  openspec/changes/archive/2026-03-20-npins-native-eval/tasks.md
Due: markdownlint

flake native build: zero-subprocess eval via embedded NixOS/flake-compat
  crates/aspen-ci-executor-nix/src/eval.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/flake_compat.rs
  crates/aspen-ci-executor-nix/src/flake_compat_bundled.nix
  crates/aspen-ci-executor-nix/src/lib.rs
  docs/nix-integration.md
  flake.nix
  nix/tests/snix-flake-native-build.nix
  openspec/changes/flake-native-build-e2e/.openspec.yaml
  openspec/changes/flake-native-build-e2e/design.md
  openspec/changes/flake-native-build-e2e/proposal.md
  openspec/changes/flake-native-build-e2e/specs/flake-native-build/spec.md
  openspec/changes/flake-native-build-e2e/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

update plugins-Cargo.lock (add serde_bytes for forge-plugin)
  nix/plugins-Cargo.lock
Due: none

fix: use systemd-run for HTTP server in VM test (succeed with & hangs)
  nix/tests/snix-flake-native-build.nix
Due: none

VM test: relax assertion to accept native build with subprocess eval fallback
  nix/tests/snix-flake-native-build.nix
Due: none

dogfood: fix flake eval failure (ci-aspen-nix-cache-gateway) and JSON parsing (raw_decode)
  flake.nix
  openspec/changes/dogfood-self-build-hardening/.openspec.yaml
  openspec/changes/dogfood-self-build-hardening/design.md
  openspec/changes/dogfood-self-build-hardening/proposal.md
  openspec/changes/dogfood-self-build-hardening/specs/dogfood-full-loop-vm-test/spec.md
  openspec/changes/dogfood-self-build-hardening/tasks.md
  scripts/dogfood-local.sh
Due: markdownlint

fix: update aspen-cli proxy to iroh 0.97 address_lookup API (StaticProvider → MemoryLookup)
  crates/aspen-cli/src/bin/aspen-cli/commands/proxy.rs
Due: rustfmt, cargo-clippy

dogfood: fix all inline JSON parsers to use raw_decode for trailing stderr tolerance
  scripts/dogfood-local.sh
Due: none

dogfood full-loop: Aspen builds itself (Forge → CI → nix build → deploy → verify)
  .agent/napkin.md
  openspec/changes/dogfood-self-build-hardening/tasks.md
Due: markdownlint

NixOS VM test: 3-stage CI pipeline orchestration (ci-dogfood-full-loop)
  flake.nix
  nix/tests/ci-dogfood-full-loop.nix
Due: none

update tasks and napkin for completed VM test
  .agent/napkin.md
  openspec/changes/dogfood-self-build-hardening/tasks.md
Due: markdownlint

multi-node dogfood: 3-node VM test + prefetch timeout fix
  crates/aspen-ci/src/adapters.rs
  flake.nix
  nix/tests/multi-node-dogfood.nix
  openspec/changes/multi-node-dogfood/.openspec.yaml
  openspec/changes/multi-node-dogfood/design.md
  openspec/changes/multi-node-dogfood/proposal.md
  openspec/changes/multi-node-dogfood/specs/multi-node-deploy-test/spec.md
  openspec/changes/multi-node-dogfood/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

update napkin with multi-node dogfood learnings
  .agent/napkin.md
Due: markdownlint

plan: iroh address refresh after node restart
  openspec/changes/iroh-address-refresh/.openspec.yaml
  openspec/changes/iroh-address-refresh/design.md
  openspec/changes/iroh-address-refresh/proposal.md
  openspec/changes/iroh-address-refresh/specs/address-refresh/spec.md
  openspec/changes/iroh-address-refresh/tasks.md
Due: markdownlint

iroh address refresh: gossip override in Raft network layer
  crates/aspen-cluster/src/bootstrap/node/discovery_init.rs
  crates/aspen-raft/src/network/client.rs
  crates/aspen-raft/src/network/factory.rs
  crates/aspen-raft/src/network/tests.rs
  openspec/changes/iroh-address-refresh/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

flake: exclude nix/ from fullRawSrc to prevent binary rebuild on test edits
  flake.nix
  openspec/changes/iroh-address-refresh/tasks.md
Due: markdownlint

persist gossip peer addresses across restarts
  crates/aspen-cluster/src/bootstrap/node/mod.rs
  crates/aspen-cluster/src/bootstrap/node/sharding_init.rs
  crates/aspen-raft/src/network/factory.rs
Due: rustfmt, cargo-clippy

fix trailing whitespace and formatting in ci-dogfood-full-loop test
  nix/tests/ci-dogfood-full-loop.nix
Due: none

propagate gossip-discovered addresses into Raft membership
  crates/aspen-cluster/src/bootstrap/node/discovery_init.rs
  crates/aspen-cluster/src/bootstrap/node/mod.rs
  crates/aspen-cluster/src/bootstrap/node/sharding_init.rs
  crates/aspen-cluster/src/gossip_discovery.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/transport.rs
  crates/aspen-raft/src/node/membership_refresh.rs
  crates/aspen-raft/src/node/mod.rs
  openspec/changes/raft-membership-address-refresh/.openspec.yaml
  openspec/changes/raft-membership-address-refresh/design.md
  openspec/changes/raft-membership-address-refresh/proposal.md
  openspec/changes/raft-membership-address-refresh/specs/membership-address-refresh/spec.md
  openspec/changes/raft-membership-address-refresh/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

add per-node election timeout jitter to prevent split-votes
  crates/aspen-cluster/src/bootstrap/node/storage_init.rs
  crates/aspen-cluster/src/lib.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
