Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

fix: Verus syntax fixes for raft specifications
  crates/aspen-raft/verus/apply_request_spec.rs
  crates/aspen-raft/verus/batcher_add_spec.rs
  crates/aspen-raft/verus/batcher_flush_spec.rs
  crates/aspen-raft/verus/chain_verify_spec.rs
  crates/aspen-raft/verus/ttl_spec.rs
Due: rustfmt, cargo-clippy

fix: comprehensive Verus specification fixes
  crates/aspen-coordination/verus/acquire_spec.rs
  crates/aspen-coordination/verus/barrier_spec.rs
  crates/aspen-coordination/verus/counter_ops_spec.rs
  crates/aspen-coordination/verus/counter_state_spec.rs
  crates/aspen-coordination/verus/election_ops_spec.rs
  crates/aspen-coordination/verus/election_state_spec.rs
  crates/aspen-coordination/verus/lib.rs
  crates/aspen-coordination/verus/lock_state_spec.rs
  crates/aspen-coordination/verus/overflow_constants_spec.rs
  crates/aspen-coordination/verus/queue_ack_spec.rs
  crates/aspen-coordination/verus/queue_dequeue_spec.rs
  crates/aspen-coordination/verus/queue_enqueue_spec.rs
  crates/aspen-coordination/verus/queue_state_spec.rs
  crates/aspen-coordination/verus/rate_limiter_ops_spec.rs
  crates/aspen-coordination/verus/rate_limiter_state_spec.rs
  crates/aspen-coordination/verus/registry_ops_spec.rs
  crates/aspen-coordination/verus/registry_state_spec.rs
  crates/aspen-coordination/verus/release_spec.rs
  crates/aspen-coordination/verus/renew_spec.rs
  crates/aspen-coordination/verus/rwlock_ops_spec.rs
  crates/aspen-coordination/verus/rwlock_state_spec.rs
  crates/aspen-coordination/verus/semaphore_spec.rs
  crates/aspen-coordination/verus/sequence_reserve_spec.rs
  crates/aspen-coordination/verus/sequence_state_spec.rs
  crates/aspen-coordination/verus/worker_ops_spec.rs
  crates/aspen-coordination/verus/worker_state_spec.rs
  crates/aspen-raft/verus/append_spec.rs
  crates/aspen-raft/verus/apply_request_spec.rs
  crates/aspen-raft/verus/batcher_add_spec.rs
  crates/aspen-raft/verus/batcher_flush_spec.rs
  crates/aspen-raft/verus/batcher_state_spec.rs
  crates/aspen-raft/verus/chain_hash_spec.rs
  crates/aspen-raft/verus/chain_verify_spec.rs
  crates/aspen-raft/verus/purge_spec.rs
  crates/aspen-raft/verus/snapshot_spec.rs
  crates/aspen-raft/verus/storage_state_spec.rs
  crates/aspen-raft/verus/truncate_spec.rs
  crates/aspen-raft/verus/ttl_spec.rs
Due: rustfmt, cargo-clippy

refactor: reorganize pure module as directory with re-exports
  crates/aspen-core/src/pure/mod.rs
  crates/aspen-core/src/pure/scan.rs
Due: rustfmt, cargo-clippy

revert: merge aspen-pure back into aspen-core
  Cargo.lock
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/layer/allocator.rs
  crates/aspen-core/src/layer/directory.rs
  crates/aspen-core/src/layer/index.rs
  crates/aspen-core/src/layer/mod.rs
  crates/aspen-core/src/layer/subspace.rs
  crates/aspen-core/src/layer/tuple.rs
  crates/aspen-core/src/pure.rs
  crates/aspen-pure/Cargo.toml
  crates/aspen-pure/src/constants.rs
  crates/aspen-pure/src/lib.rs
  crates/aspen-pure/src/scan.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: extract write_batcher, membership, and auth pure functions
  crates/aspen-raft/src/auth.rs
  crates/aspen-raft/src/learner_promotion.rs
  crates/aspen-raft/src/pure/auth.rs
  crates/aspen-raft/src/pure/membership.rs
  crates/aspen-raft/src/pure/mod.rs
  crates/aspen-raft/src/pure/write_batcher.rs
  crates/aspen-raft/src/write_batcher.rs
Due: rustfmt, cargo-clippy

refactor: extract pure functions to aspen-raft/pure directory
  crates/aspen-raft/src/integrity.rs
  crates/aspen-raft/src/pure/encoding.rs
  crates/aspen-raft/src/pure/heuristics.rs
  crates/aspen-raft/src/pure/integrity.rs
  crates/aspen-raft/src/pure/mod.rs
  crates/aspen-raft/src/sharded.rs
Due: rustfmt, cargo-clippy

refactor: extract scan, conversion, and cluster state pure functions
  crates/aspen-raft/src/pure/conversion.rs
  crates/aspen-raft/src/pure/membership.rs
  crates/aspen-raft/src/pure/mod.rs
  crates/aspen-raft/src/pure/scan.rs
Due: rustfmt, cargo-clippy

chore: comment out snix local patches, update lockfile
  .cargo/config.toml
  Cargo.lock
Due: cargo-deny

feat: extract pure functions to aspen-pure crate
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/layer/mod.rs
  crates/aspen-pure/Cargo.toml
  crates/aspen-pure/src/constants.rs
  crates/aspen-pure/src/lib.rs
  crates/aspen-pure/src/scan.rs
  crates/aspen-pure/src/subspace.rs
  crates/aspen-pure/src/tuple.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: extract medium-priority pure functions from aspen-coordination
  crates/aspen-coordination/src/pure/mod.rs
  crates/aspen-coordination/src/pure/registry.rs
  crates/aspen-coordination/src/pure/rwlock.rs
  crates/aspen-coordination/src/pure/semaphore.rs
  crates/aspen-coordination/src/pure/worker.rs
  crates/aspen-coordination/src/registry.rs
  crates/aspen-coordination/src/rwlock.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/worker_coordinator.rs
Due: rustfmt, cargo-clippy

refactor: extract pure functions from aspen-coordination
  Cargo.lock
  crates/aspen-coordination/Cargo.toml
  crates/aspen-coordination/src/barrier.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/pure/barrier.rs
  crates/aspen-coordination/src/pure/election.rs
  crates/aspen-coordination/src/pure/lock.rs
  crates/aspen-coordination/src/pure/mod.rs
  crates/aspen-coordination/src/pure/queue.rs
  crates/aspen-coordination/src/pure/rate_limiter.rs
  crates/aspen-coordination/src/queue.rs
  crates/aspen-coordination/src/types.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: update imports in layer modules to use re-exports
  crates/aspen-core/src/layer/allocator.rs
  crates/aspen-core/src/layer/directory.rs
  crates/aspen-core/src/layer/index.rs
Due: rustfmt, cargo-clippy

refactor: extract network and kv pure functions
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/pure/kv.rs
  crates/aspen-raft/src/pure/mod.rs
  crates/aspen-raft/src/pure/network.rs
  crates/aspen-raft/src/storage_shared.rs
  flake.nix
Due: rustfmt, cargo-clippy

refactor: extract key generation and state management pure functions
  crates/aspen-coordination/src/pure/mod.rs
  crates/aspen-coordination/src/pure/queue.rs
  crates/aspen-coordination/src/pure/registry.rs
  crates/aspen-coordination/src/pure/rwlock.rs
  crates/aspen-coordination/src/pure/semaphore.rs
  crates/aspen-coordination/src/pure/worker.rs
  crates/aspen-coordination/src/queue.rs
  crates/aspen-coordination/src/registry.rs
  crates/aspen-coordination/src/rwlock.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/worker_coordinator.rs
Due: rustfmt, cargo-clippy

refactor: extract pure functions from counter, sequence, and strategies
  crates/aspen-coordination/src/counter.rs
  crates/aspen-coordination/src/pure/counter.rs
  crates/aspen-coordination/src/pure/mod.rs
  crates/aspen-coordination/src/pure/sequence.rs
  crates/aspen-coordination/src/pure/strategies.rs
  crates/aspen-coordination/src/sequence.rs
  crates/aspen-coordination/src/worker_strategies.rs
Due: rustfmt, cargo-clippy

refactor: extract additional pure functions from aspen-coordination
  crates/aspen-coordination/src/pure/barrier.rs
  crates/aspen-coordination/src/pure/election.rs
  crates/aspen-coordination/src/pure/fencing.rs
  crates/aspen-coordination/src/pure/mod.rs
  crates/aspen-coordination/src/pure/queue.rs
  crates/aspen-coordination/src/pure/strategies.rs
Due: rustfmt, cargo-clippy

Add Verus specs for fencing and load balancing
  crates/aspen-coordination/verus/fencing_spec.rs
  crates/aspen-coordination/verus/lib.rs
  crates/aspen-coordination/verus/strategies_spec.rs
Due: rustfmt, cargo-clippy

Fix end-of-file newlines in Verus specs
  crates/aspen-coordination/verus/fencing_spec.rs
  crates/aspen-coordination/verus/strategies_spec.rs
Due: rustfmt, cargo-clippy

refactor: consolidate and enhance pure function modules
  crates/aspen-coordination/src/counter.rs
  crates/aspen-coordination/src/pure/barrier.rs
  crates/aspen-coordination/src/pure/counter.rs
  crates/aspen-coordination/src/pure/election.rs
  crates/aspen-coordination/src/pure/fencing.rs
  crates/aspen-coordination/src/pure/lock.rs
  crates/aspen-coordination/src/pure/mod.rs
  crates/aspen-coordination/src/pure/queue.rs
  crates/aspen-coordination/src/pure/rate_limiter.rs
  crates/aspen-coordination/src/pure/registry.rs
  crates/aspen-coordination/src/pure/rwlock.rs
  crates/aspen-coordination/src/pure/semaphore.rs
  crates/aspen-coordination/src/pure/sequence.rs
  crates/aspen-coordination/src/pure/strategies.rs
  crates/aspen-coordination/src/pure/worker.rs
  crates/aspen-coordination/src/queue.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/sequence.rs
  crates/aspen-coordination/src/worker_strategies.rs
  crates/aspen-core/src/layer/mod.rs
  crates/aspen-core/src/pure/mod.rs
  crates/aspen-raft/src/integrity.rs
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/pure/conversion.rs
  crates/aspen-raft/src/pure/heuristics.rs
  crates/aspen-raft/src/pure/kv.rs
  crates/aspen-raft/src/pure/membership.rs
  crates/aspen-raft/src/pure/mod.rs
  crates/aspen-raft/src/pure/network.rs
  crates/aspen-raft/src/pure/scan.rs
  crates/aspen-raft/src/sharded.rs
  crates/aspen-raft/src/storage_shared.rs
Due: rustfmt, cargo-clippy

feat: add verified exec fn implementations to Verus specs
  crates/aspen-coordination/verus/acquire_spec.rs
  crates/aspen-coordination/verus/barrier_spec.rs
  crates/aspen-coordination/verus/counter_state_spec.rs
  crates/aspen-coordination/verus/fencing_spec.rs
  crates/aspen-coordination/verus/lib.rs
  crates/aspen-coordination/verus/lock_state_spec.rs
  crates/aspen-coordination/verus/rate_limiter_state_spec.rs
  crates/aspen-coordination/verus/semaphore_spec.rs
  crates/aspen-coordination/verus/sequence_state_spec.rs
  crates/aspen-raft/verus/batcher_state_spec.rs
  crates/aspen-raft/verus/lib.rs
  crates/aspen-raft/verus/membership_spec.rs
  crates/aspen-raft/verus/ttl_spec.rs
Due: rustfmt, cargo-clippy

feat: add exec fn to queue, rwlock, election, and registry specs
  crates/aspen-coordination/verus/election_state_spec.rs
  crates/aspen-coordination/verus/queue_state_spec.rs
  crates/aspen-coordination/verus/registry_ops_spec.rs
  crates/aspen-coordination/verus/rwlock_state_spec.rs
Due: rustfmt, cargo-clippy

feat: add exec fn to worker_ops_spec
  crates/aspen-coordination/verus/worker_ops_spec.rs
Due: rustfmt, cargo-clippy

feat: add exec fn to rwlock_ops, election_ops, queue, and rate_limiter specs
  crates/aspen-coordination/verus/election_ops_spec.rs
  crates/aspen-coordination/verus/queue_ack_spec.rs
  crates/aspen-coordination/verus/queue_dequeue_spec.rs
  crates/aspen-coordination/verus/queue_enqueue_spec.rs
  crates/aspen-coordination/verus/rate_limiter_ops_spec.rs
  crates/aspen-coordination/verus/rwlock_ops_spec.rs
Due: rustfmt, cargo-clippy

feat: add exec fn to batcher_add, batcher_flush, and chain_hash specs
  crates/aspen-raft/verus/batcher_add_spec.rs
  crates/aspen-raft/verus/batcher_flush_spec.rs
  crates/aspen-raft/verus/chain_hash_spec.rs
Due: rustfmt, cargo-clippy

feat: migrate pure/ functions to verified/ module
  .claude/CLAUDE.md
  crates/aspen-coordination/src/counter.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/sequence.rs
  crates/aspen-coordination/src/verified/barrier.rs
  crates/aspen-coordination/src/verified/counter.rs
  crates/aspen-coordination/src/verified/election.rs
  crates/aspen-coordination/src/verified/fencing.rs
  crates/aspen-coordination/src/verified/lock.rs
  crates/aspen-coordination/src/verified/mod.rs
  crates/aspen-coordination/src/verified/queue.rs
  crates/aspen-coordination/src/verified/rate_limiter.rs
  crates/aspen-coordination/src/verified/registry.rs
  crates/aspen-coordination/src/verified/rwlock.rs
  crates/aspen-coordination/src/verified/semaphore.rs
  crates/aspen-coordination/src/verified/sequence.rs
  crates/aspen-coordination/src/verified/strategies.rs
  crates/aspen-coordination/src/verified/worker.rs
  crates/aspen-coordination/src/worker_strategies.rs
  tigerstyle.md
Due: rustfmt, cargo-clippy, markdownlint

feat: extend verified module migration to aspen-raft and aspen-core
  crates/aspen-coordination/src/barrier.rs
  crates/aspen-coordination/src/queue.rs
  crates/aspen-coordination/src/registry.rs
  crates/aspen-coordination/src/rwlock.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/types.rs
  crates/aspen-coordination/src/worker_coordinator.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/verified/mod.rs
  crates/aspen-core/src/verified/scan.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/verified/auth.rs
  crates/aspen-raft/src/verified/conversion.rs
  crates/aspen-raft/src/verified/encoding.rs
  crates/aspen-raft/src/verified/heuristics.rs
  crates/aspen-raft/src/verified/integrity.rs
  crates/aspen-raft/src/verified/kv.rs
  crates/aspen-raft/src/verified/membership.rs
  crates/aspen-raft/src/verified/mod.rs
  crates/aspen-raft/src/verified/network.rs
  crates/aspen-raft/src/verified/scan.rs
  crates/aspen-raft/src/verified/write_batcher.rs
Due: rustfmt, cargo-clippy

feat: complete Verus/Pure unification - migrate aspen-raft and aspen-core
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/pure/mod.rs
  crates/aspen-core/src/pure/scan.rs
  crates/aspen-raft/src/auth.rs
  crates/aspen-raft/src/clock_drift_detection.rs
  crates/aspen-raft/src/connection_pool.rs
  crates/aspen-raft/src/integrity.rs
  crates/aspen-raft/src/learner_promotion.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/node_failure_detection.rs
  crates/aspen-raft/src/pure/auth.rs
  crates/aspen-raft/src/pure/conversion.rs
  crates/aspen-raft/src/pure/encoding.rs
  crates/aspen-raft/src/pure/heuristics.rs
  crates/aspen-raft/src/pure/integrity.rs
  crates/aspen-raft/src/pure/kv.rs
  crates/aspen-raft/src/pure/membership.rs
  crates/aspen-raft/src/pure/mod.rs
  crates/aspen-raft/src/pure/network.rs
  crates/aspen-raft/src/pure/scan.rs
  crates/aspen-raft/src/pure/write_batcher.rs
  crates/aspen-raft/src/sharded.rs
  crates/aspen-raft/src/storage_shared.rs
  crates/aspen-raft/src/supervisor.rs
  crates/aspen-raft/src/write_batcher.rs
Due: rustfmt, cargo-clippy

docs: update references from pure/ to verified/ after migration
  .claude/CLAUDE.md
  crates/aspen-coordination/verus/fencing_spec.rs
  crates/aspen-coordination/verus/strategies_spec.rs
  crates/aspen-raft/src/network.rs
  crates/aspen-raft/src/sharded.rs
Due: rustfmt, cargo-clippy, markdownlint

fix: correct Verus binary paths in verusRoot derivation
  flake.nix
Due: none

fix: resolve Verus type coercion and mode errors
  crates/aspen-coordination/verus/fencing_spec.rs
  crates/aspen-coordination/verus/queue_dequeue_spec.rs
  crates/aspen-coordination/verus/rate_limiter_ops_spec.rs
  crates/aspen-coordination/verus/rate_limiter_state_spec.rs
  crates/aspen-coordination/verus/sequence_state_spec.rs
  crates/aspen-coordination/verus/strategies_spec.rs
  crates/aspen-raft/verus/batcher_state_spec.rs
  crates/aspen-raft/verus/membership_spec.rs
  crates/aspen-raft/verus/ttl_spec.rs
Due: rustfmt, cargo-clippy

fix: resolve verification issues and test failures
  crates/aspen-coordination/verus/barrier_spec.rs
  crates/aspen-coordination/verus/counter_state_spec.rs
  crates/aspen-coordination/verus/election_ops_spec.rs
  crates/aspen-coordination/verus/election_state_spec.rs
  crates/aspen-coordination/verus/lock_state_spec.rs
  crates/aspen-coordination/verus/rate_limiter_ops_spec.rs
  crates/aspen-coordination/verus/registry_ops_spec.rs
  crates/aspen-coordination/verus/rwlock_ops_spec.rs
  crates/aspen-coordination/verus/rwlock_state_spec.rs
  crates/aspen-coordination/verus/semaphore_spec.rs
  crates/aspen-coordination/verus/worker_ops_spec.rs
  crates/aspen-core/src/inmemory.rs
  crates/aspen-raft/verus/batcher_add_spec.rs
  crates/aspen-raft/verus/batcher_flush_spec.rs
  crates/aspen-raft/verus/batcher_state_spec.rs
  crates/aspen-raft/verus/chain_hash_spec.rs
Due: rustfmt, cargo-clippy

docs: add comprehensive Verus formal verification guidance
  .claude/CLAUDE.md
  tigerstyle.md
Due: markdownlint

refactor: extract pure functions across core crates
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/verified/mod.rs
  crates/aspen-ci/src/verified/pipeline.rs
  crates/aspen-ci/src/verified/resource.rs
  crates/aspen-ci/src/verified/timeout.rs
  crates/aspen-ci/src/verified/trigger.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/verified/cob_state.rs
  crates/aspen-forge/src/verified/mod.rs
  crates/aspen-forge/src/verified/rate_limiter.rs
  crates/aspen-forge/src/verified/ref_validation.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/verified/dependency.rs
  crates/aspen-jobs/src/verified/mod.rs
  crates/aspen-jobs/src/verified/retry.rs
  crates/aspen-jobs/src/verified/saga.rs
  crates/aspen-jobs/src/verified/schedule.rs
  crates/aspen-jobs/src/verified/workflow.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/verified/auth.rs
  crates/aspen-raft/src/verified/conversion.rs
  crates/aspen-raft/src/verified/encoding.rs
  crates/aspen-raft/src/verified/heuristics.rs
  crates/aspen-raft/src/verified/kv.rs
  crates/aspen-raft/src/verified/membership.rs
  crates/aspen-raft/src/verified/network.rs
  crates/aspen-raft/src/verified/scan.rs
  crates/aspen-raft/src/verified/write_batcher.rs
  crates/aspen-rpc-handlers/src/handlers/coordination.rs
  crates/aspen-rpc-handlers/src/handlers/kv.rs
  crates/aspen-rpc-handlers/src/lib.rs
  crates/aspen-rpc-handlers/src/verified/conversions.rs
  crates/aspen-rpc-handlers/src/verified/mod.rs
  crates/aspen-rpc-handlers/src/verified/timeout.rs
  crates/aspen-rpc-handlers/src/verified/validation.rs
Due: rustfmt, cargo-clippy

refactor: add verified modules to aspen-cluster and aspen-transport
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/verified/gossip.rs
  crates/aspen-cluster/src/verified/message.rs
  crates/aspen-cluster/src/verified/mod.rs
  crates/aspen-cluster/src/verified/peer.rs
  crates/aspen-cluster/src/verified/rate_limiter.rs
  crates/aspen-transport/src/lib.rs
  crates/aspen-transport/src/verified/encoding.rs
  crates/aspen-transport/src/verified/error.rs
  crates/aspen-transport/src/verified/mod.rs
Due: rustfmt, cargo-clippy

feat: wire Verus verification for aspen-cluster and aspen-transport
  crates/aspen-cluster/verus/signed_announcement_spec.rs
  crates/aspen-cluster/verus/trust_spec.rs
  crates/aspen-transport/verus/connection_spec.rs
  crates/aspen-transport/verus/lib.rs
  crates/aspen-transport/verus/stream_spec.rs
  flake.nix
Due: rustfmt, cargo-clippy

feat: align verified modules with Verus exec functions
  crates/aspen-coordination/src/verified/barrier.rs
  crates/aspen-coordination/src/verified/election.rs
  crates/aspen-coordination/src/verified/fencing.rs
  crates/aspen-coordination/src/verified/mod.rs
  crates/aspen-coordination/src/verified/queue.rs
  crates/aspen-coordination/src/verified/rate_limiter.rs
  crates/aspen-coordination/src/verified/registry.rs
  crates/aspen-coordination/src/verified/rwlock.rs
  crates/aspen-coordination/src/verified/worker.rs
  crates/aspen-coordination/verus/fencing_spec.rs
  crates/aspen-coordination/verus/rwlock_ops_spec.rs
  crates/aspen-coordination/verus/strategies_spec.rs
Due: rustfmt, cargo-clippy

feat: add Verus specs for counter and election functions
  crates/aspen-coordination/verus/counter_state_spec.rs
  crates/aspen-coordination/verus/election_state_spec.rs
  crates/aspen-coordination/verus/lib.rs
  flake.nix
  scripts/verify-verus-sync.sh
Due: rustfmt, cargo-clippy

feat: add Rust-based Verus sync verification tool
  Cargo.lock
  Cargo.toml
  crates/aspen-verus-metrics/Cargo.toml
  crates/aspen-verus-metrics/src/comparison/matcher.rs
  crates/aspen-verus-metrics/src/comparison/mod.rs
  crates/aspen-verus-metrics/src/comparison/normalizer.rs
  crates/aspen-verus-metrics/src/lib.rs
  crates/aspen-verus-metrics/src/main.rs
  crates/aspen-verus-metrics/src/output/json.rs
  crates/aspen-verus-metrics/src/output/mod.rs
  crates/aspen-verus-metrics/src/output/terminal.rs
  crates/aspen-verus-metrics/src/parser/mod.rs
  crates/aspen-verus-metrics/src/parser/production.rs
  crates/aspen-verus-metrics/src/parser/verus.rs
  flake.nix
  scripts/verify-verus-sync.sh
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: enhance verify-verus-sync tool with multiple improvements
  Cargo.lock
  crates/aspen-verus-metrics/Cargo.toml
  crates/aspen-verus-metrics/src/lib.rs
  crates/aspen-verus-metrics/src/main.rs
  crates/aspen-verus-metrics/src/output/github.rs
  crates/aspen-verus-metrics/src/output/json.rs
  crates/aspen-verus-metrics/src/output/markdown.rs
  crates/aspen-verus-metrics/src/output/mod.rs
  crates/aspen-verus-metrics/src/output/terminal.rs
  crates/aspen-verus-metrics/src/parser/production.rs
  crates/aspen-verus-metrics/src/parser/verus.rs
  crates/aspen-verus-metrics/src/watch.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: reduce Verus drift in aspen-coordination
  crates/aspen-coordination/src/verified/barrier.rs
  crates/aspen-coordination/src/verified/fencing.rs
  crates/aspen-coordination/src/verified/lock.rs
  crates/aspen-coordination/src/verified/mod.rs
  crates/aspen-coordination/src/verified/queue.rs
  crates/aspen-coordination/src/verified/rate_limiter.rs
  crates/aspen-coordination/src/verified/registry.rs
  crates/aspen-coordination/src/verified/rwlock.rs
  crates/aspen-coordination/src/verified/worker.rs
  crates/aspen-coordination/src/worker_coordinator.rs
Due: rustfmt, cargo-clippy
