Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

feat: complete Pijul implementation TODOs
  crates/aspen-pijul/src/record.rs
  crates/aspen-pijul/src/store.rs
Due: rustfmt, cargo-clippy

feat: add comprehensive unit tests for testing infrastructure
  crates/aspen-testing/src/fault_injection.rs
  crates/aspen-testing/src/vm_manager.rs
Due: rustfmt, cargo-clippy

perf: optimize string handling in Client RPC layer
  crates/aspen-client/src/rpc.rs
Due: rustfmt, cargo-clippy

refactor: extract TUI help view to comply with Tiger Style
  crates/aspen-tui/src/ui.rs
Due: rustfmt, cargo-clippy

fix: resolve ShardTopology type mismatch enabling GetTopology RPC
  crates/aspen-rpc-handlers/src/context.rs
Due: rustfmt, cargo-clippy

feat: implement DNS forwarding and content discovery configuration
  crates/aspen-cluster/src/content_discovery.rs
  crates/aspen-dns/src/error.rs
  crates/aspen-dns/src/forwarding.rs
  crates/aspen-dns/src/lib.rs
  crates/aspen-dns/src/server.rs
Due: rustfmt, cargo-clippy

refactor: extract aspen-node main() to comply with Tiger Style 70-line limit
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

feat: add distributed job queue system with worker pools
  Cargo.lock
  Cargo.toml
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/examples/job_demo.rs
  crates/aspen-jobs/src/error.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/src/types.rs
  crates/aspen-jobs/src/worker.rs
  crates/aspen-jobs/tests/job_lifecycle.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: integrate workers with queue for automatic job processing
  crates/aspen-jobs/examples/integrated_worker.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/src/worker.rs
Due: rustfmt, cargo-clippy

feat: add P2P locality affinity and CAS-based workflows to job queue
  Cargo.lock
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/examples/cas_workflow.rs
  crates/aspen-jobs/examples/p2p_affinity.rs
  crates/aspen-jobs/src/affinity.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/workflow.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add SQL-based job analytics with DataFusion integration
  crates/aspen-jobs/examples/sql_analytics.rs
  crates/aspen-jobs/src/analytics.rs
  crates/aspen-jobs/src/lib.rs
Due: rustfmt, cargo-clippy

feat: implement CRDT-based job progress tracking
  Cargo.lock
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/examples/blob_payloads.rs
  crates/aspen-jobs/examples/crdt_progress.rs
  crates/aspen-jobs/src/blob_storage.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/progress.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add deterministic job replay for testing and debugging
  crates/aspen-jobs/examples/deterministic_replay.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/replay.rs
Due: rustfmt, cargo-clippy

fix: resolve clippy warnings across the codebase
  crates/aspen-api/src/lib.rs
  crates/aspen-cluster/src/federation/trust.rs
  crates/aspen-cluster/src/federation/types.rs
  crates/aspen-cluster/src/gossip_discovery.rs
  crates/aspen-core/src/sql.rs
  crates/aspen-dns/src/forwarding.rs
  crates/aspen-forge/src/cob/store.rs
  crates/aspen-forge/src/gossip/types.rs
  crates/aspen-forge/src/node.rs
  crates/aspen-gossip/src/discovery.rs
  crates/aspen-gossip/src/lib.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-raft/src/storage_shared.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
  src/node/tests.rs
Due: rustfmt, cargo-clippy

fix: resolve job queue state management race conditions
  crates/aspen-jobs/src/affinity.rs
  crates/aspen-jobs/src/analytics.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/src/replay.rs
  crates/aspen-jobs/src/workflow.rs
  crates/aspen-jobs/tests/job_lifecycle.rs
Due: rustfmt, cargo-clippy

feat: add job queue CLI commands and RPC protocol
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/job.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-client-rpc/src/lib.rs
Due: rustfmt, cargo-clippy

feat: implement job queue RPC handlers
  Cargo.lock
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/job.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: initialize JobManager in aspen-node startup
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

test: add job queue end-to-end test script
  test-job-queue.sh
Due: none

fix: resolve RPC type mismatches and compilation errors for job queue
  Cargo.lock
  Cargo.toml
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/blob.rs
  crates/aspen-rpc-handlers/src/handlers/cluster.rs
  crates/aspen-rpc-handlers/src/handlers/coordination.rs
  crates/aspen-rpc-handlers/src/handlers/core.rs
  crates/aspen-rpc-handlers/src/handlers/dns.rs
  crates/aspen-rpc-handlers/src/handlers/docs.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  crates/aspen-rpc-handlers/src/handlers/job.rs
  crates/aspen-rpc-handlers/src/handlers/kv.rs
  crates/aspen-rpc-handlers/src/handlers/lease.rs
  crates/aspen-rpc-handlers/src/handlers/pijul.rs
  crates/aspen-rpc-handlers/src/handlers/service_registry.rs
  crates/aspen-rpc-handlers/src/handlers/sql.rs
  crates/aspen-rpc-handlers/src/handlers/watch.rs
  crates/aspen-rpc-handlers/src/registry.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat(jobs): add comprehensive Dead Letter Queue (DLQ) support
  crates/aspen-jobs/src/dlq_inspector.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/src/types.rs
Due: rustfmt, cargo-clippy

feat(jobs): add advanced scheduling system with sub-second precision
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/scheduler.rs
  crates/aspen-jobs/src/types.rs
Due: rustfmt, cargo-clippy

feat(jobs): add comprehensive job dependency tracking system
  crates/aspen-jobs/src/dependency_tracker.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
Due: rustfmt, cargo-clippy

feat(jobs): integrate DependencyGraph with JobManager for DAG workflows
  crates/aspen-jobs/examples/deterministic_replay.rs
  crates/aspen-jobs/src/dependency_tracker.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/tests/job_lifecycle.rs
Due: rustfmt, cargo-clippy

feat: integrate distributed job workers with Aspen cluster nodes
  Cargo.lock
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/worker_service.rs
  crates/aspen-jobs/src/affinity.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/workers/blob_processor.rs
  crates/aspen-jobs/src/workers/maintenance.rs
  crates/aspen-jobs/src/workers/mod.rs
  crates/aspen-jobs/src/workers/replication.rs
  crates/aspen-jobs/src/workers/sql_query.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: implement DistributedWorkerCoordinator for cross-node job coordination
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/worker_service.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/worker_coordinator.rs
  crates/aspen-coordination/src/worker_strategies.rs
  crates/aspen-coordination/tests/worker_coordinator_test.rs
  crates/aspen-jobs/src/distributed_pool.rs
  crates/aspen-jobs/src/lib.rs
Due: rustfmt, cargo-clippy

feat: add comprehensive distributed tracing and monitoring for job execution
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/monitoring.rs
  crates/aspen-jobs/src/traced_worker.rs
  crates/aspen-jobs/src/tracing.rs
Due: rustfmt, cargo-clippy

feat: integrate job queue system with client SDK
  Cargo.lock
  Cargo.toml
  PLAN.md
  crates/aspen-client/examples/coordination.rs
  crates/aspen-client/examples/job_management.rs
  crates/aspen-client/examples/observability.rs
  crates/aspen-client/src/client.rs
  crates/aspen-client/src/job_client.rs
  crates/aspen-client/src/lib.rs
  crates/aspen-client/src/observability.rs
  crates/aspen-client/src/rpc.rs
  crates/aspen-py/Cargo.toml
  crates/aspen-py/pyproject.toml
  crates/aspen-py/src/lib.rs
  examples/submit_job.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

feat(jobs): add Hyperlight VM executor for sandboxed job execution
  crates/aspen-core/src/constants.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/error.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/src/vm_executor/types.rs
  crates/aspen-jobs/tests/vm_executor_test.rs
Due: rustfmt, cargo-clippy

feat(jobs): implement real Hyperlight VM integration with guest binaries
  crates/aspen-jobs-guest/Cargo.toml
  crates/aspen-jobs-guest/src/lib.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/tests/vm_integration_test.rs
  examples/vm-jobs/README.md
  examples/vm-jobs/data-processor/Cargo.toml
  examples/vm-jobs/data-processor/src/main.rs
  examples/vm-jobs/echo-worker/Cargo.toml
  examples/vm-jobs/echo-worker/src/main.rs
  examples/vm_job_demo.rs
  scripts/build-guest.sh
Due: rustfmt, cargo-clippy, markdownlint

fix: restore VM executor functionality with Hyperlight v0.12
  Cargo.lock
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/distributed_pool.rs
  crates/aspen-jobs/src/error.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/traced_worker.rs
  crates/aspen-jobs/src/tracing.rs
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/tests/vm_executor_test.rs
  examples/vm-jobs/data-processor/Cargo.toml
  examples/vm-jobs/echo-worker/Cargo.toml
Due: rustfmt, cargo-clippy, cargo-deny

feat(jobs): enable freestanding guest binary builds for Hyperlight VM
  Cargo.lock
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/config.rs
  crates/aspen-jobs-guest/Cargo.toml
  crates/aspen-jobs-guest/src/lib.rs
  crates/aspen-jobs/tests/vm_integration.rs
  crates/aspen-rpc-handlers/src/handlers/job.rs
  examples/vm-jobs/echo-worker/Cargo.lock
  examples/vm-jobs/echo-worker/clang
  examples/vm-jobs/echo-worker/src/main.rs
  flake.lock
  rust-toolchain.toml
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat(jobs): implement proper Hyperlight guest API for VM execution
  crates/aspen-jobs-guest/Cargo.toml
  crates/aspen-jobs-guest/src/lib.rs
  crates/aspen-jobs/tests/vm_integration.rs
  examples/vm-jobs/echo-worker/src/main.rs
Due: rustfmt, cargo-clippy

fix: resolve VM executor symbol export issues for Hyperlight integration
  crates/aspen-jobs-guest/src/lib.rs
  crates/aspen-jobs/src/traced_worker.rs
  crates/aspen-jobs/tests/vm_integration_test.rs
  examples/vm-jobs/echo-worker/Cargo.toml
Due: rustfmt, cargo-clippy

fix: prevent Hyperlight VM shutdown by using pause instruction
  crates/aspen-jobs-guest/src/lib.rs
  examples/test_vm_standalone.rs
  scripts/vm-jobs-demo.sh
Due: rustfmt, cargo-clippy

feat: migrate VM binary storage to iroh-blobs
  Cargo.lock
  Cargo.toml
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/distributed_pool.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/src/vm_executor/types.rs
  examples/submit_vm_job_rpc.rs
  examples/test_job_serialization.rs
  examples/test_vm_standalone.rs
  scripts/test-vm-job.sh
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

docs: add VM job submission documentation and tests
  docs/VM_JOB_SUBMISSION.md
  examples/vm_job_cluster_demo.rs
  scripts/test-blob-vm.sh
Due: rustfmt, cargo-clippy, markdownlint

feat: add aspen-cli with blob and VM job commands
  Cargo.toml
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  scripts/test-vm-cluster.sh
  src/bin/aspen-cli/main.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve job RPC serialization and worker execution issues
  crates/aspen-cli/src/bin/aspen-cli/commands/job.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-client-rpc/src/lib.rs
  crates/aspen-client/src/job_client.rs
  crates/aspen-cluster/src/worker_service.rs
  crates/aspen-rpc-handlers/src/handlers/job.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

feat: add lazy job queue initialization and worker config to scripts
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/main.rs
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client/src/lib.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/handlers/cluster.rs
  scripts/kitty-cluster.sh
  scripts/vm-jobs-demo.sh
  src/bin/aspen-cli/main.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny
