Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

feat(pijul): add CLI commands and RPC protocol for pijul operations
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/commands/pijul.rs
  src/client_rpc.rs
  src/pijul/apply.rs
  src/pijul/change_store.rs
  src/protocol_handlers/client.rs
Due: rustfmt, cargo-clippy

feat(pijul): implement server handlers for repo and channel operations
  src/bin/aspen-node.rs
  src/pijul/store.rs
  src/protocol_handlers/client.rs
Due: rustfmt, cargo-clippy

feat(pijul): implement channel delete and fork operations
  src/pijul/store.rs
  src/protocol_handlers/client.rs
Due: rustfmt, cargo-clippy

feat(pijul): add sync handler for gossip announcements
  src/pijul/constants.rs
  src/pijul/handler.rs
  src/pijul/mod.rs
Due: rustfmt, cargo-clippy

fix(pijul): persist empty channels and create default channel on repo init
  src/pijul/refs.rs
  src/pijul/store.rs
Due: rustfmt, cargo-clippy

feat(scripts): add pijul-demo.sh and harden cluster scripts
  scripts/cluster.sh
  scripts/pijul-demo.sh
Due: none

feat(pijul): add dependency tracking, pristine sync, and performance options
  .claude/CLAUDE.md
  src/bin/aspen-cli/commands/pijul.rs
  src/pijul/apply.rs
  src/pijul/mod.rs
  src/pijul/record.rs
  src/pijul/store.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(pijul): complete P2P sync by applying changes after download
  src/pijul/handler.rs
  src/pijul/store.rs
Due: rustfmt, cargo-clippy

feat(pijul): add conflict detection after sync
  src/pijul/handler.rs
  src/pijul/store.rs
  src/pijul/types.rs
Due: rustfmt, cargo-clippy

feat(pijul): add local pristine cache and sync command
  src/bin/aspen-cli/commands/pijul.rs
  src/pijul/apply.rs
Due: rustfmt, cargo-clippy

feat(pijul): add comprehensive CLI commands and working directory support
  Cargo.lock
  Cargo.toml
  src/bin/aspen-cli/commands/pijul.rs
  src/blob/store.rs
  src/client_rpc.rs
  src/pijul/apply.rs
  src/pijul/constants.rs
  src/pijul/error.rs
  src/pijul/mod.rs
  src/pijul/pristine.rs
  src/pijul/record.rs
  src/pijul/store.rs
  src/pijul/tests.rs
  src/pijul/working_dir.rs
  src/protocol_handlers/client.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat(pijul): add working directory CLI commands and conflict detection
  src/bin/aspen-cli/commands/pijul.rs
  src/pijul/apply.rs
Due: rustfmt, cargo-clippy

fix(pijul): fix P2P sync handler deduplication and leader routing
  src/node/mod.rs
  src/pijul/handler.rs
  src/pijul/refs.rs
  src/pijul/store.rs
  src/pijul/sync.rs
  src/testing/mod.rs
  src/testing/pijul_tester.rs
  tests/pijul_multi_node_test.rs
Due: rustfmt, cargo-clippy

feat(protocol): add modular handler architecture with fallback dispatch
  src/bin/generate_fuzz_corpus.rs
  src/client_rpc.rs
  src/protocol_handlers/client.rs
  src/protocol_handlers/handlers/blob.rs
  src/protocol_handlers/handlers/cluster.rs
  src/protocol_handlers/handlers/coordination.rs
  src/protocol_handlers/handlers/core.rs
  src/protocol_handlers/handlers/dns.rs
  src/protocol_handlers/handlers/docs.rs
  src/protocol_handlers/handlers/forge.rs
  src/protocol_handlers/handlers/kv.rs
  src/protocol_handlers/handlers/lease.rs
  src/protocol_handlers/handlers/mod.rs
  src/protocol_handlers/handlers/pijul.rs
  src/protocol_handlers/handlers/service_registry.rs
  src/protocol_handlers/handlers/sql.rs
  src/protocol_handlers/handlers/watch.rs
  src/protocol_handlers/mod.rs
Due: rustfmt, cargo-clippy

feat(protocol): complete KvHandler implementation
  src/protocol_handlers/handlers/kv.rs
Due: rustfmt, cargo-clippy

feat(protocol): complete CoordinationHandler with all 34 remaining operations
  src/protocol_handlers/handlers/coordination.rs
Due: rustfmt, cargo-clippy

fix(federation): update to iroh relay_urls accessor method
  src/cluster/federation/discovery.rs
Due: rustfmt, cargo-clippy

feat(protocol): complete LeaseHandler implementation
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/lease.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(protocol): complete ClusterHandler implementation
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/cluster.rs
Due: rustfmt, cargo-clippy, markdownlint

refactor(protocol): clean up WatchHandler with better documentation
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/watch.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(protocol): implement ServiceRegistryHandler and SqlHandler
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/service_registry.rs
  src/protocol_handlers/handlers/sql.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(protocol): implement BlobHandler with 12 operations
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/blob.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(protocol): implement DocsHandler with 13 operations
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/docs.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(protocol): implement DnsHandler with 10 operations
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/dns.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(protocol): implement ForgeHandler with 41 operations
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/forge.rs
Due: rustfmt, cargo-clippy, markdownlint

feat(protocol): implement PijulHandler - complete handler migration
  .claude/protocol-handler-migration-plan.md
  src/protocol_handlers/handlers/pijul.rs
Due: rustfmt, cargo-clippy, markdownlint

refactor(protocol): remove legacy process_client_request function
  .claude/protocol-handler-migration-plan.md
  src/client_rpc.rs
  src/protocol_handlers/client.rs
Due: rustfmt, cargo-clippy, markdownlint

refactor(api): decouple API from Raft internals with wrapper types
  src/api/inmemory.rs
  src/api/mod.rs
  src/constants.rs
  src/lib.rs
  src/protocol_handlers/handlers/core.rs
  src/raft/constants.rs
  src/raft/learner_promotion.rs
  src/raft/node.rs
  src/raft/storage_shared.rs
  tests/raft_node_direct_api_test.rs
Due: rustfmt, cargo-clippy

refactor(api): hide protocol_handlers and layer modules from public API
  src/bin/aspen-cli/client.rs
  src/bin/aspen-node.rs
  src/bin/git-remote-aspen/main.rs
  src/layer/mod.rs
  src/layer/proptest.rs
  src/lib.rs
  tests/rpc_serialization_test.rs
Due: rustfmt, cargo-clippy

refactor(api): consolidate log_subscriber and wrap EndpointAddr
  src/api/mod.rs
  src/forge/git/bridge/mod.rs
  src/forge/git/mod.rs
  src/forge/mod.rs
  src/lib.rs
  src/protocol_handlers/handlers/cluster.rs
  src/protocol_handlers/log_subscriber.rs
  src/raft/log_subscriber.rs
  src/raft/node.rs
  tests/api_validation_proptest.rs
  tests/dns_integration_test.rs
  tests/gossip_e2e_integration.rs
Due: rustfmt, cargo-clippy

refactor(api): replace openraft::ServerState with API-owned NodeState enum
  src/api/mod.rs
  src/protocol_handlers/handlers/core.rs
  src/raft/node.rs
Due: rustfmt, cargo-clippy

refactor(cluster): add NetworkTransport and PeerDiscovery trait abstractions
  src/api/mod.rs
  src/cluster/mod.rs
  src/cluster/transport.rs
  src/layer/mod.rs
  src/protocol_handlers/mod.rs
Due: rustfmt, cargo-clippy

refactor(api): break raft ↔ cluster circular dependency with generic transport
  src/api/mod.rs
  src/api/transport.rs
  src/cluster/bootstrap.rs
  src/cluster/gossip_discovery.rs
  src/cluster/mod.rs
  src/cluster/transport.rs
  src/protocol_handlers/client.rs
  src/raft/connection_pool.rs
  src/raft/network.rs
  src/raft/types.rs
Due: rustfmt, cargo-clippy

feat(cluster): implement PeerDiscovery trait for GossipPeerDiscovery
  src/cluster/gossip_discovery.rs
Due: rustfmt, cargo-clippy

refactor(core): extract shared types into aspen-core crate
  Cargo.lock
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/cluster.rs
  crates/aspen-core/src/constants.rs
  crates/aspen-core/src/error.rs
  crates/aspen-core/src/kv.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/pure.rs
  crates/aspen-core/src/sql.rs
  crates/aspen-core/src/storage.rs
  crates/aspen-core/src/traits.rs
  crates/aspen-core/src/transport.rs
  crates/aspen-core/src/types.rs
  crates/aspen-core/src/vault.rs
  src/api/inmemory.rs.backup
  src/api/inmemory.rs.new
  src/api/mod.rs
  src/api/pure.rs
  src/api/sql_validation.rs
  src/api/transport.rs
  src/cluster/transport.rs
  src/raft/node.rs
  src/raft/storage_shared.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: add aspen-blob, aspen-coordination, and aspen-dns crates
  Cargo.lock
  Cargo.toml
  PLAN.md
  audit.md
  crates/aspen-blob/Cargo.toml
  crates/aspen-blob/src/constants.rs
  crates/aspen-blob/src/kv_integration.rs
  crates/aspen-blob/src/lib.rs
  crates/aspen-blob/src/store.rs
  crates/aspen-blob/src/types.rs
  crates/aspen-coordination/Cargo.toml
  crates/aspen-coordination/src/barrier.rs
  crates/aspen-coordination/src/counter.rs
  crates/aspen-coordination/src/election.rs
  crates/aspen-coordination/src/error.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/lock.rs
  crates/aspen-coordination/src/queue.rs
  crates/aspen-coordination/src/rate_limiter.rs
  crates/aspen-coordination/src/registry.rs
  crates/aspen-coordination/src/rwlock.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/sequence.rs
  crates/aspen-coordination/src/types.rs
  crates/aspen-core/src/constants.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-dns/Cargo.toml
  crates/aspen-dns/src/authority.rs
  crates/aspen-dns/src/client.rs
  crates/aspen-dns/src/config.rs
  crates/aspen-dns/src/constants.rs
  crates/aspen-dns/src/error.rs
  crates/aspen-dns/src/lib.rs
  crates/aspen-dns/src/server.rs
  crates/aspen-dns/src/store.rs
  crates/aspen-dns/src/ticket.rs
  crates/aspen-dns/src/types.rs
  crates/aspen-dns/src/validation.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

refactor(layer): extract FDB-style tuple encoding into aspen-layer crate
  Cargo.lock
  Cargo.toml
  crates/aspen-layer/Cargo.toml
  crates/aspen-layer/src/lib.rs
  crates/aspen-layer/src/proptest.rs
  crates/aspen-layer/src/subspace.rs
  crates/aspen-layer/src/tuple.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor(sql): extract DataFusion SQL engine into aspen-sql crate
  Cargo.lock
  Cargo.toml
  crates/aspen-sql/Cargo.toml
  crates/aspen-sql/src/error.rs
  crates/aspen-sql/src/executor.rs
  crates/aspen-sql/src/lib.rs
  crates/aspen-sql/src/provider.rs
  crates/aspen-sql/src/schema.rs
  crates/aspen-sql/src/stream.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
