Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

keep component materialization out of runtime paths
  cairn/changes/add-wasm-component-performance-evidence/design.md
  cairn/changes/add-wasm-component-performance-evidence/proposal.md
  cairn/changes/add-wasm-component-performance-evidence/specs/wasm-component-performance/spec.md
  cairn/changes/add-wasm-component-performance-evidence/tasks.md
  cairn/changes/adopt-wasm-component-runtime-profile/design.md
  cairn/changes/adopt-wasm-component-runtime-profile/proposal.md
  cairn/changes/adopt-wasm-component-runtime-profile/specs/wasm-component-runtime/spec.md
  cairn/changes/adopt-wasm-component-runtime-profile/tasks.md
  cairn/changes/pilot-wrpc-component-transport/design.md
  cairn/changes/pilot-wrpc-component-transport/proposal.md
  cairn/changes/pilot-wrpc-component-transport/specs/component-rpc-pilot/spec.md
  cairn/changes/pilot-wrpc-component-transport/tasks.md
Due: markdownlint

avoid circular component admission evidence
  cairn/changes/adopt-wasm-component-runtime-profile/design.md
  cairn/changes/adopt-wasm-component-runtime-profile/specs/wasm-component-runtime/spec.md
  cairn/changes/adopt-wasm-component-runtime-profile/tasks.md
Due: markdownlint

define fabric boundaries before privileged extensions
  README.md
  cairn/archive/2026-07-11-distributed-system-fabric-boundary/design.md
  cairn/archive/2026-07-11-distributed-system-fabric-boundary/proposal.md
  cairn/archive/2026-07-11-distributed-system-fabric-boundary/specs/project/spec.md
  cairn/archive/2026-07-11-distributed-system-fabric-boundary/tasks.md
  cairn/specs/project/spec.md
  crates/molten-core/src/fabric/boundary.rs
  crates/molten-core/src/fabric/evidence.rs
  crates/molten-core/src/fabric/mod.rs
  crates/molten-core/src/fabric/port.rs
  crates/molten-core/src/fabric/reference.rs
  crates/molten-core/src/fabric/tier.rs
  crates/molten-core/src/lib.rs
  docs/architecture.md
  docs/distributed-system-fabric.md
  src/fabric/mod.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

add executable system-extension authority boundary
  README.md
  cairn/archive/2026-07-11-system-extension-service-runtime/design.md
  cairn/archive/2026-07-11-system-extension-service-runtime/metadata.json
  cairn/archive/2026-07-11-system-extension-service-runtime/proposal.md
  cairn/archive/2026-07-11-system-extension-service-runtime/specs/system-extension-runtime/spec.md
  cairn/archive/2026-07-11-system-extension-service-runtime/tasks.md
  cairn/specs/system-extension-runtime/spec.md
  crates/molten-core/src/lib.rs
  crates/molten-core/src/system_extension/dispatch.rs
  crates/molten-core/src/system_extension/lifecycle.rs
  crates/molten-core/src/system_extension/manifest.rs
  crates/molten-core/src/system_extension/mod.rs
  crates/molten-core/src/system_extension/supervision.rs
  crates/molten-core/src/system_extension/tests.rs
  docs/architecture.md
  docs/system-extension-runtime.md
  src/cli/runtime/system_extension.rs
  src/cli/runtime/system_extension/command.rs
  src/cli/runtime/system_extension/ops.rs
  src/lib.rs
  src/main.rs
  src/main/root.rs
  src/main/root/command.rs
  src/system_extension/canonical.rs
  src/system_extension/fixture.rs
  src/system_extension/host.rs
  src/system_extension/mod.rs
  src/system_extension/tests.rs
Due: rustfmt, cargo-clippy, markdownlint

make extension time replayable and generation-safe
  README.md
  cairn/archive/2026-07-11-fabric-time-scheduler-runtime/design.md
  cairn/archive/2026-07-11-fabric-time-scheduler-runtime/metadata.json
  cairn/archive/2026-07-11-fabric-time-scheduler-runtime/proposal.md
  cairn/archive/2026-07-11-fabric-time-scheduler-runtime/specs/fabric-time-scheduling/spec.md
  cairn/archive/2026-07-11-fabric-time-scheduler-runtime/tasks.md
  cairn/specs/fabric-time-scheduling/spec.md
  crates/molten-core/src/fabric_time/domain.rs
  crates/molten-core/src/fabric_time/entropy.rs
  crates/molten-core/src/fabric_time/lease.rs
  crates/molten-core/src/fabric_time/mod.rs
  crates/molten-core/src/fabric_time/profile.rs
  crates/molten-core/src/fabric_time/scheduler.rs
  crates/molten-core/src/fabric_time/tests.rs
  crates/molten-core/src/fabric_time/timer.rs
  crates/molten-core/src/lib.rs
  docs/architecture.md
  docs/fabric-time-scheduler-runtime.md
  src/cli/runtime/fabric_time.rs
  src/cli/runtime/fabric_time/command.rs
  src/cli/runtime/fabric_time/ops.rs
  src/fabric_time/adapters.rs
  src/fabric_time/canonical.rs
  src/fabric_time/fixture.rs
  src/fabric_time/mod.rs
  src/fabric_time/tests.rs
  src/lib.rs
  src/main.rs
  src/main/root.rs
  src/main/root/command.rs
Due: rustfmt, cargo-clippy, markdownlint

block NUMA pilot adoption until verification is reproducible
  README.md
  cairn/archive/2026-07-11-pilot-verified-node-replication/design.md
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/README.md
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/assume-sites.txt
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/current-verifier-diagnostic.txt
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/current-verifier.stderr.normalized
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/decision-payload.canonical.json
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/decision.json
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/external-bodies.txt
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/no-feature-diagnostic.txt
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/profile.json
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/trusted-markers.txt
  cairn/archive/2026-07-11-pilot-verified-node-replication/evidence/verifier-identity.txt
  cairn/archive/2026-07-11-pilot-verified-node-replication/proposal.md
  cairn/archive/2026-07-11-pilot-verified-node-replication/specs/node-replication-pilot/spec.md
  cairn/archive/2026-07-11-pilot-verified-node-replication/tasks.md
  cairn/specs/node-replication-pilot/spec.md
  docs/verified-node-replication-pilot.md
  flake.nix
  nix/verified-node-replication-pilot.nix
  verification/verified-node-replication-pilot/contracts.ncl
  verification/verified-node-replication-pilot/fixtures/invalid/distributed_scope.ncl
  verification/verified-node-replication-pilot/fixtures/invalid/empty_promotion_criteria.ncl
  verification/verified-node-replication-pilot/fixtures/invalid/runtime_dependency_admitted.ncl
  verification/verified-node-replication-pilot/fixtures/valid/current_profile.ncl
  verification/verified-node-replication-pilot/generated/profile.json
  verification/verified-node-replication-pilot/profile.ncl
Due: markdownlint

bind compatibility probes to Octet-owned toolchains
  README.md
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/design.md
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/README.md
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/assume-sites.txt
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/current-verifier-diagnostic.txt
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/current-verifier.stderr.normalized
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/decision-payload.canonical.json
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/decision.json
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/external-bodies.txt
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/no-feature-diagnostic.txt
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/octet-profile.json
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/profile.json
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/trusted-markers.txt
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/evidence/verifier-identity.txt
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/proposal.md
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/specs/node-replication-pilot/spec.md
  cairn/archive/2026-07-11-consume-octet-verus-toolchain/tasks.md
  cairn/specs/node-replication-pilot/spec.md
  docs/verified-node-replication-pilot.md
  flake.lock
  flake.nix
  nix/verified-node-replication-pilot.nix
  verification/verified-node-replication-pilot/contracts.ncl
  verification/verified-node-replication-pilot/profile.ncl
Due: markdownlint

Isolate tests from process-wide temporary authority
  Cargo.lock
  Cargo.toml
  cairn/archive/1970-01-01-cap-std-test-workspaces/design.md
  cairn/archive/1970-01-01-cap-std-test-workspaces/metadata.json
  cairn/archive/1970-01-01-cap-std-test-workspaces/proposal.md
  cairn/archive/1970-01-01-cap-std-test-workspaces/specs/testing-harness/spec.md
  cairn/archive/1970-01-01-cap-std-test-workspaces/tasks.md
  cairn/specs/testing-harness/spec.md
  docs/ast-grep-runtime-authority-audits.md
  docs/test-workspace-authority.md
  flake.nix
  src/audit/ast_grep.rs
  src/chunk/parts/store/tests/m000/p001/body.rs
  src/chunk/parts/store/tests/m000/p002/body.rs
  src/chunk/parts/store/tests/m000/p003/body.rs
  src/evidence/parts/chain/tests/m000/p000/body.rs
  src/evidence/parts/chain/tests/m000/p003/body.rs
  src/evidence/parts/chain/tests/m000/p004/body.rs
  src/iroh/parts/exchange/tests/m000/p000/body.rs
  src/iroh/parts/exchange/tests/m000/p001/body.rs
  src/local_store.rs
  src/main.rs
  src/main/tests.rs
  src/main/tests/job/job-setup.rs
  src/main/tests/job/job.rs
  src/main/tests/ops/helpers.rs
  src/node/parts/daemon/tests/m000/p000/body.rs
  src/node/parts/daemon/tests/m000/p010/body.rs
  src/remote/parts/dataspace/tests/m000/p000/body.rs
  src/remote/parts/dataspace/tests/m000/p001/body.rs
  src/retention/parts/mod/tests/m000/p000/body.rs
  src/test/support.rs
  tests/cliharness.rs
  tests/parts/cliharness/p000/body.rs
  tests/parts/cliharness/p013/body.rs
  tools/ast-grep/runtime-authority/fixtures/negative/test_capability_workspace.rs
  tools/ast-grep/runtime-authority/fixtures/positive/test_ambient_temp_workspace.rs
  tools/ast-grep/runtime-authority/rules/test-ambient-temp-workspace.yml
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Constrain filesystem materialization to explicit authority
  cairn/archive/1970-01-01-cap-std-bundle-materialization/design.md
  cairn/archive/1970-01-01-cap-std-bundle-materialization/metadata.json
  cairn/archive/1970-01-01-cap-std-bundle-materialization/proposal.md
  cairn/archive/1970-01-01-cap-std-bundle-materialization/specs/filesystem-materialization/spec.md
  cairn/archive/1970-01-01-cap-std-bundle-materialization/tasks.md
  cairn/specs/filesystem-materialization/spec.md
  docs/ast-grep-runtime-authority-audits.md
  docs/filesystem-materialization-authority.md
  flake.nix
  src/audit/ast_grep.rs
  src/cli/ops/dogfood/archive.rs
  src/cli/ops/dogfood/io.rs
  src/cli/runtime/repro/bundle.rs
  src/cli/runtime/repro/bundle/unpack.rs
  src/lib.rs
  src/local_store.rs
  src/main/tests/core/basic.rs
  src/main/tests/ops/helpers.rs
  src/materialization.rs
  src/operator/parts/dogfood/p008/body.rs
  src/retention/parts/mod/p018/body.rs
  src/retention/parts/mod/p021/body.rs
  src/retention/parts/mod/p028/body.rs
  src/retention/parts/mod/tests/m000/p001/body.rs
  tools/ast-grep/runtime-authority/fixtures/negative/materialization_capability_shell.rs
  tools/ast-grep/runtime-authority/fixtures/positive/materialization_ambient_output.rs
  tools/ast-grep/runtime-authority/rules/materialization-ambient-output.yml
Due: rustfmt, cargo-clippy, markdownlint

Measure Wasm components without promoting performance to authority
  README.md
  cairn/archive/1970-01-01-add-wasm-component-performance-evidence/design.md
  cairn/archive/1970-01-01-add-wasm-component-performance-evidence/metadata.json
  cairn/archive/1970-01-01-add-wasm-component-performance-evidence/proposal.md
  cairn/archive/1970-01-01-add-wasm-component-performance-evidence/specs/wasm-component-performance/spec.md
  cairn/archive/1970-01-01-add-wasm-component-performance-evidence/tasks.md
  cairn/changes/add-wasm-component-performance-evidence/tasks.md
  cairn/specs/wasm-component-performance/spec.md
  docs/wasm-component-performance.md
  docs/wasm-component-performance/contracts.ncl
  docs/wasm-component-performance/fixtures/negative/cross-runtime.ncl
  docs/wasm-component-performance/fixtures/negative/overclaim.ncl
  docs/wasm-component-performance/fixtures/negative/stale-sightglass.ncl
  docs/wasm-component-performance/fixtures/negative/unpinned-runner.ncl
  docs/wasm-component-performance/generated/profile.json
  docs/wasm-component-performance/profile-template.ncl
  docs/wasm-component-performance/profile.ncl
  flake.nix
  src/lib.rs
  src/wasm/component/mod.rs
  src/wasm/component/runtime.rs
  src/wasm/component/tests/mod.rs
  src/wasm/performance/comparison.rs
  src/wasm/performance/evidence.rs
  src/wasm/performance/materialization.rs
  src/wasm/performance/mod.rs
  src/wasm/performance/model.rs
  src/wasm/performance/optimization.rs
  src/wasm/performance/profile.rs
  src/wasm/performance/runner.rs
  src/wasm/performance/tests/comparison.rs
  src/wasm/performance/tests/evidence.rs
  src/wasm/performance/tests/materialization.rs
  src/wasm/performance/tests/mod.rs
  src/wasm/performance/tests/optimization.rs
  src/wasm/performance/tests/profile.rs
  src/wasm/performance/tests/runner.rs
  src/wasm/performance/tests/support.rs
Due: rustfmt, cargo-clippy, markdownlint

Preserve accepted performance requirements after archival
  cairn/specs/wasm-component-performance/spec.md
Due: markdownlint

Make extension durability explicit and testable
  README.md
  cairn/archive/2026-07-12-fabric-durable-state-ports/design.md
  cairn/archive/2026-07-12-fabric-durable-state-ports/metadata.json
  cairn/archive/2026-07-12-fabric-durable-state-ports/proposal.md
  cairn/archive/2026-07-12-fabric-durable-state-ports/specs/durable-state-ports/spec.md
  cairn/archive/2026-07-12-fabric-durable-state-ports/tasks.md
  cairn/specs/durable-state-ports/spec.md
  crates/molten-core/src/fabric_durability/mod.rs
  crates/molten-core/src/fabric_durability/tests.rs
  crates/molten-core/src/fabric_durability/transition.rs
  crates/molten-core/src/lib.rs
  src/fabric_durability/adapters.rs
  src/fabric_durability/canonical.rs
  src/fabric_durability/mod.rs
  src/fabric_durability/tests.rs
  src/lib.rs
  src/local_store.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep extension transport separate from adapter authority
  README.md
  cairn/archive/2026-07-12-fabric-transport-session-runtime/design.md
  cairn/archive/2026-07-12-fabric-transport-session-runtime/metadata.json
  cairn/archive/2026-07-12-fabric-transport-session-runtime/proposal.md
  cairn/archive/2026-07-12-fabric-transport-session-runtime/specs/fabric-transport/spec.md
  cairn/archive/2026-07-12-fabric-transport-session-runtime/tasks.md
  cairn/specs/fabric-transport/spec.md
  crates/molten-core/src/fabric_transport/mod.rs
  crates/molten-core/src/fabric_transport/tests.rs
  crates/molten-core/src/fabric_transport/transition.rs
  crates/molten-core/src/lib.rs
  docs/fabric-transport-session-runtime.md
  src/fabric_transport/adapters.rs
  src/fabric_transport/canonical.rs
  src/fabric_transport/mod.rs
  src/fabric_transport/tests.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

Make cluster runs independently auditable
  README.md
  cairn/archive/2026-07-12-receipt-first-cluster-harness/design.md
  cairn/archive/2026-07-12-receipt-first-cluster-harness/proposal.md
  cairn/archive/2026-07-12-receipt-first-cluster-harness/specs/testing-harness/spec.md
  cairn/archive/2026-07-12-receipt-first-cluster-harness/tasks.md
  cairn/specs/testing-harness/spec.md
  crates/molten-core/src/cluster_harness.rs
  crates/molten-core/src/lib.rs
  docs/receipt-first-cluster-harness.md
  src/cli/ops/cluster.rs
  src/cluster_harness/canonical.rs
  src/cluster_harness/mod.rs
  src/cluster_harness/runner.rs
  src/cluster_harness/tests.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/lib.rs
  tests/cliharness.rs
  tests/fixtures/cluster-harness/two-node.cluster
  tests/parts/cliharness/p018/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep placement advice separate from assignment authority
  README.md
  cairn/archive/2026-07-12-fabric-membership-placement-runtime/design.md
  cairn/archive/2026-07-12-fabric-membership-placement-runtime/metadata.json
  cairn/archive/2026-07-12-fabric-membership-placement-runtime/proposal.md
  cairn/archive/2026-07-12-fabric-membership-placement-runtime/specs/fabric-membership-placement/spec.md
  cairn/archive/2026-07-12-fabric-membership-placement-runtime/tasks.md
  cairn/specs/fabric-membership-placement/spec.md
  crates/molten-core/src/fabric_membership/mod.rs
  crates/molten-core/src/fabric_membership/tests.rs
  crates/molten-core/src/fabric_membership/transition.rs
  crates/molten-core/src/lib.rs
  docs/fabric-membership-placement.md
  docs/fabric-membership-placement/contracts.ncl
  docs/fabric-membership-placement/fixtures/negative/missing-nonclaims.ncl
  docs/fabric-membership-placement/fixtures/negative/role-exceeds-node.ncl
  docs/fabric-membership-placement/fixtures/negative/simulation-authority-overclaim.ncl
  docs/fabric-membership-placement/generated/profile.json
  docs/fabric-membership-placement/profile-template.ncl
  docs/fabric-membership-placement/profile.ncl
  flake.nix
  src/fabric_membership/adapters.rs
  src/fabric_membership/canonical.rs
  src/fabric_membership/mod.rs
  src/fabric_membership/tests.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

Make production identity independent of public inputs
  README.md
  cairn/archive/2026-07-12-fabric-cryptographic-identity-adapters/design.md
  cairn/archive/2026-07-12-fabric-cryptographic-identity-adapters/metadata.json
  cairn/archive/2026-07-12-fabric-cryptographic-identity-adapters/proposal.md
  cairn/archive/2026-07-12-fabric-cryptographic-identity-adapters/specs/persistent-node-identity/spec.md
  cairn/archive/2026-07-12-fabric-cryptographic-identity-adapters/tasks.md
  cairn/specs/persistent-node-identity/spec.md
  crates/molten-core/src/fabric_crypto_identity/admission.rs
  crates/molten-core/src/fabric_crypto_identity/mod.rs
  crates/molten-core/src/fabric_crypto_identity/model.rs
  crates/molten-core/src/fabric_crypto_identity/rotation.rs
  crates/molten-core/src/fabric_crypto_identity/tests.rs
  crates/molten-core/src/lib.rs
  docs/fabric-cryptographic-identity.md
  docs/fabric-cryptographic-identity/contracts.ncl
  docs/fabric-cryptographic-identity/fixtures/negative/fixture-algorithm-in-production.ncl
  docs/fabric-cryptographic-identity/fixtures/negative/shared-purpose-production-key.ncl
  docs/fabric-cryptographic-identity/fixtures/negative/unsafe-file-permissions.ncl
  docs/fabric-cryptographic-identity/generated/profile.json
  docs/fabric-cryptographic-identity/profile-template.ncl
  docs/fabric-cryptographic-identity/profile.ncl
  flake.nix
  src/fabric_crypto_identity/canonical.rs
  src/fabric_crypto_identity/file_adapter.rs
  src/fabric_crypto_identity/integration.rs
  src/fabric_crypto_identity/mod.rs
  src/fabric_crypto_identity/tests.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/lib.rs
  src/node/parts/daemon/p024/body.rs
  src/node/parts/daemon/p025/body.rs
  src/node/parts/daemon/tests/m000/p008/body.rs
  src/node/parts/daemon/tests/m000/p013/body.rs
  src/node/parts/identity/p000/body.rs
  src/node/parts/identity/p001/body.rs
  src/node/parts/identity/p002/body.rs
  src/retention/parts/mod/tests/m000/p005/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep observability evidence bounded and non-authoritative
  README.md
  cairn/archive/2026-07-12-fabric-observability-integrity-runtime/design.md
  cairn/archive/2026-07-12-fabric-observability-integrity-runtime/metadata.json
  cairn/archive/2026-07-12-fabric-observability-integrity-runtime/proposal.md
  cairn/archive/2026-07-12-fabric-observability-integrity-runtime/specs/fabric-observability/spec.md
  cairn/archive/2026-07-12-fabric-observability-integrity-runtime/tasks.md
  cairn/specs/fabric-observability/spec.md
  crates/molten-core/src/fabric_observability/adapter.rs
  crates/molten-core/src/fabric_observability/aggregation.rs
  crates/molten-core/src/fabric_observability/health.rs
  crates/molten-core/src/fabric_observability/integrity.rs
  crates/molten-core/src/fabric_observability/mod.rs
  crates/molten-core/src/fabric_observability/model.rs
  crates/molten-core/src/fabric_observability/tests.rs
  crates/molten-core/src/fabric_observability/validation.rs
  crates/molten-core/src/lib.rs
  docs/fabric-observability.md
  docs/fabric-observability/contracts.ncl
  docs/fabric-observability/fixtures/negative/ambient-repair-authority.ncl
  docs/fabric-observability/fixtures/negative/implicit-release-promotion.ncl
  docs/fabric-observability/fixtures/negative/unbounded-exporter.ncl
  docs/fabric-observability/fixtures/negative/zero-series-bound.ncl
  docs/fabric-observability/generated/profile.json
  docs/fabric-observability/profile-template.ncl
  docs/fabric-observability/profile.ncl
  flake.nix
  src/fabric_observability/canonical.rs
  src/fabric_observability/export.rs
  src/fabric_observability/integration.rs
  src/fabric_observability/mod.rs
  src/fabric_observability/scan.rs
  src/fabric_observability/tests.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/lib.rs
  src/node/state/authority.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep content identity independent of storage backends
  Cargo.lock
  Cargo.toml
  README.md
  build-plan.json
  cairn/archive/2026-07-12-content-store-adapter-runtime/design.md
  cairn/archive/2026-07-12-content-store-adapter-runtime/metadata.json
  cairn/archive/2026-07-12-content-store-adapter-runtime/proposal.md
  cairn/archive/2026-07-12-content-store-adapter-runtime/specs/content-addressed-chunk-store/spec.md
  cairn/archive/2026-07-12-content-store-adapter-runtime/tasks.md
  cairn/specs/content-addressed-chunk-store/spec.md
  crates/molten-core/src/content_store_adapter/mod.rs
  crates/molten-core/src/content_store_adapter/model.rs
  crates/molten-core/src/content_store_adapter/preflight.rs
  crates/molten-core/src/content_store_adapter/tests.rs
  crates/molten-core/src/content_store_adapter/transition.rs
  crates/molten-core/src/content_store_adapter/validation.rs
  crates/molten-core/src/lib.rs
  docs/content-store-adapter.md
  docs/content-store-adapter/contracts.ncl
  docs/content-store-adapter/fixtures/negative/backend-hint-as-identity.ncl
  docs/content-store-adapter/fixtures/negative/iroh-local-copy.ncl
  docs/content-store-adapter/fixtures/negative/protection-grants-authority.ncl
  docs/content-store-adapter/fixtures/negative/unbounded-content.ncl
  docs/content-store-adapter/fixtures/negative/unverified-exposure.ncl
  docs/content-store-adapter/generated/profile.json
  docs/content-store-adapter/profile-template.ncl
  docs/content-store-adapter/profile.ncl
  flake.nix
  src/chunk/parts/store/p014/body.rs
  src/content_store_adapter/canonical.rs
  src/content_store_adapter/integration.rs
  src/content_store_adapter/live_iroh.rs
  src/content_store_adapter/local.rs
  src/content_store_adapter/mod.rs
  src/content_store_adapter/persistence.rs
  src/content_store_adapter/simulation.rs
  src/content_store_adapter/tests.rs
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Stop treating modeled consensus as production
  cairn/changes/fabric-consistency-service-runtime/design.md
  cairn/changes/fabric-consistency-service-runtime/metadata.json
  cairn/changes/fabric-consistency-service-runtime/proposal.md
  cairn/changes/fabric-consistency-service-runtime/specs/consensus/spec.md
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/coordination/parts/mod/p002/body.rs
  src/raft/control/parts/plane/p000/body.rs
  src/raft/control/parts/plane/p002/body.rs
  src/raft/control/parts/plane/p003/body.rs
  src/raft/control/parts/plane/p005/body.rs
  src/raft/control/parts/plane/p007/body.rs
  src/raft/control/parts/plane/p009/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep dependent extension work behind honest evidence
  cairn/changes/content-replication-system-extension/design.md
  cairn/changes/content-replication-system-extension/metadata.json
  cairn/changes/content-replication-system-extension/proposal.md
  cairn/changes/content-replication-system-extension/specs/content-replication/spec.md
  cairn/changes/content-replication-system-extension/tasks.md
  cairn/changes/coordination-delivery-system-extension/design.md
  cairn/changes/coordination-delivery-system-extension/metadata.json
  cairn/changes/coordination-delivery-system-extension/proposal.md
  cairn/changes/coordination-delivery-system-extension/specs/coordination/spec.md
  cairn/changes/coordination-delivery-system-extension/tasks.md
  cairn/changes/dag-sync-system-extension/design.md
  cairn/changes/dag-sync-system-extension/metadata.json
  cairn/changes/dag-sync-system-extension/proposal.md
  cairn/changes/dag-sync-system-extension/specs/dag-sync/spec.md
  cairn/changes/dag-sync-system-extension/tasks.md
  cairn/changes/fabric-whole-system-simulation/design.md
  cairn/changes/fabric-whole-system-simulation/metadata.json
  cairn/changes/fabric-whole-system-simulation/proposal.md
  cairn/changes/fabric-whole-system-simulation/specs/fabric-simulation/spec.md
  cairn/changes/fabric-whole-system-simulation/tasks.md
  cairn/changes/federated-pull-system-extension/design.md
  cairn/changes/federated-pull-system-extension/metadata.json
  cairn/changes/federated-pull-system-extension/proposal.md
  cairn/changes/federated-pull-system-extension/specs/federated-pull-sync/spec.md
  cairn/changes/federated-pull-system-extension/tasks.md
Due: markdownlint

Keep evidence-dependent changes explicitly blocked
  cairn/changes/pilot-spacewasm-core-runtime-profile/design.md
  cairn/changes/pilot-spacewasm-core-runtime-profile/metadata.json
  cairn/changes/pilot-spacewasm-core-runtime-profile/proposal.md
  cairn/changes/pilot-spacewasm-core-runtime-profile/specs/spacewasm-core-runtime/spec.md
  cairn/changes/pilot-spacewasm-core-runtime-profile/tasks.md
  cairn/changes/pilot-wrpc-component-transport/design.md
  cairn/changes/pin-canonical-evidence-dependencies/design.md
  cairn/changes/pin-canonical-evidence-dependencies/metadata.json
  cairn/changes/pin-canonical-evidence-dependencies/proposal.md
  cairn/changes/pin-canonical-evidence-dependencies/specs/project/spec.md
  cairn/changes/pin-canonical-evidence-dependencies/tasks.md
Due: markdownlint

capture fast-path view hazards before live adoption
  README.md
  cairn/changes/model-consensus-fast-path-hazards/design.md
  cairn/changes/model-consensus-fast-path-hazards/proposal.md
  cairn/changes/model-consensus-fast-path-hazards/specs/consensus/spec.md
  cairn/changes/model-consensus-fast-path-hazards/tasks.md
Due: markdownlint

gate consensus acceleration on an admitted live baseline
  cairn/changes/add-consensus-fast-path-acceleration/design.md
  cairn/changes/add-consensus-fast-path-acceleration/proposal.md
  cairn/changes/add-consensus-fast-path-acceleration/specs/consensus/spec.md
  cairn/changes/add-consensus-fast-path-acceleration/tasks.md
Due: markdownlint

Protect network runtime improvements while preserving upstream terms
  Cargo.toml
  LICENSE
  README.md
  THIRD_PARTY_LICENSES.md
  THIRD_PARTY_LICENSES/Apache-2.0.txt
  THIRD_PARTY_LICENSES/EPL-2.0.txt
  THIRD_PARTY_LICENSES/MIT.txt
  build-plan.json
  cairn/archive/2026-07-14-adopt-agpl-license-boundary/design.md
  cairn/archive/2026-07-14-adopt-agpl-license-boundary/proposal.md
  cairn/archive/2026-07-14-adopt-agpl-license-boundary/specs/project/spec.md
  cairn/archive/2026-07-14-adopt-agpl-license-boundary/tasks.md
  cairn/specs/project/spec.md
  docs/distributed-system-fabric.md
  license-policy.tsv
  tools/check-license-boundary.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Pin release inputs to one canonical evidence source
  .github/workflows/reproducible-dependencies.yml
  Cargo.lock
  Cargo.toml
  README.md
  build-plan.json
  cairn-policy/contracts.ncl
  cairn-policy/default.ncl
  cairn-policy/generated/cairn-policy.json
  cairn/changes/pin-canonical-evidence-dependencies/metadata.json
  config/release-dependencies/contracts.ncl
  config/release-dependencies/fixtures/negative/floating-revision.ncl
  config/release-dependencies/fixtures/negative/ssh-transport.ncl
  config/release-dependencies/fixtures/positive/exact-pins.ncl
  config/release-dependencies/profile.ncl
  crates/molten-core/src/lib.rs
  crates/molten-core/src/release_dependency.rs
  crates/molten-release-policy/Cargo.toml
  crates/molten-release-policy/src/lib.rs
  crates/molten-release-policy/src/main.rs
  crates/molten-release-policy/src/observe.rs
  crates/molten-release-policy/src/profile.rs
  docs/reproducible-dependencies.md
  flake.lock
  flake.nix
  license-policy.tsv
  release-policy-build-plan.json
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Make release validation independent of ambient checkouts
  README.md
  flake.lock
  flake.nix
Due: markdownlint

Archive the accepted release dependency contract
  cairn/archive/1970-01-01-pin-canonical-evidence-dependencies/design.md
  cairn/archive/1970-01-01-pin-canonical-evidence-dependencies/metadata.json
  cairn/archive/1970-01-01-pin-canonical-evidence-dependencies/proposal.md
  cairn/archive/1970-01-01-pin-canonical-evidence-dependencies/specs/project/spec.md
  cairn/archive/1970-01-01-pin-canonical-evidence-dependencies/tasks.md
  cairn/archive/1970-01-01-pin-canonical-evidence-dependencies/validation.md
  cairn/changes/pin-canonical-evidence-dependencies/tasks.md
  cairn/specs/project/spec.md
  config/release-dependencies/profile.ncl
Due: markdownlint

Keep authentication adoption behind Molten authority
  cairn/changes/adopt-artifact-auth/design.md
  cairn/changes/adopt-artifact-auth/proposal.md
  cairn/changes/adopt-artifact-auth/specs/artifact-auth-adoption/spec.md
  cairn/changes/adopt-artifact-auth/tasks.md
Due: markdownlint

Keep artifact authentication subordinate to Molten authority
  Cargo.lock
  build-plan.json
  cairn/archive/2026-07-19-adopt-artifact-auth/design.md
  cairn/archive/2026-07-19-adopt-artifact-auth/proposal.md
  cairn/archive/2026-07-19-adopt-artifact-auth/specs/artifact-auth-adoption/spec.md
  cairn/archive/2026-07-19-adopt-artifact-auth/tasks.md
  cairn/archive/2026-07-19-adopt-artifact-auth/validation.md
  cairn/changes/adopt-artifact-auth/tasks.md
  cairn/specs/artifact-auth-adoption/spec.md
  crates/molten-core/Cargo.toml
  crates/molten-core/src/fabric_crypto_identity/artifact_auth.rs
  crates/molten-core/src/fabric_crypto_identity/mod.rs
  crates/molten-core/src/fabric_crypto_identity/tests.rs
  docs/fabric-cryptographic-identity.md
  flake.lock
  flake.nix
  release-policy-build-plan.json
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

Keep exact standalone signatures behind Molten admission
  Cargo.lock
  Cargo.toml
  THIRD_PARTY_LICENSES.md
  build-plan.json
  cairn/archive/2026-07-19-pilot-artifact-auth-shell-verification/design.md
  cairn/archive/2026-07-19-pilot-artifact-auth-shell-verification/proposal.md
  cairn/archive/2026-07-19-pilot-artifact-auth-shell-verification/specs/artifact-auth-shell-verification/spec.md
  cairn/archive/2026-07-19-pilot-artifact-auth-shell-verification/tasks.md
  cairn/archive/2026-07-19-pilot-artifact-auth-shell-verification/validation.md
  cairn/specs/artifact-auth-shell-verification/spec.md
  config/release-dependencies/contracts.ncl
  config/release-dependencies/fixtures/negative/conflicting-shared-nix-input.ncl
  config/release-dependencies/profile.ncl
  crates/molten-core/src/fabric_crypto_identity/artifact_auth.rs
  docs/fabric-cryptographic-identity.md
  flake.nix
  release-policy-build-plan.json
  src/fabric_crypto_identity/artifact_auth.rs
  src/fabric_crypto_identity/file_adapter.rs
  src/fabric_crypto_identity/mod.rs
  src/fabric_crypto_identity/tests.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

bind artifact-auth replay to capability key state
  cairn/changes/capture-artifact-auth-operational-receipt/design.md
  cairn/changes/capture-artifact-auth-operational-receipt/proposal.md
  cairn/changes/capture-artifact-auth-operational-receipt/specs/artifact-auth-operational-receipt/spec.md
  cairn/changes/capture-artifact-auth-operational-receipt/tasks.md
  docs/fabric-cryptographic-identity.md
  src/fabric_crypto_identity/artifact_auth.rs
  src/fabric_crypto_identity/artifact_auth/operational.rs
  src/fabric_crypto_identity/tests.rs
Due: rustfmt, cargo-clippy, markdownlint

archive capability-backed artifact-auth evidence
  cairn/archive/2026-07-19-capture-artifact-auth-operational-receipt/design.md
  cairn/archive/2026-07-19-capture-artifact-auth-operational-receipt/proposal.md
  cairn/archive/2026-07-19-capture-artifact-auth-operational-receipt/specs/artifact-auth-operational-receipt/spec.md
  cairn/archive/2026-07-19-capture-artifact-auth-operational-receipt/tasks.md
  cairn/archive/2026-07-19-capture-artifact-auth-operational-receipt/validation.md
  cairn/specs/artifact-auth-operational-receipt/spec.md
Due: markdownlint

preserve artifact-auth canary evidence for later admission review
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/design.md
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/BLAKE3SUMS
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/README.md
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/capture-summary.json
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/harness.rs
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/hash-evidence.rs
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/manifest.ncl
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/operational-receipt.json
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/post-rotation-replay.log
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/post-rotation-status-summary.json
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/replay-summary.json
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/evidence/run-001/rotation-summary.json
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/proposal.md
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/specs/artifact-auth-operational-receipt/spec.md
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/tasks.md
  cairn/archive/2026-07-20-record-artifact-auth-non-production-canary/validation.md
  cairn/specs/artifact-auth-operational-receipt/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Establish the transport prerequisite for distributed runtime work
  cairn/changes/fabric-consistency-service-runtime/design.md
  cairn/changes/fabric-consistency-service-runtime/metadata.json
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  cairn/changes/fabric-cross-process-transport-shell/design.md
  cairn/changes/fabric-cross-process-transport-shell/metadata.json
  cairn/changes/fabric-cross-process-transport-shell/proposal.md
  cairn/changes/fabric-cross-process-transport-shell/specs/fabric-transport/spec.md
  cairn/changes/fabric-cross-process-transport-shell/tasks.md
Due: markdownlint

Establish pure admission before exposing live transport
  cairn/changes/fabric-cross-process-transport-shell/tasks.md
  crates/molten-core/src/fabric_transport/cross_process/endpoint.rs
  crates/molten-core/src/fabric_transport/cross_process/listener.rs
  crates/molten-core/src/fabric_transport/cross_process/mod.rs
  crates/molten-core/src/fabric_transport/cross_process/session.rs
  crates/molten-core/src/fabric_transport/cross_process/tests.rs
  crates/molten-core/src/fabric_transport/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep live transport behind exact endpoint admission
  cairn/changes/fabric-cross-process-transport-shell/tasks.md
  crates/molten-core/src/fabric_transport/cross_process/mod.rs
  crates/molten-core/src/fabric_transport/cross_process/session.rs
  crates/molten-core/src/fabric_transport/cross_process/tests.rs
  src/fabric_transport/cross_process/canonical.rs
  src/fabric_transport/cross_process/iroh_shell.rs
  src/fabric_transport/cross_process/mod.rs
  src/fabric_transport/cross_process/tests.rs
  src/fabric_transport/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Establish process-observed transport evidence
  cairn/changes/fabric-cross-process-transport-shell/tasks.md
  crates/molten-core/src/fabric_transport/cross_process/evidence.rs
  crates/molten-core/src/fabric_transport/cross_process/mod.rs
  crates/molten-core/src/fabric_transport/cross_process/tests.rs
  docs/fabric-transport-session-runtime.md
  src/cli/ops/cluster.rs
  src/cluster_harness/fabric_transport.rs
  src/cluster_harness/mod.rs
  src/fabric_transport/adapters.rs
  src/fabric_transport/cross_process/effect_port.rs
  src/fabric_transport/cross_process/iroh_shell.rs
  src/fabric_transport/cross_process/mod.rs
  src/fabric_transport/cross_process/tests.rs
  tests/cliharness.rs
  tests/parts/cliharness/p019/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
