Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

break nix-compat stub chain, restore 12 per-crate unit2nix checks
  .agent/napkin.md
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-executor-shell/Cargo.toml
  crates/aspen-ci-executor-shell/src/local_executor/config.rs
  crates/aspen-ci-executor-vm/Cargo.toml
  crates/aspen-ci/Cargo.toml
  flake.nix
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

napkin: rolling-restart storage durability issue
  .agent/napkin.md
Due: markdownlint

cli: return non-zero on add-learner/change-membership/promote failure
  .agent/napkin.md
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  nix/tests/rolling-restart.nix
Due: rustfmt, cargo-clippy, markdownlint

napkin: consolidate 580 lines down to 199
  .agent/napkin.md
Due: markdownlint

snix: add dedicated test suite with builder service coverage
  .config/nextest.toml
  AGENTS.md
  crates/aspen-ci-executor-nix/src/build_service.rs
  scripts/test-snix.sh
Due: rustfmt, cargo-clippy, markdownlint

snix: add subprocess-free test suite (37 tests)
  .config/nextest.toml
  crates/aspen-ci-executor-nix/src/build_service.rs
  crates/aspen-ci-executor-nix/src/eval.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci-executor-nix/src/test_support.rs
  crates/aspen-ci-executor-nix/tests/snix_only_integration_test.rs
  crates/aspen-ci-executor-nix/tests/snix_only_proptest.rs
  crates/aspen-ci-executor-nix/tests/snix_only_unit_test.rs
  flake.nix
  nix/tests/snix-pure-build-test.nix
  openspec/changes/snix-only-build-test-suite/.openspec.yaml
  openspec/changes/snix-only-build-test-suite/design.md
  openspec/changes/snix-only-build-test-suite/proposal.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-integration-tests/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-property-tests/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-unit-tests/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-vm-test/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-subprocess-firewall/spec.md
  openspec/changes/snix-only-build-test-suite/tasks.md
  scripts/test-snix.sh
Due: rustfmt, cargo-clippy, markdownlint

Enable snix-build native path in all dogfood tests
  flake.nix
  nix/tests/ci-dogfood-deploy-multinode.nix
  nix/tests/ci-dogfood-deploy.nix
  nix/tests/ci-dogfood-full-workspace.nix
  nix/tests/ci-dogfood.nix
  openspec/changes/snix-build-all-dogfood/.openspec.yaml
  openspec/changes/snix-build-all-dogfood/design.md
  openspec/changes/snix-build-all-dogfood/proposal.md
  openspec/changes/snix-build-all-dogfood/specs/snix-build-default/spec.md
  openspec/changes/snix-build-all-dogfood/specs/snix-native-builds/spec.md
  openspec/changes/snix-build-all-dogfood/tasks.md
Due: markdownlint

snix VM test: fix nix-free boot and test realistic failure modes
  nix/tests/snix-pure-build-test.nix
Due: none

archive snix-only-build-test-suite, sync 5 specs to main
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/.openspec.yaml
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/design.md
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/proposal.md
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/specs/snix-build-integration-tests/spec.md
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/specs/snix-build-property-tests/spec.md
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/specs/snix-build-unit-tests/spec.md
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/specs/snix-build-vm-test/spec.md
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/specs/snix-subprocess-firewall/spec.md
  openspec/changes/archive/2026-03-25-snix-only-build-test-suite/tasks.md
  openspec/specs/snix-build-integration-tests/spec.md
  openspec/specs/snix-build-property-tests/spec.md
  openspec/specs/snix-build-unit-tests/spec.md
  openspec/specs/snix-build-vm-test/spec.md
  openspec/specs/snix-subprocess-firewall/spec.md
Due: markdownlint

seed network factory from Raft membership on restart
  crates/aspen-cluster/src/bootstrap/node/mod.rs
Due: rustfmt, cargo-clippy

example-clan: scaffold 2-node cluster managed with Clan
  example-clan/.gitignore
  example-clan/README.md
  example-clan/clan.nix
  example-clan/flake.nix
  example-clan/machines/aspen1/configuration.nix
  example-clan/machines/aspen1/hardware-configuration.nix
  example-clan/machines/aspen2/configuration.nix
  example-clan/machines/aspen2/hardware-configuration.nix
Due: markdownlint

archive wire-native-nix-builds, clean up stale snix-only-build-test-suite dir
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/.openspec.yaml
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/design.md
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/proposal.md
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/specs/native-build-dispatch/spec.md
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/tasks.md
  openspec/changes/snix-only-build-test-suite/design.md
  openspec/changes/snix-only-build-test-suite/proposal.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-integration-tests/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-property-tests/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-unit-tests/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-build-vm-test/spec.md
  openspec/changes/snix-only-build-test-suite/specs/snix-subprocess-firewall/spec.md
  openspec/changes/snix-only-build-test-suite/tasks.md
  openspec/specs/native-build-dispatch/spec.md
Due: markdownlint

exec-cache: core crate, cache index, read tracker, FUSE hooks, eviction, verus specs
  Cargo.lock
  Cargo.toml
  crates/aspen-exec-cache/Cargo.toml
  crates/aspen-exec-cache/src/constants.rs
  crates/aspen-exec-cache/src/error.rs
  crates/aspen-exec-cache/src/eviction.rs
  crates/aspen-exec-cache/src/index.rs
  crates/aspen-exec-cache/src/lib.rs
  crates/aspen-exec-cache/src/read_tracker.rs
  crates/aspen-exec-cache/src/types.rs
  crates/aspen-exec-cache/src/verified/cache_key.rs
  crates/aspen-exec-cache/src/verified/mod.rs
  crates/aspen-exec-cache/verus/cache_key_spec.rs
  crates/aspen-exec-cache/verus/lib.rs
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/fs/operations.rs
  openspec/changes/cached-execution/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

exec-cache: CachedExecutor with cache lookup, output capture, materialization, recursive child validation
  crates/aspen-exec-cache/src/executor.rs
  crates/aspen-exec-cache/src/lib.rs
  openspec/changes/cached-execution/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

exec-cache: CI integration — job spec, env var injection, FUSE enable API, cache metrics
  crates/aspen-ci-core/src/config/types.rs
  crates/aspen-ci-executor-shell/src/agent/executor.rs
  crates/aspen-ci-executor-shell/src/agent/protocol.rs
  crates/aspen-ci-executor-shell/src/local_executor/execution.rs
  crates/aspen-ci-executor-shell/src/local_executor/payload.rs
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-testing/src/ci_pipeline_tester.rs
  openspec/changes/cached-execution/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

exec-cache: blob GC unreferencing on eviction, mark remaining tasks complete
  crates/aspen-exec-cache/src/eviction.rs
  openspec/changes/cached-execution/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

exec-cache: NixOS VM integration test
  flake.nix
  nix/tests/exec-cache.nix
Due: none

Chain-hashed commit DAG for KV branch history and federation integrity
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/commit.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-commit-dag/Cargo.toml
  crates/aspen-commit-dag/src/constants.rs
  crates/aspen-commit-dag/src/error.rs
  crates/aspen-commit-dag/src/fork.rs
  crates/aspen-commit-dag/src/gc.rs
  crates/aspen-commit-dag/src/lib.rs
  crates/aspen-commit-dag/src/store.rs
  crates/aspen-commit-dag/src/types.rs
  crates/aspen-commit-dag/src/verified/commit_hash.rs
  crates/aspen-commit-dag/src/verified/diff.rs
  crates/aspen-commit-dag/src/verified/mod.rs
  crates/aspen-commit-dag/verus/commit_hash_spec.rs
  crates/aspen-commit-dag/verus/diff_spec.rs
  crates/aspen-commit-dag/verus/lib.rs
  crates/aspen-docs/Cargo.toml
  crates/aspen-docs/src/commit_verification.rs
  crates/aspen-docs/src/lib.rs
  crates/aspen-kv-branch/Cargo.toml
  crates/aspen-kv-branch/src/commit_result.rs
  crates/aspen-kv-branch/src/lib.rs
  crates/aspen-kv-branch/src/overlay.rs
  crates/aspen-kv-branch/tests/commit_dag_tests.rs
  flake.nix
  nix/tests/commit-dag.nix
  openspec/changes/chain-hashed-commit-dag/tasks.md
  src/bin/aspen_node/main.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

feat(fuse): lazy file fetch, content-hash cache validation, offline mode
  crates/aspen-client-api/src/messages/cluster.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-fuse/src/cache.rs
  crates/aspen-fuse/src/constants.rs
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/fs/operations.rs
  crates/aspen-fuse/src/fs/tests.rs
  crates/aspen-fuse/src/lib.rs
  crates/aspen-fuse/src/prefetch.rs
  openspec/changes/lazy-filesystem/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

chore: archive lazy-filesystem change
  openspec/changes/archive/2026-03-25-lazy-filesystem/.openspec.yaml
  openspec/changes/archive/2026-03-25-lazy-filesystem/design.md
  openspec/changes/archive/2026-03-25-lazy-filesystem/proposal.md
  openspec/changes/archive/2026-03-25-lazy-filesystem/specs/content-hash-cache-validation/spec.md
  openspec/changes/archive/2026-03-25-lazy-filesystem/specs/fuse-offline-mode/spec.md
  openspec/changes/archive/2026-03-25-lazy-filesystem/specs/kv-branch-fuse/spec.md
  openspec/changes/archive/2026-03-25-lazy-filesystem/specs/lazy-file-fetch/spec.md
  openspec/changes/archive/2026-03-25-lazy-filesystem/tasks.md
Due: markdownlint

test: add NixOS VM test for FUSE lazy fetch
  flake.nix
  nix/tests/fuse-lazy-fetch.nix
Due: none

archive 3 completed changes, sync 8 specs to main
  openspec/changes/archive/2026-03-25-cached-execution/.openspec.yaml
  openspec/changes/archive/2026-03-25-cached-execution/design.md
  openspec/changes/archive/2026-03-25-cached-execution/proposal.md
  openspec/changes/archive/2026-03-25-cached-execution/specs/cached-process-execution/spec.md
  openspec/changes/archive/2026-03-25-cached-execution/specs/execution-cache-index/spec.md
  openspec/changes/archive/2026-03-25-cached-execution/specs/fuse-read-tracking/spec.md
  openspec/changes/archive/2026-03-25-cached-execution/specs/kv-branch-fuse/spec.md
  openspec/changes/archive/2026-03-25-cached-execution/tasks.md
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/.openspec.yaml
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/design.md
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/proposal.md
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/specs/commit-dag-federation/spec.md
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/specs/commit-dag/spec.md
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/specs/federation/spec.md
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/specs/kv-branch-overlay/spec.md
  openspec/changes/archive/2026-03-25-chain-hashed-commit-dag/tasks.md
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/wire-native-nix-builds/.openspec.yaml
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/wire-native-nix-builds/design.md
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/wire-native-nix-builds/proposal.md
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/wire-native-nix-builds/specs/native-build-dispatch/spec.md
  openspec/changes/archive/2026-03-25-wire-native-nix-builds/wire-native-nix-builds/tasks.md
  openspec/specs/cached-process-execution/spec.md
  openspec/specs/commit-dag-federation/spec.md
  openspec/specs/commit-dag/spec.md
  openspec/specs/execution-cache-index/spec.md
  openspec/specs/federation/spec.md
  openspec/specs/fuse-read-tracking/spec.md
  openspec/specs/kv-branch-fuse/spec.md
  openspec/specs/kv-branch-overlay/spec.md
Due: markdownlint

feat: circuit breaker for snix services and castore irpc clients
  Cargo.lock
  crates/aspen-castore/Cargo.toml
  crates/aspen-castore/src/client.rs
  crates/aspen-core/src/circuit_breaker.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-snix/src/blob_service.rs
  crates/aspen-snix/src/directory_service.rs
  crates/aspen-snix/src/pathinfo_service.rs
  openspec/changes/rio-build-adoption/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

refactor: derive JOB_ORPHAN_DETECTION_THRESHOLD_MS from heartbeat interval × max missed
  crates/aspen-constants/src/assertions.rs
  crates/aspen-constants/src/raft.rs
  openspec/changes/rio-build-adoption/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

feat(snix): chunked blob storage with FastCDC, manifest, dedup, verus specs
  Cargo.lock
  Cargo.toml
  crates/aspen-snix/Cargo.toml
  crates/aspen-snix/src/chunked_blob_service.rs
  crates/aspen-snix/src/chunking.rs
  crates/aspen-snix/src/lib.rs
  crates/aspen-snix/src/manifest.rs
  crates/aspen-snix/verus/chunking_spec.rs
  crates/aspen-snix/verus/lib.rs
  openspec/changes/rio-build-adoption/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

feat: tracey coverage for snix store — 8/8 rules covered and verified
  .config/tracey/config.styx
  crates/aspen-core/src/circuit_breaker.rs
  crates/aspen-snix/src/blob_service.rs
  crates/aspen-snix/src/chunking.rs
  crates/aspen-snix/src/constants.rs
  crates/aspen-snix/src/directory_service.rs
  crates/aspen-snix/src/manifest.rs
  crates/aspen-snix/src/pathinfo_service.rs
  crates/aspen-snix/tests/directory_service_test.rs
  crates/aspen-snix/tests/pathinfo_service_test.rs
  openspec/changes/rio-build-adoption/tasks.md
  openspec/specs/snix-store/spec.md
Due: rustfmt, cargo-clippy, markdownlint

feat: snix fuzz targets for NAR, Directory proto, PathInfo encoding
  crates/aspen-snix/fuzz/Cargo.toml
  crates/aspen-snix/fuzz/corpus/directory_proto/empty_dir
  crates/aspen-snix/fuzz/corpus/nar_ingest/minimal_nar
  crates/aspen-snix/fuzz/corpus/pathinfo_encoding/empty_pathinfo
  crates/aspen-snix/fuzz/fuzz_targets/directory_proto.rs
  crates/aspen-snix/fuzz/fuzz_targets/nar_ingest.rs
  crates/aspen-snix/fuzz/fuzz_targets/pathinfo_encoding.rs
  openspec/changes/rio-build-adoption/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

feat(castore): backpressure with queue-depth hysteresis on irpc server
  crates/aspen-castore/src/server.rs
  openspec/changes/rio-build-adoption/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

complete rio-build-adoption: all 48 tasks done
  openspec/changes/rio-build-adoption/tasks.md
Due: markdownlint

archive rio-build-adoption, sync 6 specs to main
  openspec/changes/archive/2026-03-25-rio-build-adoption/.openspec.yaml
  openspec/changes/archive/2026-03-25-rio-build-adoption/design.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/proposal.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/specs/castore-backpressure/spec.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/specs/chunked-blob-storage/spec.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/specs/circuit-breaker/spec.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/specs/derived-timeouts/spec.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/specs/snix-fuzz-targets/spec.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/specs/tracey-coverage/spec.md
  openspec/changes/archive/2026-03-25-rio-build-adoption/tasks.md
  openspec/specs/castore-backpressure/spec.md
  openspec/specs/chunked-blob-storage/spec.md
  openspec/specs/circuit-breaker/spec.md
  openspec/specs/derived-timeouts/spec.md
  openspec/specs/snix-fuzz-targets/spec.md
  openspec/specs/tracey-coverage/spec.md
Due: markdownlint

doc-site: mark all 45 tasks complete
  openspec/changes/doc-site/tasks.md
Due: markdownlint

archive doc-site change
  openspec/changes/archive/2026-03-25-doc-site/.openspec.yaml
  openspec/changes/archive/2026-03-25-doc-site/design.md
  openspec/changes/archive/2026-03-25-doc-site/proposal.md
  openspec/changes/archive/2026-03-25-doc-site/specs/doc-site-build/spec.md
  openspec/changes/archive/2026-03-25-doc-site/specs/doc-site-content/spec.md
  openspec/changes/archive/2026-03-25-doc-site/tasks.md
Due: markdownlint

clean up stale FIXME in patchbay harness, wire failure cache clear on retry
  crates/aspen-ci-executor-nix/src/worker.rs
  crates/aspen-ci/src/failure_cache.rs
  crates/aspen-testing-patchbay/src/harness.rs
Due: rustfmt, cargo-clippy

snix: decompose oversized build_service functions for Tiger Style compliance
  crates/aspen-ci-executor-nix/src/build_service.rs
  crates/aspen-ci-executor-nix/src/flake_compat.rs
Due: rustfmt, cargo-clippy

unify dogfood deploy: use cluster deploy RPC instead of bash orchestration
  .agent/napkin.md
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-cli/src/bin/aspen-cli/output.rs
  openspec/changes/archive/2026-03-25-unify-dogfood-deploy/.openspec.yaml
  openspec/changes/archive/2026-03-25-unify-dogfood-deploy/design.md
  openspec/changes/archive/2026-03-25-unify-dogfood-deploy/proposal.md
  openspec/changes/archive/2026-03-25-unify-dogfood-deploy/specs/ci/spec.md
  openspec/changes/archive/2026-03-25-unify-dogfood-deploy/specs/cli-deploy-wait/spec.md
  openspec/changes/archive/2026-03-25-unify-dogfood-deploy/tasks.md
  openspec/specs/ci/spec.md
  openspec/specs/cli-deploy-wait/spec.md
  scripts/dogfood-local.sh
Due: rustfmt, cargo-clippy, markdownlint

fmt: fix nix formatting in example-clan
  example-clan/clan.nix
  example-clan/flake.nix
  example-clan/machines/aspen1/configuration.nix
  example-clan/machines/aspen1/hardware-configuration.nix
  example-clan/machines/aspen2/configuration.nix
  example-clan/machines/aspen2/hardware-configuration.nix
Due: none

fix clippy warnings in aspen-exec-cache: params struct, iterator, unused imports
  crates/aspen-exec-cache/src/eviction.rs
  crates/aspen-exec-cache/src/executor.rs
  crates/aspen-exec-cache/src/index.rs
  crates/aspen-exec-cache/src/types.rs
Due: rustfmt, cargo-clippy

fix clippy: allow unused_mut behind cfg(commit-dag) in kv-branch overlay
  crates/aspen-kv-branch/src/overlay.rs
Due: rustfmt, cargo-clippy
