Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

Make the process transport boundary discoverable
  README.md
Due: markdownlint

Keep archive blocked on repository traceability
  cairn/changes/fabric-cross-process-transport-shell/tasks.md
Due: markdownlint

Archive transport on scoped lifecycle evidence
  README.md
  cairn-policy/default.ncl
  cairn-policy/generated/cairn-policy.json
  cairn/archive/2026-07-24-fabric-cross-process-transport-shell/design.md
  cairn/archive/2026-07-24-fabric-cross-process-transport-shell/metadata.json
  cairn/archive/2026-07-24-fabric-cross-process-transport-shell/proposal.md
  cairn/archive/2026-07-24-fabric-cross-process-transport-shell/specs/fabric-transport/spec.md
  cairn/archive/2026-07-24-fabric-cross-process-transport-shell/tasks.md
  cairn/archive/2026-07-24-fabric-cross-process-transport-shell/validation.md
  cairn/specs/fabric-transport/spec.md
Due: markdownlint

Fence consistency effects before live Raft
  cairn/changes/fabric-consistency-service-runtime/design.md
  cairn/changes/fabric-consistency-service-runtime/metadata.json
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/binding.rs
  src/fabric_consistency/canonical.rs
  src/fabric_consistency/lifecycle.rs
  src/fabric_consistency/mod.rs
  src/fabric_consistency/operation.rs
  src/fabric_consistency/outcome.rs
  src/fabric_consistency/planner.rs
  src/fabric_consistency/tests/mod.rs
  src/fabric_consistency/tests/negative.rs
  src/fabric_consistency/tests/positive.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

Deliver admitted frames to protocol consumers
  src/fabric_transport/cross_process/iroh_shell.rs
  src/fabric_transport/cross_process/tests.rs
Due: rustfmt, cargo-clippy

Fence live Raft startup behind admitted fabric bindings
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/live_service.rs
  src/fabric_consistency/mod.rs
  src/fabric_consistency/raft/admission.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/model.rs
  src/fabric_consistency/raft/tests.rs
  src/fabric_consistency/tests/live_service.rs
  src/fabric_consistency/tests/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep live Raft commits behind quorum evidence
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/admission.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/model.rs
  src/fabric_consistency/raft/tests.rs
  src/fabric_consistency/raft/transition.rs
  src/fabric_consistency/raft/transition/client.rs
  src/fabric_consistency/raft/transition/election.rs
  src/fabric_consistency/raft/transition/replication.rs
  src/fabric_consistency/raft/transition/support.rs
  src/fabric_consistency/raft/transition/validation.rs
Due: rustfmt, cargo-clippy, markdownlint

Stop live Raft publication when fabric effects fail
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/executor.rs
  src/fabric_consistency/raft/executor_tests.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/tests.rs
Due: rustfmt, cargo-clippy, markdownlint

Bind Raft traffic to canonical Iroh frames
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/canonical.rs
  src/fabric_consistency/raft/canonical_tests.rs
  src/fabric_consistency/raft/executor.rs
  src/fabric_consistency/raft/executor_tests.rs
  src/fabric_consistency/raft/iroh.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/tests.rs
  src/fabric_transport/cross_process/mod.rs
  src/fabric_transport/cross_process/tests.rs
  src/fabric_transport/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Make Raft durability precede transport claims
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/durability.rs
  src/fabric_consistency/raft/durability_tests.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_durability/mod.rs
  src/fabric_durability/tests.rs
Due: rustfmt, cargo-clippy, markdownlint

Bind Raft timers to admitted entropy
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/time.rs
  src/fabric_consistency/raft/time_tests.rs
  src/fabric_time/mod.rs
  src/fabric_time/tests.rs
Due: rustfmt, cargo-clippy, markdownlint

Derive Raft frame identity before acknowledgement
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/iroh.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_transport/cross_process/iroh_shell.rs
Due: rustfmt, cargo-clippy, markdownlint

Fence Raft turns with bound ports and timer tokens
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/admission.rs
  src/fabric_consistency/raft/application.rs
  src/fabric_consistency/raft/canonical_tests.rs
  src/fabric_consistency/raft/control.rs
  src/fabric_consistency/raft/executor.rs
  src/fabric_consistency/raft/executor_tests.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/model.rs
  src/fabric_consistency/raft/port_tests.rs
  src/fabric_consistency/raft/ports.rs
  src/fabric_consistency/raft/service.rs
  src/fabric_consistency/raft/tests.rs
  src/fabric_consistency/raft/time.rs
  src/fabric_consistency/raft/time_tests.rs
  src/fabric_consistency/raft/transition.rs
  src/fabric_consistency/raft/transition/election.rs
  src/fabric_consistency/raft/transition/replication.rs
  src/fabric_consistency/raft/transition/support.rs
  src/fabric_consistency/raft/transition/validation.rs
  src/fabric_consistency/tests/live_service.rs
Due: rustfmt, cargo-clippy, markdownlint

Reject substituted adapters before Raft startup
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/control.rs
  src/fabric_consistency/raft/durability.rs
  src/fabric_consistency/raft/durability_tests.rs
  src/fabric_consistency/raft/iroh.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_consistency/raft/ports.rs
  src/fabric_consistency/raft/time.rs
Due: rustfmt, cargo-clippy, markdownlint

Recover only durable Raft commit boundaries
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/admission.rs
  src/fabric_consistency/raft/application.rs
  src/fabric_consistency/raft/canonical.rs
  src/fabric_consistency/raft/durability.rs
  src/fabric_consistency/raft/durability_tests.rs
  src/fabric_consistency/raft/executor.rs
  src/fabric_consistency/raft/executor_tests.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/model.rs
  src/fabric_consistency/raft/port_tests.rs
  src/fabric_consistency/raft/ports.rs
  src/fabric_consistency/raft/recovery.rs
  src/fabric_consistency/raft/tests.rs
  src/fabric_consistency/raft/transition.rs
  src/fabric_consistency/raft/transition/client.rs
  src/fabric_consistency/raft/transition/replication.rs
  src/fabric_consistency/raft/transition/validation.rs
  src/fabric_consistency/tests/live_service.rs
  src/fabric_durability/adapters.rs
Due: rustfmt, cargo-clippy, markdownlint

Exercise live Raft through distinct endpoint identities
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/application.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_consistency/raft/live_cluster/mod.rs
  src/fabric_consistency/raft/live_cluster/setup.rs
  src/fabric_consistency/raft/live_cluster/workflow.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/port_tests.rs
  src/fabric_consistency/raft/tests.rs
  src/fabric_consistency/tests/live_service.rs
  src/fabric_transport/cross_process/tests.rs
Due: rustfmt, cargo-clippy, markdownlint

Prevent stale reads and stranded followers in live Raft
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/admission.rs
  src/fabric_consistency/raft/canonical.rs
  src/fabric_consistency/raft/canonical_tests.rs
  src/fabric_consistency/raft/durability.rs
  src/fabric_consistency/raft/live_cluster/mod.rs
  src/fabric_consistency/raft/live_cluster/setup.rs
  src/fabric_consistency/raft/live_cluster/workflow.rs
  src/fabric_consistency/raft/model.rs
  src/fabric_consistency/raft/recovery.rs
  src/fabric_consistency/raft/tests.rs
  src/fabric_consistency/raft/transition.rs
  src/fabric_consistency/raft/transition/client.rs
  src/fabric_consistency/raft/transition/election.rs
  src/fabric_consistency/raft/transition/message.rs
  src/fabric_consistency/raft/transition/read.rs
  src/fabric_consistency/raft/transition/replication.rs
  src/fabric_consistency/raft/transition/snapshot.rs
  src/fabric_consistency/raft/transition/support.rs
  src/fabric_consistency/raft/transition/validation.rs
Due: rustfmt, cargo-clippy, markdownlint

Decouple Raft ingress to prevent response deadlocks
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/canonical.rs
  src/fabric_consistency/raft/iroh.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_consistency/raft/live_cluster/mod.rs
  src/fabric_consistency/raft/live_cluster/setup.rs
  src/fabric_consistency/raft/live_process/child.rs
  src/fabric_consistency/raft/live_process/mod.rs
  src/fabric_consistency/raft/live_process/process.rs
  src/fabric_consistency/raft/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Withhold commit and read claims after quorum loss
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/live_process/child.rs
  src/fabric_consistency/raft/live_process/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Treat durable snapshots as atomic restart boundaries
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/durability_tests.rs
  src/fabric_consistency/raft/live_cluster/mod.rs
  src/fabric_consistency/raft/live_cluster/setup.rs
  src/fabric_consistency/raft/live_process/child.rs
  src/fabric_consistency/raft/live_process/mod.rs
  src/fabric_consistency/raft/live_process/process.rs
  src/fabric_consistency/raft/live_process/receipt.rs
  src/fabric_consistency/raft/recovery.rs
Due: rustfmt, cargo-clippy, markdownlint

Fence pre-crash leaders after recovered quorum election
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/live_process/child.rs
  src/fabric_consistency/raft/live_process/mod.rs
  src/fabric_consistency/raft/live_process/receipt.rs
  src/fabric_consistency/raft/live_process/recovered.rs
Due: rustfmt, cargo-clippy, markdownlint

Select durable milestones instead of heartbeat noise
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/raft/evidence.rs
  src/fabric_consistency/raft/evidence/health.rs
  src/fabric_consistency/raft/evidence_tests.rs
  src/fabric_consistency/raft/live_cluster/mod.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/service.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep operator effects behind canonical preflights
  cairn/changes/fabric-consistency-service-runtime/tasks.md
  src/fabric_consistency/mod.rs
  src/fabric_consistency/operator/canonical.rs
  src/fabric_consistency/operator/mod.rs
  src/fabric_consistency/operator/tests.rs
  src/fabric_consistency/raft/live_cluster/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

Reject quorum evidence without distinct admitted voters
  src/fabric_consistency/operator/tests.rs
  src/fabric_consistency/raft/evidence.rs
  src/fabric_consistency/raft/evidence_tests.rs
  src/fabric_consistency/raft/live_process/mod.rs
  src/fabric_consistency/raft/live_process/receipt.rs
  src/fabric_consistency/raft/model.rs
  src/fabric_consistency/raft/transition.rs
Due: rustfmt, cargo-clippy

Archive live consistency work without granting production admission
  cairn/archive/2026-07-24-fabric-consistency-service-runtime/design.md
  cairn/archive/2026-07-24-fabric-consistency-service-runtime/metadata.json
  cairn/archive/2026-07-24-fabric-consistency-service-runtime/proposal.md
  cairn/archive/2026-07-24-fabric-consistency-service-runtime/specs/consensus/spec.md
  cairn/archive/2026-07-24-fabric-consistency-service-runtime/tasks.md
  cairn/archive/2026-07-24-fabric-consistency-service-runtime/validation.md
  cairn/specs/consensus/spec.md
Due: markdownlint

remove the GitHub bootstrap path without changing identity authority
  Cargo.lock
  Cargo.toml
  README.md
  build-plan.json
  cairn/changes/consume-artifact-auth-from-radicle/design.md
  cairn/changes/consume-artifact-auth-from-radicle/evidence/source-cutover-2026-07-25.md
  cairn/changes/consume-artifact-auth-from-radicle/proposal.md
  cairn/changes/consume-artifact-auth-from-radicle/specs/artifact-auth-adoption/spec.md
  cairn/changes/consume-artifact-auth-from-radicle/tasks.md
  config/release-dependencies/contracts.ncl
  config/release-dependencies/profile.ncl
  crates/molten-core/Cargo.toml
  docs/fabric-cryptographic-identity.md
  docs/reproducible-dependencies.md
  evidence/radicle/artifact-auth-cutover-v1.blake3
  evidence/radicle/artifact-auth-cutover-v1.json
  evidence/radicle/artifact-auth-cutover-v1.ncl
  flake.lock
  flake.nix
  lib/artifact-auth-cutover-receipt.ncl
  release-policy-build-plan.json
  tests/artifact-auth-cutover.ncl
Due: cargo-toml-sorted, cargo-deny, markdownlint

archive the cutover after generated identities and dogfood agree
  cairn/archive/2026-07-25-consume-artifact-auth-from-radicle/design.md
  cairn/archive/2026-07-25-consume-artifact-auth-from-radicle/evidence/source-cutover-2026-07-25.md
  cairn/archive/2026-07-25-consume-artifact-auth-from-radicle/proposal.md
  cairn/archive/2026-07-25-consume-artifact-auth-from-radicle/specs/artifact-auth-adoption/spec.md
  cairn/archive/2026-07-25-consume-artifact-auth-from-radicle/tasks.md
  cairn/specs/artifact-auth-adoption/spec.md
  evidence/radicle/artifact-auth-cutover-v1.blake3
  evidence/radicle/artifact-auth-cutover-v1.json
  evidence/radicle/artifact-auth-cutover-v1.ncl
  flake.nix
  lib/artifact-auth-cutover-receipt.ncl
Due: markdownlint

Keep cutovers and effect dispatch bound to immutable facts
  Cargo.lock
  Cargo.toml
  README.md
  build-plan.json
  cairn/changes/adopt-artifact-binding-and-semantic-effects/design.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/proposal.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/artifact-registry/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/explicit-effect-handle-scoping/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/runtime-spine/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/tasks.md
  config/release-dependencies/profile.ncl
  crates/molten-core/Cargo.toml
  crates/molten-core/src/lib.rs
  crates/molten-core/src/live_binding/binding.rs
  crates/molten-core/src/live_binding/mod.rs
  crates/molten-core/src/live_binding/model.rs
  crates/molten-core/src/live_binding/semantic.rs
  crates/molten-core/src/live_binding/tests.rs
  crates/molten-core/src/live_binding/tests/binding.rs
  crates/molten-core/src/live_binding/tests/semantic.rs
  docs/live-artifact-binding-and-semantic-effects.md
  fixtures/semantic-operation/contract.ncl
  fixtures/semantic-operation/mapping-default.json
  fixtures/semantic-operation/mapping-default.ncl
  fixtures/semantic-operation/mapping-drift.json
  fixtures/semantic-operation/mapping-drift.ncl
  flake.lock
  flake.nix
  release-policy-build-plan.json
  schemas/preserves-boundaries/binding-record-v1.preserves
  schemas/preserves-boundaries/binding-resolution-receipt-v1.preserves
  schemas/preserves-boundaries/binding-snapshot-v1.preserves
  schemas/preserves-boundaries/binding-transition-receipt-v1.preserves
  schemas/preserves-boundaries/deploy-diagnostic-v1.preserves
  schemas/preserves-boundaries/generation-attribution-v1.preserves
  schemas/preserves-boundaries/retirement-report-v1.preserves
  schemas/preserves-boundaries/retirement-root-inventory-v1.preserves
  schemas/preserves-boundaries/semantic-operation-binding-v1.preserves
  src/lib.rs
  src/live_binding_adoption.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Make lifecycle evidence fail closed on partial adoption
  cairn-policy/default.ncl
  cairn-policy/generated/cairn-policy.json
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/generation-retirement/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/live-artifact-binding/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/semantic-operation-adoption/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/tasks.md
  crates/molten-core/src/live_binding/binding.rs
  src/live_binding_adoption.rs
Due: rustfmt, cargo-clippy, markdownlint

Preserve source evidence as the dependency graph evolves
  cairn/changes/adopt-artifact-binding-and-semantic-effects/evidence/validation.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/tasks.md
  cairn/specs/generation-retirement/spec.md
  cairn/specs/live-artifact-binding/spec.md
  cairn/specs/semantic-operation-adoption/spec.md
  evidence/radicle/artifact-auth-cutover-v1.blake3
  evidence/radicle/artifact-auth-cutover-v1.json
  evidence/radicle/artifact-auth-cutover-v1.ncl
  flake.nix
  lib/artifact-auth-cutover-receipt.ncl
Due: markdownlint

Archive adoption after complete bounded evidence
  cairn/archive/1970-01-01-adopt-artifact-binding-and-semantic-effects/design.md
  cairn/archive/1970-01-01-adopt-artifact-binding-and-semantic-effects/evidence/validation.md
  cairn/archive/1970-01-01-adopt-artifact-binding-and-semantic-effects/proposal.md
  cairn/archive/1970-01-01-adopt-artifact-binding-and-semantic-effects/specs/generation-retirement/spec.md
  cairn/archive/1970-01-01-adopt-artifact-binding-and-semantic-effects/specs/live-artifact-binding/spec.md
  cairn/archive/1970-01-01-adopt-artifact-binding-and-semantic-effects/specs/semantic-operation-adoption/spec.md
  cairn/archive/1970-01-01-adopt-artifact-binding-and-semantic-effects/tasks.md
Due: markdownlint

keep external consensus evidence claim-scoped
  cairn/changes/add-chaoscontrol-consensus-conformance/design.md
  cairn/changes/add-chaoscontrol-consensus-conformance/proposal.md
  cairn/changes/add-chaoscontrol-consensus-conformance/specs/consensus/spec.md
  cairn/changes/add-chaoscontrol-consensus-conformance/specs/testing-harness/spec.md
  cairn/changes/add-chaoscontrol-consensus-conformance/tasks.md
Due: markdownlint

make plugin contract authority boundaries explicit
  docs/plugin-extension-contracts/README.md
Due: markdownlint

exercise extension cores through one bounded simulated world
  README.md
  crates/molten-core/src/fabric_simulation/admission.rs
  crates/molten-core/src/fabric_simulation/mod.rs
  crates/molten-core/src/fabric_simulation/reference.rs
  crates/molten-core/src/fabric_simulation/replay.rs
  crates/molten-core/src/fabric_simulation/scheduler.rs
  crates/molten-core/src/fabric_simulation/tests.rs
  crates/molten-core/src/fabric_simulation/types.rs
  crates/molten-core/src/lib.rs
  docs/fabric-whole-system-simulation.md
  docs/fabric-whole-system-simulation/contracts.ncl
  docs/fabric-whole-system-simulation/fixtures/negative/ambient-input.ncl
  docs/fabric-whole-system-simulation/fixtures/negative/claim-overreach.ncl
  docs/fabric-whole-system-simulation/fixtures/negative/missing-port.ncl
  docs/fabric-whole-system-simulation/fixtures/negative/unbounded-run.ncl
  docs/fabric-whole-system-simulation/profile-template.ncl
  docs/fabric-whole-system-simulation/profile.ncl
  src/cli/runtime/fabric_simulation.rs
  src/cli/runtime/fabric_simulation/command.rs
  src/cli/runtime/fabric_simulation/ops.rs
  src/fabric_simulation/canonical.rs
  src/fabric_simulation/composition.rs
  src/fabric_simulation/mod.rs
  src/fabric_simulation/reference.rs
  src/fabric_simulation/tests.rs
  src/lib.rs
  src/main.rs
  src/main/root.rs
  src/main/root/command.rs
  src/system_extension/host.rs
  tests/cliharness.rs
  tests/parts/cliharness/p020/body.rs
Due: rustfmt, cargo-clippy, markdownlint

close simulation evidence before accepting its claims
  cairn/changes/fabric-whole-system-simulation/evidence/validation.md
  cairn/changes/fabric-whole-system-simulation/metadata.json
  cairn/changes/fabric-whole-system-simulation/tasks.md
  src/fabric_simulation/canonical.rs
  src/fabric_simulation/tests.rs
  tests/fabric_simulation_boundary.rs
Due: rustfmt, cargo-clippy, markdownlint

accept simulation claims only with checked trace anchors
  cairn/changes/fabric-whole-system-simulation/evidence/validation.md
  cairn/specs/fabric-simulation/spec.md
  tools/tracey/fabric_simulation_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

archive the bounded simulation claim set
  cairn/archive/2026-08-01-fabric-whole-system-simulation/design.md
  cairn/archive/2026-08-01-fabric-whole-system-simulation/evidence/validation.md
  cairn/archive/2026-08-01-fabric-whole-system-simulation/metadata.json
  cairn/archive/2026-08-01-fabric-whole-system-simulation/proposal.md
  cairn/archive/2026-08-01-fabric-whole-system-simulation/specs/fabric-simulation/spec.md
  cairn/archive/2026-08-01-fabric-whole-system-simulation/tasks.md
Due: markdownlint

make authority reference roles explicit before migration
  cairn/changes/type-authority-and-artifact-references/design.md
  cairn/changes/type-authority-and-artifact-references/proposal.md
  cairn/changes/type-authority-and-artifact-references/specs/authority-identity-revocation/spec.md
  cairn/changes/type-authority-and-artifact-references/tasks.md
Due: markdownlint

preserve immutable late binding and semantic effect identity
  README.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/design.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/proposal.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/artifact-registry/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/explicit-effect-handle-scoping/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/specs/runtime-spine/spec.md
  cairn/changes/adopt-artifact-binding-and-semantic-effects/tasks.md
Due: markdownlint

separate collaboration scope authority from fabric membership
  cairn/changes/add-collaboration-scope-system-extension/design.md
  cairn/changes/add-collaboration-scope-system-extension/metadata.json
  cairn/changes/add-collaboration-scope-system-extension/proposal.md
  cairn/changes/add-collaboration-scope-system-extension/specs/collaboration-scope/spec.md
  cairn/changes/add-collaboration-scope-system-extension/tasks.md
Due: markdownlint
