Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

keep privileged BPF lifecycle outside Molten
  cairn/changes/add-linux-ebpf-observability-adapter/design.md
  cairn/changes/add-linux-ebpf-observability-adapter/proposal.md
  cairn/changes/add-linux-ebpf-observability-adapter/specs/linux-ebpf-observability/spec.md
  cairn/changes/add-linux-ebpf-observability-adapter/tasks.md
Due: markdownlint

add cairn change for dev-time flux-profiler adoption
  cairn/changes/add-flux-profiler-dev-profiling/design.md
  cairn/changes/add-flux-profiler-dev-profiling/proposal.md
  cairn/changes/add-flux-profiler-dev-profiling/specs/dev-function-profiling/spec.md
  cairn/changes/add-flux-profiler-dev-profiling/tasks.md
Due: markdownlint

Unify Molten Artifact source identity
  Cargo.lock
  Cargo.toml
  README.md
  THIRD_PARTY_LICENSES.md
  build-plan.json
  cairn/changes/consume-artifact-auth-from-unified-workspace/design.md
  cairn/changes/consume-artifact-auth-from-unified-workspace/evidence/source-migration-2026-08-06.md
  cairn/changes/consume-artifact-auth-from-unified-workspace/metadata.json
  cairn/changes/consume-artifact-auth-from-unified-workspace/proposal.md
  cairn/changes/consume-artifact-auth-from-unified-workspace/specs/artifact-auth-adoption/spec.md
  cairn/changes/consume-artifact-auth-from-unified-workspace/tasks.md
  config/release-dependencies/profile.ncl
  crates/molten-core/Cargo.toml
  docs/fabric-cryptographic-identity.md
  docs/live-artifact-binding-and-semantic-effects.md
  docs/reproducible-dependencies.md
  evidence/source/artifact-workspace-migration-v1.blake3
  evidence/source/artifact-workspace-migration-v1.json
  evidence/source/artifact-workspace-migration-v1.ncl
  flake.lock
  flake.nix
  lib/artifact-source-migration-receipt.ncl
  release-policy-build-plan.json
  tests/artifact-source-migration.ncl
Due: cargo-toml-sorted, cargo-deny, markdownlint

Archive the accepted source migration
  cairn/archive/2026-08-06-consume-artifact-auth-from-unified-workspace/design.md
  cairn/archive/2026-08-06-consume-artifact-auth-from-unified-workspace/evidence/source-migration-2026-08-06.md
  cairn/archive/2026-08-06-consume-artifact-auth-from-unified-workspace/metadata.json
  cairn/archive/2026-08-06-consume-artifact-auth-from-unified-workspace/proposal.md
  cairn/archive/2026-08-06-consume-artifact-auth-from-unified-workspace/specs/artifact-auth-adoption/spec.md
  cairn/archive/2026-08-06-consume-artifact-auth-from-unified-workspace/tasks.md
  cairn/specs/artifact-auth-adoption/spec.md
Due: markdownlint

bound live consensus claims before adapter implementation
  cairn/changes/add-live-consensus-reliability-adapter/design.md
  cairn/changes/add-live-consensus-reliability-adapter/proposal.md
  cairn/changes/add-live-consensus-reliability-adapter/specs/consensus/spec.md
  cairn/changes/add-live-consensus-reliability-adapter/specs/testing-harness/spec.md
  cairn/changes/add-live-consensus-reliability-adapter/tasks.md
Due: markdownlint

make collaboration scope dependencies machine-checkable
  cairn/changes/add-collaboration-scope-system-extension/tasks.md
Due: markdownlint

extract capability-scoped node host boundary
  Cargo.lock
  Cargo.toml
  README.md
  build-plan.json
  cairn/archive/1970-01-01-extract-molten-node-host/design.md
  cairn/archive/1970-01-01-extract-molten-node-host/evidence/baseline.md
  cairn/archive/1970-01-01-extract-molten-node-host/evidence/validation.md
  cairn/archive/1970-01-01-extract-molten-node-host/proposal.md
  cairn/archive/1970-01-01-extract-molten-node-host/specs/node-runtime/spec.md
  cairn/archive/1970-01-01-extract-molten-node-host/tasks.md
  cairn/specs/node-runtime/spec.md
  crates/molten-node-host/Cargo.toml
  crates/molten-node-host/src/error/mod.rs
  crates/molten-node-host/src/lib.rs
  crates/molten-node-host/src/local_store/mod.rs
  crates/molten-node-host/src/node/state.rs
  crates/molten-node-host/src/node/state/authority.rs
  crates/molten-node-host/src/node/state/enumeration.rs
  crates/molten-node-host/src/node/state/filesystem.rs
  crates/molten-node-host/src/node/state/locator.rs
  crates/molten-node-host/src/node/state/namespace.rs
  crates/molten-node-host/tests/fixtures/node-host-boundary/invalid-host/Cargo.toml
  crates/molten-node-host/tests/fixtures/node-host-boundary/invalid-missing-core/Cargo.toml
  crates/molten-node-host/tests/fixtures/node-host-boundary/malformed/Cargo.toml
  crates/molten-node-host/tests/fixtures/node-host-boundary/positive/Cargo.toml
  crates/molten-node-host/tests/nodehostboundary.rs
  docs/architecture.md
  docs/node-state-filesystem-authority.md
  flake.nix
  release-policy-build-plan.json
  src/error/mod.rs
  src/lib.rs
  src/local_store/mod.rs
  src/local_store/tests.rs
  src/node/state.rs
  tests/moltennodehostfacade.rs
  tests/parts/cliharness/p011/body.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

repair three-node membership traceability
  cairn/archive/1970-01-01-repair-three-node-membership-tracey/design.md
  cairn/archive/1970-01-01-repair-three-node-membership-tracey/evidence/validation.md
  cairn/archive/1970-01-01-repair-three-node-membership-tracey/proposal.md
  cairn/archive/1970-01-01-repair-three-node-membership-tracey/specs/testing-harness/spec.md
  cairn/archive/1970-01-01-repair-three-node-membership-tracey/tasks.md
  src/testing/multinode/parts/tests/p001/body.rs
  tools/tracey/multinode_testing_harness_proof.rs
Due: rustfmt, cargo-clippy, markdownlint

bound inherited Tracey debt without false coverage
  cairn/archive/1970-01-01-bound-inherited-tracey-debt/design.md
  cairn/archive/1970-01-01-bound-inherited-tracey-debt/evidence/validation.md
  cairn/archive/1970-01-01-bound-inherited-tracey-debt/proposal.md
  cairn/archive/1970-01-01-bound-inherited-tracey-debt/specs/project/spec.md
  cairn/archive/1970-01-01-bound-inherited-tracey-debt/tasks.md
  cairn/specs/artifact-auth-adoption/spec.md
  cairn/specs/node-replication-pilot/spec.md
  cairn/specs/project/spec.md
  evidence/tracey/inherited-debt-baseline.json
  evidence/tracey/inherited-debt-baseline.ncl
  evidence/tracey/inherited-debt-baseline.txt
  flake.nix
  tools/tracey/inherited_debt_guard.rs
Due: rustfmt, cargo-clippy, markdownlint

classify inherited Tracey debt before claiming coverage
  cairn/archive/1970-01-01-classify-inherited-tracey-debt/design.md
  cairn/archive/1970-01-01-classify-inherited-tracey-debt/evidence/validation.md
  cairn/archive/1970-01-01-classify-inherited-tracey-debt/proposal.md
  cairn/archive/1970-01-01-classify-inherited-tracey-debt/specs/explicit-effect-handle-scoping/spec.md
  cairn/archive/1970-01-01-classify-inherited-tracey-debt/specs/project/spec.md
  cairn/archive/1970-01-01-classify-inherited-tracey-debt/tasks.md
  cairn/specs/explicit-effect-handle-scoping/spec.md
  cairn/specs/project/spec.md
  crates/molten-core/src/stack.rs
  docs/choreography-typed-facade.md
  docs/valence-stack-evidence-adapter.md
  evidence/tracey/inherited-debt-baseline.json
  evidence/tracey/inherited-debt-baseline.ncl
  evidence/tracey/inherited-debt-baseline.txt
  evidence/tracey/inherited-debt-classification.json
  evidence/tracey/inherited-debt-classification.md
  evidence/tracey/inherited-debt-classification.ncl
  evidence/tracey/inherited-debt-classification.tsv
  flake.nix
  src/protocol/parts/session/p009/body.rs
  src/protocol/parts/session/tests/m000/p002/body.rs
  src/testing/traceability/parts/p002/body.rs
  src/testing/traceability/parts/tests/p001/body.rs
  tools/tracey/inherited_debt_classifier.rs
Due: rustfmt, cargo-clippy, markdownlint

bind runtime-spine debt to reviewed Preserves evidence
  cairn/archive/1970-01-01-repair-runtime-spine-tracey/design.md
  cairn/archive/1970-01-01-repair-runtime-spine-tracey/evidence/validation.md
  cairn/archive/1970-01-01-repair-runtime-spine-tracey/proposal.md
  cairn/archive/1970-01-01-repair-runtime-spine-tracey/specs/project/spec.md
  cairn/archive/1970-01-01-repair-runtime-spine-tracey/tasks.md
  cairn/specs/project/spec.md
  evidence/tracey/inherited-debt-baseline.json
  evidence/tracey/inherited-debt-baseline.ncl
  evidence/tracey/inherited-debt-baseline.txt
  evidence/tracey/inherited-debt-classification.json
  evidence/tracey/inherited-debt-classification.md
  evidence/tracey/inherited-debt-classification.ncl
  evidence/tracey/inherited-debt-classification.tsv
  evidence/tracey/runtime-spine-direct-repairs.json
  evidence/tracey/runtime-spine-direct-repairs.ncl
  flake.nix
  src/job/parts/dag/tests/m000/p004/body.rs
  src/preserves/parts/rail/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bind blob-ref job debt to direct runtime evidence
  cairn/archive/1970-01-01-repair-runtime-spine-job-dag-tracey/design.md
  cairn/archive/1970-01-01-repair-runtime-spine-job-dag-tracey/evidence/validation.md
  cairn/archive/1970-01-01-repair-runtime-spine-job-dag-tracey/proposal.md
  cairn/archive/1970-01-01-repair-runtime-spine-job-dag-tracey/specs/project/spec.md
  cairn/archive/1970-01-01-repair-runtime-spine-job-dag-tracey/tasks.md
  cairn/specs/project/spec.md
  evidence/tracey/inherited-debt-baseline.json
  evidence/tracey/inherited-debt-baseline.ncl
  evidence/tracey/inherited-debt-baseline.txt
  evidence/tracey/inherited-debt-classification.json
  evidence/tracey/inherited-debt-classification.md
  evidence/tracey/inherited-debt-classification.ncl
  evidence/tracey/inherited-debt-classification.tsv
  evidence/tracey/runtime-spine-job-dag-direct-repairs.json
  evidence/tracey/runtime-spine-job-dag-direct-repairs.ncl
  flake.nix
  src/job/parts/dag/p003/body.rs
  src/job/parts/dag/p013/body.rs
  src/job/parts/dag/p014/body.rs
  src/job/parts/dag/p021/body.rs
  src/job/parts/dag/tests/m000/p000/body.rs
  src/job/parts/dag/tests/m000/p004/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bind SAM service debt to existing runtime proof
  cairn/archive/1970-01-01-repair-runtime-spine-sam-tracey/design.md
  cairn/archive/1970-01-01-repair-runtime-spine-sam-tracey/evidence/validation.md
  cairn/archive/1970-01-01-repair-runtime-spine-sam-tracey/proposal.md
  cairn/archive/1970-01-01-repair-runtime-spine-sam-tracey/specs/project/spec.md
  cairn/archive/1970-01-01-repair-runtime-spine-sam-tracey/tasks.md
  cairn/specs/project/spec.md
  evidence/tracey/inherited-debt-baseline.json
  evidence/tracey/inherited-debt-baseline.ncl
  evidence/tracey/inherited-debt-baseline.txt
  evidence/tracey/inherited-debt-classification.json
  evidence/tracey/inherited-debt-classification.md
  evidence/tracey/inherited-debt-classification.ncl
  evidence/tracey/inherited-debt-classification.tsv
  evidence/tracey/runtime-spine-sam-direct-repairs.json
  evidence/tracey/runtime-spine-sam-direct-repairs.ncl
  flake.nix
  src/service/parts/records/p001/body.rs
  src/service/parts/records/p002/body.rs
  src/service/parts/records/tests/m000/p000/body.rs
  src/service/parts/records/tests/m000/p001/body.rs
  src/service/parts/runtime/p001/body.rs
  src/service/parts/runtime/p002/body.rs
  src/service/parts/runtime/p003/body.rs
  src/service/parts/runtime/p004/body.rs
  src/service/parts/supervision/p001/body.rs
  src/service/parts/supervision/p003/body.rs
  src/service/parts/supervision/tests/m000/p000/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bind proven content-ref debt without hiding formatter gaps
  cairn/archive/1970-01-01-repair-runtime-spine-content-refs-tracey/design.md
  cairn/archive/1970-01-01-repair-runtime-spine-content-refs-tracey/evidence/validation.md
  cairn/archive/1970-01-01-repair-runtime-spine-content-refs-tracey/proposal.md
  cairn/archive/1970-01-01-repair-runtime-spine-content-refs-tracey/specs/project/spec.md
  cairn/archive/1970-01-01-repair-runtime-spine-content-refs-tracey/tasks.md
  cairn/specs/project/spec.md
  evidence/tracey/inherited-debt-baseline.json
  evidence/tracey/inherited-debt-baseline.ncl
  evidence/tracey/inherited-debt-baseline.txt
  evidence/tracey/inherited-debt-classification.json
  evidence/tracey/inherited-debt-classification.md
  evidence/tracey/inherited-debt-classification.ncl
  evidence/tracey/inherited-debt-classification.tsv
  evidence/tracey/runtime-spine-content-refs-direct-repairs.json
  evidence/tracey/runtime-spine-content-refs-direct-repairs.ncl
  flake.nix
  src/artifacts/parts/mod/p004/body.rs
  src/catalog/parts/mod/p000/body.rs
  src/chunk/parts/store/p014/body.rs
  src/coordination/parts/mod/p007/body.rs
  src/harness/parts/schema/p000/body.rs
  src/job/parts/dag/p021/body.rs
  src/ledger/parts/mod/p000/body.rs
  src/ledger/parts/mod/p001/body.rs
  src/ledger/parts/mod/tests/m000/p000/body.rs
  src/node/parts/daemon/p026/body.rs
  src/node/parts/daemon/tests/m000/p002/body.rs
  src/node/parts/runtime/p002/body.rs
  src/node/parts/runtime/tests/m000/p000/body.rs
  src/octet/parts/gate/p009/body.rs
  src/preserves/parts/rail/p001/body.rs
  src/protocol/parts/session/p008/body.rs
  src/provenance/parts/mod/p003/body.rs
  src/runtime/dataspace/mod.rs
  src/runtime/predicates/parts/mod/tests/m000/p002/body.rs
  src/runtime/turn/chronicle.rs
  src/runtime/turn/mod.rs
  src/secrets/parts/mod/p000/body.rs
  src/service/parts/runtime/p000/body.rs
  src/transcripts/parts/mod/p000/body.rs
Due: rustfmt, cargo-clippy, markdownlint

bind Preserves profile debt to enforced boundaries
  cairn/archive/1970-01-01-repair-runtime-spine-preserves-boundary-tracey/design.md
  cairn/archive/1970-01-01-repair-runtime-spine-preserves-boundary-tracey/evidence/validation.md
  cairn/archive/1970-01-01-repair-runtime-spine-preserves-boundary-tracey/proposal.md
  cairn/archive/1970-01-01-repair-runtime-spine-preserves-boundary-tracey/specs/project/spec.md
  cairn/archive/1970-01-01-repair-runtime-spine-preserves-boundary-tracey/tasks.md
  cairn/specs/project/spec.md
  crates/molten-core/src/preserves_profile.rs
  docs/modularity-boundaries.md
  docs/preserves-boundary-profile/contracts.ncl
  docs/preserves-boundary-profile/non-canonical.ncl
  docs/preserves-boundary-profile/raw-core-coupling.ncl
  docs/preserves-boundary-profile/valid.ncl
  evidence/tracey/inherited-debt-baseline.json
  evidence/tracey/inherited-debt-baseline.ncl
  evidence/tracey/inherited-debt-baseline.txt
  evidence/tracey/inherited-debt-classification.json
  evidence/tracey/inherited-debt-classification.md
  evidence/tracey/inherited-debt-classification.ncl
  evidence/tracey/inherited-debt-classification.tsv
  evidence/tracey/runtime-spine-preserves-boundary-direct-repairs.json
  evidence/tracey/runtime-spine-preserves-boundary-direct-repairs.ncl
  flake.nix
Due: rustfmt, cargo-clippy, markdownlint

pilot shared schema identity without moving product authority
  Cargo.lock
  Cargo.toml
  README.md
  docs/schema-identity-core-pilot.md
  src/lib.rs
  src/schema_identity_core_pilot.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

pin the vendor-safe schema identity cohort
  Cargo.lock
  Cargo.toml
  docs/schema-identity-core-pilot.md
Due: cargo-toml-sorted, cargo-deny, markdownlint

pilot shared migration planning without runtime effects
  README.md
  docs/schema-migration-core-pilot.md
  flake.lock
  flake.nix
  pilots/schema-migration/Cargo.lock
  pilots/schema-migration/Cargo.toml
  pilots/schema-migration/source.ncl
  pilots/schema-migration/src/main.rs
  pilots/schema-migration/tests/pilot.rs
Due: rustfmt, cargo-clippy, markdownlint

bind the pilot to audited terminal decision receipts
  README.md
  docs/schema-migration-core-pilot.md
  flake.lock
  flake.nix
  pilots/schema-migration/Cargo.lock
  pilots/schema-migration/Cargo.toml
  pilots/schema-migration/source.ncl
  pilots/schema-migration/tests/pilot.rs
Due: rustfmt, cargo-clippy, markdownlint

make actor dormancy semantics explicit
  cairn/changes/add-addressable-actor-runtime-profile/design.md
  cairn/changes/add-addressable-actor-runtime-profile/metadata.json
  cairn/changes/add-addressable-actor-runtime-profile/proposal.md
  cairn/changes/add-addressable-actor-runtime-profile/specs/addressable-actor-runtime/spec.md
  cairn/changes/add-addressable-actor-runtime-profile/tasks.md
Due: markdownlint

prove Molten adapters can consume bounded admission
  Cargo.lock
  crates/molten-core/Cargo.toml
  crates/molten-core/src/preserves_profile.rs
Due: rustfmt, cargo-clippy, cargo-deny

make durable-store ownership fail closed
  .cairn/archive/2026-08-24-object-store-cas-coordinator/design.md
  .cairn/archive/2026-08-24-object-store-cas-coordinator/evidence/validation.md
  .cairn/archive/2026-08-24-object-store-cas-coordinator/metadata.json
  .cairn/archive/2026-08-24-object-store-cas-coordinator/proposal.md
  .cairn/archive/2026-08-24-object-store-cas-coordinator/specs/object-store-cas-coordinator/spec.md
  .cairn/archive/2026-08-24-object-store-cas-coordinator/tasks.md
  .cairn/changes/object-store-cas-coordinator/tasks.md
  .cairn/specs/object-store-cas-coordinator/spec.md
  Cargo.lock
  README.md
  build-plan.json
  crates/molten-core/Cargo.toml
  crates/molten-core/src/fabric_durability/mod.rs
  crates/molten-core/src/fabric_durability/ownership.rs
  crates/molten-core/src/lib.rs
  release-policy-build-plan.json
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

bound repeated dataspace access without changing authority
  .cairn/archive/2026-08-24-add-bounded-dataspace-access-cache/design.md
  .cairn/archive/2026-08-24-add-bounded-dataspace-access-cache/evidence/validation.md
  .cairn/archive/2026-08-24-add-bounded-dataspace-access-cache/metadata.json
  .cairn/archive/2026-08-24-add-bounded-dataspace-access-cache/proposal.md
  .cairn/archive/2026-08-24-add-bounded-dataspace-access-cache/specs/dataspace-access-cache/spec.md
  .cairn/archive/2026-08-24-add-bounded-dataspace-access-cache/tasks.md
  .cairn/changes/add-bounded-dataspace-access-cache/tasks.md
  .cairn/specs/dataspace-access-cache/spec.md
  README.md
  crates/molten-core/src/fabric_durability/cache/mod.rs
  crates/molten-core/src/fabric_durability/cache/tests.rs
  crates/molten-core/src/fabric_durability/mod.rs
  docs/dataspace-access-cache.md
  src/runtime/dataspace/cache/mod.rs
  src/runtime/dataspace/cache/tests.rs
  src/runtime/dataspace/mod.rs
  src/runtime/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

reserve scheduler capacity before accepting work
  .cairn/archive/2026-08-24-preallocate-fabric-scheduler-capacity/design.md
  .cairn/archive/2026-08-24-preallocate-fabric-scheduler-capacity/evidence/validation.md
  .cairn/archive/2026-08-24-preallocate-fabric-scheduler-capacity/proposal.md
  .cairn/archive/2026-08-24-preallocate-fabric-scheduler-capacity/specs/fabric-time-scheduling/spec.md
  .cairn/archive/2026-08-24-preallocate-fabric-scheduler-capacity/tasks.md
  .cairn/changes/preallocate-fabric-scheduler-capacity/tasks.md
  .cairn/specs/fabric-time-scheduling/spec.md
  crates/molten-core/src/fabric_time/profile.rs
  crates/molten-core/src/fabric_time/scheduler/capacity/identity.rs
  crates/molten-core/src/fabric_time/scheduler/capacity/mod.rs
  crates/molten-core/src/fabric_time/scheduler/capacity/tests.rs
  crates/molten-core/src/fabric_time/scheduler/mod.rs
  docs/fabric-time-scheduler-runtime.md
  src/fabric_time/capacity/mod.rs
  src/fabric_time/capacity/tests.rs
  src/fabric_time/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

keep Nickel evaluation on one reviewed cohort
  .cairn/archive/2026-08-24-adopt-nickel-1-17-cohort/design.md
  .cairn/archive/2026-08-24-adopt-nickel-1-17-cohort/evidence/validation.md
  .cairn/archive/2026-08-24-adopt-nickel-1-17-cohort/proposal.md
  .cairn/archive/2026-08-24-adopt-nickel-1-17-cohort/specs/nickel-toolchain/spec.md
  .cairn/archive/2026-08-24-adopt-nickel-1-17-cohort/tasks.md
  .cairn/changes/adopt-nickel-1-17-cohort/tasks.md
  .cairn/specs/nickel-toolchain/spec.md
  Cargo.lock
  Cargo.toml
  README.md
  build-plan.json
  docs/nickel-toolchain.md
  flake.lock
  flake.nix
  release-policy-build-plan.json
Due: cargo-toml-sorted, cargo-deny, markdownlint

keep development profiling outside release evidence
  .cairn/archive/2026-08-24-add-flux-profiler-dev-profiling/design.md
  .cairn/archive/2026-08-24-add-flux-profiler-dev-profiling/evidence/validation.md
  .cairn/archive/2026-08-24-add-flux-profiler-dev-profiling/proposal.md
  .cairn/archive/2026-08-24-add-flux-profiler-dev-profiling/specs/dev-function-profiling/spec.md
  .cairn/archive/2026-08-24-add-flux-profiler-dev-profiling/tasks.md
  .cairn/changes/add-flux-profiler-dev-profiling/tasks.md
  .cairn/specs/dev-function-profiling/spec.md
  Cargo.lock
  Cargo.toml
  README.md
  THIRD_PARTY_LICENSES.md
  build-plan.json
  docs/development-function-profiling.md
  examples/profilerprobe.rs
  flake.lock
  flake.nix
  release-policy-build-plan.json
  src/cli/runtime/vat.rs
  src/content_store_adapter/live_iroh.rs
  src/lib.rs
  src/main.rs
  src/profiling.rs
  src/runtime/dataspace/mod.rs
  tests/devfunctionprofilingboundary.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Bound fast-path exploration to model-only evidence
  .cairn/archive/2026-08-24-model-consensus-fast-path-hazards/design.md
  .cairn/archive/2026-08-24-model-consensus-fast-path-hazards/evidence/validation.md
  .cairn/archive/2026-08-24-model-consensus-fast-path-hazards/proposal.md
  .cairn/archive/2026-08-24-model-consensus-fast-path-hazards/specs/consensus/spec.md
  .cairn/archive/2026-08-24-model-consensus-fast-path-hazards/tasks.md
  .cairn/changes/model-consensus-fast-path-hazards/tasks.md
  .cairn/specs/consensus/spec.md
  README.md
  config/consensus-fastpath/contracts.ncl
  config/consensus-fastpath/negative-production.ncl
  config/consensus-fastpath/negative-reference.ncl
  config/consensus-fastpath/profile.ncl
  docs/consensus-fastpath-hazard-model.md
  flake.nix
  src/fabric_consistency/fastpath/conflict.rs
  src/fabric_consistency/fastpath/evidence.rs
  src/fabric_consistency/fastpath/fault.rs
  src/fabric_consistency/fastpath/mod.rs
  src/fabric_consistency/fastpath/profile.rs
  src/fabric_consistency/fastpath/recovery.rs
  src/fabric_consistency/fastpath/stable.rs
  src/fabric_consistency/mod.rs
  src/fabric_consistency/tests/fastpath/cases.rs
  src/fabric_consistency/tests/fastpath/mod.rs
  src/fabric_consistency/tests/fastpath/repro.rs
  src/fabric_consistency/tests/mod.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep fabric policy independent from mechanisms
  .cairn/archive/2026-08-24-separate-fabric-ports-and-adapters/design.md
  .cairn/archive/2026-08-24-separate-fabric-ports-and-adapters/evidence/validation.md
  .cairn/archive/2026-08-24-separate-fabric-ports-and-adapters/proposal.md
  .cairn/archive/2026-08-24-separate-fabric-ports-and-adapters/specs/project/spec.md
  .cairn/archive/2026-08-24-separate-fabric-ports-and-adapters/tasks.md
  .cairn/changes/separate-fabric-ports-and-adapters/tasks.md
  .cairn/specs/project/spec.md
  README.md
  docs/fabric-port-ownership.md
  flake.nix
  src/fabric/audit.rs
  src/fabric/mod.rs
  src/fabric/port.rs
  src/fabric_consistency/raft/time_tests.rs
  src/fabric_durability/adapters.rs
  src/fabric_durability/mod.rs
  src/fabric_durability/ports.rs
  src/fabric_durability/shell.rs
  src/fabric_membership/adapters.rs
  src/fabric_membership/mod.rs
  src/fabric_membership/ports.rs
  src/fabric_membership/shell.rs
  src/fabric_simulation/composition.rs
  src/fabric_time/adapters.rs
  src/fabric_time/mod.rs
  src/fabric_time/ports.rs
  src/fabric_time/shell.rs
  src/fabric_transport/adapters.rs
  src/fabric_transport/cross_process/effect_port.rs
  src/fabric_transport/mod.rs
  src/fabric_transport/ports.rs
  src/fabric_transport/shell.rs
  src/system_extension/fixture.rs
  src/system_extension/host.rs
Due: rustfmt, cargo-clippy, markdownlint

Prevent reference categories from crossing authority boundaries
  .cairn/archive/2026-08-24-type-authority-and-artifact-references/design.md
  .cairn/archive/2026-08-24-type-authority-and-artifact-references/evidence/validation.md
  .cairn/archive/2026-08-24-type-authority-and-artifact-references/proposal.md
  .cairn/archive/2026-08-24-type-authority-and-artifact-references/specs/authority-identity-revocation/spec.md
  .cairn/archive/2026-08-24-type-authority-and-artifact-references/tasks.md
  .cairn/changes/type-authority-and-artifact-references/tasks.md
  .cairn/specs/authority-identity-revocation/spec.md
  README.md
  config/nominal-reference-domains.ncl
  crates/molten-core/src/lib.rs
  crates/molten-core/src/nominal.rs
  docs/nominal-authority-references.md
  flake.nix
  src/authority/mod.rs
  src/authority/nominal.rs
  src/authority/parts/mod/p001/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Restore release dependency checks before closing adoption
  .cairn/archive/2026-08-25-adopt-artifact-binding-and-semantic-effects/design.md
  .cairn/archive/2026-08-25-adopt-artifact-binding-and-semantic-effects/evidence/validation.md
  .cairn/archive/2026-08-25-adopt-artifact-binding-and-semantic-effects/proposal.md
  .cairn/archive/2026-08-25-adopt-artifact-binding-and-semantic-effects/specs/generation-retirement/spec.md
  .cairn/archive/2026-08-25-adopt-artifact-binding-and-semantic-effects/specs/live-artifact-binding/spec.md
  .cairn/archive/2026-08-25-adopt-artifact-binding-and-semantic-effects/specs/semantic-operation-adoption/spec.md
  .cairn/archive/2026-08-25-adopt-artifact-binding-and-semantic-effects/tasks.md
  .cairn/changes/adopt-artifact-binding-and-semantic-effects/tasks.md
  build-plan.json
  config/release-dependencies/profile.ncl
  crates/molten-release-policy/Cargo.toml
  flake.lock
  flake.nix
  release-policy-build-plan.json
Due: markdownlint

Keep externally blocked changes out of the ready queue
  .cairn/changes/add-addressable-actor-runtime-profile/metadata.json
  .cairn/changes/add-chaoscontrol-consensus-conformance/metadata.json
  .cairn/changes/add-consensus-fast-path-acceleration/metadata.json
  .cairn/changes/add-linux-ebpf-observability-adapter/metadata.json
  .cairn/changes/add-live-consensus-reliability-adapter/metadata.json
Due: none

Require candidate identity before release profile approval
  .cairn/archive/2026-08-25-add-candidate-bound-release-profile-gate/design.md
  .cairn/archive/2026-08-25-add-candidate-bound-release-profile-gate/evidence/validation.md
  .cairn/archive/2026-08-25-add-candidate-bound-release-profile-gate/proposal.md
  .cairn/archive/2026-08-25-add-candidate-bound-release-profile-gate/specs/node-runtime/spec.md
  .cairn/archive/2026-08-25-add-candidate-bound-release-profile-gate/specs/operator-workflow/spec.md
  .cairn/archive/2026-08-25-add-candidate-bound-release-profile-gate/tasks.md
  .cairn/specs/node-runtime/spec.md
  .cairn/specs/operator-workflow/spec.md
  docs/production-operator-runbooks.md
  flake.nix
  src/cli/evidence/gate/command.rs
  src/cli/evidence/gate/ops.rs
  src/prod/release_profile.rs
  tests/cliharness.rs
  tests/parts/cliharness/p021/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Require reviewed source identity for profile exports
  .cairn/archive/2026-08-25-require-production-profile-candidate-input/design.md
  .cairn/archive/2026-08-25-require-production-profile-candidate-input/evidence/validation.md
  .cairn/archive/2026-08-25-require-production-profile-candidate-input/proposal.md
  .cairn/archive/2026-08-25-require-production-profile-candidate-input/specs/node-runtime/spec.md
  .cairn/archive/2026-08-25-require-production-profile-candidate-input/tasks.md
  .cairn/specs/node-runtime/spec.md
  README.md
  docs/nickel-contract-fixture-inventory.md
  docs/production-node-profile.ncl
  docs/production-operator-runbooks.md
  docs/production-profile-contracts.ncl
  docs/production-profile-fixtures/negative/mismatched-candidate-source.ncl
  docs/production-profile-fixtures/negative/placeholder-candidate-input.ncl
  docs/production-profile-fixtures/profile-template.ncl
  docs/production-profile-fixtures/valid.ncl
  flake.nix
Due: markdownlint

Prevent mixed-source release evidence
  .cairn/archive/2026-08-25-bind-release-readiness-evidence-to-candidate/design.md
  .cairn/archive/2026-08-25-bind-release-readiness-evidence-to-candidate/evidence/validation.md
  .cairn/archive/2026-08-25-bind-release-readiness-evidence-to-candidate/proposal.md
  .cairn/archive/2026-08-25-bind-release-readiness-evidence-to-candidate/specs/operator-workflow/spec.md
  .cairn/archive/2026-08-25-bind-release-readiness-evidence-to-candidate/tasks.md
  .cairn/specs/operator-workflow/spec.md
  README.md
  docs/production-operator-runbooks.md
  flake.nix
  src/cli/ops/prodsoak/command.rs
  src/cli/ops/prodsoak/parts/command/p000/body.rs
  src/cli/ops/prodsoak/readiness/operations.rs
  src/preserves/parts/rail/p000/body.rs
  src/prod/parts/readiness/p000/body.rs
  src/prod/parts/readiness/p002/body.rs
  src/prod/parts/readiness/tests/m000/p000/body.rs
  tests/cliharness.rs
  tests/parts/cliharness/p022/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep Octet freshness checks stable across JSON features
  .cairn/archive/2026-08-25-align-octet-metadata-hash/design.md
  .cairn/archive/2026-08-25-align-octet-metadata-hash/evidence/validation.md
  .cairn/archive/2026-08-25-align-octet-metadata-hash/metadata.json
  .cairn/archive/2026-08-25-align-octet-metadata-hash/proposal.md
  .cairn/archive/2026-08-25-align-octet-metadata-hash/specs/evidence-gates/spec.md
  .cairn/archive/2026-08-25-align-octet-metadata-hash/tasks.md
  .cairn/specs/evidence-gates/spec.md
  src/octet/parts/gate/p006/body.rs
  src/octet/parts/gate/p007/body.rs
  src/octet/parts/gate/tests/m000/p000/body.rs
  tests/parts/cliharness/p011/body.rs
Due: rustfmt, cargo-clippy, markdownlint

Authorize the first pilot without broad production claims
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/design.md
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/ci-test-run-receipt.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/dogfood-report.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/network-partition.receipt.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/nix-dogfood-verify.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/octet-gate-receipt.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/octet-status.json
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/octet-summary-excerpt.txt
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/pilot-decision.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/prod-soak-run.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/production-node-profile.json
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-candidate-mixed-source.stderr
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-candidate.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-evidence-bundle-verify.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-evidence.tar.zst
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-export-verify.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-profile-missing-candidate.deny.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-profile-validation.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-promotion-gate.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-promotion-gate.signed.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/release-promotion-summary.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/rust-validation.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/source-candidate.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/vm-evidence-manifest.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/vm-evidence-validation.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/artifacts/vm-test-run.preserves
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/evidence/validation.md
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/metadata.json
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/proposal.md
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/specs/operator-workflow/spec.md
  .cairn/archive/2026-08-25-freeze-molten-0-1-0-limited-pilot/tasks.md
  .cairn/specs/operator-workflow/spec.md
  README.md
  docs/releases/molten-0.1.0.md
  flake.nix
  release/fixtures/negative/mixed-source.ncl
  release/molten-0.1.0-pilot-contracts.ncl
  release/molten-0.1.0-pilot.ncl
Due: markdownlint

Resume graph distribution after shared fabric completion
  .cairn/changes/dag-sync-system-extension/metadata.json
  .cairn/changes/dag-sync-system-extension/tasks.md
Due: markdownlint

Bound graph discovery before introducing transport effects
  .cairn/changes/dag-sync-system-extension/evidence/core-verification.md
  .cairn/changes/dag-sync-system-extension/tasks.md
  crates/molten-core/src/dag_sync/mod.rs
  crates/molten-core/src/dag_sync/model.rs
  crates/molten-core/src/dag_sync/planner.rs
  crates/molten-core/src/dag_sync/tests.rs
  crates/molten-core/src/lib.rs
  src/dag_sync/mod.rs
  src/dag_sync/records.rs
  src/dag_sync/tests.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

Persist verified graph progress before reporting completion
  .cairn/changes/dag-sync-system-extension/evidence/core-verification.md
  .cairn/changes/dag-sync-system-extension/tasks.md
  crates/molten-core/src/dag_sync/model.rs
  crates/molten-core/src/dag_sync/planner.rs
  src/dag_sync/mod.rs
  src/dag_sync/ports.rs
  src/dag_sync/service.rs
  src/dag_sync/tests.rs
Due: rustfmt, cargo-clippy, markdownlint
