Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

openspec: archive encrypted-secrets-at-rest
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/.openspec.yaml
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/design.md
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/aspen-node-secrets-no-runtime-trust-test.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/aspen-node-secrets-provider-check.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/aspen-raft-secrets-quorum-test.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/aspen-raft-secrets-reencryption-membership-test.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/aspen-raft-secrets-reencryption-restart-test.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/aspen-raft-trust-helper-regressions.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/aspen-trust-key-manager-rotate-test.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/implementation.diff
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/evidence/source-survey.txt
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/proposal.md
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/specs/secrets-encryption-at-rest/spec.md
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/tasks.md
  openspec/changes/archive/2026-04-12-encrypted-secrets-at-rest/verification.md
  openspec/changes/encrypted-secrets-at-rest/evidence/implementation.diff
  openspec/changes/encrypted-secrets-at-rest/evidence/openspec-preflight.txt
  openspec/specs/secrets-encryption-at-rest/spec.md
Due: markdownlint

trust: keep secrets recovery aligned with runtime trust
  .agent/napkin.md
  AGENTS.md
  Cargo.toml
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/node/tests.rs
  crates/aspen-raft/src/secrets_at_rest.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-secrets/src/mount_registry.rs
  crates/aspen-trust/src/encryption.rs
  crates/aspen-trust/src/key_manager.rs
  src/bin/aspen_node/setup/client.rs
  src/node/mod.rs
  src/node/tests.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

trust: demand live epoch proof before clearing startup
  .agent/napkin.md
  AGENTS.md
  crates/aspen-raft/src/node/tests.rs
  crates/aspen-raft/src/node/trust.rs
  crates/aspen-trust/src/protocol.rs
  openspec/changes/archive/2026-04-12-node-expungement-protocol/evidence/aspen-cluster-bootstrap-peer-probe-test.txt
  openspec/changes/archive/2026-04-12-node-expungement-protocol/evidence/aspen-raft-peer-expungement-probe-test.txt
  openspec/changes/archive/2026-04-12-node-expungement-protocol/evidence/bash-n-openspec-preflight.txt
  openspec/changes/archive/2026-04-12-node-expungement-protocol/evidence/implementation.diff
  openspec/changes/archive/2026-04-12-node-expungement-protocol/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-12-node-expungement-protocol/evidence/source-locations.txt
  openspec/changes/archive/2026-04-12-node-expungement-protocol/verification.md
Due: rustfmt, cargo-clippy, markdownlint

openspec: drop abandoned TLA+ change
  openspec/changes/tla-plus-model-checking/.openspec.yaml
  openspec/changes/tla-plus-model-checking/design.md
  openspec/changes/tla-plus-model-checking/proposal.md
  openspec/changes/tla-plus-model-checking/specs/tla-model-checking/spec.md
  openspec/changes/tla-plus-model-checking/tasks.md
Due: markdownlint

cluster: keep injected gossip clocks from corrupting limiter state
  .agent/napkin.md
  crates/aspen-cluster/src/gossip/rate_limiter.rs
Due: rustfmt, cargo-clippy, markdownlint

cluster: harden gossip rate limiter accounting
  crates/aspen-cluster/src/gossip/rate_limiter.rs
  crates/aspen-cluster/src/verified/mod.rs
  crates/aspen-cluster/src/verified/rate_limiter.rs
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/.openspec.yaml
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/design.md
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/evidence/cargo-check-aspen-cluster.txt
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/evidence/cargo-test-rate-limiter.txt
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/evidence/implementation.diff
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/proposal.md
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/specs/gossip-rate-limiter/spec.md
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/tasks.md
  openspec/changes/archive/2026-04-12-gossip-rate-limiter-hardening/verification.md
  openspec/specs/gossip-rate-limiter/spec.md
Due: rustfmt, cargo-clippy, markdownlint

tigerstyle: add phase-1 rollout path and follow-up changes
  .agent/napkin.md
  AGENTS.md
  crates/aspen-coordination/src/lib.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-hlc/src/lib.rs
  crates/aspen-time/src/lib.rs
  dylint.toml
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/.openspec.yaml
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/proposal.md
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/specs/tigerstyle-rollout/spec.md
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/tasks.md
  openspec/changes/tigerstyle-phase-3-safety-debt-cleanup/.openspec.yaml
  openspec/changes/tigerstyle-phase-3-safety-debt-cleanup/proposal.md
  openspec/changes/tigerstyle-phase-3-safety-debt-cleanup/specs/tigerstyle-rollout/spec.md
  openspec/changes/tigerstyle-phase-3-safety-debt-cleanup/tasks.md
  scripts/tigerstyle-check.sh
Due: rustfmt, cargo-clippy, markdownlint

tigerstyle: promote coordination into default pilot
  .agent/napkin.md
  AGENTS.md
  crates/aspen-coordination/src/barrier.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/lock.rs
  crates/aspen-coordination/src/lockset.rs
  crates/aspen-coordination/src/queue/dequeue.rs
  crates/aspen-coordination/src/rate_limiter.rs
  crates/aspen-coordination/src/runtime_clock.rs
  crates/aspen-coordination/src/rwlock/acquisition.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/verified/barrier.rs
  crates/aspen-coordination/src/worker_strategies.rs
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/aspen-coordination-after.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/aspen-coordination-baseline.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/aspen-default-pilot.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/cargo-clippy-aspen-coordination.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/implementation-diff.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/openspec-preflight.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/openspec-validate.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/evidence/validation-counts.txt
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/rollout-notes.md
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/tasks.md
  openspec/changes/tigerstyle-phase-2-coordination-cleanup/verification.md
  scripts/tigerstyle-check.sh
Due: rustfmt, cargo-clippy, markdownlint

openspec: complete tigerstyle-phase-3-safety-debt-cleanup — sync specs + archive
  .agent/napkin.md
  AGENTS.md
  crates/aspen-coordination/src/counter.rs
  crates/aspen-coordination/src/election.rs
  crates/aspen-coordination/src/lib.rs
  crates/aspen-coordination/src/lockset.rs
  crates/aspen-coordination/src/queue/create_delete.rs
  crates/aspen-coordination/src/queue/dequeue.rs
  crates/aspen-coordination/src/queue/enqueue.rs
  crates/aspen-coordination/src/queue/helpers.rs
  crates/aspen-coordination/src/registry/discovery.rs
  crates/aspen-coordination/src/registry/helpers.rs
  crates/aspen-coordination/src/rwlock/acquisition.rs
  crates/aspen-coordination/src/worker_coordinator/failover.rs
  crates/aspen-coordination/src/worker_coordinator/work_stealing.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-hlc/src/lib.rs
  crates/aspen-time/src/lib.rs
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/.openspec.yaml
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/cargo-test-aspen-coordination-lib.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/git-status.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/ignored-result-after.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/ignored-result-cleanup-counts.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/ignored-result-default-pilot.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/ignored-result-remaining-rg.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/implementation-diff.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/no-unwrap-after.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/no-unwrap-default-pilot.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/no-unwrap-pilot-inventory.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/no-unwrap-raw-rg.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/evidence/openspec-validate.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/proposal.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/rollout-notes.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/specs/tigerstyle-rollout/spec.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/tasks.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-3-safety-debt-cleanup/verification.md
  openspec/changes/tigerstyle-phase-3-safety-debt-cleanup/tasks.md
  openspec/specs/tigerstyle-rollout/spec.md
  scripts/tigerstyle-check.sh
Due: rustfmt, cargo-clippy, markdownlint

coordination: deflake buffered counter flush test
  .agent/napkin.md
  crates/aspen-coordination/src/counter.rs
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive tigerstyle-phase-2-coordination-cleanup
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/.openspec.yaml
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/aspen-coordination-after.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/aspen-coordination-baseline.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/aspen-default-pilot.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/cargo-clippy-aspen-coordination.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/implementation-diff.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/openspec-validate.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/evidence/validation-counts.txt
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/proposal.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/rollout-notes.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/specs/tigerstyle-rollout/spec.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/tasks.md
  openspec/changes/archive/2026-04-13-tigerstyle-phase-2-coordination-cleanup/verification.md
  openspec/specs/tigerstyle-rollout/spec.md
Due: markdownlint

tigerstyle: isolate remaining ambient clock boundaries
  AGENTS.md
  crates/aspen-core/src/context/watch.rs
  crates/aspen-core/src/simulation.rs
  crates/aspen-time/src/lib.rs
Due: rustfmt, cargo-clippy, markdownlint

openspec: preserve Jujutsu semantics in Forge
  .agent/napkin.md
  openspec/changes/jj-native-forge-wasm-plugin/.openspec.yaml
  openspec/changes/jj-native-forge-wasm-plugin/design.md
  openspec/changes/jj-native-forge-wasm-plugin/proposal.md
  openspec/changes/jj-native-forge-wasm-plugin/specs/forge/spec.md
  openspec/changes/jj-native-forge-wasm-plugin/specs/jj-native-forge/spec.md
  openspec/changes/jj-native-forge-wasm-plugin/specs/jj-remote-aspen/spec.md
  openspec/changes/jj-native-forge-wasm-plugin/specs/plugins/spec.md
  openspec/changes/jj-native-forge-wasm-plugin/tasks.md
Due: markdownlint

tigerstyle: enable all 32 lints workspace-wide
  AGENTS.md
  Cargo.toml
  dylint.toml
  flake.lock
  flake.nix
  scripts/tigerstyle-check.sh
Due: cargo-toml-sorted, cargo-deny, markdownlint

tigerstyle: simplify cluster tui rendering
  autoresearch.jsonl
  crates/aspen-tui/src/ui/cluster.rs
Due: rustfmt, cargo-clippy

tigerstyle: clean blob cli naming
  autoresearch.jsonl
  crates/aspen-cli/src/bin/aspen-cli/commands/blob.rs
Due: rustfmt, cargo-clippy

tigerstyle: trim cli and transport warning backlog
  .agent/napkin.md
  autoresearch.jsonl
  crates/aspen-calendar/src/ical/rrule.rs
  crates/aspen-calendar/src/store.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/calendar.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/contacts.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/job.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/queue.rs
  crates/aspen-sql/src/provider.rs
  crates/aspen-testing-madsim/src/madsim_tester/liveness_ops.rs
  crates/aspen-ticket/src/signed.rs
  crates/aspen-transport/src/log_subscriber/connection.rs
  crates/aspen-transport/src/log_subscriber/handler.rs
  crates/aspen-transport/src/raft_authenticated.rs
  crates/aspen-transport/src/raft_sharded.rs
Due: rustfmt, cargo-clippy, markdownlint

tigerstyle: shrink madsim network warning cluster
  autoresearch.jsonl
  crates/aspen-testing-madsim/src/madsim_tester/fault_injection.rs
  crates/aspen-testing-madsim/src/madsim_tester/network.rs
Due: rustfmt, cargo-clippy

tigerstyle: tighten buggify fault injection helpers
  autoresearch.jsonl
  crates/aspen-testing-madsim/src/madsim_tester/fault_injection.rs
Due: rustfmt, cargo-clippy

tigerstyle: harden madsim cluster op helpers
  autoresearch.jsonl
  crates/aspen-testing-madsim/src/madsim_tester/cluster_ops.rs
Due: rustfmt, cargo-clippy

tigerstyle: harden castore response handling
  autoresearch.jsonl
  crates/aspen-castore/src/server.rs
Due: rustfmt, cargo-clippy

tigerstyle: shrink raft and handler warning backlog
  .agent/napkin.md
  autoresearch.jsonl
  crates/aspen-blob-handler/src/handler/replication.rs
  crates/aspen-core-essentials-handler/src/core.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge-handler/src/lib.rs
  crates/aspen-jobs-worker-blob/src/lib.rs
  crates/aspen-net/bin/aspen-net.rs
  crates/aspen-raft/src/iroh_write_forwarder.rs
  crates/aspen-raft/src/log_subscriber.rs
  crates/aspen-raft/src/network/client.rs
  crates/aspen-raft/src/network/factory.rs
  crates/aspen-raft/src/node/kv_store.rs
  crates/aspen-raft/src/storage/in_memory/state_machine.rs
  crates/aspen-raft/src/storage_shared/state_machine/batch.rs
  crates/aspen-raft/src/storage_shared/state_machine/cas.rs
  crates/aspen-raft/src/storage_shared/state_machine/lease_ops.rs
  crates/aspen-raft/src/storage_shared/state_machine/transaction.rs
  crates/aspen-rpc-handlers/src/client.rs
Due: rustfmt, cargo-clippy, markdownlint

tigerstyle: tighten raft pool and log storage bounds
  autoresearch.jsonl
  crates/aspen-raft/src/connection_pool/pool_management.rs
  crates/aspen-raft/src/storage_shared/log_storage.rs
Due: rustfmt, cargo-clippy

tigerstyle: tighten raft server drift handling
  autoresearch.jsonl
  crates/aspen-raft/src/clock_drift_detection.rs
  crates/aspen-raft/src/server.rs
Due: rustfmt, cargo-clippy

tigerstyle: clean raft storage validation
  autoresearch.jsonl
  crates/aspen-raft/src/storage_validation.rs
Due: rustfmt, cargo-clippy

tigerstyle: tighten redb store capacity math
  autoresearch.jsonl
  crates/aspen-raft/src/storage/redb_store.rs
Due: rustfmt, cargo-clippy

tigerstyle: tighten raft snapshot and supervisor bounds
  autoresearch.jsonl
  crates/aspen-raft/src/storage_shared/snapshot.rs
  crates/aspen-raft/src/supervisor.rs
Due: rustfmt, cargo-clippy

tigerstyle: tighten write batch sizing helpers
  autoresearch.jsonl
  crates/aspen-raft/src/write_batcher/batching.rs
Due: rustfmt, cargo-clippy

tigerstyle: clean delete state-machine responses
  autoresearch.jsonl
  crates/aspen-raft/src/storage_shared/state_machine/delete.rs
Due: rustfmt, cargo-clippy

tigerstyle: type set state-machine inputs
  autoresearch.jsonl
  crates/aspen-raft/src/storage_shared/state_machine/batch.rs
  crates/aspen-raft/src/storage_shared/state_machine/dispatch.rs
  crates/aspen-raft/src/storage_shared/state_machine/set.rs
  crates/aspen-raft/src/storage_shared/state_machine/transaction.rs
Due: rustfmt, cargo-clippy

tigerstyle: bound raft kv scan capacities
  autoresearch.jsonl
  crates/aspen-raft/src/storage_shared/kv.rs
Due: rustfmt, cargo-clippy

tigerstyle: nostr-relay, dht-discovery, testing-network cleanup
  crates/aspen-dht-discovery/src/service.rs
  crates/aspen-nostr-relay/src/connection.rs
  crates/aspen-nostr-relay/src/iroh_transport.rs
  crates/aspen-nostr-relay/src/rate_limit.rs
  crates/aspen-nostr-relay/src/relay.rs
  crates/aspen-nostr-relay/src/storage.rs
  crates/aspen-testing-network/src/fault_injection.rs
Due: rustfmt, cargo-clippy
