Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

refactor: unify ticket types - remove v1, rename v2 to AspenClusterTicket
  Cargo.lock
  crates/aspen-ci-executor-vm/src/vm/lifecycle.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/hooks.rs
  crates/aspen-client/Cargo.toml
  crates/aspen-client/src/client.rs
  crates/aspen-client/src/lib.rs
  crates/aspen-cluster-handler/src/handler/tickets.rs
  crates/aspen-cluster/src/ticket.rs
  crates/aspen-fuse/src/client.rs
  crates/aspen-ticket/src/lib.rs
  crates/aspen-ticket/src/parse.rs
  crates/aspen-ticket/src/v1.rs
  crates/aspen-ticket/src/v2.rs
  crates/aspen-ticket/verus/bootstrap_spec.rs
  crates/aspen-ticket/verus/compat_spec.rs
  crates/aspen-ticket/verus/lib.rs
  crates/aspen-ticket/verus/ticket_state_spec.rs
  crates/aspen-tui/src/iroh_client/mod.rs
  src/bin/aspen_node/setup/router.rs
  src/bin/aspen_node/worker_only.rs
  src/bin/generate_fuzz_corpus.rs
  src/bin/git-remote-aspen/main.rs
  src/bin/git-remote-aspen/url.rs
  tests/cluster_proptest.rs
  tests/gossip_e2e_integration.rs
  tests/gossip_integration_test.rs
  tests/support/real_cluster.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: Tiger Style compliance - usize->u32/u64 and error handling
  crates/aspen-cluster/src/validation.rs
  crates/aspen-cluster/src/worker_service/handlers.rs
  crates/aspen-cluster/src/worker_service/types.rs
  crates/aspen-coordination/src/verified/sequence.rs
  crates/aspen-coordination/src/worker_coordinator/load_balancing.rs
  crates/aspen-coordination/src/worker_coordinator/mod.rs
  crates/aspen-coordination/src/worker_coordinator/work_stealing.rs
  crates/aspen-coordination/src/worker_strategies.rs
  crates/aspen-forge/src/git/bridge/error.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/git/bridge/mapping.rs
  crates/aspen-forge/src/git/bridge/sha1.rs
  crates/aspen-forge/src/git/bridge/topological.rs
  crates/aspen-hooks/src/pubsub/keys.rs
  crates/aspen-jobs/src/distributed_pool.rs
  crates/aspen-pijul/src/change_store.rs
  crates/aspen-pijul/src/constants.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/node/kv_store.rs
  crates/aspen-raft/src/storage_shared/error.rs
  crates/aspen-raft/src/storage_shared/kv.rs
  crates/aspen-raft/src/storage_shared/sm_trait.rs
  crates/aspen-raft/src/storage_shared/snapshot.rs
  crates/aspen-raft/src/storage_shared/state_machine/batch.rs
  crates/aspen-raft/src/storage_shared/state_machine/delete.rs
  crates/aspen-raft/src/storage_shared/state_machine/set.rs
  crates/aspen-raft/src/supervisor.rs
  crates/aspen-raft/src/verified/heuristics.rs
  crates/aspen-raft/src/verified/scan.rs
  crates/aspen-sharding/src/automation.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy

refactor: complete handler extraction to inventory-based registration
  crates/aspen-automerge-handler/src/lib.rs
  crates/aspen-blob-handler/src/lib.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-hooks-handler/src/lib.rs
  crates/aspen-job-handler/Cargo.toml
  crates/aspen-job-handler/src/lib.rs
  crates/aspen-pijul-handler/src/lib.rs
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-handlers/src/registry.rs
  crates/aspen-secrets-handler/src/lib.rs
Due: rustfmt, cargo-clippy

test: add comprehensive test coverage to handler crates
  Cargo.lock
  crates/aspen-automerge-handler/Cargo.toml
  crates/aspen-automerge-handler/src/handler/mod.rs
  crates/aspen-automerge-handler/src/lib.rs
  crates/aspen-blob-handler/src/handler/mod.rs
  crates/aspen-blob-handler/src/lib.rs
  crates/aspen-ci-handler/src/handler/mod.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-coordination-handler/src/handler/mod.rs
  crates/aspen-coordination-handler/src/lib.rs
  crates/aspen-hooks-handler/src/lib.rs
  crates/aspen-job-handler/src/job_handler/mod.rs
  crates/aspen-job-handler/src/lib.rs
  crates/aspen-pijul-handler/Cargo.toml
  crates/aspen-pijul-handler/src/handler/mod.rs
  crates/aspen-pijul-handler/src/lib.rs
  crates/aspen-query-handler/src/dns.rs
  crates/aspen-query-handler/src/lib.rs
  crates/aspen-query-handler/src/sql.rs
  crates/aspen-rpc-core/src/handler.rs
  crates/aspen-service-registry-handler/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add WASM Component Model execution via hyperlight-wasm
  .config/nextest.toml
  Cargo.lock
  crates/aspen-constants/src/lib.rs
  crates/aspen-constants/src/wasm.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/error.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/src/vm_executor/types.rs
  crates/aspen-jobs/src/vm_executor/wasm_component.rs
  crates/aspen-jobs/src/vm_executor/wasm_host.rs
  crates/aspen-jobs/wit/aspen-plugin.wit
Due: rustfmt, cargo-clippy, cargo-deny

feat: implement full WIT host bindings for WASM guest interfaces
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/vm_executor/wasm_host.rs
Due: rustfmt, cargo-clippy

feat: wire up hyperlight-wasm sandbox execution with primitive mode host bindings
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/src/vm_executor/wasm_component.rs
  crates/aspen-jobs/src/vm_executor/wasm_host.rs
  rust-toolchain.toml
Due: rustfmt, cargo-clippy

feat: add hyperlight-nanvix support for multi-language sandbox execution
  Cargo.lock
  Cargo.toml
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/src/vm_executor/nanvix.rs
  crates/aspen-jobs/src/vm_executor/types.rs
  crates/aspen-jobs/src/vm_executor/wasm_host.rs
  crates/aspen-jobs/tests/nanvix_test.rs
  crates/aspen-jobs/tests/wasm_component_test.rs
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: implement WASM plugin system for RPC handlers
  Cargo.lock
  Cargo.toml
  crates/aspen-constants/src/lib.rs
  crates/aspen-constants/src/plugin.rs
  crates/aspen-plugin-api/Cargo.toml
  crates/aspen-plugin-api/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-plugin-api/wit/aspen-handler.wit
  crates/aspen-py/Cargo.toml
  crates/aspen-py/pyproject.toml
  crates/aspen-py/src/lib.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
  crates/aspen-service-registry-plugin/Cargo.toml
  crates/aspen-service-registry-plugin/src/handlers.rs
  crates/aspen-service-registry-plugin/src/kv.rs
  crates/aspen-service-registry-plugin/src/lib.rs
  crates/aspen-service-registry-plugin/src/types.rs
  crates/aspen-wasm-plugin/Cargo.toml
  crates/aspen-wasm-plugin/src/handler.rs
  crates/aspen-wasm-plugin/src/host.rs
  crates/aspen-wasm-plugin/src/lib.rs
  crates/aspen-wasm-plugin/src/marshal.rs
  crates/aspen-wasm-plugin/src/registry.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: wire WASM plugin bootstrap, CLI commands, and tests
  Cargo.lock
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/registry.rs
  crates/aspen-wasm-plugin/src/marshal.rs
  src/bin/aspen_node/main.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: align CLI commands with renamed API response fields
  crates/aspen-cli/src/bin/aspen-cli/commands/blob.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/cache.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/docs.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/job.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/kv.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/lease.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul/operations/blame.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul/operations/change.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul/operations/diff.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul/working_dir.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/secrets/operations.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/sql.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/verify.rs
Due: rustfmt, cargo-clippy

fix: add missing blob feature dep to pijul feature in aspen-cli
  crates/aspen-cli/Cargo.toml
Due: none

feat: add WASM guest SDK crate and echo plugin example
  Cargo.lock
  Cargo.toml
  crates/aspen-wasm-guest-sdk/Cargo.toml
  crates/aspen-wasm-guest-sdk/src/host.rs
  crates/aspen-wasm-guest-sdk/src/lib.rs
  crates/aspen-wasm-guest-sdk/src/response.rs
  examples/plugins/echo-plugin/Cargo.toml
  examples/plugins/echo-plugin/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: wire service registry plugin to WASM guest SDK
  Cargo.lock
  crates/aspen-service-registry-plugin/Cargo.toml
  crates/aspen-service-registry-plugin/src/handlers.rs
  crates/aspen-service-registry-plugin/src/kv.rs
  crates/aspen-service-registry-plugin/src/lib.rs
  crates/aspen-service-registry-plugin/src/types.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add forge WASM plugin with crypto host bindings
  Cargo.lock
  Cargo.toml
  crates/aspen-forge-plugin/Cargo.toml
  crates/aspen-forge-plugin/src/kv.rs
  crates/aspen-forge-plugin/src/lib.rs
  crates/aspen-forge-plugin/src/objects.rs
  crates/aspen-forge-plugin/src/refs.rs
  crates/aspen-forge-plugin/src/repo.rs
  crates/aspen-forge-plugin/src/signing.rs
  crates/aspen-forge-plugin/src/types.rs
  crates/aspen-wasm-guest-sdk/src/host.rs
  crates/aspen-wasm-plugin/Cargo.toml
  crates/aspen-wasm-plugin/src/host.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve pre-existing clippy warnings in node and wasm-plugin
  crates/aspen-wasm-plugin/src/registry.rs
  src/node/mod.rs
  src/node/tests.rs
Due: rustfmt, cargo-clippy

fix: apply Tiger Style to forge WASM plugin and add unit tests
  crates/aspen-forge-plugin/src/objects.rs
  crates/aspen-forge-plugin/src/refs.rs
  crates/aspen-forge-plugin/src/repo.rs
  crates/aspen-forge-plugin/src/signing.rs
  crates/aspen-forge-plugin/src/types.rs
  crates/aspen-forge/src/git/object.rs
  crates/aspen-forge/src/refs/delegate.rs
  crates/aspen-wasm-plugin/src/host.rs
Due: rustfmt, cargo-clippy

feat: switch to nightly Rust toolchain
  Cargo.toml
  rust-toolchain.toml
Due: cargo-toml-sorted, cargo-deny

fix: vendor cargo-hyperlight for nightly compatibility
  Cargo.lock
  Cargo.toml
  crates/aspen-ci/src/orchestrator/pipeline/mod.rs
  crates/aspen-cluster/src/memory_watcher.rs
  crates/aspen-coordination/src/verified/rate_limiter.rs
  crates/aspen-coordination/src/worker_coordinator/work_stealing.rs
  crates/aspen-hooks/src/metrics.rs
  crates/aspen-jobs-worker-maintenance/src/lib.rs
  crates/aspen-jobs-worker-sql/src/lib.rs
  crates/aspen-jobs/src/dlq_inspector.rs
  crates/aspen-pijul/src/store/change.rs
  vendor/cargo-hyperlight/Cargo.toml
  vendor/cargo-hyperlight/build.rs
  vendor/cargo-hyperlight/src/cargo_cmd.rs
  vendor/cargo-hyperlight/src/cli.rs
  vendor/cargo-hyperlight/src/command.rs
  vendor/cargo-hyperlight/src/dummy/_Cargo.toml
  vendor/cargo-hyperlight/src/dummy/_lib.rs
  vendor/cargo-hyperlight/src/lib.rs
  vendor/cargo-hyperlight/src/main.rs
  vendor/cargo-hyperlight/src/sysroot.rs
  vendor/cargo-hyperlight/src/toolchain.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: gate integration tests behind required features
  Cargo.toml
  tests/support/mod.rs
  tests/support/proptest_generators.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: wire up secret_key and hlc in WASM plugin loader
  crates/aspen-wasm-plugin/src/host.rs
  crates/aspen-wasm-plugin/src/registry.rs
Due: rustfmt, cargo-clippy

fix: make aspen-auth optional so WASM plugins compile for wasm32
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-api/src/messages/automerge.rs
  crates/aspen-client-api/src/messages/batch.rs
  crates/aspen-client-api/src/messages/blob.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/src/messages/cluster.rs
  crates/aspen-client-api/src/messages/coordination.rs
  crates/aspen-client-api/src/messages/dns.rs
  crates/aspen-client-api/src/messages/docs.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/forge.rs
  crates/aspen-client-api/src/messages/hooks.rs
  crates/aspen-client-api/src/messages/jobs.rs
  crates/aspen-client-api/src/messages/kv.rs
  crates/aspen-client-api/src/messages/lease.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/pijul.rs
  crates/aspen-client-api/src/messages/secrets.rs
  crates/aspen-client-api/src/messages/sql.rs
  crates/aspen-client-api/src/messages/watch.rs
  crates/aspen-forge-plugin/Cargo.toml
  crates/aspen-service-registry-plugin/Cargo.toml
  crates/aspen-wasm-guest-sdk/Cargo.toml
Due: rustfmt, cargo-clippy

feat: add plugin deploy pipeline with manifest files and nix apps
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-forge-plugin/plugin.json
  crates/aspen-forge-plugin/src/lib.rs
  crates/aspen-service-registry-plugin/plugin.json
  examples/plugins/echo-plugin/plugin.json
  flake.nix
Due: rustfmt, cargo-clippy

fix: allow term 0 at index 0 in raft log storage
  crates/aspen-raft/src/storage_shared/log_storage.rs
Due: rustfmt, cargo-clippy

test: add manifest sync tests to service-registry and echo plugins
  crates/aspen-service-registry-plugin/src/lib.rs
  examples/plugins/echo-plugin/src/lib.rs
Due: rustfmt, cargo-clippy

test: add WASM plugin integration tests for load-register-dispatch pipeline
  .config/nextest.toml
  Cargo.lock
  crates/aspen-wasm-plugin/Cargo.toml
  crates/aspen-wasm-plugin/src/lib.rs
  crates/aspen-wasm-plugin/tests/wasm_plugin_integration.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add capability-aware federation dispatch
  Cargo.lock
  crates/aspen-automerge-handler/src/lib.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/app_registry.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-federation/src/app_registry.rs
  crates/aspen-forge-handler/src/lib.rs
  crates/aspen-hooks-handler/src/lib.rs
  crates/aspen-job-handler/src/lib.rs
  crates/aspen-nix-handler/src/lib.rs
  crates/aspen-pijul-handler/src/lib.rs
  crates/aspen-query-handler/src/lib.rs
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-core/src/handler.rs
  crates/aspen-rpc-handlers/src/registry.rs
  crates/aspen-secrets-handler/src/lib.rs
  src/bin/aspen_node/setup/client.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: register WASM plugins with AppRegistry for federation
  crates/aspen-cli/src/bin/aspen-cli/commands/plugin.rs
  crates/aspen-forge-plugin/plugin.json
  crates/aspen-forge-plugin/src/lib.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-service-registry-plugin/src/lib.rs
  crates/aspen-wasm-guest-sdk/src/lib.rs
  crates/aspen-wasm-plugin/src/registry.rs
  examples/plugins/echo-plugin/src/lib.rs
Due: rustfmt, cargo-clippy

test: add app_id tests and service-registry federation
  crates/aspen-forge-plugin/src/lib.rs
  crates/aspen-rpc-handlers/src/registry.rs
  crates/aspen-service-registry-plugin/plugin.json
  crates/aspen-service-registry-plugin/src/lib.rs
  crates/aspen-wasm-plugin/src/registry.rs
  examples/plugins/echo-plugin/src/lib.rs
Due: rustfmt, cargo-clippy

refactor: consolidate hyperlight features under plugins umbrella
  Cargo.toml
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/src/workers/mod.rs
  crates/aspen-ci/tests/cloud_hypervisor_test.rs
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/tests/nanvix_test.rs
  crates/aspen-jobs/tests/vm_executor_test.rs
  crates/aspen-jobs/tests/vm_integration_test.rs
  crates/aspen-jobs/tests/wasm_component_test.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
  examples/test_vm_standalone.rs
  flake.nix
  rust-toolchain.toml
  src/bin/aspen_node/main.rs
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: resolve job retry bugs and flaky test timing issues
  .claude/CLAUDE.md
  crates/aspen-ci/tests/local_executor_integration_test.rs
  crates/aspen-jobs/src/dependency_tracker.rs
  crates/aspen-jobs/src/job.rs
  crates/aspen-jobs/src/manager/lifecycle.rs
  crates/aspen-jobs/tests/job_lifecycle.rs
Due: rustfmt, cargo-clippy, markdownlint

docs: document plugin worker selection, storage backend, and AspenFs integration
  crates/aspen-ci-executor-vm/src/vm/provisioning.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
  crates/aspen-jobs/src/vm_executor/nanvix.rs
Due: rustfmt, cargo-clippy

feat: replace workspace virtiofsd with in-process AspenVirtioFsHandler
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-executor-vm/Cargo.toml
  crates/aspen-ci-executor-vm/src/error.rs
  crates/aspen-ci-executor-vm/src/vm/cleanup.rs
  crates/aspen-ci-executor-vm/src/vm/lifecycle.rs
  crates/aspen-ci-executor-vm/src/vm/mod.rs
  crates/aspen-ci-executor-vm/src/vm/provisioning.rs
  crates/aspen-ci/Cargo.toml
  crates/aspen-fuse/src/client.rs
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/lib.rs
  crates/aspen-fuse/src/virtiofs.rs
  crates/aspen-jobs/src/vm_executor/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: document pre-connection shutdown deadlock in VirtioFsDaemonHandle
  crates/aspen-fuse/src/virtiofs.rs
Due: rustfmt, cargo-clippy

feat: add real VirtioFS daemon integration test
  Cargo.lock
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/virtiofs.rs
Due: rustfmt, cargo-clippy, cargo-deny

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
