Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

test: add tests for rpc-core, docs-handler, job-handler; fix aspen-sql build
  Cargo.lock
  crates/aspen-docs-handler/src/executor.rs
  crates/aspen-job-handler/src/executor.rs
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-core/src/proxy.rs
  crates/aspen-sql/Cargo.toml
Due: rustfmt, cargo-clippy, cargo-deny

docs: remove stale RaftActor references from aspen-raft
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/node/mod.rs
  crates/aspen-raft/src/storage/redb_store.rs
Due: rustfmt, cargo-clippy

docs: note RaftActor cleanup is complete
  AGENTS.md
Due: markdownlint

chore: replace TODO with BLOCKED/DEFERRED annotations
  crates/aspen-ci-executor-vm/src/vm/provisioning.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/index.rs
  crates/aspen-client/src/observability.rs
  crates/aspen-jobs/src/vm_executor/wasm_component.rs
  crates/aspen-jobs/src/vm_executor/wasm_host.rs
Due: rustfmt, cargo-clippy

feat: implement trusted-peers allowlist for proxy auth
  crates/aspen-proxy/src/auth.rs
  crates/aspen-proxy/src/lib.rs
Due: rustfmt, cargo-clippy

fix: git bridge batch protocol compliance and integration tests
  Cargo.lock
  crates/aspen-forge/Cargo.toml
  crates/aspen-forge/src/git/bridge/mod.rs
  crates/aspen-forge/src/git/bridge/tests.rs
  src/bin/git-remote-aspen/main.rs
  src/bin/git-remote-aspen/protocol.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add trace ingest pipeline and index create/drop/scan RPCs
  Cargo.lock
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/index.rs
  crates/aspen-client-api/src/messages/kv.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/observability.rs
  crates/aspen-client-api/src/messages/to_operation/kv_ops.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  crates/aspen-client-api/src/messages/to_operation/observability_ops.rs
  crates/aspen-client/Cargo.toml
  crates/aspen-client/src/observability.rs
  crates/aspen-constants/src/api.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-core-essentials-handler/Cargo.toml
  crates/aspen-core-essentials-handler/src/core.rs
  crates/aspen-core-essentials-handler/src/kv.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add trace query RPCs (TraceList, TraceGet, TraceSearch)
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/trace.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/observability.rs
  crates/aspen-client-api/src/messages/to_operation/observability_ops.rs
  crates/aspen-client/src/observability.rs
  crates/aspen-constants/src/api.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-core-essentials-handler/src/core.rs
Due: rustfmt, cargo-clippy

Cover observability pipeline and index RPCs with integration tests
  crates/aspen-client/src/observability.rs
  crates/aspen-core-essentials-handler/src/core.rs
  crates/aspen-core-essentials-handler/src/kv.rs
Due: rustfmt, cargo-clippy

feat: add server-side metrics ingest/query and alert rules with evaluation engine
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/alert.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/metric.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/observability.rs
  crates/aspen-client-api/src/messages/to_operation/observability_ops.rs
  crates/aspen-client/src/observability.rs
  crates/aspen-constants/src/api.rs
  crates/aspen-constants/src/assertions.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-core-essentials-handler/src/core.rs
Due: rustfmt, cargo-clippy

test: add 15 end-to-end forge git bridge tests
  crates/aspen-forge/src/git/bridge/tests.rs
Due: rustfmt, cargo-clippy

test: add git-remote-aspen protocol, writer, and batching tests
  src/bin/git-remote-aspen/main.rs
  src/bin/git-remote-aspen/protocol.rs
Due: rustfmt, cargo-clippy

fix: log warnings for unmapped SHA-1s in git bridge fetch; add URL edge case tests
  crates/aspen-forge-handler/src/handler/handlers/git_bridge.rs
  src/bin/git-remote-aspen/url.rs
Due: rustfmt, cargo-clippy

Add wire-level git push/clone/fetch integration tests over real QUIC
  tests/forge_git_wire_test.rs
Due: rustfmt, cargo-clippy

test: add git-remote-aspen VM integration tests (real git push/clone/fetch)
  crates/aspen-rpc-handlers/Cargo.toml
  flake.nix
  nix/tests/forge-cluster.nix
Due: none

test: add federation integration tests for trust, status, and KV operations
  Cargo.lock
  crates/aspen-forge-handler/Cargo.toml
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/git_bridge.rs
  crates/aspen-forge-handler/src/handler/mod.rs
  crates/aspen-forge/src/node.rs
Due: rustfmt, cargo-clippy, cargo-deny

test: add wire-level federation sync tests over real QUIC
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/tests/federation_wire_test.rs
Due: rustfmt, cargo-clippy

test: add NixOS VM federation integration test with two independent clusters
  flake.nix
  nix/tests/federation.nix
Due: none

federation: decouple from Forge so any app can federate resources safely
  crates/aspen-federation/src/lib.rs
  crates/aspen-federation/src/policy/fork_detection.rs
  crates/aspen-federation/src/policy/mod.rs
  crates/aspen-federation/src/policy/resource_policy.rs
  crates/aspen-federation/src/policy/selection.rs
  crates/aspen-federation/src/policy/verification.rs
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/types.rs
  crates/aspen-federation/src/types.rs
  crates/aspen-federation/src/verified/fork_detection.rs
  crates/aspen-federation/src/verified/mod.rs
  crates/aspen-federation/src/verified/quorum.rs
  crates/aspen-federation/tests/federation_wire_test.rs
  crates/aspen-federation/verus/fork_detection_spec.rs
  crates/aspen-federation/verus/lib.rs
  crates/aspen-federation/verus/quorum_spec.rs
  crates/aspen-rpc-handlers/src/proxy.rs
Due: rustfmt, cargo-clippy

tests+verus: prove verification works end-to-end
  crates/aspen-federation/tests/federation_wire_test.rs
  crates/aspen-federation/verus/fork_detection_spec.rs
  crates/aspen-federation/verus/lib.rs
  crates/aspen-federation/verus/quorum_spec.rs
  flake.nix
Due: rustfmt, cargo-clippy

Enforce federation policy at every layer
  crates/aspen-federation/src/policy/verification.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/orchestrator.rs
  crates/aspen-forge/src/federation.rs
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/node.rs
Due: rustfmt, cargo-clippy

deps: update snix to latest (180bfc4)
  Cargo.lock
  Cargo.toml
  crates/aspen-snix/src/directory_service.rs
  crates/aspen-snix/src/rpc_directory_service.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

add OpenSpec for spec-driven development
  .agent/workflows/opsx-apply.md
  .agent/workflows/opsx-archive.md
  .agent/workflows/opsx-explore.md
  .agent/workflows/opsx-propose.md
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .gitignore
  .markdownlint.yaml
  .pi/prompts/opsx-apply.md
  .pi/prompts/opsx-archive.md
  .pi/prompts/opsx-explore.md
  .pi/prompts/opsx-propose.md
  openspec/changes/.gitkeep
  openspec/changes/archive/.gitkeep
  openspec/specs/.gitkeep
Due: markdownlint

specs: add OpenSpec specifications for all Aspen subsystems
  openspec/specs/.gitkeep
  openspec/specs/blob/spec.md
  openspec/specs/ci/spec.md
  openspec/specs/consensus/spec.md
  openspec/specs/coordination/spec.md
  openspec/specs/core/spec.md
  openspec/specs/federation/spec.md
  openspec/specs/forge/spec.md
  openspec/specs/jobs/spec.md
  openspec/specs/plugins/spec.md
  openspec/specs/proxy/spec.md
  openspec/specs/sql/spec.md
  openspec/specs/transport/spec.md
Due: markdownlint

fix: kv set --file arg conflict and native coordination handler stealing WASM plugin requests
  crates/aspen-core-essentials-handler/src/coordination.rs
  nix/tests/kv-operations.nix
  nix/tests/multi-node-kv.nix
Due: rustfmt, cargo-clippy

fix: lock release preserves fencing token, lock renew uses CAS without bumping token
  crates/aspen-core-essentials-handler/src/coordination.rs
Due: rustfmt, cargo-clippy

test: add 259 unit tests across 8 crates for coverage gaps
  crates/aspen-blob/src/types.rs
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/output.rs
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client/src/ticket.rs
  crates/aspen-secrets/src/kv/types.rs
  crates/aspen-secrets/src/pki/types.rs
  crates/aspen-secrets/src/transit/types.rs
Due: rustfmt, cargo-clippy

jobs: fix broken ignored tests that fail to compile
  crates/aspen-jobs/tests/vm_executor_test.rs
  crates/aspen-jobs/tests/vm_integration_test.rs
Due: rustfmt, cargo-clippy

Add unit2nix per-crate build plans
  nix/build-plan-git-remote.json
  nix/build-plan-node.json
  nix/unit2nix.nix
Due: none

add unit2nix per-crate builds alongside crane
  build-plan.json
  flake.lock
  flake.nix
Due: none

switch default build from crane to unit2nix
  flake.nix
Due: none

rpc: allow WASM plugins to intercept KV operations for their namespace
  crates/aspen-rpc-core/src/handler.rs
  crates/aspen-rpc-handlers/src/registry.rs
Due: rustfmt, cargo-clippy

tests: verify iroh relay connectivity on real clusters
  .config/nextest.toml
  Cargo.toml
  src/bin/aspen_node/config.rs
  tests/relay_status_test.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

Fix clippy errors from relay-server feature gate
  Cargo.lock
  crates/aspen-cluster-types/src/lib.rs
  crates/aspen-cluster-types/src/nodes.rs
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap/node/network_init.rs
  crates/aspen-cluster/src/config/iroh_config.rs
  crates/aspen-cluster/src/config/mod.rs
  crates/aspen-cluster/src/endpoint_config.rs
  crates/aspen-cluster/src/endpoint_manager.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/relay_server.rs
  crates/aspen-raft-types/src/member.rs
  crates/aspen-raft/src/node/cluster_controller.rs
  crates/aspen-tui/src/app/mod.rs
  crates/aspen-tui/src/iroh_client/mod.rs
  src/bin/generate_fuzz_corpus.rs
  tests/gossip_integration_test.rs
Due: rustfmt, cargo-clippy, cargo-deny

cli: add token management subcommands
  AGENTS.md
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/token.rs
  openspec/changes/token-cli/.openspec.yaml
  openspec/changes/token-cli/design.md
  openspec/changes/token-cli/proposal.md
  openspec/changes/token-cli/specs/token-management/spec.md
  openspec/changes/token-cli/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

add microvm nginx smoke test: NixOS service in Cloud Hypervisor
  crate-hashes.json
  flake.nix
  nix/tests/microvm-nginx.nix
  nix/vms/nginx-demo.nix
  openspec/changes/cluster-relay-server/.openspec.yaml
  openspec/changes/cluster-relay-server/design.md
  openspec/changes/cluster-relay-server/proposal.md
  openspec/changes/cluster-relay-server/specs/relay-server/spec.md
  openspec/changes/cluster-relay-server/specs/transport/spec.md
  openspec/changes/cluster-relay-server/tasks.md
Due: markdownlint

regenerate build-plan.json for unit2nix staleness check
  build-plan.json
Due: none

microvm nginx test: serve files via VirtioFS from host
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/bin/aspen-virtiofs-test-server.rs
  crates/aspen-fuse/src/fs/mod.rs
  flake.nix
  nix/tests/microvm-nginx.nix
Due: rustfmt, cargo-clippy

microvm test: use real AspenFs VirtioFS daemon instead of virtiofsd
  flake.nix
  nix/tests/microvm-nginx.nix
Due: none

add microvm-aspen-node-test: aspen-node boots in Cloud Hypervisor
  flake.nix
  nix/tests/microvm-aspen-node.nix
Due: none
