Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

observability: OTLP span forwarding + AGENTS.md observability section
  AGENTS.md
  crates/aspen-core-essentials-handler/src/core.rs
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-core/src/lib.rs
  openspec/changes/cluster-observability/tasks.md
  src/bin/aspen_node/setup/client.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

observability: TUI metrics view with sparklines, connection health, alerts
  Cargo.lock
  crates/aspen-tui/Cargo.toml
  crates/aspen-tui/src/app/state.rs
  crates/aspen-tui/src/ui/cluster.rs
  openspec/changes/cluster-observability/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

observability: NixOS VM integration test for metrics (3-node cluster)
  flake.nix
  nix/tests/observability-metrics.nix
  openspec/changes/cluster-observability/tasks.md
Due: markdownlint

archive cluster-observability (51/51 complete)
  openspec/changes/archive/2026-04-01-cluster-observability/.openspec.yaml
  openspec/changes/archive/2026-04-01-cluster-observability/design.md
  openspec/changes/archive/2026-04-01-cluster-observability/proposal.md
  openspec/changes/archive/2026-04-01-cluster-observability/specs/core/spec.md
  openspec/changes/archive/2026-04-01-cluster-observability/specs/metrics-registry/spec.md
  openspec/changes/archive/2026-04-01-cluster-observability/specs/network-observability/spec.md
  openspec/changes/archive/2026-04-01-cluster-observability/specs/otlp-export/spec.md
  openspec/changes/archive/2026-04-01-cluster-observability/specs/rpc-instrumentation/spec.md
  openspec/changes/archive/2026-04-01-cluster-observability/specs/transport/spec.md
  openspec/changes/archive/2026-04-01-cluster-observability/specs/tui-observability/spec.md
  openspec/changes/archive/2026-04-01-cluster-observability/tasks.md
Due: markdownlint

test: integration test for git push → RefUpdate announcement
  crates/aspen-forge/tests/git_push_announce_test.rs
  openspec/changes/fix-git-push-ci-auto-trigger/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

archive fix-git-push-ci-auto-trigger (4/4 complete)
  openspec/changes/archive/2026-04-01-fix-git-push-ci-auto-trigger/.openspec.yaml
  openspec/changes/archive/2026-04-01-fix-git-push-ci-auto-trigger/design.md
  openspec/changes/archive/2026-04-01-fix-git-push-ci-auto-trigger/proposal.md
  openspec/changes/archive/2026-04-01-fix-git-push-ci-auto-trigger/specs/git-push-ci-trigger/spec.md
  openspec/changes/archive/2026-04-01-fix-git-push-ci-auto-trigger/tasks.md
  openspec/specs/git-push-ci-trigger/spec.md
Due: markdownlint

test: federation roundtrip tests (different keys, gpgsig, gitlinks)
  crates/aspen-forge/src/git/bridge/tests.rs
Due: rustfmt, cargo-clippy

fix(ci): diagnostic logging and tests for federation mirror CI trigger
  .agent/napkin.md
  Cargo.lock
  crates/aspen-ci-handler/Cargo.toml
  crates/aspen-ci-handler/src/handler/helpers.rs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-ci-handler/tests/trigger_pipeline_tree_walk.rs
  crates/aspen-ci/src/trigger/service.rs
  openspec/changes/fix-federation-mirror-ci-trigger/.openspec.yaml
  openspec/changes/fix-federation-mirror-ci-trigger/design.md
  openspec/changes/fix-federation-mirror-ci-trigger/proposal.md
  openspec/changes/fix-federation-mirror-ci-trigger/specs/federation-mirror-ci-trigger/spec.md
  openspec/changes/fix-federation-mirror-ci-trigger/tasks.md
  scripts/dogfood-federation.sh
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

fix(ci): verify dogfood-federation auto-trigger works with ci feature
  openspec/changes/fix-federation-mirror-ci-trigger/tasks.md
Due: markdownlint

chore: archive fix-federation-mirror-ci-trigger, sync specs
  openspec/changes/archive/2026-04-01-fix-federation-mirror-ci-trigger/.openspec.yaml
  openspec/changes/archive/2026-04-01-fix-federation-mirror-ci-trigger/design.md
  openspec/changes/archive/2026-04-01-fix-federation-mirror-ci-trigger/proposal.md
  openspec/changes/archive/2026-04-01-fix-federation-mirror-ci-trigger/specs/federation-mirror-ci-trigger/spec.md
  openspec/changes/archive/2026-04-01-fix-federation-mirror-ci-trigger/tasks.md
  openspec/specs/federation-mirror-ci-trigger/spec.md
Due: markdownlint

eliminate nix subprocess escapes from CI executor
  AGENTS.md
  Cargo.lock
  crates/aspen-ci-executor-nix/Cargo.toml
  crates/aspen-ci-executor-nix/src/build_service.rs
  crates/aspen-ci-executor-nix/src/cache.rs
  crates/aspen-ci-executor-nix/src/config.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/fetch.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci-executor-nix/src/upstream_cache.rs
  docs/nix-integration.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/.openspec.yaml
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/design.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/proposal.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/specs/flake-input-fetch/spec.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/specs/in-process-closure-walk/spec.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/specs/in-process-nar-export/spec.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/specs/snix-native-builds/spec.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/specs/upstream-cache-client/spec.md
  openspec/changes/archive/2026-04-01-eliminate-nix-subprocess-escapes/tasks.md
  openspec/specs/flake-input-fetch/spec.md
  openspec/specs/in-process-closure-walk/spec.md
  openspec/specs/in-process-nar-export/spec.md
  openspec/specs/upstream-cache-client/spec.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

snix VM tests: transitive deps, upstream cache bootstrap, compile fixes
  .agent/napkin.md
  Cargo.toml
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci/Cargo.toml
  flake.nix
  nix/tests/snix-pure-build-test.nix
  nix/tests/upstream-cache-bootstrap.nix
  openspec/changes/aspen-dogfood-crate/.openspec.yaml
  openspec/changes/aspen-dogfood-crate/design.md
  openspec/changes/aspen-dogfood-crate/proposal.md
  openspec/changes/aspen-dogfood-crate/specs/dogfood-cli/spec.md
  openspec/changes/aspen-dogfood-crate/specs/dogfood-orchestration/spec.md
  openspec/changes/aspen-dogfood-crate/tasks.md
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Replace dogfood shell scripts with typed Rust binary
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/aspen-dogfood/Cargo.toml
  crates/aspen-dogfood/src/ci.rs
  crates/aspen-dogfood/src/cluster.rs
  crates/aspen-dogfood/src/deploy.rs
  crates/aspen-dogfood/src/error.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/node.rs
  crates/aspen-dogfood/src/state.rs
  flake.nix
  openspec/changes/aspen-dogfood-crate/tasks.md
  scripts/deprecated/dogfood-federation.sh
  scripts/deprecated/dogfood-local-vmci.sh
  scripts/deprecated/dogfood-local.sh
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

dogfood: disable iroh relay for local testing
  crates/aspen-client/src/client.rs
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/node.rs
Due: rustfmt, cargo-clippy

wip: dogfood local networking + openspec change
  openspec/changes/fix-dogfood-local-networking/.openspec.yaml
  openspec/changes/fix-dogfood-local-networking/design.md
  openspec/changes/fix-dogfood-local-networking/proposal.md
  openspec/changes/fix-dogfood-local-networking/specs/dogfood-local-connectivity/spec.md
  openspec/changes/fix-dogfood-local-networking/tasks.md
Due: markdownlint

test: expand federation-git-clone VM test with 127-file large repo
  .agent/napkin.md
  nix/tests/federation-git-clone.nix
Due: markdownlint

fix: mirror name collision when federating multiple repos from same origin
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
Due: rustfmt, cargo-clippy

napkin: federation clone validated with 127-file large repo VM test
  .agent/napkin.md
Due: markdownlint

fix: dogfood local connectivity — bound_sockets fallback, client timing
  crates/aspen-cluster/src/endpoint_manager.rs
  crates/aspen-dogfood/src/cluster.rs
  crates/aspen-dogfood/src/main.rs
  openspec/changes/fix-dogfood-local-networking/tasks.md
  src/bin/aspen_node/main.rs
Due: rustfmt, cargo-clippy, markdownlint

napkin: dogfood local connectivity debugging lessons
  .agent/napkin.md
Due: markdownlint

fix: dogfood git push uses repo ID instead of name in aspen:// URL
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
Due: rustfmt, cargo-clippy

tasks: update fix-dogfood-local-networking progress (12/15 done)
  openspec/changes/fix-dogfood-local-networking/tasks.md
Due: markdownlint

tasks: federation pipeline verified — push + CI trigger + job completion
  openspec/changes/fix-dogfood-local-networking/tasks.md
Due: markdownlint

all tasks complete: VM test passed, federation pipeline end-to-end verified
  openspec/changes/fix-dogfood-local-networking/tasks.md
Due: markdownlint

harden snix native build: real digests, pre-build verification, concurrent fetching
  crates/aspen-ci-executor-nix/src/build_service.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/upstream_cache.rs
  openspec/changes/harden-snix-native-build/.openspec.yaml
  openspec/changes/harden-snix-native-build/design.md
  openspec/changes/harden-snix-native-build/proposal.md
  openspec/changes/harden-snix-native-build/specs/concurrent-upstream-fetch/spec.md
  openspec/changes/harden-snix-native-build/specs/native-build-input-verification/spec.md
  openspec/changes/harden-snix-native-build/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

fix: feature-gate snix imports in ci-executor-nix test code
  crates/aspen-ci-executor-nix/src/cache.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci-executor-nix/src/materialize.rs
  crates/aspen-ci-executor-nix/src/test_support.rs
  crates/aspen-ci-executor-nix/src/timing.rs
Due: rustfmt, cargo-clippy

fix: snix-native-build VM test uses in-tree path input
  nix/tests/snix-native-build.nix
Due: none

fix: remove unused 'import time' from snix-daemon VM test
  nix/tests/snix-daemon.nix
Due: none

docs: snix-eval flake gap analysis — EvalMode::Strict is the likely culprit
  docs/snix-eval-flake-gap.md
Due: markdownlint

openspec: snix-eval-lazy-mode — eliminate nix eval subprocess for flake builds
  openspec/changes/snix-eval-lazy-mode/.openspec.yaml
  openspec/changes/snix-eval-lazy-mode/design.md
  openspec/changes/snix-eval-lazy-mode/proposal.md
  openspec/changes/snix-eval-lazy-mode/specs/eval-error-chain/spec.md
  openspec/changes/snix-eval-lazy-mode/specs/lazy-flake-eval/spec.md
  openspec/changes/snix-eval-lazy-mode/tasks.md
Due: markdownlint

switch snix-eval to lazy mode for flake/npins derivation resolution
  crates/aspen-ci-executor-nix/src/eval.rs
  openspec/changes/snix-eval-lazy-mode/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

replace 'or' keyword in flake-compat with 'if ? then else'
  crates/aspen-ci-executor-nix/src/flake_compat_bundled.nix
Due: none

force rebuild: add rnix compat note to flake_compat.rs
  crates/aspen-ci-executor-nix/src/flake_compat.rs
Due: rustfmt, cargo-clippy

tasks: 14/18 complete — lazy mode + flake-compat or-patch done
  openspec/changes/snix-eval-lazy-mode/tasks.md
Due: markdownlint

openspec: unit2nix-include-str-cache-bust — fix Nix rebuild for include_str'd files
  openspec/changes/unit2nix-include-str-cache-bust/.openspec.yaml
  openspec/changes/unit2nix-include-str-cache-bust/design.md
  openspec/changes/unit2nix-include-str-cache-bust/proposal.md
  openspec/changes/unit2nix-include-str-cache-bust/specs/include-str-rebuild/spec.md
  openspec/changes/unit2nix-include-str-cache-bust/tasks.md
Due: markdownlint

add build.rs to crates with include_str! on non-Rust files
  crates/aspen-ci-executor-nix/build.rs
  crates/aspen-ci/build.rs
  crates/aspen-nickel/build.rs
  openspec/changes/unit2nix-include-str-cache-bust/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive unit2nix-include-str-cache-bust
  openspec/changes/archive/2026-04-02-unit2nix-include-str-cache-bust/.openspec.yaml
  openspec/changes/archive/2026-04-02-unit2nix-include-str-cache-bust/design.md
  openspec/changes/archive/2026-04-02-unit2nix-include-str-cache-bust/proposal.md
  openspec/changes/archive/2026-04-02-unit2nix-include-str-cache-bust/specs/include-str-rebuild/spec.md
  openspec/changes/archive/2026-04-02-unit2nix-include-str-cache-bust/tasks.md
  openspec/specs/include-str-rebuild/spec.md
Due: markdownlint

openspec: archive snix-eval-lazy-mode
  crates/aspen-ci-executor-nix/src/eval.rs
  docs/snix-eval-flake-gap.md
  nix/tests/snix-flake-native-build.nix
  openspec/changes/archive/2026-04-02-snix-eval-lazy-mode/.openspec.yaml
  openspec/changes/archive/2026-04-02-snix-eval-lazy-mode/design.md
  openspec/changes/archive/2026-04-02-snix-eval-lazy-mode/proposal.md
  openspec/changes/archive/2026-04-02-snix-eval-lazy-mode/specs/eval-error-chain/spec.md
  openspec/changes/archive/2026-04-02-snix-eval-lazy-mode/specs/lazy-flake-eval/spec.md
  openspec/changes/archive/2026-04-02-snix-eval-lazy-mode/tasks.md
  openspec/specs/eval-error-chain/spec.md
  openspec/specs/lazy-flake-eval/spec.md
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive harden-snix-native-build
  openspec/changes/archive/2026-04-03-harden-snix-native-build/.openspec.yaml
  openspec/changes/archive/2026-04-03-harden-snix-native-build/design.md
  openspec/changes/archive/2026-04-03-harden-snix-native-build/proposal.md
  openspec/changes/archive/2026-04-03-harden-snix-native-build/specs/concurrent-upstream-fetch/spec.md
  openspec/changes/archive/2026-04-03-harden-snix-native-build/specs/native-build-input-verification/spec.md
  openspec/changes/archive/2026-04-03-harden-snix-native-build/tasks.md
  openspec/specs/concurrent-upstream-fetch/spec.md
  openspec/specs/native-build-input-verification/spec.md
Due: markdownlint

openspec: tree-diff-api — expose diff engine via RPC, CLI, unified renderer, rename detection
  openspec/changes/tree-diff-api/.openspec.yaml
  openspec/changes/tree-diff-api/design.md
  openspec/changes/tree-diff-api/proposal.md
  openspec/changes/tree-diff-api/specs/diff-rpc/spec.md
  openspec/changes/tree-diff-api/tasks.md
Due: markdownlint
