Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

Add pluggable Snix chunker evaluation seam
  crates/aspen-snix/Cargo.toml
  crates/aspen-snix/benches/chunking_baseline.rs
  crates/aspen-snix/src/chunking.rs
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/.openspec.yaml
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/design.md
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/evidence/current-chunking-inventory.md
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/evidence/experimental-hashless-baseline-report.json
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/evidence/experimental-hashless-candidate.md
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/evidence/fastcdc-baseline-report.json
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/evidence/fastcdc-baseline.md
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/proposal.md
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/specs/snix-store/spec.md
  openspec/changes/archive/2026-05-08-evaluate-vectorcdc-chunking/tasks.md
  openspec/changes/evaluate-vectorcdc-chunking/tasks.md
  openspec/specs/snix-store/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Add runtime-host acceptance bundle check
  docs/runtime-host-readiness.md
  openspec/changes/add-runtime-host-acceptance-bundle-check/tasks.md
  openspec/changes/archive/2026-05-08-add-runtime-host-acceptance-bundle-check/.openspec.yaml
  openspec/changes/archive/2026-05-08-add-runtime-host-acceptance-bundle-check/design.md
  openspec/changes/archive/2026-05-08-add-runtime-host-acceptance-bundle-check/proposal.md
  openspec/changes/archive/2026-05-08-add-runtime-host-acceptance-bundle-check/specs/runtime-host-loading/spec.md
  openspec/changes/archive/2026-05-08-add-runtime-host-acceptance-bundle-check/tasks.md
  openspec/changes/archive/2026-05-08-add-runtime-host-acceptance-bundle-check/verification.md
  openspec/specs/runtime-host-loading/spec.md
  scripts/check-runtime-host-acceptance-bundle.py
  scripts/test-harness.sh
Due: markdownlint

Harden operator receipt redaction
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  crates/aspen-dogfood/src/main.rs
  docs/operator-receipts.md
  openspec/changes/archive/2026-05-08-harden-operator-receipt-redaction/.openspec.yaml
  openspec/changes/archive/2026-05-08-harden-operator-receipt-redaction/design.md
  openspec/changes/archive/2026-05-08-harden-operator-receipt-redaction/proposal.md
  openspec/changes/archive/2026-05-08-harden-operator-receipt-redaction/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-08-harden-operator-receipt-redaction/tasks.md
  openspec/changes/archive/2026-05-08-harden-operator-receipt-redaction/verification.md
  openspec/changes/harden-operator-receipt-redaction/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Format Nix sources
  nix/packages/hermit-uhyve-marker.nix
  nix/packages/uhyve.nix
  nix/vms/ci-worker-node.nix
Due: none

Fix VM provisioning doc comment lint
  crates/aspen-ci-executor-vm/src/vm/provisioning.rs
Due: rustfmt, cargo-clippy

Include doc test inputs in CI source
  flake.nix
Due: none

Capture fresh dogfood acceptance receipt
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/.openspec.yaml
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/design.md
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/evidence/README.md
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/evidence/dogfood-20260508T215019Z.receipt.redacted.json
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/evidence/receipt-diagnose-096659c97.txt
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/evidence/receipt-list-096659c97.txt
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/evidence/receipt-show-096659c97.txt
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/proposal.md
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/tasks.md
  openspec/changes/archive/2026-05-08-capture-fresh-dogfood-acceptance-receipt/verification.md
  openspec/changes/capture-fresh-dogfood-acceptance-receipt/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: markdownlint

Add quick confidence rail
  README.md
  docs/quick-confidence-rail.md
  openspec/changes/add-broader-quick-confidence-rail/tasks.md
  openspec/changes/archive/2026-05-08-add-broader-quick-confidence-rail/.openspec.yaml
  openspec/changes/archive/2026-05-08-add-broader-quick-confidence-rail/design.md
  openspec/changes/archive/2026-05-08-add-broader-quick-confidence-rail/proposal.md
  openspec/changes/archive/2026-05-08-add-broader-quick-confidence-rail/specs/test-harness-runtime/spec.md
  openspec/changes/archive/2026-05-08-add-broader-quick-confidence-rail/tasks.md
  openspec/changes/archive/2026-05-08-add-broader-quick-confidence-rail/verification.md
  openspec/specs/test-harness-runtime/spec.md
  scripts/quick-confidence.py
  scripts/test-harness.sh
  tests/quick_confidence_rail_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Harden testing harness public API boundary
  README.md
  crates/aspen-testing/src/bin/aspen-test-harness.rs
  crates/aspen-testing/src/suite_inventory.rs
  docs/quick-confidence-rail.md
  docs/testing-harness-public-api.md
  openspec/changes/archive/2026-05-08-review-testing-harness-public-api-followup/.openspec.yaml
  openspec/changes/archive/2026-05-08-review-testing-harness-public-api-followup/design.md
  openspec/changes/archive/2026-05-08-review-testing-harness-public-api-followup/proposal.md
  openspec/changes/archive/2026-05-08-review-testing-harness-public-api-followup/specs/testing-harness-extraction/spec.md
  openspec/changes/archive/2026-05-08-review-testing-harness-public-api-followup/tasks.md
  openspec/changes/archive/2026-05-08-review-testing-harness-public-api-followup/verification.md
  openspec/changes/review-testing-harness-public-api-followup/tasks.md
  openspec/specs/testing-harness-extraction/spec.md
  scripts/check-aspen-testing-public-api-boundary.py
  scripts/quick-confidence.py
  scripts/test-harness.sh
  tests/quick_confidence_rail_docs.rs
  tests/testing_harness_public_api_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Define canonical runtime service contract
  README.md
  crates/aspen-runtime-core/src/lib.rs
  docs/runtime-service-contract.md
  openspec/changes/archive/2026-05-08-define-canonical-runtime-service-contract/.openspec.yaml
  openspec/changes/archive/2026-05-08-define-canonical-runtime-service-contract/design.md
  openspec/changes/archive/2026-05-08-define-canonical-runtime-service-contract/proposal.md
  openspec/changes/archive/2026-05-08-define-canonical-runtime-service-contract/specs/runtime-service-core/spec.md
  openspec/changes/archive/2026-05-08-define-canonical-runtime-service-contract/tasks.md
  openspec/changes/archive/2026-05-08-define-canonical-runtime-service-contract/verification.md
  openspec/changes/define-canonical-runtime-service-contract/tasks.md
  openspec/specs/runtime-service-core/spec.md
  tests/runtime_service_contract_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Stabilize multi-node leader failover
  crates/aspen-raft/src/node/mod.rs
  tests/multi_node_cluster_test.rs
Due: rustfmt, cargo-clippy

Handle Cloud Hypervisor boot race
  crates/aspen-ci-executor-vm/src/vm/lifecycle.rs
Due: rustfmt, cargo-clippy

Fix harness docs tests in Nix nextest
  flake.nix
  scripts/test-harness.sh
  tests/quick_confidence_rail_docs.rs
  tests/testing_harness_public_api_docs.rs
Due: rustfmt, cargo-clippy

Add Verus service name validation proof
  crates/aspen-net/verus/lib.rs
  crates/aspen-net/verus/service_name_spec.rs
Due: rustfmt, cargo-clippy

Add Verus CI timeout resource proofs
  crates/aspen-ci-core/verus/lib.rs
  crates/aspen-ci-core/verus/resource_spec.rs
  crates/aspen-ci-core/verus/timeout_spec.rs
Due: rustfmt, cargo-clippy

Add Verus VM snapshot admission proofs
  crates/aspen-ci-executor-vm/verus/lib.rs
  crates/aspen-ci-executor-vm/verus/snapshot_spec.rs
Due: rustfmt, cargo-clippy

Add Verus RPC handler admission proofs
  crates/aspen-rpc-handlers/verus/lib.rs
  crates/aspen-rpc-handlers/verus/timeout_spec.rs
  crates/aspen-rpc-handlers/verus/validation_spec.rs
Due: rustfmt, cargo-clippy

Add Verus redb KV operation proofs
  crates/aspen-redb-storage/verus/kv_spec.rs
  crates/aspen-redb-storage/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus redb integrity structural proofs
  crates/aspen-redb-storage/verus/integrity_spec.rs
  crates/aspen-redb-storage/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus CI pipeline validation proofs
  crates/aspen-ci-core/verus/lib.rs
  crates/aspen-ci-core/verus/pipeline_spec.rs
Due: rustfmt, cargo-clippy

Add Verus raft network framing proofs
  crates/aspen-raft-network/verus/framing_spec.rs
  crates/aspen-raft-network/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus raft network heuristic proofs
  crates/aspen-raft-network/verus/heuristics_spec.rs
  crates/aspen-raft-network/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus CI topological order proofs
  crates/aspen-ci-core/verus/pipeline_spec.rs
Due: rustfmt, cargo-clippy

Add Verus jobs retry delay proofs
  crates/aspen-jobs/verus/lib.rs
  crates/aspen-jobs/verus/pressure_spec.rs
  crates/aspen-jobs/verus/retry_delay_spec.rs
  crates/aspen-jobs/verus/saga_spec.rs
Due: rustfmt, cargo-clippy

Add Verus cluster rate limiter proofs
  crates/aspen-cluster/verus/lib.rs
  crates/aspen-cluster/verus/rate_limiter_spec.rs
Due: rustfmt, cargo-clippy

Add Verus federation quorum admission proofs
  crates/aspen-federation/verus/quorum_spec.rs
Due: rustfmt, cargo-clippy

Add Verus coordination queue delivery proofs
  crates/aspen-coordination/verus/lib.rs
  crates/aspen-coordination/verus/queue_delivery_helpers_spec.rs
Due: rustfmt, cargo-clippy

Add Verus coordination queue visibility proofs
  crates/aspen-coordination/verus/lib.rs
  crates/aspen-coordination/verus/queue_visibility_expiration_spec.rs
Due: rustfmt, cargo-clippy

Add Verus federation gossip classifier proofs
  crates/aspen-federation/verus/gossip_message_spec.rs
  crates/aspen-federation/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus federation sync wire framing proofs
  crates/aspen-federation/verus/lib.rs
  crates/aspen-federation/verus/sync_wire_spec.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr HTTP classifier proofs
  crates/aspen-nostr-relay/verus/http_request_spec.rs
  crates/aspen-nostr-relay/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr rate limit proofs
  crates/aspen-nostr-relay/verus/lib.rs
  crates/aspen-nostr-relay/verus/rate_limit_spec.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr filter range proofs
  crates/aspen-nostr-relay/verus/filter_spec.rs
  crates/aspen-nostr-relay/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr Iroh frame proofs
  crates/aspen-nostr-relay/verus/iroh_frame_spec.rs
  crates/aspen-nostr-relay/verus/lib.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr subscription admission proofs
  crates/aspen-nostr-relay/verus/lib.rs
  crates/aspen-nostr-relay/verus/subscription_spec.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr auth policy proofs
  crates/aspen-nostr-relay/verus/auth_policy_spec.rs
  crates/aspen-nostr-relay/verus/lib.rs
  crates/aspen-nostr-relay/verus/subscription_spec.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr storage count proofs
  crates/aspen-nostr-relay/verus/lib.rs
  crates/aspen-nostr-relay/verus/storage_spec.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr NIP-11 policy proofs
  crates/aspen-nostr-relay/verus/lib.rs
  crates/aspen-nostr-relay/verus/nip11_info_spec.rs
Due: rustfmt, cargo-clippy

Add Verus Nostr connection admission proofs
  crates/aspen-nostr-relay/verus/connection_message_spec.rs
  crates/aspen-nostr-relay/verus/lib.rs
Due: rustfmt, cargo-clippy
