Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

wire federation into node lifecycle: bootstrap, ALPN registration, RouterBuilder
  crates/aspen-cluster/src/bootstrap/mod.rs
  crates/aspen-cluster/src/bootstrap/node/federation_init.rs
  crates/aspen-cluster/src/bootstrap/node/mod.rs
  crates/aspen-cluster/src/bootstrap/resources.rs
  crates/aspen-cluster/src/router_builder.rs
  openspec/changes/wire-federation-integration/.openspec.yaml
  openspec/changes/wire-federation-integration/design.md
  openspec/changes/wire-federation-integration/proposal.md
  openspec/changes/wire-federation-integration/specs/federation-bootstrap/spec.md
  openspec/changes/wire-federation-integration/specs/federation/spec.md
  openspec/changes/wire-federation-integration/tasks.md
  src/node/mod.rs
Due: rustfmt, cargo-clippy, markdownlint

add ForgeResourceResolver: reads forge refs from KV for federation sync
  crates/aspen-forge/src/lib.rs
  crates/aspen-forge/src/resolver.rs
  openspec/changes/wire-federation-integration/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

wire ForgeResourceResolver into bootstrap, add NixOS federation options
  crates/aspen-cluster/src/bootstrap/node/federation_init.rs
  nix/modules/aspen-node.nix
  src/node/mod.rs
Due: rustfmt, cargo-clippy

expand NixOS federation test: enable federation, verify handler starts
  nix/tests/federation.nix
  openspec/changes/wire-federation-integration/tasks.md
Due: markdownlint

mark all 26 tasks complete
  openspec/changes/wire-federation-integration/tasks.md
Due: markdownlint

archive wire-federation-integration, sync 2 specs to main
  openspec/changes/archive/2026-03-26-wire-federation-integration/.openspec.yaml
  openspec/changes/archive/2026-03-26-wire-federation-integration/design.md
  openspec/changes/archive/2026-03-26-wire-federation-integration/proposal.md
  openspec/changes/archive/2026-03-26-wire-federation-integration/specs/federation-bootstrap/spec.md
  openspec/changes/archive/2026-03-26-wire-federation-integration/specs/federation/spec.md
  openspec/changes/archive/2026-03-26-wire-federation-integration/tasks.md
  openspec/specs/federation-bootstrap/spec.md
  openspec/specs/federation/spec.md
Due: markdownlint

propose federation-cross-cluster-sync: CLI sync command + NixOS e2e test
  openspec/changes/federation-cross-cluster-sync/.openspec.yaml
  openspec/changes/federation-cross-cluster-sync/design.md
  openspec/changes/federation-cross-cluster-sync/proposal.md
  openspec/changes/federation-cross-cluster-sync/specs/federation-bootstrap/spec.md
  openspec/changes/federation-cross-cluster-sync/specs/federation-sync-cli/spec.md
  openspec/changes/federation-cross-cluster-sync/tasks.md
Due: markdownlint

add federation sync CLI command and RPC plumbing
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/lib.rs
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-core/src/context.rs
  src/bin/aspen_node/setup/client.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy

expand NixOS test with cross-cluster sync attempt, mark all 12 tasks complete
  nix/tests/federation.nix
  openspec/changes/federation-cross-cluster-sync/tasks.md
Due: markdownlint

archive federation-cross-cluster-sync, sync 2 specs to main
  openspec/changes/archive/2026-03-26-federation-cross-cluster-sync/.openspec.yaml
  openspec/changes/archive/2026-03-26-federation-cross-cluster-sync/design.md
  openspec/changes/archive/2026-03-26-federation-cross-cluster-sync/proposal.md
  openspec/changes/archive/2026-03-26-federation-cross-cluster-sync/specs/federation-bootstrap/spec.md
  openspec/changes/archive/2026-03-26-federation-cross-cluster-sync/specs/federation-sync-cli/spec.md
  openspec/changes/archive/2026-03-26-federation-cross-cluster-sync/tasks.md
  openspec/specs/federation-bootstrap/spec.md
  openspec/specs/federation-sync-cli/spec.md
Due: markdownlint

example-clan: switch to 3 GMK mini PCs with disko for clean installs
  example-clan/README.md
  example-clan/clan.nix
  example-clan/disko.nix
  example-clan/flake.lock
  example-clan/flake.nix
  example-clan/machines/aspen1/configuration.nix
  example-clan/machines/aspen1/hardware-configuration.nix
  example-clan/machines/aspen2/configuration.nix
  example-clan/machines/aspen2/hardware-configuration.nix
  example-clan/machines/gmk1/configuration.nix
  example-clan/machines/gmk1/hardware-configuration.nix
  example-clan/machines/gmk2/configuration.nix
  example-clan/machines/gmk2/hardware-configuration.nix
  example-clan/machines/gmk3/configuration.nix
  example-clan/machines/gmk3/hardware-configuration.nix
Due: markdownlint

Add ignore reasons to all bare #[ignore] tests, fix feature docs, extend network profile
  .config/nextest.toml
  crates/aspen-castore/tests/nar_test.rs
  crates/aspen-castore/tests/wire_test.rs
  crates/aspen-federation/tests/federation_auth_cluster_test.rs
  crates/aspen-federation/tests/federation_wire_test.rs
  tests/forge_git_wire_test.rs
  tests/fuse_raft_cluster_test.rs
  tests/hooks_integration_test.rs
  tests/secrets_integration_test.rs
Due: rustfmt, cargo-clippy

expose iroh_node_id in health response, fix NixOS federation handshake test
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-cli/src/bin/aspen-cli/output.rs
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/cluster.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-cluster-handler/tests/deploy_rpc_integration.rs
  crates/aspen-core-essentials-handler/src/core.rs
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  flake.nix
  nix/tests/federation.nix
  openspec/changes/federation-handshake-e2e/.openspec.yaml
  openspec/changes/federation-handshake-e2e/design.md
  openspec/changes/federation-handshake-e2e/proposal.md
  openspec/changes/federation-handshake-e2e/specs/federation-node-id-exposure/spec.md
  openspec/changes/federation-handshake-e2e/tasks.md
  src/bin/aspen_node/setup/client.rs
  src/bin/aspen_node/setup/router.rs
  src/node/mod.rs
  tests/protocol_handlers_test.rs
  tests/rpc_serialization_test.rs
Due: rustfmt, cargo-clippy, markdownlint

archive federation-handshake-e2e, sync 1 spec to main
  openspec/changes/archive/2026-03-26-federation-handshake-e2e/.openspec.yaml
  openspec/changes/archive/2026-03-26-federation-handshake-e2e/design.md
  openspec/changes/archive/2026-03-26-federation-handshake-e2e/proposal.md
  openspec/changes/archive/2026-03-26-federation-handshake-e2e/specs/federation-node-id-exposure/spec.md
  openspec/changes/archive/2026-03-26-federation-handshake-e2e/tasks.md
  openspec/specs/federation-node-id-exposure/spec.md
Due: markdownlint

federation data sync: wire federate command, fetch ref state, store in KV
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-federation/src/resolver.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/node.rs
  crates/aspen-forge/src/resolver.rs
  nix/tests/federation.nix
  openspec/changes/federation-data-sync/.openspec.yaml
  openspec/changes/federation-data-sync/design.md
  openspec/changes/federation-data-sync/proposal.md
  openspec/changes/federation-data-sync/specs/federation-ref-sync/spec.md
  openspec/changes/federation-data-sync/specs/federation-repo-federating/spec.md
  openspec/changes/federation-data-sync/tasks.md
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy, markdownlint

archive federation-data-sync, sync 2 specs to main
  openspec/changes/archive/2026-03-26-federation-data-sync/.openspec.yaml
  openspec/changes/archive/2026-03-26-federation-data-sync/design.md
  openspec/changes/archive/2026-03-26-federation-data-sync/proposal.md
  openspec/changes/archive/2026-03-26-federation-data-sync/specs/federation-ref-sync/spec.md
  openspec/changes/archive/2026-03-26-federation-data-sync/specs/federation-repo-federating/spec.md
  openspec/changes/archive/2026-03-26-federation-data-sync/tasks.md
  openspec/changes/federation-data-sync/tasks.md
  openspec/specs/federation-ref-sync/spec.md
  openspec/specs/federation-repo-federating/spec.md
Due: markdownlint

archive federation-ref-pull, sync 2 specs to main
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/types.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/node.rs
  crates/aspen-forge/src/resolver.rs
  flake.nix
  nix/tests/federation-ref-fetch.nix
  openspec/changes/archive/2026-03-26-federation-ref-pull/.openspec.yaml
  openspec/changes/archive/2026-03-26-federation-ref-pull/design.md
  openspec/changes/archive/2026-03-26-federation-ref-pull/proposal.md
  openspec/changes/archive/2026-03-26-federation-ref-pull/specs/federation-ref-fetch/spec.md
  openspec/changes/archive/2026-03-26-federation-ref-pull/specs/federation-sync-cli/spec.md
  openspec/changes/archive/2026-03-26-federation-ref-pull/tasks.md
  openspec/specs/federation-ref-fetch/spec.md
Due: rustfmt, cargo-clippy, markdownlint

federation blob transfer: serve git objects via sync protocol, create mirror repos
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/git_bridge.rs
  crates/aspen-forge-handler/src/handler/mod.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/mod.rs
  crates/aspen-forge/src/resolver.rs
  openspec/changes/federation-blob-transfer/.openspec.yaml
  openspec/changes/federation-blob-transfer/design.md
  openspec/changes/federation-blob-transfer/proposal.md
  openspec/changes/federation-blob-transfer/specs/federation-mirror-repo/spec.md
  openspec/changes/federation-blob-transfer/specs/federation-pack-transfer/spec.md
  openspec/changes/federation-blob-transfer/specs/federation-ref-fetch/spec.md
  openspec/changes/federation-blob-transfer/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

federation blob transfer: integration tests, fix blob-store hash alignment
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/resolver.rs
  openspec/changes/federation-blob-transfer/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

federation blob transfer: NixOS VM test for two-cluster fetch with git objects
  flake.nix
  nix/tests/federation-blob-transfer.nix
  openspec/changes/federation-blob-transfer/tasks.md
Due: markdownlint

archive federation-blob-transfer, sync 3 specs to main
  openspec/changes/archive/2026-03-26-federation-blob-transfer/.openspec.yaml
  openspec/changes/archive/2026-03-26-federation-blob-transfer/design.md
  openspec/changes/archive/2026-03-26-federation-blob-transfer/proposal.md
  openspec/changes/archive/2026-03-26-federation-blob-transfer/specs/federation-mirror-repo/spec.md
  openspec/changes/archive/2026-03-26-federation-blob-transfer/specs/federation-pack-transfer/spec.md
  openspec/changes/archive/2026-03-26-federation-blob-transfer/specs/federation-ref-fetch/spec.md
  openspec/changes/archive/2026-03-26-federation-blob-transfer/tasks.md
  openspec/specs/federation-mirror-repo/spec.md
  openspec/specs/federation-pack-transfer/spec.md
  openspec/specs/federation-ref-fetch/spec.md
Due: markdownlint

federated git clone: end-to-end across two independent clusters
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge-handler/src/handler/handlers/mod.rs
  crates/aspen-forge/src/git/bridge/constants.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/git/bridge/mapping.rs
  crates/aspen-forge/src/resolver.rs
  flake.nix
  nix/tests/federation-git-clone.nix
  openspec/changes/archive/2026-03-27-federated-git-clone/.openspec.yaml
  openspec/changes/archive/2026-03-27-federated-git-clone/design.md
  openspec/changes/archive/2026-03-27-federated-git-clone/proposal.md
  openspec/changes/archive/2026-03-27-federated-git-clone/specs/federated-git-clone/spec.md
  openspec/changes/archive/2026-03-27-federated-git-clone/tasks.md
  openspec/changes/archive/2026-03-27-federation-blob-export-fix/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-blob-export-fix/design.md
  openspec/changes/archive/2026-03-27-federation-blob-export-fix/proposal.md
  openspec/changes/archive/2026-03-27-federation-blob-export-fix/specs/federation-blob-export-fix/spec.md
  openspec/changes/archive/2026-03-27-federation-blob-export-fix/tasks.md
  openspec/changes/archive/2026-03-27-wire-git-exporter-federation/.openspec.yaml
  openspec/changes/archive/2026-03-27-wire-git-exporter-federation/design.md
  openspec/changes/archive/2026-03-27-wire-git-exporter-federation/proposal.md
  openspec/changes/archive/2026-03-27-wire-git-exporter-federation/specs/wire-git-exporter-federation/spec.md
  openspec/changes/archive/2026-03-27-wire-git-exporter-federation/tasks.md
  openspec/specs/federated-git-clone/spec.md
  openspec/specs/federation-blob-export-fix/spec.md
  openspec/specs/wire-git-exporter-federation/spec.md
  src/bin/git-remote-aspen/main.rs
  src/bin/git-remote-aspen/url.rs
Due: rustfmt, cargo-clippy, markdownlint

propose federation-clone-polish: incremental dedup, multi-branch refs, clean logging
  openspec/changes/federation-clone-polish/.openspec.yaml
  openspec/changes/federation-clone-polish/design.md
  openspec/changes/federation-clone-polish/proposal.md
  openspec/changes/federation-clone-polish/specs/federation-clone-polish/spec.md
  openspec/changes/federation-clone-polish/tasks.md
Due: markdownlint

federation: fix incremental sync dedup, multi-branch ref translation, noisy logging
  Cargo.lock
  crates/aspen-federation/src/sync/types.rs
  crates/aspen-forge-handler/Cargo.toml
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/resolver.rs
  openspec/changes/federation-clone-polish/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

archive federation-clone-polish, sync spec to main
  openspec/changes/archive/2026-03-27-federation-clone-polish/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-clone-polish/design.md
  openspec/changes/archive/2026-03-27-federation-clone-polish/proposal.md
  openspec/changes/archive/2026-03-27-federation-clone-polish/specs/federation-clone-polish/spec.md
  openspec/changes/archive/2026-03-27-federation-clone-polish/tasks.md
  openspec/specs/federation-clone-polish/spec.md
Due: markdownlint

propose federation-push: push refs and git objects to remote clusters
  openspec/changes/federation-push/.openspec.yaml
  openspec/changes/federation-push/design.md
  openspec/changes/federation-push/proposal.md
  openspec/changes/federation-push/specs/federation-push/spec.md
  openspec/changes/federation-push/tasks.md
Due: markdownlint

federation push: wire protocol, handler, client, RPC, CLI, tests
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-federation/src/resolver.rs
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/types.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/resolver.rs
  openspec/changes/federation-push/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

archive federation-push, sync spec to main
  openspec/changes/archive/2026-03-27-federation-push/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-push/design.md
  openspec/changes/archive/2026-03-27-federation-push/proposal.md
  openspec/changes/archive/2026-03-27-federation-push/specs/federation-push/spec.md
  openspec/changes/archive/2026-03-27-federation-push/tasks.md
  openspec/specs/federation-push/spec.md
Due: markdownlint

federation pull: cold pull from remote cluster, incremental sync, mirror metadata
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-federation/tests/federation_wire_test.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  openspec/changes/archive/2026-03-27-federation-pull/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-pull/design.md
  openspec/changes/archive/2026-03-27-federation-pull/proposal.md
  openspec/changes/archive/2026-03-27-federation-pull/specs/federation-pull/spec.md
  openspec/changes/archive/2026-03-27-federation-pull/tasks.md
  openspec/specs/federation-pull/spec.md
Due: rustfmt, cargo-clippy, markdownlint

federation bidi sync: compare refs, pull and push in one connection
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-client-api/src/messages/federation.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-federation/src/lib.rs
  crates/aspen-federation/src/verified/mod.rs
  crates/aspen-federation/src/verified/ref_diff.rs
  crates/aspen-federation/tests/federation_wire_test.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/mod.rs
  openspec/changes/archive/2026-03-27-federation-sync/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-sync/design.md
  openspec/changes/archive/2026-03-27-federation-sync/proposal.md
  openspec/changes/archive/2026-03-27-federation-sync/specs/federation-bidi-sync/spec.md
  openspec/changes/archive/2026-03-27-federation-sync/tasks.md
  openspec/specs/federation-bidi-sync/spec.md
Due: rustfmt, cargo-clippy, markdownlint

federation auth tokens: capability-scoped credentials for push/pull sync
  Cargo.lock
  crates/aspen-auth/src/capability.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/federation.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/token.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-federation/Cargo.toml
  crates/aspen-federation/src/lib.rs
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-federation/src/sync/handler.rs
  crates/aspen-federation/src/sync/orchestrator.rs
  crates/aspen-federation/src/token_store.rs
  crates/aspen-federation/tests/federation_auth_test.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  openspec/changes/federation-auth-tokens/.openspec.yaml
  openspec/changes/federation-auth-tokens/design.md
  openspec/changes/federation-auth-tokens/proposal.md
  openspec/changes/federation-auth-tokens/specs/federation-auth-enforcement/spec.md
  openspec/changes/federation-auth-tokens/specs/federation-credential/spec.md
  openspec/changes/federation-auth-tokens/specs/federation-push/spec.md
  openspec/changes/federation-auth-tokens/specs/federation-token-lifecycle/spec.md
  openspec/changes/federation-auth-tokens/tasks.md
  src/bin/aspen-token.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

archive federation-auth-tokens, sync specs to main
  openspec/changes/archive/2026-03-27-federation-auth-tokens/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-auth-tokens/design.md
  openspec/changes/archive/2026-03-27-federation-auth-tokens/proposal.md
  openspec/changes/archive/2026-03-27-federation-auth-tokens/specs/federation-auth-enforcement/spec.md
  openspec/changes/archive/2026-03-27-federation-auth-tokens/specs/federation-credential/spec.md
  openspec/changes/archive/2026-03-27-federation-auth-tokens/specs/federation-push/spec.md
  openspec/changes/archive/2026-03-27-federation-auth-tokens/specs/federation-token-lifecycle/spec.md
  openspec/changes/archive/2026-03-27-federation-auth-tokens/tasks.md
  openspec/specs/federation-auth-enforcement/spec.md
  openspec/specs/federation-credential/spec.md
  openspec/specs/federation-push/spec.md
  openspec/specs/federation-token-lifecycle/spec.md
Due: markdownlint

federation dogfood + test coverage: verus ref_diff spec, policy tests, two-cluster CI VM test
  crates/aspen-federation/src/policy/resource_policy.rs
  crates/aspen-federation/src/policy/selection.rs
  crates/aspen-federation/src/policy/verification.rs
  crates/aspen-federation/tests/README.md
  crates/aspen-federation/verus/lib.rs
  crates/aspen-federation/verus/ref_diff_spec.rs
  flake.nix
  nix/tests/federation-ci-dogfood.nix
  openspec/changes/federation-dogfood-and-test-coverage/.openspec.yaml
  openspec/changes/federation-dogfood-and-test-coverage/design.md
  openspec/changes/federation-dogfood-and-test-coverage/proposal.md
  openspec/changes/federation-dogfood-and-test-coverage/specs/federation-ci-dogfood/spec.md
  openspec/changes/federation-dogfood-and-test-coverage/specs/federation-policy-tests/spec.md
  openspec/changes/federation-dogfood-and-test-coverage/specs/federation-ref-diff-verified/spec.md
  openspec/changes/federation-dogfood-and-test-coverage/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

archive federation-dogfood-and-test-coverage, sync specs to main
  openspec/changes/archive/2026-03-27-federation-dogfood-and-test-coverage/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-dogfood-and-test-coverage/design.md
  openspec/changes/archive/2026-03-27-federation-dogfood-and-test-coverage/proposal.md
  openspec/changes/archive/2026-03-27-federation-dogfood-and-test-coverage/specs/federation-ci-dogfood/spec.md
  openspec/changes/archive/2026-03-27-federation-dogfood-and-test-coverage/specs/federation-policy-tests/spec.md
  openspec/changes/archive/2026-03-27-federation-dogfood-and-test-coverage/specs/federation-ref-diff-verified/spec.md
  openspec/changes/archive/2026-03-27-federation-dogfood-and-test-coverage/tasks.md
  openspec/specs/federation-ci-dogfood/spec.md
  openspec/specs/federation-policy-tests/spec.md
  openspec/specs/federation-ref-diff-verified/spec.md
Due: markdownlint

federation dogfood e2e: two-cluster script, serial VM, federation feature on ci-snix-build
  flake.nix
  nix/vms/serial-dogfood-federation.nix
  openspec/changes/federation-dogfood-e2e/.openspec.yaml
  openspec/changes/federation-dogfood-e2e/design.md
  openspec/changes/federation-dogfood-e2e/proposal.md
  openspec/changes/federation-dogfood-e2e/specs/federated-dogfood-script/spec.md
  openspec/changes/federation-dogfood-e2e/specs/federated-dogfood-vm/spec.md
  openspec/changes/federation-dogfood-e2e/tasks.md
  scripts/dogfood-federation.sh
Due: markdownlint

federation dogfood: fix key mismatch, direct push to bob, add federation to ci-snix-build
  .agent/napkin.md
  nix/vms/serial-dogfood-federation.nix
  openspec/changes/federation-dogfood-e2e/tasks.md
  scripts/dogfood-federation.sh
Due: markdownlint

archive federation-dogfood-e2e, sync specs to main
  openspec/changes/archive/2026-03-27-federation-dogfood-e2e/.openspec.yaml
  openspec/changes/archive/2026-03-27-federation-dogfood-e2e/design.md
  openspec/changes/archive/2026-03-27-federation-dogfood-e2e/proposal.md
  openspec/changes/archive/2026-03-27-federation-dogfood-e2e/specs/federated-dogfood-script/spec.md
  openspec/changes/archive/2026-03-27-federation-dogfood-e2e/specs/federated-dogfood-vm/spec.md
  openspec/changes/archive/2026-03-27-federation-dogfood-e2e/tasks.md
  openspec/specs/federated-dogfood-script/spec.md
  openspec/specs/federated-dogfood-vm/spec.md
Due: markdownlint

federated clone: fix silent empty repo by topologically sorting federation imports
  .agent/napkin.md
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/git/bridge/tests.rs
  openspec/changes/federated-clone-object-fetch/.openspec.yaml
  openspec/changes/federated-clone-object-fetch/design.md
  openspec/changes/federated-clone-object-fetch/proposal.md
  openspec/changes/federated-clone-object-fetch/specs/federation-git-import/spec.md
  openspec/changes/federated-clone-object-fetch/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

archive federated-clone-object-fetch, sync specs to main
  openspec/changes/archive/2026-03-27-federated-clone-object-fetch/.openspec.yaml
  openspec/changes/archive/2026-03-27-federated-clone-object-fetch/design.md
  openspec/changes/archive/2026-03-27-federated-clone-object-fetch/proposal.md
  openspec/changes/archive/2026-03-27-federated-clone-object-fetch/specs/federation-git-import/spec.md
  openspec/changes/archive/2026-03-27-federated-clone-object-fetch/tasks.md
  openspec/specs/federation-git-import/spec.md
Due: markdownlint

federation-triggered-ci: gossip emission from federation sync, auto-watch mirrors, opt-in CI gating
  crates/aspen-ci/src/orchestrator/deploy_monitor.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/src/trigger/service.rs
  crates/aspen-ci/tests/local_executor_integration_test.rs
  crates/aspen-cluster/src/config/ci.rs
  crates/aspen-cluster/src/config/mod.rs
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge/src/node.rs
  openspec/changes/federation-triggered-ci/.openspec.yaml
  openspec/changes/federation-triggered-ci/design.md
  openspec/changes/federation-triggered-ci/proposal.md
  openspec/changes/federation-triggered-ci/specs/federation-ci-trigger/spec.md
  openspec/changes/federation-triggered-ci/specs/forge-ci-trigger/spec.md
  openspec/changes/federation-triggered-ci/tasks.md
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy, markdownlint
