Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

Add TUI integration and cleanup to dogfood script
  scripts/dogfood.sh
Due: none

feat(tui): add real-time CI log streaming
  crates/aspen-ci/src/error.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/log_writer.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-rpc-handlers/src/handlers/ci.rs
  crates/aspen-tui/Cargo.toml
  crates/aspen-tui/src/app.rs
  crates/aspen-tui/src/client_trait.rs
  crates/aspen-tui/src/commands.rs
  crates/aspen-tui/src/iroh_client.rs
  crates/aspen-tui/src/types.rs
  crates/aspen-tui/src/ui.rs
Due: rustfmt, cargo-clippy

fix(dogfood): prevent disk exhaustion cluster failures
  scripts/dogfood.sh
Due: none

fix(dogfood): improve cluster reliability and TUI launch
  scripts/dogfood.sh
Due: none

Apply nightly rustfmt formatting
  Cargo.lock
  crates/aspen-ci/src/lib.rs
  crates/aspen-tui/src/iroh_client.rs
  crates/aspen-tui/src/ui.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix(ci): use Nix sandboxed builds to prevent disk exhaustion
  .aspen/ci.ncl
  scripts/dogfood.sh
Due: none

fix(ci): simplify to single nix build stage
  .aspen/ci.ncl
Due: none

fix(ci): disable sandbox for nix build temporarily
  .aspen/ci.ncl
Due: none

fix(deps): add git sources to Cargo.lock for snix packages
  Cargo.lock
Due: cargo-deny

improve(ci): enhance error handling and observability
  Cargo.lock
  crates/aspen-ci/src/adapters.rs
  crates/aspen-ci/src/checkout.rs
  crates/aspen-ci/src/error.rs
  crates/aspen-ci/src/orchestrator/pipeline.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat(ci): add resource isolation and build worker tests
  crates/aspen-ci/tests/cgroup_isolation_test.rs
  crates/aspen-ci/tests/nix_build_integration_test.rs
Due: rustfmt, cargo-clippy

feat(dogfood): add Cloud Hypervisor VM isolation
  .gitignore
  flake.lock
  flake.nix
  nix/modules/aspen-node.nix
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
Due: none

fix(tests): update VM executor tests for blob-first API
  crates/aspen-jobs/tests/vm_executor_test.rs
  crates/aspen-jobs/tests/vm_integration_test.rs
Due: rustfmt, cargo-clippy

feat(security): harden CI MicroVM isolation
  crates/aspen-ci/src/workers/resource_limiter.rs
  crates/aspen-ci/tests/cgroup_isolation_test.rs
  crates/aspen-constants/src/lib.rs
  nix/vms/dogfood-node.nix
Due: rustfmt, cargo-clippy

fix(vm): enable Cloud Hypervisor microVM builds
  flake.nix
  nix/modules/aspen-node.nix
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
Due: none

fix(vm): resolve dogfood-vm startup issues
  flake.nix
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
Due: none

fix(vm): resolve nix flake build failures from socket files
  .gitignore
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
Due: none

feat(vm): add comprehensive debugging for dogfood-vm
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
  scripts/lib/network-diagnostics.sh
Due: none

fix(vm): resolve TAP permission error and reduce sudo requirements
  .gitignore
  flake.nix
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
Due: none

fix(vm): resolve dogfood VM startup failures
  nix/modules/aspen-node.nix
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
Due: none

fix(vm): enable traditional eth0 interface naming
  nix/vms/dogfood-node.nix
Due: none

fix(vm): enable cluster ticket extraction from serial logs
  nix/modules/aspen-node.nix
  scripts/dogfood-vm.sh
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

feat: add V2 tickets with direct addresses for relay-less connectivity
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cluster/src/ticket.rs
  crates/aspen-ticket/src/lib.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

fix: resolve dogfood VM cluster initialization failures
  crates/aspen-ci/tests/nix_build_integration_test.rs
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-ticket/src/lib.rs
  nix/modules/aspen-node.nix
  scripts/dogfood-vm.sh
  scripts/lib/cluster-common.sh
  src/bin/aspen-node.rs
  tests/gossip_integration_test.rs
Due: rustfmt, cargo-clippy

fix: support V2 tickets in git-remote-aspen URL parser
  scripts/dogfood-vm.sh
  src/bin/git-remote-aspen/main.rs
  src/bin/git-remote-aspen/url.rs
Due: rustfmt, cargo-clippy

perf: pre-build aspen-node package for faster VM builds
  scripts/dogfood-vm.sh
Due: none

fix: add missing CYAN color variable to dogfood-vm.sh
  scripts/dogfood-vm.sh
Due: none

fix: strip ANSI codes when extracting cluster ticket from serial log
  scripts/dogfood-vm.sh
Due: none

feat: enhance git-remote-aspen for relay-less V2 tickets
  flake.nix
  nix/vms/dogfood-node.nix
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy

fix: enable CI builds in dogfood VMs
  nix/modules/aspen-node.nix
  nix/vms/dogfood-node.nix
  scripts/dogfood-vm.sh
Due: none

feat: add HTTP-to-Iroh proxy for Nix binary cache
  Cargo.lock
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/workers/cache_proxy.rs
  crates/aspen-ci/src/workers/mod.rs
  crates/aspen-ci/src/workers/nix_build.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: add Ed25519 signing key management for Nix cache
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/secrets.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-nix-cache-gateway/src/endpoints/narinfo.rs
  crates/aspen-nix-cache-gateway/src/handler.rs
  crates/aspen-nix-cache-gateway/src/lib.rs
  crates/aspen-nix-cache-gateway/src/signing.rs
  crates/aspen-nix-cache-gateway/src/streaming.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/secrets.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: add public key distribution via Raft KV for Nix cache
  crates/aspen-rpc-handlers/src/handlers/secrets.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

test: add comprehensive Nix cache signing key lifecycle tests
  crates/aspen-rpc-handlers/tests/unit_nix_cache_signing.rs
Due: rustfmt, cargo-clippy

feat: enable automatic Nix cache substitution for CI builds
  crates/aspen-ci/src/workers/nix_build.rs
  crates/aspen-ci/tests/cache_substituter_test.rs
  crates/aspen-cluster/src/config.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

feat: add Cloud Hypervisor CI worker implementation
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-agent/Cargo.toml
  crates/aspen-ci-agent/src/error.rs
  crates/aspen-ci-agent/src/executor.rs
  crates/aspen-ci-agent/src/lib.rs
  crates/aspen-ci-agent/src/main.rs
  crates/aspen-ci-agent/src/protocol.rs
  crates/aspen-ci-agent/src/vsock_server.rs
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/api_client.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/config.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/error.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/mod.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/pool.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/vm.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/worker.rs
  crates/aspen-ci/src/workers/mod.rs
  crates/aspen-constants/src/lib.rs
  flake.nix
  nix/vms/ci-worker-node.nix
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

enhance: Cloud Hypervisor CI worker capabilities
  Cargo.lock
  crates/aspen-ci-agent/src/error.rs
  crates/aspen-ci-agent/src/executor.rs
  crates/aspen-ci-agent/src/lib.rs
  crates/aspen-ci-agent/src/main.rs
  crates/aspen-ci-agent/src/protocol.rs
  crates/aspen-ci-agent/src/vsock_server.rs
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/workers/cloud_hypervisor/api_client.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/artifacts.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/error.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/mod.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/pool.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/vm.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/worker.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/workspace.rs
  crates/aspen-ci/tests/cloud_hypervisor_test.rs
Due: rustfmt, cargo-clippy, cargo-deny

feat: complete Cloud Hypervisor CI worker integration
  crates/aspen-ci-agent/src/error.rs
  crates/aspen-ci-agent/src/executor.rs
  crates/aspen-ci-agent/src/protocol.rs
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/artifacts.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/error.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/mod.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/pool.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/worker.rs
  src/bin/aspen-node.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
