Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

update napkin: nix executor and self-hosting pipeline lessons
  .agent/napkin.md
Due: markdownlint

add dogfood VM test: push Aspen's own source to Forge and run CI
  flake.nix
  nix/tests/ci-dogfood.nix
Due: none

dogfood: compile aspen-constants through self-hosted CI
  flake.nix
  nix/tests/ci-dogfood.nix
Due: none

fix: nix build aspen-node via unit2nix
  .agent/napkin.md
  build-plan.json
  flake.nix
Due: markdownlint

self-hosting: build aspen-cli via unit2nix
  build-plan-cli.json
  flake.nix
Due: none

self-hosting: build git-remote-aspen via unit2nix
  build-plan-git-remote.json
  build-plan.json
  flake.nix
Due: none

self-hosting: use GitHub-sourced unit2nix for portable builds
  flake.lock
  flake.nix
Due: none

dogfood: 3-stage pipeline — validate, build (2 crates parallel), test
  nix/tests/ci-dogfood.nix
Due: none

cleanup: revert unit2nix test targets (dev-deps need per-crate plans)
  flake.nix
Due: none

update napkin: unit2nix build system and self-hosting status
  .agent/napkin.md
Due: markdownlint

self-hosting: add per-crate clippy via unit2nix, add to CI pipeline
  .aspen/ci.ncl
  flake.nix
Due: none

update CI pipeline docs to reflect unit2nix build system
  .aspen/ci.ncl
Due: none

enable nix checks in CI without requiring external repos
  .agent/napkin.md
  .aspen/ci.ncl
  .config/nextest.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/calendar.rs
  crates/aspen-jobs-worker-blob/src/lib.rs
  crates/aspen-jobs-worker-replication/src/lib.rs
  crates/aspen-jobs-worker-sql/src/lib.rs
  flake.nix
Due: rustfmt, cargo-clippy, markdownlint

enable self-hosted building without WASM plugins
  .agent/napkin.md
  .gitignore
  build-plan-cli.json
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/mod.rs
  crates/aspen-forge/src/git/bridge/constants.rs
  crates/aspen-forge/src/node.rs
  scripts/dogfood-local.sh
  tests/rpc_serialization_test.rs
Due: rustfmt, cargo-clippy, markdownlint

dogfood: fix three silent failures in dogfood pipeline script
  scripts/dogfood-local.sh
Due: none

dogfood: stream build progress and verify CI-built binary
  .aspen/ci.ncl
  scripts/dogfood-local.sh
Due: none

dogfood: stream build logs and fix large blob download
  crates/aspen-ci-executor-nix/src/config.rs
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci-executor-nix/src/payload.rs
  crates/aspen-ci-executor-nix/src/worker.rs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-ci/src/adapters.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/src/orchestrator/pipeline/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  crates/aspen-testing/src/ci_pipeline_tester.rs
  scripts/dogfood-local.sh
  src/bin/aspen_node/setup/client.rs
Due: rustfmt, cargo-clippy

Fix CI log streaming producing no output during builds
  .agent/napkin.md
  crates/aspen-ci-executor-nix/src/worker.rs
  crates/aspen-ci-handler/src/handler/logs.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
Due: rustfmt, cargo-clippy, markdownlint

dogfood: run CI builds inside Cloud Hypervisor VMs
  flake.nix
  scripts/dogfood-local-vmci.sh
Due: none

fix VM CI: route ci_nix_build jobs to VMs, fix dogfood verification
  scripts/dogfood-local-vmci.sh
  src/bin/aspen_node/args.rs
  src/bin/aspen_node/setup/client.rs
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy

fix VM CI log streaming: transform nix payloads and write logs via RPC
  .agent/napkin.md
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy, markdownlint

job-handler: enable VM CI workers to poll and complete jobs via RPC
  crates/aspen-ci-executor-shell/src/local_executor/execution.rs
  crates/aspen-ci-executor-shell/src/local_executor/mod.rs
  crates/aspen-job-handler/src/executor.rs
  crates/aspen-job-handler/src/lib.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy

queue: filter excluded job types at dequeue scan, not post-claim
  crates/aspen-coordination/src/queue/dequeue.rs
  crates/aspen-jobs/src/manager/lifecycle.rs
Due: rustfmt, cargo-clippy

dogfood: handle log lines containing braces in JSON parser
  scripts/dogfood-local-vmci.sh
  scripts/dogfood-local.sh
Due: none

dogfood: fix remaining inline Python JSON parsers with same brace bug
  scripts/dogfood-local-vmci.sh
  scripts/dogfood-local.sh
Due: none

ci: rewrite host working_dir for VM worker execution
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy

jobs: prevent ack_job panic on empty execution_token
  crates/aspen-job-handler/src/executor.rs
Due: rustfmt, cargo-clippy

fix(jobs): call mark_started for VM worker poll jobs
  crates/aspen-job-handler/src/executor.rs
Due: rustfmt, cargo-clippy

fix(ci): pass source_hash through NixBuildPayload for VM workspace seeding
  crates/aspen-ci-executor-nix/src/lib.rs
  crates/aspen-ci-executor-nix/src/payload.rs
  crates/aspen-ci/src/orchestrator/pipeline/executor.rs
  crates/aspen-ci/tests/nix_build_integration_test.rs
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy

fix(ci): disable permission preservation in workspace tar extraction
  crates/aspen-ci-executor-shell/src/common.rs
Due: rustfmt, cargo-clippy

fix(ci): extract tar entries individually, skip target/ and failures
  crates/aspen-ci-executor-shell/src/common.rs
Due: rustfmt, cargo-clippy

fix(ci): skip .git directory during VM workspace tar extraction
  crates/aspen-ci-executor-shell/src/common.rs
Due: rustfmt, cargo-clippy

fix(ci): filter source archive to exclude .git, target/, build-plan*.json
  Cargo.lock
  crates/aspen-ci-executor-shell/Cargo.toml
  crates/aspen-ci-executor-shell/src/common.rs
Due: rustfmt, cargo-clippy, cargo-deny

chore: regenerate build-plan JSON files after walkdir dep addition
  build-plan-cli.json
  build-plan-git-remote.json
  build-plan.json
Due: none

fix: restore aspen-cli features in build-plan-cli.json
  build-plan-cli.json
Due: none

fix(ci): copy VM workspace from virtiofs to tmpfs for nix compatibility
  crates/aspen-ci-executor-shell/src/local_executor/workspace.rs
Due: rustfmt, cargo-clippy

fix(ci): allow tmpfs workspace path in working directory validation
  crates/aspen-ci-executor-shell/src/agent/executor.rs
Due: rustfmt, cargo-clippy

fix(ci): also allow tmpfs workspace in aspen-ci executor validation
  crates/aspen-ci/src/agent/executor/validation.rs
Due: rustfmt, cargo-clippy

fix(ci): use tmpfs workspace dir in VM instead of virtiofs
  nix/vms/ci-worker-node.nix
Due: none

fix(ci): remove --offline flag from VM nix builds
  crates/aspen-ci-executor-shell/src/local_executor/nix.rs
Due: rustfmt, cargo-clippy
