Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

feat: reduce Verus drift in aspen-coordination
  crates/aspen-coordination/src/verified/fencing.rs
  crates/aspen-coordination/src/verified/lock.rs
  crates/aspen-coordination/src/verified/mod.rs
  crates/aspen-coordination/src/verified/queue.rs
  crates/aspen-coordination/src/verified/rate_limiter.rs
  crates/aspen-coordination/src/verified/registry.rs
  crates/aspen-coordination/src/verified/rwlock.rs
  crates/aspen-coordination/src/verified/semaphore.rs
  crates/aspen-coordination/src/verified/sequence.rs
Due: rustfmt, cargo-clippy

Add Raft server integration tests for lifecycle and limits
  crates/aspen-raft/src/server.rs
  tests/raft_server_integration_test.rs
Due: rustfmt, cargo-clippy

feat: implement wave-based parallel git import
  crates/aspen-forge/src/git/bridge/importer.rs
  crates/aspen-forge/src/git/bridge/mod.rs
  crates/aspen-forge/src/git/bridge/topological.rs
Due: rustfmt, cargo-clippy

Add comprehensive unit tests for aspen-raft modules
  crates/aspen-raft/src/integrity.rs
  crates/aspen-raft/src/madsim_network.rs
Due: rustfmt, cargo-clippy

refactor: modularize bootstrap.rs in aspen-cluster
  crates/aspen-cluster/src/bootstrap/mod.rs
  crates/aspen-cluster/src/bootstrap/node.rs
  crates/aspen-cluster/src/bootstrap/resources.rs
  crates/aspen-cluster/src/bootstrap/traits.rs
Due: rustfmt, cargo-clippy

refactor: extract aspen-forge-handler and aspen-rpc-core crates
  Cargo.lock
  Cargo.toml
  crates/aspen-forge-handler/Cargo.toml
  crates/aspen-forge-handler/src/handler.rs
  crates/aspen-forge-handler/src/lib.rs
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-core/src/handler.rs
  crates/aspen-rpc-core/src/lib.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/handlers/secrets.rs
  crates/aspen-rpc-handlers/src/lib.rs
  crates/aspen-rpc-handlers/src/registry.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: extract aspen-secrets-handler crate
  Cargo.lock
  Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-secrets-handler/Cargo.toml
  crates/aspen-secrets-handler/src/handler.rs
  crates/aspen-secrets-handler/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: extract aspen-coordination-handler crate
  Cargo.lock
  Cargo.toml
  crates/aspen-coordination-handler/Cargo.toml
  crates/aspen-coordination-handler/src/handler.rs
  crates/aspen-coordination-handler/src/lib.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: extract aspen-blob-handler and aspen-ci-handler crates
  Cargo.lock
  Cargo.toml
  crates/aspen-blob-handler/Cargo.toml
  crates/aspen-blob-handler/src/handler.rs
  crates/aspen-blob-handler/src/lib.rs
  crates/aspen-ci-handler/Cargo.toml
  crates/aspen-ci-handler/src/handler.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: extract aspen-redb-storage crate
  Cargo.lock
  Cargo.toml
  crates/aspen-raft/Cargo.toml
  crates/aspen-redb-storage/Cargo.toml
  crates/aspen-redb-storage/src/lib.rs
  crates/aspen-redb-storage/src/verified/heuristics.rs
  crates/aspen-redb-storage/src/verified/integrity.rs
  crates/aspen-redb-storage/src/verified/kv.rs
  crates/aspen-redb-storage/src/verified/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

docs: add handler architecture specification
  crates/aspen-rpc-handlers/src/handlers/ARCHITECTURE.md
Due: markdownlint

refactor: extract remaining handlers to separate crates
  Cargo.lock
  Cargo.toml
  crates/aspen-automerge-handler/Cargo.toml
  crates/aspen-automerge-handler/src/handler.rs
  crates/aspen-automerge-handler/src/lib.rs
  crates/aspen-cache-handler/Cargo.toml
  crates/aspen-cache-handler/src/cache_handler.rs
  crates/aspen-cache-handler/src/lib.rs
  crates/aspen-cache-handler/src/migration_handler.rs
  crates/aspen-dns-handler/Cargo.toml
  crates/aspen-dns-handler/src/handler.rs
  crates/aspen-dns-handler/src/lib.rs
  crates/aspen-hooks-handler/Cargo.toml
  crates/aspen-hooks-handler/src/handler.rs
  crates/aspen-hooks-handler/src/lib.rs
  crates/aspen-job-handler/Cargo.toml
  crates/aspen-job-handler/src/job_handler.rs
  crates/aspen-job-handler/src/lib.rs
  crates/aspen-job-handler/src/worker_handler.rs
  crates/aspen-pijul-handler/Cargo.toml
  crates/aspen-pijul-handler/src/handler.rs
  crates/aspen-pijul-handler/src/lib.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/handlers/sql.rs
  crates/aspen-snix-handler/Cargo.toml
  crates/aspen-snix-handler/src/handler.rs
  crates/aspen-snix-handler/src/lib.rs
  crates/aspen-sql-handler/Cargo.toml
  crates/aspen-sql-handler/src/handler.rs
  crates/aspen-sql-handler/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: implement minimal default features
  .pre-commit-config.yaml
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-handlers/Cargo.toml
  flake.nix
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: add global-discovery to forge/CI presets
  Cargo.toml
Due: cargo-toml-sorted, cargo-deny

feat: make SNIX and hooks handlers optional
  Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: make jobs and docs handlers optional
  Cargo.toml
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/cluster.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
  src/lib.rs
  src/node/mod.rs
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

fix: add missing dependencies to CI and hooks features
  Cargo.toml
  crates/aspen-blob-handler/Cargo.toml
  crates/aspen-forge-handler/Cargo.toml
  src/protocol_adapters.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: split aspen-hooks into types and runtime crates
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/hooks.rs
  crates/aspen-hooks-handler/Cargo.toml
  crates/aspen-hooks-types/Cargo.toml
  crates/aspen-hooks-types/src/config.rs
  crates/aspen-hooks-types/src/constants.rs
  crates/aspen-hooks-types/src/error.rs
  crates/aspen-hooks-types/src/event.rs
  crates/aspen-hooks-types/src/lib.rs
  crates/aspen-hooks-types/src/ticket.rs
  crates/aspen-hooks/Cargo.toml
  crates/aspen-hooks/src/error.rs
  crates/aspen-hooks/src/lib.rs
  crates/aspen-raft/Cargo.toml
  crates/aspen-rpc-core/Cargo.toml
  crates/aspen-rpc-core/src/context.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/registry.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: make aspen-cluster dependencies optional
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap/node.rs
  crates/aspen-cluster/src/bootstrap/resources.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/lib.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: make blob and nickel dependencies optional
  Cargo.toml
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/config/mod.rs
  crates/aspen-ci/src/config/schema.rs
  crates/aspen-ci/src/error.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/trigger/mod.rs
  src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: optimize build dependencies with optional features
  Cargo.toml
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-ci/src/workers/local_executor.rs
  crates/aspen-ci/src/workers/mod.rs
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/workers/mod.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-secrets-handler/Cargo.toml
  crates/aspen-testing/Cargo.toml
  crates/aspen-testing/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: optimize default features in handler crates
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-handler/Cargo.toml
  crates/aspen-ci-handler/src/handler.rs
  crates/aspen-ci/Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/worker_service.rs
  crates/aspen-forge-handler/Cargo.toml
  crates/aspen-forge-handler/src/handler.rs
  crates/aspen-testing/Cargo.toml
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: gate madsim dependencies behind simulation feature
  Cargo.toml
Due: cargo-toml-sorted, cargo-deny

Remove unused dependencies from aspen-rpc-handlers
  Cargo.lock
  crates/aspen-rpc-handlers/Cargo.toml
Due: cargo-deny

feat: optimize build dependencies
  Cargo.lock
  crates/aspen-cluster/Cargo.toml
  crates/aspen-jobs/Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
Due: cargo-deny

Remove unused aspen-snix dependency from aspen-ci
  Cargo.lock
  crates/aspen-ci/Cargo.toml
Due: cargo-deny

feat: add ci-basic feature without heavy deps
  Cargo.toml
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/workers/local_executor.rs
  crates/aspen-ci/src/workers/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: gate HTTP deps behind cloud-hypervisor feature
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/adapters.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/config.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/mod.rs
  crates/aspen-ci/src/workers/cloud_hypervisor/worker.rs
  crates/aspen-ci/src/workers/common.rs
  crates/aspen-ci/src/workers/local_executor.rs
  crates/aspen-ci/src/workers/mod.rs
  crates/aspen-ci/src/workers/payload.rs
  crates/aspen-ci/tests/cache_substituter_test.rs
  crates/aspen-ci/tests/cgroup_isolation_test.rs
  crates/aspen-ci/tests/cloud_hypervisor_test.rs
  crates/aspen-ci/tests/local_executor_integration_test.rs
  crates/aspen-ci/tests/nix_build_integration_test.rs
Due: rustfmt, cargo-clippy

feat: feature-gate iroh-blobs behind blob feature flag
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/config.rs
  crates/aspen-cluster/src/gossip/discovery.rs
  crates/aspen-cluster/src/gossip/mod.rs
  crates/aspen-cluster/src/gossip/types.rs
  crates/aspen-cluster/src/gossip_discovery.rs
  crates/aspen-cluster/src/lib.rs
  src/node/mod.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

feat: add required-features gates for madsim tests
  Cargo.lock
  Cargo.toml
  crates/aspen-jobs/Cargo.toml
Due: cargo-toml-sorted, cargo-deny

refactor: extract aspen-constants and aspen-hlc crates
  Cargo.lock
  Cargo.toml
  crates/aspen-constants/Cargo.toml
  crates/aspen-constants/src/api.rs
  crates/aspen-constants/src/ci.rs
  crates/aspen-constants/src/coordination.rs
  crates/aspen-constants/src/directory.rs
  crates/aspen-constants/src/lib.rs
  crates/aspen-constants/src/network.rs
  crates/aspen-constants/src/raft.rs
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/constants/mod.rs
  crates/aspen-core/src/hlc.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-hlc/Cargo.toml
  crates/aspen-hlc/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: update aspen-coordination and aspen-testing to use extracted crates directly
  Cargo.lock
  crates/aspen-coordination/Cargo.toml
  crates/aspen-coordination/src/barrier.rs
  crates/aspen-coordination/src/counter.rs
  crates/aspen-coordination/src/election.rs
  crates/aspen-coordination/src/error.rs
  crates/aspen-coordination/src/lock.rs
  crates/aspen-coordination/src/queue.rs
  crates/aspen-coordination/src/rate_limiter.rs
  crates/aspen-coordination/src/registry.rs
  crates/aspen-coordination/src/rwlock.rs
  crates/aspen-coordination/src/semaphore.rs
  crates/aspen-coordination/src/sequence.rs
  crates/aspen-coordination/src/worker_coordinator.rs
  crates/aspen-testing/Cargo.toml
  crates/aspen-testing/src/deterministic.rs
Due: rustfmt, cargo-clippy, cargo-deny

refactor: update aspen-raft and aspen-jobs to use extracted crates directly
  Cargo.lock
  crates/aspen-jobs/Cargo.toml
  crates/aspen-jobs/src/distributed_pool.rs
  crates/aspen-jobs/src/dlq_inspector.rs
  crates/aspen-jobs/src/durable_timer.rs
  crates/aspen-jobs/src/event_store.rs
  crates/aspen-jobs/src/manager.rs
  crates/aspen-jobs/src/progress.rs
  crates/aspen-jobs/src/replay.rs
  crates/aspen-jobs/src/saga.rs
  crates/aspen-jobs/src/scheduler.rs
  crates/aspen-jobs/src/workers/maintenance.rs
  crates/aspen-jobs/src/workers/replication.rs
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/conversions.rs
  crates/aspen-raft/src/learner_promotion.rs
  crates/aspen-raft/src/lib.rs
  crates/aspen-raft/src/log_subscriber.rs
  crates/aspen-raft/src/node.rs
  crates/aspen-raft/src/server.rs
  crates/aspen-raft/src/storage.rs
  crates/aspen-raft/src/storage_shared.rs
  crates/aspen-raft/src/write_batcher.rs
Due: rustfmt, cargo-clippy, cargo-deny

refactor: extract aspen-layer from aspen-core
  Cargo.lock
  Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/layer/allocator.rs
  crates/aspen-core/src/layer/directory.rs
  crates/aspen-core/src/layer/mod.rs
  crates/aspen-layer/Cargo.toml
  crates/aspen-layer/src/index.rs
  crates/aspen-layer/src/lib.rs
  crates/aspen-layer/src/proptest.rs
  crates/aspen-layer/src/subspace.rs
  crates/aspen-layer/src/tuple.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: extract aspen-time, aspen-disk, aspen-storage-types, aspen-vault, aspen-crypto-types from aspen-core
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/config.rs
  crates/aspen-coordination/Cargo.toml
  crates/aspen-coordination/src/types.rs
  crates/aspen-core/Cargo.toml
  crates/aspen-core/src/crypto.rs
  crates/aspen-core/src/storage.rs
  crates/aspen-core/src/utils.rs
  crates/aspen-core/src/vault.rs
  crates/aspen-crypto-types/Cargo.toml
  crates/aspen-crypto-types/src/lib.rs
  crates/aspen-disk/Cargo.toml
  crates/aspen-disk/src/lib.rs
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/clock_drift_detection.rs
  crates/aspen-raft/src/storage_shared.rs
  crates/aspen-sql/Cargo.toml
  crates/aspen-storage-types/Cargo.toml
  crates/aspen-storage-types/src/lib.rs
  crates/aspen-time/Cargo.toml
  crates/aspen-time/src/lib.rs
  crates/aspen-vault/Cargo.toml
  crates/aspen-vault/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny

refactor: split aspen-coordination queue.rs into module directory
  crates/aspen-coordination/src/queue/mod.rs
  crates/aspen-coordination/src/queue/types.rs
Due: rustfmt, cargo-clippy

refactor: convert aspen-raft storage_shared.rs to module directory
  crates/aspen-raft/src/storage_shared/mod.rs
Due: rustfmt, cargo-clippy

refactor: convert aspen-cluster bootstrap/node.rs to module directory
  crates/aspen-cluster/src/bootstrap/node/mod.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
