Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

archive verified delivery semantics to unblock actor profiles
  .cairn/archive/1970-01-01-coordination-delivery-system-extension/design.md
  .cairn/archive/1970-01-01-coordination-delivery-system-extension/evidence/portfolio-search.md
  .cairn/archive/1970-01-01-coordination-delivery-system-extension/evidence/verification.md
  .cairn/archive/1970-01-01-coordination-delivery-system-extension/metadata.json
  .cairn/archive/1970-01-01-coordination-delivery-system-extension/proposal.md
  .cairn/archive/1970-01-01-coordination-delivery-system-extension/specs/coordination/spec.md
  .cairn/archive/1970-01-01-coordination-delivery-system-extension/tasks.md
  .cairn/changes/coordination-delivery-system-extension/tasks.md
Due: markdownlint

archive bounded actor evidence to unblock successor profiles
  .cairn/archive/1970-01-01-add-addressable-actor-runtime-profile/design.md
  .cairn/archive/1970-01-01-add-addressable-actor-runtime-profile/evidence/portfolio-search.md
  .cairn/archive/1970-01-01-add-addressable-actor-runtime-profile/evidence/verification.md
  .cairn/archive/1970-01-01-add-addressable-actor-runtime-profile/metadata.json
  .cairn/archive/1970-01-01-add-addressable-actor-runtime-profile/proposal.md
  .cairn/archive/1970-01-01-add-addressable-actor-runtime-profile/specs/addressable-actor-runtime/spec.md
  .cairn/archive/1970-01-01-add-addressable-actor-runtime-profile/tasks.md
  .cairn/changes/add-addressable-actor-runtime-profile/tasks.md
Due: markdownlint

bind simulation and storage recovery to independent observations
  .cairn/changes/add-chaoscontrol-consensus-conformance/design.md
  .cairn/changes/add-chaoscontrol-consensus-conformance/proposal.md
  .cairn/changes/add-chaoscontrol-consensus-conformance/specs/testing-harness/spec.md
  .cairn/changes/add-chaoscontrol-consensus-conformance/tasks.md
  .cairn/changes/add-protocol-aware-simulation-oracles/design.md
  .cairn/changes/add-protocol-aware-simulation-oracles/metadata.json
  .cairn/changes/add-protocol-aware-simulation-oracles/proposal.md
  .cairn/changes/add-protocol-aware-simulation-oracles/specs/fabric-simulation/spec.md
  .cairn/changes/add-protocol-aware-simulation-oracles/tasks.md
  .cairn/changes/recover-from-storage-faults/design.md
  .cairn/changes/recover-from-storage-faults/proposal.md
  .cairn/changes/recover-from-storage-faults/specs/consensus/spec.md
  .cairn/changes/recover-from-storage-faults/specs/durable-state-ports/spec.md
  .cairn/changes/recover-from-storage-faults/tasks.md
Due: markdownlint

author Wasm import-admission plan so components keep a declared, zero-ambient import surface
  .cairn/changes/declare-wasm-component-import-admission/design.md
  .cairn/changes/declare-wasm-component-import-admission/metadata.json
  .cairn/changes/declare-wasm-component-import-admission/proposal.md
  .cairn/changes/declare-wasm-component-import-admission/specs/wasm-import-admission/spec.md
  .cairn/changes/declare-wasm-component-import-admission/tasks.md
Due: markdownlint

separate view distribution from UI authority
  .cairn/changes/add-shareable-view-distribution-profile/design.md
  .cairn/changes/add-shareable-view-distribution-profile/proposal.md
  .cairn/changes/add-shareable-view-distribution-profile/specs/shareable-view-distribution/spec.md
  .cairn/changes/add-shareable-view-distribution-profile/tasks.md
Due: markdownlint

test: snapshot protected blob VM fixture on reviewed release
  crates/molten-core/src/content_store_adapter/mod.rs
  crates/molten-core/src/content_store_adapter/read_grant.rs
  examples/content-blob-vm.rs
  examples/content-blob-vm/tests.rs
  src/content_store_adapter/live_handoff.rs
  src/content_store_adapter/live_iroh.rs
  src/content_store_adapter/live_read_gate.rs
  verification/content-blob-vm/policy.json
  verification/content-blob-vm/policy.ncl
Due: rustfmt, cargo-clippy

feat: add manifest-bound read grants and live blob handoff
  .cairn/changes/content-blob-vm-transfer/design.md
  .cairn/changes/content-blob-vm-transfer/proposal.md
  .cairn/changes/content-blob-vm-transfer/specs/content-live-handoff/spec.md
  .cairn/changes/content-blob-vm-transfer/tasks.md
  crates/molten-core/src/content_store_adapter/mod.rs
  crates/molten-core/src/content_store_adapter/read_grant.rs
  examples/content-blob-vm.rs
  examples/content-blob-vm/tests.rs
  src/content_store_adapter/live_handoff.rs
  src/content_store_adapter/live_iroh.rs
  src/content_store_adapter/live_read_gate.rs
  verification/content-blob-vm/README.md
  verification/content-blob-vm/policy.json
  verification/content-blob-vm/policy.ncl
Due: rustfmt, cargo-clippy, markdownlint

docs: retain protected blob VM evidence and acceptance blockers
  .cairn/changes/content-blob-vm-transfer/evidence/.gitattributes
  .cairn/changes/content-blob-vm-transfer/evidence/README.md
  .cairn/changes/content-blob-vm-transfer/evidence/digests.txt
  .cairn/changes/content-blob-vm-transfer/evidence/inputs.json
  .cairn/changes/content-blob-vm-transfer/evidence/producer-baseline.log
  .cairn/changes/content-blob-vm-transfer/evidence/producer-cairn-blocked.log
  .cairn/changes/content-blob-vm-transfer/evidence/producer-core-clippy.log
  .cairn/changes/content-blob-vm-transfer/evidence/producer-current-workspace-blocked.log
  .cairn/changes/content-blob-vm-transfer/evidence/producer-example-clippy-blocked.log
  .cairn/changes/content-blob-vm-transfer/evidence/producer-source-equality.log
  .cairn/changes/content-blob-vm-transfer/evidence/producer-source-snapshot.log
  .cairn/changes/content-blob-vm-transfer/evidence/producer-tests.log
  .cairn/changes/content-blob-vm-transfer/evidence/public-observations.json
  .cairn/changes/content-blob-vm-transfer/evidence/transfer-run.log
  .cairn/changes/content-blob-vm-transfer/evidence/transfer.json
Due: markdownlint

docs: checkpoint exact Molten source recovery and node-service prerequisites
  .cairn/changes/node-content-service/design.md
  .cairn/changes/node-content-service/evidence/.gitattributes
  .cairn/changes/node-content-service/evidence/README.md
  .cairn/changes/node-content-service/evidence/cache-head-first-attempt.log
  .cairn/changes/node-content-service/evidence/core-tests-and-normal-cli-build.log
  .cairn/changes/node-content-service/evidence/current-source-baseline.log
  .cairn/changes/node-content-service/evidence/current-source-clippy.log
  .cairn/changes/node-content-service/evidence/digests.txt
  .cairn/changes/node-content-service/evidence/exact-source-fetch.log
  .cairn/changes/node-content-service/evidence/locked-cargo-fetch.log
  .cairn/changes/node-content-service/evidence/new-tool-identities.log
  .cairn/changes/node-content-service/evidence/owner-source-discovery.log
  .cairn/changes/node-content-service/evidence/pinned-cairn-build.log
  .cairn/changes/node-content-service/evidence/pinned-cairn-layout-blocker.log
  .cairn/changes/node-content-service/evidence/policy-hidden-root-experiment.log
  .cairn/changes/node-content-service/evidence/policy-restored-and-units.log
  .cairn/changes/node-content-service/evidence/policy-workflow-shape-blocker.log
  .cairn/changes/node-content-service/evidence/preserved-artifact-identities.log
  .cairn/changes/node-content-service/evidence/rust-195-msrv-blocker.log
  .cairn/changes/node-content-service/evidence/source-nar-verification.log
  .cairn/changes/node-content-service/evidence/source-recovery.json
  .cairn/changes/node-content-service/proposal.md
  .cairn/changes/node-content-service/specs/node-content-service/spec.md
  .cairn/changes/node-content-service/tasks.md
Due: markdownlint

feat: serve protected content through the normal Molten node lifecycle
  .cairn/changes/node-content-service/design.md
  .cairn/changes/node-content-service/tasks.md
  Cargo.toml
  cairn-policy/contracts.ncl
  cairn-policy/default.ncl
  cairn-policy/fixtures/invalid-artifact-dependency.ncl
  cairn-policy/fixtures/invalid-duplicate-artifact.ncl
  cairn-policy/fixtures/migration-baseline.json
  cairn-policy/retained-receipt-contracts.ncl
  cairn-policy/vendor/README.md
  cairn-policy/vendor/cairn-15f00875/LICENSE-APACHE
  cairn-policy/vendor/cairn-15f00875/LICENSE-MIT
  cairn-policy/vendor/cairn-15f00875/cairn-policy/contracts.ncl
  cairn-policy/vendor/cairn-15f00875/cairn-policy/default.ncl
  cairn-policy/vendor/cairn-15f00875/cairn-policy/lifecycle-store-contracts.ncl
  cairn-policy/vendor/cairn-15f00875/cairn-policy/nominal-evidence-identities.ncl
  crates/molten-core/src/content_store_adapter/mod.rs
  crates/molten-core/src/content_store_adapter/node_service.rs
  crates/molten-node-host/Cargo.toml
  crates/molten-node-host/src/node/state/namespace.rs
  crates/molten-node-host/tests/atomic_namespace.rs
  crates/molten-node-host/tests/fixtures/node-host-boundary/invalid-host/Cargo.toml
  crates/molten-node-host/tests/fixtures/node-host-boundary/invalid-missing-core/Cargo.toml
  crates/molten-node-host/tests/fixtures/node-host-boundary/positive/Cargo.toml
  crates/molten-node-host/tests/nodehostboundary.rs
  docs/node-content-policy.ncl
  src/cli/ops/node.rs
  src/cli/ops/node/command.rs
  src/cli/ops/node/command/base.rs
  src/cli/ops/node/content.rs
  src/cli/ops/node/lifecycle.rs
  src/lib.rs
  src/node/content.rs
  src/node/parts/daemon/p019/body.rs
  src/node/parts/daemon/p025/body.rs
  tests/cairn_policy_migration.rs
  tests/node_content_service.rs
  verification/node-content/policy-duplicate-reader.ncl
  verification/node-content/policy-positive.ncl
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

fix: block synthetic source evidence in normal node startup
  .cairn/changes/node-content-service/design.md
  .cairn/changes/node-content-service/evidence/implementation/.gitattributes
  .cairn/changes/node-content-service/evidence/implementation/README.md
  .cairn/changes/node-content-service/evidence/implementation/atomic-boundary-and-clippy.log
  .cairn/changes/node-content-service/evidence/implementation/core-tests.log
  .cairn/changes/node-content-service/evidence/implementation/design.json
  .cairn/changes/node-content-service/evidence/implementation/digests.txt
  .cairn/changes/node-content-service/evidence/implementation/final-identities-and-units.log
  .cairn/changes/node-content-service/evidence/implementation/migration-and-build.log
  .cairn/changes/node-content-service/evidence/implementation/nickel-fixtures.log
  .cairn/changes/node-content-service/evidence/implementation/proposal.json
  .cairn/changes/node-content-service/evidence/implementation/startup-guard.log
  .cairn/changes/node-content-service/evidence/implementation/tasks.json
  .cairn/changes/node-content-service/evidence/implementation/validate.json
  .cairn/changes/node-content-service/evidence/implementation/vm-blocked.json
  .cairn/changes/node-content-service/specs/node-content-service/spec.md
  docs/node-content-service.md
  src/node/parts/daemon/p018/body.rs
  src/node/parts/daemon/p019/body.rs
  tests/node_content_service.rs
Due: rustfmt, cargo-clippy, markdownlint

docs: retain bounded pinned Octet tool discovery blockers
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/.gitattributes
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/README.md
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/debug-source-marker.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/desktop-engine-digests.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/desktop-scan.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/desktop-selected-file-digests.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/desktop-source-hashes.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/digests.txt
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/existing-compiler-and-driver.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/expected-output.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/expected-source-and-library.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/expected-wrapper.json
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/lookup-error.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/pinned-full-source-identity.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/pinned-offline-eval.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/private-log-digests.txt
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/worker-engine-digests.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/worker-scan.log
  .cairn/changes/node-startup-evidence/evidence/tool-discovery/worker-whole-source-difference.log
Due: markdownlint

build: retain pinned Octet outputs and smoke counterexample
  .cairn/changes/node-startup-evidence/evidence/tool-build/.gitattributes
  .cairn/changes/node-startup-evidence/evidence/tool-build/README.md
  .cairn/changes/node-startup-evidence/evidence/tool-build/bare-todo-false-clean-status.json
  .cairn/changes/node-startup-evidence/evidence/tool-build/bare-todo.rs
  .cairn/changes/node-startup-evidence/evidence/tool-build/build.log
  .cairn/changes/node-startup-evidence/evidence/tool-build/digests.txt
  .cairn/changes/node-startup-evidence/evidence/tool-build/dry-run.log
  .cairn/changes/node-startup-evidence/evidence/tool-build/dylint.toml
  .cairn/changes/node-startup-evidence/evidence/tool-build/final-smoke-observations.log
  .cairn/changes/node-startup-evidence/evidence/tool-build/message-todo-denied-status.json
  .cairn/changes/node-startup-evidence/evidence/tool-build/message-todo.rs
  .cairn/changes/node-startup-evidence/evidence/tool-build/missing-library.log
  .cairn/changes/node-startup-evidence/evidence/tool-build/negative-Cargo.lock
  .cairn/changes/node-startup-evidence/evidence/tool-build/negative-Cargo.toml
  .cairn/changes/node-startup-evidence/evidence/tool-build/positive-Cargo.lock
  .cairn/changes/node-startup-evidence/evidence/tool-build/positive-Cargo.toml
  .cairn/changes/node-startup-evidence/evidence/tool-build/positive-status.json
  .cairn/changes/node-startup-evidence/evidence/tool-build/positive.rs
  .cairn/changes/node-startup-evidence/evidence/tool-build/preserved-inputs-and-units.log
  .cairn/changes/node-startup-evidence/evidence/tool-build/private-log-digests.txt
  .cairn/changes/node-startup-evidence/evidence/tool-build/tool-identities-and-content-check.log
Due: rustfmt, cargo-clippy, markdownlint

docs: link isolated Octet bare-todo fix without changing admission
  .cairn/changes/node-startup-evidence/evidence/tool-fix.md
Due: markdownlint

feat: pin startup Octet cohort to the bare-todo fix revision
  .cairn/changes/node-startup-evidence/evidence/tool-pin/.gitattributes
  .cairn/changes/node-startup-evidence/evidence/tool-pin/README.md
  .cairn/changes/node-startup-evidence/evidence/tool-pin/bare-todo-denied-status.json
  .cairn/changes/node-startup-evidence/evidence/tool-pin/message-todo-denied-status.json
  .cairn/changes/node-startup-evidence/evidence/tool-pin/positive-status.json
  .cairn/changes/node-startup-evidence/evidence/tool-pin/private-digests.txt
  crates/molten-core/src/node_startup.rs
  docs/node-startup-cohort.ncl
  flake.lock
  flake.nix
  src/octet/startup_snapshot/tests.rs
  tests/node_startup_evidence.rs
Due: rustfmt, cargo-clippy, markdownlint

Wire explicit startup evidence inputs without promoting verification to authority
  .cairn/changes/node-startup-evidence/evidence/lifecycle-wiring.md
  docs/node-startup-evidence.md
  src/cli/ops/cluster.rs
  src/cli/ops/node/command/base.rs
  src/cli/ops/node/lifecycle.rs
  src/node/parts/daemon/p000/body.rs
  src/node/parts/daemon/p018/body.rs
  src/node/parts/daemon/p019/body.rs
  src/node/parts/daemon/tests/m000/p000/body.rs
  src/node/parts/daemon/tests/m000/p001/body.rs
  src/node/parts/daemon/tests/m000/p002/body.rs
  src/node/parts/daemon/tests/m000/p004/body.rs
  src/node/parts/daemon/tests/m000/p005/body.rs
  src/node/parts/daemon/tests/m000/p008/body.rs
  src/node/parts/daemon/tests/m000/p009/body.rs
  src/node/parts/daemon/tests/m000/p010/body.rs
  src/node/parts/daemon/tests/m000/p011/body.rs
  src/node/startup_evidence.rs
  src/node/startup_evidence/tests.rs
  src/retention/parts/mod/tests/m000/p004/body.rs
  tests/node_content_service.rs
  tests/node_startup_evidence.rs
Due: rustfmt, cargo-clippy, markdownlint

Retain actual pinned source-gate workspace lint-registration failure
  .cairn/changes/node-startup-evidence/evidence/actual-source-gate/README.md
  .cairn/changes/node-startup-evidence/evidence/actual-source-gate/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/actual-source-gate/status.json
Due: markdownlint

Reproduce workspace dependency lint registration defect with exact installed tools
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/.gitattributes
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/README.md
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/fixture/Cargo.lock
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/fixture/Cargo.toml
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/fixture/app/Cargo.toml
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/fixture/app/src/lib.rs
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/fixture/core/Cargo.toml
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/fixture/core/src/lib.rs
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/fixture/dylint.toml
  .cairn/changes/node-startup-evidence/evidence/workspace-registration/private-digests.txt
Due: rustfmt, cargo-clippy, markdownlint

Retain repaired driver evidence and newly reached Molten source findings
  .cairn/changes/node-startup-evidence/evidence/driver-repair/README.md
  .cairn/changes/node-startup-evidence/evidence/driver-repair/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/driver-repair/status.json
Due: markdownlint

Qualify filesystem owners and isolate bounded handle reads
  crates/molten-node-host/src/node/state/authority.rs
  crates/molten-node-host/src/node/state/filesystem.rs
  crates/molten-node-host/src/node/state/filesystem/bounded_read.rs
  crates/molten-node-host/tests/bounded_reads.rs
Due: rustfmt, cargo-clippy

Keep file admission stages small and preserve bounded observation identity
  crates/molten-node-host/src/node/state/authority.rs
  crates/molten-node-host/src/node/state/filesystem.rs
  crates/molten-node-host/src/node/state/filesystem/bounded_read.rs
  crates/molten-node-host/src/node/state/filesystem/metadata.rs
  crates/molten-node-host/src/node/state/filesystem/read.rs
  crates/molten-node-host/tests/bounds.rs
  crates/molten-node-host/tests/regular.rs
Due: rustfmt, cargo-clippy

Separate observed-bound admission from bounded byte consumption
  crates/molten-node-host/src/node/state/filesystem/read.rs
Due: rustfmt, cargo-clippy

Record scoped filesystem cleanup and intermediate gate findings
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/README.md
Due: markdownlint

Name the byte collection stage within its read owner
  crates/molten-node-host/src/node/state/filesystem/read.rs
Due: rustfmt, cargo-clippy

Retain filesystem gate progress and const-candidate counterexample
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/README.md
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/const-probe/const.rs
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/const-probe/normal.rs
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/run-3-status.json
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/run-4-status.json
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/run-5-status.json
  .cairn/changes/node-startup-evidence/evidence/host-filesystem/run-6-status.json
Due: rustfmt, cargo-clippy, markdownlint

Record const-format repair and unchanged-source gate results
  .cairn/changes/node-startup-evidence/evidence/const-repair/README.md
  .cairn/changes/node-startup-evidence/evidence/const-repair/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/const-repair/run-7-status.json
  .cairn/changes/node-startup-evidence/evidence/const-repair/run-8-status.json
Due: markdownlint

Qualify node authority and locator owners with view regressions
  crates/molten-node-host/src/node/state/authority.rs
  crates/molten-node-host/src/node/state/enumeration.rs
  crates/molten-node-host/src/node/state/locator.rs
  crates/molten-node-host/tests/views.rs
Due: rustfmt, cargo-clippy

Retain node owner-path tests and frozen source diagnostics
  .cairn/changes/node-startup-evidence/evidence/host-imports/README.md
  .cairn/changes/node-startup-evidence/evidence/host-imports/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/host-imports/status.json
Due: markdownlint

Qualify namespace and local-store imports without changing authority
  crates/molten-node-host/src/local_store/mod.rs
  crates/molten-node-host/src/node/state/namespace.rs
  crates/molten-node-host/tests/leaves.rs
Due: rustfmt, cargo-clippy

Record completed import cleanup and remaining source blockers
  .cairn/changes/node-startup-evidence/evidence/namespace-imports/README.md
  .cairn/changes/node-startup-evidence/evidence/namespace-imports/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/namespace-imports/status.json
Due: markdownlint

Prove remaining const suggestions fail under the gate compiler
  .cairn/changes/node-startup-evidence/evidence/const-review/README.md
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/display-const.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/display.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/local-const.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/local.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/locator-const.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/locator.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/positive-const.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/fixtures/positive.rs
  .cairn/changes/node-startup-evidence/evidence/const-review/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/const-review/verify.sh
Due: rustfmt, cargo-clippy, markdownlint

Record VM-only prerequisite repair and missing CLI tools
  .cairn/changes/node-startup-evidence/evidence/const-calls/README.md
  .cairn/changes/node-startup-evidence/evidence/const-calls/private-digests.txt
Due: markdownlint

Record recovered diagnostic command and nested arithmetic review
  .cairn/changes/node-startup-evidence/evidence/arithmetic-review/README.md
  .cairn/changes/node-startup-evidence/evidence/arithmetic-review/fixtures/literal.rs
  .cairn/changes/node-startup-evidence/evidence/arithmetic-review/fixtures/nested.rs
  .cairn/changes/node-startup-evidence/evidence/arithmetic-review/fixtures/overflow.rs
  .cairn/changes/node-startup-evidence/evidence/arithmetic-review/fixtures/runtime.rs
  .cairn/changes/node-startup-evidence/evidence/arithmetic-review/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/arithmetic-review/verify.sh
  .cairn/changes/node-startup-evidence/evidence/cli-recovery/README.md
  .cairn/changes/node-startup-evidence/evidence/cli-recovery/command.txt
  .cairn/changes/node-startup-evidence/evidence/cli-recovery/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/cli-recovery/status.json
  .cairn/changes/node-startup-evidence/evidence/cli-recovery/summary.txt
Due: rustfmt, cargo-clippy, markdownlint

Record constant-arithmetic repair and 32-error source gate
  .cairn/changes/node-startup-evidence/evidence/constant-arithmetic/README.md
  .cairn/changes/node-startup-evidence/evidence/constant-arithmetic/command.txt
  .cairn/changes/node-startup-evidence/evidence/constant-arithmetic/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/constant-arithmetic/status.json
  .cairn/changes/node-startup-evidence/evidence/constant-arithmetic/summary.txt
Due: markdownlint

Record vector-growth repair and 30-error source gate
  .cairn/changes/node-startup-evidence/evidence/borrowed-growth/README.md
  .cairn/changes/node-startup-evidence/evidence/borrowed-growth/command.txt
  .cairn/changes/node-startup-evidence/evidence/borrowed-growth/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/borrowed-growth/status.json
  .cairn/changes/node-startup-evidence/evidence/borrowed-growth/summary.txt
Due: markdownlint

Review enum policy and reproduce doc-text sealing false clean
  .cairn/changes/node-startup-evidence/evidence/enum-policy/README.md
  .cairn/changes/node-startup-evidence/evidence/enum-policy/fixture.rs
  .cairn/changes/node-startup-evidence/evidence/enum-policy/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/enum-policy/verify.sh
Due: rustfmt, cargo-clippy, markdownlint

Record exact-marker hardening and 30-error source gate
  .cairn/changes/node-startup-evidence/evidence/exact-markers/README.md
  .cairn/changes/node-startup-evidence/evidence/exact-markers/command.txt
  .cairn/changes/node-startup-evidence/evidence/exact-markers/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/exact-markers/status.json
  .cairn/changes/node-startup-evidence/evidence/exact-markers/summary.txt
Due: markdownlint

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
