Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

archive autoresearch: 86 sessions, 460 runs across Tiger Style openraft slices
  autoresearch.jsonl
Due: none

fix all Aspen-proper production Tiger Style findings to zero
  crates/aspen-cache/src/index.rs
  crates/aspen-cache/src/lib.rs
  crates/aspen-cache/src/nar.rs
  crates/aspen-cache/src/narinfo.rs
  crates/aspen-commit-dag/src/fork.rs
  crates/aspen-commit-dag/src/gc.rs
  crates/aspen-commit-dag/src/kv_adapter.rs
  crates/aspen-commit-dag/src/lib.rs
  crates/aspen-commit-dag/src/persistence.rs
  crates/aspen-commit-dag/src/store.rs
  crates/aspen-commit-dag/src/verified/commit_hash.rs
  crates/aspen-commit-dag/src/verified/diff.rs
  crates/aspen-docs/src/commit_verification.rs
  crates/aspen-forge-protocol/src/lib.rs
  crates/aspen-kv-branch/src/overlay.rs
  crates/aspen-plugin-api/src/manifest.rs
  crates/aspen-plugin-api/src/resolve.rs
Due: rustfmt, cargo-clippy

fix: add split KvRead/KvWrite/KvDelete imports to aspen-testing-fixtures
  crates/aspen-testing-fixtures/src/builders.rs
  crates/aspen-testing-fixtures/src/coordination_helper.rs
Due: rustfmt, cargo-clippy

split monolithic impl KeyValueStore into KvRead/KvWrite/KvDelete/KvScan sub-trait impls across 9 crates
  crates/aspen-blob/src/kv_integration.rs
  crates/aspen-ci/tests/local_executor_integration_test.rs
  crates/aspen-coordination/src/lockset.rs
  crates/aspen-coordination/src/rate_limiter.rs
  crates/aspen-federation/src/resolver.rs
  crates/aspen-federation/src/token_store.rs
  crates/aspen-kv-branch/src/overlay.rs
  crates/aspen-kv-branch/tests/commit_dag_tests.rs
  crates/aspen-kv-branch/tests/overlay_tests.rs
  crates/aspen-net/src/client_kv.rs
  crates/aspen-nix-cache-gateway/src/client_kv.rs
  crates/aspen-raft-kv/src/lib.rs
  crates/aspen-raft/src/node/kv_store.rs
  crates/aspen-sharding/Cargo.toml
  crates/aspen-sharding/src/sharded.rs
  crates/aspen-snix-bridge/src/client_kv.rs
  crates/aspen-testing-fixtures/src/builders.rs
  src/auth/tests.rs
Due: rustfmt, cargo-clippy

openspec: archive extend-no-std-foundation-and-wire — all tasks deferred to scoped sub-changes
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/.openspec.yaml
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/design.md
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/evidence/ui-app-registry-no-std.stderr
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/evidence/ui-content-discovery-std-without-global-discovery.stderr
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/evidence/ui-directory-layer-std-without-layer.stderr
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/evidence/ui-fixtures.txt
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/evidence/ui-network-transport-no-std.stderr
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/evidence/ui-simulation-artifact-no-std.stderr
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/evidence/ui-storage-table-no-std.stderr
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/proposal.md
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/specs/no-std/spec.md
  openspec/changes/archive/2026-04-26-extend-no-std-foundation-and-wire/tasks.md
Due: markdownlint

openspec: fill artifacts for extend-no-std-foundation-and-wire, defer all tasks to sub-changes
  openspec/changes/extend-no-std-foundation-and-wire/.openspec.yaml
  openspec/changes/extend-no-std-foundation-and-wire/design.md
  openspec/changes/extend-no-std-foundation-and-wire/proposal.md
  openspec/changes/extend-no-std-foundation-and-wire/specs/no-std/spec.md
  openspec/changes/extend-no-std-foundation-and-wire/tasks.md
Due: markdownlint

fix: resolve 4 pre-existing compilation errors across workspace
  crates/aspen-cluster/src/ticket.rs
  crates/aspen-core-shell/src/lib.rs
  crates/aspen-nix-handler/src/cache.rs
  crates/aspen-nix-handler/src/migration.rs
  crates/aspen-raft/src/secrets_at_rest.rs
  tests/gossip_integration_test.rs
Due: rustfmt, cargo-clippy

fix: resolve pre-existing compilation errors in tests, benches, and sibling repo
  Cargo.lock
  benches/common/mod.rs
  benches/write_batching.rs
  crates/aspen-core-shell/src/lib.rs
  src/bin/aspen_node/worker_only.rs
  src/bin/generate_fuzz_corpus.rs
  src/node/tests.rs
  tests/coordination_rpc_test.rs
  tests/forge_git_wire_test.rs
  tests/gossip_e2e_integration.rs
  tests/inmemory_api_test.rs
  tests/madsim_ci_pipeline_test.rs
  tests/multi_node_cluster_test.rs
  tests/pubsub_integration_test.rs
  tests/raft_node_direct_api_test.rs
  tests/secrets_integration_test.rs
  tests/sharding_split_merge_test.rs
  tests/verify_integration_test.rs
  tests/write_batching_integration.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: resolve test compilation errors from KV sub-trait split
  Cargo.lock
  crates/aspen-core-shell/Cargo.toml
  crates/aspen-core-shell/src/layer/allocator.rs
  crates/aspen-core-shell/src/layer/directory/tests.rs
  crates/aspen-testing-fixtures/src/builders.rs
  crates/aspen-traits/src/async_traits.rs
Due: rustfmt, cargo-clippy, cargo-deny

fix: sort_order_matters test violated debug_assert precondition
  crates/aspen-commit-dag/src/verified/commit_hash.rs
Due: rustfmt, cargo-clippy

repair build fallout from Forge backend metadata
  crates/aspen-forge-web/src/templates.rs
  crates/aspen-testing-patchbay/src/node.rs
Due: rustfmt, cargo-clippy

align Forge web with Onix UI reference
  .config/nextest.toml
  README.md
  crates/aspen-forge-web/src/routes.rs
  crates/aspen-forge-web/src/templates.rs
  crates/aspen-forge-web/tests/patchbay_forge_web_test.rs
  crates/aspen-testing-patchbay/tests/patchbay_fault_tests.rs
  crates/aspen-testing-patchbay/tests/patchbay_nat_tests.rs
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/.openspec.yaml
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/design.md
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/evidence/V1-aspen-forge-web-nextest.txt
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/evidence/V2-git-diff-check.txt
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/evidence/V3-openspec-preflight.txt
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/evidence/implementation-diff.patch
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/evidence/openspec-validate.txt
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/proposal.md
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/specs/forge-web-ui-style/spec.md
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/tasks.md
  openspec/changes/archive/2026-04-28-onix-inspired-forge-web-ui/verification.md
  openspec/specs/forge-web-ui-style/spec.md
Due: rustfmt, cargo-clippy, markdownlint

pin Forge web demo CI inputs
  .agent/napkin.md
  AGENTS.md
  scripts/run-forge-web.sh
Due: markdownlint

fail fast on Forge web demo prep
  .agent/napkin.md
  scripts/run-forge-web.sh
Due: markdownlint

guard Forge web demo prep
  .agent/napkin.md
  AGENTS.md
  Cargo.toml
  flake.nix
  scripts/lib/run-forge-web-demo.sh
  scripts/run-forge-web.sh
  scripts/test-run-forge-web-demo-prep.sh
Due: cargo-toml-sorted, cargo-deny, markdownlint

openspec: unblock blob replication extraction
  openspec/changes/remove-blob-replication-core-dependency/.openspec.yaml
  openspec/changes/remove-blob-replication-core-dependency/design.md
  openspec/changes/remove-blob-replication-core-dependency/evidence/openspec-validate.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/planning-preflight.txt
  openspec/changes/remove-blob-replication-core-dependency/proposal.md
  openspec/changes/remove-blob-replication-core-dependency/specs/architecture-modularity/spec.md
  openspec/changes/remove-blob-replication-core-dependency/specs/blob-castore-cache-extraction/spec.md
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
Due: markdownlint

capture blob replication dependency baseline
  openspec/changes/remove-blob-replication-core-dependency/evidence/baseline-aspen-core-path.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/baseline-cargo-check-replication.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/baseline-cargo-tree.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/baseline-source-audit.txt
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: markdownlint

narrow blob replication manifest edge
  Cargo.lock
  crates/aspen-blob/Cargo.toml
  openspec/changes/remove-blob-replication-core-dependency/evidence/i1-manifest-audit.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i1-manifest-diff.txt
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: cargo-deny, markdownlint

move blob metadata replication to leaf KV contracts
  crates/aspen-blob/src/replication/adapters.rs
  openspec/changes/remove-blob-replication-core-dependency/evidence/i2-adapter-diff.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i2-adapter-import-audit.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i2-cargo-check-replication.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i2-kv-metadata-tests.txt
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: rustfmt, cargo-clippy, markdownlint

reject stale blob core dependency exceptions
  docs/crate-extraction/blob-castore-cache.md
  docs/crate-extraction/policy.ncl
  openspec/changes/remove-blob-replication-core-dependency/evidence/i3-doc-policy-audit.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i3-doc-policy-diff.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i3-policy-export.json
  openspec/changes/remove-blob-replication-core-dependency/evidence/i3-policy-export.stderr
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: markdownlint

verify blob metadata adapter behavior
  openspec/changes/remove-blob-replication-core-dependency/evidence/v1-cargo-check-replication.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/v1-kv-metadata-tests.txt
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: markdownlint

prove blob replication tree excludes core
  openspec/changes/remove-blob-replication-core-dependency/evidence/v2-cargo-tree-audit.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/v2-cargo-tree-replication.txt
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: markdownlint

prove blob core dependency policy rejection
  openspec/changes/remove-blob-replication-core-dependency/evidence/i6-downstream-blob-forbidden-grep.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i6-downstream-blob-metadata.json
  openspec/changes/remove-blob-replication-core-dependency/evidence/i6-downstream-cache-castore-forbidden-grep.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/i6-downstream-cache-castore-metadata.json
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-negative-aspen-core-dep-summary.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-negative-aspen-core-dep.json
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-negative-aspen-core-dep.md
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-negative-aspen-core-dep.stderr
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-negative-aspen-core-dep.stdout
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-readiness.json
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-readiness.md
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-readiness.stderr
  openspec/changes/remove-blob-replication-core-dependency/evidence/v3-readiness.stdout
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: markdownlint

complete blob replication dependency proof
  openspec/changes/remove-blob-replication-core-dependency/evidence/v4-openspec-preflight.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/v4-openspec-validate.txt
  openspec/changes/remove-blob-replication-core-dependency/evidence/v4-source-doc-diff.txt
  openspec/changes/remove-blob-replication-core-dependency/tasks.md
  openspec/changes/remove-blob-replication-core-dependency/verification.md
Due: markdownlint

Preserve blob boundary proof after archive sync
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/i1-manifest-diff.txt
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/i2-adapter-diff.txt
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/i2-kv-metadata-tests.txt
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/i3-doc-policy-diff.txt
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/v1-kv-metadata-tests.txt
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/v3-negative-aspen-core-dep.json
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/v3-readiness.json
  openspec/changes/archive/2026-04-29-remove-blob-replication-core-dependency/evidence/v4-source-doc-diff.txt
  openspec/specs/architecture-modularity/spec.md
  openspec/specs/blob-castore-cache-extraction/spec.md
Due: markdownlint

guard OpenSpec task completion with durable evidence
  openspec/changes/enforce-task-evidence-coverage/evidence/bash-n-preflight-scripts.txt
  openspec/changes/enforce-task-evidence-coverage/evidence/implementation-diff.patch
  openspec/changes/enforce-task-evidence-coverage/evidence/openspec-gate-tasks.txt
  openspec/changes/enforce-task-evidence-coverage/evidence/openspec-preflight.txt
  openspec/changes/enforce-task-evidence-coverage/evidence/openspec-validate.txt
  openspec/changes/enforce-task-evidence-coverage/evidence/preflight-fixture-suite.txt
  openspec/changes/enforce-task-evidence-coverage/fixtures/openspec-preflight-evidence/README.md
  openspec/changes/enforce-task-evidence-coverage/tasks.md
  openspec/changes/enforce-task-evidence-coverage/verification.md
  openspec/templates/verification.md
  scripts/openspec-preflight.sh
  scripts/test-openspec-preflight-evidence.sh
Due: markdownlint

docs: orient developers around Aspen internals
  .agent/napkin.md
  AGENTS.md
  README.md
  docs/developer-guide/architecture.md
Due: markdownlint

Guide the next decomposition wave
  .agent/napkin.md
  openspec/changes/decompose-next-five-crate-families/.openspec.yaml
  openspec/changes/decompose-next-five-crate-families/design.md
  openspec/changes/decompose-next-five-crate-families/proposal.md
  openspec/changes/decompose-next-five-crate-families/specs/architecture-modularity/spec.md
  openspec/changes/decompose-next-five-crate-families/tasks.md
Due: markdownlint

archive task evidence governance
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/.openspec.yaml
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/design.md
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/evidence/bash-n-preflight-scripts.txt
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/evidence/implementation-diff.patch
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/evidence/openspec-gate-tasks.txt
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/evidence/openspec-preflight.txt
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/evidence/openspec-validate.txt
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/evidence/preflight-fixture-suite.txt
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/fixtures/openspec-preflight-evidence/README.md
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/proposal.md
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/specs/openspec-governance/spec.md
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/tasks.md
  openspec/changes/archive/2026-04-29-enforce-task-evidence-coverage/verification.md
  openspec/changes/enforce-task-evidence-coverage/evidence/openspec-preflight.txt
  openspec/changes/enforce-task-evidence-coverage/verification.md
  openspec/specs/openspec-governance/spec.md
Due: markdownlint

record preflight transcript trap
  .agent/napkin.md
Due: markdownlint

clarify oracle checkpoint gate scope
  openspec/changes/add-review-oracle-checkpoints/tasks.md
Due: markdownlint

add oracle checkpoint template
  openspec/changes/add-review-oracle-checkpoints/evidence/i1-template-guidance-check.txt
  openspec/changes/add-review-oracle-checkpoints/evidence/i1-template-guidance.diff
  openspec/changes/add-review-oracle-checkpoints/evidence/openspec-preflight-i1.txt
  openspec/changes/add-review-oracle-checkpoints/tasks.md
  openspec/changes/add-review-oracle-checkpoints/verification.md
  openspec/templates/oracle-checkpoint.md
  openspec/templates/verification.md
Due: markdownlint

document done-review oracle checkpoint evidence
  openspec/changes/add-review-oracle-checkpoints/evidence/agentkit-node-checks.txt
  openspec/changes/add-review-oracle-checkpoints/evidence/agentkit-oracle-checkpoint-commits.patch
  openspec/changes/add-review-oracle-checkpoints/evidence/agentkit-review-parsing-test.txt
  openspec/changes/add-review-oracle-checkpoints/evidence/openspec-preflight-i2.txt
  openspec/changes/add-review-oracle-checkpoints/tasks.md
  openspec/changes/add-review-oracle-checkpoints/verification.md
Due: markdownlint

document gate oracle checkpoint evidence
  openspec/changes/add-review-oracle-checkpoints/tasks.md
  openspec/changes/add-review-oracle-checkpoints/verification.md
Due: markdownlint

document concrete blocker review evidence
  openspec/changes/add-review-oracle-checkpoints/tasks.md
  openspec/changes/add-review-oracle-checkpoints/verification.md
Due: markdownlint

document review metrics checkpoint evidence
  openspec/changes/add-review-oracle-checkpoints/tasks.md
  openspec/changes/add-review-oracle-checkpoints/verification.md
Due: markdownlint

document oracle fixture evidence
  openspec/changes/add-review-oracle-checkpoints/evidence/agentkit-oracle-checkpoint-commits.patch
  openspec/changes/add-review-oracle-checkpoints/tasks.md
  openspec/changes/add-review-oracle-checkpoints/verification.md
Due: markdownlint

record oracle checkpoint verification
  openspec/changes/add-review-oracle-checkpoints/evidence/openspec-gate-tasks-v2.txt
  openspec/changes/add-review-oracle-checkpoints/evidence/openspec-preflight-final.txt
  openspec/changes/add-review-oracle-checkpoints/evidence/openspec-validate-v2.txt
  openspec/changes/add-review-oracle-checkpoints/tasks.md
  openspec/changes/add-review-oracle-checkpoints/verification.md
Due: markdownlint

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
