Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

Propose reviewed closed node-host domains without production edits
  .cairn/changes/node-host-closed-domains/design.md
  .cairn/changes/node-host-closed-domains/private-digests.txt
  .cairn/changes/node-host-closed-domains/proposal.md
  .cairn/changes/node-host-closed-domains/specs/node-runtime/spec.md
  .cairn/changes/node-host-closed-domains/tasks.md
  .cairn/changes/node-host-closed-domains/validation.md
Due: markdownlint

Validate closed-domain draft and probe conditional marker compatibility
  .cairn/changes/node-host-closed-domains/evidence/cairn/design.json
  .cairn/changes/node-host-closed-domains/evidence/cairn/fixture-negative.json
  .cairn/changes/node-host-closed-domains/evidence/cairn/fixture-positive.json
  .cairn/changes/node-host-closed-domains/evidence/cairn/proposal.json
  .cairn/changes/node-host-closed-domains/evidence/cairn/tasks.json
  .cairn/changes/node-host-closed-domains/evidence/marker-identities.txt
  .cairn/changes/node-host-closed-domains/evidence/marker-route.rs
  .cairn/changes/node-host-closed-domains/evidence/private-digests.txt
  .cairn/changes/node-host-closed-domains/evidence/verify-marker-route.sh
  .cairn/changes/node-host-closed-domains/validation.md
Due: rustfmt, cargo-clippy, markdownlint

Declare closed node-host domains with conditional analysis markers
  .cairn/changes/node-host-closed-domains/evidence/.gitattributes
  .cairn/changes/node-host-closed-domains/evidence/focused-tools.txt
  .cairn/changes/node-host-closed-domains/evidence/implementation-digests.txt
  .cairn/changes/node-host-closed-domains/evidence/mutations/namespace.patch
  .cairn/changes/node-host-closed-domains/evidence/mutations/observation.patch
  .cairn/changes/node-host-closed-domains/evidence/mutations/sources.txt
  .cairn/changes/node-host-closed-domains/evidence/mutations/store.patch
  .cairn/changes/node-host-closed-domains/evidence/mutations/tools.txt
  .cairn/changes/node-host-closed-domains/evidence/package-clippy.log
  .cairn/changes/node-host-closed-domains/evidence/package-tests.log
  .cairn/changes/node-host-closed-domains/evidence/verify-actual-mutations.sh
  .cairn/changes/node-host-closed-domains/implementation.md
  .cairn/changes/node-host-closed-domains/proposal.md
  .cairn/changes/node-host-closed-domains/review.md
  .cairn/changes/node-host-closed-domains/tasks.md
  .cairn/changes/node-host-closed-domains/validation.md
  crates/molten-node-host/Cargo.toml
  crates/molten-node-host/src/lib.rs
  crates/molten-node-host/src/local_store/mod.rs
  crates/molten-node-host/src/node/state/authority.rs
  crates/molten-node-host/tests/classifications.rs
  docs/node-state-filesystem-authority.md
Due: rustfmt, cargo-clippy, markdownlint

Record 26-error unchanged-command gate and scoped domain evidence
  .cairn/changes/node-host-closed-domains/evidence/cairn/implementation-tasks.json
  .cairn/changes/node-host-closed-domains/evidence/gate-16/command.txt
  .cairn/changes/node-host-closed-domains/evidence/gate-16/private-digests.txt
  .cairn/changes/node-host-closed-domains/evidence/gate-16/status.json
  .cairn/changes/node-host-closed-domains/evidence/gate-16/summary.txt
  .cairn/changes/node-host-closed-domains/implementation.md
  .cairn/changes/node-host-closed-domains/tasks.md
  .cairn/changes/node-startup-evidence/evidence/closed-domains/README.md
Due: markdownlint

Clarify observed focused Cargo and Clippy component versions
  .cairn/changes/node-host-closed-domains/implementation.md
Due: markdownlint

Share pure locator recognition while preserving boundary errors
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
  .cairn/changes/node-startup-evidence/evidence/naming-review/body.rs
  .cairn/changes/node-startup-evidence/evidence/naming-review/documented.rs
  .cairn/changes/node-startup-evidence/evidence/naming-review/plain.rs
  .cairn/changes/node-startup-evidence/evidence/naming-review/registry.rs
  .cairn/changes/node-startup-evidence/evidence/naming-review/verify.sh
  crates/molten-node-host/src/lib.rs
  crates/molten-node-host/src/local_store/mod.rs
  crates/molten-node-host/src/locator.rs
  crates/molten-node-host/src/node/state/locator.rs
  crates/molten-node-host/tests/locators.rs
Due: rustfmt, cargo-clippy, markdownlint

Record 22-error gate and naming exemption counterexamples
  .cairn/changes/node-startup-evidence/evidence/locator-policy/README.md
  .cairn/changes/node-startup-evidence/evidence/locator-policy/clippy.log
  .cairn/changes/node-startup-evidence/evidence/locator-policy/command.txt
  .cairn/changes/node-startup-evidence/evidence/locator-policy/focused-tools.txt
  .cairn/changes/node-startup-evidence/evidence/locator-policy/private-digests.txt
  .cairn/changes/node-startup-evidence/evidence/locator-policy/status.json
  .cairn/changes/node-startup-evidence/evidence/locator-policy/summary.txt
  .cairn/changes/node-startup-evidence/evidence/locator-policy/tests.log
  .cairn/changes/node-startup-evidence/evidence/naming-review/identities.txt
Due: markdownlint

Keep legacy agent recipes from redefining Molten work
  AGENTS.md
Due: markdownlint

Keep lifecycle exports from losing accepted policy fields
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/cargo-metadata-cohort.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/cargo-metadata-control.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/cargo-metadata-default.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/cargo-metadata-extents.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/cargo-metadata-features.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/consumer-missing-profiles.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/consumer-profile-shape.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/digests.blake3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/nix-policy-resume.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/octet-official-pinned.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-cairn-validate.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-drift-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-drift-green.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-export-green.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-gate-design.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-gate-proposal.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-gate-tasks.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-identity.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/policy-lock.diff.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/policy-resume/report.md
  .cairn/changes/saturate-exponential-retry-arithmetic/tasks.md
  cairn-policy/README.md
  cairn-policy/consumer.ncl
  cairn-policy/fixtures/invalid-consumer-missing-profiles.ncl
  cairn-policy/fixtures/invalid-consumer-profile-shape.ncl
  flake.lock
  flake.nix
Due: markdownlint

Read current specifications without accepting pending claims
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/artifact-ledger-receipt.preserves.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/cairn-final.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/cairn-strict.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/classification-preview.md.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/classification-preview.tsv.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/classifier-current.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/configured-status.json
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/digests.blake3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/documented-strict-gate-corrected.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/documented-strict-gate.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/gate-receipt.preserves.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/library-status.json
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/nix-full.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/remediation-inventory.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/remediation-plan.preserves.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/report.md
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/tracey-clippy.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/tracey-current.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/tracey-nix-current.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/tracey-unit-before.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/tracey-unit-green.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/final-gates/tracey-unit-red.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/tasks.md
  tools/tracey/inherited_debt_classifier.rs
  tools/tracey/inherited_debt_guard.rs
Due: rustfmt, cargo-clippy, markdownlint

fix ChaosControl conformance foundation compile and known-answer vector
  .cairn/changes/adopt-shared-wasm-component-runtime/design.md
  .cairn/changes/adopt-shared-wasm-component-runtime/metadata.json
  .cairn/changes/adopt-shared-wasm-component-runtime/proposal.md
  .cairn/changes/adopt-shared-wasm-component-runtime/specs/wasm-component-runtime-adoption/spec.md
  .cairn/changes/adopt-shared-wasm-component-runtime/tasks.md
  src/fabric_consistency/chaoscontrol/identity.rs
  src/fabric_consistency/chaoscontrol/ledger.rs
  src/fabric_consistency/chaoscontrol/mod.rs
  src/fabric_consistency/chaoscontrol/projection.rs
  src/fabric_consistency/chaoscontrol/tests.rs
  src/fabric_consistency/mod.rs
  tests/cliharness.rs
  tests/content_replication.rs
  tests/src
Due: rustfmt, cargo-clippy, markdownlint

Spike marble and art behind the storage seam
  .cairn/changes/pilot-marble-object-store/design.md
  .cairn/changes/pilot-marble-object-store/proposal.md
  .cairn/changes/pilot-marble-object-store/specs/marble-object-store/spec.md
  .cairn/changes/pilot-marble-object-store/tasks.md
Due: markdownlint

Refresh the Cairn policy cohort to the current provider
  cairn-policy/UPSTREAM.md
  cairn-policy/contracts.ncl
  cairn-policy/default.ncl
  cairn-policy/fixtures/adoption-report-negative.ncl
  cairn-policy/fixtures/adoption-report-positive.ncl
  cairn-policy/fixtures/invalid-determinism-surface-coverage.ncl
  cairn-policy/fixtures/invalid-determinism-surface-group.ncl
  cairn-policy/fixtures/invalid-duplicate-artifact.ncl
  cairn-policy/fixtures/invalid-duplicate-marker-token.ncl
  cairn-policy/fixtures/invalid-duplicate-marker.ncl
  cairn-policy/fixtures/invalid-duplicate-receipt-schema-command.ncl
  cairn-policy/fixtures/invalid-duplicate-replay-case.ncl
  cairn-policy/fixtures/invalid-duplicate-replay-group.ncl
  cairn-policy/fixtures/invalid-exemption-marker-policy.ncl
  cairn-policy/fixtures/invalid-lifecycle-store-bound.ncl
  cairn-policy/fixtures/invalid-lifecycle-store-non-claims.ncl
  cairn-policy/fixtures/invalid-lifecycle-store-opener.ncl
  cairn-policy/fixtures/invalid-marker.ncl
  cairn-policy/fixtures/invalid-receipt-contract-command.ncl
  cairn-policy/fixtures/invalid-replay-group-case.ncl
  cairn-policy/fixtures/invalid-traceability-profile.ncl
  cairn-policy/fixtures/invalid-workflow-cycle.ncl
  cairn-policy/fixtures/invalid-workflow-duplicate-artifact.ncl
  cairn-policy/fixtures/invalid-workflow-path.ncl
  cairn-policy/fixtures/invalid-workflow-profile-effect.ncl
  cairn-policy/fixtures/invalid-workflow-profile-review.ncl
  cairn-policy/fixtures/invalid-workflow-template.ncl
  cairn-policy/fixtures/readiness-negative.ncl
  cairn-policy/fixtures/readiness-positive.ncl
  cairn-policy/fixtures/valid-lifecycle-stores.ncl
  cairn-policy/fixtures/valid-with-exemption.ncl
  cairn-policy/generated/cairn-policy.json
  cairn-policy/lifecycle-store-contracts.ncl
  cairn-policy/nominal-evidence-identities.ncl
Due: markdownlint

Propose adopting the standalone batch orchestration pilot
  .cairn/changes/adopt-standalone-batch-orchestration/design.md
  .cairn/changes/adopt-standalone-batch-orchestration/metadata.json
  .cairn/changes/adopt-standalone-batch-orchestration/proposal.md
  .cairn/changes/adopt-standalone-batch-orchestration/specs/batch-orchestration-adoption/spec.md
  .cairn/changes/adopt-standalone-batch-orchestration/tasks.md
Due: markdownlint

Propose Prolly integrity, work-reduction, and committed-stream adoption
  .cairn/changes/committed-change-stream/design.md
  .cairn/changes/committed-change-stream/metadata.json
  .cairn/changes/committed-change-stream/proposal.md
  .cairn/changes/committed-change-stream/specs/committed-change-stream/spec.md
  .cairn/changes/committed-change-stream/tasks.md
  .cairn/changes/harden-prolly-publication-integrity/design.md
  .cairn/changes/harden-prolly-publication-integrity/metadata.json
  .cairn/changes/harden-prolly-publication-integrity/proposal.md
  .cairn/changes/harden-prolly-publication-integrity/specs/prolly-publication-integrity/spec.md
  .cairn/changes/harden-prolly-publication-integrity/tasks.md
  .cairn/changes/prolly-storage-work-reduction/design.md
  .cairn/changes/prolly-storage-work-reduction/metadata.json
  .cairn/changes/prolly-storage-work-reduction/proposal.md
  .cairn/changes/prolly-storage-work-reduction/specs/prolly-storage-work-reduction/spec.md
  .cairn/changes/prolly-storage-work-reduction/tasks.md
Due: markdownlint

Propose causal fault execution and conformance fixes from the FDB review
  .cairn/changes/bind-scheduler-completions-to-lease-epoch/design.md
  .cairn/changes/bind-scheduler-completions-to-lease-epoch/metadata.json
  .cairn/changes/bind-scheduler-completions-to-lease-epoch/proposal.md
  .cairn/changes/bind-scheduler-completions-to-lease-epoch/specs/fabric-simulation/spec.md
  .cairn/changes/bind-scheduler-completions-to-lease-epoch/tasks.md
  .cairn/changes/differentiate-live-simulation-conformance/design.md
  .cairn/changes/differentiate-live-simulation-conformance/metadata.json
  .cairn/changes/differentiate-live-simulation-conformance/proposal.md
  .cairn/changes/differentiate-live-simulation-conformance/specs/fabric-simulation/spec.md
  .cairn/changes/differentiate-live-simulation-conformance/tasks.md
  .cairn/changes/exercise-simulation-faults-causally/design.md
  .cairn/changes/exercise-simulation-faults-causally/metadata.json
  .cairn/changes/exercise-simulation-faults-causally/proposal.md
  .cairn/changes/exercise-simulation-faults-causally/specs/fabric-simulation/spec.md
  .cairn/changes/exercise-simulation-faults-causally/tasks.md
Due: markdownlint

Plan TigerBeetle-review cairn gaps
  .cairn/changes/adopt-command-pattern-resource-reservation/design.md
  .cairn/changes/adopt-command-pattern-resource-reservation/metadata.json
  .cairn/changes/adopt-command-pattern-resource-reservation/proposal.md
  .cairn/changes/adopt-command-pattern-resource-reservation/specs/fabric-time-scheduling/spec.md
  .cairn/changes/adopt-command-pattern-resource-reservation/tasks.md
  .cairn/changes/bind-promotion-logical-identity-across-restarts/design.md
  .cairn/changes/bind-promotion-logical-identity-across-restarts/metadata.json
  .cairn/changes/bind-promotion-logical-identity-across-restarts/proposal.md
  .cairn/changes/bind-promotion-logical-identity-across-restarts/specs/world-commit/spec.md
  .cairn/changes/bind-promotion-logical-identity-across-restarts/tasks.md
  .cairn/changes/exercise-node-processes-under-faults/design.md
  .cairn/changes/exercise-node-processes-under-faults/metadata.json
  .cairn/changes/exercise-node-processes-under-faults/proposal.md
  .cairn/changes/exercise-node-processes-under-faults/specs/testing-harness/spec.md
  .cairn/changes/exercise-node-processes-under-faults/tasks.md
  .cairn/changes/repair-partial-replicas-without-complete-donor/design.md
  .cairn/changes/repair-partial-replicas-without-complete-donor/metadata.json
  .cairn/changes/repair-partial-replicas-without-complete-donor/proposal.md
  .cairn/changes/repair-partial-replicas-without-complete-donor/specs/content-replication/spec.md
  .cairn/changes/repair-partial-replicas-without-complete-donor/tasks.md
Due: markdownlint

Plan OTP-discipline cairns for service failure behavior
  .cairn/changes/admit-recovery-group-supervision/design.md
  .cairn/changes/admit-recovery-group-supervision/metadata.json
  .cairn/changes/admit-recovery-group-supervision/proposal.md
  .cairn/changes/admit-recovery-group-supervision/specs/system-extension-runtime/spec.md
  .cairn/changes/admit-recovery-group-supervision/tasks.md
  .cairn/changes/admit-time-sliced-component-execution/design.md
  .cairn/changes/admit-time-sliced-component-execution/metadata.json
  .cairn/changes/admit-time-sliced-component-execution/proposal.md
  .cairn/changes/admit-time-sliced-component-execution/specs/wasm-component-runtime/spec.md
  .cairn/changes/admit-time-sliced-component-execution/tasks.md
  .cairn/changes/admit-typed-service-facades/design.md
  .cairn/changes/admit-typed-service-facades/metadata.json
  .cairn/changes/admit-typed-service-facades/proposal.md
  .cairn/changes/admit-typed-service-facades/specs/system-extension-runtime/spec.md
  .cairn/changes/admit-typed-service-facades/tasks.md
  .cairn/changes/exercise-service-recovery-composition/design.md
  .cairn/changes/exercise-service-recovery-composition/metadata.json
  .cairn/changes/exercise-service-recovery-composition/proposal.md
  .cairn/changes/exercise-service-recovery-composition/specs/testing-harness/spec.md
  .cairn/changes/exercise-service-recovery-composition/tasks.md
  .cairn/changes/fence-runtime-local-work-across-restarts/design.md
  .cairn/changes/fence-runtime-local-work-across-restarts/metadata.json
  .cairn/changes/fence-runtime-local-work-across-restarts/proposal.md
  .cairn/changes/fence-runtime-local-work-across-restarts/specs/system-extension-runtime/spec.md
  .cairn/changes/fence-runtime-local-work-across-restarts/tasks.md
Due: markdownlint

Record what the Synit manual adds to the dataspace model
  README.md
  docs/synit-incorporation-review.md
Due: markdownlint

Keep Molten integration on its own mainline
  AGENTS.md
Due: markdownlint

Prevent retry overflow from shortening admitted delays
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/core-inputs.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/core-log-payloads.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/core-validation.md
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-clippy.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-clippy.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-final.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-final.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-nextest.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-nextest.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-red.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-core-red.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-implementation-baseline.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-implementation-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-shell-baseline.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/retry-shell-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/tasks.md
  crates/molten-core/src/fabric_time/lease.rs
  crates/molten-core/src/fabric_time/tests.rs
  crates/molten-core/src/fabric_time/tests/retry.rs
  docs/fabric-time-scheduler-runtime.md
Due: rustfmt, cargo-clippy, markdownlint

Observe retry denial before timer and status effects
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/inputs.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-delivery-baseline.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-delivery-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-delivery-green.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-delivery-green.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-shell-current-baseline-warm.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-shell-current-baseline-warm.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-shell-current-baseline.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/logs/retry-shell-current-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/validation.md
  src/coordination_delivery/tests/mod.rs
  src/coordination_delivery/tests/retry.rs
  src/coordination_delivery/tests/retry/harness.rs
  src/coordination_delivery/tests/support.rs
  src/coordination_delivery/tests/trace.rs
Due: rustfmt, cargo-clippy, markdownlint

Reject wrong causes in exemption fixture checks
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/inputs.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/exemption-fixture-review.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/exemption-fixture-review.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-array-type.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-array-type.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-baseline.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-empty-owner.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-empty-owner.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-missing-owner.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-missing-owner.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-nix-final.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-nix-final.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-nix-gate.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-nix-gate.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-positive.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-positive.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-value-check.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/logs/nickel-consumer-value-check.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/payloads.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/validation.md
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/exemption-fixtures/value-check.json
  cairn-policy/UPSTREAM.md
  cairn-policy/fixtures/invalid-exemption-array-type.ncl
  cairn-policy/fixtures/invalid-exemption-missing-owner.ncl
  cairn-policy/fixtures/invalid-exemption-owner.ncl
  cairn-policy/fixtures/valid-exemption-replacement.ncl
  flake.nix
Due: markdownlint

Keep validation checks tied to observed outcomes
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/boundary-log-archives.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/delivery/validation.md
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/inputs.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/cairn-boundary-validation.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/cairn-boundary-validation.json.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/cairn-boundary-validation.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/clippy-source-baseline.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/clippy-source-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/process-fixture-baseline.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/process-fixture-baseline.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/process-fixture-green.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/process-fixture-green.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-clippy-final.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-clippy-final.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-clippy-process-repaired.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-clippy-process-repaired.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-clippy-repaired.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-clippy-repaired.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-tests-current.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-tests-current.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-tests-repaired.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-tests-repaired.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-tests-warm.exit
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/logs/workspace-tests-warm.log.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/gate-repairs/validation.md
  src/fabric_consistency/chaoscontrol/identity.rs
  src/fabric_consistency/chaoscontrol/ledger.rs
  src/fabric_execution/tests/live.rs
Due: rustfmt, cargo-clippy, markdownlint

Reject retry history from a different time domain
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/domain-binding/inputs.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/domain-binding/logs.tar.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/domain-binding/payloads.b3
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/domain-binding/public-artifacts.tar.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/domain-binding/review-lifecycle.tar.gz
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/domain-binding/validation.md
  .cairn/changes/saturate-exponential-retry-arithmetic/tasks.md
  docs/fabric-time-scheduler-runtime.md
  src/fabric_time/canonical.rs
  src/fabric_time/canonical/retry.rs
  src/fabric_time/fixture/retry.rs
  src/fabric_time/tests/retry.rs
  src/fabric_time/tests/retry/admission.rs
  src/fabric_time/tests/retry/replay.rs
  src/fabric_time/tests/retry/support.rs
Due: rustfmt, cargo-clippy, markdownlint

Reject Tracey checks without native specification input
  evidence/tracey/native-input-correction/inputs.b3
  evidence/tracey/native-input-correction/logs.tar.gz
  evidence/tracey/native-input-correction/payloads.b3
  evidence/tracey/native-input-correction/red-source.tar.gz
  evidence/tracey/native-input-correction/validation.md
  tools/tracey/classifier_input_tests.rs
  tools/tracey/guard_input_tests.rs
  tools/tracey/inherited_debt_classifier.rs
  tools/tracey/inherited_debt_guard.rs
  tools/tracey/input_test_support.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep accepted heading definitions visible to Tracey
  evidence/tracey/heading-marker-correction/accepted-specs.b3
  evidence/tracey/heading-marker-correction/inputs.b3
  evidence/tracey/heading-marker-correction/inventory.tar.gz
  evidence/tracey/heading-marker-correction/logs.tar.gz
  evidence/tracey/heading-marker-correction/payloads.b3
  evidence/tracey/heading-marker-correction/validation.md
  tools/tracey/classifier_input_tests.rs
  tools/tracey/definition_marker.rs
  tools/tracey/definition_marker_tests.rs
  tools/tracey/guard_input_tests.rs
  tools/tracey/inherited_debt_classifier.rs
  tools/tracey/inherited_debt_guard.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep Cargo metadata failures reproducible without transport
  evidence/cargo/package-id-source-probe/experiment.tar.gz
  evidence/cargo/package-id-source-probe/inputs.b3
  evidence/cargo/package-id-source-probe/payloads.b3
  evidence/cargo/package-id-source-probe/validation.md
Due: markdownlint

Distinguish parser rejection from a proven contract defect
  evidence/cargo/package-id-source-probe/payloads.b3
  evidence/cargo/package-id-source-probe/validation.md
Due: markdownlint

Keep pathless dependency identities usable by Cargo
  .cairn/changes/repair-cargo-pathless-package-identities/design.md
  .cairn/changes/repair-cargo-pathless-package-identities/evidence/experiment.tar.gz
  .cairn/changes/repair-cargo-pathless-package-identities/evidence/inputs.b3
  .cairn/changes/repair-cargo-pathless-package-identities/evidence/payloads.b3
  .cairn/changes/repair-cargo-pathless-package-identities/evidence/validation.md
  .cairn/changes/repair-cargo-pathless-package-identities/metadata.json
  .cairn/changes/repair-cargo-pathless-package-identities/proposal.md
  .cairn/changes/repair-cargo-pathless-package-identities/specs/development-toolchain/spec.md
  .cairn/changes/repair-cargo-pathless-package-identities/tasks.md
  README.md
  flake.lock
  flake.nix
  nix/cargo-pathless/README.md
  nix/cargo-pathless/default.nix
  nix/cargo-pathless/patched-sources.b3
  nix/cargo-pathless/pathless-package-id.patch
Due: markdownlint

Keep exact native hashing within existing test limits
  .cairn/changes/repair-cargo-pathless-package-identities/tasks.md
  Cargo.toml
  README.md
  evidence/native-fixture-hashing/experiment.tar.gz
  evidence/native-fixture-hashing/inputs.b3
  evidence/native-fixture-hashing/payloads.b3
  evidence/native-fixture-hashing/validation.md
Due: cargo-toml-sorted, cargo-deny, markdownlint

Keep warning-only runs outside strict acceptance
  evidence/octet/native-hash-candidate/experiment.tar.gz
  evidence/octet/native-hash-candidate/inputs.b3
  evidence/octet/native-hash-candidate/payloads.b3
  evidence/octet/native-hash-candidate/validation.md
Due: markdownlint

Keep private Raft errors outside panic paths
  README.md
  evidence/octet/raft-message-rejections/experiment.tar.gz
  evidence/octet/raft-message-rejections/inputs.b3
  evidence/octet/raft-message-rejections/payloads.b3
  evidence/octet/raft-message-rejections/validation.md
  src/fabric_consistency/raft/canonical.rs
  src/fabric_consistency/raft/canonical/rejections.rs
  src/fabric_consistency/raft/compatibility.rs
  src/fabric_consistency/raft/compatibility/fixtures/append-empty.preserves
  src/fabric_consistency/raft/compatibility/fixtures/append-entries.preserves
  src/fabric_consistency/raft/compatibility/fixtures/append-response.preserves
  src/fabric_consistency/raft/compatibility/fixtures/install-snapshot.preserves
  src/fabric_consistency/raft/compatibility/fixtures/read-acknowledgement.preserves
  src/fabric_consistency/raft/compatibility/fixtures/read-probe.preserves
  src/fabric_consistency/raft/compatibility/fixtures/request-vote.preserves
  src/fabric_consistency/raft/compatibility/fixtures/snapshot-empty.preserves
  src/fabric_consistency/raft/compatibility/fixtures/snapshot-response.preserves
  src/fabric_consistency/raft/compatibility/fixtures/vote-response.preserves
  src/fabric_consistency/raft/compatibility/wire.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/transition/message.rs
  src/fabric_consistency/raft/transition/message/compatibility.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep transfer test errors verifiable without panics
  README.md
  evidence/octet/content-test-errors/experiment.tar.gz
  evidence/octet/content-test-errors/inputs.b3
  evidence/octet/content-test-errors/payloads.b3
  evidence/octet/content-test-errors/validation.md
  tests/content_replication.rs
  tests/content_replication/outcomes.rs
Due: rustfmt, cargo-clippy, markdownlint

Keep Wasm square roots total without an unwrap
  README.md
  evidence/octet/wasm-integer-sqrt/experiment.tar.gz
  evidence/octet/wasm-integer-sqrt/inputs.b3
  evidence/octet/wasm-integer-sqrt/payloads.b3
  evidence/octet/wasm-integer-sqrt/validation.md
  src/wasm/performance/comparison.rs
  src/wasm/performance/comparison/roots.rs
  src/wasm/performance/tests/comparison.rs
  src/wasm/performance/tests/comparison/exact.rs
Due: rustfmt, cargo-clippy, markdownlint
