Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

Harden net service capabilities
  crates/aspen-client-api/src/messages/to_operation/net_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden CI and jobs capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/src/messages/jobs.rs
  crates/aspen-client-api/src/messages/to_operation/ci_ops.rs
  crates/aspen-client-api/src/messages/to_operation/jobs_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden blob docs and hooks capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-client-api/src/messages/docs.rs
  crates/aspen-client-api/src/messages/hooks.rs
  crates/aspen-client-api/src/messages/to_operation/blob_ops.rs
  crates/aspen-client-api/src/messages/to_operation/docs_ops.rs
  crates/aspen-client-api/src/messages/to_operation/hooks_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden coordination capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-client-api/src/messages/coordination.rs
  crates/aspen-client-api/src/messages/lease.rs
  crates/aspen-client-api/src/messages/to_operation/coordination_ops.rs
  crates/aspen-client-api/src/messages/to_operation/lease_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden observability capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-client-api/src/messages/to_operation/observability_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden cache capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/src/messages/to_operation/ci_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden automerge capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-client-api/src/messages/automerge.rs
  crates/aspen-client-api/src/messages/to_operation/automerge_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden KV metadata capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-client-api/src/messages/to_operation/kv_ops.rs
  crates/aspen-client-api/src/messages/to_operation/sql_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Add public auth drift guard
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  openspec/changes/full-aspen-hardening-audit/evidence/negative-drift-tests.json
  openspec/changes/full-aspen-hardening-audit/evidence/negative-drift-tests.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Redact token ticket debug output
  crates/aspen-auth-core/src/token.rs
  crates/aspen-client/src/ticket.rs
  crates/aspen-ticket/src/signed.rs
  openspec/changes/full-aspen-hardening-audit/evidence/token-ticket-redaction.json
  openspec/changes/full-aspen-hardening-audit/evidence/token-ticket-redaction.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden token ticket persistence surfaces
  crates/aspen-docs/src/importer.rs
  crates/aspen-docs/src/store/initialization.rs
  crates/aspen-hooks-ticket/src/lib.rs
  openspec/changes/full-aspen-hardening-audit/evidence/token-ticket-persistence-permissions.json
  openspec/changes/full-aspen-hardening-audit/evidence/token-ticket-persistence-permissions.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Redact Forge web clone tickets
  crates/aspen-forge-web/src/routes.rs
  crates/aspen-forge-web/src/templates.rs
  openspec/changes/full-aspen-hardening-audit/evidence/cli-log-output-redaction.json
  openspec/changes/full-aspen-hardening-audit/evidence/cli-log-output-redaction.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Redact dogfood receipt credentials
  crates/aspen-dogfood/src/error.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-dogfood/src/main.rs
  openspec/changes/full-aspen-hardening-audit/evidence/dogfood-receipt-redaction.json
  openspec/changes/full-aspen-hardening-audit/evidence/dogfood-receipt-redaction.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden CI shell executor workspace validation
  crates/aspen-ci-executor-shell/src/agent/executor.rs
  openspec/changes/full-aspen-hardening-audit/evidence/execution-sandbox-command-boundaries.json
  openspec/changes/full-aspen-hardening-audit/evidence/execution-sandbox-command-boundaries.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Register authenticated Raft ALPN in node router
  openspec/changes/full-aspen-hardening-audit/evidence/transport-boundary-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/transport-boundary-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy, markdownlint

Add supply chain boundary audit
  openspec/changes/full-aspen-hardening-audit/evidence/supply-chain-boundary-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/supply-chain-boundary-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
  scripts/audit-supply-chain-boundaries.py
Due: markdownlint

Close Aspen hardening audit findings
  openspec/changes/full-aspen-hardening-audit/evidence/acceptance-gate.json
  openspec/changes/full-aspen-hardening-audit/evidence/acceptance-gate.md
  openspec/changes/full-aspen-hardening-audit/evidence/audit-report.json
  openspec/changes/full-aspen-hardening-audit/evidence/audit-report.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: markdownlint

Archive Aspen hardening audit
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/.openspec.yaml
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/design.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/acceptance-gate.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/acceptance-gate.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/audit-inventory.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/audit-inventory.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/audit-report.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/audit-report.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/auth-before-dispatch.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/auth-before-dispatch.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/authority-boundary-classification.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/authorization-matrix.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/authorization-matrix.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/cli-log-output-redaction.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/cli-log-output-redaction.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/dogfood-receipt-redaction.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/dogfood-receipt-redaction.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/execution-sandbox-command-boundaries.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/execution-sandbox-command-boundaries.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/negative-drift-tests.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/negative-drift-tests.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/reserved-prefix-audit.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/reserved-prefix-audit.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/supply-chain-boundary-audit.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/supply-chain-boundary-audit.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/threat-model.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/token-ticket-persistence-permissions.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/token-ticket-persistence-permissions.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/token-ticket-redaction.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/token-ticket-redaction.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/transport-boundary-audit.json
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/evidence/transport-boundary-audit.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/proposal.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/specs/aspen-hardening-audit/spec.md
  openspec/changes/archive/2026-05-05-full-aspen-hardening-audit/tasks.md
  openspec/specs/aspen-hardening-audit/spec.md
Due: markdownlint

Add OpenSpec canonical hygiene guard
  flake.nix
  openspec/specs/architecture-modularity/spec.md
  openspec/specs/blob/spec.md
  openspec/specs/ci-log-watch/spec.md
  openspec/specs/core/spec.md
  openspec/specs/dogfood-local-connectivity/spec.md
  openspec/specs/federation-clone-integrity/spec.md
  openspec/specs/forge/spec.md
  openspec/specs/openspec-governance/spec.md
  openspec/specs/plugins/spec.md
  openspec/specs/proxy/spec.md
  openspec/specs/sql/spec.md
  openspec/specs/ticket-encoding/spec.md
  openspec/specs/transport/spec.md
  openspec/specs/worker-readiness/spec.md
  scripts/check-openspec-canonical-hygiene.py
Due: markdownlint

Record dogfood stage durations
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/receipt.rs
  openspec/changes/archive/2026-05-05-record-dogfood-stage-duration/.openspec.yaml
  openspec/changes/archive/2026-05-05-record-dogfood-stage-duration/design.md
  openspec/changes/archive/2026-05-05-record-dogfood-stage-duration/proposal.md
  openspec/changes/archive/2026-05-05-record-dogfood-stage-duration/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-05-record-dogfood-stage-duration/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Add CI receipt artifact evidence
  crates/aspen-ci-handler/src/executor.rs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/tests/client_rpc_postcard_baseline.rs
  openspec/changes/archive/2026-04-25-extend-no-std-foundation-and-wire/evidence/client-rpc-postcard-baseline.json
  openspec/changes/archive/2026-05-05-add-ci-receipt-artifacts/.openspec.yaml
  openspec/changes/archive/2026-05-05-add-ci-receipt-artifacts/design.md
  openspec/changes/archive/2026-05-05-add-ci-receipt-artifacts/proposal.md
  openspec/changes/archive/2026-05-05-add-ci-receipt-artifacts/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-05-add-ci-receipt-artifacts/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Handle extended token capabilities
  crates/aspen-cli/src/bin/aspen-cli/commands/token.rs
Due: rustfmt, cargo-clippy

Fix dogfood clippy gates
  crates/aspen-client-api/src/messages/batch.rs
  src/bin/aspen-token.rs
Due: rustfmt, cargo-clippy

Share token capability formatting
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/token.rs
  src/bin/aspen-token.rs
Due: rustfmt, cargo-clippy

Test CI receipt artifact evidence
  crates/aspen-ci-handler/src/handler/pipeline.rs
Due: rustfmt, cargo-clippy

Document operator receipt evidence
  README.md
  docs/operator-receipts.md
  tests/operator_receipts_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

Fix operator receipt doc guardrail in Nix
  tests/operator_receipts_docs.rs
Due: rustfmt, cargo-clippy

Guard dogfood receipt operator output
  crates/aspen-dogfood/src/main.rs
Due: rustfmt, cargo-clippy

Guard CI receipt artifact output
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
Due: rustfmt, cargo-clippy

Record operator receipt acceptance trail
  docs/operator-receipts.md
  tests/operator_receipts_docs.rs
Due: rustfmt, cargo-clippy, markdownlint

gate Tigerstyle policy artifacts in Aspen
  AGENTS.md
  flake.lock
  flake.nix
Due: markdownlint

openspec: define typed nickel contract boundaries
  openspec/changes/type-nickel-contract-boundaries/.openspec.yaml
  openspec/changes/type-nickel-contract-boundaries/design.md
  openspec/changes/type-nickel-contract-boundaries/proposal.md
  openspec/changes/type-nickel-contract-boundaries/specs/dogfood-evidence/spec.md
  openspec/changes/type-nickel-contract-boundaries/specs/typed-nickel-contracts/spec.md
  openspec/changes/type-nickel-contract-boundaries/tasks.md
Due: markdownlint

openspec: note crunch nickel prior art
  openspec/changes/type-nickel-contract-boundaries/design.md
  openspec/changes/type-nickel-contract-boundaries/tasks.md
Due: markdownlint

openspec: require crunch nickel classification
  openspec/changes/type-nickel-contract-boundaries/proposal.md
  openspec/changes/type-nickel-contract-boundaries/specs/typed-nickel-contracts/spec.md
Due: markdownlint

openspec: add typed nickel contract registry
  docs/typed-nickel-contract-registry.md
  openspec/changes/type-nickel-contract-boundaries/evidence/registry-slice-verification.md
  openspec/changes/type-nickel-contract-boundaries/tasks.md
  schemas/typed-nickel-contract-registry.ncl
  scripts/check-typed-nickel-contract-registry.py
Due: markdownlint

openspec: generate receipt nickel contracts
  docs/typed-nickel-contract-registry.md
  openspec/changes/type-nickel-contract-boundaries/evidence/rust-derived-receipt-contracts-verification.md
  openspec/changes/type-nickel-contract-boundaries/tasks.md
  schemas/ci-run-receipt.ncl
  schemas/dogfood-run-receipt.ncl
  schemas/typed-nickel-contract-registry.ncl
  scripts/generate-typed-nickel-contracts.py
Due: markdownlint

openspec: harden deploy nickel contract
  crates/aspen-ci/src/orchestrator/deploy_executor.rs
  docs/typed-nickel-contract-registry.md
  openspec/changes/type-nickel-contract-boundaries/evidence/deploy-protocol-contract-verification.md
  openspec/changes/type-nickel-contract-boundaries/tasks.md
  schemas/deploy-protocol.ncl
  schemas/typed-nickel-contract-registry.ncl
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive typed nickel contracts
  crates/aspen-ci/src/config/schema/ci_schema.ncl
  crates/aspen-nickel/src/schema/node_config.ncl
  docs/crate-extraction/policy.ncl
  docs/typed-nickel-contract-registry.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/.openspec.yaml
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/design.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/crate-extraction-readiness.json
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/crate-extraction-readiness.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/deploy-protocol-contract-verification.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/nickel-authored-contracts-verification.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/registry-slice-verification.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/rust-derived-receipt-contracts-verification.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/trust-crypto-secrets-compatibility.txt
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/trust-crypto-secrets-downstream-metadata.json
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/evidence/trust-crypto-secrets-forbidden-boundary.txt
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/proposal.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/specs/typed-nickel-contracts/spec.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/tasks.md
  openspec/changes/archive/2026-05-05-type-nickel-contract-boundaries/verification.md
  openspec/changes/type-nickel-contract-boundaries/tasks.md
  openspec/specs/dogfood-evidence/spec.md
  openspec/specs/typed-nickel-contracts/spec.md
  schemas/feature-bundles.ncl
  schemas/operator-diagnostics-evidence.ncl
  schemas/snix-build-executor-policy.ncl
  schemas/trust-bootstrap-policy.ncl
  schemas/typed-nickel-contract-registry.ncl
  scripts/check-typed-nickel-contract-fixtures.py
  test-harness/generated/inventory.json
  test-harness/schema.ncl
Due: markdownlint

nix: update tigerstyle input
  flake.lock
  flake.nix
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
