Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

WIP: 3-node Raft cluster + AspenFs VirtioFS + nginx microVM test
  flake.nix
  nix/tests/microvm-cluster.nix
Due: none

microvm-cluster-test: 3-node Raft cluster + AspenFs VirtioFS integration
  nix/tests/microvm-cluster.nix
Due: none

End-to-end: Raft cluster → AspenFs VirtioFS → Cloud Hypervisor → nginx
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/bin/aspen-cluster-virtiofs-server.rs
  crates/aspen-fuse/src/client.rs
  flake.nix
  nix/tests/microvm-raft-virtiofs.nix
Due: rustfmt, cargo-clippy

AspenFs: transparent file chunking for files > 512KB
  Cargo.lock
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/chunking.rs
  crates/aspen-fuse/src/constants.rs
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/fs/operations.rs
  crates/aspen-fuse/src/fs/tests.rs
  crates/aspen-fuse/src/lib.rs
Due: rustfmt, cargo-clippy, cargo-deny

napkin: lessons from VM integration tests and chunking
  .agent/napkin.md
Due: markdownlint

AspenFs: write buffering, prefetch readahead, POSIX file locking
  crates/aspen-fuse/src/constants.rs.backup
  crates/aspen-fuse/src/fs/mod.rs.backup
  crates/aspen-fuse/src/fs/operations.rs
  crates/aspen-fuse/src/lib.rs.backup
  crates/aspen-fuse/src/locking.rs
  crates/aspen-fuse/src/prefetch.rs
  crates/aspen-fuse/src/writeback.rs
Due: rustfmt, cargo-clippy

clean up backup files
  crates/aspen-fuse/src/constants.rs.backup
  crates/aspen-fuse/src/fs/mod.rs.backup
  crates/aspen-fuse/src/lib.rs.backup
Due: none

VM integration test: VirtioFS stress test with guest-side writes
  flake.nix
  nix/tests/microvm-virtiofs-stress.nix
  openspec/changes/aspen-net-service-mesh/.openspec.yaml
  openspec/changes/aspen-net-service-mesh/design.md
  openspec/changes/aspen-net-service-mesh/proposal.md
  openspec/changes/aspen-net-service-mesh/specs/net-auth/spec.md
  openspec/changes/aspen-net-service-mesh/specs/net-daemon/spec.md
  openspec/changes/aspen-net-service-mesh/specs/net-dns/spec.md
  openspec/changes/aspen-net-service-mesh/specs/net-forward/spec.md
  openspec/changes/aspen-net-service-mesh/specs/net-registry/spec.md
  openspec/changes/aspen-net-service-mesh/specs/net-socks5/spec.md
  openspec/changes/aspen-net-service-mesh/tasks.md
Due: markdownlint

Regenerate build-plan.json after adding serde dep to aspen-fuse
  build-plan.json
  openspec/changes/aspen-net-service-mesh/design.md
  openspec/changes/aspen-net-service-mesh/proposal.md
  openspec/changes/aspen-net-service-mesh/specs/net-dns/spec.md
  openspec/changes/aspen-net-service-mesh/tasks.md
Due: markdownlint

aspen-fuse: add background flush timer for write-ahead buffer
  .agent/napkin.md
  crates/aspen-fuse/src/fs/mod.rs
  crates/aspen-fuse/src/fs/operations.rs
  crates/aspen-fuse/src/writeback.rs
Due: rustfmt, cargo-clippy, markdownlint

ci: add CI workspace VirtioFS pipeline test
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/bin/aspen-ci-workspace-server.rs
  flake.nix
  nix/tests/ci-workspace-virtiofs.nix
Due: rustfmt, cargo-clippy

aspen-net: scaffold crate, types, constants, registry, resolver, auth, socks5, forward
  .agent/napkin.md
  Cargo.lock
  Cargo.toml
  crates/aspen-auth/src/capability.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-net/Cargo.toml
  crates/aspen-net/src/auth.rs
  crates/aspen-net/src/constants.rs
  crates/aspen-net/src/daemon.rs
  crates/aspen-net/src/forward.rs
  crates/aspen-net/src/lib.rs
  crates/aspen-net/src/registry.rs
  crates/aspen-net/src/resolver.rs
  crates/aspen-net/src/socks5.rs
  crates/aspen-net/src/types.rs
  crates/aspen-net/src/verified/mod.rs
  crates/aspen-net/src/verified/service_name.rs
  openspec/changes/aspen-net-service-mesh/design.md
  openspec/changes/aspen-net-service-mesh/proposal.md
  openspec/changes/aspen-net-service-mesh/tasks.md
  src/bin/aspen-token.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

aspen-net: RPC types, daemon orchestration, documentation
  openspec/changes/aspen-net-service-mesh/tasks.md
Due: markdownlint

aspen-net: wire RPC variants, handler, CLI subcommands, daemon binary
  AGENTS.md
  Cargo.lock
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/net.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/token.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/net.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  crates/aspen-client-api/src/messages/to_operation/net_ops.rs
  crates/aspen-net/Cargo.toml
  crates/aspen-net/bin/aspen-net.rs
  crates/aspen-net/src/handler.rs
  crates/aspen-net/src/lib.rs
  openspec/changes/aspen-net-service-mesh/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

aspen-net: DNS integration with loopback allocator and auto-record management
  Cargo.lock
  crates/aspen-net/Cargo.toml
  crates/aspen-net/src/dns.rs
  crates/aspen-net/src/lib.rs
  openspec/changes/aspen-net-service-mesh/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

aspen-net: net feature implies proxy for UpstreamProxy reuse
  Cargo.toml
  openspec/changes/aspen-net-service-mesh/tasks.md
Due: cargo-toml-sorted, cargo-deny, markdownlint

aspen-net: wire DNS into daemon and add integration tests
  Cargo.lock
  crates/aspen-net/Cargo.toml
  crates/aspen-net/bin/aspen-net.rs
  crates/aspen-net/src/daemon.rs
  crates/aspen-net/tests/integration.rs
  nix/tests/net-service-mesh.nix
  openspec/changes/aspen-net-service-mesh/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

nix: stub aspen-dns so Nix sandbox can resolve aspen-net manifest
  flake.nix
Due: none

archive completed changes: aspen-net-service-mesh, cluster-relay-server, token-cli
  openspec/changes/archive/aspen-net-service-mesh/.openspec.yaml
  openspec/changes/archive/aspen-net-service-mesh/design.md
  openspec/changes/archive/aspen-net-service-mesh/proposal.md
  openspec/changes/archive/aspen-net-service-mesh/specs/net-auth/spec.md
  openspec/changes/archive/aspen-net-service-mesh/specs/net-daemon/spec.md
  openspec/changes/archive/aspen-net-service-mesh/specs/net-dns/spec.md
  openspec/changes/archive/aspen-net-service-mesh/specs/net-forward/spec.md
  openspec/changes/archive/aspen-net-service-mesh/specs/net-registry/spec.md
  openspec/changes/archive/aspen-net-service-mesh/specs/net-socks5/spec.md
  openspec/changes/archive/aspen-net-service-mesh/tasks.md
  openspec/changes/archive/cluster-relay-server/.openspec.yaml
  openspec/changes/archive/cluster-relay-server/design.md
  openspec/changes/archive/cluster-relay-server/proposal.md
  openspec/changes/archive/cluster-relay-server/specs/relay-server/spec.md
  openspec/changes/archive/cluster-relay-server/specs/transport/spec.md
  openspec/changes/archive/cluster-relay-server/tasks.md
  openspec/changes/archive/token-cli/.openspec.yaml
  openspec/changes/archive/token-cli/design.md
  openspec/changes/archive/token-cli/proposal.md
  openspec/changes/archive/token-cli/specs/token-management/spec.md
  openspec/changes/archive/token-cli/tasks.md
Due: markdownlint

propose net-e2e-vm-test: SOCKS5 routing through real Raft cluster
  openspec/changes/net-e2e-vm-test/.openspec.yaml
  openspec/changes/net-e2e-vm-test/design.md
  openspec/changes/net-e2e-vm-test/proposal.md
  openspec/changes/net-e2e-vm-test/specs/vm-test/spec.md
  openspec/changes/net-e2e-vm-test/tasks.md
Due: markdownlint

aspen-net: tunnel protocol, client KV adapter, and SOCKS5 tunnel wiring
  Cargo.lock
  crates/aspen-net/Cargo.toml
  crates/aspen-net/src/client_kv.rs
  crates/aspen-net/src/lib.rs
  crates/aspen-net/src/socks5.rs
  crates/aspen-net/src/tunnel.rs
  crates/aspen-net/tests/integration.rs
  crates/aspen-transport/src/constants.rs
  openspec/changes/net-e2e-vm-test/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

wire NetHandler into node via inventory, register TunnelAcceptor on iroh Router
  Cargo.lock
  Cargo.toml
  crates/aspen-net/src/handler.rs
  crates/aspen-net/src/lib.rs
  crates/aspen-net/src/registry.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  flake.nix
  openspec/changes/net-e2e-vm-test/tasks.md
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

aspen-net: wire daemon to cluster via AspenClient, start real SOCKS5 proxy
  Cargo.lock
  crates/aspen-client/src/client.rs
  crates/aspen-net/Cargo.toml
  crates/aspen-net/src/auth.rs
  crates/aspen-net/src/daemon.rs
  crates/aspen-net/tests/integration.rs
  openspec/changes/net-e2e-vm-test/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

wire net-service-mesh VM test into flake, rewrite test script
  crates/aspen-net/bin/aspen-net.rs
  flake.nix
  nix/tests/net-service-mesh.nix
  openspec/changes/net-e2e-vm-test/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

mark all net-e2e-vm-test tasks complete (52/52)
  openspec/changes/net-e2e-vm-test/tasks.md
Due: markdownlint

archive net-e2e-vm-test (52/52 tasks complete)
  openspec/changes/archive/2026-03-03-net-e2e-vm-test/.openspec.yaml
  openspec/changes/archive/2026-03-03-net-e2e-vm-test/design.md
  openspec/changes/archive/2026-03-03-net-e2e-vm-test/proposal.md
  openspec/changes/archive/2026-03-03-net-e2e-vm-test/specs/vm-test/spec.md
  openspec/changes/archive/2026-03-03-net-e2e-vm-test/tasks.md
Due: markdownlint

propose microvm-net-mesh: service mesh routing across Cloud Hypervisor microVMs
  openspec/changes/microvm-net-mesh/design.md
  openspec/changes/microvm-net-mesh/proposal.md
  openspec/changes/microvm-net-mesh/tasks.md
Due: markdownlint

microvm-net-mesh: service mesh routing across Cloud Hypervisor microVMs
  crates/aspen-net/bin/aspen-net.rs
  flake.nix
  nix/tests/microvm-net-mesh.nix
  nix/tests/net-service-mesh.nix
  openspec/changes/microvm-net-mesh/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

napkin: lessons from microvm-net-mesh VM test debugging
  .agent/napkin.md
Due: markdownlint

fix: move microvm-net-mesh-test into hasExternalRepos block (pure eval)
  flake.nix
Due: none

archive microvm-net-mesh, propose microvm-virtiofs-net + multihost-microvm-mesh
  openspec/changes/archive/2026-03-03-microvm-net-mesh/design.md
  openspec/changes/archive/2026-03-03-microvm-net-mesh/proposal.md
  openspec/changes/archive/2026-03-03-microvm-net-mesh/tasks.md
  openspec/changes/microvm-virtiofs-net/.openspec.yaml
  openspec/changes/microvm-virtiofs-net/design.md
  openspec/changes/microvm-virtiofs-net/proposal.md
  openspec/changes/microvm-virtiofs-net/tasks.md
  openspec/changes/multihost-microvm-mesh/.openspec.yaml
  openspec/changes/multihost-microvm-mesh/design.md
  openspec/changes/multihost-microvm-mesh/proposal.md
  openspec/changes/multihost-microvm-mesh/tasks.md
Due: markdownlint

microvm-virtiofs-net + multihost-microvm-mesh: VirtioFS+mesh and cross-host VM tests
  flake.nix
  nix/tests/microvm-virtiofs-net.nix
  nix/tests/multihost-microvm-mesh.nix
  openspec/changes/microvm-virtiofs-net/tasks.md
  openspec/changes/multihost-microvm-mesh/tasks.md
Due: markdownlint

contacts & calendar: domain crates, RPC types, vCard/iCal parsers
  Cargo.lock
  Cargo.toml
  crates/aspen-calendar/Cargo.toml
  crates/aspen-calendar/src/error.rs
  crates/aspen-calendar/src/ical/mod.rs
  crates/aspen-calendar/src/ical/parse.rs
  crates/aspen-calendar/src/ical/rrule.rs
  crates/aspen-calendar/src/ical/serialize.rs
  crates/aspen-calendar/src/lib.rs
  crates/aspen-calendar/src/types.rs
  crates/aspen-client-api/src/messages/calendar.rs
  crates/aspen-client-api/src/messages/contacts.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/calendar_ops.rs
  crates/aspen-client-api/src/messages/to_operation/contacts_ops.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  crates/aspen-contacts/Cargo.toml
  crates/aspen-contacts/src/error.rs
  crates/aspen-contacts/src/lib.rs
  crates/aspen-contacts/src/types.rs
  crates/aspen-contacts/src/vcard/mod.rs
  crates/aspen-contacts/src/vcard/parse.rs
  crates/aspen-contacts/src/vcard/serialize.rs
  nix/tests/microvm-virtiofs-net.nix
  openspec/changes/contacts-calendar-plugins/design.md
  openspec/changes/contacts-calendar-plugins/proposal.md
  openspec/changes/contacts-calendar-plugins/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

napkin: lessons from VirtioFS+net VM test and pureBin build fix
  .agent/napkin.md
Due: markdownlint

Add aspen-sops crate for using Aspen Transit as a SOPS backend
  .agent/napkin.md
  Cargo.lock
  Cargo.toml
  crates/aspen-sops/Cargo.toml
  crates/aspen-sops/src/cli.rs
  crates/aspen-sops/src/client.rs
  crates/aspen-sops/src/constants.rs
  crates/aspen-sops/src/decrypt.rs
  crates/aspen-sops/src/edit.rs
  crates/aspen-sops/src/encrypt.rs
  crates/aspen-sops/src/error.rs
  crates/aspen-sops/src/format/mod.rs
  crates/aspen-sops/src/format/toml.rs
  crates/aspen-sops/src/keyservice/mod.rs
  crates/aspen-sops/src/lib.rs
  crates/aspen-sops/src/mac.rs
  crates/aspen-sops/src/main.rs
  crates/aspen-sops/src/metadata.rs
  crates/aspen-sops/src/rotate.rs
  crates/aspen-sops/src/updatekeys.rs
  crates/aspen-sops/src/verified/mac.rs
  crates/aspen-sops/src/verified/mod.rs
  openspec/changes/aspen-sops-backend/design.md
  openspec/changes/aspen-sops-backend/proposal.md
  openspec/changes/aspen-sops-backend/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Add contacts and calendar domain crates, handlers, CLI, and tests
  .agent/napkin.md
  crates/aspen-calendar-handler/Cargo.toml
  crates/aspen-calendar-handler/src/executor.rs
  crates/aspen-calendar-handler/src/lib.rs
  crates/aspen-calendar-handler/tests/integration.rs
  crates/aspen-calendar/Cargo.toml
  crates/aspen-calendar/src/ical/parse.rs
  crates/aspen-calendar/src/lib.rs
  crates/aspen-calendar/src/store.rs
  crates/aspen-calendar/tests/calendar_integration.rs
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/calendar.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/contacts.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-contacts-handler/Cargo.toml
  crates/aspen-contacts-handler/src/executor.rs
  crates/aspen-contacts-handler/src/lib.rs
  crates/aspen-contacts-handler/tests/integration.rs
  crates/aspen-contacts/src/lib.rs
  crates/aspen-contacts/src/store.rs
  crates/aspen-contacts/src/vcard/parse.rs
  crates/aspen-contacts/tests/contacts_integration.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  openspec/changes/contacts-calendar-plugins/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

clippy: fix calendar warnings (collapsible_if, derivable_impls, rem_euclid)
  crates/aspen-calendar/src/ical/rrule.rs
  crates/aspen-calendar/src/ical/serialize.rs
  crates/aspen-calendar/src/store.rs
  crates/aspen-calendar/src/types.rs
Due: rustfmt, cargo-clippy

Remove native calendar and contacts handlers
  .agent/napkin.md
  Cargo.lock
  Cargo.toml
  crates/aspen-calendar-handler/Cargo.toml
  crates/aspen-calendar-handler/src/executor.rs
  crates/aspen-calendar-handler/src/lib.rs
  crates/aspen-calendar-handler/tests/integration.rs
  crates/aspen-calendar/src/ical/rrule.rs
  crates/aspen-calendar/src/store.rs
  crates/aspen-contacts-handler/Cargo.toml
  crates/aspen-contacts-handler/src/executor.rs
  crates/aspen-contacts-handler/src/lib.rs
  crates/aspen-contacts-handler/tests/integration.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-sops/Cargo.toml
  crates/aspen-sops/build.rs
  crates/aspen-sops/proto/keyservice.proto
  crates/aspen-sops/src/client.rs
  crates/aspen-sops/src/decrypt.rs
  crates/aspen-sops/src/edit.rs
  crates/aspen-sops/src/encrypt.rs
  crates/aspen-sops/src/error.rs
  crates/aspen-sops/src/format/common.rs
  crates/aspen-sops/src/format/json.rs
  crates/aspen-sops/src/format/mod.rs
  crates/aspen-sops/src/format/toml.rs
  crates/aspen-sops/src/format/yaml.rs
  crates/aspen-sops/src/keyservice/mod.rs
  crates/aspen-sops/src/keyservice/service.rs
  crates/aspen-sops/src/lib.rs
  crates/aspen-sops/src/mac.rs
  crates/aspen-sops/src/metadata.rs
  crates/aspen-sops/src/rotate.rs
  crates/aspen-sops/src/updatekeys.rs
  openspec/changes/wasm-calendar-contacts-plugins/.openspec.yaml
  openspec/changes/wasm-calendar-contacts-plugins/design.md
  openspec/changes/wasm-calendar-contacts-plugins/proposal.md
  openspec/changes/wasm-calendar-contacts-plugins/tasks.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

complete extract-aspen-crypto: update dht-discovery comment, mark all 33 tasks done
  crates/aspen-dht-discovery/src/hash.rs
  openspec/changes/extract-aspen-crypto/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

fix SOPS Transit VM test: avoid binary-through-JSON comparison
  nix/tests/sops-transit.nix
Due: none
