Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

.pre-commit-config.yaml:

# Pre-commit hooks for Aspen distributed systems project
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^vendor/|\.patch$'
      - id: end-of-file-fixer
        exclude: '^vendor/|\.patch$'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: detect-private-key
        exclude: '^tests/.*\.pem$'  # Allow test keys

  # Nix formatting with alejandra (project uses it per flake.nix)
  - repo: https://github.com/kamadorueda/alejandra
    rev: 3.1.0
    hooks:
      - id: alejandra-nix
        name: alejandra (nix formatter)
        files: \.nix$

  # Rust formatting (uses nightly rustfmt for unstable features in rustfmt.toml)
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (nightly)
        description: Format Rust code with nightly rustfmt
        entry: nix
        args:
          - run
          - .#rustfmt
          - --
          - check
        language: system
        files: \.rs$
        pass_filenames: false

      # Clippy for Rust linting
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: nix
        args:
          - develop
          - -c
          - cargo
          - clippy
          - --all-targets
          - --
          - -D
          - warnings
        language: system
        files: \.rs$
        pass_filenames: false

      # Check that Cargo.toml dependencies are sorted
      - id: cargo-toml-sorted
        name: cargo sort --check
        description: Check Cargo.toml dependencies are sorted
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-sort >/dev/null 2>&1; then
              nix develop -c cargo sort --check --workspace 2>/dev/null || echo "cargo-sort not available, skipping"
            else
              echo "cargo-sort not installed, skipping"
            fi
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      # Deny check for security advisories and banned deps
      - id: cargo-deny
        name: cargo deny check
        description: Check dependencies for security advisories
        entry: sh
        args:
          - -c
          - |
            if command -v cargo-deny >/dev/null 2>&1; then
              nix develop -c cargo deny check advisories bans 2>/dev/null || echo "cargo-deny not available, skipping"
            else
              echo "cargo-deny not installed, skipping"
            fi
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

  # Markdown linting (using system markdownlint from nixpkgs)
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        description: Lint markdown files
        entry: markdownlint
        args: ['--fix']
        language: system
        files: \.md$
        exclude: '^vendor/|^CHANGELOG\.md$'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        exclude: '^vendor/'

# Global settings
fail_fast: false
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

tree-diff-api: rename detection, unified renderer, RPC, CLI
  Cargo.lock
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
  crates/aspen-client-api/src/messages/forge.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-forge-handler/src/handler/mod.rs
  crates/aspen-forge/Cargo.toml
  crates/aspen-forge/src/git/diff.rs
  crates/aspen-forge/src/git/mod.rs
  crates/aspen-forge/src/git/unified.rs
  openspec/changes/tree-diff-api/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

tree-diff-api: NixOS VM integration tests for diff RPC + CLI
  nix/tests/forge-cluster.nix
  openspec/changes/tree-diff-api/tasks.md
Due: markdownlint

openspec: archive tree-diff-api
  openspec/changes/archive/2026-04-03-tree-diff-api/.openspec.yaml
  openspec/changes/archive/2026-04-03-tree-diff-api/design.md
  openspec/changes/archive/2026-04-03-tree-diff-api/proposal.md
  openspec/changes/archive/2026-04-03-tree-diff-api/specs/diff-rpc/spec.md
  openspec/changes/archive/2026-04-03-tree-diff-api/tasks.md
  openspec/specs/diff-rpc/spec.md
Due: markdownlint

openspec: archive durable-execution-engine
  Cargo.lock
  Cargo.toml
  crates/aspen-ci-core/src/config/types.rs
  crates/aspen-ci-executor-shell/src/agent/protocol.rs
  crates/aspen-ci-executor-shell/src/local_executor/mod.rs
  crates/aspen-durable-workflow-test/Cargo.toml
  crates/aspen-durable-workflow-test/src/main.rs
  crates/aspen-jobs/src/durable_executor.rs
  crates/aspen-jobs/src/lib.rs
  crates/aspen-jobs/src/verified/mod.rs
  crates/aspen-jobs/src/verified/recovery.rs
  crates/aspen-jobs/verus/lib.rs
  crates/aspen-jobs/verus/recovery_spec.rs
  flake.nix
  nix/tests/durable-workflow-failover.nix
  openspec/changes/archive/2026-04-03-durable-execution-engine/.openspec.yaml
  openspec/changes/archive/2026-04-03-durable-execution-engine/design.md
  openspec/changes/archive/2026-04-03-durable-execution-engine/proposal.md
  openspec/changes/archive/2026-04-03-durable-execution-engine/specs/coordination/spec.md
  openspec/changes/archive/2026-04-03-durable-execution-engine/specs/durable-workflow-executor/spec.md
  openspec/changes/archive/2026-04-03-durable-execution-engine/specs/durable-workflow-vm-tests/spec.md
  openspec/changes/archive/2026-04-03-durable-execution-engine/specs/jobs/spec.md
  openspec/changes/archive/2026-04-03-durable-execution-engine/tasks.md
  openspec/specs/durable-workflow-executor/spec.md
  openspec/specs/durable-workflow-vm-tests/spec.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

openspec: archive fix-dogfood-local-networking
  openspec/changes/archive/2026-04-03-fix-dogfood-local-networking/.openspec.yaml
  openspec/changes/archive/2026-04-03-fix-dogfood-local-networking/design.md
  openspec/changes/archive/2026-04-03-fix-dogfood-local-networking/proposal.md
  openspec/changes/archive/2026-04-03-fix-dogfood-local-networking/specs/dogfood-local-connectivity/spec.md
  openspec/changes/archive/2026-04-03-fix-dogfood-local-networking/tasks.md
  openspec/specs/dogfood-local-connectivity/spec.md
Due: markdownlint

openspec: archive aspen-dogfood-crate, fix-3node-dogfood-forwarded-response, fix-federation-clone-completeness
  openspec/changes/archive/2026-04-03-aspen-dogfood-crate/.openspec.yaml
  openspec/changes/archive/2026-04-03-aspen-dogfood-crate/design.md
  openspec/changes/archive/2026-04-03-aspen-dogfood-crate/proposal.md
  openspec/changes/archive/2026-04-03-aspen-dogfood-crate/specs/dogfood-cli/spec.md
  openspec/changes/archive/2026-04-03-aspen-dogfood-crate/specs/dogfood-orchestration/spec.md
  openspec/changes/archive/2026-04-03-aspen-dogfood-crate/tasks.md
  openspec/changes/archive/2026-04-03-fix-3node-dogfood-forwarded-response/.openspec.yaml
  openspec/changes/archive/2026-04-03-fix-3node-dogfood-forwarded-response/design.md
  openspec/changes/archive/2026-04-03-fix-3node-dogfood-forwarded-response/proposal.md
  openspec/changes/archive/2026-04-03-fix-3node-dogfood-forwarded-response/specs/ci-pipeline-dedup/spec.md
  openspec/changes/archive/2026-04-03-fix-3node-dogfood-forwarded-response/specs/length-framed-forwarding/spec.md
  openspec/changes/archive/2026-04-03-fix-3node-dogfood-forwarded-response/specs/pipeline-status-validation/spec.md
  openspec/changes/archive/2026-04-03-fix-3node-dogfood-forwarded-response/tasks.md
  openspec/changes/archive/2026-04-03-fix-federation-clone-completeness/.openspec.yaml
  openspec/changes/archive/2026-04-03-fix-federation-clone-completeness/design.md
  openspec/changes/archive/2026-04-03-fix-federation-clone-completeness/proposal.md
  openspec/changes/archive/2026-04-03-fix-federation-clone-completeness/specs/federation-clone-integrity/spec.md
  openspec/changes/archive/2026-04-03-fix-federation-clone-completeness/tasks.md
  openspec/specs/ci-pipeline-dedup/spec.md
  openspec/specs/dogfood-cli/spec.md
  openspec/specs/dogfood-orchestration/spec.md
  openspec/specs/federation-clone-integrity/spec.md
  openspec/specs/length-framed-forwarding/spec.md
  openspec/specs/pipeline-status-validation/spec.md
Due: markdownlint

forge-web: CI observability — duration, errors, cancel, timeline, badges, artifacts, logs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-durable-workflow-test/src/main.rs
  crates/aspen-forge-web/src/routes.rs
  crates/aspen-forge-web/src/state.rs
  crates/aspen-forge-web/src/templates.rs
  nix/tests/forge-web-dashboard.nix
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/.openspec.yaml
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/design.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/proposal.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/specs/ci-artifacts-web/spec.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/specs/ci-commit-status-web/spec.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/specs/ci-dashboard/spec.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/specs/ci-log-enhancements/spec.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/specs/ci-observability-actions/spec.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/specs/ci-stage-timeline/spec.md
  openspec/changes/archive/2026-04-03-forge-web-ci-observability/tasks.md
  openspec/specs/ci-artifacts-web/spec.md
  openspec/specs/ci-commit-status-web/spec.md
  openspec/specs/ci-log-enhancements/spec.md
  openspec/specs/ci-observability-actions/spec.md
  openspec/specs/ci-stage-timeline/spec.md
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive nixos-vm-tests-job-orchestration
  Cargo.lock
  Cargo.toml
  crates/aspen-job-primitives-test/Cargo.toml
  crates/aspen-job-primitives-test/src/main.rs
  crates/aspen-job-primitives-test/src/tests_affinity.rs
  crates/aspen-job-primitives-test/src/tests_dependency.rs
  crates/aspen-job-primitives-test/src/tests_dlq.rs
  crates/aspen-job-primitives-test/src/tests_replay.rs
  crates/aspen-job-primitives-test/src/tests_saga.rs
  crates/aspen-job-primitives-test/src/tests_scheduler.rs
  crates/aspen-job-primitives-test/src/tests_workflow.rs
  flake.nix
  nix/tests/distributed-worker-pool.nix
  nix/tests/job-primitives.nix
  openspec/changes/archive/2026-04-03-nixos-vm-tests-job-orchestration/.openspec.yaml
  openspec/changes/archive/2026-04-03-nixos-vm-tests-job-orchestration/design.md
  openspec/changes/archive/2026-04-03-nixos-vm-tests-job-orchestration/proposal.md
  openspec/changes/archive/2026-04-03-nixos-vm-tests-job-orchestration/specs/job-orchestration-vm-tests/spec.md
  openspec/changes/archive/2026-04-03-nixos-vm-tests-job-orchestration/tasks.md
  openspec/specs/job-orchestration-vm-tests/spec.md
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

fix VM tests: ciVmTestBin package resolution + distributed-worker-pool test
  flake.nix
  nix/tests/distributed-worker-pool.nix
Due: none

harden-testing: add tests for secrets-handler, snix-bridge, and coordination proptests
  crates/aspen-coordination/tests/proptest_model_based.rs
  crates/aspen-secrets-handler/src/handler/mod.rs
  crates/aspen-snix-bridge/src/client_kv.rs
  crates/aspen-snix-bridge/tests/daemon_test.rs
  openspec/changes/harden-testing/.openspec.yaml
  openspec/changes/harden-testing/design.md
  openspec/changes/harden-testing/proposal.md
  openspec/changes/harden-testing/specs/consensus/spec.md
  openspec/changes/harden-testing/specs/coordination/spec.md
  openspec/changes/harden-testing/specs/fault-injection-coverage/spec.md
  openspec/changes/harden-testing/specs/mutation-testing/spec.md
  openspec/changes/harden-testing/specs/serialization-snapshots/spec.md
  openspec/changes/harden-testing/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

harden-testing: add proptest for barriers/rate-limiters and insta snapshot tests
  Cargo.lock
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-api/tests/serialization_snapshots.rs
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__delete_key_request.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__delete_result_response.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__error_response.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__get_health_request.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__get_raft_metrics_request.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__read_key_request.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__read_result_found.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__read_result_not_found.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__scan_keys_request.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__scan_result_response.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__write_key_request.snap
  crates/aspen-client-api/tests/snapshots/serialization_snapshots__write_result_response.snap
  crates/aspen-coordination/tests/proptest_model_based.rs
  openspec/changes/harden-testing/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

harden-testing: add madsim split-brain heal and slow follower scenarios
  openspec/changes/harden-testing/tasks.md
  tests/madsim_failure_injection_test.rs
Due: rustfmt, cargo-clippy, markdownlint

harden-testing: madsim snapshot/membership/clock-drift tests, nextest config, docs
  .config/nextest.toml
  AGENTS.md
  openspec/changes/harden-testing/tasks.md
  tests/madsim_clock_drift_test.rs
  tests/madsim_membership_failure_test.rs
Due: rustfmt, cargo-clippy, markdownlint

harden-testing: error message snapshot tests for coordination and core
  Cargo.lock
  crates/aspen-coordination/Cargo.toml
  crates/aspen-coordination/tests/error_snapshots.rs
  crates/aspen-coordination/tests/snapshots/error_snapshots__lock_held.snap
  crates/aspen-coordination/tests/snapshots/error_snapshots__lock_lost.snap
  crates/aspen-coordination/tests/snapshots/error_snapshots__max_retries.snap
  crates/aspen-coordination/tests/snapshots/error_snapshots__timeout.snap
  crates/aspen-core/Cargo.toml
  crates/aspen-core/tests/error_snapshots.rs
  crates/aspen-core/tests/snapshots/error_snapshots__system_prefix_reserved.snap
  openspec/changes/harden-testing/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

harden-testing: buggify fault injection points and madsim tests
  .config/nextest.toml
  crates/aspen-testing-madsim/src/madsim_tester/buggify.rs
  crates/aspen-testing-madsim/src/madsim_tester/fault_injection.rs
  openspec/changes/harden-testing/tasks.md
  tests/madsim_buggify_faults_test.rs
Due: rustfmt, cargo-clippy, markdownlint

harden-testing: insta redaction rules for UUIDs and node IDs
  Cargo.lock
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-api/tests/snapshot_redaction.rs
  crates/aspen-client-api/tests/snapshots/snapshot_redaction__error_with_node_id_redacted.snap
  crates/aspen-client-api/tests/snapshots/snapshot_redaction__error_with_uuid_redacted.snap
  crates/aspen-client-api/tests/snapshots/snapshot_redaction__write_result_no_redaction_needed.snap
  openspec/changes/harden-testing/tasks.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

harden-testing: add cargo-mutants to devshell
  flake.nix
Due: none

harden-testing: mutation testing infrastructure and mutant-killing tests
  crates/aspen-coordination/src/verified/barrier.rs
  crates/aspen-coordination/src/verified/election.rs
  crates/aspen-coordination/src/verified/rate_limiter.rs
  openspec/changes/harden-testing/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

harden-testing: CLI snapshots, handler tests, mutants profile, complete all 36 tasks
  .config/nextest.toml
  Cargo.lock
  crates/aspen-ci-handler/src/handler/deploy.rs
  crates/aspen-ci-handler/src/lib.rs
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/output.rs
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__cluster_state_human.snap
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__health_human.snap
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__health_json.snap
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__kv_read_found_human.snap
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__kv_read_not_found_human.snap
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__kv_scan_empty_human.snap
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__kv_scan_human.snap
  crates/aspen-cli/src/bin/aspen-cli/snapshots/aspen_cli__output__tests__raft_metrics_human.snap
  crates/aspen-docs-handler/src/executor.rs
  openspec/changes/harden-testing/tasks.md
  scripts/run-mutants.sh
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

openspec: archive harden-testing
  openspec/changes/archive/2026-04-03-harden-testing/.openspec.yaml
  openspec/changes/archive/2026-04-03-harden-testing/design.md
  openspec/changes/archive/2026-04-03-harden-testing/proposal.md
  openspec/changes/archive/2026-04-03-harden-testing/specs/consensus/spec.md
  openspec/changes/archive/2026-04-03-harden-testing/specs/coordination/spec.md
  openspec/changes/archive/2026-04-03-harden-testing/specs/fault-injection-coverage/spec.md
  openspec/changes/archive/2026-04-03-harden-testing/specs/mutation-testing/spec.md
  openspec/changes/archive/2026-04-03-harden-testing/specs/serialization-snapshots/spec.md
  openspec/changes/archive/2026-04-03-harden-testing/tasks.md
  openspec/specs/consensus/spec.md
  openspec/specs/coordination/spec.md
  openspec/specs/fault-injection-coverage/spec.md
  openspec/specs/mutation-testing/spec.md
  openspec/specs/serialization-snapshots/spec.md
Due: markdownlint

openspec: archive federation-capabilities-threading
  Cargo.lock
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-federation/src/sync/mod.rs
  crates/aspen-federation/src/sync/orchestrator.rs
  crates/aspen-federation/src/token_store.rs
  crates/aspen-forge-handler/Cargo.toml
  crates/aspen-forge-handler/src/handler/handlers/federation.rs
  crates/aspen-forge-handler/src/handler/handlers/federation_git.rs
  openspec/changes/archive/2026-04-03-federation-capabilities-threading/.openspec.yaml
  openspec/changes/archive/2026-04-03-federation-capabilities-threading/design.md
  openspec/changes/archive/2026-04-03-federation-capabilities-threading/proposal.md
  openspec/changes/archive/2026-04-03-federation-capabilities-threading/specs/federation-auth-enforcement/spec.md
  openspec/changes/archive/2026-04-03-federation-capabilities-threading/specs/federation-capability-negotiation/spec.md
  openspec/changes/archive/2026-04-03-federation-capabilities-threading/tasks.md
  openspec/specs/federation-capability-negotiation/spec.md
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

fix-dogfood-ci-clippy: improve CI failure diagnostics and nix build logging
  crates/aspen-ci-executor-nix/src/executor.rs
  crates/aspen-dogfood/src/ci.rs
  openspec/changes/fix-dogfood-ci-clippy/.openspec.yaml
  openspec/changes/fix-dogfood-ci-clippy/design.md
  openspec/changes/fix-dogfood-ci-clippy/proposal.md
  openspec/changes/fix-dogfood-ci-clippy/specs/ci-failure-diagnostics/spec.md
  openspec/changes/fix-dogfood-ci-clippy/specs/ci-forge-nix-compat/spec.md
  openspec/changes/fix-dogfood-ci-clippy/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

fix-dogfood-ci-clippy: enable nix-cli-fallback for dogfood node
  flake.nix
Due: none

fix-dogfood-ci-clippy: enable relay mode for dogfood node
  crates/aspen-dogfood/src/node.rs
Due: rustfmt, cargo-clippy

fix-dogfood-ci-clippy: fix clippy warnings in aspen-job-primitives-test
  crates/aspen-job-primitives-test/src/main.rs
  crates/aspen-job-primitives-test/src/tests_scheduler.rs
Due: rustfmt, cargo-clippy

fix-dogfood-ci-clippy: fix collapsible_if warnings in dogfood and forge-web
  crates/aspen-dogfood/src/ci.rs
  crates/aspen-dogfood/src/deploy.rs
  crates/aspen-dogfood/src/forge.rs
  crates/aspen-forge-web/src/routes.rs
Due: rustfmt, cargo-clippy

fix-dogfood-ci-clippy: gate unused tracing::warn import behind feature flags
  crates/aspen-ci-handler/src/handler/pipeline.rs
Due: rustfmt, cargo-clippy

openspec: archive sans-io-protocol-pattern
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/protocol.rs
  docs/patterns/sans-io-protocol.md
  docs/reference/oxide-trust-quorum.md
  openspec/changes/archive/2026-04-04-sans-io-protocol-pattern/.openspec.yaml
  openspec/changes/archive/2026-04-04-sans-io-protocol-pattern/design.md
  openspec/changes/archive/2026-04-04-sans-io-protocol-pattern/proposal.md
  openspec/changes/archive/2026-04-04-sans-io-protocol-pattern/specs/sans-io-protocol/spec.md
  openspec/changes/archive/2026-04-04-sans-io-protocol-pattern/tasks.md
  openspec/changes/encrypted-secrets-at-rest/.openspec.yaml
  openspec/changes/encrypted-secrets-at-rest/design.md
  openspec/changes/encrypted-secrets-at-rest/proposal.md
  openspec/changes/encrypted-secrets-at-rest/specs/secrets-encryption-at-rest/spec.md
  openspec/changes/encrypted-secrets-at-rest/tasks.md
  openspec/changes/node-expungement-protocol/.openspec.yaml
  openspec/changes/node-expungement-protocol/design.md
  openspec/changes/node-expungement-protocol/proposal.md
  openspec/changes/node-expungement-protocol/specs/node-expungement/spec.md
  openspec/changes/node-expungement-protocol/tasks.md
  openspec/changes/secret-rotation-on-membership-change/.openspec.yaml
  openspec/changes/secret-rotation-on-membership-change/design.md
  openspec/changes/secret-rotation-on-membership-change/proposal.md
  openspec/changes/secret-rotation-on-membership-change/specs/trust-reconfiguration/spec.md
  openspec/changes/secret-rotation-on-membership-change/tasks.md
  openspec/changes/shamir-cluster-secret/.openspec.yaml
  openspec/changes/shamir-cluster-secret/design.md
  openspec/changes/shamir-cluster-secret/proposal.md
  openspec/changes/shamir-cluster-secret/specs/cluster-secret-lifecycle/spec.md
  openspec/changes/shamir-cluster-secret/specs/shamir-secret-sharing/spec.md
  openspec/changes/shamir-cluster-secret/tasks.md
  openspec/changes/tla-plus-model-checking/.openspec.yaml
  openspec/changes/tla-plus-model-checking/design.md
  openspec/changes/tla-plus-model-checking/proposal.md
  openspec/changes/tla-plus-model-checking/specs/tla-model-checking/spec.md
  openspec/changes/tla-plus-model-checking/tasks.md
  openspec/specs/sans-io-protocol/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Add Shamir cluster secret sharing (aspen-trust crate)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/cluster.rs
  crates/aspen-client-api/src/messages/cluster.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/to_operation/cluster_ops.rs
  crates/aspen-cluster-handler/src/handler/init.rs
  crates/aspen-cluster-handler/src/handler/mod.rs
  crates/aspen-cluster-types/src/lib.rs
  crates/aspen-cluster-types/src/state.rs
  crates/aspen-core/src/cluster.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/traits.rs
  crates/aspen-raft/Cargo.toml
  crates/aspen-raft/src/node/cluster_controller.rs
  crates/aspen-raft/src/node/mod.rs
  crates/aspen-raft/src/node/tests.rs
  crates/aspen-raft/src/node/trust.rs
  crates/aspen-raft/src/storage_shared/initialization.rs
  crates/aspen-raft/src/storage_shared/mod.rs
  crates/aspen-raft/src/storage_shared/trust.rs
  crates/aspen-raft/src/storage_shared/types.rs
  crates/aspen-testing-core/src/lib.rs
  crates/aspen-testing-patchbay/src/node.rs
  crates/aspen-trust/Cargo.toml
  crates/aspen-trust/src/gf256.rs
  crates/aspen-trust/src/kdf.rs
  crates/aspen-trust/src/lib.rs
  crates/aspen-trust/src/secret.rs
  crates/aspen-trust/src/shamir.rs
  crates/aspen-trust/src/verified/mod.rs
  crates/aspen-trust/tests/shamir_proptest.rs
  crates/aspen-trust/verus/shamir_spec.rs
  docs/trust-quorum.md
  openspec/changes/shamir-cluster-secret/tasks.md
  tests/gossip_e2e_integration.rs
Due: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

Add trust integration tests (3-node, 5-node, custom threshold, corruption detection)
  crates/aspen-trust/tests/cluster_trust_integration.rs
  openspec/changes/shamir-cluster-secret/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive shamir-cluster-secret
  openspec/changes/archive/2026-04-04-shamir-cluster-secret/.openspec.yaml
  openspec/changes/archive/2026-04-04-shamir-cluster-secret/design.md
  openspec/changes/archive/2026-04-04-shamir-cluster-secret/proposal.md
  openspec/changes/archive/2026-04-04-shamir-cluster-secret/specs/cluster-secret-lifecycle/spec.md
  openspec/changes/archive/2026-04-04-shamir-cluster-secret/specs/shamir-secret-sharing/spec.md
  openspec/changes/archive/2026-04-04-shamir-cluster-secret/tasks.md
  openspec/specs/cluster-secret-lifecycle/spec.md
  openspec/specs/shamir-secret-sharing/spec.md
Due: markdownlint

bound client-side QUIC RPC exchanges
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-client/src/client.rs
  crates/aspen-federation/src/sync/client.rs
  crates/aspen-rpc-handlers/src/proxy.rs
  openspec/changes/harden-iroh-client-rpc-timeouts/.openspec.yaml
  openspec/changes/harden-iroh-client-rpc-timeouts/design.md
  openspec/changes/harden-iroh-client-rpc-timeouts/proposal.md
  openspec/changes/harden-iroh-client-rpc-timeouts/specs/transport/spec.md
  openspec/changes/harden-iroh-client-rpc-timeouts/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

record timeout rollout follow-up
  .agent/napkin.md
  AGENTS.md
  crates/aspen-rpc-handlers/src/proxy.rs
  openspec/changes/audit-remaining-iroh-open-bi-clients/.openspec.yaml
  openspec/changes/audit-remaining-iroh-open-bi-clients/design.md
  openspec/changes/audit-remaining-iroh-open-bi-clients/proposal.md
  openspec/changes/audit-remaining-iroh-open-bi-clients/specs/transport/spec.md
  openspec/changes/audit-remaining-iroh-open-bi-clients/tasks.md
  openspec/changes/harden-iroh-client-rpc-timeouts/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

archive iroh timeout hardening change
  openspec/changes/archive/2026-04-07-harden-iroh-client-rpc-timeouts/.openspec.yaml
  openspec/changes/archive/2026-04-07-harden-iroh-client-rpc-timeouts/design.md
  openspec/changes/archive/2026-04-07-harden-iroh-client-rpc-timeouts/proposal.md
  openspec/changes/archive/2026-04-07-harden-iroh-client-rpc-timeouts/specs/transport/spec.md
  openspec/changes/archive/2026-04-07-harden-iroh-client-rpc-timeouts/tasks.md
  openspec/changes/audit-remaining-iroh-open-bi-clients/design.md
  openspec/changes/audit-remaining-iroh-open-bi-clients/proposal.md
  openspec/specs/transport/spec.md
Due: markdownlint

Capture two pending correctness fixes
  openspec/changes/fix-job-analytics-sql-generation/.openspec.yaml
  openspec/changes/fix-job-analytics-sql-generation/design.md
  openspec/changes/fix-job-analytics-sql-generation/proposal.md
  openspec/changes/fix-job-analytics-sql-generation/specs/job-analytics/spec.md
  openspec/changes/fix-job-analytics-sql-generation/tasks.md
  openspec/changes/stop-silent-ticket-serialization-fallbacks/.openspec.yaml
  openspec/changes/stop-silent-ticket-serialization-fallbacks/design.md
  openspec/changes/stop-silent-ticket-serialization-fallbacks/proposal.md
  openspec/changes/stop-silent-ticket-serialization-fallbacks/specs/ticket-encoding/spec.md
  openspec/changes/stop-silent-ticket-serialization-fallbacks/tasks.md
Due: markdownlint

Stop silent ticket serialization fallbacks
  crates/aspen-automerge/src/ticket.rs
  crates/aspen-client/src/ticket.rs
  crates/aspen-docs/src/ticket.rs
  crates/aspen-federation/src/identity.rs
  crates/aspen-forge-handler/src/executor.rs
  crates/aspen-hooks-types/src/ticket.rs
  crates/aspen-ticket/src/signed.rs
  crates/aspen-ticket/src/v2.rs
  openspec/changes/stop-silent-ticket-serialization-fallbacks/tasks.md
  src/bin/aspen_node/main.rs
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy, markdownlint

openspec: archive stop-silent-ticket-serialization-fallbacks
  openspec/changes/archive/2026-04-07-stop-silent-ticket-serialization-fallbacks/.openspec.yaml
  openspec/changes/archive/2026-04-07-stop-silent-ticket-serialization-fallbacks/design.md
  openspec/changes/archive/2026-04-07-stop-silent-ticket-serialization-fallbacks/proposal.md
  openspec/changes/archive/2026-04-07-stop-silent-ticket-serialization-fallbacks/specs/ticket-encoding/spec.md
  openspec/changes/archive/2026-04-07-stop-silent-ticket-serialization-fallbacks/tasks.md
  openspec/specs/ticket-encoding/spec.md
Due: markdownlint

Bound all remaining direct open_bi() request/response clients
  crates/aspen-blob/src/replication/adapters.rs
  crates/aspen-castore/src/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/hooks.rs
  crates/aspen-fuse/src/client.rs
  crates/aspen-hooks/src/client.rs
  crates/aspen-snix/src/rpc_blob_service.rs
  crates/aspen-snix/src/rpc_directory_service.rs
  crates/aspen-snix/src/rpc_pathinfo_service.rs
  crates/aspen-tui/src/iroh_client/multi_node.rs
  crates/aspen-tui/src/iroh_client/rpc.rs
  openspec/changes/audit-remaining-iroh-open-bi-clients/tasks.md
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy, markdownlint

Verify and archive audit-remaining-iroh-open-bi-clients
  Cargo.lock
  crates/aspen-snix/Cargo.toml
  crates/aspen-snix/src/rpc_blob_service.rs
  openspec/changes/archive/2026-04-07-audit-remaining-iroh-open-bi-clients/.openspec.yaml
  openspec/changes/archive/2026-04-07-audit-remaining-iroh-open-bi-clients/design.md
  openspec/changes/archive/2026-04-07-audit-remaining-iroh-open-bi-clients/proposal.md
  openspec/changes/archive/2026-04-07-audit-remaining-iroh-open-bi-clients/specs/transport/spec.md
  openspec/changes/archive/2026-04-07-audit-remaining-iroh-open-bi-clients/tasks.md
  openspec/changes/archive/2026-04-07-audit-remaining-iroh-open-bi-clients/verification.md
  openspec/specs/transport/spec.md
  src/bin/git-remote-aspen/main.rs
Due: rustfmt, cargo-clippy, cargo-deny, markdownlint

Fix invalid SQL generation in analytics query builders
  crates/aspen-jobs/src/analytics.rs
  openspec/changes/fix-job-analytics-sql-generation/tasks.md
Due: rustfmt, cargo-clippy, markdownlint
