Repository brittonr/aspen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, cargo-toml-sorted, cargo-deny, markdownlint

rustfmt:
  name: rustfmt (nightly)
  description: Format Rust code with nightly rustfmt
  entry: nix
  args:
  - run
  - .#rustfmt
  - --
  - check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: nix
  args:
  - develop
  - -c
  - cargo
  - clippy
  - --all-targets
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-toml-sorted:
  name: cargo sort --check
  description: Check Cargo.toml dependencies are sorted
  entry: sh
  args:
  - -c
  ...

cargo-deny:
  name: cargo deny check
  description: Check dependencies for security advisories
  entry: sh
  args:
  - -c
  ...

markdownlint:
  name: markdownlint
  description: Lint markdown files
  entry: markdownlint
  args:
  - --fix
  language: system

Auto-publish dogfood receipts before cleanup
  README.md
  crates/aspen-dogfood/src/main.rs
  crates/aspen-dogfood/src/receipt.rs
  docs/deploy.md
  openspec/changes/archive/2026-05-03-dogfood-full-receipt-autopublish/.openspec.yaml
  openspec/changes/archive/2026-05-03-dogfood-full-receipt-autopublish/design.md
  openspec/changes/archive/2026-05-03-dogfood-full-receipt-autopublish/evidence/auto-publish-smoke.md
  openspec/changes/archive/2026-05-03-dogfood-full-receipt-autopublish/proposal.md
  openspec/changes/archive/2026-05-03-dogfood-full-receipt-autopublish/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-03-dogfood-full-receipt-autopublish/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Add native CI run receipts
  README.md
  crates/aspen-ci-handler/src/executor.rs
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-ci-handler/tests/log_streaming_integration.rs
  crates/aspen-ci/src/orchestrator/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/src/messages/mod.rs
  crates/aspen-client-api/src/messages/request_metadata.rs
  crates/aspen-client-api/src/messages/to_operation/ci_ops.rs
  docs/deploy.md
  openspec/changes/archive/2026-05-03-ci-run-receipts/.openspec.yaml
  openspec/changes/archive/2026-05-03-ci-run-receipts/design.md
  openspec/changes/archive/2026-05-03-ci-run-receipts/proposal.md
  openspec/changes/archive/2026-05-03-ci-run-receipts/specs/dogfood-evidence/spec.md
  openspec/changes/archive/2026-05-03-ci-run-receipts/tasks.md
  openspec/specs/dogfood-evidence/spec.md
Due: rustfmt, cargo-clippy, markdownlint

Route native CI receipt requests
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/request_metadata_apps/ci.rs
Due: rustfmt, cargo-clippy

Guard CI request metadata routing
  crates/aspen-client-api/src/lib.rs
Due: rustfmt, cargo-clippy

Guard app request routing metadata
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/request_metadata.rs
Due: rustfmt, cargo-clippy

docs: document app request routing contract
  crates/aspen-client-api/src/lib.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Tie routing docs to prefix contract
  crates/aspen-client-api/src/lib.rs
Due: rustfmt, cargo-clippy

Tie app routing to namespace prefixes
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/request_metadata.rs
  crates/aspen-client-api/src/messages/request_metadata_apps.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Guard transport ALPN namespaces
  crates/aspen-transport/src/constants.rs
  docs/adr/009-alpn-protocol-routing.md
Due: rustfmt, cargo-clippy, markdownlint

Guard dogfood full stage contract
  crates/aspen-dogfood/src/receipt.rs
  docs/deploy.md
Due: rustfmt, cargo-clippy, markdownlint

Guard native handler app registration
  crates/aspen-cluster-handler/src/lib.rs
  crates/aspen-cluster/Cargo.toml
  crates/aspen-net/src/lib.rs
  crates/aspen-rpc-handlers/src/registry.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Guard native handler dispatch predicates
  crates/aspen-rpc-handlers/src/registry.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Guard RPC operation metric labels
  crates/aspen-rpc-handlers/src/registry.rs
  docs/observability.md
Due: rustfmt, cargo-clippy, markdownlint

Guard CI receipt status labels
  crates/aspen-ci-handler/src/handler/pipeline.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/src/messages/mod.rs
  docs/deploy.md
Due: rustfmt, cargo-clippy, markdownlint

Guard CI log completion semantics
  crates/aspen-ci-core/src/lib.rs
  crates/aspen-ci-core/src/log_writer.rs
  crates/aspen-ci-executor-shell/src/common.rs
  crates/aspen-ci-executor-shell/tests/log_bridge_test.rs
  crates/aspen-ci/src/log_writer.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-constants/src/ci.rs
  crates/aspen-tui/src/app/ci_ops.rs
  crates/aspen-tui/src/client_trait.rs
  docs/deploy.md
  openspec/specs/ci-log-watch/spec.md
  src/bin/aspen_node/worker_only.rs
Due: rustfmt, cargo-clippy, markdownlint

Guard request operation auth mapping
  crates/aspen-client-api/src/messages/to_operation/cluster_ops.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-client-api/src/messages/to_operation/kv_ops.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Guard client auth before dispatch
  crates/aspen-rpc-handlers/src/client.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Guard auth token presenter binding
  crates/aspen-rpc-handlers/src/client.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Clarify root token audience
  crates/aspen-auth/src/builder.rs
  docs/developer-guide/architecture.md
  src/bin/aspen-token.rs
  src/bin/aspen_node/args.rs
Due: rustfmt, cargo-clippy, markdownlint

Restrict token output files
  docs/developer-guide/architecture.md
  src/bin/aspen-token.rs
  src/bin/aspen_node/args.rs
  src/bin/aspen_node/node_mode.rs
Due: rustfmt, cargo-clippy, markdownlint

Redact startup ticket output
  docs/developer-guide/architecture.md
  src/bin/aspen_node/setup/router.rs
Due: rustfmt, cargo-clippy, markdownlint

Redact fuse ticket logs
  crates/aspen-fuse/src/bin/aspen-cluster-virtiofs-server.rs
  crates/aspen-fuse/src/main.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Redact test ticket logs
  tests/forge_git_wire_test.rs
  tests/gossip_e2e_integration.rs
Due: rustfmt, cargo-clippy

Redact dogfood ticket targets
  crates/aspen-dogfood/src/cluster.rs
  crates/aspen-dogfood/src/error.rs
Due: rustfmt, cargo-clippy

Guard batch authorization scope
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-client-api/src/messages/batch.rs
  crates/aspen-client-api/src/messages/to_operation/batch_ops.rs
  docs/developer-guide/architecture.md
Due: rustfmt, cargo-clippy, markdownlint

Preserve auth tokens across proxy dispatch
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/proxy.rs
  crates/aspen-rpc-handlers/src/registry.rs
  crates/aspen-rpc-handlers/tests/metrics_rpc_counters.rs
Due: rustfmt, cargo-clippy

Reject key-bound tokens for proxying
  crates/aspen-rpc-handlers/src/proxy.rs
  docs/FEDERATION.md
Due: rustfmt, cargo-clippy, markdownlint

Require explicit proxy bearer delegation
  crates/aspen-auth-core/src/token.rs
  crates/aspen-rpc-handlers/src/proxy.rs
  docs/FEDERATION.md
Due: rustfmt, cargo-clippy, markdownlint

Add federation proxy token minting
  crates/aspen-auth-core/src/constants.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/token.rs
  crates/aspen-rpc-handlers/src/proxy.rs
  docs/FEDERATION.md
  src/bin/aspen-token.rs
Due: rustfmt, cargo-clippy, markdownlint

Guard federation operation auth scopes
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  docs/FEDERATION.md
Due: rustfmt, cargo-clippy, markdownlint

Require admin for deploy status
  crates/aspen-client-api/src/lib.rs
  crates/aspen-client-api/src/messages/to_operation/deploy_ops.rs
  docs/deploy.md
Due: rustfmt, cargo-clippy, markdownlint

Require SNIX-specific store capabilities
  crates/aspen-auth-core/src/capability.rs
  crates/aspen-auth/src/builder.rs
  crates/aspen-auth/src/tests.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/token.rs
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/src/messages/to_operation/ci_ops.rs
  docs/nix-integration.md
  src/bin/aspen-token.rs
Due: rustfmt, cargo-clippy, markdownlint

Harden SNIX reserved KV authorization
  crates/aspen-client-api/src/messages/to_operation/batch_ops.rs
  crates/aspen-client-api/src/messages/to_operation/kv_ops.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  crates/aspen-client-api/src/messages/to_operation/watch_ops.rs
  crates/aspen-snix-bridge/src/client_kv.rs
  docs/nix-integration.md
Due: rustfmt, cargo-clippy, markdownlint

Update Tiger Style reference
  crates/aspen-client-api/src/messages/batch.rs
  crates/aspen-client-api/src/messages/to_operation/batch_ops.rs
  crates/aspen-client-api/src/messages/to_operation/deploy_ops.rs
  crates/aspen-client-api/src/messages/to_operation/forge_ops.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  crates/aspen-hooks-ticket/src/lib.rs
  crates/aspen-ticket/src/v2.rs
  docs/tigerstyle.md
  dylint.toml
  flake.lock
  flake.nix
  scripts/tigerstyle-check.sh
Due: rustfmt, cargo-clippy, markdownlint

Add full Aspen hardening audit OpenSpec
  openspec/changes/full-aspen-hardening-audit/.openspec.yaml
  openspec/changes/full-aspen-hardening-audit/design.md
  openspec/changes/full-aspen-hardening-audit/proposal.md
  openspec/changes/full-aspen-hardening-audit/specs/aspen-hardening-audit/spec.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: markdownlint

Capture Aspen hardening audit inventory
  openspec/changes/full-aspen-hardening-audit/evidence/audit-inventory.json
  openspec/changes/full-aspen-hardening-audit/evidence/audit-inventory.md
  openspec/changes/full-aspen-hardening-audit/evidence/authority-boundary-classification.md
  openspec/changes/full-aspen-hardening-audit/evidence/threat-model.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: markdownlint

Capture Aspen authorization matrix
  crates/aspen-client-api/src/messages/ci.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  openspec/changes/full-aspen-hardening-audit/evidence/authorization-matrix.json
  openspec/changes/full-aspen-hardening-audit/evidence/authorization-matrix.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Capture auth before dispatch audit
  crates/aspen-rpc-handlers/src/client.rs
  crates/aspen-rpc-handlers/src/registry.rs
  openspec/changes/full-aspen-hardening-audit/evidence/auth-before-dispatch.json
  openspec/changes/full-aspen-hardening-audit/evidence/auth-before-dispatch.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden generic KV reserved prefixes
  crates/aspen-client-api/src/messages/to_operation/batch_ops.rs
  crates/aspen-client-api/src/messages/to_operation/kv_ops.rs
  crates/aspen-client-api/src/messages/to_operation/mod.rs
  crates/aspen-client-api/src/messages/to_operation/watch_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/reserved-prefix-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/reserved-prefix-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Harden secrets domain capabilities
  crates/aspen-client-api/src/messages/secrets.rs
  crates/aspen-client-api/src/messages/to_operation/secrets_ops.rs
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.json
  openspec/changes/full-aspen-hardening-audit/evidence/domain-capability-audit.md
  openspec/changes/full-aspen-hardening-audit/tasks.md
Due: rustfmt, cargo-clippy, markdownlint

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-sorted: any of: ^Cargo\.toml$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  markdownlint: any of: \.md$, but not: ^vendor/|^CHANGELOG\.md$
