Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

feat: add SignedAspenClusterTicket with Ed25519 signature validation
  src/cluster/ticket.rs
Due: unit, Cluster Coordination

Add rate limiting for gossip messages (HIGH-6)
  src/cluster/gossip_discovery.rs
  src/raft/constants.rs
Due: unit, Raft Consensus, Cluster Coordination

remove HTTP API, use Iroh Client RPC only
  .claude/project-audit-2025-12-17.md
  README.md
  scripts/aspen-cluster-raft-smoke.sh
  scripts/aspen-cluster-smoke.sh
  src/bin/aspen-node.rs
  src/bin/aspen-prometheus-adapter.rs
  src/bin/aspen-tui/iroh_client.rs
  src/bin/generate_fuzz_corpus.rs
  src/client_rpc.rs
  src/cluster/mod.rs
  src/lib.rs
  src/protocol_handlers.rs
  src/tui_rpc.rs
  tests/vm/basic_tests.rs
  tests/vm/failure_tests.rs
  tests/vm/partition_tests.rs
Due: unit, Cluster Coordination

cleanup: remove deprecated tui_rpc_server, consolidate ALPN constants
  .coverage-baseline.toml
  Cargo.toml
  src/bin/aspen-prometheus-adapter.rs
  src/bin/aspen-tui/iroh_client.rs
  src/lib.rs
  src/tui_rpc_server.rs
  tests/support/mock_iroh.rs
Due: unit

fix: resolve duplicate build target warning for sqlite_crash_helper
  Cargo.toml
  src/bin/sqlite_crash_helper/main.rs
Due: unit

fix: resolve protocol handler TODOs and failing tests
  src/protocol_handlers.rs
  tests/raft_node_direct_api_test.rs
  tests/rpc_serialization_test.rs
Due: unit

feat: implement historical log replay for subscribers
  src/lib.rs
  src/protocol_handlers.rs
  src/raft/log_subscriber.rs
  src/raft/storage.rs
Due: unit, Raft Consensus

fix: sanitize error messages in client RPC to prevent information leakage
  src/protocol_handlers.rs
Due: unit

fix: improve gossip discovery resilience and rate limiting
  src/cluster/gossip_discovery.rs
  src/raft/constants.rs
  tests/support/mock_iroh.rs
Due: unit, Raft Consensus, Cluster Coordination

feat: add quick test profile and mutation testing CI
  .claude/CLAUDE.md
  .config/nextest.toml
  .github/workflows/mutants.yml
Due: none

feat: wire up HMAC-SHA256 authentication for Raft RPC
  src/bin/aspen-node.rs
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/node/mod.rs
  src/protocol_handlers.rs
  src/raft/connection_pool.rs
  src/raft/network.rs
  tests/gossip_integration_test.rs
Due: unit, Raft Consensus, Cluster Coordination, Node Builder

feat: add prefix-based client KV with vault system
  Cargo.lock
  Cargo.toml
  src/api/mod.rs
  src/api/vault.rs
  src/client/mod.rs
  src/client/vault.rs
  src/lib.rs
  src/protocol_handlers.rs
  src/vault/enforcement.rs
  src/vault/mod.rs
  src/vault/rate_limit.rs
Due: unit, API Traits

feat: add FUSE filesystem and simplify to flat keyspace
  Cargo.lock
  Cargo.toml
  src/api/mod.rs
  src/api/vault.rs
  src/bin/aspen-fuse/client.rs
  src/bin/aspen-fuse/constants.rs
  src/bin/aspen-fuse/fs.rs
  src/bin/aspen-fuse/inode.rs
  src/bin/aspen-fuse/main.rs
  src/client/mod.rs
  src/client/vault.rs
  src/lib.rs
  src/protocol_handlers.rs
  src/vault/enforcement.rs
  src/vault/mod.rs
  src/vault/rate_limit.rs
Due: unit, API Traits

fix: improve error handling for Tiger Style compliance
  src/bin/aspen-fuse/inode.rs
  src/protocol_handlers.rs
  src/raft/clock_drift_detection.rs
Due: unit, Raft Consensus

test: add FUSE filesystem tests
  src/bin/aspen-fuse/fs.rs
  src/bin/aspen-fuse/inode.rs
  tests/fuse_fs_test.rs
Due: unit

feat(fuse): add symlinks, xattrs, rename, and other FUSE operations
  src/bin/aspen-fuse/constants.rs
  src/bin/aspen-fuse/fs.rs
  src/bin/aspen-fuse/inode.rs
  tests/fuse_fs_test.rs
Due: unit

feat: add read-only SQL query support
  src/api/mod.rs
  src/api/sql_validation.rs
  src/bin/aspen-node.rs
  src/client_rpc.rs
  src/protocol_handlers.rs
  src/raft/constants.rs
  src/raft/node.rs
  src/raft/storage_sqlite.rs
Due: unit, API Traits, Raft Consensus

feat: add compare-and-swap operations
  src/api/inmemory.rs
  src/api/mod.rs
  src/blob/kv_integration.rs
  src/client_rpc.rs
  src/docs/exporter.rs
  src/protocol_handlers.rs
  src/raft/log_subscriber.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
  src/raft/types.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
Due: unit, API Traits, Raft Consensus

feat: add distributed coordination primitives
  src/coordination/counter.rs
  src/coordination/error.rs
  src/coordination/lock.rs
  src/coordination/mod.rs
  src/coordination/rate_limiter.rs
  src/coordination/sequence.rs
  src/coordination/types.rs
  src/lib.rs
Due: unit

feat: add leader election primitive with fencing tokens
  src/coordination/election.rs
  src/coordination/mod.rs
Due: unit

feat: add client RPC support for coordination primitives
  src/client_rpc.rs
  src/coordination/counter.rs
  src/coordination/election.rs
  src/coordination/lock.rs
  src/coordination/mod.rs
  src/coordination/rate_limiter.rs
  src/coordination/sequence.rs
  src/protocol_handlers.rs
Due: unit

feat: add per-client rate limiting and request counter
  src/protocol_handlers.rs
  src/raft/constants.rs
Due: unit, Raft Consensus

feat: add coordination client library, request IDs, and tests
  src/client/coordination.rs
  src/client/mod.rs
  src/protocol_handlers.rs
  src/raft/constants.rs
  tests/coordination_rpc_test.rs
Due: unit, Raft Consensus

feat: add batch transaction support for atomic multi-key operations
  src/api/inmemory.rs
  src/api/mod.rs
  src/blob/kv_integration.rs
  src/client/coordination.rs
  src/client_rpc.rs
  src/docs/exporter.rs
  src/protocol_handlers.rs
  src/raft/log_subscriber.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
  src/raft/types.rs
  tests/api_validation_proptest.rs
  tests/coordination_rpc_test.rs
  tests/inmemory_api_test.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
Due: unit, API Traits, Raft Consensus

feat: add Watch/Subscribe and TTL/expiration support
  src/api/inmemory.rs
  src/api/mod.rs
  src/blob/kv_integration.rs
  src/client/coordination.rs
  src/client_rpc.rs
  src/docs/exporter.rs
  src/protocol_handlers.rs
  src/raft/log_subscriber.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
  src/raft/types.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
Due: unit, API Traits, Raft Consensus

feat: add streaming Watch API and TTL expiration support
  src/bin/aspen-node.rs
  src/client/mod.rs
  src/client/watch.rs
  src/cluster/bootstrap.rs
  src/coordination/mod.rs
  src/raft/mod.rs
  src/raft/storage_sqlite.rs
  src/raft/ttl_cleanup.rs
  tests/log_subscriber_test.rs
  tests/ttl_expiration_test.rs
Due: unit, Raft Consensus, Cluster Coordination

feat: add lease-based coordination primitives
  src/api/inmemory.rs
  src/api/mod.rs
  src/bin/aspen-node.rs
  src/blob/kv_integration.rs
  src/client/coordination.rs
  src/client/mod.rs
  src/client/watch.rs
  src/client_rpc.rs
  src/cluster/bootstrap.rs
  src/docs/exporter.rs
  src/protocol_handlers.rs
  src/raft/lease_cleanup.rs
  src/raft/log_subscriber.rs
  src/raft/mod.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
  src/raft/types.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
Due: unit, API Traits, Raft Consensus, Cluster Coordination

feat: add barriers, semaphores, lease tests, and auto-keepalive
  src/client/coordination.rs
  src/client/mod.rs
  src/client_rpc.rs
  src/coordination/barrier.rs
  src/coordination/mod.rs
  src/coordination/semaphore.rs
  src/protocol_handlers.rs
  tests/lease_integration_test.rs
Due: unit

feat: add distributed read-write lock primitive
  src/client/coordination.rs
  src/client/mod.rs
  src/client_rpc.rs
  src/coordination/mod.rs
  src/coordination/rwlock.rs
  src/protocol_handlers.rs
Due: unit

feat: add distributed FIFO queue with visibility timeout and DLQ
  src/client/coordination.rs
  src/client/mod.rs
  src/client_rpc.rs
  src/coordination/mod.rs
  src/coordination/queue.rs
  src/protocol_handlers.rs
  src/raft/constants.rs
Due: unit, Raft Consensus

feat: add service registry for service discovery
  src/client/coordination.rs
  src/client/mod.rs
  src/client_rpc.rs
  src/coordination/mod.rs
  src/coordination/registry.rs
  src/protocol_handlers.rs
  src/raft/constants.rs
Due: unit, Raft Consensus

feat: add multi-key transactions with If/Then/Else semantics
  src/api/inmemory.rs
  src/api/mod.rs
  src/blob/kv_integration.rs
  src/client/watch.rs
  src/client_rpc.rs
  src/coordination/barrier.rs
  src/coordination/counter.rs
  src/coordination/lock.rs
  src/coordination/queue.rs
  src/coordination/rate_limiter.rs
  src/coordination/registry.rs
  src/coordination/rwlock.rs
  src/coordination/semaphore.rs
  src/coordination/sequence.rs
  src/docs/exporter.rs
  src/docs/importer.rs
  src/protocol_handlers.rs
  src/raft/log_subscriber.rs
  src/raft/mod.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
  src/raft/types.rs
  tests/api_validation_proptest.rs
  tests/coordination_rpc_test.rs
  tests/gossip_e2e_integration.rs
  tests/inmemory_api_test.rs
  tests/raft_node_direct_api_test.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
Due: unit, API Traits, Raft Consensus

feat: reject empty keys in write command validation
  src/api/mod.rs
  src/protocol_handlers.rs
Due: unit, API Traits

refactor: split protocol_handlers.rs into modular directory structure
  src/protocol_handlers/client.rs
  src/protocol_handlers/constants.rs
  src/protocol_handlers/error_sanitization.rs
  src/protocol_handlers/log_subscriber.rs
  src/protocol_handlers/mod.rs
  src/protocol_handlers/raft.rs
  src/protocol_handlers/raft_authenticated.rs
Due: unit

fix: align tests with empty key rejection validation
  tests/api_validation_proptest.rs
  tests/raft_operations_proptest.rs
Due: none

docs: enable missing_docs warning and document all public APIs
  src/api/inmemory.rs
  src/api/mod.rs
  src/bin/aspen-node.rs
  src/blob/store.rs
  src/client/coordination.rs
  src/client/overlay.rs
  src/client_rpc.rs
  src/cluster/config.rs
  src/cluster/metadata.rs
  src/cluster/mod.rs
  src/cluster/validation.rs
  src/coordination/barrier.rs
  src/coordination/election.rs
  src/coordination/mod.rs
  src/coordination/rwlock.rs
  src/lib.rs
  src/raft/connection_pool.rs
  src/raft/learner_promotion.rs
  src/raft/log_subscriber.rs
  src/raft/mod.rs
  src/raft/network.rs
  src/raft/rpc.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
  src/raft/storage_validation.rs
  src/raft/types.rs
  src/simulation.rs
  src/testing/fault_injection.rs
  src/testing/madsim_tester.rs
  src/testing/network_utils.rs
  src/testing/router.rs
  src/testing/vm_manager.rs
  src/utils.rs
Due: unit, API Traits, Raft Consensus, Cluster Coordination, Testing Infrastructure

feat: add capability-based authorization system
  src/auth/builder.rs
  src/auth/capability.rs
  src/auth/error.rs
  src/auth/mod.rs
  src/auth/tests.rs
  src/auth/token.rs
  src/auth/verifier.rs
  src/bin/aspen-node.rs
  src/client_rpc.rs
  src/lib.rs
  src/protocol_handlers/client.rs
  src/raft/constants.rs
Due: unit, Raft Consensus

feat(auth): add CLI tooling and persistent revocation storage
  src/auth/mod.rs
  src/auth/revocation.rs
  src/auth/tests.rs
  src/auth/verifier.rs
  src/bin/aspen-node.rs
  src/bin/aspen-token.rs
  src/cluster/bootstrap.rs
  tests/auth_integration.rs
Due: unit, Cluster Coordination

fix: eliminate audience parsing bypass vulnerability
  src/protocol_handlers/client.rs
Due: unit

feat(storage): increase SQLite pool size from 10 to 50
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/raft/constants.rs
  src/raft/storage_sqlite.rs
Due: unit, Raft Consensus, Cluster Coordination

Path conditions:
  unit: any of: src/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  integration: any of: tests/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  API Traits: any of: src/api/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Raft Consensus: any of: src/raft/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Cluster Coordination: any of: src/cluster/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Node Builder: any of: src/node/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Testing Infrastructure: any of: src/testing/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
