Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

codecov.yml:

# Codecov configuration for Aspen
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Overall project coverage settings
  precision: 2
  round: down
  range: "20...80"  # Color scale: red at 20%, green at 80%

  status:
    # Project-level coverage check
    project:
      default:
        target: auto  # Use coverage from base commit as target
        threshold: 1% # Allow 1% decrease without failing
        if_ci_failed: error
        only_pulls: true

    # Per-patch coverage (new/modified lines)
    patch:
      default:
        target: 50%   # New code should have 50%+ coverage
        threshold: 5% # Allow some variance
        if_ci_failed: error

# Ignore patterns - exclude from coverage reporting
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "openraft/**/*"           # Vendored dependency
  - "src/bin/aspen-tui/**/*"  # TUI is hard to unit test
  - "fuzz/**/*"               # Fuzz targets
  - "**/*_test.rs"
  - "**/tests.rs"

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    # Core API traits
    - component_id: api
      name: API Traits
      paths:
        - src/api/**

    # Raft consensus
    - component_id: raft
      name: Raft Consensus
      paths:
        - src/raft/**

    # Cluster coordination
    - component_id: cluster
      name: Cluster Coordination
      paths:
        - src/cluster/**

    # Node orchestration
    - component_id: node
      name: Node Builder
      paths:
        - src/node/**

    # Testing infrastructure
    - component_id: testing
      name: Testing Infrastructure
      paths:
        - src/testing/**

# Comment configuration for PRs
comment:
  layout: "header, diff, components, tree"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - tests/
    carryforward: true

# GitHub checks configuration
github_checks:
  annotations: true

feat: add optimistic concurrency control and horizontal sharding
  src/api/inmemory.rs
  src/api/mod.rs
  src/blob/kv_integration.rs
  src/client/mod.rs
  src/client/transaction.rs
  src/client/watch.rs
  src/docs/exporter.rs
  src/lib.rs
  src/raft/log_subscriber.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
  src/raft/types.rs
  src/sharding/consistent_hash.rs
  src/sharding/mod.rs
  src/sharding/router.rs
  src/sharding/sharded.rs
  tests/support/bolero_generators.rs
  tests/types_proptest.rs
Due: unit, API Traits, Raft Consensus

feat: implement horizontal sharding infrastructure
  src/api/inmemory.rs
  src/cluster/config.rs
  src/sharding/mod.rs
Due: unit, API Traits, Cluster Coordination

feat(sharding): add shard-aware ALPN routing protocol layer
  src/protocol_handlers/constants.rs
  src/protocol_handlers/mod.rs
  src/protocol_handlers/raft_sharded.rs
  src/raft/network.rs
  src/raft/rpc.rs
Due: unit, Raft Consensus

feat(sharding): integrate multi-shard bootstrap with aspen-node
  src/bin/aspen-node.rs
  src/cluster/bootstrap.rs
Due: unit, Cluster Coordination

feat: add GetKeyOrigin RPC to query key import metadata
  src/bin/aspen-node.rs
  src/client_rpc.rs
  src/cluster/bootstrap.rs
  src/docs/importer.rs
  src/protocol_handlers/client.rs
Due: unit, Cluster Coordination

feat(sharding): complete dynamic shard splitting (Phase 4)
  src/bin/aspen-node.rs
  src/client_rpc.rs
  src/protocol_handlers/client.rs
  src/sharding/automation.rs
  src/sharding/mod.rs
  src/sharding/sharded.rs
  tests/sharding_split_merge_test.rs
Due: unit

docs: add FoundationDB layer architecture analysis
  docs/architecture/layer-architecture.md
Due: none

feat: add benchmarking infrastructure
  .claude/CLAUDE.md
  Cargo.toml
  benches/common/mod.rs
  benches/kv_operations.rs
  flake.nix
Due: none

feat: expand benchmark suite with comprehensive coverage
  Cargo.toml
  benches/common/mod.rs
  benches/concurrency.rs
  benches/kv_operations.rs
  benches/storage.rs
  benches/workloads.rs
Due: none

feat: implement single-fsync Redb state machine
  Cargo.toml
  benches/common/mod.rs
  benches/production.rs
  docs/architecture/migration.md
  flake.nix
  src/cluster/bootstrap.rs
  src/raft/mod.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_shared.rs
  src/testing/madsim_tester.rs
Due: unit, Raft Consensus, Cluster Coordination, Testing Infrastructure

bench: add Redb benchmarks and document Phase 1 results
  benches/common/mod.rs
  benches/production.rs
  docs/architecture/migration.md
  src/raft/mod.rs
  src/raft/storage_shared.rs
Due: unit, Raft Consensus

feat: add FoundationDB-style tuple encoding and crash recovery tests
  src/layer/mod.rs
  src/layer/subspace.rs
  src/layer/tuple.rs
  src/lib.rs
  tests/layer_tuple_proptest.rs
  tests/madsim_redb_crash_recovery_test.rs
Due: unit

docs: update migration doc with Phase 2 completion and benchmarks
  docs/architecture/migration.md
Due: none

feat: add DataFusion SQL integration for Redb storage (Phase 3)
  Cargo.lock
  Cargo.toml
  docs/architecture/migration.md
  src/lib.rs
  src/raft/node.rs
  src/sql/error.rs
  src/sql/executor.rs
  src/sql/mod.rs
  src/sql/provider.rs
  src/sql/schema.rs
  src/sql/stream.rs
  tests/sql_redb_integration_test.rs
Due: unit, Raft Consensus

feat: enhance Redb storage with 3-node benchmarks and TTL cleanup
  .claude/CLAUDE.md
  Cargo.toml
  benches/common/mod.rs
  benches/production.rs
  benches/sql.rs
  docs/architecture/migration.md
  src/cluster/bootstrap.rs
  src/raft/storage_shared.rs
  src/raft/ttl_cleanup.rs
Due: unit, Raft Consensus, Cluster Coordination

Wire TrustedPeersRegistry to Raft membership
  src/node/mod.rs
  src/protocol_handlers/raft_authenticated.rs
  src/raft/membership_watcher.rs
  src/raft/mod.rs
Due: unit, Raft Consensus, Node Builder

Add timeout constants for hanging prevention
  src/raft/constants.rs
Due: unit, Raft Consensus

feat: comprehensive API and performance improvements
  Cargo.lock
  Cargo.toml
  benches/common/mod.rs
  benches/production.rs
  src/api/mod.rs
  src/auth/revocation.rs
  src/auth/tests.rs
  src/bin/generate_fuzz_corpus.rs
  src/blob/kv_integration.rs
  src/cluster/bootstrap.rs
  src/cluster/gossip_discovery.rs
  src/coordination/barrier.rs
  src/coordination/counter.rs
  src/coordination/lock.rs
  src/coordination/queue.rs
  src/coordination/rate_limiter.rs
  src/coordination/registry.rs
  src/coordination/rwlock.rs
  src/coordination/semaphore.rs
  src/coordination/sequence.rs
  src/docs/importer.rs
  src/protocol_handlers/client.rs
  src/protocol_handlers/error_sanitization.rs
  src/protocol_handlers/mod.rs
  src/raft/connection_pool.rs
  src/raft/network.rs
  src/raft/node.rs
  src/raft/storage_shared.rs
  src/sharding/sharded.rs
  src/sql/executor.rs
  src/testing/madsim_tester.rs
  tests/api_validation_proptest.rs
  tests/coordination_rpc_test.rs
  tests/gossip_e2e_integration.rs
  tests/inmemory_api_test.rs
  tests/madsim_sql_redb_cluster_test.rs
  tests/raft_node_direct_api_test.rs
  tests/sharding_split_merge_test.rs
Due: unit, API Traits, Raft Consensus, Cluster Coordination, Testing Infrastructure

fix: resolve 3-node cluster setup timeout due to ALPN mismatch
  benches/common/mod.rs
  src/raft/connection_pool.rs
Due: unit, Raft Consensus

feat: integrate WriteBatcher for 25x throughput improvement
  Cargo.toml
  benches/write_batching.rs
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/node/mod.rs
  src/raft/mod.rs
  src/raft/node.rs
  src/raft/write_batcher.rs
  tests/write_batching_integration.rs
Due: unit, Raft Consensus, Cluster Coordination, Node Builder

fix: resolve Tiger Style audit violations for production safety
  src/auth/error.rs
  src/auth/tests.rs
  src/auth/verifier.rs
  src/bin/aspen-fuse/main.rs
  src/bin/aspen-node.rs
  src/bin/aspen-tui/main.rs
  src/bin/sqlite_crash_helper/main.rs
  src/cluster/bootstrap.rs
  src/raft/clock_drift_detection.rs
  src/raft/integrity.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/write_batcher.rs
  src/utils.rs
  tests/auth_integration.rs
Due: unit, Raft Consensus, Cluster Coordination

test: disable flaky fuzz_driven_scenarios test
  tests/fuzz_driven_madsim.rs
Due: none

fix: resolve Tiger Style violations for bounded retries and function length
  src/api/inmemory.rs
  src/bin/aspen-tui/app.rs
  src/cluster/bootstrap.rs
  src/cluster/gossip_discovery.rs
  src/coordination/queue.rs
  src/coordination/rate_limiter.rs
  src/coordination/sequence.rs
  src/protocol_handlers/client.rs
  src/raft/constants.rs
  tests/madsim_clock_drift_test.rs
Due: unit, API Traits, Raft Consensus, Cluster Coordination

feat: add rustfmt config with nightly support and naming conventions
  .claude/CLAUDE.md
  .gitignore
  .pre-commit-config.yaml
  flake.nix
  rustfmt.toml
Due: none

fix: make nix flake check pass in sandbox environment
  flake.nix
  tests/gossip_e2e_integration.rs
  tests/node_builder_integration.rs
  tests/raft_node_direct_api_test.rs
Due: none

fix: client rate limited on first connection to uninitialized cluster
  src/api/inmemory.rs
  src/api/mod.rs
  src/coordination/error.rs
  src/coordination/rate_limiter.rs
  src/protocol_handlers/client.rs
  src/raft/node.rs
  tests/coordination_rpc_test.rs
Due: unit, API Traits, Raft Consensus

fix: handle RaftCore panic gracefully and fix flaky tests
  .config/nextest.toml
  src/raft/network.rs
  src/raft/rpc.rs
  src/raft/server.rs
Due: unit, Raft Consensus

Add SQL querying to aspen-cli
  .claude/settings.local.json
  .claude/tiger-style-audit-2025-12-24.md
  Cargo.lock
  Cargo.toml
  flake.nix
  scripts/kitty-cluster.sh
  src/api/inmemory.rs.backup
  src/api/inmemory.rs.new
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/client.rs
  src/bin/aspen-cli/commands/cluster.rs
  src/bin/aspen-cli/commands/kv.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/commands/sql.rs
  src/bin/aspen-cli/main.rs
  src/bin/aspen-cli/output.rs
  src/bin/aspen-node.rs
  src/bin/aspen-tui/app.rs
  src/bin/aspen-tui/client_trait.rs
  src/bin/aspen-tui/iroh_client.rs
  src/bin/aspen-tui/main.rs
  src/bin/aspen-tui/types.rs
  src/bin/aspen-tui/ui.rs
  src/client_rpc.rs
  src/protocol_handlers/client.rs
  src/raft/constants.rs
Due: unit, API Traits, Raft Consensus

refactor: improve client operation categorization
  src/bin/aspen-cli/commands/cluster.rs
  src/bin/aspen-cli/commands/kv.rs
  src/protocol_handlers/client.rs
Due: unit

format: apply rustfmt code formatting
  src/bin/aspen-cli/commands/sql.rs
  src/bin/aspen-cli/output.rs
  src/bin/aspen-tui/types.rs
  src/raft/network.rs
  src/raft/rpc.rs
Due: unit, Raft Consensus

feat: implement complete CLI command set for aspen-cli
  .claude/aspen-cli-recommendations-2025-12-26.md
  .claude/tiger-style-audit-2025-12-24.md
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/barrier.rs
  src/bin/aspen-cli/commands/blob.rs
  src/bin/aspen-cli/commands/counter.rs
  src/bin/aspen-cli/commands/lease.rs
  src/bin/aspen-cli/commands/lock.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/commands/peer.rs
  src/bin/aspen-cli/commands/queue.rs
  src/bin/aspen-cli/commands/ratelimit.rs
  src/bin/aspen-cli/commands/rwlock.rs
  src/bin/aspen-cli/commands/semaphore.rs
  src/bin/aspen-cli/commands/sequence.rs
  src/bin/aspen-cli/commands/service.rs
Due: unit

feat: add delete, download, status to blob CLI
  src/bin/aspen-cli/commands/blob.rs
  src/client_rpc.rs
  src/protocol_handlers/client.rs
Due: unit

feat: enable blob storage in kitty cluster script
  scripts/kitty-cluster.sh
Due: none

feat: implement complete iroh-docs CLI with list/status
  .claude/decisions/2025-12-26-aspen-cli-feature-recommendations.md
  .claude/decisions/2025-12-26-blob-cli-implementation.md
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/docs.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-node.rs
  src/client_rpc.rs
  src/protocol_handlers/client.rs
Due: unit

feat: enable iroh-docs in kitty cluster script
  scripts/kitty-cluster.sh
Due: none

feat: add cross-node replication verification
  scripts/kitty-cluster.sh
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/client.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/commands/verify.rs
  src/client_rpc.rs
  src/cluster/bootstrap.rs
  src/protocol_handlers/client.rs
  tests/protocol_handlers_test.rs
  tests/rpc_serialization_test.rs
Due: unit, Cluster Coordination

feat: add enhanced verification metrics and tests
  src/bin/aspen-cli/commands/verify.rs
  tests/verify_integration_test.rs
Due: unit
