Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

Keep synchronized graphs separate from domain authority
  .cairn/changes/dag-sync-system-extension/evidence/core-verification.md
  .cairn/changes/dag-sync-system-extension/tasks.md
  src/dag_sync/domain.rs
  src/dag_sync/mod.rs
  src/dag_sync/service.rs
  src/dag_sync/status.rs
  src/dag_sync/tests.rs
Due: unit

Define the runtime boundaries Kiln needs from Molten
  .cairn/changes/add-bounded-execution-fabric-port/design.md
  .cairn/changes/add-bounded-execution-fabric-port/metadata.json
  .cairn/changes/add-bounded-execution-fabric-port/proposal.md
  .cairn/changes/add-bounded-execution-fabric-port/specs/bounded-execution/spec.md
  .cairn/changes/add-bounded-execution-fabric-port/tasks.md
  .cairn/changes/operationalize-native-system-extension-host/design.md
  .cairn/changes/operationalize-native-system-extension-host/metadata.json
  .cairn/changes/operationalize-native-system-extension-host/proposal.md
  .cairn/changes/operationalize-native-system-extension-host/specs/system-extension-runtime/spec.md
  .cairn/changes/operationalize-native-system-extension-host/tasks.md
Due: none

Keep graph availability separate from domain admission
  .cairn/archive/2026-08-26-dag-sync-system-extension/design.md
  .cairn/archive/2026-08-26-dag-sync-system-extension/evidence/core-verification.md
  .cairn/archive/2026-08-26-dag-sync-system-extension/metadata.json
  .cairn/archive/2026-08-26-dag-sync-system-extension/proposal.md
  .cairn/archive/2026-08-26-dag-sync-system-extension/specs/dag-sync/spec.md
  .cairn/archive/2026-08-26-dag-sync-system-extension/tasks.md
  .cairn/specs/dag-sync/spec.md
  README.md
  checks/dag-sync-octet/Cargo.lock
  checks/dag-sync-octet/Cargo.toml
  checks/dag-sync-octet/README.md
  checks/dag-sync-octet/dylint.toml
  checks/dag-sync-octet/src/lib.rs
  crates/molten-core/src/dag_sync/identity.rs
  crates/molten-core/src/dag_sync/issue.rs
  crates/molten-core/src/dag_sync/mod.rs
  crates/molten-core/src/dag_sync/model.rs
  crates/molten-core/src/dag_sync/planner.rs
  crates/molten-core/src/dag_sync/reference.rs
  crates/molten-core/src/dag_sync/tests/mod.rs
  crates/molten-core/src/dag_sync/validation.rs
  crates/molten-core/src/lib.rs
  docs/dag-sync.md
  flake.nix
  src/dag_sync/conformance.rs
  src/dag_sync/mod.rs
  src/dag_sync/records.rs
  src/dag_sync/service.rs
  src/dag_sync/status.rs
  src/dag_sync/tests.rs
Due: unit

Keep replica policy outside content storage
  .cairn/changes/content-replication-system-extension/evidence/verification.md
  .cairn/changes/content-replication-system-extension/metadata.json
  .cairn/changes/content-replication-system-extension/tasks.md
  crates/molten-core/src/content_replication/action.rs
  crates/molten-core/src/content_replication/identity.rs
  crates/molten-core/src/content_replication/issue.rs
  crates/molten-core/src/content_replication/mod.rs
  crates/molten-core/src/content_replication/model.rs
  crates/molten-core/src/content_replication/planner.rs
  crates/molten-core/src/content_replication/tests/mod.rs
  crates/molten-core/src/content_replication/validation.rs
  crates/molten-core/src/lib.rs
Due: none

Require receiver evidence before replica state advances
  .cairn/changes/content-replication-system-extension/evidence/verification.md
  .cairn/changes/content-replication-system-extension/tasks.md
  README.md
  checks/content-replication-octet/Cargo.lock
  checks/content-replication-octet/Cargo.toml
  checks/content-replication-octet/README.md
  checks/content-replication-octet/dylint.toml
  checks/content-replication-octet/src/lib.rs
  crates/molten-core/src/content_replication/action.rs
  crates/molten-core/src/content_replication/diagnostic.rs
  crates/molten-core/src/content_replication/identity.rs
  crates/molten-core/src/content_replication/mod.rs
  crates/molten-core/src/content_replication/model.rs
  crates/molten-core/src/content_replication/planner.rs
  crates/molten-core/src/content_replication/tests/edge.rs
  crates/molten-core/src/content_replication/tests/mod.rs
  crates/molten-core/src/content_replication/validation.rs
  docs/content-replication.md
  src/cli/ops/cluster.rs
  src/cluster_harness/fabric_transport.rs
  src/content_replication/conformance/mod.rs
  src/content_replication/conformance/profile.rs
  src/content_replication/mod.rs
  src/content_replication/model.rs
  src/content_replication/multiprocess.rs
  src/content_replication/ports.rs
  src/content_replication/records.rs
  src/content_replication/service/execution.rs
  src/content_replication/service/mod.rs
  src/content_replication/service/validation.rs
  src/content_replication/tests/adapters.rs
  src/content_replication/tests/conformance_tests.rs
  src/content_replication/tests/content.rs
  src/content_replication/tests/mod.rs
  src/content_replication/tests/support.rs
  src/lib.rs
  tests/content_replication.rs
Due: unit

Make replication availability claims explicitly bounded
  .cairn/archive/2026-08-27-content-replication-system-extension/design.md
  .cairn/archive/2026-08-27-content-replication-system-extension/evidence/verification.md
  .cairn/archive/2026-08-27-content-replication-system-extension/metadata.json
  .cairn/archive/2026-08-27-content-replication-system-extension/proposal.md
  .cairn/archive/2026-08-27-content-replication-system-extension/specs/content-replication/spec.md
  .cairn/archive/2026-08-27-content-replication-system-extension/tasks.md
  .cairn/specs/content-replication/spec.md
Due: none

Give world snapshots stable meaning before effects
  .cairn/changes/introduce-world-commit-core/tasks.md
  README.md
  crates/molten-core/src/lib.rs
  crates/molten-core/src/worldcommit/capture.rs
  crates/molten-core/src/worldcommit/mod.rs
  crates/molten-core/src/worldcommit/model.rs
  crates/molten-core/src/worldcommit/reference.rs
  crates/molten-core/src/worldcommit/restore.rs
  crates/molten-core/src/worldcommit/tests.rs
  crates/molten-core/src/worldcommit/validation.rs
  docs/world-commit.md
  schemas/preserves-boundaries/molten-world-commit-capture-receipt-v1.preserves
  schemas/preserves-boundaries/molten-world-commit-closure-report-v1.preserves
  schemas/preserves-boundaries/molten-world-commit-restore-plan-v1.preserves
  schemas/preserves-boundaries/molten-world-commit-v1.preserves
  src/cli/runtime/worldcommit.rs
  src/lib.rs
  src/main.rs
  src/main/root.rs
  src/main/root/command.rs
  src/worldcommit/codec.rs
  src/worldcommit/mod.rs
  src/worldcommit/records.rs
  src/worldcommit/shell.rs
  src/worldcommit/store.rs
  src/worldcommit/tests.rs
  src/worldcommit/wire.rs
  tests/fixtures/world-commit/logical-v1.preserves
  tests/worldcommit.rs
Due: unit

Keep storage pilots outside world authority
  .cairn/changes/harden-world-replay-observation-boundary/design.md
  .cairn/changes/harden-world-replay-observation-boundary/metadata.json
  .cairn/changes/harden-world-replay-observation-boundary/proposal.md
  .cairn/changes/harden-world-replay-observation-boundary/specs/world-commit/spec.md
  .cairn/changes/harden-world-replay-observation-boundary/tasks.md
  .cairn/changes/pilot-doltlite-semantic-state-oracle/design.md
  .cairn/changes/pilot-doltlite-semantic-state-oracle/metadata.json
  .cairn/changes/pilot-doltlite-semantic-state-oracle/proposal.md
  .cairn/changes/pilot-doltlite-semantic-state-oracle/specs/world-commit/spec.md
  .cairn/changes/pilot-doltlite-semantic-state-oracle/tasks.md
  .cairn/changes/pilot-prolly-semantic-state-map/design.md
  .cairn/changes/pilot-prolly-semantic-state-map/metadata.json
  .cairn/changes/pilot-prolly-semantic-state-map/proposal.md
  .cairn/changes/pilot-prolly-semantic-state-map/specs/world-commit/spec.md
  .cairn/changes/pilot-prolly-semantic-state-map/tasks.md
  README.md
Due: none

Require an immutable extent source before adoption
  .cairn/changes/adopt-executable-extent-root/design.md
  .cairn/changes/adopt-executable-extent-root/proposal.md
  .cairn/changes/adopt-executable-extent-root/tasks.md
Due: none

Close world roots only after focused deny-all evidence
  .cairn/archive/2026-08-26-adopt-executable-extent-root/design.md
  .cairn/archive/2026-08-26-adopt-executable-extent-root/evidence/verification.md
  .cairn/archive/2026-08-26-adopt-executable-extent-root/metadata.json
  .cairn/archive/2026-08-26-adopt-executable-extent-root/proposal.md
  .cairn/archive/2026-08-26-adopt-executable-extent-root/specs/world-commit/spec.md
  .cairn/archive/2026-08-26-adopt-executable-extent-root/tasks.md
  .cairn/archive/2026-08-26-introduce-world-commit-core/design.md
  .cairn/archive/2026-08-26-introduce-world-commit-core/evidence/verification.md
  .cairn/archive/2026-08-26-introduce-world-commit-core/metadata.json
  .cairn/archive/2026-08-26-introduce-world-commit-core/proposal.md
  .cairn/archive/2026-08-26-introduce-world-commit-core/specs/world-commit/spec.md
  .cairn/archive/2026-08-26-introduce-world-commit-core/tasks.md
  .cairn/specs/world-commit/spec.md
  checks/world-commit-octet/Cargo.lock
  checks/world-commit-octet/Cargo.toml
  checks/world-commit-octet/README.md
  checks/world-commit-octet/dylint.toml
  checks/world-commit-octet/src/lib.rs
  flake.nix
Due: none

Keep snapshot compatibility exact before adding restore effects
  crates/molten-core/src/lib.rs
  crates/molten-core/src/world_snapshot/mod.rs
  crates/molten-core/src/world_snapshot/model.rs
  crates/molten-core/src/world_snapshot/tests.rs
  crates/molten-core/src/world_snapshot/validation.rs
Due: none

Recheck live admission before activating restored worlds
  .cairn/changes/add-world-execution-snapshot-profiles/evidence/verification.md
  .cairn/changes/add-world-execution-snapshot-profiles/tasks.md
  crates/molten-core/src/world_snapshot/model.rs
  crates/molten-core/src/world_snapshot/validation.rs
  src/world_snapshot/mod.rs
  src/world_snapshot/ports.rs
  src/world_snapshot/records.rs
  src/world_snapshot/service.rs
  src/world_snapshot/tests.rs
Due: unit

Bind snapshot meaning before admitting host restore effects
  .cairn/changes/add-world-execution-snapshot-profiles/evidence/verification.md
  .cairn/changes/add-world-execution-snapshot-profiles/tasks.md
  crates/molten-core/src/world_snapshot/identity.rs
  crates/molten-core/src/world_snapshot/mod.rs
  crates/molten-core/src/world_snapshot/model.rs
  crates/molten-core/src/world_snapshot/tests.rs
  crates/molten-core/src/world_snapshot/validation.rs
  schemas/preserves-boundaries/molten-world-snapshot-clone-plan-v1.preserves
  schemas/preserves-boundaries/molten-world-snapshot-compatibility-v1.preserves
  schemas/preserves-boundaries/molten-world-snapshot-descriptor-v1.preserves
  schemas/preserves-boundaries/molten-world-snapshot-inventory-v1.preserves
  schemas/preserves-boundaries/molten-world-snapshot-receipt-v1.preserves
  schemas/preserves-boundaries/molten-world-snapshot-restore-plan-v1.preserves
  src/lib.rs
  src/world_snapshot/mod.rs
  src/world_snapshot/records.rs
  src/world_snapshot/tests.rs
Due: unit

Reject snapshot drift at the canonical input boundary
  .cairn/changes/add-world-execution-snapshot-profiles/evidence/verification.md
  .cairn/changes/add-world-execution-snapshot-profiles/tasks.md
  README.md
  crates/molten-core/src/world_snapshot/model.rs
  docs/world-execution-snapshots.md
  src/world_snapshot/records.rs
  src/world_snapshot/tests.rs
Due: unit

Define exact values for native callbacks
  .cairn/changes/aspen-native-callback-value-materialization/design.md
  .cairn/changes/aspen-native-callback-value-materialization/metadata.json
  .cairn/changes/aspen-native-callback-value-materialization/proposal.md
  .cairn/changes/aspen-native-callback-value-materialization/specs/system-extension-runtime/spec.md
  .cairn/changes/aspen-native-callback-value-materialization/tasks.md
Due: none

Let native callbacks own materialized state
  .cairn/archive/1970-01-01-aspen-native-callback-value-materialization/design.md
  .cairn/archive/1970-01-01-aspen-native-callback-value-materialization/evidence/verification.md
  .cairn/archive/1970-01-01-aspen-native-callback-value-materialization/metadata.json
  .cairn/archive/1970-01-01-aspen-native-callback-value-materialization/proposal.md
  .cairn/archive/1970-01-01-aspen-native-callback-value-materialization/specs/system-extension-runtime/spec.md
  .cairn/archive/1970-01-01-aspen-native-callback-value-materialization/tasks.md
  .cairn/changes/aspen-native-callback-value-materialization/tasks.md
  .cairn/specs/system-extension-runtime/spec.md
  checks/native-system-extension-octet/src/lib.rs
  crates/molten-core/src/system_extension/native_host/admission.rs
  crates/molten-core/src/system_extension/native_host/admission/support.rs
  crates/molten-core/src/system_extension/native_host/model.rs
  crates/molten-core/src/system_extension/native_host/recovery.rs
  crates/molten-core/src/system_extension/native_host/tests.rs
  crates/molten-core/src/system_extension/native_host/tests/value.rs
  docs/native-system-extension-host.md
  docs/native-system-extension-host/contracts.ncl
  docs/native-system-extension-host/fixtures/negative/legacy-value-protocol.ncl
  docs/native-system-extension-host/fixtures/negative/reference-only-values.ncl
  docs/native-system-extension-host/fixtures/negative/zero-materialized-value-bound.ncl
  docs/native-system-extension-host/generated/profile.json
  docs/native-system-extension-host/profile.ncl
  docs/system-extension-runtime.md
  flake.nix
  src/bin/molten-native-extension-fixture.rs
  src/node/nativesystemextension.rs
  src/system_extension/host.rs
  src/system_extension/native_host/artifact.rs
  src/system_extension/native_host/executor.rs
  src/system_extension/native_host/journal.rs
  src/system_extension/native_host/materialization.rs
  src/system_extension/native_host/mod.rs
  src/system_extension/native_host/service.rs
  src/system_extension/native_host/tests.rs
  src/system_extension/native_host/wire.rs
  tests/nativesystemextension.rs
  tests/nativesystemextension/support.rs
Due: unit, Node Builder

Materialize provider outcomes before callback semantics
  .cairn/archive/1970-01-01-materialize-native-effect-completions/design.md
  .cairn/archive/1970-01-01-materialize-native-effect-completions/evidence/verification.md
  .cairn/archive/1970-01-01-materialize-native-effect-completions/metadata.json
  .cairn/archive/1970-01-01-materialize-native-effect-completions/proposal.md
  .cairn/archive/1970-01-01-materialize-native-effect-completions/specs/system-extension-runtime/spec.md
  .cairn/archive/1970-01-01-materialize-native-effect-completions/tasks.md
  .cairn/specs/system-extension-runtime/spec.md
  crates/molten-core/src/system_extension/mod.rs
  crates/molten-core/src/system_extension/native_host/admission.rs
  crates/molten-core/src/system_extension/native_host/tests/value.rs
  docs/native-system-extension-host.md
  flake.nix
  src/fabric_durability/shell.rs
  src/fabric_simulation/composition.rs
  src/fabric_transport/cross_process/effect_port.rs
  src/fabric_transport/shell.rs
  src/system_extension/canonical.rs
  src/system_extension/fixture.rs
  src/system_extension/native_host/service.rs
  src/system_extension/tests.rs
  tests/nativesystemextension.rs
  tests/nativesystemextension/support.rs
Due: unit

Preserve reviewed crash evidence through lifecycle closeout
  .cairn/archive/1970-01-01-harden-world-commit-crash-and-concurrency/design.md
  .cairn/archive/1970-01-01-harden-world-commit-crash-and-concurrency/evidence/verification.md
  .cairn/archive/1970-01-01-harden-world-commit-crash-and-concurrency/metadata.json
  .cairn/archive/1970-01-01-harden-world-commit-crash-and-concurrency/proposal.md
  .cairn/archive/1970-01-01-harden-world-commit-crash-and-concurrency/specs/world-commit/spec.md
  .cairn/archive/1970-01-01-harden-world-commit-crash-and-concurrency/tasks.md
  .cairn/changes/harden-world-commit-crash-and-concurrency/tasks.md
  .cairn/specs/world-commit/spec.md
  config/world-faults/generated/local-deterministic.json
  config/world-faults/profiles/local-deterministic.ncl
  crates/molten-core/src/world_faults/tests.rs
  src/world_faults/mod.rs
  src/world_faults/tests.rs
  src/world_faults/tests/harness.rs
  src/world_faults/tests/mod.rs
  src/world_faults/tests/projection.rs
  src/world_faults/tests/support.rs
Due: unit

archive the accepted oracle contract
  .cairn/archive/1970-01-01-pilot-doltlite-semantic-state-oracle/design.md
  .cairn/archive/1970-01-01-pilot-doltlite-semantic-state-oracle/evidence/verification.md
  .cairn/archive/1970-01-01-pilot-doltlite-semantic-state-oracle/metadata.json
  .cairn/archive/1970-01-01-pilot-doltlite-semantic-state-oracle/proposal.md
  .cairn/archive/1970-01-01-pilot-doltlite-semantic-state-oracle/specs/world-commit/spec.md
  .cairn/archive/1970-01-01-pilot-doltlite-semantic-state-oracle/tasks.md
  .cairn/specs/world-commit/spec.md
Due: none

Keep runtime communication scheduler-visible
  .cairn/changes/promote-message-passing-runtime-boundary/design.md
  .cairn/changes/promote-message-passing-runtime-boundary/proposal.md
  .cairn/changes/promote-message-passing-runtime-boundary/specs/fabric-simulation/spec.md
  .cairn/changes/promote-message-passing-runtime-boundary/specs/fabric-transport/spec.md
  .cairn/changes/promote-message-passing-runtime-boundary/specs/project/spec.md
  .cairn/changes/promote-message-passing-runtime-boundary/specs/system-extension-runtime/spec.md
  .cairn/changes/promote-message-passing-runtime-boundary/tasks.md
Due: none

archive the verified Prolly pilot to unblock downstream work
  .cairn/archive/1970-01-01-pilot-prolly-semantic-state-map/design.md
  .cairn/archive/1970-01-01-pilot-prolly-semantic-state-map/evidence/portfolio-search.md
  .cairn/archive/1970-01-01-pilot-prolly-semantic-state-map/evidence/verification.md
  .cairn/archive/1970-01-01-pilot-prolly-semantic-state-map/metadata.json
  .cairn/archive/1970-01-01-pilot-prolly-semantic-state-map/proposal.md
  .cairn/archive/1970-01-01-pilot-prolly-semantic-state-map/specs/world-commit/spec.md
  .cairn/archive/1970-01-01-pilot-prolly-semantic-state-map/tasks.md
  .cairn/changes/pilot-prolly-semantic-state-map/tasks.md
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  integration: any of: tests/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  API Traits: any of: src/api/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Raft Consensus: any of: src/raft/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Cluster Coordination: any of: src/cluster/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Node Builder: any of: src/node/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Testing Infrastructure: any of: src/testing/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
