Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

feat: complete secondary indexes implementation
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/index.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul.rs
  crates/aspen-layer/Cargo.toml
  crates/aspen-layer/src/index.rs
  crates/aspen-layer/src/lib.rs
  crates/aspen-sql/Cargo.toml
  crates/aspen-sql/src/error.rs
  crates/aspen-sql/src/provider.rs
  crates/aspen-sql/src/stream.rs
Due: none

feat: implement comprehensive v3 enhancements
  .claude/decisions/2026-01-17_ultra_what_next_comprehensive_final.toml
  .claude/decisions/2026-01-17_ultra_what_next_v2_final.toml
  Cargo.lock
  crates/aspen-client-api/src/messages.rs
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-pijul/src/blame.rs
  crates/aspen-pijul/src/lib.rs
  crates/aspen-pijul/src/store.rs
  crates/aspen-rpc-handlers/src/handlers/pijul.rs
  src/bin/aspen-node.rs
  tests/hooks_integration_test.rs
Due: unit

fix: implement proper blob deletion via tag removal
  crates/aspen-blob/src/store.rs
  crates/aspen-rpc-handlers/src/handlers/blob.rs
Due: none

feat: add blob repair-cycle CLI and gossip callbacks
  crates/aspen-cli/src/bin/aspen-cli/commands/blob.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/transport.rs
  crates/aspen-gossip/src/discovery.rs
Due: none

feat: quick fixes and hook support for sharded clusters
  crates/aspen-cluster/src/bootstrap.rs
  deny.toml
  tests/forge_cob_proptest.rs
  tests/forge_hosting_e2e_test.rs
  tests/forge_real_cluster_integration_test.rs
Due: none

feat: implement quick fixes and add comprehensive tests
  crates/aspen-blob/src/background_downloader.rs
  crates/aspen-blob/src/lib.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/tests/unit_coordination.rs
  crates/aspen-testing/src/router.rs
Due: none

feat: add Automerge CRDT document layer
  .claude/decisions/2026-01-18_automerge_layer_evaluation.toml
  .claude/decisions/2026-01-18_ultra_hooks_and_blob_delete_implementation.toml
  .claude/decisions/2026-01-18_ultra_quick_fixes_and_wins_implementation.toml
  .claude/decisions/2026-01-18_ultra_what_next_10th_analysis.toml
  .claude/decisions/2026-01-18_ultra_what_next_11th_comprehensive_synthesis.toml
  .claude/decisions/2026-01-18_ultra_what_next_comprehensive_synthesis.toml
  .claude/decisions/2026-01-18_ultra_what_next_final_comprehensive_synthesis.toml
  Cargo.lock
  Cargo.toml
  crates/aspen-automerge/Cargo.toml
  crates/aspen-automerge/src/constants.rs
  crates/aspen-automerge/src/error.rs
  crates/aspen-automerge/src/lib.rs
  crates/aspen-automerge/src/store.rs
  crates/aspen-automerge/src/sync_protocol.rs
  crates/aspen-automerge/src/types.rs
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/automerge.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-api/src/messages.rs
  crates/aspen-client-rpc/Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/automerge.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
Due: none

enhance: add chain hash verification and CAS race tests
  crates/aspen-forge/src/refs/store.rs
  crates/aspen-raft/src/integrity.rs
Due: none

feat: implement VirtioFS backend for cloud-hypervisor/QEMU
  Cargo.lock
  crates/aspen-fuse/Cargo.toml
  crates/aspen-fuse/src/lib.rs
  crates/aspen-fuse/src/main.rs
  crates/aspen-fuse/src/virtiofs.rs
Due: none

feat: replace TOML with Nickel configuration language
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-nickel/Cargo.toml
  crates/aspen-nickel/src/error.rs
  crates/aspen-nickel/src/lib.rs
  crates/aspen-nickel/src/loader.rs
  crates/aspen-nickel/src/schema/mod.rs
  crates/aspen-nickel/src/schema/node_config.ncl
  examples/config/basic.ncl
  examples/config/cluster-3-node.ncl
  examples/config/development.ncl
  examples/config/production.ncl
Due: none

feat: add aspen-nickel-gen schema generator crate
  .claude/decisions/2026-01-20_nickel_schema_generator.toml
  Cargo.lock
  Cargo.toml
  crates/aspen-nickel-gen/Cargo.toml
  crates/aspen-nickel-gen/src/error.rs
  crates/aspen-nickel-gen/src/generator.rs
  crates/aspen-nickel-gen/src/lib.rs
  crates/aspen-nickel-gen/src/main.rs
  crates/aspen-nickel-gen/src/parser.rs
  crates/aspen-nickel-gen/src/types.rs
Due: none

fix: prevent duplicate repository names in forge
  crates/aspen-forge/src/constants.rs
  crates/aspen-forge/src/error.rs
  crates/aspen-forge/src/node.rs
Due: none

Update README.md
  README.md
Due: none

Change license from GPL-2.0 to AGPL-3.0-or-later
  Cargo.toml
  LICENSE
  crates/aspen-api/Cargo.toml
  crates/aspen-auth/Cargo.toml
  crates/aspen-automerge/Cargo.toml
  crates/aspen-blob/Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-rpc/Cargo.toml
  crates/aspen-client/Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-constants/Cargo.toml
  crates/aspen-coordination/Cargo.toml
  crates/aspen-core/Cargo.toml
  crates/aspen-dns/Cargo.toml
  crates/aspen-docs/Cargo.toml
  crates/aspen-forge/Cargo.toml
  crates/aspen-fuse/Cargo.toml
  crates/aspen-gossip/Cargo.toml
  crates/aspen-layer/Cargo.toml
  crates/aspen-nickel-gen/Cargo.toml
  crates/aspen-nickel/Cargo.toml
  crates/aspen-pijul/Cargo.toml
  crates/aspen-py/Cargo.toml
  crates/aspen-py/pyproject.toml
  crates/aspen-raft-types/Cargo.toml
  crates/aspen-raft/Cargo.toml
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-secrets/Cargo.toml
  crates/aspen-sharding/Cargo.toml
  crates/aspen-sql/Cargo.toml
  crates/aspen-testing/Cargo.toml
  crates/aspen-ticket/Cargo.toml
  crates/aspen-transport/Cargo.toml
  crates/aspen-tui/Cargo.toml
  deny.toml
Due: none

docs: add Blixard→Aspen rename note and fix license
  README.md
Due: none

docs: update README and streamline CLAUDE.md
  .claude/CLAUDE.md
  README.md
Due: none

docs: sync with implementation and cleanup outdated content
  docs/VM_JOB_SUBMISSION.md
  docs/architecture/layer-architecture.md
  docs/architecture/redb-sql.md
  docs/forge.md
  docs/identity-persistence.md
  docs/pijul.md
Due: none

feat: integrate federation with sharding via resolver layer
  crates/aspen-cluster/src/federation/mod.rs
  crates/aspen-cluster/src/federation/resolver.rs
  crates/aspen-cluster/src/federation/sync.rs
  src/node/mod.rs
Due: unit, Node Builder

style: apply rustfmt formatting to cluster crate
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/federation/gossip.rs
  crates/aspen-cluster/src/federation/trust.rs
  crates/aspen-cluster/src/lib.rs
  crates/aspen-cluster/src/snapshot_events_bridge.rs
Due: none

feat: complete federation resolver, add CLI tests, and document integration
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cluster/src/federation/sync.rs
  crates/aspen-sharding/src/lib.rs
  src/node/mod.rs
Due: unit, Node Builder

feat: add self-hosted CI/CD system with Nickel config
  .aspen/ci.ncl
  Cargo.lock
  Cargo.toml
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/config/loader.rs
  crates/aspen-ci/src/config/mod.rs
  crates/aspen-ci/src/config/schema.rs
  crates/aspen-ci/src/config/schema/ci_schema.ncl
  crates/aspen-ci/src/config/types.rs
  crates/aspen-ci/src/error.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/orchestrator/mod.rs
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-ci/src/trigger/mod.rs
  crates/aspen-ci/src/trigger/service.rs
  crates/aspen-ci/src/workers/mod.rs
  crates/aspen-ci/src/workers/nix_build.rs
Due: none

feat: wire up CI/CD system with RPC endpoints and CLI
  Cargo.lock
  Cargo.toml
  crates/aspen-cli/Cargo.toml
  crates/aspen-cli/src/bin/aspen-cli/cli.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/mod.rs
  crates/aspen-client-api/Cargo.toml
  crates/aspen-client-api/src/messages.rs
  crates/aspen-client-rpc/Cargo.toml
  crates/aspen-cluster/src/config.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/ci.rs
  crates/aspen-rpc-handlers/src/handlers/mod.rs
  crates/aspen-rpc-handlers/src/registry.rs
  scripts/cluster.sh
  src/bin/aspen-node.rs
  src/node/mod.rs
  tests/ci_integration_test.rs
  tests/support/real_cluster.rs
Due: unit, Node Builder

feat: add kitty cluster launcher script
  scripts/kitty-cluster.sh
Due: none

fix: build aspen-cli from its package in kitty-cluster script
  scripts/kitty-cluster.sh
Due: none

fix: handle disabled kitty remote control gracefully
  scripts/kitty-cluster.sh
Due: none

feat: complete CI orchestrator with KV persistence
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-rpc-handlers/src/handlers/ci.rs
  scripts/kitty-cluster.sh
  src/bin/aspen-node.rs
Due: unit

style: format pipeline orchestrator code
  crates/aspen-ci/src/orchestrator/pipeline.rs
Due: none

fix: parse tree entry modes as octal in CLI
  crates/aspen-cli/src/bin/aspen-cli/commands/git.rs
Due: none

fix: export Nickel schema contract directly
  crates/aspen-ci/src/config/loader.rs
  crates/aspen-ci/src/config/schema/ci_schema.ncl
Due: none

fix: resolve stack overflow in async Nickel evaluation
  Cargo.lock
  crates/aspen-ci/Cargo.toml
  crates/aspen-ci/src/config/loader.rs
  crates/aspen-ci/src/config/mod.rs
  crates/aspen-ci/src/lib.rs
  crates/aspen-ci/src/trigger/service.rs
  crates/aspen-rpc-handlers/src/handlers/ci.rs
  scripts/kitty-cluster.sh
  src/bin/aspen-node.rs
Due: unit

fix: enable CI pipeline execution and status tracking
  crates/aspen-ci/src/orchestrator/pipeline.rs
  src/bin/aspen-node.rs
Due: unit

feat: make shell worker auth optional for local dev
  crates/aspen-jobs/src/workers/shell_command.rs
  src/bin/aspen-node.rs
Due: unit

style: format pipeline orchestrator code
  crates/aspen-ci/src/config/loader.rs
  crates/aspen-ci/src/orchestrator/pipeline.rs
Due: none

feat: show build outputs in CI demo script
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  scripts/kitty-cluster.sh
Due: none

fix: correct CI shell command execution and worker routing
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-jobs/src/worker.rs
Due: none

feat: CI Nix builds upload results to blob store
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-ci/src/workers/nix_build.rs
  crates/aspen-cluster/src/config.rs
  crates/aspen-jobs/src/worker.rs
  src/bin/aspen-node.rs
Due: unit

fix: resolve CI pipeline status polling timeout
  crates/aspen-ci/src/orchestrator/pipeline.rs
  crates/aspen-ci/src/workers/nix_build.rs
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/ci.rs
  scripts/kitty-cluster.sh
Due: none

fix: sync job statuses from job manager to pipeline response
  crates/aspen-ci/src/orchestrator/pipeline.rs
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  integration: any of: tests/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  API Traits: any of: src/api/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Raft Consensus: any of: src/raft/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Cluster Coordination: any of: src/cluster/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Node Builder: any of: src/node/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Testing Infrastructure: any of: src/testing/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
