Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

codecov.yml:

# Codecov configuration for Aspen
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Overall project coverage settings
  precision: 2
  round: down
  range: "20...80"  # Color scale: red at 20%, green at 80%

  status:
    # Project-level coverage check
    project:
      default:
        target: auto  # Use coverage from base commit as target
        threshold: 1% # Allow 1% decrease without failing
        if_ci_failed: error
        only_pulls: true

    # Per-patch coverage (new/modified lines)
    patch:
      default:
        target: 50%   # New code should have 50%+ coverage
        threshold: 5% # Allow some variance
        if_ci_failed: error

# Ignore patterns - exclude from coverage reporting
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "openraft/**/*"           # Vendored dependency
  - "src/bin/aspen-tui/**/*"  # TUI is hard to unit test
  - "fuzz/**/*"               # Fuzz targets
  - "**/*_test.rs"
  - "**/tests.rs"

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    # Core API traits
    - component_id: api
      name: API Traits
      paths:
        - src/api/**

    # Raft consensus
    - component_id: raft
      name: Raft Consensus
      paths:
        - src/raft/**

    # Cluster coordination
    - component_id: cluster
      name: Cluster Coordination
      paths:
        - src/cluster/**

    # Node orchestration
    - component_id: node
      name: Node Builder
      paths:
        - src/node/**

    # Testing infrastructure
    - component_id: testing
      name: Testing Infrastructure
      paths:
        - src/testing/**

# Comment configuration for PRs
comment:
  layout: "header, diff, components, tree"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - tests/
    carryforward: true

# GitHub checks configuration
github_checks:
  annotations: true

feat: upgrade Pkarr to DhtDiscovery with full DHT support
  src/bin/aspen-cli/client.rs
  src/bin/aspen-cli/commands/verify.rs
  src/bin/aspen-node.rs
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/cluster/mod.rs
  tests/gossip_integration_test.rs
  tests/verify_integration_test.rs
Due: unit, Cluster Coordination

security: auto-enable raft_auth when pkarr is enabled
  src/bin/aspen-node.rs
  src/cluster/bootstrap.rs
  src/cluster/config.rs
Due: unit, Cluster Coordination

feat: add private infrastructure support for relays and pkarr
  Cargo.lock
  Cargo.toml
  src/bin/aspen-node.rs
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/cluster/mod.rs
  tests/gossip_integration_test.rs
Due: unit, Cluster Coordination

Remove SQLite storage backend
  .claude/CLAUDE.md
  Cargo.lock
  Cargo.toml
  benches/common/mod.rs
  benches/storage.rs
  docs/architecture/migration.md
  src/bin/aspen-node.rs
  src/bin/sqlite_crash_helper/main.rs
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/raft/lease_cleanup.rs
  src/raft/mod.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_shared.rs
  src/raft/storage_sqlite.rs
  src/raft/ttl_cleanup.rs
  src/testing/madsim_tester.rs
  tests/lease_integration_test.rs
  tests/madsim_sqlite_basic_test.rs
  tests/madsim_sqlite_failures_test.rs
  tests/madsim_sqlite_multi_node_test.rs
  tests/madsim_sqlite_specific_test.rs
  tests/node_builder_integration.rs
  tests/sqlite_failure_scenarios_test.rs
  tests/sqlite_proptest.proptest-regressions
  tests/sqlite_proptest.rs
  tests/storage_persistence_test.rs
  tests/storage_redb_proptest.rs
  tests/storage_validation_sqlite_test.rs
  tests/ttl_expiration_test.rs
  tests/verify_integration_test.rs
Due: unit, Raft Consensus, Cluster Coordination, Testing Infrastructure

feat: add DNS record management layer on iroh-docs
  src/dns/client.rs
  src/dns/constants.rs
  src/dns/error.rs
  src/dns/mod.rs
  src/dns/store.rs
  src/dns/ticket.rs
  src/dns/types.rs
  src/dns/validation.rs
  src/lib.rs
Due: unit

test: add DNS layer integration tests
  tests/dns_integration_test.rs
Due: none

feat: add DNS protocol server for local domain resolution
  Cargo.lock
  Cargo.toml
  src/bin/aspen-node.rs
  src/cluster/config.rs
  src/dns/authority.rs
  src/dns/error.rs
  src/dns/mod.rs
  src/dns/server.rs
Due: unit, Cluster Coordination

feat: wire DNS cache sync from iroh-docs to AspenDnsClient
  src/bin/aspen-node.rs
  src/dns/client.rs
  src/dns/mod.rs
  tests/dns_integration_test.rs
Due: unit

feat: add DNS CLI commands to aspen-cli
  .claude/decisions/2025-12-26-discovery-implementation-analysis.md
  .claude/decisions/2025-12-26-dns-cache-sync-implementation.md
  .claude/decisions/2025-12-26-dns-cli-commands.md
  scripts/dns-demo.sh
  scripts/kitty-cluster.sh
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/dns.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/output.rs
  src/client_rpc.rs
  src/cluster/config.rs
  src/dns/authority.rs
  src/dns/server.rs
  src/dns/store.rs
  src/protocol_handlers/client.rs
Due: unit, Cluster Coordination

fix: implement log broadcast in SharedRedbStorage.apply()
  .claude/decisions/2025-12-26-dns-sync-broadcast-fix.md
  src/raft/storage_shared.rs
Due: unit, Raft Consensus

feat: complete docs sync wiring and blob announcements
  src/bin/aspen-node.rs
  src/cluster/bootstrap.rs
  src/cluster/gossip_discovery.rs
  tests/docs_sync_integration_test.rs
Due: unit, Cluster Coordination

feat: add global content discovery via BitTorrent DHT
  Cargo.lock
  Cargo.toml
  scripts/cluster.sh
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/cluster/content_discovery.rs
  src/cluster/mod.rs
  tests/multi_node_cluster_test.rs
Due: unit, Cluster Coordination

feat: enable real DHT operations with auto-announce
  .claude/decisions/dht-global-discovery-implementation-2025-12-27.md
  src/cluster/bootstrap.rs
  src/cluster/content_discovery.rs
Due: unit, Cluster Coordination

feat: enable blobs and docs by default
  src/cluster/config.rs
Due: unit, Cluster Coordination

feat: add two-cluster seeding demo script
  scripts/two-clusters.sh
Due: none

fix: rename blob download ticket arg to avoid conflict with global --ticket
  scripts/two-clusters.sh
  src/bin/aspen-cli/commands/blob.rs
Due: unit

feat: add DHT-based content discovery features
  .claude/decisions/dht-global-discovery-implementation-2025-12-27.md
  scripts/two-clusters.sh
  src/bin/aspen-cli/commands/blob.rs
  src/bin/aspen-node.rs
  src/client_rpc.rs
  src/cluster/config.rs
  src/cluster/content_discovery.rs
  src/protocol_handlers/client.rs
Due: unit, Cluster Coordination

feat(scripts): add DHT content discovery support
  scripts/cluster.sh
  scripts/kitty-cluster.sh
Due: none

feat: implement BEP-44 mutable items for DHT cross-cluster discovery
  src/bin/aspen-cli/commands/blob.rs
  src/client_rpc.rs
  src/cluster/content_discovery.rs
  src/protocol_handlers/client.rs
Due: unit, Cluster Coordination

feat: add optional sql feature gate
  Cargo.toml
  benches/production.rs
  benches/sql.rs
  benches/write_batching.rs
  src/api/mod.rs
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/output.rs
  src/bin/aspen-node.rs
  src/cluster/content_discovery.rs
  src/lib.rs
  src/protocol_handlers/client.rs
  src/raft/node.rs
  src/testing/madsim_tester.rs
  tests/madsim_sql_redb_cluster_test.rs
  tests/sql_redb_integration_test.rs
  tests/write_batching_integration.rs
Due: unit, API Traits, Raft Consensus, Cluster Coordination, Testing Infrastructure

feat: add optional dns feature gate
  Cargo.toml
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/output.rs
  src/bin/aspen-node.rs
  src/lib.rs
  src/protocol_handlers/client.rs
  tests/dns_integration_test.rs
Due: unit

feat(forge): implement decentralized Git on Aspen
  Cargo.lock
  Cargo.toml
  docs/forge.md
  src/forge/cob/change.rs
  src/forge/cob/issue.rs
  src/forge/cob/mod.rs
  src/forge/cob/store.rs
  src/forge/constants.rs
  src/forge/error.rs
  src/forge/git/mod.rs
  src/forge/git/object.rs
  src/forge/git/store.rs
  src/forge/gossip.rs
  src/forge/identity/mod.rs
  src/forge/mod.rs
  src/forge/node.rs
  src/forge/refs/mod.rs
  src/forge/refs/store.rs
  src/forge/sync.rs
  src/forge/types.rs
  src/lib.rs
Due: unit

feat(forge): complete COB state machines and delegate enforcement
  Cargo.toml
  src/bin/aspen-prometheus-adapter.rs
  src/blob/mod.rs
  src/blob/store.rs
  src/forge/cob/issue.rs
  src/forge/cob/mod.rs
  src/forge/cob/patch.rs
  src/forge/cob/review.rs
  src/forge/cob/store.rs
  src/forge/error.rs
  src/forge/git/store.rs
  src/forge/gossip.rs
  src/forge/identity/mod.rs
  src/forge/mod.rs
  src/forge/node.rs
  src/forge/refs/delegate.rs
  src/forge/refs/mod.rs
  src/forge/refs/store.rs
  src/forge/types.rs
Due: unit

feat(cli): add git client to aspen-cli for Forge integration
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/branch.rs
  src/bin/aspen-cli/commands/git.rs
  src/bin/aspen-cli/commands/issue.rs
  src/bin/aspen-cli/commands/mod.rs
  src/bin/aspen-cli/commands/patch.rs
  src/bin/aspen-cli/commands/tag.rs
  src/bin/aspen-cli/output.rs
  src/bin/aspen-node.rs
  src/client_rpc.rs
  src/forge/cob/store.rs
  src/protocol_handlers/client.rs
Due: unit

feat(forge): add CLI commands, P2P sync, and delegate verification
  src/bin/aspen-cli/commands/branch.rs
  src/bin/aspen-cli/commands/git.rs
  src/bin/aspen-cli/commands/tag.rs
  src/bin/aspen-cli/output.rs
  src/blob/store.rs
  src/client_rpc.rs
  src/forge/node.rs
  src/forge/refs/store.rs
  src/forge/sync.rs
  src/protocol_handlers/client.rs
Due: unit

feat(forge): add full gossip integration for real-time announcements
  src/forge/cob/mod.rs
  src/forge/cob/store.rs
  src/forge/constants.rs
  src/forge/error.rs
  src/forge/git/store.rs
  src/forge/gossip/handler.rs
  src/forge/gossip/mod.rs
  src/forge/gossip/rate_limiter.rs
  src/forge/gossip/service.rs
  src/forge/gossip/types.rs
  src/forge/mod.rs
  src/forge/node.rs
  src/forge/refs/mod.rs
Due: unit

feat(forge): add sync DAG traversal, merge conflicts, and comprehensive tests
  src/forge/cob/change.rs
  src/forge/cob/issue.rs
  src/forge/cob/mod.rs
  src/forge/cob/patch.rs
  src/forge/cob/review.rs
  src/forge/cob/store.rs
  src/forge/mod.rs
  src/forge/sync.rs
  tests/forge_cob_merge_test.rs
  tests/forge_cob_proptest.rs
  tests/forge_sync_integration_test.rs
  tests/support/proptest_generators.rs
Due: unit

feat(federation): add cross-cluster federation infrastructure
  src/bin/aspen-cli/cli.rs
  src/bin/aspen-cli/commands/federation.rs
  src/bin/aspen-cli/commands/git.rs
  src/bin/aspen-cli/commands/mod.rs
  src/client_rpc.rs
  src/cluster/config.rs
  src/cluster/federation/discovery.rs
  src/cluster/federation/gossip.rs
  src/cluster/federation/identity.rs
  src/cluster/federation/mod.rs
  src/cluster/federation/sync.rs
  src/cluster/federation/trust.rs
  src/cluster/federation/types.rs
  src/cluster/mod.rs
  src/forge/error.rs
  src/forge/node.rs
  src/forge/sync.rs
  src/node/mod.rs
  src/protocol_handlers/client.rs
  tests/forge_federation_test.rs
Due: unit, Cluster Coordination, Node Builder

feat(cli): add tree creation, key export, and file extraction to git commands
  src/bin/aspen-cli/commands/git.rs
  src/client_rpc.rs
  src/forge/node.rs
  src/protocol_handlers/client.rs
Due: unit

feat(forge): add git bridge layer for standard git interoperability
  Cargo.lock
  Cargo.toml
  src/bin/git-remote-aspen/main.rs
  src/forge/git/bridge/constants.rs
  src/forge/git/bridge/converter.rs
  src/forge/git/bridge/error.rs
  src/forge/git/bridge/mapping.rs
  src/forge/git/bridge/mod.rs
  src/forge/git/bridge/sha1.rs
  src/forge/git/bridge/topological.rs
  src/forge/git/mod.rs
Due: unit

feat(forge): add git importer, exporter, and remote helper binary
  src/bin/git-remote-aspen/main.rs
  src/bin/git-remote-aspen/protocol.rs
  src/bin/git-remote-aspen/url.rs
  src/forge/git/bridge/exporter.rs
  src/forge/git/bridge/importer.rs
  src/forge/git/bridge/mod.rs
  src/forge/git/bridge/topological.rs
Due: unit

docs: update CLAUDE.md and add forge demo script
  .claude/CLAUDE.md
  .gitignore
  scripts/forge-demo.sh
Due: none

feat(forge): add Git Bridge RPC protocol and async remote helper
  src/bin/git-remote-aspen/main.rs
  src/client_rpc.rs
  src/protocol_handlers/client.rs
Due: unit

feat(forge): implement server-side git bridge handlers
  src/forge/git/bridge/importer.rs
  src/forge/git/bridge/mod.rs
  src/forge/git/store.rs
  src/forge/node.rs
  src/forge/refs/store.rs
  src/protocol_handlers/client.rs
Due: unit

fix(git-bridge): preserve timezone and trailing newlines for SHA-1 reproducibility
  Cargo.lock
  Cargo.toml
  src/bin/git-remote-aspen/main.rs
  src/forge/git/bridge/converter.rs
  src/forge/git/bridge/exporter.rs
  src/forge/git/bridge/mapping.rs
  src/forge/git/object.rs
  src/forge/identity/mod.rs
Due: unit

feat(pijul): add native Pijul VCS integration with iroh-blobs storage
  Cargo.lock
  Cargo.toml
  docs/pijul.md
  src/lib.rs
  src/pijul/change_store.rs
  src/pijul/constants.rs
  src/pijul/error.rs
  src/pijul/mod.rs
  src/pijul/refs.rs
  src/pijul/store.rs
  src/pijul/types.rs
Due: unit

feat(pijul): add pristine management and change application
  docs/pijul.md
  src/pijul/apply.rs
  src/pijul/mod.rs
  src/pijul/pristine.rs
Due: unit

feat(pijul): add change recording and working directory output
  docs/pijul.md
  src/pijul/error.rs
  src/pijul/mod.rs
  src/pijul/output.rs
  src/pijul/pristine.rs
  src/pijul/record.rs
Due: unit

feat(pijul): add gossip types and P2P sync service
  docs/pijul.md
  src/pijul/constants.rs
  src/pijul/gossip.rs
  src/pijul/mod.rs
  src/pijul/refs.rs
  src/pijul/sync.rs
Due: unit

test(pijul): add comprehensive integration tests for change workflow
  Cargo.lock
  Cargo.toml
  src/pijul/apply.rs
  src/pijul/error.rs
  src/pijul/record.rs
  tests/pijul_integration_test.rs
Due: unit
