Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

codecov.yml:

# Codecov configuration for Aspen
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Overall project coverage settings
  precision: 2
  round: down
  range: "20...80"  # Color scale: red at 20%, green at 80%

  status:
    # Project-level coverage check
    project:
      default:
        target: auto  # Use coverage from base commit as target
        threshold: 1% # Allow 1% decrease without failing
        if_ci_failed: error
        only_pulls: true

    # Per-patch coverage (new/modified lines)
    patch:
      default:
        target: 50%   # New code should have 50%+ coverage
        threshold: 5% # Allow some variance
        if_ci_failed: error

# Ignore patterns - exclude from coverage reporting
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "openraft/**/*"           # Vendored dependency
  - "src/bin/aspen-tui/**/*"  # TUI is hard to unit test
  - "fuzz/**/*"               # Fuzz targets
  - "**/*_test.rs"
  - "**/tests.rs"

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    # Core API traits
    - component_id: api
      name: API Traits
      paths:
        - src/api/**

    # Raft consensus
    - component_id: raft
      name: Raft Consensus
      paths:
        - src/raft/**

    # Cluster coordination
    - component_id: cluster
      name: Cluster Coordination
      paths:
        - src/cluster/**

    # Node orchestration
    - component_id: node
      name: Node Builder
      paths:
        - src/node/**

    # Testing infrastructure
    - component_id: testing
      name: Testing Infrastructure
      paths:
        - src/testing/**

# Comment configuration for PRs
comment:
  layout: "header, diff, components, tree"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - tests/
    carryforward: true

# GitHub checks configuration
github_checks:
  annotations: true

Split chain evidence parsing
  .agent/napkin.md
  src/harness/gate.rs
Due: unit

Extract gate evidence refs
  .agent/napkin.md
  src/harness/gate.rs
Due: unit

Split short id resolution
  .agent/napkin.md
  src/catalog/mod.rs
Due: unit

Log gate evidence edit failure
  .agent/napkin.md
Due: none

Split catalog GC fixture
  .agent/napkin.md
  src/catalog/mod.rs
  src/harness/schema.rs
Due: unit

Split provenance evaluation burn-down
  .agent/napkin.md
  scripts/octet-burndown.scm
  src/provenance/mod.rs
Due: unit

Octet burn-down 7301 -> 7300
  .agent/napkin.md
  src/provenance/mod.rs
Due: unit

Octet burn-down 7300 -> 7299
  tests/cliharness.rs
Due: none

Octet burn-down 7299 -> 7298
  .agent/napkin.md
  tests/cliharness.rs
Due: none

Octet burn-down 7298 -> 7297
  tests/cliharness.rs
Due: none

Octet burn-down 7297 -> 7295
  .agent/napkin.md
  src/evidence/mod.rs
Due: unit

Octet burn-down 7295 -> 7293
  .agent/napkin.md
  src/evidence/mod.rs
Due: unit

Octet burn-down 7293 -> 7292
  .agent/napkin.md
  tests/cliharness.rs
Due: none

Octet burn-down 7292 -> 7291
  .agent/napkin.md
  tests/cliharness.rs
Due: none

Octet burn-down 7291 -> 7290
  tests/cliharness.rs
Due: none

Octet burn-down 7290 -> 7289
  tests/cliharness.rs
Due: none

Octet burn-down 7289 -> 7288
  .agent/napkin.md
  tests/cliharness.rs
Due: none

Octet burn-down 7288 -> 7287
  tests/cliharness.rs
Due: none

Octet burn-down 7287 -> 7286
  src/retention/mod.rs
Due: unit

Octet burn-down 7286 -> 7285
  .agent/napkin.md
  tests/cliharness.rs
Due: none

Octet burn-down 7285 -> 7284
  .agent/napkin.md
  src/ledger/mod.rs
Due: unit

Octet burn-down 7284 -> 7282
  src/ledger/mod.rs
Due: unit

Octet burn-down 7282 -> 7281
  .agent/napkin.md
  tests/cliharness.rs
Due: none

Octet burn-down 7281 -> 7280
  .agent/napkin.md
  tests/cliharness.rs
Due: none

Octet burn-down 7280 -> 7278
  src/node/identity.rs
Due: unit, Node Builder

Octet burn-down 7278 -> 7277
  src/catalog/mod.rs
Due: unit

Reduce Octet function length findings
  .agent/napkin.md
  src/federation/mod.rs
  src/node/identity.rs
Due: unit, Node Builder

Octet burn-down 7275 -> 7273
  .agent/napkin.md
  src/service/runtime.rs
Due: unit

Octet burn-down 7273 -> 7271
  .agent/napkin.md
  src/transcripts/mod.rs
Due: unit

Octet burn-down 7271 -> 7270
  src/chunk/store.rs
Due: unit

Octet burn-down 7270 -> 7268
  src/chunk/store.rs
Due: unit

Octet burn-down 7268 -> 7266
  src/octet/remediation.rs
Due: unit

Octet burn-down 7266 -> 7264
  src/octet/gate.rs
Due: unit

Octet burn-down 7264 -> 7260
  .agent/napkin.md
  src/rewrites/mod.rs
Due: unit

Octet burn-down 7260 -> 7258
  src/service/records.rs
Due: unit

Octet burn-down 7258 -> 7257
  src/service/records.rs
Due: unit

Octet burn-down 7257 -> 7255
  src/raft/control/plane.rs
Due: unit, Raft Consensus

Octet burn-down 7255 -> 7253
  src/service/supervision.rs
Due: unit

Octet burn-down 7253 -> 7251
  src/upgrades/mod.rs
Due: unit

Octet burn-down 7251 -> 7249
  .agent/napkin.md
  src/remote/dataspace.rs
Due: unit
