Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

codecov.yml:

# Codecov configuration for Aspen
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Overall project coverage settings
  precision: 2
  round: down
  range: "20...80"  # Color scale: red at 20%, green at 80%

  status:
    # Project-level coverage check
    project:
      default:
        target: auto  # Use coverage from base commit as target
        threshold: 1% # Allow 1% decrease without failing
        if_ci_failed: error
        only_pulls: true

    # Per-patch coverage (new/modified lines)
    patch:
      default:
        target: 50%   # New code should have 50%+ coverage
        threshold: 5% # Allow some variance
        if_ci_failed: error

# Ignore patterns - exclude from coverage reporting
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "openraft/**/*"           # Vendored dependency
  - "src/bin/aspen-tui/**/*"  # TUI is hard to unit test
  - "fuzz/**/*"               # Fuzz targets
  - "**/*_test.rs"
  - "**/tests.rs"

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    # Core API traits
    - component_id: api
      name: API Traits
      paths:
        - src/api/**

    # Raft consensus
    - component_id: raft
      name: Raft Consensus
      paths:
        - src/raft/**

    # Cluster coordination
    - component_id: cluster
      name: Cluster Coordination
      paths:
        - src/cluster/**

    # Node orchestration
    - component_id: node
      name: Node Builder
      paths:
        - src/node/**

    # Testing infrastructure
    - component_id: testing
      name: Testing Infrastructure
      paths:
        - src/testing/**

# Comment configuration for PRs
comment:
  layout: "header, diff, components, tree"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - tests/
    carryforward: true

# GitHub checks configuration
github_checks:
  annotations: true

Record renamed host gate and root lint debt without startup approval
  .cairn/changes/node-startup-evidence/evidence/locator-policy/README.md
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
Due: none

Classify root Octet gate debt and file-kind false positive
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
Due: none

Sync and archive restore-cairn-exemption-fixture-port
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/acceptance.md
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/design.md
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/archive-execute.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/gate-design.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/gate-proposal.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/gate-tasks.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/sync-execute.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/validate-strict.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/evidence/verification.md
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/metadata.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/proposal.md
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/reviews/no-spec-classification.json
  .cairn/archive/2026-09-24-restore-cairn-exemption-fixture-port/tasks.md
Due: none

Restore the Cairn exemption fixture port
  .cairn/changes/restore-cairn-exemption-fixture-port/acceptance.md
  .cairn/changes/restore-cairn-exemption-fixture-port/design.md
  .cairn/changes/restore-cairn-exemption-fixture-port/evidence/gate-design.json
  .cairn/changes/restore-cairn-exemption-fixture-port/evidence/gate-proposal.json
  .cairn/changes/restore-cairn-exemption-fixture-port/evidence/gate-tasks.json
  .cairn/changes/restore-cairn-exemption-fixture-port/evidence/validate-strict.json
  .cairn/changes/restore-cairn-exemption-fixture-port/evidence/verification.md
  .cairn/changes/restore-cairn-exemption-fixture-port/metadata.json
  .cairn/changes/restore-cairn-exemption-fixture-port/proposal.md
  .cairn/changes/restore-cairn-exemption-fixture-port/reviews/no-spec-classification.json
  .cairn/changes/restore-cairn-exemption-fixture-port/tasks.md
  cairn-policy/UPSTREAM.md
  cairn-policy/fixtures/valid-with-exemption.ncl
Due: none

Sync and archive structural-native-host-profile-scan
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/acceptance.md
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/design.md
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/archive-execute.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/gate-design.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/gate-proposal.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/gate-tasks.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/sync-execute.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/validate-strict.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/evidence/verification.md
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/metadata.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/proposal.md
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/reviews/no-spec-classification.json
  .cairn/archive/2026-09-24-structural-native-host-profile-scan/tasks.md
Due: none

Match the native host completion field structurally
  .cairn/changes/structural-native-host-profile-scan/acceptance.md
  .cairn/changes/structural-native-host-profile-scan/design.md
  .cairn/changes/structural-native-host-profile-scan/evidence/gate-design.json
  .cairn/changes/structural-native-host-profile-scan/evidence/gate-proposal.json
  .cairn/changes/structural-native-host-profile-scan/evidence/gate-tasks.json
  .cairn/changes/structural-native-host-profile-scan/evidence/validate-strict.json
  .cairn/changes/structural-native-host-profile-scan/evidence/verification.md
  .cairn/changes/structural-native-host-profile-scan/metadata.json
  .cairn/changes/structural-native-host-profile-scan/proposal.md
  .cairn/changes/structural-native-host-profile-scan/reviews/no-spec-classification.json
  .cairn/changes/structural-native-host-profile-scan/tasks.md
  flake.nix
Due: none

Bind metadata-free git source hashes for generated plans
  .cairn/changes/bind-metadata-free-git-source-hashes/acceptance.md
  .cairn/changes/bind-metadata-free-git-source-hashes/design.md
  .cairn/changes/bind-metadata-free-git-source-hashes/evidence/fod-realise-check.txt
  .cairn/changes/bind-metadata-free-git-source-hashes/evidence/gate-design.json
  .cairn/changes/bind-metadata-free-git-source-hashes/evidence/gate-proposal.json
  .cairn/changes/bind-metadata-free-git-source-hashes/evidence/gate-tasks.json
  .cairn/changes/bind-metadata-free-git-source-hashes/evidence/previously-blocked-checks.txt
  .cairn/changes/bind-metadata-free-git-source-hashes/evidence/validate-strict.json
  .cairn/changes/bind-metadata-free-git-source-hashes/evidence/verification.md
  .cairn/changes/bind-metadata-free-git-source-hashes/metadata.json
  .cairn/changes/bind-metadata-free-git-source-hashes/proposal.md
  .cairn/changes/bind-metadata-free-git-source-hashes/reviews/no-spec-classification.json
  .cairn/changes/bind-metadata-free-git-source-hashes/tasks.md
  build-plan.json
  crate-hashes.json
  docs/reproducible-dependencies.md
  flake.nix
  release-policy-build-plan.json
  scripts/git-source-hashes.sh
Due: none

Sync and archive bind-metadata-free-git-source-hashes
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/acceptance.md
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/design.md
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/archive-execute.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/fod-realise-check.txt
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/gate-design.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/gate-proposal.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/gate-tasks.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/previously-blocked-checks.txt
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/sync-execute.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/validate-strict.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/evidence/verification.md
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/metadata.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/proposal.md
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/reviews/no-spec-classification.json
  .cairn/archive/2026-09-24-bind-metadata-free-git-source-hashes/tasks.md
Due: none

Sync and archive restore-tracey-requirement-root
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/design.md
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/archive-execute.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/gate-design.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/gate-proposal.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/gate-tasks.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/marker-justifications.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/review.md
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/sync-execute.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/validate-strict.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/evidence/verification.md
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/metadata.json
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/proposal.md
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/specs/object-store-cas-coordinator/spec.md
  .cairn/archive/2026-09-24-restore-tracey-requirement-root/tasks.md
  .cairn/specs/object-store-cas-coordinator/spec.md
Due: none

Keep the oracle process source at its pinned identity
  .cairn/changes/restore-tracey-requirement-root/evidence/marker-justifications.json
  .cairn/changes/restore-tracey-requirement-root/evidence/verification.md
  src/world_state_oracle/process.rs
Due: unit

Sync and archive pin-octet-dev-shell
  .cairn/archive/2026-09-24-pin-octet-dev-shell/acceptance.md
  .cairn/archive/2026-09-24-pin-octet-dev-shell/design.md
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/archive-execute.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/gate-design.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/gate-proposal.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/gate-tasks.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/octet-lib-summary.txt
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/octet-root-summary.txt
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/sync-execute.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/validate-strict.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/evidence/verification.md
  .cairn/archive/2026-09-24-pin-octet-dev-shell/metadata.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/proposal.md
  .cairn/archive/2026-09-24-pin-octet-dev-shell/reviews/no-spec-classification.json
  .cairn/archive/2026-09-24-pin-octet-dev-shell/tasks.md
Due: none

Sync and archive octet-burndown-import-hygiene
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/acceptance.md
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/design.md
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/archive-execute.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/codemod-dry-run.txt
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/gate-design.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/gate-proposal.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/gate-tasks.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/octet-lib-summary.txt
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/octet-root-summary.txt
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/sync-execute.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/validate-strict.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/evidence/verification.md
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/metadata.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/proposal.md
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/reviews/no-spec-classification.json
  .cairn/archive/2026-09-24-octet-burndown-import-hygiene/tasks.md
Due: none

Pin the Octet toolchain in the dev shell
  .cairn/changes/pin-octet-dev-shell/acceptance.md
  .cairn/changes/pin-octet-dev-shell/design.md
  .cairn/changes/pin-octet-dev-shell/evidence/gate-design.json
  .cairn/changes/pin-octet-dev-shell/evidence/gate-proposal.json
  .cairn/changes/pin-octet-dev-shell/evidence/gate-tasks.json
  .cairn/changes/pin-octet-dev-shell/evidence/octet-lib-summary.txt
  .cairn/changes/pin-octet-dev-shell/evidence/octet-root-summary.txt
  .cairn/changes/pin-octet-dev-shell/evidence/validate-strict.json
  .cairn/changes/pin-octet-dev-shell/evidence/verification.md
  .cairn/changes/pin-octet-dev-shell/metadata.json
  .cairn/changes/pin-octet-dev-shell/proposal.md
  .cairn/changes/pin-octet-dev-shell/reviews/no-spec-classification.json
  .cairn/changes/pin-octet-dev-shell/tasks.md
  README.md
  flake.nix
Due: none

Record complete normal-node source closure review and no safe narrow gate
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
Due: none

Link passing minimal inventory fixture to missing compiled sources
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
Due: none

Sync and archive declare-wasm-component-import-admission
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/design.md
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/evidence/archive-execute.json
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/evidence/gate-design.json
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/evidence/sync-execute.json
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/evidence/verification.md
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/metadata.json
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/proposal.md
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/specs/wasm-import-admission/spec.md
  .cairn/archive/2026-09-25-declare-wasm-component-import-admission/tasks.md
  .cairn/specs/wasm-import-admission/spec.md
Due: none

Sync and archive exercise-simulation-faults-causally
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/design.md
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/evidence/archive-execute.json
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/evidence/gate-design.json
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/evidence/sync-execute.json
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/evidence/verification.md
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/metadata.json
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/proposal.md
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/specs/fabric-simulation/spec.md
  .cairn/archive/2026-09-25-exercise-simulation-faults-causally/tasks.md
  .cairn/specs/fabric-simulation/spec.md
  src/fabric_simulation/composition.rs
Due: unit

Split the runtime-spine blob-ref requirement ids under a bounded exception
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/acceptance.md
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/design.md
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/archive-execute.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/blob-ref-marker-resolution.txt
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/gate-design.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/original-blob-ref-blocks.md
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/own-remote-sync-preview-after-split.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/own-remote-sync-preview-before-split.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/requirement-ids-after.txt
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/requirement-ids-before.txt
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/split-blob-ref-blocks.md
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/sync-execute.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/validate-strict.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/evidence/verification.md
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/metadata.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/proposal.md
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-split-runtime-spine-blob-ref-requirement-ids/tasks.md
  .cairn/specs/runtime-spine/spec.md
Due: none

Sync and archive own-remote-assertions-per-session
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/design.md
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/archive-execute.json
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/gate-design.json
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/predecessor-split-traceability-gate.txt
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/sync-execute.json
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/evidence/verification.md
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/metadata.json
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/proposal.md
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/specs/runtime-spine/spec.md
  .cairn/archive/2026-09-25-own-remote-assertions-per-session/tasks.md
  .cairn/specs/runtime-spine/spec.md
Due: none

Burn down Octet no_unwrap and no_panic
  .cairn/changes/octet-burndown-safety-unwrap/acceptance.md
  .cairn/changes/octet-burndown-safety-unwrap/design.md
  .cairn/changes/octet-burndown-safety-unwrap/evidence/gate-design.json
  .cairn/changes/octet-burndown-safety-unwrap/evidence/gate-proposal.json
  .cairn/changes/octet-burndown-safety-unwrap/evidence/gate-tasks.json
  .cairn/changes/octet-burndown-safety-unwrap/evidence/integer-sqrt-equivalence.txt
  .cairn/changes/octet-burndown-safety-unwrap/evidence/octet-lib-summary.txt
  .cairn/changes/octet-burndown-safety-unwrap/evidence/octet-lint-diff.txt
  .cairn/changes/octet-burndown-safety-unwrap/evidence/octet-root-summary.txt
  .cairn/changes/octet-burndown-safety-unwrap/evidence/validate-strict.json
  .cairn/changes/octet-burndown-safety-unwrap/evidence/verification.md
  .cairn/changes/octet-burndown-safety-unwrap/metadata.json
  .cairn/changes/octet-burndown-safety-unwrap/proposal.md
  .cairn/changes/octet-burndown-safety-unwrap/reviews/no-spec-classification.json
  .cairn/changes/octet-burndown-safety-unwrap/tasks.md
  src/cluster_harness/fabric_transport.rs
  src/cluster_harness/runner.rs
  src/wasm/performance/comparison.rs
  tests/content_replication.rs
  tests/nativesystemextension.rs
  tests/nativesystemextension/support.rs
  tests/parts/cliharness/p004/body.rs
  tests/parts/cliharness/p011/body.rs
  tests/parts/cliharness/p016/body.rs
Due: unit

Sync and archive octet-burndown-safety-unwrap
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/acceptance.md
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/design.md
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/archive-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/gate-design.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/integer-sqrt-equivalence.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/octet-lib-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/octet-lint-diff.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/octet-root-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/sync-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/validate-strict.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/evidence/verification.md
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/metadata.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/proposal.md
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-octet-burndown-safety-unwrap/tasks.md
Due: none

Burn down Octet collection growth in validators
  .cairn/changes/octet-burndown-safety-collections-validators/acceptance.md
  .cairn/changes/octet-burndown-safety-collections-validators/design.md
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/fixture-receipt-comparison.txt
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/gate-design.json
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/gate-proposal.json
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/gate-tasks.json
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/octet-lib-summary.txt
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/octet-lint-diff.txt
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/octet-root-summary.txt
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/validate-strict.json
  .cairn/changes/octet-burndown-safety-collections-validators/evidence/verification.md
  .cairn/changes/octet-burndown-safety-collections-validators/metadata.json
  .cairn/changes/octet-burndown-safety-collections-validators/proposal.md
  .cairn/changes/octet-burndown-safety-collections-validators/reviews/no-spec-classification.json
  .cairn/changes/octet-burndown-safety-collections-validators/tasks.md
  src/audit/ast_grep.rs
  src/capability/tokens.rs
  src/chunk/parts/store/p016/body.rs
  src/cli/ops/dogfood/archive.rs
  src/coordination/parts/mod/p008/body.rs
  src/coordination_delivery/simulation.rs
  src/effects/parts/mod/p006/body.rs
  src/harness/parts/gate/p002/body.rs
  src/harness/parts/schema/p021/body.rs
  src/harness/parts/schema/p026/body.rs
  src/lifecycle/parts/mod/p003/body.rs
  src/peer/handoff.rs
  src/peer/promotion.rs
  src/project/effective/config.rs
  src/provenance/parts/mod/p002/body.rs
  src/raft/control/parts/plane/p008/body.rs
  src/raft/control/parts/plane/p009/body.rs
  src/resources/parts/mod/p003/body.rs
  src/resources/parts/mod/p004/body.rs
  src/resources/parts/mod/p005/body.rs
  src/resources/parts/mod/p007/body.rs
  src/resources/parts/mod/p008/body.rs
  src/retention/parts/mod/p028/body.rs
  src/testing/hardening.rs
Due: unit, Raft Consensus, Testing Infrastructure

Sync and archive octet-burndown-safety-collections-validators
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/acceptance.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/design.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/archive-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/fixture-receipt-comparison.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/gate-design.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/octet-lib-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/octet-lint-diff.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/octet-root-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/sync-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/validate-strict.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/evidence/verification.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/metadata.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/proposal.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-validators/tasks.md
Due: none

Retain exact-node-core strict gate denial evidence
  .cairn/changes/node-startup-evidence/evidence/standalone-node-exact-core-gate/README.md
  .cairn/changes/node-startup-evidence/evidence/standalone-node-exact-core-gate/status.json
  .cairn/changes/node-startup-evidence/evidence/standalone-node-exact-core-gate/summary.txt
Due: none

Sync and archive octet-burndown-safety-collections-runtime
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/acceptance.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/design.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/archive-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/fixture-receipt-comparison.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/gate-design.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/octet-lib-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/octet-lint-diff.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/octet-root-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/simulation-fixture-comparison.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/sync-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/validate-strict.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/evidence/verification.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/metadata.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/proposal.md
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-octet-burndown-safety-collections-runtime/tasks.md
Due: none

Route supervision timeouts through the fabric-time port and make the structural scan iterative
  .cairn/changes/octet-burndown-safety-clock/acceptance.md
  .cairn/changes/octet-burndown-safety-clock/design.md
  .cairn/changes/octet-burndown-safety-clock/evidence/fixture-receipt-comparison.txt
  .cairn/changes/octet-burndown-safety-clock/evidence/gate-design.json
  .cairn/changes/octet-burndown-safety-clock/evidence/gate-proposal.json
  .cairn/changes/octet-burndown-safety-clock/evidence/gate-tasks.json
  .cairn/changes/octet-burndown-safety-clock/evidence/octet-lib-summary.txt
  .cairn/changes/octet-burndown-safety-clock/evidence/octet-lint-diff.txt
  .cairn/changes/octet-burndown-safety-clock/evidence/octet-root-summary.txt
  .cairn/changes/octet-burndown-safety-clock/evidence/simulation-fixture-comparison.txt
  .cairn/changes/octet-burndown-safety-clock/evidence/structural-scan-differential.txt
  .cairn/changes/octet-burndown-safety-clock/evidence/validate-strict.json
  .cairn/changes/octet-burndown-safety-clock/evidence/verification.md
  .cairn/changes/octet-burndown-safety-clock/metadata.json
  .cairn/changes/octet-burndown-safety-clock/proposal.md
  .cairn/changes/octet-burndown-safety-clock/reviews/no-spec-classification.json
  .cairn/changes/octet-burndown-safety-clock/tasks.md
  src/cluster_harness/fabric_transport.rs
  src/cluster_harness/runner.rs
  src/fabric_consistency/raft/live_process/process.rs
  src/fabric_time/adapters.rs
  src/fabric_time/tests.rs
  src/preserves/parts/rail/p001/body.rs
  src/wasm/performance/runner.rs
Due: unit

Sync and archive octet-burndown-safety-clock
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/acceptance.md
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/design.md
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/archive-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/fixture-receipt-comparison.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/gate-design.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/octet-lib-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/octet-lint-diff.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/octet-root-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/simulation-fixture-comparison.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/structural-scan-differential.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/sync-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/validate-strict.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/evidence/verification.md
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/metadata.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/proposal.md
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-octet-burndown-safety-clock/tasks.md
Due: none

Pin fabric boundary compatibility fixtures from the pre-migration commit
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/acceptance.md
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/design.md
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/archive-execute.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/fixture-inputs.b3
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/gate-design.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/premigration-generator.rs
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/sync-execute.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/validate-strict.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/evidence/verification.md
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/metadata.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/proposal.md
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-pin-fabric-boundary-compatibility-fixtures/tasks.md
  src/fabric_durability/canonical.rs
  src/fabric_membership/canonical.rs
  src/fabric_time/canonical.rs
  src/fabric_transport/canonical.rs
  tests/fabricboundarycompat.rs
  tests/fabricboundarycompat/cases.rs
  tests/fabricboundarycompat/inputs.rs
  tests/fabricboundarycompat/ports.rs
  tests/fixtures/fabric-boundary/assignment-transition.preserves
  tests/fixtures/fabric-boundary/durable-profile.preserves
  tests/fixtures/fabric-boundary/durable-transition.preserves
  tests/fixtures/fabric-boundary/membership-profile.preserves
  tests/fixtures/fabric-boundary/membership-view.preserves
  tests/fixtures/fabric-boundary/refs.tsv
  tests/fixtures/fabric-boundary/time-profile.preserves
  tests/fixtures/fabric-boundary/transport-profile.preserves
  tests/fixtures/fabric-boundary/transport-transition.preserves
Due: unit

Stop feeding stdin to fabric_execution children that never read it
  .cairn/changes/deterministic-fabric-execution-stdin-tests/acceptance.md
  .cairn/changes/deterministic-fabric-execution-stdin-tests/design.md
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/gate-design.json
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/gate-proposal.json
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/gate-tasks.json
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/loop-200-parallel.log
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/loop-200-serial.log
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/loop-200.sh
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/override-dev-only-summary.txt
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/validate-strict.json
  .cairn/changes/deterministic-fabric-execution-stdin-tests/evidence/verification.md
  .cairn/changes/deterministic-fabric-execution-stdin-tests/metadata.json
  .cairn/changes/deterministic-fabric-execution-stdin-tests/proposal.md
  .cairn/changes/deterministic-fabric-execution-stdin-tests/reviews/no-spec-classification.json
  .cairn/changes/deterministic-fabric-execution-stdin-tests/tasks.md
  src/fabric_execution/tests.rs
  src/fabric_execution/tests/live.rs
  src/fabric_execution/tests/simulation.rs
Due: unit

Sync and archive deterministic-fabric-execution-stdin-tests
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/acceptance.md
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/design.md
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/archive-execute.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/gate-design.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/loop-200-parallel.log
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/loop-200-serial.log
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/loop-200.sh
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/override-dev-only-summary.txt
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/sync-execute.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/validate-strict.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/evidence/verification.md
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/metadata.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/proposal.md
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-deterministic-fabric-execution-stdin-tests/tasks.md
Due: none

Keep the fabric_execution stdin tests inside the Octet safety budget
  src/fabric_execution/tests.rs
  src/fabric_execution/tests/live.rs
  src/fabric_execution/tests/stdin.rs
Due: unit

Resolve README cargo run commands to the molten binary
  .cairn/changes/readme-default-run/acceptance.md
  .cairn/changes/readme-default-run/design.md
  .cairn/changes/readme-default-run/evidence/gate-design.json
  .cairn/changes/readme-default-run/evidence/gate-proposal.json
  .cairn/changes/readme-default-run/evidence/gate-tasks.json
  .cairn/changes/readme-default-run/evidence/spot-runs.txt
  .cairn/changes/readme-default-run/evidence/validate-strict.json
  .cairn/changes/readme-default-run/evidence/verification.md
  .cairn/changes/readme-default-run/metadata.json
  .cairn/changes/readme-default-run/proposal.md
  .cairn/changes/readme-default-run/reviews/no-spec-classification.json
  .cairn/changes/readme-default-run/tasks.md
  Cargo.toml
  README.md
Due: none

Sync and archive octet-burndown-safety-ports
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/acceptance.md
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/design.md
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/archive-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/fixture-receipt-comparison.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/gate-design.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/octet-lib-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/octet-lint-diff.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/octet-root-summary.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/simulation-fixture-comparison.txt
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/sync-execute.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/validate-strict.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/evidence/verification.md
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/metadata.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/proposal.md
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-octet-burndown-safety-ports/tasks.md
Due: none

Sync and archive readme-default-run
  .cairn/archive/2026-09-25-readme-default-run/acceptance.md
  .cairn/archive/2026-09-25-readme-default-run/design.md
  .cairn/archive/2026-09-25-readme-default-run/evidence/archive-execute.json
  .cairn/archive/2026-09-25-readme-default-run/evidence/gate-design.json
  .cairn/archive/2026-09-25-readme-default-run/evidence/gate-proposal.json
  .cairn/archive/2026-09-25-readme-default-run/evidence/gate-tasks.json
  .cairn/archive/2026-09-25-readme-default-run/evidence/spot-runs.txt
  .cairn/archive/2026-09-25-readme-default-run/evidence/sync-execute.json
  .cairn/archive/2026-09-25-readme-default-run/evidence/validate-strict-after-archive.json
  .cairn/archive/2026-09-25-readme-default-run/evidence/validate-strict.json
  .cairn/archive/2026-09-25-readme-default-run/evidence/verification.md
  .cairn/archive/2026-09-25-readme-default-run/metadata.json
  .cairn/archive/2026-09-25-readme-default-run/proposal.md
  .cairn/archive/2026-09-25-readme-default-run/reviews/no-spec-classification.json
  .cairn/archive/2026-09-25-readme-default-run/tasks.md
Due: none
