Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

codecov.yml:

# Codecov configuration for Aspen
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Overall project coverage settings
  precision: 2
  round: down
  range: "20...80"  # Color scale: red at 20%, green at 80%

  status:
    # Project-level coverage check
    project:
      default:
        target: auto  # Use coverage from base commit as target
        threshold: 1% # Allow 1% decrease without failing
        if_ci_failed: error
        only_pulls: true

    # Per-patch coverage (new/modified lines)
    patch:
      default:
        target: 50%   # New code should have 50%+ coverage
        threshold: 5% # Allow some variance
        if_ci_failed: error

# Ignore patterns - exclude from coverage reporting
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "openraft/**/*"           # Vendored dependency
  - "src/bin/aspen-tui/**/*"  # TUI is hard to unit test
  - "fuzz/**/*"               # Fuzz targets
  - "**/*_test.rs"
  - "**/tests.rs"

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    # Core API traits
    - component_id: api
      name: API Traits
      paths:
        - src/api/**

    # Raft consensus
    - component_id: raft
      name: Raft Consensus
      paths:
        - src/raft/**

    # Cluster coordination
    - component_id: cluster
      name: Cluster Coordination
      paths:
        - src/cluster/**

    # Node orchestration
    - component_id: node
      name: Node Builder
      paths:
        - src/node/**

    # Testing infrastructure
    - component_id: testing
      name: Testing Infrastructure
      paths:
        - src/testing/**

# Comment configuration for PRs
comment:
  layout: "header, diff, components, tree"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - tests/
    carryforward: true

# GitHub checks configuration
github_checks:
  annotations: true

Widen the import repair and record the real gate state
  docs/octet-tigerstyle-remediation.md
  scripts/octet-qualify-imports.rs
Due: none

Clear the safety and structure lint residue
  src/bin/molten-native-extension-fixture.rs
  src/chunk/parts/store/p016/body.rs
  src/content_replication/tests/mod.rs
  src/content_store_adapter/persistence.rs
  src/coordination/parts/mod/tests/m000/p001/body.rs
  src/coordination_delivery/tests/records.rs
  src/dag_sync/domain.rs
  src/dag_sync/records.rs
  src/eval/parts/cache/tests/m000/p000/body.rs
  src/fabric_crypto_identity/tests.rs
  src/job/parts/dag/tests/m000/p007/body.rs
  src/local_store/tests.rs
  src/system_extension/native_host/service.rs
  src/wasm/performance/comparison.rs
  src/wasm/performance/runner.rs
  src/wasm/performance/tests/runner.rs
  src/world_benchmark/chaoscontrol.rs
  src/world_branch_authority/service.rs
  src/world_distribution/records.rs
  src/world_snapshot/tests/external/support.rs
  tests/parts/cliharness/p018/body.rs
  tests/parts/cliharness/p019/body.rs
Due: unit

Finish the predicate-prefix family
  scripts/octet-predicate-names.rs
  src/cli/ops/nixosvm/command.rs
  src/fabric_consistency/raft/live_process/child.rs
  src/resources/parts/mod/p005/body.rs
Due: unit

Record the current Octet gate state
  docs/octet-tigerstyle-remediation.md
Due: none

Repair imports that a module tree shares
  scripts/octet-qualify-imports.rs
  src/content_replication/service/execution.rs
  src/content_replication/service/mod.rs
  src/content_replication/service/validation.rs
  src/fabric_consistency/operator/canonical.rs
  src/fabric_consistency/operator/mod.rs
  src/fabric_consistency/operator/tests.rs
  src/fabric_consistency/raft/evidence.rs
  src/fabric_consistency/raft/evidence/health.rs
  src/fabric_crypto_identity/artifact_auth.rs
  src/fabric_crypto_identity/artifact_auth/operational.rs
  src/fabric_execution/tests.rs
  src/fabric_execution/tests/live.rs
  src/fabric_execution/tests/simulation.rs
  src/iroh/parts/exchange/tests/m000/p000/body.rs
  src/remote/parts/dataspace/tests/m000/p000/body.rs
Due: unit

Follow qualified descendant paths
  scripts/octet-qualify-imports.rs
  src/content_replication/tests/conformance_tests.rs
  src/content_replication/tests/mod.rs
  src/fabric_consistency/raft/transition.rs
  src/fabric_execution/canonical/mod.rs
Due: unit

Rewrite only the references an import actually owns
  scripts/octet-qualify-imports.rs
  src/fabric_consistency/raft/iroh_tests.rs
  src/fabric_crypto_identity/file_adapter.rs
  src/fabric_simulation/canonical.rs
  src/system_extension/canonical.rs
  src/system_extension/native_host/journal.rs
  src/system_extension/native_host/wire.rs
  src/wasm/component/evidence/materialization.rs
  src/wasm/performance/comparison.rs
Due: unit

Stop refusing paths and patterns the rewrite can keep
  scripts/octet-qualify-imports.rs
  src/cluster_harness/runner.rs
  src/fabric_consistency/raft/live_process/child.rs
  src/fabric_consistency/raft/live_process/mod.rs
  src/fabric_consistency/raft/live_process/process.rs
  src/fabric_consistency/raft/live_process/receipt.rs
  src/fabric_consistency/raft/live_process/recovered.rs
  src/wasm/component/admission.rs
  src/wasm/component/evidence/receipt.rs
  src/wasm/component/runtime.rs
Due: unit

Record the Octet gate state after the import repair
  docs/octet-tigerstyle-remediation.md
Due: none

Flatten the deepest conditionals
  src/cli/ops/nixosvm/io.rs
  src/delivery/parts/idempotency/p001/body.rs
  src/materialization.rs
  src/operator/parts/gateway/p004/body.rs
  src/resources/parts/mod/p005/body.rs
Due: unit

Record the gate state after the conditional flattening
  docs/octet-tigerstyle-remediation.md
Due: none

Refuse an unexpected raft message instead of aborting
  src/fabric_consistency/raft/canonical.rs
  src/fabric_consistency/raft/transition/message.rs
Due: unit

Record the gate state after the raft panic repair
  docs/octet-tigerstyle-remediation.md
Due: none

Split the promotion transaction port into two roles
  src/cli/runtime/worldpromotion.rs
  src/world_promotion/ports.rs
  src/world_promotion/store/transaction.rs
  src/world_promotion/tests/support.rs
Due: unit

Skip a definition name in the import repair
  crates/molten-node-host/src/node/state/authority.rs
  crates/molten-node-host/src/node/state/namespace.rs
  docs/octet-tigerstyle-remediation.md
  scripts/octet-qualify-imports.rs
  src/fabric_transport/cross_process/iroh_shell.rs
Due: unit

Move inline format captures so the import repair can run
  crates/molten-node-host/src/node/state/enumeration.rs
  crates/molten-node-host/src/node/state/filesystem.rs
  docs/octet-tigerstyle-remediation.md
  src/fabric_consistency/binding.rs
  src/fabric_consistency/raft/admission.rs
Due: unit

Expose the live-cluster setup module instead of re-exporting it
  docs/octet-tigerstyle-remediation.md
  src/fabric_consistency/raft/live_cluster/mod.rs
  src/fabric_consistency/raft/live_cluster/setup.rs
  src/fabric_consistency/raft/live_cluster/workflow.rs
  src/fabric_consistency/raft/live_process/child.rs
Due: unit

Scope the import repair to a nested use
  docs/octet-tigerstyle-remediation.md
  scripts/octet-qualify-imports.rs
  src/fabric_durability/tests.rs
  src/fabric_time/tests.rs
  src/fabric_transport/cross_process/tests.rs
  src/fabric_transport/tests.rs
  src/live_binding_adoption.rs
  src/node/parts/daemon/tests/m000/p013/body.rs
  src/node/state/tests.rs
  src/wasm/component/evidence/receipt.rs
  src/wasm/performance/evidence.rs
Due: unit, Node Builder

Make the raft dispatchers name every message variant
  docs/octet-tigerstyle-remediation.md
  src/fabric_consistency/raft/transition/message.rs
Due: unit

Walk directory trees with an explicit stack
  docs/octet-tigerstyle-remediation.md
  src/cli/ops/traceability.rs
  src/cluster_harness/fabric_transport.rs
  src/cluster_harness/runner.rs
Due: unit

Move compound module filenames into directory layouts
  docs/octet-tigerstyle-remediation.md
  evidence/tracey/runtime-spine-content-refs-direct-repairs.json
  evidence/tracey/runtime-spine-content-refs-direct-repairs.ncl
  src/capability/claim/authority.rs
  src/capability/mod.rs
  src/content_store_adapter/live/iroh.rs
  src/content_store_adapter/mod.rs
  src/fabric_consistency/live/service.rs
  src/fabric_consistency/mod.rs
  src/fabric_consistency/raft/canonical/tests.rs
  src/fabric_consistency/raft/durability/tests.rs
  src/fabric_consistency/raft/evidence/tests.rs
  src/fabric_consistency/raft/executor/tests.rs
  src/fabric_consistency/raft/iroh/tests.rs
  src/fabric_consistency/raft/mod.rs
  src/fabric_consistency/raft/ports/tests.rs
  src/fabric_consistency/raft/time/tests.rs
  src/fabric_crypto_identity/file/adapter.rs
  src/fabric_crypto_identity/mod.rs
  src/fabric_transport/cross_process/effect/port.rs
  src/fabric_transport/cross_process/iroh/shell.rs
  src/fabric_transport/cross_process/mod.rs
  src/fabric_transport/cross_process/tests.rs
  src/lib.rs
  src/nixos/vm.rs
  src/nixos/vm/validation.rs
  src/node/profile/config.rs
  src/node/service/fsm.rs
  src/operator/context/profile.rs
  src/prod/release/profile.rs
  src/project/config/portability.rs
  src/project/effective/config.rs
  src/protocol/sans/io.rs
Due: unit, Node Builder

Record the burn-down handoff and the session slices
  docs/octet-burndown-handoff.md
  docs/octet-tigerstyle-remediation.md
Due: none

Log the session's Octet burn-down slices in the agent napkin
  .agent/napkin.md
Due: none

Record repository guidelines, logical-bug audit, and orchestration source candidate
  AGENTS.md
  aspen-orchestration-batch-implementation.zip
  docs/audits/logical-bugs-2026-09-08.md
Due: none

Log the drain-session napkin correction
  .agent/napkin.md
Due: none

Admit node shutdown before adapter, receipt, and lock effects
  .cairn/changes/fix-node-shutdown-admission/evidence/verification.md
  .cairn/changes/fix-node-shutdown-admission/tasks.md
  docs/architecture.md
  src/node/parts/daemon/p018/body.rs
  src/node/parts/daemon/p027/body.rs
  src/node/parts/daemon/p038/body.rs
  src/node/parts/daemon/tests/m000/p014/body.rs
  src/node/parts/runtime/p004/body.rs
  src/node/parts/runtime/p005/body.rs
  src/node/parts/runtime/tests/m000/p002/body.rs
  src/node/runtime.rs
Due: unit, Node Builder

Admit declared Wasm component import surfaces before instantiation
  .cairn/changes/declare-wasm-component-import-admission/evidence/verification.md
  .cairn/changes/declare-wasm-component-import-admission/tasks.md
  src/wasm/component/admission.rs
  src/wasm/component/imports/mod.rs
  src/wasm/component/imports/observation.rs
  src/wasm/component/imports/receipt.rs
  src/wasm/component/imports/surface.rs
  src/wasm/component/mod.rs
  src/wasm/component/runtime/shell.rs
  src/wasm/component/tests/admission.rs
  src/wasm/component/tests/imports/mod.rs
  src/wasm/component/tests/mod.rs
  src/wasm/component/tests/shell.rs
  src/wasm/component/tests/support.rs
Due: unit

Own delivered remote assertions in the receiving session scope
  .cairn/changes/own-remote-assertions-per-session/evidence/verification.md
  .cairn/changes/own-remote-assertions-per-session/tasks.md
  docs/architecture.md
  src/ledger/parts/mod/artifacts/p000/body.rs
  src/preserves/parts/rail/p000/body.rs
  src/remote/dataspace.rs
  src/remote/parts/dataspace/p000/body.rs
  src/remote/parts/dataspace/p002/body.rs
  src/remote/parts/dataspace/p004/body.rs
  src/remote/parts/dataspace/p006/body.rs
  src/remote/parts/dataspace/p007/body.rs
  src/remote/parts/dataspace/tests/m000/p003/body.rs
Due: unit

Execute simulation faults causally with stateful transport and storage
  .cairn/changes/exercise-simulation-faults-causally/evidence/verification.md
  .cairn/changes/exercise-simulation-faults-causally/tasks.md
  crates/molten-core/src/fabric_simulation/adapters.rs
  crates/molten-core/src/fabric_simulation/mod.rs
  crates/molten-core/src/fabric_simulation/replay.rs
  crates/molten-core/src/fabric_simulation/scheduler.rs
  crates/molten-core/src/fabric_simulation/tests.rs
  crates/molten-core/src/fabric_simulation/types.rs
  src/fabric_simulation/canonical.rs
  src/fabric_simulation/composition.rs
  src/fabric_simulation/reference.rs
  src/fabric_simulation/tests.rs
  src/fabric_simulation/tests/causal.rs
Due: unit

Saturate exponential retry delay at the integer width
  .cairn/changes/saturate-exponential-retry-arithmetic/evidence/verification.md
  .cairn/changes/saturate-exponential-retry-arithmetic/tasks.md
  crates/molten-core/src/fabric_time/lease.rs
  crates/molten-core/src/fabric_time/tests.rs
  docs/fabric-time-scheduler-runtime.md
  src/fabric_time/fixture.rs
  src/fabric_time/history/mod.rs
  src/fabric_time/mod.rs
  src/fabric_time/tests.rs
  src/fabric_time/tests/replay.rs
Due: unit

Admit every ready transition through one bounded queue contract
  .cairn/changes/enforce-scheduler-queue-bounds-on-yield/evidence/verification.md
  .cairn/changes/enforce-scheduler-queue-bounds-on-yield/tasks.md
  .cairn/changes/resume-blocked-scheduler-runnables/evidence/verification.md
  .cairn/changes/resume-blocked-scheduler-runnables/tasks.md
  crates/molten-core/src/fabric_time/scheduler/mod.rs
  crates/molten-core/src/fabric_time/tests.rs
  docs/fabric-time-scheduler-runtime.md
  src/fabric_time/shell.rs
  src/fabric_time/tests.rs
Due: unit

Record the drain slices and two environment traps
  .agent/napkin.md
Due: none

Work in progress: marble object store pilot
  Cargo.lock
  Cargo.toml
  README.md
  docs/marble-object-store-pilot.md
  docs/marble-object-store-pilot/contracts.ncl
  docs/marble-object-store-pilot/fixtures/negative/wrong-transport.ncl
  docs/marble-object-store-pilot/generated/catalog.json
  docs/marble-object-store-pilot/profile.ncl
  evidence/marble-object-store-pilot/campaign-references.md
  examples/marble-store-measure.rs
  flake.nix
  src/lib.rs
  src/marble_store/backend.rs
  src/marble_store/canonical.rs
  src/marble_store/measure.rs
  src/marble_store/mod.rs
  src/marble_store/tests/backend.rs
  src/marble_store/tests/canonical.rs
  src/marble_store/tests/measure.rs
  src/marble_store/tests/mod.rs
  src/marble_store/tests/multiprocess.rs
  src/preserves/parts/rail/p002/body.rs
  src/preserves/rail.rs
Due: unit

Refactor private Molten node-host names without public API changes
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
  crates/molten-node-host/src/local_store/mod.rs
  crates/molten-node-host/src/node/state/authority.rs
  crates/molten-node-host/src/node/state/enumeration.rs
  crates/molten-node-host/src/node/state/locator.rs
  crates/molten-node-host/src/node/state/namespace.rs
Due: none

Record isolated Octet naming review without tool admission
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
Due: none

Separate node-host storage and state responsibilities
  crates/molten-node-host/src/local_store/mod.rs
  crates/molten-node-host/src/local_store/path.rs
  crates/molten-node-host/src/local_store/root.rs
  crates/molten-node-host/src/local_store/typed.rs
  crates/molten-node-host/src/node/state/enumeration.rs
  crates/molten-node-host/src/node/state/filesystem.rs
Due: none

Keep private host split within strict source rules
  crates/molten-node-host/src/local_store/path.rs
  crates/molten-node-host/src/local_store/root.rs
  crates/molten-node-host/src/local_store/typed.rs
  crates/molten-node-host/src/node/state/enumeration.rs
  crates/molten-node-host/src/node/state/locator.rs
Due: none

Record private host split and remaining public naming gate
  .cairn/changes/node-startup-evidence/evidence/locator-policy/README.md
  .cairn/changes/node-startup-evidence/evidence/naming-review/README.md
Due: none
