Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

codecov.yml:

# Codecov configuration for Aspen
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Overall project coverage settings
  precision: 2
  round: down
  range: "20...80"  # Color scale: red at 20%, green at 80%

  status:
    # Project-level coverage check
    project:
      default:
        target: auto  # Use coverage from base commit as target
        threshold: 1% # Allow 1% decrease without failing
        if_ci_failed: error
        only_pulls: true

    # Per-patch coverage (new/modified lines)
    patch:
      default:
        target: 50%   # New code should have 50%+ coverage
        threshold: 5% # Allow some variance
        if_ci_failed: error

# Ignore patterns - exclude from coverage reporting
ignore:
  - "tests/**/*"
  - "examples/**/*"
  - "openraft/**/*"           # Vendored dependency
  - "src/bin/aspen-tui/**/*"  # TUI is hard to unit test
  - "fuzz/**/*"               # Fuzz targets
  - "**/*_test.rs"
  - "**/tests.rs"

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%

  individual_components:
    # Core API traits
    - component_id: api
      name: API Traits
      paths:
        - src/api/**

    # Raft consensus
    - component_id: raft
      name: Raft Consensus
      paths:
        - src/raft/**

    # Cluster coordination
    - component_id: cluster
      name: Cluster Coordination
      paths:
        - src/cluster/**

    # Node orchestration
    - component_id: node
      name: Node Builder
      paths:
        - src/node/**

    # Testing infrastructure
    - component_id: testing
      name: Testing Infrastructure
      paths:
        - src/testing/**

# Comment configuration for PRs
comment:
  layout: "header, diff, components, tree"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - tests/
    carryforward: true

# GitHub checks configuration
github_checks:
  annotations: true

Octet burn-down 6659 -> 6657
  .agent/napkin.md
  src/typed/storage.rs
Due: unit

Octet burn-down 6657 -> 6655
  src/typed/storage.rs
Due: unit

Octet burn-down 6655 -> 6653
  src/typed/storage.rs
Due: unit

Octet burn-down 6653 -> 6649
  .agent/napkin.md
  src/typed/storage.rs
Due: unit

Octet burn-down 6649 -> 6647
  src/typed/storage.rs
Due: unit

Octet burn-down 6647 -> 6645
  src/typed/storage.rs
Due: unit

Octet burn-down 6645 -> 6643
  .agent/napkin.md
  src/octet/gate.rs
Due: unit

Octet burn-down 6643 -> 6639
  .agent/napkin.md
  src/typed/storage.rs
Due: unit

Octet burn-down 6639 -> 6637
  .agent/napkin.md
  src/octet/gate.rs
Due: unit

Octet burn-down 6637 -> 6635
  src/octet/gate.rs
Due: unit

Octet burn-down 6635 -> 6633
  src/octet/gate.rs
Due: unit

bind production readiness to canonical receipts
  README.md
  cairn/archive/2026-06-29-prod-ops-runbooks-drills/design.md
  cairn/archive/2026-06-29-prod-ops-runbooks-drills/proposal.md
  cairn/archive/2026-06-29-prod-ops-runbooks-drills/specs/node-runtime/spec.md
  cairn/archive/2026-06-29-prod-ops-runbooks-drills/tasks.md
  cairn/archive/2026-06-29-prod-release-candidate-gate/design.md
  cairn/archive/2026-06-29-prod-release-candidate-gate/proposal.md
  cairn/archive/2026-06-29-prod-release-candidate-gate/specs/operator-workflow/spec.md
  cairn/archive/2026-06-29-prod-release-candidate-gate/tasks.md
  cairn/archive/2026-06-29-prod-security-readiness-review/design.md
  cairn/archive/2026-06-29-prod-security-readiness-review/proposal.md
  cairn/archive/2026-06-29-prod-security-readiness-review/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-prod-security-readiness-review/tasks.md
  cairn/changes/prod-ops-runbooks-drills/tasks.md
  cairn/changes/prod-release-candidate-gate/tasks.md
  cairn/changes/prod-security-readiness-review/tasks.md
  cairn/specs/evidence-gates/spec.md
  cairn/specs/node-runtime/spec.md
  cairn/specs/operator-workflow/spec.md
  docs/production-node-profile.ncl
  docs/production-operator-runbooks.md
  src/cli/ops/prodsoak/command.rs
  src/cli/ops/prodsoak/ops.rs
  src/lib.rs
  src/preserves/rail.rs
  src/prod/readiness.rs
Due: unit

archive completed Iroh evidence changes
  README.md
  cairn/archive/2026-06-29-iroh-artifact-gateway-review/design.md
  cairn/archive/2026-06-29-iroh-artifact-gateway-review/proposal.md
  cairn/archive/2026-06-29-iroh-artifact-gateway-review/specs/catalog/spec.md
  cairn/archive/2026-06-29-iroh-artifact-gateway-review/specs/confidentiality/spec.md
  cairn/archive/2026-06-29-iroh-artifact-gateway-review/specs/content-addressed-chunk-store/spec.md
  cairn/archive/2026-06-29-iroh-artifact-gateway-review/tasks.md
  cairn/archive/2026-06-29-iroh-live-router-framed-envelopes/design.md
  cairn/archive/2026-06-29-iroh-live-router-framed-envelopes/proposal.md
  cairn/archive/2026-06-29-iroh-live-router-framed-envelopes/specs/node-runtime/spec.md
  cairn/archive/2026-06-29-iroh-live-router-framed-envelopes/specs/testing-harness/spec.md
  cairn/archive/2026-06-29-iroh-live-router-framed-envelopes/tasks.md
  cairn/archive/2026-06-29-iroh-network-diagnostics-observability/design.md
  cairn/archive/2026-06-29-iroh-network-diagnostics-observability/proposal.md
  cairn/archive/2026-06-29-iroh-network-diagnostics-observability/specs/node-runtime/spec.md
  cairn/archive/2026-06-29-iroh-network-diagnostics-observability/specs/runtime-patterns/spec.md
  cairn/archive/2026-06-29-iroh-network-diagnostics-observability/specs/testing-harness/spec.md
  cairn/archive/2026-06-29-iroh-network-diagnostics-observability/tasks.md
  cairn/specs/catalog/spec.md
  cairn/specs/confidentiality/spec.md
  cairn/specs/content-addressed-chunk-store/spec.md
  cairn/specs/node-runtime/spec.md
  cairn/specs/runtime-patterns/spec.md
  cairn/specs/testing-harness/spec.md
  docs/architecture.md
  docs/octet-tigerstyle-remediation.md
  src/cli/ops/gateway.rs
  src/cli/ops/node.rs
  src/cli/ops/node/command.rs
  src/cli/ops/node/command/iroh.rs
  src/cli/ops/node/iroh.rs
  src/lib.rs
  src/main.rs
  src/main/root.rs
  src/main/root/command.rs
  src/nixos/tests.rs
  src/node/iroh.rs
  src/operator/gateway.rs
  src/prod/soak.rs
Due: unit, Node Builder

categorize Octet burn-down for independent draining
  README.md
  cairn/archive/2026-06-29-octet-source-remediated-zero/design.md
  cairn/archive/2026-06-29-octet-source-remediated-zero/proposal.md
  cairn/archive/2026-06-29-octet-source-remediated-zero/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-source-remediated-zero/tasks.md
  cairn/changes/octet-burndown-import-hygiene/design.md
  cairn/changes/octet-burndown-import-hygiene/proposal.md
  cairn/changes/octet-burndown-import-hygiene/specs/evidence-gates/spec.md
  cairn/changes/octet-burndown-import-hygiene/tasks.md
  cairn/changes/octet-burndown-path-shape/design.md
  cairn/changes/octet-burndown-path-shape/proposal.md
  cairn/changes/octet-burndown-path-shape/specs/evidence-gates/spec.md
  cairn/changes/octet-burndown-path-shape/tasks.md
  cairn/changes/octet-burndown-safety-polish/design.md
  cairn/changes/octet-burndown-safety-polish/proposal.md
  cairn/changes/octet-burndown-safety-polish/specs/evidence-gates/spec.md
  cairn/changes/octet-burndown-safety-polish/tasks.md
  cairn/changes/octet-burndown-size-shape/design.md
  cairn/changes/octet-burndown-size-shape/proposal.md
  cairn/changes/octet-burndown-size-shape/specs/evidence-gates/spec.md
  cairn/changes/octet-burndown-size-shape/tasks.md
  cairn/changes/octet-burndown-source-scope/design.md
  cairn/changes/octet-burndown-source-scope/proposal.md
  cairn/changes/octet-burndown-source-scope/specs/evidence-gates/spec.md
  cairn/changes/octet-burndown-source-scope/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
Due: none

add pre-commit guardrails
  .pre-commit-config.yaml
Due: none

run Octet in pre-commit hooks
  .pre-commit-config.yaml
Due: none

isolate gateway safety-polish evidence
  cairn/archive/2026-06-29-octet-burndown-safety-polish/design.md
  cairn/archive/2026-06-29-octet-burndown-safety-polish/proposal.md
  cairn/archive/2026-06-29-octet-burndown-safety-polish/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burndown-safety-polish/tasks.md
  cairn/changes/octet-burndown-safety-polish/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
  src/cli/ops/gateway.rs
Due: unit

classify Octet source-scope evidence
  cairn/archive/2026-06-29-octet-burndown-source-scope/design.md
  cairn/archive/2026-06-29-octet-burndown-source-scope/proposal.md
  cairn/archive/2026-06-29-octet-burndown-source-scope/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burndown-source-scope/tasks.md
  cairn/changes/octet-burndown-source-scope/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
  src/octet/remediation.rs
Due: unit

isolate import-hygiene evidence
  cairn/archive/2026-06-29-octet-burndown-import-hygiene/design.md
  cairn/archive/2026-06-29-octet-burndown-import-hygiene/proposal.md
  cairn/archive/2026-06-29-octet-burndown-import-hygiene/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burndown-import-hygiene/tasks.md
  cairn/changes/octet-burndown-import-hygiene/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
  src/harness/runner.rs
Due: unit

isolate gateway path-shape evidence
  cairn/archive/2026-06-29-octet-burndown-path-shape/design.md
  cairn/archive/2026-06-29-octet-burndown-path-shape/proposal.md
  cairn/archive/2026-06-29-octet-burndown-path-shape/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burndown-path-shape/tasks.md
  cairn/changes/octet-burndown-path-shape/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
  src/cli/ops/gateway.rs
  src/main/root.rs
  src/main/root/command.rs
Due: unit

isolate prodsoak size-shape evidence
  cairn/archive/2026-06-29-octet-burndown-size-shape/design.md
  cairn/archive/2026-06-29-octet-burndown-size-shape/proposal.md
  cairn/archive/2026-06-29-octet-burndown-size-shape/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burndown-size-shape/tasks.md
  cairn/changes/octet-burndown-size-shape/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
  src/cli/ops/prodsoak/ops.rs
  src/cli/ops/prodsoak/readiness.rs
  src/cli/ops/prodsoak/readiness/operations.rs
  src/cli/ops/prodsoak/readiness/security.rs
Due: unit

ignore generated local artifacts
  .gitignore
Due: none

clear actionable source-scope rows
  cairn/archive/2026-06-29-octet-clear-source-scope-actionables/design.md
  cairn/archive/2026-06-29-octet-clear-source-scope-actionables/proposal.md
  cairn/archive/2026-06-29-octet-clear-source-scope-actionables/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-clear-source-scope-actionables/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
  src/cli/ops/dogfood/mod.rs
  src/cli/ops/dogfood/ops/local.rs
  src/cli/ops/dogfood/ops/mod.rs
  src/cli/ops/dogfood/ops/release.rs
  src/cli/ops/node.rs
  src/cli/ops/node/authority/mod.rs
  src/main.rs
Due: unit

drain safety-polish with explicit caveats
  cairn/archive/2026-06-29-octet-finish-safety-polish/design.md
  cairn/archive/2026-06-29-octet-finish-safety-polish/proposal.md
  cairn/archive/2026-06-29-octet-finish-safety-polish/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-finish-safety-polish/tasks.md
  cairn/specs/evidence-gates/spec.md
  docs/octet-tigerstyle-remediation.md
  src/node/iroh.rs
  src/operator/gateway.rs
Due: unit, Node Builder

archive completed Octet burn-down slices
  cairn/archive/2026-06-29-octet-burn-down-import-hygiene/design.md
  cairn/archive/2026-06-29-octet-burn-down-import-hygiene/proposal.md
  cairn/archive/2026-06-29-octet-burn-down-import-hygiene/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burn-down-import-hygiene/tasks.md
  cairn/archive/2026-06-29-octet-burn-down-path-shape/design.md
  cairn/archive/2026-06-29-octet-burn-down-path-shape/proposal.md
  cairn/archive/2026-06-29-octet-burn-down-path-shape/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burn-down-path-shape/tasks.md
  cairn/archive/2026-06-29-octet-burn-down-size-shape/design.md
  cairn/archive/2026-06-29-octet-burn-down-size-shape/proposal.md
  cairn/archive/2026-06-29-octet-burn-down-size-shape/specs/evidence-gates/spec.md
  cairn/archive/2026-06-29-octet-burn-down-size-shape/tasks.md
  cairn/specs/evidence-gates/spec.md
Due: none

add opt-in kache Nix Rust path
  README.md
  flake.lock
  flake.nix
Due: none

check in unit graph to avoid unit2nix IFD
  build-plan.json
  crate-hashes.json
  flake.nix
Due: none

clarify archived Cairn burn-down state
  README.md
  docs/octet-tigerstyle-remediation.md
Due: none

Expose router evaluator core for Octet burn-down
  README.md
  docs/octet-tigerstyle-remediation.md
  src/node/iroh.rs
Due: unit, Node Builder

Expose frame evaluator core for Octet burn-down
  README.md
  docs/octet-tigerstyle-remediation.md
  src/node/iroh.rs
Due: unit, Node Builder

Expose production release gate evaluator core
  README.md
  docs/octet-tigerstyle-remediation.md
  src/prod/readiness.rs
Due: unit

Split chunk dispatch handlers for Octet burn-down
  README.md
  docs/octet-tigerstyle-remediation.md
  src/cli/core/chunk/ops.rs
  src/cli/core/chunk/ops/metadata.rs
  src/cli/core/chunk/ops/object.rs
Due: unit

Route Iroh diagnostics through bounded sink
  README.md
  docs/octet-tigerstyle-remediation.md
  src/node/iroh.rs
Due: unit, Node Builder

Route gateway diagnostics through bounded sink
  README.md
  docs/octet-tigerstyle-remediation.md
  src/operator/gateway.rs
Due: unit

Reduce harness schema import debt for Octet burn-down
  docs/octet-tigerstyle-remediation.md
  src/harness/schema.rs
Due: unit

Reduce harness gate import debt for Octet burn-down
  docs/octet-tigerstyle-remediation.md
  src/harness/gate.rs
Due: unit

Reduce runtime VAT import debt for Octet burn-down
  docs/octet-tigerstyle-remediation.md
  src/runtime/vat/mod.rs
Due: unit

Reduce chunk store import debt for Octet burn-down
  docs/octet-tigerstyle-remediation.md
  src/chunk/store.rs
Due: unit

Reduce iroh exchange import debt for Octet burn-down
  docs/octet-tigerstyle-remediation.md
  src/iroh/exchange.rs
Due: unit

Enforce cleared function-length lint
  docs/octet-tigerstyle-remediation.md
  dylint.toml
Due: none
