Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

fix: resolve distributed timing issues in kitty cluster tests
  crates/aspen-client-api/src/messages.rs
  crates/aspen-forge/src/cob/store.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-rpc-handlers/src/handlers/core.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/kitty-hooks-test.sh
  scripts/kitty-secrets-test.sh
  scripts/lib/cluster-common.sh
  tests/protocol_handlers_test.rs
  tests/rpc_serialization_test.rs
Due: none

fix: eliminate race condition in cluster initialization
  .claude/decisions/2026-01-13_ultra_kitty_cluster_architectural_fixes.toml
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-raft/src/membership_watcher.rs
  crates/aspen-raft/src/node.rs
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/kitty-hooks-test.sh
  scripts/kitty-secrets-test.sh
Due: none

fix: improve kitty cluster test infrastructure
  scripts/kitty-cli-test.sh
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/kitty-hooks-test.sh
  scripts/kitty-secrets-test.sh
  scripts/lib/cluster-common.sh
  scripts/lib/extraction-helpers.sh
Due: none

fix: resolve CLI test failures across multiple components
  Cargo.lock
  crates/aspen-coordination/src/queue.rs
  crates/aspen-forge/Cargo.toml
  crates/aspen-forge/src/cob/store.rs
  crates/aspen-forge/src/git/bridge/exporter.rs
  crates/aspen-forge/src/git/store.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  scripts/kitty-cli-test.sh
Due: none

fix: implement PKI multi-mount support and COB MergeHeads field resolution
  .claude/decisions/2026-01-12_aspen_fuse_rwlock_verified.toml
  .claude/decisions/2026-01-12_cli_test_coverage_gap_analysis.toml
  .claude/decisions/2026-01-12_kitty_cluster_test_results.toml
  .claude/decisions/2026-01-12_kitty_cluster_test_suite_run.toml
  .claude/decisions/2026-01-12_secrets_cli_test_expansion.toml
  .claude/decisions/2026-01-12_ultra_what_next_synthesis.toml
  .claude/decisions/2026-01-13_kitty_cluster_comprehensive_test_run.toml
  .claude/decisions/2026-01-13_kitty_cluster_full_test_run.toml
  .claude/decisions/2026-01-13_kitty_cluster_root_cause_analysis.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_comprehensive_fix.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_comprehensive_results.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_full_results.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_infrastructure_improvements.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_results.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_results_ultra.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_suite_comprehensive_results.toml
  .claude/decisions/2026-01-13_kitty_cluster_test_timing_fixes.toml
  .claude/decisions/2026-01-13_kitty_cluster_ultra_run_results.toml
  .claude/decisions/2026-01-13_kitty_cluster_ultra_test_results.toml
  .claude/decisions/2026-01-13_kitty_test_comprehensive_fixes.toml
  .claude/decisions/2026-01-13_kitty_test_root_cause_fixes.toml
  .claude/decisions/2026-01-13_ultra_kitty_cluster_comprehensive_fix.toml
  .claude/decisions/2026-01-13_ultra_kitty_cluster_fix.toml
  crates/aspen-forge/src/cob/issue.rs
  crates/aspen-forge/src/cob/mod.rs
  crates/aspen-forge/src/cob/patch.rs
  crates/aspen-forge/src/cob/store.rs
  crates/aspen-hooks/src/handlers.rs
  crates/aspen-rpc-handlers/src/handlers/secrets.rs
  crates/aspen-secrets/src/error.rs
  crates/aspen-secrets/src/lib.rs
  crates/aspen-secrets/src/mount_registry.rs
  crates/aspen-secrets/src/pki/store.rs
  scripts/kitty-forge-test.sh
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: unit, Node Builder

docs: add kitty cluster integration test results
  .claude/decisions/kitty-cluster-test-results-2026-01-13.toml
Due: none

fix: resolve gossip service deadlock in forge
  crates/aspen-forge/src/gossip/service.rs
Due: none

docs: add comprehensive test failure analysis
  .claude/decisions/2026-01-13_ultra_test_failure_analysis.toml
Due: none

fix: resolve three failing forge integration tests
  .claude/kitty-cluster-test-results-2026-01-13.toml
  scripts/kitty-forge-test.sh
Due: none

fix: resolve ReadIndex linearizable read hang
  crates/aspen-raft/src/node.rs
  openraft/openraft/src/core/raft_core.rs
Due: none

fix: properly decode repository identity in forge list handler
  crates/aspen-rpc-handlers/src/handlers/forge.rs
Due: none

fix: remove Raft dependency from RPC request ID generation
  crates/aspen-rpc-handlers/src/client.rs
Due: none

docs: add analysis of RPC request ID fix
  .claude/analysis-2026-01-14-request-id-fix.toml
Due: none

fix: resolve all kitty cluster test failures
  crates/aspen-cli/src/bin/aspen-cli/commands/secrets.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-rpc-handlers/src/handlers/secrets.rs
  scripts/kitty-collab-test.sh
  scripts/kitty-forge-test.sh
  scripts/kitty-secrets-test.sh
  tests/secrets_integration_test.rs
Due: none

feat: enable all production features by default
  .claude/CLAUDE.md
  Cargo.toml
  tests/forge_git_bridge_integration_test.rs
  tests/support/pijul_tester.rs
Due: none

feat: update echo-worker for Hyperlight VM compatibility
  examples/vm-jobs/echo-worker/Cargo.lock
  examples/vm-jobs/echo-worker/Cargo.toml
  examples/vm-jobs/echo-worker/src/main.rs
  examples/vm-jobs/echo-worker/x86_64-hyperlight-none.json
  rust-toolchain.toml
Due: none

fix: pass input data to VM guest instead of job config
  crates/aspen-jobs/src/vm_executor/hyperlight.rs
Due: none

feat: implement configurable blob replication
  .claude/decisions/2026-01-15_blob_replication_design.toml
  Cargo.lock
  crates/aspen-blob/Cargo.toml
  crates/aspen-blob/src/lib.rs
  crates/aspen-blob/src/replication/adapters.rs
  crates/aspen-blob/src/replication/manager.rs
  crates/aspen-blob/src/replication/mod.rs
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-cluster/src/config.rs
Due: none

feat: complete blob replication RPC implementation
  .claude/decisions/2026-01-15_blob_replication_rpc.toml
  .claude/decisions/2026-01-15_llm_tactics_reference_extraction.toml
  .claude/decisions/2026-01-15_what_next_ultra_analysis.toml
  Cargo.lock
  crates/aspen-blob/Cargo.toml
  crates/aspen-blob/src/lib.rs
  crates/aspen-blob/src/replication/adapters.rs
  crates/aspen-blob/src/replication/mod.rs
  crates/aspen-blob/src/replication/topology_watcher.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/blob.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-cluster/src/bootstrap.rs
  crates/aspen-rpc-handlers/src/handlers/blob.rs
  src/bin/aspen-node.rs
Due: unit

feat: wire TriggerBlobReplication RPC to BlobReplicationManager
  .claude/decisions/2026-01-15_what_next_analysis.md
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/blob.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: unit, Node Builder

test: add blob replication integration tests
  .claude/decisions/2026-01-15_what_next_analysis.md
  tests/blob_replication_integration_test.rs
Due: none

feat: add CLI quick wins and topology sync
  .claude/decisions/2026-01-15_ultra_what_next_comprehensive.md
  crates/aspen-cli/src/bin/aspen-cli/commands/blob.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/tag.rs
  crates/aspen-core/src/lib.rs
  crates/aspen-core/src/transport.rs
  crates/aspen-gossip/src/discovery.rs
Due: none

Wire DHT availability to federation status RPC
  .claude/decisions/2026-01-15_ultra_what_next_analysis.md
  crates/aspen-rpc-handlers/src/handlers/forge.rs
Due: none

feat: complete federation discovery RPC integration
  crates/aspen-rpc-handlers/src/context.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: unit, Node Builder

feat: add federation KV persistence and blob repair RPC
  Cargo.lock
  crates/aspen-blob/src/replication/manager.rs
  crates/aspen-client-api/src/messages.rs
  crates/aspen-forge/Cargo.toml
  crates/aspen-forge/src/constants.rs
  crates/aspen-forge/src/node.rs
  crates/aspen-rpc-handlers/src/handlers/blob.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  src/bin/aspen-node.rs
  src/node/mod.rs
Due: unit, Node Builder

Add federation and forge gossip integration tests
  tests/federation_integration_test.rs
  tests/forge_gossip_integration_test.rs
Due: none

Complete Pijul Phase 5 and CLI authentication features
  .claude/decisions/2026-01-16_ultra_implementation_summary.md
  .claude/decisions/2026-01-16_ultra_what_next_analysis.md
  crates/aspen-cli/src/bin/aspen-cli/client.rs
  crates/aspen-cli/src/bin/aspen-cli/commands/tag.rs
  crates/aspen-rpc-handlers/src/handlers/core.rs
  crates/aspen-rpc-handlers/src/handlers/forge.rs
  src/bin/aspen-node.rs
Due: unit

Wire up pijul_store in remaining locations
  crates/aspen-rpc-handlers/src/context.rs
  src/node/mod.rs
Due: unit, Node Builder

docs: add comprehensive development roadmap analysis
  .claude/analysis-2026-01-16.md
Due: none

docs: add ultra analysis of next development priorities
  .claude/decisions/2026-01-16_what_next_ultra_comprehensive.md
Due: none

refactor: extract AspenClusterTicket to shared crate
  .claude/decisions/2026-01-16_what_next_ultra_synthesis_final.md
  Cargo.lock
  Cargo.toml
  crates/aspen-cluster/Cargo.toml
  crates/aspen-cluster/src/ticket.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/cluster.rs
  crates/aspen-ticket/Cargo.toml
  crates/aspen-ticket/src/lib.rs
Due: none

feat: add event schema migration and fix RPC counter
  Cargo.lock
  crates/aspen-jobs/src/event_store.rs
  crates/aspen-rpc-handlers/Cargo.toml
  crates/aspen-rpc-handlers/src/handlers/core.rs
Due: none

test: add comprehensive event upcasting tests
  crates/aspen-jobs/examples/deterministic_replay.rs
  crates/aspen-jobs/src/event_store.rs
Due: none

docs: add ULTRA analyses for v3 release and Pijul status
  .claude/decisions/2026-01-17_pijul_finish_comprehensive.toml
  .claude/decisions/2026-01-17_ultra_what_next_comprehensive.toml
Due: none

feat: complete v3 hooks, pijul WD, and simulation tests
  .claude/decisions/2026-01-12_kitty_cluster_test_suite_run.toml
  .claude/decisions/2026-01-16_ultra_v3_implementation_plan.toml
  .claude/decisions/2026-01-16_ultra_what_next_final.toml
  .claude/decisions/2026-01-16_ultra_what_next_synthesis.toml
  .claude/decisions/2026-01-17_event_schema_upcasting.toml
  .claude/decisions/2026-01-17_ultra_what_next_final.toml
  .config/nextest.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul.rs
  crates/aspen-cluster/src/bootstrap.rs
  src/bin/aspen-node.rs
  tests/madsim_membership_failure_test.rs
  tests/madsim_snapshot_test.rs
Due: unit

feat: complete Pijul Phase 5 implementation
  .claude/decisions/2026-01-17_what_next_ultra_analysis.md
  .config/nextest.toml
  crates/aspen-cli/src/bin/aspen-cli/commands/pijul.rs
  crates/aspen-pijul/src/constants.rs
  crates/aspen-pijul/src/error.rs
  crates/aspen-pijul/src/handler.rs
  crates/aspen-pijul/src/lib.rs
  crates/aspen-pijul/src/resolution.rs
  crates/aspen-pijul/src/types.rs
  tests/pijul_real_changes_test.rs
Due: none

docs: add ULTRA what-next synthesis
  .claude/decisions/2026-01-17_ultra_what_next_final.md
Due: none

test: add Forge real cluster integration tests
  tests/forge_real_cluster_integration_test.rs
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  integration: any of: tests/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  API Traits: any of: src/api/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Raft Consensus: any of: src/raft/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Cluster Coordination: any of: src/cluster/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Node Builder: any of: src/node/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Testing Infrastructure: any of: src/testing/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
