Repository brittonr/aspen: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Traits, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

Add auto-generated fuzzing dictionaries
  fuzz/dictionaries/fuzz_http_api-auto.dict
  fuzz/dictionaries/fuzz_raft_rpc-auto.dict
  fuzz/dictionaries/fuzz_snapshot_json-auto.dict
  fuzz/dictionaries/fuzz_tui_rpc-auto.dict
Due: none

Add proptest coverage for types and storage modules
  tests/storage_persistence_test.rs
  tests/storage_redb_proptest.rs
  tests/support/proptest_generators.rs
  tests/types_proptest.rs
Due: none

Add API validation, RPC serialization, and in-memory store tests
  tests/api_validation_proptest.rs
  tests/cluster_proptest.proptest-regressions
  tests/inmemory_api_test.rs
  tests/rpc_serialization_test.rs
  tests/sqlite_proptest.proptest-regressions
  tests/support/proptest_generators.proptest-regressions
Due: none

Document known flaky tests with inline TODOs
  tests/cluster_proptest.rs
  tests/gossip_e2e_integration.rs
  tests/router_t50_install_snapshot_conflict.rs
  tests/sqlite_proptest.rs
Due: none

Add mock Iroh infrastructure for unit testing
  tests/protocol_handlers_test.rs
  tests/support/mock_iroh.rs
  tests/support/mod.rs
Due: none

Add unit tests for supervisor and connection_pool modules
  tests/connection_pool_test.rs
  tests/supervisor_test.rs
Due: none

Add integration tests for Raft RPC server message handling
  src/raft/server.rs
  tests/server_rpc_test.rs
Due: unit, Raft Consensus

Add unit tests for types, supervisor, and rpc modules
  .coverage-baseline.toml
  src/raft/rpc.rs
  src/raft/supervisor.rs
  src/raft/types.rs
Due: unit, Raft Consensus

Add unit tests for connection_pool, storage, and storage_sqlite modules
  .coverage-baseline.toml
  src/raft/connection_pool.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
Due: unit, Raft Consensus

Migrate property tests from proptest to Bolero unified testing frontend
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
  tests/api_validation_proptest.rs
  tests/cluster_proptest.rs
  tests/inmemory_proptest.rs
  tests/network_proptest.rs
  tests/sqlite_proptest.rs
  tests/support/bolero_generators.rs
  tests/support/mod.rs
  tests/types_proptest.rs
Due: none

Complete Bolero migration for fuzz targets and remaining property tests
  .github/workflows/bolero.yml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_clock_drift.rs
  fuzz/fuzz_targets/fuzz_cluster_ticket.rs
  fuzz/fuzz_targets/fuzz_config.rs
  fuzz/fuzz_targets/fuzz_differential.rs
  fuzz/fuzz_targets/fuzz_gossip.rs
  fuzz/fuzz_targets/fuzz_http_api.rs
  fuzz/fuzz_targets/fuzz_integrity.rs
  fuzz/fuzz_targets/fuzz_log_entries.rs
  fuzz/fuzz_targets/fuzz_metadata.rs
  fuzz/fuzz_targets/fuzz_protocol_handler.rs
  fuzz/fuzz_targets/fuzz_raft_model_guided.rs
  fuzz/fuzz_targets/fuzz_raft_rpc.rs
  fuzz/fuzz_targets/fuzz_roundtrip.rs
  fuzz/fuzz_targets/fuzz_snapshot_json.rs
  fuzz/fuzz_targets/fuzz_tui_rpc.rs
  fuzz/src/lib.rs
  tests/distributed_invariants_proptest.rs
  tests/raft_operations_proptest.rs
  tests/storage_redb_proptest.rs
  tests/support/bolero_generators.rs
Due: none

Extract pure functions for improved testability
  Cargo.toml
  src/api/mod.rs
  src/api/pure.rs
  src/cluster/config.rs
  src/cluster/mod.rs
  src/cluster/validation.rs
  src/raft/clock_drift_detection.rs
  src/raft/connection_pool.rs
  src/raft/mod.rs
  src/raft/node_failure_detection.rs
  src/raft/pure.rs
  src/raft/supervisor.rs
Due: unit, API Traits, Raft Consensus, Cluster Coordination

Migrate proptest to Bolero for unified property testing
  tests/inmemory_api_test.rs
  tests/rpc_serialization_test.rs
  tests/support/bolero_generators.rs
Due: none

Migrate HTTP API to Iroh-native Client RPC protocol
  Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_client_rpc.rs
  fuzz/fuzz_targets/fuzz_tui_rpc.rs
  src/bin/aspen-node.rs
  src/bin/aspen-prometheus-adapter.rs
  src/bin/aspen-tui/client_trait.rs
  src/bin/aspen-tui/iroh_client.rs
  src/client_rpc.rs
  src/cluster/mod.rs
  src/lib.rs
  src/protocol_handlers.rs
  src/tui_rpc_server.rs
  tests/network_proptest.rs
  tests/protocol_handlers_test.rs
  tests/rpc_serialization_test.rs
  tests/support/mock_iroh.rs
Due: unit, Cluster Coordination

Fix flaky tests with deterministic approaches
  tests/gossip_e2e_integration.rs
  tests/router_t50_install_snapshot_conflict.rs
  tests/sqlite_proptest.rs
Due: none

Fix audit findings: mutex safety, signal handling, config validation
  deny.toml
  src/bin/aspen-node.rs
  src/bin/aspen-tui/app.rs
  src/bin/aspen-tui/iroh_client.rs
  src/bin/aspen-tui/main.rs
  src/cluster/gossip_discovery.rs
  src/node/mod.rs
  src/raft/storage.rs
Due: unit, Raft Consensus, Cluster Coordination, Node Builder

Low-priority audit fixes: rand 0.9, ALPN consolidation, config cleanup
  Cargo.lock
  Cargo.toml
  fuzz/fuzz_targets/fuzz_config.rs
  src/bin/aspen-node.rs
  src/bin/aspen-prometheus-adapter.rs
  src/bin/aspen-tui/iroh_client.rs
  src/bin/aspen-tui/main.rs
  src/client_rpc.rs
  src/cluster/config.rs
  src/cluster/mod.rs
  src/cluster/validation.rs
  src/node/mod.rs
  src/raft/connection_pool.rs
  src/testing/router.rs
  tests/gossip_integration_test.rs
  tests/soak/infrastructure.rs
  tests/support/mock_iroh.rs
Due: unit, Raft Consensus, Cluster Coordination, Node Builder, Testing Infrastructure

Fix high priority audit findings
  Cargo.lock
  Cargo.toml
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/cluster/validation.rs
  src/raft/storage_sqlite.rs
Due: unit, Raft Consensus, Cluster Coordination

Fix medium priority Raft audit findings
  src/raft/connection_pool.rs
  src/raft/network.rs
  src/raft/node.rs
  src/raft/storage.rs
  src/raft/storage_sqlite.rs
Due: unit, Raft Consensus

Fix medium priority cluster audit findings
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/cluster/mod.rs
Due: unit, Cluster Coordination

Add authenticated Raft ALPN and log subscription
  Cargo.lock
  Cargo.toml
  src/cluster/mod.rs
  src/lib.rs
  src/protocol_handlers.rs
  src/raft/auth.rs
  src/raft/log_subscriber.rs
  src/raft/mod.rs
Due: unit, Raft Consensus, Cluster Coordination

Add iroh-docs and iroh-blobs integration
  .claude/CLAUDE.md
  .claude/coverage-improvement-plan-2025-12-16.md
  .claude/e2e-testing-plan-2025-12-17.md
  .claude/project-audit-2025-12-17.md
  Cargo.lock
  Cargo.toml
  src/bin/aspen-node.rs
  src/blob/constants.rs
  src/blob/kv_integration.rs
  src/blob/mod.rs
  src/blob/store.rs
  src/blob/types.rs
  src/client/cache.rs
  src/client/constants.rs
  src/client/mod.rs
  src/client/overlay.rs
  src/client/subscription.rs
  src/client/ticket.rs
  src/client_rpc.rs
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/cluster/mod.rs
  src/docs/constants.rs
  src/docs/exporter.rs
  src/docs/importer.rs
  src/docs/mod.rs
  src/docs/origin.rs
  src/docs/peer_manager.rs
  src/docs/ticket.rs
  src/lib.rs
  src/protocol_handlers.rs
  src/tui_rpc_server.rs
  tests/gossip_integration_test.rs
Due: unit, Cluster Coordination

Wire DocsExporter to Raft log broadcast for real-time KV export
  src/cluster/bootstrap.rs
  src/docs/exporter.rs
  src/docs/mod.rs
  src/raft/storage_sqlite.rs
Due: unit, Raft Consensus, Cluster Coordination

Wire IrohDocsWriter to real iroh-docs store
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/docs/mod.rs
  src/docs/store.rs
  tests/docs_sync_test.rs
Due: unit, Cluster Coordination

Add iroh-docs P2P sync protocol handler
  src/bin/aspen-node.rs
  src/cluster/bootstrap.rs
  src/docs/constants.rs
  src/docs/mod.rs
  src/docs/store.rs
Due: unit, Cluster Coordination

Enable P2P sync in bootstrap when docs is enabled
  src/cluster/bootstrap.rs
  src/docs/exporter.rs
  src/docs/mod.rs
Due: unit, Cluster Coordination

Add outbound docs sync and background sync service
  src/docs/mod.rs
  src/docs/store.rs
Due: unit

Add docs sync integration tests
  src/docs/exporter.rs
  src/docs/store.rs
  tests/docs_sync_integration_test.rs
Due: unit

Open replica in bootstrap for docs export
  src/cluster/bootstrap.rs
Due: unit, Cluster Coordination

Complete P2P sync implementation with blob storage
  Cargo.lock
  Cargo.toml
  src/cluster/bootstrap.rs
  src/docs/exporter.rs
  src/docs/mod.rs
  src/docs/store.rs
Due: unit, Cluster Coordination

Implement blob content fetch in sync event listener
  src/docs/store.rs
Due: unit

Implement blob download from peers in docs sync
  src/blob/store.rs
  src/docs/store.rs
Due: unit

Add batch export and background full-sync to DocsExporter
  src/docs/exporter.rs
Due: unit

Implement AddPeer RPC and multi-peer cluster tickets
  src/bin/aspen-node.rs
  src/protocol_handlers.rs
  tests/rpc_serialization_test.rs
Due: unit

fix: resolve Iroh Router ALPN conflict and fix clippy warnings
  src/blob/kv_integration.rs
  src/client/cache.rs
  src/client/overlay.rs
  src/cluster/bootstrap.rs
  src/docs/exporter.rs
  src/docs/importer.rs
  src/docs/mod.rs
  src/docs/peer_manager.rs
  src/docs/store.rs
  src/node/mod.rs
  src/protocol_handlers.rs
  tests/docs_sync_integration_test.rs
  tests/docs_sync_test.rs
  tests/gossip_e2e_integration.rs
  tests/gossip_integration_test.rs
Due: unit, Cluster Coordination, Node Builder

feat: auto-generate JUnit XML for test runs
  .claude/CLAUDE.md
  .config/nextest.toml
Due: none

test: add bootstrap module unit tests
  src/cluster/bootstrap.rs
  src/raft/connection_pool.rs
Due: unit, Raft Consensus, Cluster Coordination

feat: sign gossip peer announcements with Ed25519
  src/cluster/gossip_discovery.rs
Due: unit, Cluster Coordination

fix: reject default cluster cookie as hard error
  src/cluster/bootstrap.rs
  src/cluster/config.rs
  src/cluster/validation.rs
  tests/gossip_e2e_integration.rs
  tests/node_builder_integration.rs
Due: unit, Cluster Coordination

fix: sanitize error messages to prevent information leakage
  src/bin/aspen-node.rs
Due: unit

Path conditions:
  unit: any of: src/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  integration: any of: tests/, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  API Traits: any of: src/api/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Raft Consensus: any of: src/raft/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Cluster Coordination: any of: src/cluster/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Node Builder: any of: src/node/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
  Testing Infrastructure: any of: src/testing/**, but not: tests/**/*, examples/**/*, openraft/**/*, src/bin/aspen-tui/**/*, fuzz/**/*, **/*_test.rs, **/tests.rs
